.termspolicy-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.termspolicy-termspolicy {
  width: 100%;
  height: 702px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.termspolicy-black160 {
  top: 0px;
  left: 0px;
  width: 1537px;
  height: 702px;
  position: absolute;
}
.termspolicy-frame {
  gap: 10px;
  top: 0px;
  left: 0px;
  width: 1536px;
  height: 35px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(119, 119, 119, 1);
}
.termspolicy-frame427319517 {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.termspolicy-group2 {
  width: 22px;
  height: 16.421905517578125px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.termspolicy-vector {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 16px;
  position: absolute;
}
.termspolicy-vector01 {
  top: 5.008209228515625px;
  left: 0px;
  width: 22px;
  height: 6px;
  position: absolute;
}
.termspolicy-vector02 {
  top: 10.01641845703125px;
  left: 0px;
  width: 22px;
  height: 6px;
  position: absolute;
}
.termspolicy-vector03 {
  top: 6.1861572265625px;
  left: 9.04425048828125px;
  width: 4px;
  height: 4px;
  position: absolute;
}
.termspolicy-vector04 {
  top: 6.43927001953125px;
  left: 9.289306640625px;
  width: 3px;
  height: 4px;
  position: absolute;
}
.termspolicy-vector05 {
  top: 7.857574462890625px;
  left: 10.6575927734375px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector06 {
  top: 8.6058349609375px;
  left: 12.611328125px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector07 {
  top: 8.4111328125px;
  left: 10.94158935546875px;
  width: 0px;
  height: 2px;
  position: absolute;
}
.termspolicy-vector08 {
  top: 9.031494140625px;
  left: 12.49652099609375px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector09 {
  top: 8.3963623046875px;
  left: 10.556884765625px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector10 {
  top: 9.395721435546875px;
  left: 12.27227783203125px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector11 {
  top: 8.369171142578125px;
  left: 10.1446533203125px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector12 {
  top: 9.673004150390625px;
  left: 11.95672607421875px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector13 {
  top: 8.33123779296875px;
  left: 9.7901611328125px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector14 {
  top: 9.843536376953125px;
  left: 11.57000732421875px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector15 {
  top: 8.284912109375px;
  left: 9.51824951171875px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector16 {
  top: 9.894561767578125px;
  left: 11.1383056640625px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector17 {
  top: 8.230194091796875px;
  left: 9.3470458984375px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector18 {
  top: 9.826416015625px;
  left: 10.69183349609375px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector19 {
  top: 7.954925537109375px;
  left: 9.289306640625px;
  width: 2px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector20 {
  top: 9.641448974609375px;
  left: 10.26080322265625px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector21 {
  top: 7.50946044921875px;
  left: 9.3470458984375px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector22 {
  top: 9.35443115234375px;
  left: 9.8734130859375px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector23 {
  top: 7.110992431640625px;
  left: 9.51824951171875px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector24 {
  top: 8.9844970703125px;
  left: 9.557861328125px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector25 {
  top: 6.787384033203125px;
  left: 9.7901611328125px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector26 {
  top: 8.556488037109375px;
  left: 9.33428955078125px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector27 {
  top: 6.56146240234375px;
  left: 10.1446533203125px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector28 {
  top: 8.097259521484375px;
  left: 9.21881103515625px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector29 {
  top: 6.4493408203125px;
  left: 10.556884765625px;
  width: 0px;
  height: 2px;
  position: absolute;
}
.termspolicy-vector30 {
  top: 7.640716552734375px;
  left: 9.21881103515625px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector31 {
  top: 6.45806884765625px;
  left: 10.94158935546875px;
  width: 0px;
  height: 2px;
  position: absolute;
}
.termspolicy-vector32 {
  top: 7.2147216796875px;
  left: 9.33428955078125px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector33 {
  top: 6.5863037109375px;
  left: 11.051025390625px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector34 {
  top: 6.85015869140625px;
  left: 9.557861328125px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector35 {
  top: 6.824310302734375px;
  left: 11.09735107421875px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector36 {
  top: 6.573211669921875px;
  left: 9.8734130859375px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector37 {
  top: 7.1556396484375px;
  left: 11.1383056640625px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector38 {
  top: 6.40301513671875px;
  left: 10.26080322265625px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector39 {
  top: 7.558135986328125px;
  left: 11.169189453125px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector40 {
  top: 6.3499755859375px;
  left: 10.69183349609375px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector41 {
  top: 8.00494384765625px;
  left: 11.18865966796875px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector42 {
  top: 6.4197998046875px;
  left: 11.1383056640625px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector43 {
  top: 8.240936279296875px;
  left: 11.19537353515625px;
  width: 2px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector44 {
  top: 6.60443115234375px;
  left: 11.57000732421875px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector45 {
  top: 8.291961669921875px;
  left: 11.18865966796875px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector46 {
  top: 6.891448974609375px;
  left: 11.95672607421875px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector47 {
  top: 8.3372802734375px;
  left: 11.169189453125px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector48 {
  top: 7.26171875px;
  left: 12.27227783203125px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector49 {
  top: 8.373870849609375px;
  left: 11.1383056640625px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector50 {
  top: 7.690399169921875px;
  left: 12.495849609375px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector51 {
  top: 8.39971923828125px;
  left: 11.09735107421875px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector52 {
  top: 8.14727783203125px;
  left: 12.611328125px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.termspolicy-vector53 {
  top: 8.4124755859375px;
  left: 11.051025390625px;
  width: 0px;
  height: 2px;
  position: absolute;
}
.termspolicy-vector54 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 16px;
  opacity: 0.20;
  position: absolute;
}
.termspolicy-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Merriweather;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.termspolicy-rectangle901 {
  top: 659px;
  left: 0px;
  width: 1536px;
  height: 43px;
  position: absolute;
}
.termspolicy-frame1 {
  gap: 45px;
  top: 659px;
  left: 143px;
  width: 91px;
  height: 34px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
}
.termspolicy-maskgroup {
  width: 30px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.termspolicy-ellipse14 {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.termspolicy-iso60x601 {
  top: -4.5652174949646px;
  left: -4.5625px;
  width: 39px;
  height: 39px;
  position: absolute;
}
.termspolicy-maskgroup1 {
  width: 30px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.termspolicy-ellipse141 {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.termspolicy-iso60x6011 {
  top: -6.5217390060424805px;
  left: -8.4765625px;
  width: 47px;
  height: 45px;
  position: absolute;
}
.termspolicy-text02 {
  top: 668px;
  left: 661px;
  color: var(--dl-color-gray-white);
  width: 218px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.termspolicy-text04 {
  top: 668px;
  left: 1143px;
  color: var(--dl-color-gray-white);
  width: 358px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.termspolicy-scrap3removebgpreview68 {
  top: 66px;
  left: 34px;
  width: 47px;
  height: 40px;
  position: absolute;
}
.termspolicy-text06 {
  top: 75px;
  left: 66px;
  color: rgba(247, 251, 255, 1);
  width: 193px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Oswald;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.termspolicy-rectangle967 {
  top: 154px;
  left: 162px;
  width: 1218px;
  height: 455px;
  position: absolute;
  border-radius: 50px;
}
.termspolicy-rectangle54 {
  top: 154px;
  left: 162px;
  width: 311px;
  height: 455px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 50px;
}
.termspolicy-text08 {
  top: 193px;
  left: 189px;
  color: rgba(0, 0, 0, 1);
  width: 255px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.termspolicy-text09 {
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
}
.termspolicy-text11 {
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
}
.termspolicy-text13 {
  top: 368px;
  left: 222px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 27px;
}
.termspolicy-layer1 {
  top: 370px;
  left: 184px;
  width: 25px;
  height: 24px;
  position: absolute;
}
.termspolicy-text15 {
  top: 426px;
  left: 220px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 27px;
}
.termspolicy-vector55 {
  top: 430px;
  left: 186px;
  width: 22px;
  height: 25px;
  position: absolute;
}
.termspolicy-vector56 {
  top: 430px;
  left: 204px;
  width: 4px;
  height: 25px;
  position: absolute;
}
.termspolicy-vector57 {
  top: 451px;
  left: 184px;
  width: 21px;
  height: 4px;
  position: absolute;
}
.termspolicy-vector58 {
  top: 430px;
  left: 184px;
  width: 29px;
  height: 25px;
  position: absolute;
}
.termspolicy-layer24 {
  top: 501px;
  left: 189px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.termspolicy-vector59 {
  top: 6px;
  left: 5px;
  width: 19px;
  height: 12px;
  position: absolute;
}
.termspolicy-vector60 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 24px;
  position: absolute;
}
.termspolicy-text17 {
  top: 498px;
  left: 220px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 27px;
}
.termspolicy-frame2 {
  gap: 10px;
  top: 106px;
  left: 1210px;
  width: 151px;
  height: 28px;
  display: flex;
  padding: 10px 0 10px 10px;
  position: absolute;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50px;
  justify-content: center;
  background-color: var(--dl-color-default-2);
}
.termspolicy-vector61 {
  top: 115px;
  left: 1221px;
  width: 11px;
  height: 10px;
  position: absolute;
}
.termspolicy-vector62 {
  top: 118px;
  left: 1225px;
  width: 3px;
  height: 4px;
  position: absolute;
}
.termspolicy-text19 {
  top: 110px;
  left: 1243px;
  color: var(--dl-color-default-111);
  width: 103px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 19px;
  font-stretch: normal;
  text-decoration: none;
}
.termspolicy-text21 {
  top: 170px;
  left: 657px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Oswald;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.termspolicy-line143 {
  top: 189px;
  left: 954px;
  width: 400px;
  height: 1px;
  position: absolute;
}
.termspolicy-text23 {
  top: 170px;
  left: 1120px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Oswald;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.termspolicy-text25 {
  top: 208px;
  left: 497px;
  color: rgb(0, 0, 0);
  width: 443px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Bold;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.termspolicy-text26 {
  font-weight: 700;
}
.termspolicy-text27 {
  font-weight: 400;
}
.termspolicy-text28 {
  font-weight: 700;
}
.termspolicy-text29 {
  font-weight: 700;
}
.termspolicy-text30 {
  font-weight: 700;
}
.termspolicy-text31 {
  font-weight: 400;
}
.termspolicy-text34 {
  font-weight: 700;
}
.termspolicy-text35 {
  font-weight: 400;
}
.termspolicy-text38 {
  font-weight: 700;
}
.termspolicy-text39 {
  font-weight: 400;
}
.termspolicy-text42 {
  font-weight: 700;
}
.termspolicy-text43 {
  font-weight: 400;
}
.termspolicy-text46 {
  font-weight: 700;
}
.termspolicy-text47 {
  font-weight: 400;
}
.termspolicy-text50 {
  font-weight: 700;
}
.termspolicy-text51 {
  font-weight: 400;
}
.termspolicy-text54 {
  font-weight: 700;
}
.termspolicy-text55 {
  font-weight: 400;
}
.termspolicy-text56 {
  top: 206px;
  color: rgb(0, 0, 0);
  right: 170px;
  width: 397px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Bold;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.termspolicy-text57 {
  font-weight: 700;
}
.termspolicy-text58 {
  font-weight: 400;
}
.termspolicy-text61 {
  font-weight: 700;
}
.termspolicy-text62 {
  font-weight: 400;
}
.termspolicy-text65 {
  font-weight: 700;
}
.termspolicy-text66 {
  font-weight: 400;
}
.termspolicy-text69 {
  font-weight: 700;
}
.termspolicy-text70 {
  font-weight: 400;
}
.termspolicy-text73 {
  font-weight: 700;
}
.termspolicy-text74 {
  font-weight: 400;
}
.termspolicy-text77 {
  font-weight: 700;
}
.termspolicy-text79 {
  font-style: normal;
  font-weight: 400;
}
.termspolicy-text82 {
  font-style: normal;
  font-weight: 400;
}
