
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.cart-wr4 {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  background-image: url('REPLACE_IMAGE:4db7a63002ededecb5f49fec65723cca71659456');
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;

  .item--GNY {
    width: 100%;
    height: 4.2rem;
    background-color: #777777;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1rem 69.2rem;

    .frame-427319517-o7a {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .group-2-wUg {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1rem 0rem 0rem;
        width: 2.2rem;
        height: 1.6422rem;
        position: relative;
      }
      .made-for-india-SwE {
        font-family: Merriweather, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.375;
        color: #ffffff;
      }
    }
  }
  .auto-group-y2zs-wNC {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.9rem 5rem 2.1rem 3rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .auto-group-lh5n-TrL {
      margin-bottom: 3.6rem;
      width: 100%;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .scrap3-removebg-preview-59-QFn {
        width: 4.7467rem;
        height: 4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.003rem 0.3rem 0rem;
      }
      .scrap-symphony-sanctuary-V2L {
        font-size: 1.4rem;
        line-height: 1.4825;
        letter-spacing: 0.028rem;
        font-family: Oswald, 'Source Sans Pro';
        margin: 0rem 13.35rem 1rem 0rem;
        display: flex;
        align-items: center;
        white-space: nowrap;
        flex-shrink: 0;
        justify-content: center;
        font-weight: 700;
        color: #f7fbff;
      }
      .home-scrap-section-creative-section-about-us-contact-us-mkY {
        white-space: nowrap;
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: 0.016rem;
        font-family: Open Sans, 'Source Sans Pro';
        margin: 0rem 5.2rem 0.4rem 0rem;
        line-height: 1.5625;
        color: #f6fbff;
        flex-shrink: 0;
      }
      .auto-group-c44l-4Uk {
        padding: 0.2rem 27.9rem 0.4rem 1.1rem;
        display: flex;
        align-items: center;
        box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
        background-color: #f6fbff;
        flex-shrink: 0;
        margin: 1rem 2.6rem 0rem 0rem;
        box-sizing: border-box;

        .group-NkL {
          margin: 0.03rem 0.8rem 0rem 0rem;
          width: 2rem;
          height: 1.5305rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .search-fUY {
          letter-spacing: 0.018rem;
          color: #555555;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3888888889;
        }
      }
      .vector-Z48 {
        margin: 0rem 1.43rem 0.2rem 0rem;
        width: 3.3rem;
        height: 3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .item--GUL {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.467rem 0.123rem 0rem;
        width: 3.7029rem;
        height: 3.0931rem;
        position: relative;
      }
      .layer1-B5W {
        width: 4rem;
        height: 3.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-jtmn-unC {
      box-sizing: border-box;
      padding: 2.6rem 1.5rem 5.7rem 1.5rem;
      align-items: center;
      display: flex;
      margin: 0rem 3.2rem 0rem 6.4rem;
      width: calc(100% - 9.6rem);
      flex-direction: column;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      border-radius: 1.5rem;
      flex-shrink: 0;

      .item--cRi {
        justify-content: center;
        letter-spacing: 0.028rem;
        align-items: center;
        background-color: #f16713;
        flex-shrink: 0;
        font-family: Open Sans, 'Source Sans Pro';
        display: flex;
        font-weight: 700;
        color: #fff7e9;
        white-space: nowrap;
        box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
        border-radius: 5rem;
        margin: 0rem 54.3rem 4.5rem 53.4rem;
        width: calc(100% - 107.7rem);
        line-height: 0.6785714286;
        height: 4.2rem;
        font-size: 2.8rem;
      }
      .auto-group-aopy-Ext {
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        margin-right: 4.9rem;
        width: calc(100% - 4.9rem);

        .auto-group-zfws-BdE {
          margin: 0.9rem 2.15rem 0rem 0rem;
          width: 88.15rem;
          height: 30rem;
          position: relative;
          flex-shrink: 0;

          .table-6kC {
            width: 79.2rem;
            height: 29.5rem;
            position: absolute;
            left: 8.95rem;
            top: 0.5rem;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

            .product-list-e12 {
              align-items: center;
              display: flex;
              flex-direction: column;
              width: 100%;
              height: 100%;

              .table-heading-o8p {
                margin: 0rem 1.95rem 1.5rem 4.35rem;
                width: calc(100% - 6.3rem);
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .product-name-KN4 {
                  margin: 0rem 22rem 0.1rem 0rem;
                  font-weight: 400;
                  color: #555555;
                  font-size: 1.4rem;
                  line-height: 1.3571428571;
                  letter-spacing: 0.014rem;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .price-DiL {
                  margin: 0.1rem 4.2rem 0rem 0rem;
                  font-size: 1.4rem;
                  line-height: 1.3571428571;
                  letter-spacing: 0.014rem;
                  color: #555555;
                  white-space: nowrap;
                  font-weight: 400;
                  font-family: Open Sans, 'Source Sans Pro';
                  flex-shrink: 0;
                }
                .quantity-LHA {
                  font-size: 1.4rem;
                  font-weight: 400;
                  letter-spacing: 0.014rem;
                  color: #555555;
                  flex-shrink: 0;
                  margin: 0rem 2.5rem 0.1rem 0rem;
                  line-height: 1.3571428571;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .total-qDv {
                  margin: 0rem 7.6rem 0.1rem 0rem;
                  white-space: nowrap;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.3571428571;
                  letter-spacing: 0.014rem;
                  color: #555555;
                  font-family: Open Sans, 'Source Sans Pro';
                  flex-shrink: 0;
                }
                .ratings-kLt {
                  font-family: Open Sans, 'Source Sans Pro';
                  flex-shrink: 0;
                  margin: 0.1rem 4.4rem 0rem 0rem;
                  font-weight: 400;
                  line-height: 1.3571428571;
                  letter-spacing: 0.014rem;
                  font-size: 1.4rem;
                  color: #555555;
                  white-space: nowrap;
                }
                .remove-fik {
                  font-size: 1.4rem;
                  font-weight: 400;
                  font-family: Open Sans, 'Source Sans Pro';
                  flex-shrink: 0;
                  margin-top: 0.1rem;
                  letter-spacing: 0.014rem;
                  color: #555555;
                  white-space: nowrap;
                  line-height: 1.3571428571;
                }
              }
              .list-zFE {
                width: 100%;
                row-gap: 1rem;
                align-items: center;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .item-1-Xkx {
                  box-sizing: border-box;
                  width: 100%;
                  cursor: pointer;
                  align-items: center;
                  border: solid 0.1rem #dddddd;
                  flex-shrink: 0;
                  padding: 1.7rem 3.2rem 1.7rem 2.7rem;
                  height: 8rem;
                  display: flex;

                  .product--3UQ {
                    flex-shrink: 0;
                    margin-right: 17.1rem;
                    width: 14.7rem;
                    height: 100%;

                    .name-text-PYG {
                      width: 100%;
                      height: 100%;
                      display: flex;
                      flex-direction: column;

                      .urban-ladder-pashe-chair-MEC {
                        font-size: 1.6rem;
                        font-weight: 400;
                        line-height: 1.375;
                        letter-spacing: 0.016rem;
                        white-space: nowrap;
                        margin-bottom: 0.5rem;
                        color: #000000;
                        font-family: Open Sans, 'Source Sans Pro';
                        flex-shrink: 0;
                      }
                      .category-furniture-fEt {
                        line-height: 1.3571428571;
                        letter-spacing: 0.014rem;
                        color: #555555;
                        font-family: Open Sans, 'Source Sans Pro';
                        white-space: nowrap;
                        flex-shrink: 0;
                        font-size: 1.4rem;
                        font-weight: 400;
                      }
                    }
                  }
                  .item-9000-Bj2 {
                    margin-right: 6.3rem;
                    color: #000000;
                    font-family: Open Sans, 'Source Sans Pro';
                    white-space: nowrap;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.375;
                    letter-spacing: 0.016rem;
                    display: flex;
                    align-items: baseline;
                    flex-shrink: 0;

                    .item-9000-Bj2-sub-0 {
                      letter-spacing: 0.016rem;
                      color: #000000;
                      font-family: Inter, 'Source Sans Pro';
                      font-size: 1.2rem;
                      font-weight: 400;
                      line-height: 1.2102272511;
                    }
                    .item-9000-Bj2-sub-1 {
                    }
                  }
                  .item-74-JSG {
                    font-family: Open Sans, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-right: 5.9rem;
                    line-height: 1.375;
                    letter-spacing: 0.016rem;
                    color: #000000;
                    font-size: 1.6rem;
                    font-weight: 400;
                  }
                  .item-32-E52 {
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 1.375;
                    letter-spacing: 0.016rem;
                    color: #000000;
                    font-family: Open Sans, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-right: 9.25rem;
                  }
                  .item-10-02-2021-kp4 {
                    text-align: center;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.375;
                    flex-shrink: 0;
                    margin: 0rem 6.65rem 2.4rem 0rem;
                    letter-spacing: 0.016rem;
                    color: #000000;
                    font-family: Open Sans, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                  .action-button-TiU {
                    height: calc(100% - 1.2rem);
                    position: relative;
                    flex-shrink: 0;
                    margin: 0.6rem 0;
                    width: 3rem;

                    .rectangle-97-Cg4 {
                      height: 3rem;
                      position: absolute;
                      left: 0;
                      top: 0.4rem;
                      background-color: rgba(255, 115, 29, 0.3000000119);
                      border-radius: 0.5rem;
                      width: 3rem;
                    }
                    .item--7o2 {
                      height: 2.7rem;
                      position: absolute;
                      white-space: nowrap;
                      width: 1.8rem;
                      top: 0;
                      font-size: 2rem;
                      font-weight: 700;
                      line-height: 1.35;
                      letter-spacing: 0.02rem;
                      color: #df5e0f;
                      font-family: Open Sans, 'Source Sans Pro';
                      left: 0.7rem;
                    }
                  }
                }
                .item-2-z68 {
                  width: 100%;
                  cursor: pointer;
                  display: flex;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding: 1.7rem 3.2rem 1.7rem 2.7rem;
                  height: 8rem;
                  align-items: center;
                  border: solid 0.1rem #dddddd;

                  .product--6ex {
                    flex-shrink: 0;
                    margin-right: 20.8rem;
                    width: 11rem;
                    height: 100%;

                    .name-text-Syi {
                      width: 100%;
                      height: 100%;
                      display: flex;
                      flex-direction: column;

                      .urban-ladder-pashe-chair-1X2 {
                        margin-bottom: 0.5rem;
                        line-height: 1.375;
                        letter-spacing: 0.016rem;
                        color: #000000;
                        white-space: nowrap;
                        font-size: 1.6rem;
                        font-weight: 400;
                        font-family: Open Sans, 'Source Sans Pro';
                        flex-shrink: 0;
                      }
                      .category-furniture-vtt {
                        letter-spacing: 0.014rem;
                        color: #555555;
                        font-family: Open Sans, 'Source Sans Pro';
                        white-space: nowrap;
                        flex-shrink: 0;
                        font-size: 1.4rem;
                        font-weight: 400;
                        line-height: 1.3571428571;
                      }
                    }
                  }
                  .item-9000-fLg {
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-right: 4.7rem;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.375;
                    letter-spacing: 0.016rem;
                    color: #000000;
                    font-family: Open Sans, 'Source Sans Pro';
                  }
                  .item-74-BK2 {
                    margin-right: 5.9rem;
                    letter-spacing: 0.016rem;
                    color: #000000;
                    flex-shrink: 0;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.375;
                    font-family: Open Sans, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                  .item-32-i44 {
                    line-height: 1.375;
                    color: #000000;
                    margin-right: 19.1rem;
                    font-weight: 400;
                    font-family: Open Sans, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.6rem;
                    letter-spacing: 0.016rem;
                  }
                  .action-button-dgp {
                    margin: 0.6rem 0;
                    width: 3rem;
                    height: calc(100% - 1.2rem);
                    position: relative;
                    flex-shrink: 0;

                    .rectangle-97-NeQ {
                      width: 3rem;
                      height: 3rem;
                      position: absolute;
                      left: 0;
                      top: 0.4rem;
                      background-color: rgba(255, 115, 29, 0.3000000119);
                      border-radius: 0.5rem;
                    }
                    .item--tck {
                      letter-spacing: 0.02rem;
                      font-family: Open Sans, 'Source Sans Pro';
                      white-space: nowrap;
                      width: 1.8rem;
                      position: absolute;
                      top: 0;
                      font-size: 2rem;
                      line-height: 1.35;
                      height: 2.7rem;
                      left: 0.7rem;
                      font-weight: 700;
                      color: #df5e0f;
                    }
                  }
                }
                .item-3-yPJ {
                  padding: 1.7rem 3.2rem 1.7rem 2.7rem;
                  box-sizing: border-box;
                  height: 8rem;
                  cursor: pointer;
                  display: flex;
                  align-items: center;
                  border: solid 0.1rem #dddddd;
                  flex-shrink: 0;
                  width: 100%;

                  .product--tFN {
                    margin-right: 15.5rem;
                    width: 16.3rem;
                    height: 100%;
                    flex-shrink: 0;

                    .name-text-pui {
                      width: 100%;
                      height: 100%;
                      display: flex;
                      flex-direction: column;

                      .urban-ladder-pashe-chair-z3W {
                        line-height: 1.375;
                        letter-spacing: 0.016rem;
                        color: #000000;
                        font-family: Open Sans, 'Source Sans Pro';
                        white-space: nowrap;
                        font-size: 1.6rem;
                        font-weight: 400;
                        flex-shrink: 0;
                        margin-bottom: 0.5rem;
                      }
                      .category-furniture-uRN {
                        flex-shrink: 0;
                        font-size: 1.4rem;
                        font-weight: 400;
                        line-height: 1.3571428571;
                        letter-spacing: 0.014rem;
                        color: #555555;
                        font-family: Open Sans, 'Source Sans Pro';
                        white-space: nowrap;
                      }
                    }
                  }
                  .item-9000-SRJ {
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.375;
                    color: #000000;
                    font-family: Open Sans, 'Source Sans Pro';
                    white-space: nowrap;
                    margin-right: 6.3rem;
                    letter-spacing: 0.016rem;
                    flex-shrink: 0;
                  }
                  .item-74-wcx {
                    font-weight: 400;
                    letter-spacing: 0.016rem;
                    flex-shrink: 0;
                    font-size: 1.6rem;
                    line-height: 1.375;
                    color: #000000;
                    font-family: Open Sans, 'Source Sans Pro';
                    white-space: nowrap;
                    margin-right: 5.9rem;
                  }
                  .item-32-GQL {
                    flex-shrink: 0;
                    font-size: 1.6rem;
                    letter-spacing: 0.016rem;
                    color: #000000;
                    white-space: nowrap;
                    margin-right: 6.1rem;
                    font-weight: 400;
                    line-height: 1.375;
                    font-family: Open Sans, 'Source Sans Pro';
                  }
                  .item-10-02-2021-bSc {
                    font-weight: 400;
                    line-height: 1.375;
                    letter-spacing: 0.016rem;
                    font-family: Open Sans, 'Source Sans Pro';
                    flex-shrink: 0;
                    margin: 0rem 9.8rem 2.4rem 0rem;
                    font-size: 1.6rem;
                    color: #000000;
                    white-space: nowrap;
                  }
                  .action-button-7A4 {
                    margin: 0.6rem 0;
                    width: 3rem;
                    height: calc(100% - 1.2rem);
                    position: relative;
                    flex-shrink: 0;

                    .rectangle-97-efn {
                      top: 0.4rem;
                      background-color: rgba(255, 115, 29, 0.3000000119);
                      border-radius: 0.5rem;
                      width: 3rem;
                      height: 3rem;
                      position: absolute;
                      left: 0;
                    }
                    .item--PNU {
                      height: 2.7rem;
                      position: absolute;
                      left: 0.7rem;
                      font-weight: 700;
                      letter-spacing: 0.02rem;
                      color: #df5e0f;
                      font-family: Open Sans, 'Source Sans Pro';
                      width: 1.8rem;
                      top: 0;
                      font-size: 2rem;
                      line-height: 1.35;
                      white-space: nowrap;
                    }
                  }
                }
              }
            }
          }
          .creativedog-3-TNL {
            width: 5rem;
            height: 5rem;
            position: absolute;
            left: 2.4rem;
            top: 5.1rem;
            object-fit: cover;
            vertical-align: top;
          }
          .oldbook-4-bDe {
            top: 13.8rem;
            object-fit: cover;
            vertical-align: top;
            width: 5rem;
            height: 5rem;
            position: absolute;
            left: 2.4rem;
          }
          .stand-pen-2-7xg {
            left: 2.4rem;
            top: 22.1rem;
            object-fit: cover;
            vertical-align: top;
            width: 5rem;
            height: 5rem;
            position: absolute;
          }
          .product-image-Qwn {
            color: #555555;
            width: 9.7rem;
            height: 1.9rem;
            position: absolute;
            left: 0;
            font-size: 1.4rem;
            font-weight: 400;
            top: 0;
            line-height: 1.3571428571;
            letter-spacing: 0.014rem;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-pog8-vfE {
          padding-bottom: 1.6rem;
          flex-direction: column;
          border: solid 0.1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: rgba(221, 221, 221, 0.3400000036);
          border-radius: 1rem;
          flex-shrink: 0;
          box-sizing: border-box;
          align-items: center;
          display: flex;
          width: 37.8rem;

          .auto-group-1fdv-rHz {
            padding: 1.4rem 0rem 1.4rem 0.1rem;
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;

            .order-total-x68 {
              margin: 0rem 2.4rem 0.6rem 0rem;
              color: #ff731d;
              font-family: Open Sans, 'Source Sans Pro';
              align-items: baseline;
              font-size: 2.4rem;
              font-weight: 700;
              line-height: 1.125;
              letter-spacing: 0.024rem;
              white-space: nowrap;
              display: flex;
              flex-shrink: 0;

              .order-total-x68-sub-0 {
              }
              .order-total-x68-sub-1 {
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.35;
                letter-spacing: 0.024rem;
                color: #ff731d;
                font-family: Open Sans, 'Source Sans Pro';
              }
              .order-total-x68-sub-2 {
              }
              .order-total-x68-sub-3 {
                font-weight: 700;
                line-height: 1.35;
                letter-spacing: 0.024rem;
                color: #ff731d;
                font-family: Open Sans, 'Source Sans Pro';
                font-size: 2rem;
              }
            }
            .line-145-rKv {
              margin-bottom: 1.7rem;
              width: 100%;
              height: 0.1rem;
              background-color: rgba(0, 0, 0, 0.3799999952);
              flex-shrink: 0;
            }
            .subtotal--Pqe {
              margin: 0rem 6.3rem 1.8rem 0rem;
              white-space: nowrap;
              align-items: baseline;
              letter-spacing: 0.024rem;
              color: #000000;
              font-family: Open Sans, 'Source Sans Pro';
              display: flex;
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 700;
              line-height: 1.125;

              .subtotal--Pqe-sub-0 {
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.35;
                letter-spacing: 0.024rem;
                color: #000000;
                font-family: Open Sans, 'Source Sans Pro';
              }
              .subtotal--Pqe-sub-1 {
              }
              .subtotal--Pqe-sub-2 {
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.125;
                letter-spacing: 0.024rem;
                color: #000000;
                font-family: Open Sans, 'Source Sans Pro';
              }
            }
            .shipping--tR2 {
              white-space: nowrap;
              align-items: baseline;
              margin-right: 6.6rem;
              font-weight: 700;
              letter-spacing: 0.024rem;
              color: #000000;
              font-family: Open Sans, 'Source Sans Pro';
              font-size: 2.4rem;
              line-height: 1.125;
              display: flex;
              flex-shrink: 0;

              .shipping--tR2-sub-0 {
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.35;
                letter-spacing: 0.024rem;
                color: #000000;
                font-family: Open Sans, 'Source Sans Pro';
              }
              .shipping--tR2-sub-1 {
              }
              .shipping--tR2-sub-2 {
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.125;
                letter-spacing: 0.024rem;
                color: #000000;
                font-family: Open Sans, 'Source Sans Pro';
              }
            }
          }
          .line-146-thr {
            width: 100%;
            height: 0.1rem;
            background-color: rgba(0, 0, 0, 0.3799999952);
            flex-shrink: 0;
            margin-bottom: 1.4rem;
          }
          .total--EFv {
            font-size: 2.4rem;
            line-height: 1.125;
            letter-spacing: 0.024rem;
            flex-shrink: 0;
            margin: 0rem 6.2rem 2.5rem 0rem;
            font-weight: 700;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            align-items: baseline;

            .total--EFv-sub-0 {
            }
            .total--EFv-sub-1 {
              font-weight: 400;
              line-height: 1.125;
              letter-spacing: 0.024rem;
              color: #000000;
              font-family: Open Sans, 'Source Sans Pro';
              font-size: 2.4rem;
            }
          }
          .frame-427319542-E9S {
            letter-spacing: 0.016rem;
            box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
            border-radius: 0.5rem;
            display: flex;
            flex-shrink: 0;
            color: #fff7e9;
            white-space: nowrap;
            justify-content: center;
            width: calc(100% - 11.8rem);
            font-size: 1.6rem;
            font-weight: 700;
            font-family: Open Sans, 'Source Sans Pro';
            align-items: center;
            background-color: #f16713;
            margin: 0 5.9rem;
            height: 3.9rem;
            line-height: 1.1875;
          }
        }
      }
    }
  }
  .auto-group-aan8-mHn {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0.4rem 12.1rem 0rem 14.1rem;
    width: 100%;
    height: 5.7094rem;
    display: flex;
    align-items: center;
    background-color: #5b5b5b;

    .item--g9r {
      align-items: flex-start;
      flex-shrink: 0;
      margin-right: 21.9333rem;
      box-sizing: border-box;
      padding-right: 19.3667rem;
      height: 100%;
      display: flex;

      .mask-group-cZJ {
        margin-right: 4.5rem;
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .mask-group-Yxk {
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .terms-condition-privacy-policy-VNC {
      font-size: 1rem;
      letter-spacing: 0.01rem;
      color: #ffffff;
      margin: 0rem 29.7rem 2.109rem 0rem;
      font-weight: 700;
      line-height: 2.2;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .scrap-symphony-sanctuary-all-rights-reserved-MQQ {
      font-weight: 700;
      color: #ffffff;
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 2.1094rem;
      font-size: 1rem;
      line-height: 2.2;
      letter-spacing: 0.01rem;
      font-family: Open Sans, 'Source Sans Pro';
    }
  }
}
