
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.checkout-WuA {
  overflow: hidden;
  align-items: center;
  display: flex;
  background-position: center;
  background-image: url('REPLACE_IMAGE:4db7a63002ededecb5f49fec65723cca71659456');
  background-color: #ffffff;
  width: 100%;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;

  .item--dD6 {
    box-sizing: border-box;
    padding: 1rem 69.2rem 0.8rem 69.2rem;
    width: 100%;
    height: 4rem;
    background-color: #777777;
    flex-shrink: 0;

    .frame-427319517-wja {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .group-2-tep {
        margin: 0rem 1rem 0rem 0rem;
        width: 2.2rem;
        height: 1.6422rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .made-for-india-1jS {
        color: #ffffff;
        font-family: Merriweather, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.375;
      }
    }
  }
  .auto-group-yddv-83N {
    box-sizing: border-box;
    padding: 1.5rem 2.6rem 3.3rem 2.6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-w93a-3g8 {
      flex-shrink: 0;
      margin: 0rem 127.45rem 0.3rem 0rem;
      width: calc(100% - 127.45rem);
      display: flex;
      align-items: center;

      .scrap3-removebg-preview-68-aRA {
        margin-right: 0.0033rem;
        width: 4.7467rem;
        height: 4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .scrap-symphony-sanctuary-HKa {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        letter-spacing: 0.028rem;
        color: #f7fbff;
        font-family: Oswald, 'Source Sans Pro';
        margin-top: 0.9rem;
        line-height: 1.4825;
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.4rem;
      }
    }
    .auto-group-cotq-P7i {
      margin: 0rem 4.8rem 0.8rem 1.9rem;
      width: calc(100% - 6.7rem);
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .creative-scrapyard-WTE {
        letter-spacing: 0.048rem;
        margin: 0rem 112.8rem 0.4rem 0rem;
        display: flex;
        justify-content: center;
        line-height: 1.4825;
        font-family: Oswald, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        align-items: center;
        font-size: 2.4rem;
        font-weight: 700;
        color: #ffffff;
      }
      .item--DMe {
        background-color: #f16713;
        border-radius: 5rem;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
        flex-shrink: 0;
        padding: 0.05rem 2.7rem 0.05rem 1rem;
        height: 2.2rem;

        .auto-group-ceyi-w2k {
          width: 1.1rem;
          height: 1rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.6rem;
        }
        .back-r9i {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          font-size: 1.6rem;
          line-height: 1.1875;
          color: #fff7e9;
          font-weight: 700;
          letter-spacing: 0.016rem;
          font-family: Open Sans, 'Source Sans Pro';
        }
      }
    }
    .auto-group-ri8c-vfN {
      display: flex;
      border: solid 0.3rem #f5f5f5;
      background-color: #ffffff;
      border-radius: 2rem;
      box-sizing: border-box;
      padding: 1.5rem 2.8rem 2.7rem 3.1rem;
      width: calc(100% - 38.8rem);
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 18.2rem 0rem 20.6rem;
      flex-direction: column;

      .item--2Cc {
        color: #fff7e9;
        justify-content: center;
        margin: 0rem 39.5rem 2.6rem 44.2rem;
        width: calc(100% - 83.7rem);
        height: 4.6rem;
        font-size: 2.8rem;
        font-weight: 700;
        line-height: 0.6785714286;
        letter-spacing: 0.028rem;
        box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
        background-color: #f16713;
        border-radius: 5rem;
        display: flex;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        align-items: center;
        flex-shrink: 0;
      }
      .auto-group-udun-ezg {
        width: 100%;
        height: 36.6rem;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .frame-45-cAp {
          margin-right: 2.8rem;
          width: 63rem;
          row-gap: 2rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .name-Y4U {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            width: 100%;
            height: 5.6rem;

            .first-name-optional-5q6 {
              padding: 1.7rem 2rem;
              width: 30.5rem;
              height: 100%;
              font-size: 1.6rem;
              font-family: Open Sans, 'Source Sans Pro';
              background-color: rgba(221, 221, 221, 0.3300000131);
              position: relative;
              font-weight: 400;
              flex-shrink: 0;
              box-sizing: border-box;
              overflow: hidden;
              color: #75869c;
              white-space: nowrap;
              border-radius: 0.5rem;
              margin-right: 2rem;
              line-height: 1.375;
              border: solid 0.1rem rgba(0, 0, 0, 0.7599999905);
            }
            .last-name-7mn {
              width: 30.5rem;
              height: 100%;
              line-height: 1.375;
              border: solid 0.1rem rgba(0, 0, 0, 0.7599999905);
              background-color: rgba(221, 221, 221, 0.3300000131);
              padding: 1.7rem 2rem;
              font-weight: 400;
              flex-shrink: 0;
              box-sizing: border-box;
              border-radius: 0.5rem;
              font-size: 1.6rem;
              color: #75869c;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
              overflow: hidden;
              position: relative;
            }
          }
          .address-a9a {
            box-sizing: border-box;
            font-weight: 400;
            font-family: Open Sans, 'Source Sans Pro';
            border: solid 0.1rem rgba(0, 0, 0, 0.7599999905);
            width: 100%;
            font-size: 1.6rem;
            background-color: rgba(221, 221, 221, 0.3300000131);
            padding: 1.7rem 2rem;
            position: relative;
            line-height: 1.375;
            overflow: hidden;
            color: #75869c;
            white-space: nowrap;
            border-radius: 0.5rem;
            flex-shrink: 0;
          }
          .city-postal-code-3or {
            width: 100%;
            height: 5.6rem;
            display: flex;
            align-items: center;
            border-radius: 0.5rem;
            flex-shrink: 0;

            .city-CAx {
              flex-shrink: 0;
              overflow: hidden;
              position: relative;
              font-weight: 400;
              white-space: nowrap;
              border: solid 0.1rem rgba(0, 0, 0, 0.7599999905);
              width: 30.5rem;
              border-radius: 0.5rem;
              margin-right: 2rem;
              box-sizing: border-box;
              font-size: 1.6rem;
              color: #75869c;
              padding: 1.7rem 2rem;
              height: 100%;
              line-height: 1.375;
              font-family: Open Sans, 'Source Sans Pro';
              background-color: rgba(221, 221, 221, 0.3300000131);
            }
            .postal-code-s2C {
              flex-shrink: 0;
              line-height: 1.375;
              color: #75869c;
              font-family: Open Sans, 'Source Sans Pro';
              border-radius: 0.5rem;
              width: 30.5rem;
              height: 100%;
              background-color: rgba(221, 221, 221, 0.3300000131);
              padding: 1.7rem 2rem;
              font-size: 1.6rem;
              white-space: nowrap;
              border: solid 0.1rem rgba(0, 0, 0, 0.7599999905);
              box-sizing: border-box;
              overflow: hidden;
              position: relative;
              font-weight: 400;
            }
          }
          .apartment-suite-etc-optional-XsS {
            font-weight: 400;
            line-height: 1.375;
            white-space: nowrap;
            background-color: rgba(221, 221, 221, 0.3300000131);
            border-radius: 0.5rem;
            padding: 1.7rem 2rem;
            position: relative;
            width: 100%;
            flex-shrink: 0;
            overflow: hidden;
            font-size: 1.6rem;
            color: #75869c;
            font-family: Open Sans, 'Source Sans Pro';
            border: solid 0.1rem rgba(0, 0, 0, 0.7599999905);
            box-sizing: border-box;
          }
          .i-agree-QAY {
            padding: 1.7rem 2rem;
            font-size: 1.6rem;
            line-height: 1.375;
            color: #75869c;
            white-space: nowrap;
            border-radius: 0.5rem;
            box-sizing: border-box;
            width: 100%;
            position: relative;
            border: solid 0.1rem rgba(0, 0, 0, 0.7599999905);
            overflow: hidden;
            font-weight: 400;
            background-color: rgba(221, 221, 221, 0.3300000131);
            font-family: Open Sans, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
        .auto-group-fdsa-t5i {
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-vqx4-EfN {
            border: solid 0.1rem rgba(0, 0, 0, 0.5);
            background-color: rgba(221, 221, 221, 0.3400000036);
            border-radius: 1rem;
            flex-shrink: 0;
            margin: 0rem 0.1rem 1.2rem 0rem;
            box-sizing: border-box;
            padding-bottom: 1.6rem;
            width: 37.8rem;

            .auto-group-8tcl-x5a {
              width: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;
              box-sizing: border-box;
              padding: 0.7rem 0rem 1.4rem 0.1rem;

              .order-total-gGU {
                line-height: 1.125;
                display: flex;
                align-items: baseline;
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 2.4rem 0.6rem 0rem;
                font-size: 2.4rem;
                font-weight: 700;
                letter-spacing: 0.024rem;
                color: #ff731d;
                font-family: Open Sans, 'Source Sans Pro';

                .order-total-gGU-sub-0 {
                }
                .order-total-gGU-sub-1 {
                  font-size: 2rem;
                  font-weight: 700;
                  line-height: 1.35;
                  letter-spacing: 0.024rem;
                  color: #ff731d;
                  font-family: Open Sans, 'Source Sans Pro';
                }
                .order-total-gGU-sub-2 {
                }
                .order-total-gGU-sub-3 {
                  font-size: 2rem;
                  font-weight: 700;
                  line-height: 1.35;
                  letter-spacing: 0.024rem;
                  color: #ff731d;
                  font-family: Open Sans, 'Source Sans Pro';
                }
              }
              .line-145-je4 {
                margin-bottom: 1.7rem;
                width: 100%;
                height: 0.1rem;
                background-color: rgba(0, 0, 0, 0.3799999952);
                flex-shrink: 0;
              }
              .subtotal--5T2 {
                color: #000000;
                display: flex;
                align-items: baseline;
                flex-shrink: 0;
                margin: 0rem 6.3rem 1.8rem 0rem;
                font-weight: 700;
                line-height: 1.125;
                letter-spacing: 0.024rem;
                font-size: 2.4rem;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;

                .subtotal--5T2-sub-0 {
                  font-size: 2rem;
                  font-weight: 400;
                  line-height: 1.35;
                  letter-spacing: 0.024rem;
                  color: #000000;
                  font-family: Open Sans, 'Source Sans Pro';
                }
                .subtotal--5T2-sub-1 {
                }
                .subtotal--5T2-sub-2 {
                  letter-spacing: 0.024rem;
                  color: #000000;
                  font-family: Open Sans, 'Source Sans Pro';
                  font-size: 2.4rem;
                  font-weight: 400;
                  line-height: 1.125;
                }
              }
              .shipping--mjA {
                font-weight: 700;
                color: #000000;
                align-items: baseline;
                white-space: nowrap;
                display: flex;
                flex-shrink: 0;
                margin-right: 6.6rem;
                font-size: 2.4rem;
                line-height: 1.125;
                letter-spacing: 0.024rem;
                font-family: Open Sans, 'Source Sans Pro';

                .shipping--mjA-sub-0 {
                  font-size: 2rem;
                  font-weight: 400;
                  line-height: 1.35;
                  letter-spacing: 0.024rem;
                  color: #000000;
                  font-family: Open Sans, 'Source Sans Pro';
                }
                .shipping--mjA-sub-1 {
                }
                .shipping--mjA-sub-2 {
                  font-family: Open Sans, 'Source Sans Pro';
                  font-size: 2.4rem;
                  font-weight: 400;
                  line-height: 1.125;
                  letter-spacing: 0.024rem;
                  color: #000000;
                }
              }
            }
            .line-146-JMi {
              margin-bottom: 0.5rem;
              width: 100%;
              height: 0.1rem;
              background-color: rgba(0, 0, 0, 0.3799999952);
            }
            .total--FXr {
              margin-left: 1.1rem;
              font-size: 2.4rem;
              line-height: 1.125;
              color: #000000;
              font-weight: 700;
              letter-spacing: 0.024rem;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              align-items: baseline;

              .total--FXr-sub-0 {
              }
              .total--FXr-sub-1 {
                color: #000000;
                font-family: Open Sans, 'Source Sans Pro';
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.125;
                letter-spacing: 0.024rem;
              }
            }
          }
          .auto-group-s9hn-3Cp {
            flex-direction: column;
            border: solid 0.1rem rgba(0, 0, 0, 0.5);
            margin-left: 0.1rem;
            align-items: center;
            display: flex;
            background-color: rgba(221, 221, 221, 0.3400000036);
            border-radius: 1rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.2rem 0rem 2.7rem 0.1rem;
            width: 37.8rem;

            .payment-kd2 {
              color: #ff731d;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              margin: 0rem 2.7rem 1.1rem 0rem;
              font-size: 2.4rem;
              font-weight: 700;
              letter-spacing: 0.024rem;
              align-items: baseline;
              flex-shrink: 0;
              line-height: 1.125;

              .payment-kd2-sub-0 {
              }
              .payment-kd2-sub-1 {
                letter-spacing: 0.024rem;
                color: #ff731d;
                font-family: Open Sans, 'Source Sans Pro';
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.35;
              }
            }
            .line-147-a6G {
              margin-bottom: 1.4rem;
              width: 100%;
              height: 0.1rem;
              background-color: rgba(0, 0, 0, 0.3799999952);
              flex-shrink: 0;
            }
            .auto-group-sgsn-X1W {
              width: calc(100% - 13.0125rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 10.7rem 1.3rem 2.313rem;

              .circle-EwW {
                margin: 0.4rem 0.013rem 0rem 0rem;
                width: 1.275rem;
                height: 1.275rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .cod-yPJ {
                flex-shrink: 0;
                line-height: 1.125;
                letter-spacing: 0.024rem;
                color: #000000;
                white-space: nowrap;
                display: flex;
                align-items: baseline;
                font-size: 2.4rem;
                font-weight: 700;
                font-family: Open Sans, 'Source Sans Pro';

                .cod-yPJ-sub-0 {
                }
                .cod-yPJ-sub-1 {
                  font-size: 2.4rem;
                  font-weight: 400;
                  line-height: 1.125;
                  letter-spacing: 0.024rem;
                  color: #000000;
                  font-family: Open Sans, 'Source Sans Pro';
                }
                .cod-yPJ-sub-2 {
                }
              }
            }
            .frame-427319542-ACt {
              letter-spacing: 0.016rem;
              color: #fff7e9;
              justify-content: center;
              width: calc(100% - 15.2rem);
              font-weight: 700;
              white-space: nowrap;
              align-items: center;
              box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
              margin: 0rem 7.1rem 0rem 8.1rem;
              flex-shrink: 0;
              line-height: 1.1875;
              font-size: 1.6rem;
              font-family: Open Sans, 'Source Sans Pro';
              display: flex;
              background-color: #f16713;
              border-radius: 0.5rem;
              height: 3.9rem;
            }
          }
        }
      }
    }
  }
  .auto-group-8mx2-u3z {
    width: 100%;
    height: 5.7094rem;
    display: flex;
    align-items: center;
    background-color: #5b5b5b;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0.4rem 12.1rem 0rem 14.1rem;

    .item--QmS {
      flex-shrink: 0;
      margin-right: 21.9333rem;
      box-sizing: border-box;
      padding-right: 19.3667rem;
      height: 100%;
      display: flex;
      align-items: flex-start;

      .mask-group-Yse {
        margin-right: 4.5rem;
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .mask-group-HqE {
        flex-shrink: 0;
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .terms-condition-privacy-policy-Dyn {
      margin: 0rem 29.7rem 2.109rem 0rem;
      font-weight: 700;
      color: #ffffff;
      flex-shrink: 0;
      font-size: 1rem;
      line-height: 2.2;
      letter-spacing: 0.01rem;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
    }
    .scrap-symphony-sanctuary-all-rights-reserved-ife {
      white-space: nowrap;
      margin-bottom: 2.1094rem;
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: 0.01rem;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      line-height: 2.2;
      flex-shrink: 0;
    }
  }
}
