
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.creative-glass-1-dTJ {
  width: 100%;
  height: 70.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .black1-67-LsW {
    width: 153.6rem;
    height: 68.5rem;
    position: absolute;
    left: 0;
    top: 0.1rem;
    object-fit: cover;
    vertical-align: top;
  }
  .rectangle-901-4Yc {
    top: 65.9rem;
    background-color: #5b5b5b;
    width: 153.6rem;
    height: 4.3rem;
    position: absolute;
    left: 0;
  }
  .item--Cep {
    padding-right: 19.3667rem;
    height: 5.3094rem;
    top: 66.3rem;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    position: absolute;
    left: 14.1rem;
    width: 29.8667rem;

    .mask-group-Jhr {
      width: 3rem;
      height: 3rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 4.5rem;
    }
    .mask-group-3fS {
      width: 3rem;
      height: 3rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .terms-condition-privacy-policy-bS4 {
    left: 65.9rem;
    top: 66.8rem;
    color: #ffffff;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.2rem;
    position: absolute;
    font-weight: 700;
    line-height: 2.2;
    letter-spacing: 0.01rem;
    width: 18.5rem;
    font-size: 1rem;
  }
  .scrap-symphony-sanctuary-all-rights-reserved-tAG {
    position: absolute;
    top: 66.8rem;
    font-weight: 700;
    letter-spacing: 0.01rem;
    color: #ffffff;
    white-space: nowrap;
    width: 27.4rem;
    height: 2.2rem;
    line-height: 2.2;
    font-family: Open Sans, 'Source Sans Pro';
    left: 114.1rem;
    font-size: 1rem;
  }
  .scrap3-removebg-preview-68-ZnC {
    position: absolute;
    left: 2.4rem;
    top: 5.1rem;
    object-fit: cover;
    vertical-align: top;
    width: 4.7467rem;
    height: 4rem;
  }
  .scrap-symphony-sanctuary-5kY {
    height: 2.1rem;
    left: 7.25rem;
    top: 6.5rem;
    position: absolute;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 700;
    color: #f7fbff;
    white-space: nowrap;
    align-items: center;
    width: 16.2rem;
    display: flex;
    line-height: 1.4825;
    letter-spacing: 0.028rem;
    font-family: Oswald, 'Source Sans Pro';
  }
  .home-scrap-section-creative-section-about-us-contact-us-k5z {
    width: 51.9rem;
    height: 2.5rem;
    top: 6.3rem;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.016rem;
    position: absolute;
    left: 35.4rem;
    line-height: 1.5625;
    color: #f6fbff;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
  }
  .rectangle-867-NNG {
    top: 6.3rem;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
    background-color: #f6fbff;
    width: 37.7rem;
    height: 3.1rem;
    position: absolute;
    left: 91.4rem;
  }
  .layer1-sZv {
    position: absolute;
    left: 143.4rem;
    top: 6rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.2rem;
    height: 3.4078rem;
  }
  .item--CMJ {
    width: 3.7029rem;
    height: 3.0931rem;
    position: absolute;
    left: 137.7297rem;
    top: 6.0844rem;
    object-fit: contain;
    vertical-align: top;
  }
  .rectangle-901-jME {
    position: absolute;
    left: 45.7rem;
    top: 17.9rem;
    background-color: #ffffff;
    border-radius: 5rem;
    width: 104.2rem;
    height: 42rem;
  }
  .vector-4PW {
    height: 3.2rem;
    position: absolute;
    left: 132.4rem;
    top: 6rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.4rem;
  }
  .frame-427319600-bPS {
    align-items: center;
    background-color: #f8fafc;
    box-sizing: border-box;
    width: 34.7rem;
    left: 50.1rem;
    top: 46.9rem;
    display: flex;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    border-radius: 1.5rem;
    padding: 1rem 3.95rem;
    height: 9.9rem;
    position: absolute;

    .frame-427319596-gvg {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 1.25rem 1.9rem 1.25rem 0rem;
      height: calc(100% - 2.5rem);

      .group-17-p1J {
        margin: 0rem 0.1rem 0.5rem 0rem;
        width: 2.8845rem;
        height: 2.1997rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .free-delivery-wLp {
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 2.7;
        letter-spacing: 0.01rem;
      }
    }
    .line-97-Tpx {
      width: 0rem;
      height: 7.9rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2rem;
    }
    .frame-427319598-otp {
      margin: 1.25rem 1.9rem 1.25rem 0rem;
      height: calc(100% - 2.5rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .group-18-vyS {
        height: 2.1999rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.1rem 0.5rem 0rem;
        width: 2.2003rem;
      }
      .pay-on-delivery-FF2 {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 2.7;
        letter-spacing: 0.01rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
      }
    }
    .line-98-aYC {
      width: 0rem;
      height: 7.9rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2rem;
    }
    .auto-group-813a-8Zi {
      margin-bottom: 1.2rem;
      box-sizing: border-box;
      padding-top: 1.2rem;
      width: 5.3rem;
      height: 6.7rem;
      flex-shrink: 0;

      .frame-427319599-FPS {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .group-19-zrp {
          margin: 0rem 0rem 0.5rem 0rem;
          width: 2.2rem;
          height: 2.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .days-returnable-j3i {
          text-align: center;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 5.3rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.3625;
          letter-spacing: 0.01rem;
        }
      }
    }
  }
  .line-144-Pe4 {
    position: absolute;
    left: 89rem;
    top: 19.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 0;
    height: 37.5rem;
  }
  .rectangle-899-vtt {
    width: 11.2rem;
    height: 2rem;
    position: absolute;
    left: 69rem;
    top: 36.5rem;
    background-color: #000000;
  }
  .add-to-cart-sJL {
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 6.4rem;
    position: absolute;
    line-height: 2.6666666667;
    color: #ffffff;
    font-weight: 400;
    height: 3.2rem;
    left: 72.7rem;
    top: 35.9rem;
    font-size: 1.2rem;
  }
  .item--AoE {
    left: 69.768rem;
    top: 36.768rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.9025rem;
    height: 1.3477rem;
    position: absolute;
  }
  .rectangle-900-JuS {
    width: 11.2rem;
    height: 2rem;
    position: absolute;
    left: 69rem;
    top: 40.2rem;
    background-color: #000000;
  }
  .vector-T1e {
    left: 70.4rem;
    top: 40.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.6rem;
    height: 1.4rem;
    position: absolute;
  }
  .wishlist-b7r {
    top: 39.5rem;
    font-size: 1.2rem;
    line-height: 2.6666666667;
    color: #ffffff;
    white-space: nowrap;
    width: 4.4rem;
    height: 3.2rem;
    position: absolute;
    left: 72.9rem;
    font-weight: 400;
    font-family: Inter, 'Source Sans Pro';
  }
  .frame-427319601-u8Y {
    align-items: center;
    width: 56.9rem;
    height: 16.2rem;
    position: absolute;
    left: 91.4rem;
    top: 40.4rem;
    display: flex;

    .group-21-q2C {
      height: 100%;
      position: relative;
      flex-shrink: 0;
      width: 27.6rem;

      .content-PZW {
        top: 1.5rem;
        width: 16.7rem;
        height: 11.3rem;
        position: absolute;
        left: 1.5rem;

        .features--8X6 {
          font-weight: 400;
          line-height: 1.375;
          letter-spacing: 0.016rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.5rem;
          font-size: 1.6rem;
        }
        .vibrant-recycled-lighting-unique-painted-bulbs-eco-friendly-illumination-upcycled-artistry-fX2 {
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.3571428571;
          letter-spacing: 0.014rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          max-width: 16.7rem;
        }
      }
      .rectangle-113-Yqi {
        height: 16.2rem;
        position: absolute;
        left: 0;
        top: 0;
        border: dashed 0.1rem #dddddd;
        box-sizing: border-box;
        border-radius: 0.5rem;
        width: 27.6rem;
      }
    }
    .group-22-Gmi {
      box-sizing: border-box;
      padding: 2.6rem 1.7rem 3.1rem 1.6rem;
      height: 100%;
      border: dashed 0.1rem #dddddd;
      border-radius: 0.5rem;
      flex-shrink: 0;

      .whatsapp-image-2024-01-31-at-425-3-cKn {
        height: 10.5rem;
        object-fit: cover;
        vertical-align: top;
        width: 26rem;
      }
    }
  }
  .item--71e {
    padding: 0.05rem 2.7rem 0.05rem 1rem;
    width: 9.4rem;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
    top: 12.7rem;
    display: flex;
    align-items: center;
    background-color: #f16713;
    box-sizing: border-box;
    height: 2.2rem;
    position: absolute;
    left: 135.2rem;
    border-radius: 5rem;

    .auto-group-mekl-QWY {
      margin-right: 0.6rem;
      width: 1.1rem;
      height: 1rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .back-Luz {
      font-weight: 700;
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.2rem;
      font-size: 1.6rem;
      line-height: 1.1875;
      letter-spacing: 0.016rem;
      color: #fff7e9;
      font-family: Open Sans, 'Source Sans Pro';
    }
  }
  .group-187-RwS {
    left: 92.4rem;
    top: 6.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 2rem;
    height: 2.6383rem;
    position: absolute;
  }
  .search-N5z {
    line-height: 1.3888888889;
    color: #555555;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
    width: 5.9rem;
    position: absolute;
    top: 6.8rem;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.018rem;
    height: 2.5rem;
    left: 95rem;
  }
  .price-g6g {
    position: absolute;
    left: 51.2rem;
    top: 36.6rem;
    align-items: flex-start;
    background-color: #ffffff;
    padding: 0.4rem 0.4rem 0.4rem 1.2rem;
    width: 14.5rem;
    height: 6.8rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
    display: flex;
    border: dashed 0.1rem #ff731d;

    .text-yrU {
      margin: 0.1rem 2.3rem 0rem 0rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .price-vWp {
        margin-bottom: 0.9rem;
        font-size: 1.4rem;
        color: #222222;
        flex-shrink: 0;
        font-weight: 400;
        line-height: 1.3571428571;
        letter-spacing: 0.014rem;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item-123-q7z {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 0.6875;
        letter-spacing: 0.032rem;
        color: #ff731d;
        font-family: Open Sans, 'Source Sans Pro';
      }
    }
    .price-icon-Z3z {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 2rem;
      height: 2rem;
    }
  }
  .group-23-GDJ {
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 56.9rem;
    height: 16.5rem;
    border: dashed 0.1rem #dddddd;
    padding: 2.9rem 2.674rem 2.3rem 1.526rem;
    position: absolute;
    left: 91.4rem;
    top: 20.5rem;

    .description-NXE {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      .description--KxG {
        flex-shrink: 0;
        font-weight: 400;
        letter-spacing: 0.016rem;
        color: #000000;
        white-space: nowrap;
        margin-bottom: 1.5rem;
        font-size: 1.6rem;
        line-height: 1.375;
        font-family: Open Sans, 'Source Sans Pro';
      }
      .ordinary-bulbs-transformed-into-works-of-art-through-vibrant-paint-these-painted-light-bulbs-not-only-add-a-pop-of-color-to-your-space-but-also-showcase-the-beauty-of-creative-recycling-turning-everyday-items-into-unique-and-eco-friendly-decor-eDr {
        letter-spacing: 0.014rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 52.7rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3571428571;
      }
    }
  }
  .bulb-2-e7N {
    top: 19.6rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 5rem;
    width: 32.3rem;
    height: 37.9rem;
    position: absolute;
    left: 7.4rem;
  }
  .group-166-NZA {
    height: 11.5rem;
    position: absolute;
    left: 51.3rem;
    top: 21.3rem;
    width: 22.1rem;

    .hueglow-light-bulbs-Jxc {
      font-weight: 700;
      line-height: 1.35;
      letter-spacing: 0.02rem;
      color: #000000;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1.1rem;
      font-size: 2rem;
    }
    .product-id-670la8-SZ2 {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.3571428571;
      letter-spacing: 0.014rem;
      color: #888888;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1rem;
    }
    .seller-saranya-NSg {
      letter-spacing: 0.014rem;
      color: #888888;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.3571428571;
    }
    .published-on-19-november-2020-6tU {
      color: #888888;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.3571428571;
      letter-spacing: 0.014rem;
    }
  }
}
