
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.creative-paper-3-HbS {
  background-color: #ffffff;
  width: 100%;
  height: 70.2rem;
  position: relative;
  overflow: hidden;

  .black1-67-CiQ {
    object-fit: cover;
    vertical-align: top;
    width: 153.6rem;
    height: 68.5rem;
    position: absolute;
    left: 0;
    top: 1.7rem;
  }
  .rectangle-901-L3v {
    width: 153.6rem;
    height: 4.3rem;
    position: absolute;
    left: 0;
    top: 65.9rem;
    background-color: #5b5b5b;
  }
  .item--TuE {
    padding-right: 19.3667rem;
    left: 14.1rem;
    top: 66.3rem;
    align-items: flex-start;
    box-sizing: border-box;
    width: 29.8667rem;
    height: 5.3094rem;
    position: absolute;
    display: flex;

    .mask-group-yMn {
      margin-right: 4.5rem;
      width: 3rem;
      height: 3rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .mask-group-WMi {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 3rem;
      height: 3rem;
      position: relative;
    }
  }
  .terms-condition-privacy-policy-FaC {
    position: absolute;
    letter-spacing: 0.01rem;
    color: #ffffff;
    font-family: Open Sans, 'Source Sans Pro';
    height: 2.2rem;
    left: 65.9rem;
    top: 66.8rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 2.2;
    white-space: nowrap;
    width: 18.5rem;
  }
  .scrap-symphony-sanctuary-all-rights-reserved-LLk {
    line-height: 2.2;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
    width: 27.4rem;
    left: 114.1rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.01rem;
    color: #ffffff;
    height: 2.2rem;
    position: absolute;
    top: 66.8rem;
  }
  .scrap3-removebg-preview-68-Ctk {
    width: 4.7467rem;
    height: 4rem;
    position: absolute;
    left: 2.4rem;
    top: 5.1rem;
    object-fit: cover;
    vertical-align: top;
  }
  .scrap-symphony-sanctuary-j7z {
    white-space: nowrap;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 700;
    color: #f7fbff;
    height: 2.1rem;
    justify-content: center;
    letter-spacing: 0.028rem;
    font-family: Oswald, 'Source Sans Pro';
    position: absolute;
    left: 7.25rem;
    top: 6.5rem;
    line-height: 1.4825;
    width: 16.2rem;
    display: flex;
  }
  .home-scrap-section-creative-section-about-us-contact-us-CnG {
    left: 35.4rem;
    top: 6.3rem;
    color: #f6fbff;
    font-weight: 400;
    line-height: 1.5625;
    letter-spacing: 0.016rem;
    font-family: Open Sans, 'Source Sans Pro';
    width: 51.9rem;
    height: 2.5rem;
    position: absolute;
    font-size: 1.6rem;
    white-space: nowrap;
  }
  .rectangle-867-gxL {
    background-color: #f6fbff;
    width: 37.7rem;
    height: 3.1rem;
    position: absolute;
    left: 91.4rem;
    top: 6.3rem;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
  }
  .layer1-zTE {
    vertical-align: top;
    width: 3.2rem;
    height: 3.4078rem;
    position: absolute;
    left: 143.4rem;
    top: 6rem;
    object-fit: contain;
  }
  .item--KVW {
    width: 3.7029rem;
    height: 3.0931rem;
    position: absolute;
    left: 137.7297rem;
    top: 6.0844rem;
    object-fit: contain;
    vertical-align: top;
  }
  .rectangle-901-Fe4 {
    left: 45.7rem;
    top: 17.9rem;
    background-color: #ffffff;
    border-radius: 5rem;
    width: 104.2rem;
    height: 42rem;
    position: absolute;
  }
  .vector-PEU {
    vertical-align: top;
    width: 3.4rem;
    height: 3.2rem;
    position: absolute;
    left: 132.4rem;
    top: 6rem;
    object-fit: contain;
  }
  .frame-427319600-8Sx {
    align-items: center;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    padding: 1rem 3.95rem;
    width: 34.7rem;
    height: 9.9rem;
    position: absolute;
    left: 50.1rem;
    display: flex;
    box-sizing: border-box;
    top: 46.9rem;
    background-color: #f8fafc;
    border-radius: 1.5rem;

    .frame-427319596-EF6 {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 1.25rem 1.9rem 1.25rem 0rem;
      height: calc(100% - 2.5rem);

      .group-17-kz8 {
        margin: 0rem 0.1rem 0.5rem 0rem;
        width: 2.8845rem;
        height: 2.1997rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .free-delivery-HDN {
        line-height: 2.7;
        letter-spacing: 0.01rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1rem;
        font-weight: 400;
      }
    }
    .line-97-bzk {
      height: 7.9rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2rem;
      width: 0rem;
    }
    .frame-427319598-YQC {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 1.25rem 1.9rem 1.25rem 0rem;
      height: calc(100% - 2.5rem);

      .group-18-fzc {
        height: 2.1999rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.1rem 0.5rem 0rem;
        width: 2.2003rem;
      }
      .pay-on-delivery-ob2 {
        font-weight: 400;
        line-height: 2.7;
        letter-spacing: 0.01rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1rem;
      }
    }
    .line-98-YHi {
      height: 7.9rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2rem;
      width: 0rem;
    }
    .auto-group-yn6y-tMa {
      height: 6.7rem;
      flex-shrink: 0;
      margin-bottom: 1.2rem;
      box-sizing: border-box;
      padding-top: 1.2rem;
      width: 5.3rem;

      .frame-427319599-c2g {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .group-19-kua {
          flex-shrink: 0;
          margin: 0rem 0rem 0.5rem 0rem;
          width: 2.2rem;
          height: 2.2rem;
          object-fit: contain;
          vertical-align: top;
        }
        .days-returnable-V6U {
          max-width: 5.3rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.3625;
          color: #000000;
          flex-shrink: 0;
          text-align: center;
          letter-spacing: 0.01rem;
          font-family: Open Sans, 'Source Sans Pro';
        }
      }
    }
  }
  .line-144-ACc {
    left: 89rem;
    top: 19.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 0;
    height: 37.5rem;
    position: absolute;
  }
  .rectangle-899-6rx {
    height: 2rem;
    position: absolute;
    left: 69rem;
    top: 36.5rem;
    background-color: #000000;
    width: 11.2rem;
  }
  .add-to-cart-3GQ {
    height: 3.2rem;
    top: 35.9rem;
    line-height: 2.6666666667;
    white-space: nowrap;
    width: 6.4rem;
    position: absolute;
    left: 72.7rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
  }
  .item--9qE {
    object-fit: contain;
    vertical-align: top;
    width: 1.9025rem;
    height: 1.3477rem;
    position: absolute;
    left: 69.768rem;
    top: 36.768rem;
  }
  .rectangle-900-gqA {
    width: 11.2rem;
    height: 2rem;
    position: absolute;
    left: 69rem;
    top: 40.2rem;
    background-color: #000000;
  }
  .vector-1sS {
    object-fit: contain;
    vertical-align: top;
    width: 1.6rem;
    height: 1.4rem;
    position: absolute;
    left: 70.4rem;
    top: 40.5rem;
  }
  .wishlist-ZPA {
    width: 4.4rem;
    position: absolute;
    left: 72.9rem;
    top: 39.5rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.6666666667;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 3.2rem;
  }
  .group-168-sPr {
    box-sizing: border-box;
    border-radius: 0.5rem;
    width: 56.8rem;
    height: 14.9773rem;
    position: absolute;
    left: 91.4rem;
    top: 20.9rem;
    border: dashed 0.1rem #dddddd;

    .description-c6Y {
      width: 9.6rem;
      height: 5.6rem;
      position: absolute;
      left: 0.7094rem;
      top: 2.1789rem;

      .description--wec {
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.5rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.375;
        letter-spacing: 0.016rem;
        color: #000000;
      }
      .item--soA {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3571428571;
        letter-spacing: 0.014rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .papertail-bird-a-crafted-bird-with-delicate-strokes-of-pencil-on-paper-the-creative-avian-masterpiece-captures-the-essence-of-flight-showcasing-intricate-details-and-imaginative-plumage-cEx {
      width: 55.2rem;
      top: 5.9rem;
      font-size: 1.4rem;
      letter-spacing: 0.014rem;
      font-family: Open Sans, 'Source Sans Pro';
      height: 7.6rem;
      position: absolute;
      left: 0.7rem;
      font-weight: 400;
      line-height: 1.3571428571;
      color: #000000;
    }
  }
  .frame-427319601-Qgc {
    display: flex;
    align-items: center;
    width: 56.9rem;
    height: 16.2rem;
    position: absolute;
    left: 91.4rem;
    top: 40.4rem;

    .group-21-LqA {
      width: 27.6rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .content-hQp {
        width: 13.9rem;
        height: 11.3rem;
        position: absolute;
        left: 1.5rem;
        top: 1.5rem;

        .features--qX2 {
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.5rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.375;
          letter-spacing: 0.016rem;
          color: #000000;
        }
        .dynamic-poses-lifelike-expressions-intricate-detailing-imaginative-plumage-NWx {
          letter-spacing: 0.014rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          max-width: 13.9rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.3571428571;
        }
      }
      .rectangle-113-4ua {
        border: dashed 0.1rem #dddddd;
        box-sizing: border-box;
        border-radius: 0.5rem;
        width: 27.6rem;
        height: 16.2rem;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    .group-22-o6U {
      width: 29.3rem;
      height: 100%;
      border: dashed 0.1rem #dddddd;
      box-sizing: border-box;
      border-radius: 0.5rem;
      flex-shrink: 0;

      .group-22-9g8 {
        height: 100%;
        border: dashed 0.1rem #dddddd;
        border-radius: 0.5rem;
        margin-right: 0.1rem;
        box-sizing: border-box;
        padding: 1.4rem 1.4rem 1.5rem 1.4rem;
        width: 29.2rem;

        .whatsapp-image-2024-01-31-at-436-25-5Jt {
          width: 26.4rem;
          height: 13.3rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
  }
  .item--kfv {
    width: 9.4rem;
    height: 2.2rem;
    left: 135.2rem;
    display: flex;
    align-items: center;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
    background-color: #f16713;
    padding: 0.05rem 2.7rem 0.05rem 1rem;
    border-radius: 5rem;
    position: absolute;
    top: 12.7rem;
    box-sizing: border-box;

    .auto-group-jdfa-dzc {
      margin-right: 0.6rem;
      width: 1.1rem;
      height: 1rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .back-M9v {
      margin-bottom: 0.2rem;
      white-space: nowrap;
      letter-spacing: 0.016rem;
      color: #fff7e9;
      font-family: Open Sans, 'Source Sans Pro';
      flex-shrink: 0;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.1875;
    }
  }
  .group-187-ShA {
    position: absolute;
    left: 92.1rem;
    top: 6.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 2rem;
    height: 2.6383rem;
  }
  .search-aHa {
    height: 2.5rem;
    position: absolute;
    color: #555555;
    font-family: Open Sans, 'Source Sans Pro';
    width: 5.9rem;
    left: 94.7rem;
    top: 6.8rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.3888888889;
    letter-spacing: 0.018rem;
    white-space: nowrap;
  }
  .price-5VE {
    height: 6.8rem;
    left: 50.1rem;
    top: 35.1rem;
    border: dashed 0.1rem #ff731d;
    background-color: #ffffff;
    align-items: flex-start;
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 0.4rem 0.4rem 0.4rem 1.2rem;
    width: 14.5rem;
    position: absolute;
    display: flex;

    .text-yqW {
      flex-shrink: 0;
      margin: 0.1rem 2.3rem 0rem 0rem;
      display: flex;
      flex-direction: column;

      .price-KuN {
        font-size: 1.4rem;
        line-height: 1.3571428571;
        letter-spacing: 0.014rem;
        font-family: Open Sans, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 0.9rem;
        font-weight: 400;
        color: #222222;
        white-space: nowrap;
      }
      .item-283-TVn {
        flex-shrink: 0;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 0.6875;
        letter-spacing: 0.032rem;
        color: #ff731d;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .price-icon-P8Y {
      width: 2rem;
      height: 2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .cerative-paper-2-huv {
    width: 27.8rem;
    height: 39.8rem;
    position: absolute;
    left: 9.1rem;
    top: 19.6rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 5rem;
  }
  .group-27-2SQ {
    position: absolute;
    left: 50.5rem;
    top: 21.1rem;
    row-gap: 1rem;
    display: flex;
    flex-direction: column;
    width: 22.4rem;
    height: 11.5rem;

    .papertail-bird-YvY {
      flex-shrink: 0;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.3625;
      color: #000000;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
    }
    .product-id-562kd3-HdE {
      flex-shrink: 0;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.3571428571;
      letter-spacing: 0.014rem;
      color: #888888;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
    }
    .seller-sachithra-cvQ {
      letter-spacing: 0.014rem;
      color: #888888;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.3571428571;
    }
    .published-on-13-september-2021-kWp {
      flex-shrink: 0;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.3571428571;
      letter-spacing: 0.014rem;
      color: #888888;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
}
