
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.creative-ewaste-1-yNt {
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 70.2rem;
  position: relative;

  .black1-67-g2Q {
    object-fit: cover;
    vertical-align: top;
    width: 153.6rem;
    height: 68.5rem;
    position: absolute;
    left: 0;
    top: 0.1rem;
  }
  .rectangle-901-oMv {
    left: 0;
    top: 65.9rem;
    background-color: #5b5b5b;
    width: 153.6rem;
    height: 4.3rem;
    position: absolute;
  }
  .item--Kr4 {
    box-sizing: border-box;
    padding-right: 19.3667rem;
    width: 29.8667rem;
    height: 5.3094rem;
    position: absolute;
    top: 66.3rem;
    left: 14.1rem;
    display: flex;
    align-items: flex-start;

    .mask-group-dbr {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 4.5rem;
      width: 3rem;
      height: 3rem;
      position: relative;
      object-fit: contain;
    }
    .mask-group-a1J {
      flex-shrink: 0;
      width: 3rem;
      height: 3rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .terms-condition-privacy-policy-Wfe {
    position: absolute;
    left: 65.9rem;
    top: 66.8rem;
    font-size: 1rem;
    letter-spacing: 0.01rem;
    color: #ffffff;
    white-space: nowrap;
    height: 2.2rem;
    font-weight: 700;
    line-height: 2.2;
    font-family: Open Sans, 'Source Sans Pro';
    width: 18.5rem;
  }
  .scrap-symphony-sanctuary-all-rights-reserved-CHa {
    position: absolute;
    top: 66.8rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 2.2;
    letter-spacing: 0.01rem;
    color: #ffffff;
    height: 2.2rem;
    white-space: nowrap;
    font-family: Open Sans, 'Source Sans Pro';
    left: 114.1rem;
    width: 27.4rem;
  }
  .scrap3-removebg-preview-68-fgx {
    left: 2.4rem;
    top: 5.1rem;
    object-fit: cover;
    vertical-align: top;
    width: 4.7467rem;
    height: 4rem;
    position: absolute;
  }
  .scrap-symphony-sanctuary-CB6 {
    justify-content: center;
    letter-spacing: 0.028rem;
    height: 2.1rem;
    display: flex;
    left: 7.25rem;
    top: 6.5rem;
    font-size: 1.4rem;
    font-weight: 700;
    font-family: Oswald, 'Source Sans Pro';
    white-space: nowrap;
    width: 16.2rem;
    position: absolute;
    color: #f7fbff;
    align-items: center;
    line-height: 1.4825;
  }
  .home-scrap-section-creative-section-about-us-contact-us-gMA {
    width: 51.9rem;
    height: 2.5rem;
    font-weight: 400;
    line-height: 1.5625;
    letter-spacing: 0.016rem;
    color: #f6fbff;
    position: absolute;
    left: 35.4rem;
    top: 6.3rem;
    font-size: 1.6rem;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
  }
  .rectangle-867-mdW {
    top: 6.3rem;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
    background-color: #f6fbff;
    width: 37.7rem;
    height: 3.1rem;
    position: absolute;
    left: 91.4rem;
  }
  .layer1-gVa {
    top: 6rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.2rem;
    height: 3.4078rem;
    position: absolute;
    left: 143.4rem;
  }
  .item--cPE {
    width: 3.7029rem;
    height: 3.0931rem;
    position: absolute;
    left: 137.7297rem;
    top: 6.0844rem;
    object-fit: contain;
    vertical-align: top;
  }
  .rectangle-901-8cU {
    background-color: #ffffff;
    border-radius: 5rem;
    width: 104.2rem;
    height: 42rem;
    position: absolute;
    left: 45.7rem;
    top: 17.9rem;
  }
  .vector-4FE {
    left: 132.4rem;
    top: 6rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.4rem;
    height: 3.2rem;
    position: absolute;
  }
  .frame-427319600-zeg {
    left: 50.1rem;
    top: 46.9rem;
    border-radius: 1.5rem;
    box-sizing: border-box;
    width: 34.7rem;
    height: 9.9rem;
    position: absolute;
    background-color: #f8fafc;
    padding: 1rem 3.95rem;
    display: flex;
    align-items: center;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);

    .frame-427319596-VbS {
      flex-direction: column;
      flex-shrink: 0;
      margin: 1.25rem 1.9rem 1.25rem 0rem;
      height: calc(100% - 2.5rem);
      align-items: center;
      display: flex;

      .group-17-dBr {
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.1rem 0.5rem 0rem;
        width: 2.8845rem;
        height: 2.1997rem;
      }
      .free-delivery-YZi {
        letter-spacing: 0.01rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 2.7;
      }
    }
    .line-97-Gkc {
      width: 0rem;
      height: 7.9rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2rem;
    }
    .frame-427319598-cpU {
      margin: 1.25rem 1.9rem 1.25rem 0rem;
      height: calc(100% - 2.5rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .group-18-xNY {
        flex-shrink: 0;
        margin: 0rem 0.1rem 0.5rem 0rem;
        width: 2.2003rem;
        height: 2.1999rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
      .pay-on-delivery-V7a {
        letter-spacing: 0.01rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 2.7;
      }
    }
    .line-98-otx {
      width: 0rem;
      height: 7.9rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2rem;
    }
    .auto-group-njhz-m56 {
      box-sizing: border-box;
      padding-top: 1.2rem;
      width: 5.3rem;
      height: 6.7rem;
      flex-shrink: 0;
      margin-bottom: 1.2rem;

      .frame-427319599-TyW {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .group-19-pZA {
          height: 2.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0rem 0.5rem 0rem;
          width: 2.2rem;
        }
        .days-returnable-kSp {
          max-width: 5.3rem;
          text-align: center;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.3625;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
          letter-spacing: 0.01rem;
        }
      }
    }
  }
  .line-144-EMz {
    width: 0;
    height: 37.5rem;
    position: absolute;
    left: 89rem;
    top: 19.6rem;
    object-fit: contain;
    vertical-align: top;
  }
  .rectangle-899-aAx {
    height: 2rem;
    position: absolute;
    left: 69rem;
    top: 36.5rem;
    background-color: #000000;
    width: 11.2rem;
  }
  .add-to-cart-iHA {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.6666666667;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    left: 72.7rem;
    height: 3.2rem;
    position: absolute;
    top: 35.9rem;
    width: 6.4rem;
  }
  .item--2Hr {
    left: 69.768rem;
    top: 36.768rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.9025rem;
    height: 1.3477rem;
    position: absolute;
  }
  .rectangle-900-wfi {
    width: 11.2rem;
    height: 2rem;
    position: absolute;
    left: 69rem;
    top: 40.2rem;
    background-color: #000000;
  }
  .vector-5mv {
    width: 1.6rem;
    height: 1.4rem;
    position: absolute;
    left: 70.4rem;
    top: 40.5rem;
    object-fit: contain;
    vertical-align: top;
  }
  .wishlist-RKz {
    font-size: 1.2rem;
    line-height: 2.6666666667;
    width: 4.4rem;
    height: 3.2rem;
    top: 39.5rem;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    left: 72.9rem;
    font-weight: 400;
  }
  .frame-427319601-8kC {
    align-items: center;
    width: 56.9rem;
    height: 16.2rem;
    position: absolute;
    left: 91.4rem;
    top: 40.4rem;
    display: flex;

    .group-21-GbW {
      flex-shrink: 0;
      width: 27.6rem;
      height: 100%;
      position: relative;

      .content-2qa {
        position: absolute;
        left: 1.5rem;
        top: 1.5rem;
        width: 14.5rem;
        height: 11.3rem;

        .features--NeY {
          white-space: nowrap;
          margin-bottom: 1.5rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.375;
          letter-spacing: 0.016rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
        }
        .wearable-artistry-circuit-board-couture-eco-friendly-glam-tech-chic-WVr {
          max-width: 14.5rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.3571428571;
          letter-spacing: 0.014rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
        }
      }
      .rectangle-113-pFe {
        border-radius: 0.5rem;
        width: 27.6rem;
        height: 16.2rem;
        position: absolute;
        left: 0;
        top: 0;
        border: dashed 0.1rem #dddddd;
        box-sizing: border-box;
      }
    }
    .group-22-wbA {
      box-sizing: border-box;
      padding: 1.1rem 1.2rem 1.9rem 1.2rem;
      height: 100%;
      border: dashed 0.1rem #dddddd;
      border-radius: 0.5rem;
      flex-shrink: 0;

      .whatsapp-image-2024-01-31-at-436-26-5xG {
        width: 26.9rem;
        height: 13.2rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
  }
  .item--BVW {
    background-color: #f16713;
    box-sizing: border-box;
    padding: 0.05rem 2.7rem 0.05rem 1rem;
    width: 9.4rem;
    height: 2.2rem;
    left: 135.2rem;
    top: 12.7rem;
    align-items: center;
    position: absolute;
    display: flex;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
    border-radius: 5rem;

    .auto-group-bd3a-H2k {
      flex-shrink: 0;
      margin-right: 0.6rem;
      width: 1.1rem;
      height: 1rem;
      object-fit: contain;
      vertical-align: top;
    }
    .back-DSC {
      letter-spacing: 0.016rem;
      color: #fff7e9;
      font-family: Open Sans, 'Source Sans Pro';
      flex-shrink: 0;
      font-size: 1.6rem;
      font-weight: 700;
      white-space: nowrap;
      margin-bottom: 0.2rem;
      line-height: 1.1875;
    }
  }
  .group-187-hcG {
    vertical-align: top;
    width: 2rem;
    height: 2.6383rem;
    position: absolute;
    left: 92.4rem;
    top: 6.5rem;
    object-fit: contain;
  }
  .search-dkp {
    font-size: 1.8rem;
    font-weight: 400;
    left: 95rem;
    top: 6.8rem;
    line-height: 1.3888888889;
    letter-spacing: 0.018rem;
    color: #555555;
    width: 5.9rem;
    height: 2.5rem;
    position: absolute;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
  }
  .price-8Sg {
    box-sizing: border-box;
    padding: 0.4rem 0.4rem 0.4rem 1.2rem;
    position: absolute;
    left: 51.3rem;
    align-items: flex-start;
    background-color: #ffffff;
    width: 14.5rem;
    height: 6.8rem;
    top: 36.5rem;
    display: flex;
    border: dashed 0.1rem #ff731d;
    border-radius: 0.5rem;

    .text-RRn {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0.1rem 2.3rem 0rem 0rem;

      .price-mEk {
        white-space: nowrap;
        margin-bottom: 0.9rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3571428571;
        letter-spacing: 0.014rem;
        color: #222222;
        font-family: Open Sans, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .item-126-TtG {
        font-weight: 400;
        line-height: 0.6875;
        letter-spacing: 0.032rem;
        color: #ff731d;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 3.2rem;
      }
    }
    .price-icon-BJU {
      vertical-align: top;
      flex-shrink: 0;
      width: 2rem;
      height: 2rem;
      object-fit: contain;
    }
  }
  .group-23-HsJ {
    border: dashed 0.1rem #dddddd;
    padding: 2.9rem 1.526rem 4.2rem 1.526rem;
    height: 16.5rem;
    position: absolute;
    top: 20.5rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 56.9rem;
    left: 91.4rem;

    .description-np4 {
      width: 51.9rem;
      height: 100%;

      .description--9Pi {
        white-space: nowrap;
        margin-bottom: 1.5rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.375;
        letter-spacing: 0.016rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
      }
      .stylish-and-unique-earrings-crafted-from-repurposed-circuit-boards-these-eco-friendly-accessories-not-only-add-a-touch-of-tech-inspired-fashion-but-also-showcase-the-beauty-of-recycling-electronic-components-into-wearable-art-URz {
        font-weight: 400;
        line-height: 1.3571428571;
        letter-spacing: 0.014rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        max-width: 51.9rem;
        font-size: 1.4rem;
      }
    }
  }
  .screenshot-2024-01-25-154707-2-H8Y {
    vertical-align: top;
    border-radius: 5rem;
    width: 36.3rem;
    height: 41.4rem;
    position: absolute;
    left: 5.2rem;
    top: 17.9rem;
    object-fit: cover;
  }
  .group-27-PhN {
    width: 19.3rem;
    height: 11.5rem;
    position: absolute;
    left: 51.2rem;
    top: 20.9rem;

    .circuit-earrings-89A {
      line-height: 1.35;
      letter-spacing: 0.02rem;
      color: #000000;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1.1rem;
      font-size: 2rem;
      font-weight: 700;
    }
    .product-id-670kl3-SvY {
      font-weight: 400;
      line-height: 1.3571428571;
      letter-spacing: 0.014rem;
      color: #888888;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1rem;
      font-size: 1.4rem;
    }
    .seller-thanshika-NpC {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.3571428571;
      letter-spacing: 0.014rem;
      color: #888888;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1rem;
    }
    .published-on-19-march-2020-iNG {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.3571428571;
      letter-spacing: 0.014rem;
      color: #888888;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
}
