
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.creative-plastic-2-c9i {
  width: 100%;
  height: 70.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .black1-67-7sA {
    height: 68.5rem;
    position: absolute;
    left: 0;
    top: 1.7rem;
    object-fit: cover;
    vertical-align: top;
    width: 153.6rem;
  }
  .rectangle-901-FCg {
    width: 153.6rem;
    height: 4.3rem;
    position: absolute;
    left: 0;
    top: 65.9rem;
    background-color: #5b5b5b;
  }
  .item--AqS {
    padding-right: 19.3667rem;
    width: 29.8667rem;
    height: 5.3094rem;
    top: 66.3rem;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    position: absolute;
    left: 14.1rem;

    .mask-group-sE4 {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 4.5rem;
      width: 3rem;
      height: 3rem;
      position: relative;
      object-fit: contain;
    }
    .mask-group-1LG {
      flex-shrink: 0;
      width: 3rem;
      height: 3rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .terms-condition-privacy-policy-9xG {
    font-weight: 700;
    line-height: 2.2;
    color: #ffffff;
    height: 2.2rem;
    top: 66.8rem;
    font-size: 1rem;
    letter-spacing: 0.01rem;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
    width: 18.5rem;
    position: absolute;
    left: 65.9rem;
  }
  .scrap-symphony-sanctuary-all-rights-reserved-qaC {
    width: 27.4rem;
    height: 2.2rem;
    position: absolute;
    line-height: 2.2;
    color: #ffffff;
    left: 114.1rem;
    top: 66.8rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.01rem;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
  }
  .scrap3-removebg-preview-68-83W {
    object-fit: cover;
    vertical-align: top;
    width: 4.7467rem;
    height: 4rem;
    position: absolute;
    left: 2.4rem;
    top: 5.1rem;
  }
  .scrap-symphony-sanctuary-3gG {
    line-height: 1.4825;
    font-family: Oswald, 'Source Sans Pro';
    position: absolute;
    left: 7.25rem;
    justify-content: center;
    display: flex;
    font-size: 1.4rem;
    height: 2.1rem;
    align-items: center;
    white-space: nowrap;
    letter-spacing: 0.028rem;
    color: #f7fbff;
    width: 16.2rem;
    top: 6.5rem;
    font-weight: 700;
  }
  .home-scrap-section-creative-section-about-us-contact-us-8xc {
    height: 2.5rem;
    position: absolute;
    top: 6.3rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5625;
    letter-spacing: 0.016rem;
    color: #f6fbff;
    width: 51.9rem;
    left: 35.4rem;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
  }
  .rectangle-867-s32 {
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
    background-color: #f6fbff;
    width: 37.7rem;
    height: 3.1rem;
    position: absolute;
    left: 91.4rem;
    top: 6.3rem;
  }
  .layer1-AXv {
    top: 6rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.2rem;
    height: 3.4078rem;
    position: absolute;
    left: 143.4rem;
  }
  .item--tD2 {
    top: 6.0844rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.7029rem;
    height: 3.0931rem;
    position: absolute;
    left: 137.7297rem;
  }
  .rectangle-901-Qx4 {
    left: 45.7rem;
    top: 17.9rem;
    background-color: #ffffff;
    border-radius: 5rem;
    width: 104.2rem;
    height: 42rem;
    position: absolute;
  }
  .vector-LKv {
    width: 3.4rem;
    height: 3.2rem;
    position: absolute;
    left: 132.4rem;
    top: 6rem;
    object-fit: contain;
    vertical-align: top;
  }
  .frame-427319600-GzG {
    box-sizing: border-box;
    position: absolute;
    top: 46.9rem;
    display: flex;
    align-items: center;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    padding: 1rem 3.95rem;
    width: 34.7rem;
    height: 9.9rem;
    left: 50.1rem;
    background-color: #f8fafc;
    border-radius: 1.5rem;

    .frame-427319596-aVA {
      flex-shrink: 0;
      margin: 1.25rem 1.9rem 1.25rem 0rem;
      height: calc(100% - 2.5rem);
      align-items: center;
      display: flex;
      flex-direction: column;

      .group-17-hJt {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.1rem 0.5rem 0rem;
        width: 2.8845rem;
        height: 2.1997rem;
        position: relative;
        object-fit: contain;
      }
      .free-delivery-2MA {
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 2.7;
        letter-spacing: 0.01rem;
      }
    }
    .line-97-kHA {
      flex-shrink: 0;
      margin-right: 2rem;
      width: 0rem;
      height: 7.9rem;
      object-fit: contain;
      vertical-align: top;
    }
    .frame-427319598-Hnt {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 1.25rem 1.9rem 1.25rem 0rem;
      height: calc(100% - 2.5rem);

      .group-18-1yn {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.1rem 0.5rem 0rem;
        width: 2.2003rem;
        height: 2.1999rem;
        position: relative;
      }
      .pay-on-delivery-LWG {
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 2.7;
        letter-spacing: 0.01rem;
      }
    }
    .line-98-foS {
      margin-right: 2rem;
      width: 0rem;
      height: 7.9rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-rejg-RGp {
      margin-bottom: 1.2rem;
      box-sizing: border-box;
      padding-top: 1.2rem;
      width: 5.3rem;
      height: 6.7rem;
      flex-shrink: 0;

      .frame-427319599-jHW {
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;

        .group-19-56U {
          height: 2.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0rem 0.5rem 0rem;
          width: 2.2rem;
        }
        .days-returnable-CRz {
          text-align: center;
          font-weight: 400;
          letter-spacing: 0.01rem;
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 5.3rem;
          font-size: 1rem;
          line-height: 1.3625;
          color: #000000;
        }
      }
    }
  }
  .line-144-U8c {
    position: absolute;
    left: 89rem;
    top: 19.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 0;
    height: 37.5rem;
  }
  .rectangle-899-QY4 {
    top: 36.5rem;
    background-color: #000000;
    width: 11.2rem;
    height: 2rem;
    position: absolute;
    left: 69rem;
  }
  .add-to-cart-k68 {
    height: 3.2rem;
    position: absolute;
    left: 72.7rem;
    line-height: 2.6666666667;
    font-family: Inter, 'Source Sans Pro';
    width: 6.4rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: #ffffff;
    white-space: nowrap;
    top: 35.9rem;
  }
  .item--Sje {
    width: 1.9025rem;
    height: 1.3477rem;
    position: absolute;
    left: 69.768rem;
    top: 36.768rem;
    object-fit: contain;
    vertical-align: top;
  }
  .rectangle-900-yDn {
    width: 11.2rem;
    height: 2rem;
    position: absolute;
    left: 69rem;
    top: 40.2rem;
    background-color: #000000;
  }
  .vector-gP6 {
    object-fit: contain;
    vertical-align: top;
    width: 1.6rem;
    height: 1.4rem;
    position: absolute;
    left: 70.4rem;
    top: 40.5rem;
  }
  .wishlist-nh2 {
    white-space: nowrap;
    width: 4.4rem;
    position: absolute;
    left: 72.9rem;
    top: 39.5rem;
    font-weight: 400;
    color: #ffffff;
    height: 3.2rem;
    font-size: 1.2rem;
    line-height: 2.6666666667;
    font-family: Inter, 'Source Sans Pro';
  }
  .group-168-syN {
    height: 14.9773rem;
    position: absolute;
    left: 91.4rem;
    top: 20.9rem;
    border: dashed 0.1rem #dddddd;
    box-sizing: border-box;
    border-radius: 0.5rem;
    width: 56.8rem;

    .description-cRA {
      width: 9.6rem;
      height: 5.6rem;
      position: absolute;
      left: 0.7094rem;
      top: 2.1789rem;

      .description--wTS {
        line-height: 1.375;
        letter-spacing: 0.016rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.5rem;
        font-size: 1.6rem;
        font-weight: 400;
      }
      .item--5Jk {
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3571428571;
        letter-spacing: 0.014rem;
      }
    }
    .a-versatile-bag-handwoven-from-repurposed-plastic-offering-both-style-and-sustainability-this-eco-friendly-accessory-is-perfect-for-carrying-essentials-while-making-a-positive-impact-on-the-environment-okY {
      font-weight: 400;
      color: #000000;
      font-family: Open Sans, 'Source Sans Pro';
      width: 52.8rem;
      height: 5.7rem;
      left: 0.7rem;
      font-size: 1.4rem;
      position: absolute;
      top: 5.9rem;
      line-height: 1.3571428571;
      letter-spacing: 0.014rem;
    }
  }
  .frame-427319601-o8G {
    display: flex;
    align-items: center;
    width: 56.9rem;
    height: 16.2rem;
    position: absolute;
    left: 91.4rem;
    top: 40.4rem;

    .group-21-j1v {
      height: 100%;
      position: relative;
      flex-shrink: 0;
      width: 27.6rem;

      .content-HJL {
        height: 9.4rem;
        position: absolute;
        left: 1.5rem;
        top: 1.5rem;
        width: 16.2rem;

        .features--1EL {
          letter-spacing: 0.016rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.5rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.375;
        }
        .positive-social-impact-spacious-and-functional-versatility-in-design-L1i {
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          max-width: 16.2rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.3571428571;
          letter-spacing: 0.014rem;
        }
      }
      .rectangle-113-EMz {
        position: absolute;
        left: 0;
        top: 0;
        border: dashed 0.1rem #dddddd;
        box-sizing: border-box;
        border-radius: 0.5rem;
        width: 27.6rem;
        height: 16.2rem;
      }
    }
    .group-22-kr8 {
      width: 29.3rem;
      height: 100%;
      border-radius: 0.5rem;
      flex-shrink: 0;

      .rectangle-114-KPS {
        height: 16.2rem;
        border: dashed 0.1rem #dddddd;
        box-sizing: border-box;
        border-radius: 0.5rem;
        width: 100%;
      }
    }
  }
  .item--eRi {
    width: 9.4rem;
    position: absolute;
    top: 12.7rem;
    align-items: center;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
    border-radius: 5rem;
    box-sizing: border-box;
    padding: 0.05rem 2.7rem 0.05rem 1rem;
    height: 2.2rem;
    left: 135.2rem;
    display: flex;
    background-color: #f16713;

    .auto-group-jdzv-w9v {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.6rem;
      width: 1.1rem;
      height: 1rem;
      object-fit: contain;
    }
    .back-Gxt {
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.1875;
      color: #fff7e9;
      font-family: Open Sans, 'Source Sans Pro';
      margin-bottom: 0.2rem;
      white-space: nowrap;
      flex-shrink: 0;
      letter-spacing: 0.016rem;
    }
  }
  .group-22-mek {
    width: 29.2rem;
    height: 16.2rem;
    top: 40.5rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 1.4rem 1rem 2.2rem 1rem;
    position: absolute;
    left: 119rem;
    border: dashed 0.1rem #dddddd;

    .whatsapp-image-2024-01-31-at-436-5-UZA {
      object-fit: cover;
      vertical-align: top;
      width: 27.2rem;
      height: 12.6rem;
    }
  }
  .group-187-ZKi {
    left: 92.1rem;
    top: 6.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 2rem;
    height: 2.6383rem;
    position: absolute;
  }
  .search-gv8 {
    white-space: nowrap;
    width: 5.9rem;
    height: 2.5rem;
    top: 6.8rem;
    font-size: 1.8rem;
    font-weight: 400;
    font-family: Open Sans, 'Source Sans Pro';
    position: absolute;
    left: 94.7rem;
    line-height: 1.3888888889;
    letter-spacing: 0.018rem;
    color: #555555;
  }
  .price-nTN {
    box-sizing: border-box;
    top: 35.1rem;
    display: flex;
    align-items: flex-start;
    border: dashed 0.1rem #ff731d;
    border-radius: 0.5rem;
    padding: 0.4rem 0.4rem 0.4rem 1.2rem;
    width: 14.5rem;
    height: 6.8rem;
    position: absolute;
    left: 50.1rem;
    background-color: #ffffff;

    .text-sji {
      flex-direction: column;
      flex-shrink: 0;
      margin: 0.1rem 2.3rem 0rem 0rem;
      display: flex;

      .price-1qv {
        margin-bottom: 0.9rem;
        font-weight: 400;
        line-height: 1.3571428571;
        letter-spacing: 0.014rem;
        font-size: 1.4rem;
        color: #222222;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .item-574-wja {
        letter-spacing: 0.032rem;
        color: #ff731d;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 0.6875;
      }
    }
    .price-icon-UDi {
      width: 2rem;
      height: 2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .screenshot-2024-01-24-204939-2-CQc {
    left: 5.4rem;
    top: 19.6rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 5rem;
    width: 35.6rem;
    height: 38.7rem;
    position: absolute;
  }
  .group-27-7Gg {
    left: 50.1rem;
    top: 20.6rem;
    row-gap: 1.4rem;
    display: flex;
    flex-direction: column;
    width: 22.1rem;
    height: 12.6rem;
    position: absolute;

    .ecoweave-dkp {
      letter-spacing: 0.02rem;
      color: #000000;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.35;
    }
    .product-id-041mr6-NTW {
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.3571428571;
      letter-spacing: 0.014rem;
      color: #888888;
      font-family: Open Sans, 'Source Sans Pro';
    }
    .seller-pooja-hkg {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.3571428571;
      letter-spacing: 0.014rem;
      color: #888888;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .published-on-09-november-2020-qrt {
      letter-spacing: 0.014rem;
      color: #888888;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.3571428571;
    }
  }
}
