
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.5rem;
}.creative-plastic-jM6 {
  height: 152.3rem;
  position: relative;
  background-position: center;
  background-image: url('REPLACE_IMAGE:4db7a63002ededecb5f49fec65723cca71659456');
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  .item--SWQ {
    width: 153.6rem;
    height: 4.2rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #777777;
    box-sizing: border-box;
    padding: 1rem 69.2rem;

    .frame-427319517-xje {
      height: 100%;
      display: flex;
      align-items: center;
      width: 100%;

      .group-2-iD2 {
        flex-shrink: 0;
        margin: 0rem 1rem 0rem 0rem;
        width: 2.2rem;
        height: 1.6422rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
      .made-for-india-qHe {
        color: #ffffff;
        font-family: Merriweather, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.375;
      }
    }
  }
  .auto-group-dqzi-M16 {
    left: 3rem;
    top: 8.1rem;
    display: flex;
    align-items: center;
    width: 146.2029rem;
    height: 4.5832rem;
    position: absolute;

    .scrap3-removebg-preview-59-4RJ {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.003rem 0.583rem 0rem;
      width: 4.7467rem;
      height: 4rem;
      object-fit: cover;
    }
    .scrap-symphony-sanctuary-Z7A {
      justify-content: center;
      line-height: 1.4825;
      letter-spacing: 0.028rem;
      font-family: Oswald, 'Source Sans Pro';
      flex-shrink: 0;
      color: #f7fbff;
      white-space: nowrap;
      margin: 0rem 13.35rem 0.083rem 0rem;
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      font-weight: 700;
    }
    .home-scrap-section-creative-section-about-us-contact-us-dsi {
      font-weight: 400;
      color: #f6fbff;
      flex-shrink: 0;
      white-space: nowrap;
      margin: 0.717rem 5.2rem 0rem 0rem;
      font-size: 1.6rem;
      line-height: 1.5625;
      letter-spacing: 0.016rem;
      font-family: Open Sans, 'Source Sans Pro';
    }
    .auto-group-kd1n-KkY {
      margin: 1.1rem 1.713rem 0.383rem 0rem;
      box-sizing: border-box;
      height: calc(100% - 1.4832rem);
      background-color: #f6fbff;
      flex-shrink: 0;
      padding: 0.3rem 27.9rem 0.3rem 0.838rem;
      display: flex;
      align-items: center;
      box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);

      .group-RYg {
        width: 2rem;
        height: 1.6rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.073rem 1.062rem 0rem 0rem;
      }
      .search-j3a {
        line-height: 1.3888888889;
        letter-spacing: 0.018rem;
        color: #555555;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.8rem;
        font-weight: 400;
      }
    }
    .vector-BgG {
      margin: 0.688rem 1.62rem 0rem 0rem;
      width: 3.9974rem;
      height: 3.8949rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .item--Vgx {
      width: 3.7029rem;
      height: 3.0931rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.679rem 2.073rem 0rem 0rem;
    }
    .layer1-cma {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 0.6883rem;
      width: 3.9974rem;
      height: 3.8949rem;
    }
  }
  .auto-group-h4ng-ZB2 {
    align-items: center;
    height: 36.3rem;
    position: absolute;
    top: 20.4rem;
    display: flex;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 3.8rem 4.4rem 3.8rem 2.6rem;
    width: 153.6rem;
    left: 0;

    .screenshot-2024-01-22-131642-11-quE {
      flex-shrink: 0;
      margin-right: 16.3rem;
      width: 55.6rem;
      height: 28.7rem;
      object-fit: cover;
      vertical-align: top;
    }
    .auto-group-bise-9f2 {
      margin-bottom: 7.4rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .why-recycling-is-important--tsW {
        letter-spacing: 0.024rem;
        font-family: Oswald, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2.4rem;
        line-height: 1.3333333333;
        color: #000000;
        flex-shrink: 0;
        margin-bottom: 2.4rem;
        font-weight: 600;
      }
      .recycling-is-crucial-for-conserving-natural-resources-and-reducing-environmental-impact-it-minimizes-the-need-for-raw-material-extraction-lowers-energy-consumption-in-manufacturing-and-decreases-the-volume-of-waste-in-landfills-by-recycling-we-contribute-to-sustainability-reduce-pollution-and-promote-a-circular-economy-CNQ {
        max-width: 74.7rem;
        font-size: 2rem;
        font-weight: 300;
        line-height: 2.25;
        color: #000000;
        font-family: Oswald, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
  }
  .auto-group-vqs4-PBz {
    height: 6.3rem;
    justify-content: center;
    background-color: #ffffff;
    white-space: nowrap;
    display: flex;
    width: 153.6rem;
    position: absolute;
    top: 69.9rem;
    font-size: 2.4rem;
    font-weight: 600;
    color: #000000;
    align-items: center;
    left: 0;
    font-family: Oswald, 'Source Sans Pro';
    line-height: 1.3333333333;
    letter-spacing: 0.024rem;
  }
  .auto-group-ztcy-rrG {
    width: 125.4rem;
    height: 39.2rem;
    position: absolute;
    left: 13.8rem;
    top: 83.5rem;
    display: flex;
    align-items: center;

    .auto-group-hsvu-aXN {
      box-sizing: border-box;
      width: 30.1rem;
      display: flex;
      background-color: #ffffff;
      border-radius: 5rem;
      flex-shrink: 0;
      margin-right: 17.9rem;
      padding: 7.5rem 1.042rem 2.6rem 1.6rem;
      height: 100%;
      align-items: center;
      flex-direction: column;

      .plant-1-gaQ {
        flex-shrink: 0;
        margin-bottom: 4.0526rem;
        width: 27.458rem;
        height: 18.5474rem;
        object-fit: cover;
        vertical-align: top;
      }
      .ecoplanter-299-DaL {
        font-weight: 400;
        line-height: 1.2125;
        white-space: nowrap;
        display: flex;
        flex-shrink: 0;
        margin: 0rem 1.258rem 1.7rem 0rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        align-items: baseline;
        font-size: 1.2rem;

        .ecoplanter-299-DaL-sub-0 {
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
        }
        .ecoplanter-299-DaL-sub-1 {
        }
        .ecoplanter-299-DaL-sub-2 {
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
        }
      }
      .auto-group-rt4t-dXa {
        flex-shrink: 0;
        margin: 0rem 1.758rem 0rem 0.6rem;
        width: calc(100% - 2.358rem);
        display: flex;
        align-items: center;

        .auto-group-vclu-MCg {
          position: relative;
          flex-shrink: 0;
          margin: 0rem 2.7rem 0.1rem 0rem;
          width: 11.2rem;
          height: 3.2rem;

          .rectangle-888-GqS {
            height: 2rem;
            position: absolute;
            left: 0;
            top: 0.7rem;
            background-color: #000000;
            width: 11.2rem;
          }
          .add-to-cart-bsi {
            width: 6.4rem;
            position: absolute;
            left: 3.4rem;
            font-size: 1.2rem;
            line-height: 2.6666666667;
            white-space: nowrap;
            height: 3.2rem;
            top: 0;
            font-weight: 400;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
          }
          .item--7bA {
            position: absolute;
            left: 0.768rem;
            top: 0.968rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.9025rem;
            height: 1.3477rem;
          }
        }
        .auto-group-vvng-2CL {
          margin-top: 0.1rem;
          width: 11.2rem;
          height: 3.2rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-887-x5z {
            position: absolute;
            left: 0;
            top: 0.5rem;
            background-color: #000000;
            width: 11.2rem;
            height: 2rem;
          }
          .vector-5gQ {
            left: 1.2797rem;
            top: 0.8rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.3991rem;
            height: 1.2983rem;
            position: absolute;
          }
          .wishlist-1a4 {
            width: 4.4rem;
            height: 3.2rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 2.6666666667;
            position: absolute;
            left: 3.9rem;
            top: 0;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
    }
    .auto-group-cu8q-b2U {
      box-sizing: border-box;
      padding: 2.6rem 2.3rem 2.6rem 2.7rem;
      width: 30.1rem;
      background-color: #ffffff;
      border-radius: 5rem;
      margin-right: 17.2rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .screenshot-2024-01-24-204939-1-VtY {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0rem 1.5rem 0.2rem;
        width: 18.5rem;
        height: 26.8rem;
        object-fit: cover;
      }
      .ecoweave-574-D3r {
        white-space: nowrap;
        align-items: baseline;
        margin: 0rem 0rem 0.9rem 0.4rem;
        line-height: 1.2125;
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';

        .ecoweave-574-D3r-sub-0 {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
        }
        .ecoweave-574-D3r-sub-1 {
        }
        .ecoweave-574-D3r-sub-2 {
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 400;
        }
        .ecoweave-574-D3r-sub-3 {
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
        }
      }
      .auto-group-1vjq-R3S {
        flex-shrink: 0;
        width: 100%;
        display: flex;
        align-items: center;

        .auto-group-w1qe-aBE {
          flex-shrink: 0;
          margin: 0rem 2.7rem 0.1rem 0rem;
          width: 11.2rem;
          height: 3.2rem;
          position: relative;

          .rectangle-890-6vG {
            width: 11.2rem;
            height: 2rem;
            position: absolute;
            left: 0;
            top: 0.7rem;
            background-color: #000000;
          }
          .add-to-cart-SUL {
            left: 3.4rem;
            font-size: 1.2rem;
            font-weight: 400;
            color: #ffffff;
            white-space: nowrap;
            width: 6.4rem;
            height: 3.2rem;
            line-height: 2.6666666667;
            font-family: Inter, 'Source Sans Pro';
            position: absolute;
            top: 0;
          }
          .item--9de {
            left: 0.768rem;
            top: 0.968rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.9025rem;
            height: 1.3477rem;
            position: absolute;
          }
        }
        .auto-group-bmpi-spY {
          margin-top: 0.1rem;
          width: 11.2rem;
          height: 3.2rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-889-DdW {
            background-color: #000000;
            width: 11.2rem;
            height: 2rem;
            position: absolute;
            left: 0;
            top: 0.5rem;
          }
          .vector-A2x {
            object-fit: contain;
            vertical-align: top;
            width: 1.3991rem;
            height: 1.2983rem;
            position: absolute;
            left: 1.5477rem;
            top: 0.9rem;
          }
          .wishlist-V5E {
            top: 0;
            line-height: 2.6666666667;
            color: #ffffff;
            white-space: nowrap;
            width: 4.4rem;
            position: absolute;
            left: 4.2rem;
            font-size: 1.2rem;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            height: 3.2rem;
          }
        }
      }
    }
    .auto-group-shrt-kWx {
      padding: 7.3rem 2.4rem 2.7rem 2.2rem;
      align-items: center;
      flex-direction: column;
      border-radius: 5rem;
      box-sizing: border-box;
      width: 30.1rem;
      height: 100%;
      display: flex;
      background-color: #ffffff;
      flex-shrink: 0;

      .creative-bottle-6-1-rZz {
        width: 25.5rem;
        height: 18.7rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 4.1rem;
      }
      .piggy-upcycled-bank-220-B6U {
        line-height: 1.2125;
        color: #000000;
        flex-shrink: 0;
        margin-bottom: 1.7rem;
        font-size: 1.2rem;
        font-weight: 400;
        align-items: baseline;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;

        .piggy-upcycled-bank-220-B6U-sub-0 {
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 400;
        }
        .piggy-upcycled-bank-220-B6U-sub-1 {
        }
        .piggy-upcycled-bank-220-B6U-sub-2 {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .auto-group-wntl-T5v {
        margin-right: 0.4rem;
        width: calc(100% - 0.4rem);
        height: 3.2rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-digc-mMW {
          margin-right: 2.7rem;
          width: 11.2rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .rectangle-892-6eg {
            width: 11.2rem;
            height: 2rem;
            position: absolute;
            left: 0;
            top: 0.7rem;
            background-color: #000000;
          }
          .add-to-cart-Q9a {
            width: 6.4rem;
            height: 3.2rem;
            left: 3.4rem;
            top: 0;
            font-size: 1.2rem;
            font-weight: 400;
            position: absolute;
            line-height: 2.6666666667;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .item--6YC {
            width: 1.9025rem;
            height: 1.3477rem;
            position: absolute;
            left: 0.768rem;
            top: 0.968rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .auto-group-etdn-QYt {
          position: relative;
          flex-shrink: 0;
          width: 11.2rem;
          height: 100%;

          .rectangle-891-LxL {
            background-color: #000000;
            width: 11.2rem;
            height: 2rem;
            position: absolute;
            left: 0;
            top: 0.6rem;
          }
          .vector-Gqz {
            vertical-align: top;
            width: 1.3991rem;
            height: 1.2983rem;
            position: absolute;
            left: 1.4172rem;
            top: 1rem;
            object-fit: contain;
          }
          .wishlist-o5E {
            line-height: 2.6666666667;
            color: #ffffff;
            width: 4.4rem;
            height: 3.2rem;
            left: 4.2rem;
            top: 0;
            font-size: 1.2rem;
            font-weight: 400;
            white-space: nowrap;
            position: absolute;
            font-family: Inter, 'Source Sans Pro';
          }
        }
      }
    }
  }
  .footer-eLk {
    width: 153.6rem;
    height: 26.6094rem;
    position: absolute;
    left: 0;
    top: 127.3rem;

    .rectangle-3-MW4 {
      background-color: #222222;
      width: 153.6rem;
      height: 24.9998rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .scrap-symphoy-sanctuary-aims-to-promote-innovation-in-the-digital-commerce-ecosystem-by-providing-a-platform-for-startups-and-entrepreneurs-to-develop-new-services-and-solutions-also-supports-digital-commerce-including-online-payments-e-commerce-and-financial-services-tF6 {
      width: 43.7rem;
      position: absolute;
      left: 12.2rem;
      top: 4.8992rem;
      display: flex;
      font-weight: 400;
      font-family: Open Sans, 'Source Sans Pro';
      height: 8.8rem;
      font-size: 1rem;
      line-height: 2.2;
      letter-spacing: 0.01rem;
      color: #ffffff;
    }
    .frame-35-4Hz {
      width: 14.4rem;
      height: 16.5rem;
      position: absolute;
      left: 117.8rem;
      top: 1.993rem;

      .pages-NJg {
        color: #ffffff;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        width: 100%;
        display: flex;
        align-items: center;
        letter-spacing: 0.012rem;
        line-height: 2.25;
        margin-bottom: 2rem;
        justify-content: center;
        font-size: 1.2rem;
        font-weight: 700;
      }
      .frame-39-Ucc {
        flex-direction: column;
        width: 100%;
        row-gap: 1rem;
        display: flex;

        .about-us-oun {
          font-weight: 400;
          line-height: 2.2;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          display: flex;
          font-size: 1rem;
          letter-spacing: 0.01rem;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .return-policy-vUc {
          line-height: 2.2;
          letter-spacing: 0.01rem;
          color: #ffffff;
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 1rem;
          font-weight: 400;
          font-family: Open Sans, 'Source Sans Pro';
        }
        .contact-us-ddv {
          white-space: nowrap;
          flex-shrink: 0;
          line-height: 2.2;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          letter-spacing: 0.01rem;
          display: flex;
          font-size: 1rem;
          font-weight: 400;
        }
        .refund-cancellation-policies-yBz {
          display: flex;
          font-size: 1rem;
          letter-spacing: 0.01rem;
          font-family: Open Sans, 'Source Sans Pro';
          font-weight: 400;
          line-height: 2.2;
          color: #ffffff;
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .social-media-soA {
      left: 13.018rem;
      top: 15.1109rem;
      display: flex;
      align-items: center;
      width: 17.362rem;
      height: 3rem;
      position: absolute;

      .vector-18g {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 4.035rem 0rem 0rem;
        width: 2.9268rem;
        height: 2.9268rem;
      }
      .vector-Kv4 {
        margin-right: 4.0344rem;
        width: 3.2195rem;
        height: 3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-UY4 {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.0013rem;
        width: 3.1463rem;
        height: 2.6341rem;
      }
    }
    .rectangle-12-ceG {
      width: 153.6rem;
      height: 4.3rem;
      position: absolute;
      left: 0;
      top: 20.7rem;
      background-color: #555555;
    }
    .frame-40-wRe {
      box-sizing: border-box;
      align-items: flex-start;
      position: absolute;
      left: 14.1rem;
      top: 21.3rem;
      display: flex;
      padding-right: 19.3667rem;
      width: 29.8667rem;
      height: 5.3094rem;

      .mask-group-eax {
        flex-shrink: 0;
        margin-right: 4.5rem;
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
      .mask-group-nhA {
        flex-shrink: 0;
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .scrap-symphony-sanctuary-all-rights-reserved-LTn {
      height: 2.2rem;
      font-weight: 700;
      line-height: 2.2;
      letter-spacing: 0.01rem;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      width: 27.4rem;
      position: absolute;
      left: 114.1rem;
      top: 22.1133rem;
      font-size: 1rem;
      white-space: nowrap;
    }
    .terms-condition-privacy-policy-DXa {
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.2rem;
      position: absolute;
      font-weight: 700;
      letter-spacing: 0.01rem;
      color: #ffffff;
      width: 18.5rem;
      left: 65.9rem;
      top: 22.1133rem;
      font-size: 1rem;
      line-height: 2.2;
    }
  }
  .item--VV6 {
    left: 64.7rem;
    font-size: 2.4rem;
    line-height: 1.3333333333;
    color: #fff7e9;
    background-color: #f16713;
    border-radius: 5rem;
    box-sizing: border-box;
    width: 26.8rem;
    white-space: nowrap;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
    padding: 0.4rem 5.15rem;
    height: 5rem;
    position: absolute;
    top: 60.8rem;
    font-weight: 700;
    font-family: Oswald, 'Source Sans Pro';
    letter-spacing: 0.024rem;
  }
}
