
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.creative-metal-2-GKe {
  width: 100%;
  height: 70.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .black1-67-abE {
    top: 0.1rem;
    object-fit: cover;
    vertical-align: top;
    width: 153.6rem;
    height: 68.5rem;
    position: absolute;
    left: 0;
  }
  .rectangle-901-7LG {
    background-color: #5b5b5b;
    width: 153.6rem;
    height: 4.3rem;
    position: absolute;
    left: 0;
    top: 65.9rem;
  }
  .item--AZS {
    box-sizing: border-box;
    padding-right: 19.3667rem;
    left: 14.1rem;
    display: flex;
    width: 29.8667rem;
    height: 5.3094rem;
    position: absolute;
    top: 66.3rem;
    align-items: flex-start;

    .mask-group-GMa {
      margin-right: 4.5rem;
      width: 3rem;
      height: 3rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .mask-group-ocQ {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 3rem;
      height: 3rem;
      position: relative;
    }
  }
  .terms-condition-privacy-policy-kXe {
    top: 66.8rem;
    font-size: 1rem;
    line-height: 2.2;
    letter-spacing: 0.01rem;
    color: #ffffff;
    font-family: Open Sans, 'Source Sans Pro';
    width: 18.5rem;
    height: 2.2rem;
    position: absolute;
    left: 65.9rem;
    font-weight: 700;
    white-space: nowrap;
  }
  .scrap-symphony-sanctuary-all-rights-reserved-Ehi {
    height: 2.2rem;
    top: 66.8rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.01rem;
    color: #ffffff;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
    width: 27.4rem;
    position: absolute;
    left: 114.1rem;
    line-height: 2.2;
  }
  .scrap3-removebg-preview-68-W9S {
    position: absolute;
    left: 2.4rem;
    top: 5.1rem;
    object-fit: cover;
    vertical-align: top;
    width: 4.7467rem;
    height: 4rem;
  }
  .scrap-symphony-sanctuary-E5S {
    width: 16.2rem;
    height: 2.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-family: Oswald, 'Source Sans Pro';
    white-space: nowrap;
    font-weight: 700;
    color: #f7fbff;
    position: absolute;
    left: 7.25rem;
    top: 6.5rem;
    line-height: 1.4825;
    letter-spacing: 0.028rem;
  }
  .home-scrap-section-creative-section-about-us-contact-us-uhN {
    width: 51.9rem;
    left: 35.4rem;
    top: 6.3rem;
    letter-spacing: 0.016rem;
    line-height: 1.5625;
    color: #f6fbff;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.5rem;
    position: absolute;
    font-size: 1.6rem;
    font-weight: 400;
  }
  .rectangle-867-PcY {
    left: 91.4rem;
    top: 6.3rem;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
    background-color: #f6fbff;
    width: 37.7rem;
    height: 3.1rem;
    position: absolute;
  }
  .layer1-Hxp {
    height: 3.4078rem;
    position: absolute;
    left: 143.4rem;
    top: 6rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.2rem;
  }
  .item--29i {
    vertical-align: top;
    width: 3.7029rem;
    height: 3.0931rem;
    position: absolute;
    left: 137.7297rem;
    top: 6.0844rem;
    object-fit: contain;
  }
  .rectangle-901-9VE {
    height: 42rem;
    position: absolute;
    left: 45.7rem;
    top: 17.9rem;
    background-color: #ffffff;
    border-radius: 5rem;
    width: 104.2rem;
  }
  .vector-GZr {
    top: 6rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.4rem;
    height: 3.2rem;
    position: absolute;
    left: 132.4rem;
  }
  .frame-427319600-1GY {
    height: 9.9rem;
    left: 50.1rem;
    display: flex;
    align-items: center;
    background-color: #f8fafc;
    box-sizing: border-box;
    padding: 1rem 3.95rem;
    top: 46.9rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    border-radius: 1.5rem;
    width: 34.7rem;
    position: absolute;

    .frame-427319596-JmS {
      margin: 1.25rem 1.9rem 1.25rem 0rem;
      height: calc(100% - 2.5rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .group-17-2SY {
        flex-shrink: 0;
        margin: 0rem 0.1rem 0.5rem 0rem;
        width: 2.8845rem;
        height: 2.1997rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
      .free-delivery-Yfn {
        letter-spacing: 0.01rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 2.7;
      }
    }
    .line-97-gGC {
      margin-right: 2rem;
      width: 0rem;
      height: 7.9rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .frame-427319598-Rja {
      flex-shrink: 0;
      margin: 1.25rem 1.9rem 1.25rem 0rem;
      height: calc(100% - 2.5rem);
      align-items: center;
      display: flex;
      flex-direction: column;

      .group-18-xUc {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.1rem 0.5rem 0rem;
        width: 2.2003rem;
        height: 2.1999rem;
        position: relative;
        object-fit: contain;
      }
      .pay-on-delivery-gvQ {
        flex-shrink: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 2.7;
        letter-spacing: 0.01rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .line-98-pmi {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2rem;
      width: 0rem;
      height: 7.9rem;
    }
    .auto-group-sk8c-y8p {
      flex-shrink: 0;
      margin-bottom: 1.2rem;
      box-sizing: border-box;
      padding-top: 1.2rem;
      width: 5.3rem;
      height: 6.7rem;

      .frame-427319599-VN4 {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .group-19-38g {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0rem 0.5rem 0rem;
          width: 2.2rem;
          height: 2.2rem;
          object-fit: contain;
        }
        .days-returnable-xWY {
          flex-shrink: 0;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.3625;
          letter-spacing: 0.01rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          max-width: 5.3rem;
          text-align: center;
        }
      }
    }
  }
  .line-144-Eix {
    height: 37.5rem;
    position: absolute;
    left: 89rem;
    top: 19.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 0;
  }
  .rectangle-899-ywS {
    width: 11.2rem;
    height: 2rem;
    position: absolute;
    left: 69rem;
    top: 36.5rem;
    background-color: #000000;
  }
  .add-to-cart-7nk {
    height: 3.2rem;
    position: absolute;
    left: 72.7rem;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    width: 6.4rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.6666666667;
    white-space: nowrap;
    top: 35.9rem;
  }
  .item--RoS {
    left: 69.768rem;
    top: 36.768rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.9025rem;
    height: 1.3477rem;
    position: absolute;
  }
  .rectangle-900-NCt {
    background-color: #000000;
    width: 11.2rem;
    height: 2rem;
    position: absolute;
    left: 69rem;
    top: 40.2rem;
  }
  .vector-JsE {
    left: 70.4rem;
    top: 40.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.6rem;
    height: 1.4rem;
    position: absolute;
  }
  .wishlist-FXa {
    top: 39.5rem;
    font-size: 1.2rem;
    line-height: 2.6666666667;
    color: #ffffff;
    height: 3.2rem;
    position: absolute;
    left: 72.9rem;
    white-space: nowrap;
    width: 4.4rem;
    font-weight: 400;
    font-family: Inter, 'Source Sans Pro';
  }
  .frame-427319601-xgt {
    top: 40.4rem;
    display: flex;
    align-items: center;
    width: 56.9rem;
    height: 16.2rem;
    position: absolute;
    left: 91.4rem;

    .group-21-HUG {
      width: 27.6rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .content-2we {
        width: 15.1rem;
        height: 11.3rem;
        position: absolute;
        left: 1.5rem;
        top: 1.5rem;

        .features--B3r {
          margin-bottom: 1.5rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.375;
          letter-spacing: 0.016rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
        }
        .recycled-chic-stylish-repurposing-eco-friendly-ambiance-sustainable-elegance-J8U {
          max-width: 15.1rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.3571428571;
          letter-spacing: 0.014rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
        }
      }
      .rectangle-113-Pfi {
        box-sizing: border-box;
        border-radius: 0.5rem;
        width: 27.6rem;
        height: 16.2rem;
        position: absolute;
        left: 0;
        top: 0;
        border: dashed 0.1rem #dddddd;
      }
    }
    .group-22-7bi {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.5rem 1.4rem 1rem 1.4rem;
      height: 100%;
      border: dashed 0.1rem #dddddd;
      border-radius: 0.5rem;

      .whatsapp-image-2024-01-31-at-443-13-f7S {
        width: 26.5rem;
        height: 13.7rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
  }
  .item--NGk {
    height: 2.2rem;
    top: 12.7rem;
    display: flex;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
    background-color: #f16713;
    box-sizing: border-box;
    padding: 0.05rem 2.7rem 0.05rem 1rem;
    width: 9.4rem;
    border-radius: 5rem;
    position: absolute;
    left: 135.2rem;
    align-items: center;

    .auto-group-4dbi-4fN {
      width: 1.1rem;
      height: 1rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.6rem;
    }
    .back-Cma {
      letter-spacing: 0.016rem;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      color: #fff7e9;
      margin-bottom: 0.2rem;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.1875;
    }
  }
  .group-187-6c4 {
    vertical-align: top;
    width: 2rem;
    height: 2.6383rem;
    position: absolute;
    left: 92.4rem;
    top: 6.5rem;
    object-fit: contain;
  }
  .search-31W {
    left: 95rem;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.018rem;
    color: #555555;
    white-space: nowrap;
    width: 5.9rem;
    height: 2.5rem;
    line-height: 1.3888888889;
    font-family: Open Sans, 'Source Sans Pro';
    position: absolute;
    top: 6.8rem;
  }
  .price-w6t {
    left: 51.3rem;
    display: flex;
    align-items: flex-start;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 0.4rem 0.4rem 0.4rem 1.2rem;
    width: 14.5rem;
    height: 6.8rem;
    border-radius: 0.5rem;
    position: absolute;
    top: 36.5rem;
    border: dashed 0.1rem #ff731d;

    .text-SZS {
      margin: 0.1rem 2.3rem 0rem 0rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .price-ypG {
        line-height: 1.3571428571;
        letter-spacing: 0.014rem;
        color: #222222;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.9rem;
        font-size: 1.4rem;
        font-weight: 400;
        flex-shrink: 0;
      }
      .item-193-tgL {
        flex-shrink: 0;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 0.6875;
        letter-spacing: 0.032rem;
        color: #ff731d;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .price-icon-Qua {
      vertical-align: top;
      flex-shrink: 0;
      width: 2rem;
      height: 2rem;
      object-fit: contain;
    }
  }
  .group-23-vsv {
    border: dashed 0.1rem #dddddd;
    border-radius: 0.5rem;
    padding: 2.9rem 2.974rem 2.3rem 1.526rem;
    position: absolute;
    left: 91.4rem;
    top: 20.5rem;
    box-sizing: border-box;
    width: 56.9rem;
    height: 16.5rem;

    .description-e3E {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .description--zsn {
        letter-spacing: 0.016rem;
        font-family: Open Sans, 'Source Sans Pro';
        font-weight: 400;
        line-height: 1.375;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.5rem;
        font-size: 1.6rem;
      }
      .a-chic-candle-holder-crafted-from-recycled-materials-adding-a-touch-of-sustainability-to-your-ambiance-this-eco-friendly-accessory-not-only-enhances-your-decor-but-also-showcases-the-beauty-of-repurposing-metals-for-functional-and-stylish-home-accents-8UC {
        letter-spacing: 0.014rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 52.4rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3571428571;
      }
    }
  }
  .candle-holder-2-86p {
    top: 19.4rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 5rem;
    width: 37.7rem;
    height: 38.9rem;
    position: absolute;
    left: 4.8rem;
  }
  .group-166-3ja {
    width: 19.6rem;
    height: 11.5rem;
    position: absolute;
    left: 51.2rem;
    top: 21.9rem;

    .reflame-ecoholder-aUc {
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.35;
      letter-spacing: 0.02rem;
      color: #000000;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1.1rem;
    }
    .product-id-624lp5-VrU {
      font-weight: 400;
      line-height: 1.3571428571;
      letter-spacing: 0.014rem;
      color: #888888;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1rem;
      font-size: 1.4rem;
    }
    .seller-lokesh-DnU {
      line-height: 1.3571428571;
      letter-spacing: 0.014rem;
      color: #888888;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1rem;
      font-size: 1.4rem;
      font-weight: 400;
    }
    .published-on-14-june-2022-xEG {
      font-weight: 400;
      line-height: 1.3571428571;
      letter-spacing: 0.014rem;
      color: #888888;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 1.4rem;
    }
  }
}
