
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.creative-all-2-L1i {
  width: 100%;
  height: 70.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .black1-67-qUG {
    height: 68.5rem;
    position: absolute;
    left: 0;
    top: 1.7rem;
    object-fit: cover;
    vertical-align: top;
    width: 153.6rem;
  }
  .rectangle-901-ZQG {
    width: 153.6rem;
    height: 4.3rem;
    position: absolute;
    left: 0;
    top: 65.9rem;
    background-color: #5b5b5b;
  }
  .item--Voi {
    height: 5.3094rem;
    left: 14.1rem;
    align-items: flex-start;
    box-sizing: border-box;
    padding-right: 19.3667rem;
    width: 29.8667rem;
    position: absolute;
    top: 66.3rem;
    display: flex;

    .mask-group-11N {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 4.5rem;
      width: 3rem;
      height: 3rem;
      position: relative;
      object-fit: contain;
    }
    .mask-group-wQp {
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 3rem;
      height: 3rem;
    }
  }
  .terms-condition-privacy-policy-62p {
    line-height: 2.2;
    white-space: nowrap;
    width: 18.5rem;
    height: 2.2rem;
    position: absolute;
    left: 65.9rem;
    top: 66.8rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.01rem;
    color: #ffffff;
    font-family: Open Sans, 'Source Sans Pro';
  }
  .scrap-symphony-sanctuary-all-rights-reserved-xqi {
    top: 66.8rem;
    font-size: 1rem;
    letter-spacing: 0.01rem;
    white-space: nowrap;
    width: 27.4rem;
    height: 2.2rem;
    position: absolute;
    color: #ffffff;
    font-family: Open Sans, 'Source Sans Pro';
    left: 114.1rem;
    font-weight: 700;
    line-height: 2.2;
  }
  .scrap3-removebg-preview-68-eCk {
    width: 4.7467rem;
    height: 4rem;
    position: absolute;
    left: 2.4rem;
    top: 5.1rem;
    object-fit: cover;
    vertical-align: top;
  }
  .scrap-symphony-sanctuary-xz8 {
    width: 16.2rem;
    align-items: center;
    font-size: 1.4rem;
    left: 7.25rem;
    justify-content: center;
    height: 2.1rem;
    font-weight: 700;
    position: absolute;
    top: 6.5rem;
    display: flex;
    line-height: 1.4825;
    letter-spacing: 0.028rem;
    color: #f7fbff;
    font-family: Oswald, 'Source Sans Pro';
    white-space: nowrap;
  }
  .home-scrap-section-creative-section-about-us-contact-us-3Et {
    width: 51.9rem;
    height: 2.5rem;
    font-size: 1.6rem;
    color: #f6fbff;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    left: 35.4rem;
    top: 6.3rem;
    font-weight: 400;
    line-height: 1.5625;
    letter-spacing: 0.016rem;
  }
  .rectangle-867-XA4 {
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
    background-color: #f6fbff;
    width: 37.7rem;
    height: 3.1rem;
    position: absolute;
    left: 91.4rem;
    top: 6.3rem;
  }
  .layer1-2sW {
    left: 143.4rem;
    top: 6rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.2rem;
    height: 3.4078rem;
    position: absolute;
  }
  .item--ZsS {
    position: absolute;
    left: 137.7297rem;
    top: 6.0844rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.7029rem;
    height: 3.0931rem;
  }
  .rectangle-901-uAc {
    border-radius: 5rem;
    width: 104.2rem;
    height: 42rem;
    position: absolute;
    left: 45.7rem;
    top: 17.9rem;
    background-color: #ffffff;
  }
  .vector-2W8 {
    object-fit: contain;
    vertical-align: top;
    width: 3.4rem;
    height: 3.2rem;
    position: absolute;
    left: 132.4rem;
    top: 6rem;
  }
  .frame-427319600-Zkx {
    box-sizing: border-box;
    padding: 1rem 3.95rem;
    width: 34.7rem;
    display: flex;
    align-items: center;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    height: 9.9rem;
    position: absolute;
    left: 50.1rem;
    top: 46.9rem;
    background-color: #f8fafc;
    border-radius: 1.5rem;

    .frame-427319596-fJC {
      margin: 1.25rem 1.9rem 1.25rem 0rem;
      height: calc(100% - 2.5rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .group-17-BnL {
        margin: 0rem 0.1rem 0.5rem 0rem;
        width: 2.8845rem;
        height: 2.1997rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .free-delivery-uCY {
        line-height: 2.7;
        letter-spacing: 0.01rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1rem;
        font-weight: 400;
      }
    }
    .line-97-pqJ {
      margin-right: 2rem;
      width: 0rem;
      height: 7.9rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .frame-427319598-NM2 {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 1.25rem 1.9rem 1.25rem 0rem;
      height: calc(100% - 2.5rem);

      .group-18-VwS {
        width: 2.2003rem;
        height: 2.1999rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.1rem 0.5rem 0rem;
      }
      .pay-on-delivery-E8L {
        line-height: 2.7;
        letter-spacing: 0.01rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1rem;
        font-weight: 400;
      }
    }
    .line-98-A1z {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2rem;
      width: 0rem;
      height: 7.9rem;
    }
    .auto-group-egfe-6RS {
      padding-top: 1.2rem;
      width: 5.3rem;
      height: 6.7rem;
      flex-shrink: 0;
      margin-bottom: 1.2rem;
      box-sizing: border-box;

      .frame-427319599-1YQ {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .group-19-ARJ {
          flex-shrink: 0;
          margin: 0rem 0rem 0.5rem 0rem;
          width: 2.2rem;
          height: 2.2rem;
          object-fit: contain;
          vertical-align: top;
        }
        .days-returnable-t6Q {
          max-width: 5.3rem;
          text-align: center;
          font-weight: 400;
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
          font-size: 1rem;
          line-height: 1.3625;
          letter-spacing: 0.01rem;
          color: #000000;
        }
      }
    }
  }
  .line-144-A3v {
    object-fit: contain;
    vertical-align: top;
    width: 0;
    height: 37.5rem;
    position: absolute;
    left: 89rem;
    top: 19.6rem;
  }
  .rectangle-899-JR2 {
    left: 69rem;
    top: 36.5rem;
    background-color: #000000;
    width: 11.2rem;
    height: 2rem;
    position: absolute;
  }
  .add-to-cart-diC {
    font-size: 1.2rem;
    color: #ffffff;
    white-space: nowrap;
    height: 3.2rem;
    left: 72.7rem;
    top: 35.9rem;
    line-height: 2.6666666667;
    font-family: Inter, 'Source Sans Pro';
    width: 6.4rem;
    position: absolute;
    font-weight: 400;
  }
  .item--YKN {
    left: 69.768rem;
    top: 36.768rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.9025rem;
    height: 1.3477rem;
    position: absolute;
  }
  .rectangle-900-GmA {
    top: 40.2rem;
    background-color: #000000;
    width: 11.2rem;
    height: 2rem;
    position: absolute;
    left: 69rem;
  }
  .vector-1ik {
    vertical-align: top;
    width: 1.6rem;
    height: 1.4rem;
    position: absolute;
    left: 70.4rem;
    top: 40.5rem;
    object-fit: contain;
  }
  .wishlist-MXi {
    white-space: nowrap;
    width: 4.4rem;
    left: 72.9rem;
    top: 39.5rem;
    color: #ffffff;
    line-height: 2.6666666667;
    font-family: Inter, 'Source Sans Pro';
    height: 3.2rem;
    position: absolute;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .group-168-Geg {
    width: 56.8rem;
    height: 14.9773rem;
    position: absolute;
    left: 91.4rem;
    top: 20.9rem;
    border: dashed 0.1rem #dddddd;
    box-sizing: border-box;
    border-radius: 0.5rem;

    .description-Qkt {
      width: 9.6rem;
      height: 5.6rem;
      position: absolute;
      left: 0.7094rem;
      top: 2.1789rem;

      .description--9Ta {
        line-height: 1.375;
        letter-spacing: 0.016rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.5rem;
        font-size: 1.6rem;
        font-weight: 400;
      }
      .item--UVr {
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3571428571;
        letter-spacing: 0.014rem;
        color: #000000;
      }
    }
    .a-small-and-beautifully-handcrafted-swing-made-from-recycled-wood-designed-specifically-for-pooja-or-swami-idols-this-eco-friendly-creation-brings-a-touch-of-rustic-elegance-to-your-sacred-space-providing-a-unique-and-sustainable-way-to-honor-and-celebrate-spiritual-moments-QPW {
      left: 0.7rem;
      font-size: 1.4rem;
      font-weight: 400;
      position: absolute;
      height: 7.6rem;
      top: 5.9rem;
      line-height: 1.3571428571;
      letter-spacing: 0.014rem;
      color: #000000;
      font-family: Open Sans, 'Source Sans Pro';
      width: 53.2rem;
    }
  }
  .frame-427319601-9kQ {
    height: 16.2rem;
    position: absolute;
    left: 91.4rem;
    top: 40.4rem;
    display: flex;
    align-items: center;
    width: 56.9rem;

    .group-21-HLp {
      width: 27.6rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .content-356 {
        width: 24.4rem;
        height: 9.4rem;
        position: absolute;
        left: 1.5rem;
        top: 1.5rem;

        .features--aKv {
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.5rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.375;
          letter-spacing: 0.016rem;
          color: #000000;
        }
        .rustic-elegance-and-timeless-appeal-artisanal-handcraftsmanship-recycled-wood-material-usz {
          line-height: 1.3571428571;
          letter-spacing: 0.014rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          max-width: 24.4rem;
          font-size: 1.4rem;
          font-weight: 400;
        }
      }
      .rectangle-113-cXW {
        left: 0;
        top: 0;
        border: dashed 0.1rem #dddddd;
        box-sizing: border-box;
        border-radius: 0.5rem;
        width: 27.6rem;
        height: 16.2rem;
        position: absolute;
      }
    }
    .group-22-LyJ {
      width: 29.3rem;
      height: 100%;
      border-radius: 0.5rem;
      flex-shrink: 0;

      .rectangle-114-J9S {
        border: dashed 0.1rem #dddddd;
        box-sizing: border-box;
        border-radius: 0.5rem;
        width: 100%;
        height: 16.2rem;
      }
    }
  }
  .item--E36 {
    left: 135.2rem;
    align-items: center;
    border-radius: 5rem;
    box-sizing: border-box;
    padding: 0.05rem 2.7rem 0.05rem 1rem;
    width: 9.4rem;
    height: 2.2rem;
    position: absolute;
    top: 12.7rem;
    display: flex;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
    background-color: #f16713;

    .auto-group-yxqg-KKS {
      margin-right: 0.6rem;
      width: 1.1rem;
      height: 1rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .back-428 {
      margin-bottom: 0.2rem;
      font-size: 1.6rem;
      font-weight: 700;
      letter-spacing: 0.016rem;
      font-family: Open Sans, 'Source Sans Pro';
      line-height: 1.1875;
      color: #fff7e9;
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .group-22-vq2 {
    padding: 1rem 0.8rem 1.6rem 0.8rem;
    left: 119rem;
    border-radius: 0.5rem;
    border: dashed 0.1rem #dddddd;
    box-sizing: border-box;
    width: 29.2rem;
    height: 16.2rem;
    position: absolute;
    top: 40.5rem;

    .whatsapp-image-2024-01-31-at-425-1-dzL {
      width: 27.6rem;
      height: 13.6rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .group-187-8gC {
    object-fit: contain;
    vertical-align: top;
    width: 2rem;
    height: 2.6383rem;
    position: absolute;
    left: 92.1rem;
    top: 6.5rem;
  }
  .search-GGc {
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.5rem;
    left: 94.7rem;
    top: 6.8rem;
    line-height: 1.3888888889;
    letter-spacing: 0.018rem;
    width: 5.9rem;
    position: absolute;
    font-size: 1.8rem;
    font-weight: 400;
    color: #555555;
  }
  .swing-2-Act {
    height: 41.3rem;
    position: absolute;
    left: 5.7rem;
    top: 17.9rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 5rem;
    width: 36.9rem;
  }
  .group-169-VQG {
    width: 17.5rem;
    height: 11.5rem;
    position: absolute;
    left: 50.1rem;
    top: 21.1rem;

    .sacred-swing-phS {
      color: #000000;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1.1rem;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.35;
      letter-spacing: 0.02rem;
    }
    .product-id-207kd9-x2x {
      margin-bottom: 1rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.3571428571;
      letter-spacing: 0.014rem;
      color: #888888;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
    }
    .seller-kamali-H5E {
      margin-bottom: 1rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.3571428571;
      letter-spacing: 0.014rem;
      color: #888888;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
    }
    .published-on-07-july-2019-DDn {
      white-space: nowrap;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.3571428571;
      letter-spacing: 0.014rem;
      color: #888888;
      font-family: Open Sans, 'Source Sans Pro';
    }
  }
  .price-LpC {
    display: flex;
    border: dashed 0.1rem #ff731d;
    background-color: #ffffff;
    box-sizing: border-box;
    width: 14.5rem;
    position: absolute;
    left: 50.1rem;
    top: 35.1rem;
    border-radius: 0.5rem;
    padding: 0.4rem 0.4rem 0.4rem 1.2rem;
    height: 6.8rem;
    align-items: flex-start;

    .text-3Cp {
      margin: 0.1rem 2.3rem 0rem 0rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .price-y6U {
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.9rem;
        font-weight: 400;
        line-height: 1.3571428571;
        letter-spacing: 0.014rem;
        color: #222222;
        font-size: 1.4rem;
        font-family: Open Sans, 'Source Sans Pro';
      }
      .item-478-hYG {
        font-weight: 400;
        line-height: 0.6875;
        letter-spacing: 0.032rem;
        color: #ff731d;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 3.2rem;
      }
    }
    .price-icon-DmW {
      width: 2rem;
      height: 2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
