
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.5rem;
}.creative-ewaste-sHn {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:4db7a63002ededecb5f49fec65723cca71659456');
  background-color: #ffffff;
  width: 100%;
  height: 152.3rem;
  position: relative;
  overflow: hidden;

  .item--C5A {
    width: 153.6rem;
    height: 4.2rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #777777;
    box-sizing: border-box;
    padding: 1rem 69.2rem;

    .frame-427319517-uEU {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .group-2-ehr {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1rem 0rem 0rem;
        width: 2.2rem;
        height: 1.6422rem;
        position: relative;
      }
      .made-for-india-ARJ {
        line-height: 1.375;
        color: #ffffff;
        font-family: Merriweather, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
  }
  .auto-group-syug-GDS {
    height: 4.5832rem;
    position: absolute;
    left: 3rem;
    top: 8.1rem;
    display: flex;
    align-items: center;
    width: 146.2029rem;

    .scrap3-removebg-preview-59-NnG {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.003rem 0.583rem 0rem;
      width: 4.7467rem;
      height: 4rem;
    }
    .scrap-symphony-sanctuary-Gse {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 13.35rem 0.083rem 0rem;
      justify-content: center;
      font-weight: 700;
      letter-spacing: 0.028rem;
      font-family: Oswald, 'Source Sans Pro';
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      line-height: 1.4825;
      color: #f7fbff;
    }
    .home-scrap-section-creative-section-about-us-contact-us-MeC {
      font-family: Open Sans, 'Source Sans Pro';
      flex-shrink: 0;
      font-size: 1.6rem;
      line-height: 1.5625;
      letter-spacing: 0.016rem;
      color: #f6fbff;
      margin: 0.717rem 5.2rem 0rem 0rem;
      font-weight: 400;
      white-space: nowrap;
    }
    .auto-group-z5vc-DwJ {
      background-color: #f6fbff;
      display: flex;
      align-items: center;
      box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
      flex-shrink: 0;
      margin: 1.1rem 1.713rem 0.383rem 0rem;
      box-sizing: border-box;
      padding: 0.3rem 27.9rem 0.3rem 0.838rem;
      height: calc(100% - 1.4832rem);

      .group-XBJ {
        margin: 0.073rem 1.062rem 0rem 0rem;
        width: 2rem;
        height: 1.6rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .search-3fS {
        line-height: 1.3888888889;
        letter-spacing: 0.018rem;
        color: #555555;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.8rem;
        font-weight: 400;
      }
    }
    .vector-8gt {
      flex-shrink: 0;
      margin: 0.688rem 1.62rem 0rem 0rem;
      width: 3.9974rem;
      height: 3.8949rem;
      object-fit: contain;
      vertical-align: top;
    }
    .item--Sha {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.679rem 2.073rem 0rem 0rem;
      width: 3.7029rem;
      height: 3.0931rem;
      position: relative;
      object-fit: contain;
    }
    .layer1-MpY {
      flex-shrink: 0;
      margin-top: 0.6883rem;
      width: 3.9974rem;
      height: 3.8949rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .auto-group-p9qg-HTJ {
    width: 153.6rem;
    display: flex;
    left: 0;
    top: 20.4rem;
    align-items: center;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 3.8rem 4.4rem 3.8rem 2.6rem;
    height: 36.3rem;
    position: absolute;

    .screenshot-2024-01-22-131642-11-n9A {
      width: 55.6rem;
      height: 28.7rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 16.3rem;
    }
    .auto-group-5dqe-5tx {
      margin-bottom: 7.4rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .why-recycling-is-important--q7S {
        margin-bottom: 2.4rem;
        font-weight: 600;
        flex-shrink: 0;
        font-size: 2.4rem;
        line-height: 1.3333333333;
        letter-spacing: 0.024rem;
        color: #000000;
        font-family: Oswald, 'Source Sans Pro';
        white-space: nowrap;
      }
      .recycling-is-crucial-for-conserving-natural-resources-and-reducing-environmental-impact-it-minimizes-the-need-for-raw-material-extraction-lowers-energy-consumption-in-manufacturing-and-decreases-the-volume-of-waste-in-landfills-by-recycling-we-contribute-to-sustainability-reduce-pollution-and-promote-a-circular-economy-Y1r {
        font-size: 2rem;
        font-weight: 300;
        line-height: 2.25;
        color: #000000;
        font-family: Oswald, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 74.7rem;
      }
    }
  }
  .auto-group-hx7e-umW {
    width: 153.6rem;
    white-space: nowrap;
    justify-content: center;
    color: #000000;
    font-family: Oswald, 'Source Sans Pro';
    display: flex;
    height: 6.3rem;
    position: absolute;
    left: 0;
    font-size: 2.4rem;
    line-height: 1.3333333333;
    background-color: #ffffff;
    top: 69.9rem;
    font-weight: 600;
    letter-spacing: 0.024rem;
    align-items: center;
  }
  .auto-group-nadj-ack {
    position: absolute;
    left: 13.8rem;
    top: 83.5rem;
    display: flex;
    align-items: center;
    width: 125.4rem;
    height: 39.2rem;

    .auto-group-po9n-WWQ {
      margin-right: 17.9rem;
      box-sizing: border-box;
      width: 30.1rem;
      height: 100%;
      align-items: center;
      flex-direction: column;
      flex-shrink: 0;
      padding: 3.8rem 2.8rem 2.6rem 2.2rem;
      display: flex;
      background-color: #ffffff;
      border-radius: 5rem;

      .screenshot-2024-01-25-154707-2-pGC {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.3rem 1.9rem 0rem;
        width: 21.8rem;
        height: 25.4rem;
        object-fit: cover;
      }
      .circuit-earrings-126-81z {
        color: #000000;
        white-space: nowrap;
        align-items: baseline;
        flex-shrink: 0;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        margin: 0rem 1.1rem 0.7rem 0rem;

        .circuit-earrings-126-81z-sub-0 {
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 400;
        }
        .circuit-earrings-126-81z-sub-1 {
        }
        .circuit-earrings-126-81z-sub-2 {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .auto-group-aoz6-w7r {
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        display: flex;

        .auto-group-o7pg-5E4 {
          margin: 0rem 2.7rem 0.1rem 0rem;
          width: 11.2rem;
          height: 3.2rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-888-bTJ {
            background-color: #000000;
            width: 11.2rem;
            height: 2rem;
            position: absolute;
            left: 0;
            top: 0.7rem;
          }
          .add-to-cart-jJc {
            position: absolute;
            left: 3.4rem;
            top: 0;
            font-family: Inter, 'Source Sans Pro';
            color: #ffffff;
            white-space: nowrap;
            width: 6.4rem;
            height: 3.2rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 2.6666666667;
          }
          .item--qsS {
            width: 1.9025rem;
            height: 1.3477rem;
            position: absolute;
            left: 0.768rem;
            top: 0.968rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .auto-group-drng-a4L {
          margin-top: 0.1rem;
          width: 11.2rem;
          height: 3.2rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-887-WTn {
            left: 0;
            top: 0.5rem;
            background-color: #000000;
            width: 11.2rem;
            height: 2rem;
            position: absolute;
          }
          .vector-FgG {
            width: 1.3991rem;
            height: 1.2983rem;
            position: absolute;
            left: 1.2797rem;
            top: 0.9rem;
            object-fit: contain;
            vertical-align: top;
          }
          .wishlist-zdr {
            font-weight: 400;
            line-height: 2.6666666667;
            color: #ffffff;
            white-space: nowrap;
            left: 3.9rem;
            height: 3.2rem;
            position: absolute;
            top: 0;
            font-size: 1.2rem;
            font-family: Inter, 'Source Sans Pro';
            width: 4.4rem;
          }
        }
      }
    }
    .auto-group-tdre-she {
      align-items: center;
      flex-direction: column;
      background-color: #ffffff;
      flex-shrink: 0;
      padding: 3.8rem 2.3rem 2.6rem 2.7rem;
      width: 30.1rem;
      height: 100%;
      display: flex;
      border-radius: 5rem;
      margin-right: 17.2rem;
      box-sizing: border-box;

      .animals-2-ykg {
        margin: 0rem 0.4rem 3.5rem 0rem;
        width: 24.7rem;
        height: 24rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .e-waste-critters-574-HmN {
        font-size: 1.2rem;
        font-weight: 400;
        flex-shrink: 0;
        margin: 0rem 0.1rem 0.5rem 0rem;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        align-items: baseline;

        .e-waste-critters-574-HmN-sub-0 {
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
        }
        .e-waste-critters-574-HmN-sub-1 {
        }
        .e-waste-critters-574-HmN-sub-2 {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .e-waste-critters-574-HmN-sub-3 {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .auto-group-6g92-ikC {
        width: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-typ2-H2c {
          flex-shrink: 0;
          margin: 0rem 2.7rem 0.1rem 0rem;
          width: 11.2rem;
          height: 3.2rem;
          position: relative;

          .rectangle-890-1DW {
            background-color: #000000;
            width: 11.2rem;
            height: 2rem;
            position: absolute;
            left: 0;
            top: 0.7rem;
          }
          .add-to-cart-9Ki {
            font-weight: 400;
            line-height: 2.6666666667;
            color: #ffffff;
            height: 3.2rem;
            position: absolute;
            top: 0;
            font-size: 1.2rem;
            width: 6.4rem;
            left: 3.4rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .item--fYx {
            width: 1.9025rem;
            height: 1.3477rem;
            position: absolute;
            left: 0.768rem;
            top: 0.968rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .auto-group-7i5i-bSc {
          flex-shrink: 0;
          margin-top: 0.1rem;
          width: 11.2rem;
          height: 3.2rem;
          position: relative;

          .rectangle-889-XLG {
            left: 0;
            top: 0.5rem;
            background-color: #000000;
            width: 11.2rem;
            height: 2rem;
            position: absolute;
          }
          .vector-rtL {
            width: 1.3991rem;
            height: 1.2983rem;
            position: absolute;
            left: 1.5477rem;
            top: 0.9rem;
            object-fit: contain;
            vertical-align: top;
          }
          .wishlist-aJY {
            height: 3.2rem;
            left: 4.2rem;
            top: 0;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            width: 4.4rem;
            position: absolute;
            font-size: 1.2rem;
            line-height: 2.6666666667;
            color: #ffffff;
            white-space: nowrap;
          }
        }
      }
    }
    .auto-group-b5ka-EP6 {
      width: 30.1rem;
      align-items: center;
      display: flex;
      border-radius: 5rem;
      background-color: #ffffff;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 4.7rem 2.8rem 2.7rem 2.2rem;
      height: 100%;
      flex-direction: column;

      .stand-pen-2-jak {
        height: 24.6rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0rem 0.9rem 0.6rem;
        width: 22.9rem;
      }
      .keycraft-pen-holder-305-RyN {
        margin: 0rem 0rem 1.6rem 0.3rem;
        line-height: 1.2125;
        white-space: nowrap;
        font-size: 1.2rem;
        font-weight: 400;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        align-items: baseline;
        flex-shrink: 0;

        .keycraft-pen-holder-305-RyN-sub-0 {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .keycraft-pen-holder-305-RyN-sub-1 {
        }
        .keycraft-pen-holder-305-RyN-sub-2 {
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.2rem;
        }
      }
      .auto-group-jabv-WNY {
        flex-shrink: 0;
        width: 100%;
        height: 3.2rem;
        display: flex;
        align-items: center;

        .auto-group-erzy-F5E {
          height: 100%;
          position: relative;
          flex-shrink: 0;
          margin-right: 2.7rem;
          width: 11.2rem;

          .rectangle-892-MPA {
            width: 11.2rem;
            height: 2rem;
            position: absolute;
            left: 0;
            top: 0.7rem;
            background-color: #000000;
          }
          .add-to-cart-pGk {
            height: 3.2rem;
            left: 3.4rem;
            top: 0;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            width: 6.4rem;
            position: absolute;
            font-size: 1.2rem;
            line-height: 2.6666666667;
            color: #ffffff;
            white-space: nowrap;
          }
          .item--gpk {
            position: absolute;
            left: 0.768rem;
            top: 0.968rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.9025rem;
            height: 1.3477rem;
          }
        }
        .auto-group-kopz-BmW {
          height: 100%;
          position: relative;
          flex-shrink: 0;
          width: 11.2rem;

          .rectangle-891-7fA {
            width: 11.2rem;
            height: 2rem;
            position: absolute;
            left: 0;
            top: 0.6rem;
            background-color: #000000;
          }
          .vector-FWU {
            object-fit: contain;
            vertical-align: top;
            width: 1.3991rem;
            height: 1.2983rem;
            position: absolute;
            left: 1.5172rem;
            top: 1rem;
          }
          .wishlist-Nb6 {
            height: 3.2rem;
            left: 4.2rem;
            font-size: 1.2rem;
            width: 4.4rem;
            position: absolute;
            top: 0;
            font-weight: 400;
            line-height: 2.6666666667;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
    }
  }
  .footer-e2p {
    top: 127.3rem;
    width: 153.6rem;
    height: 26.6094rem;
    position: absolute;
    left: 0;

    .rectangle-3-Z9n {
      height: 24.9998rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #222222;
      width: 153.6rem;
    }
    .scrap-symphoy-sanctuary-aims-to-promote-innovation-in-the-digital-commerce-ecosystem-by-providing-a-platform-for-startups-and-entrepreneurs-to-develop-new-services-and-solutions-also-supports-digital-commerce-including-online-payments-e-commerce-and-financial-services-H5n {
      line-height: 2.2;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      position: absolute;
      top: 4.8992rem;
      display: flex;
      font-size: 1rem;
      font-weight: 400;
      letter-spacing: 0.01rem;
      width: 43.7rem;
      height: 8.8rem;
      left: 12.2rem;
    }
    .frame-35-qWc {
      height: 16.5rem;
      position: absolute;
      left: 117.8rem;
      top: 1.993rem;
      width: 14.4rem;

      .pages-x5S {
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        width: 100%;
        display: flex;
        font-weight: 700;
        line-height: 2.25;
        letter-spacing: 0.012rem;
        margin-bottom: 2rem;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        color: #ffffff;
      }
      .frame-39-FqE {
        width: 100%;
        row-gap: 1rem;
        display: flex;
        flex-direction: column;

        .about-us-oLx {
          font-weight: 400;
          line-height: 2.2;
          color: #ffffff;
          flex-shrink: 0;
          font-size: 1rem;
          letter-spacing: 0.01rem;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
        }
        .return-policy-XXr {
          white-space: nowrap;
          display: flex;
          font-size: 1rem;
          font-weight: 400;
          line-height: 2.2;
          letter-spacing: 0.01rem;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .contact-us-TAc {
          font-family: Open Sans, 'Source Sans Pro';
          display: flex;
          line-height: 2.2;
          color: #ffffff;
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1rem;
          font-weight: 400;
          letter-spacing: 0.01rem;
        }
        .refund-cancellation-policies-Aqi {
          display: flex;
          line-height: 2.2;
          letter-spacing: 0.01rem;
          color: #ffffff;
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1rem;
          font-weight: 400;
          font-family: Open Sans, 'Source Sans Pro';
        }
      }
    }
    .social-media-VNC {
      align-items: center;
      width: 17.362rem;
      height: 3rem;
      position: absolute;
      left: 13.018rem;
      top: 15.1109rem;
      display: flex;

      .vector-1rL {
        margin: 0rem 4.035rem 0rem 0rem;
        width: 2.9268rem;
        height: 2.9268rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-wjz {
        width: 3.2195rem;
        height: 3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 4.0344rem;
      }
      .vector-VFi {
        height: 2.6341rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.0013rem;
        width: 3.1463rem;
      }
    }
    .rectangle-12-2mS {
      height: 4.3rem;
      position: absolute;
      left: 0;
      top: 20.7rem;
      background-color: #555555;
      width: 153.6rem;
    }
    .frame-40-yRn {
      position: absolute;
      left: 14.1rem;
      top: 21.3rem;
      display: flex;
      align-items: flex-start;
      box-sizing: border-box;
      height: 5.3094rem;
      padding-right: 19.3667rem;
      width: 29.8667rem;

      .mask-group-sn4 {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 4.5rem;
        width: 3rem;
        height: 3rem;
        position: relative;
      }
      .mask-group-ovc {
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .scrap-symphony-sanctuary-all-rights-reserved-wG8 {
      font-size: 1rem;
      font-weight: 700;
      line-height: 2.2;
      letter-spacing: 0.01rem;
      width: 27.4rem;
      height: 2.2rem;
      left: 114.1rem;
      top: 22.1133rem;
      position: absolute;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
    }
    .terms-condition-privacy-policy-bba {
      left: 65.9rem;
      font-size: 1rem;
      font-weight: 700;
      line-height: 2.2;
      color: #ffffff;
      white-space: nowrap;
      width: 18.5rem;
      position: absolute;
      letter-spacing: 0.01rem;
      font-family: Open Sans, 'Source Sans Pro';
      height: 2.2rem;
      top: 22.1133rem;
    }
  }
  .item--GSp {
    position: absolute;
    top: 60.8rem;
    letter-spacing: 0.024rem;
    font-family: Oswald, 'Source Sans Pro';
    border-radius: 5rem;
    box-sizing: border-box;
    width: 26.8rem;
    left: 64.7rem;
    font-weight: 700;
    background-color: #f16713;
    height: 5rem;
    white-space: nowrap;
    line-height: 1.3333333333;
    color: #fff7e9;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
    padding: 0.4rem 5.15rem;
    font-size: 2.4rem;
  }
}
