
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.creative-glass-3-Ese {
  width: 100%;
  height: 70.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .black1-67-YtL {
    width: 153.6rem;
    height: 68.5rem;
    position: absolute;
    left: 0;
    top: 1.7rem;
    object-fit: cover;
    vertical-align: top;
  }
  .rectangle-901-sfi {
    width: 153.6rem;
    height: 4.3rem;
    position: absolute;
    left: 0;
    top: 65.9rem;
    background-color: #5b5b5b;
  }
  .item--Qfe {
    height: 5.3094rem;
    position: absolute;
    top: 66.3rem;
    align-items: flex-start;
    box-sizing: border-box;
    padding-right: 19.3667rem;
    display: flex;
    width: 29.8667rem;
    left: 14.1rem;

    .mask-group-vP6 {
      width: 3rem;
      height: 3rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 4.5rem;
    }
    .mask-group-Tdv {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 3rem;
      height: 3rem;
      position: relative;
    }
  }
  .terms-condition-privacy-policy-1fS {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.01rem;
    color: #ffffff;
    white-space: nowrap;
    line-height: 2.2;
    font-family: Open Sans, 'Source Sans Pro';
    width: 18.5rem;
    height: 2.2rem;
    position: absolute;
    left: 65.9rem;
    top: 66.8rem;
  }
  .scrap-symphony-sanctuary-all-rights-reserved-hYG {
    left: 114.1rem;
    top: 66.8rem;
    font-size: 1rem;
    line-height: 2.2;
    letter-spacing: 0.01rem;
    height: 2.2rem;
    position: absolute;
    font-weight: 700;
    color: #ffffff;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
    width: 27.4rem;
  }
  .scrap3-removebg-preview-68-ZqN {
    position: absolute;
    left: 2.4rem;
    top: 5.1rem;
    object-fit: cover;
    vertical-align: top;
    width: 4.7467rem;
    height: 4rem;
  }
  .scrap-symphony-sanctuary-Gjn {
    width: 16.2rem;
    justify-content: center;
    font-weight: 700;
    left: 7.25rem;
    letter-spacing: 0.028rem;
    color: #f7fbff;
    font-family: Oswald, 'Source Sans Pro';
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    line-height: 1.4825;
    height: 2.1rem;
    position: absolute;
    top: 6.5rem;
    white-space: nowrap;
  }
  .home-scrap-section-creative-section-about-us-contact-us-wqv {
    font-size: 1.6rem;
    line-height: 1.5625;
    width: 51.9rem;
    position: absolute;
    top: 6.3rem;
    letter-spacing: 0.016rem;
    color: #f6fbff;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.5rem;
    left: 35.4rem;
    font-weight: 400;
  }
  .rectangle-867-dCx {
    top: 6.3rem;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
    background-color: #f6fbff;
    width: 37.7rem;
    height: 3.1rem;
    position: absolute;
    left: 91.4rem;
  }
  .layer1-jmn {
    width: 3.2rem;
    height: 3.4078rem;
    position: absolute;
    left: 143.4rem;
    top: 6rem;
    object-fit: contain;
    vertical-align: top;
  }
  .item--Txg {
    vertical-align: top;
    width: 3.7029rem;
    height: 3.0931rem;
    position: absolute;
    left: 137.7297rem;
    top: 6.0844rem;
    object-fit: contain;
  }
  .rectangle-901-nzx {
    background-color: #ffffff;
    border-radius: 5rem;
    width: 104.2rem;
    height: 42rem;
    position: absolute;
    left: 45.7rem;
    top: 17.9rem;
  }
  .vector-Kjz {
    height: 3.2rem;
    position: absolute;
    left: 132.4rem;
    top: 6rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.4rem;
  }
  .price-G9S {
    display: flex;
    border: dashed 0.1rem #ff731d;
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 0.4rem 0.4rem 0.4rem 1.2rem;
    width: 14.5rem;
    height: 6.8rem;
    top: 36rem;
    position: absolute;
    left: 50.1rem;
    align-items: flex-start;
    background-color: #ffffff;

    .text-xHA {
      margin: 0.1rem 2.3rem 0rem 0rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .price-J68 {
        font-weight: 400;
        line-height: 1.3571428571;
        letter-spacing: 0.014rem;
        font-family: Open Sans, 'Source Sans Pro';
        margin-bottom: 0.9rem;
        font-size: 1.4rem;
        color: #222222;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .item-527-1WL {
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 0.6875;
        letter-spacing: 0.032rem;
        color: #ff731d;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .price-icon-8L4 {
      width: 2rem;
      height: 2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .frame-427319600-r1A {
    height: 9.9rem;
    top: 46.9rem;
    display: flex;
    background-color: #f8fafc;
    padding: 1rem 3.95rem;
    width: 34.7rem;
    left: 50.1rem;
    align-items: center;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    border-radius: 1.5rem;
    box-sizing: border-box;
    position: absolute;

    .frame-427319596-k6Y {
      margin: 1.25rem 1.9rem 1.25rem 0rem;
      height: calc(100% - 2.5rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .group-17-Gqa {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.1rem 0.5rem 0rem;
        width: 2.8845rem;
        height: 2.1997rem;
        position: relative;
        object-fit: contain;
      }
      .free-delivery-bcx {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 2.7;
        letter-spacing: 0.01rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
      }
    }
    .line-97-XmW {
      width: 0rem;
      height: 7.9rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2rem;
    }
    .frame-427319598-3zk {
      height: calc(100% - 2.5rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 1.25rem 1.9rem 1.25rem 0rem;

      .group-18-BbA {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.1rem 0.5rem 0rem;
        width: 2.2003rem;
        height: 2.1999rem;
        position: relative;
        object-fit: contain;
      }
      .pay-on-delivery-W7e {
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 2.7;
        letter-spacing: 0.01rem;
      }
    }
    .line-98-2Lt {
      flex-shrink: 0;
      margin-right: 2rem;
      width: 0rem;
      height: 7.9rem;
      object-fit: contain;
      vertical-align: top;
    }
    .auto-group-slkt-Zrc {
      margin-bottom: 1.2rem;
      box-sizing: border-box;
      padding-top: 1.2rem;
      width: 5.3rem;
      height: 6.7rem;
      flex-shrink: 0;

      .frame-427319599-uQg {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .group-19-fPr {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0rem 0.5rem 0rem;
          width: 2.2rem;
          height: 2.2rem;
        }
        .days-returnable-Ceg {
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.3625;
          letter-spacing: 0.01rem;
          flex-shrink: 0;
          max-width: 5.3rem;
          text-align: center;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
        }
      }
    }
  }
  .line-144-HRE {
    height: 37.5rem;
    position: absolute;
    left: 89rem;
    top: 19.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 0;
  }
  .rectangle-899-2Np {
    width: 11.2rem;
    height: 2rem;
    position: absolute;
    left: 69rem;
    top: 36.5rem;
    background-color: #000000;
  }
  .add-to-cart-xnG {
    width: 6.4rem;
    height: 3.2rem;
    position: absolute;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    left: 72.7rem;
    top: 35.9rem;
    line-height: 2.6666666667;
    color: #ffffff;
  }
  .item--fwa {
    width: 1.9025rem;
    height: 1.3477rem;
    position: absolute;
    left: 69.768rem;
    top: 36.768rem;
    object-fit: contain;
    vertical-align: top;
  }
  .rectangle-900-Cgc {
    position: absolute;
    left: 69rem;
    top: 40.2rem;
    background-color: #000000;
    width: 11.2rem;
    height: 2rem;
  }
  .vector-964 {
    width: 1.6rem;
    height: 1.4rem;
    position: absolute;
    left: 70.4rem;
    top: 40.5rem;
    object-fit: contain;
    vertical-align: top;
  }
  .wishlist-V9v {
    line-height: 2.6666666667;
    color: #ffffff;
    white-space: nowrap;
    left: 72.9rem;
    font-size: 1.2rem;
    font-weight: 400;
    top: 39.5rem;
    font-family: Inter, 'Source Sans Pro';
    width: 4.4rem;
    height: 3.2rem;
    position: absolute;
  }
  .group-168-oRW {
    box-sizing: border-box;
    padding: 2.179rem 0.709rem 3.398rem 0.709rem;
    width: 56.8rem;
    border: dashed 0.1rem #dddddd;
    border-radius: 0.5rem;
    height: 14.9773rem;
    position: absolute;
    left: 91.4rem;
    top: 20.9rem;

    .description-7BJ {
      width: 54.2rem;
      height: 100%;

      .description--fCp {
        font-weight: 400;
        line-height: 1.375;
        letter-spacing: 0.016rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.5rem;
        font-size: 1.6rem;
      }
      .old-glass-bottles-reborn-through-vibrant-paint-transformed-into-unique-and-renewed-bottle-art-this-eco-friendly-creation-not-only-adds-a-pop-of-color-to-your-space-but-also-showcases-the-beauty-of-repurposing-and-creative-recycling-b6U {
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        max-width: 54.2rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3571428571;
        letter-spacing: 0.014rem;
      }
    }
  }
  .frame-427319601-nwe {
    align-items: center;
    width: 56.9rem;
    height: 16.2rem;
    position: absolute;
    left: 91.4rem;
    top: 40.4rem;
    display: flex;

    .group-21-iqJ {
      width: 27.6rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .content-5Qx {
        height: 11.3rem;
        position: absolute;
        left: 1.5rem;
        top: 1.5rem;
        width: 14.9rem;

        .features--RDv {
          margin-bottom: 1.5rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.375;
          letter-spacing: 0.016rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
        }
        .vibrant-eco-art-repurposed-beauty-creative-bottle-revival-upcycled-elegance-YpL {
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          max-width: 14.9rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.3571428571;
          letter-spacing: 0.014rem;
        }
      }
      .rectangle-113-FTr {
        box-sizing: border-box;
        border-radius: 0.5rem;
        width: 27.6rem;
        height: 16.2rem;
        position: absolute;
        left: 0;
        top: 0;
        border: dashed 0.1rem #dddddd;
      }
    }
    .group-22-NoN {
      box-sizing: border-box;
      padding: 1.2rem 0.9rem 1.8rem 0.8rem;
      height: 100%;
      border: dashed 0.1rem #dddddd;
      border-radius: 0.5rem;
      flex-shrink: 0;

      .whatsapp-image-2024-01-31-at-443-13-2N8 {
        height: 13.2rem;
        object-fit: cover;
        vertical-align: top;
        width: 27.6rem;
      }
    }
  }
  .item--Wo6 {
    left: 135.2rem;
    top: 12.7rem;
    display: flex;
    align-items: center;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
    border-radius: 5rem;
    padding: 0.05rem 2.7rem 0.05rem 1rem;
    position: absolute;
    height: 2.2rem;
    background-color: #f16713;
    box-sizing: border-box;
    width: 9.4rem;

    .auto-group-rdy6-p36 {
      margin-right: 0.6rem;
      width: 1.1rem;
      height: 1rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .back-MHv {
      flex-shrink: 0;
      margin-bottom: 0.2rem;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.1875;
      letter-spacing: 0.016rem;
      color: #fff7e9;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .group-187-FeC {
    vertical-align: top;
    width: 2rem;
    height: 2.6383rem;
    position: absolute;
    left: 92.1rem;
    top: 6.5rem;
    object-fit: contain;
  }
  .search-PEc {
    color: #555555;
    width: 5.9rem;
    height: 2.5rem;
    position: absolute;
    left: 94.7rem;
    top: 6.8rem;
    font-weight: 400;
    line-height: 1.3888888889;
    font-size: 1.8rem;
    letter-spacing: 0.018rem;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
  }
  .bottle-art-2-692 {
    width: 35.7rem;
    height: 36.2rem;
    position: absolute;
    left: 4.9rem;
    top: 20.6rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 5rem;
  }
  .group-27-DjS {
    width: 20.6rem;
    height: 11.5rem;
    position: absolute;
    left: 50.2rem;
    top: 21.9rem;

    .reviveglass-artistry-xS8 {
      font-weight: 700;
      line-height: 1.35;
      letter-spacing: 0.02rem;
      color: #000000;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1.1rem;
      font-size: 2rem;
    }
    .product-id-560nc4-62Y {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.3571428571;
      letter-spacing: 0.014rem;
      color: #888888;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1rem;
    }
    .seller-sai-ram-Dcx {
      font-weight: 400;
      line-height: 1.3571428571;
      letter-spacing: 0.014rem;
      color: #888888;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1rem;
      font-size: 1.4rem;
    }
    .published-on-17-march-2023-x4k {
      letter-spacing: 0.014rem;
      color: #888888;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.3571428571;
    }
  }
}
