
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.creative-ewaste-3-PsA {
  height: 70.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;

  .black1-67-tZ2 {
    left: 0;
    top: 1.7rem;
    object-fit: cover;
    vertical-align: top;
    width: 153.6rem;
    height: 68.5rem;
    position: absolute;
  }
  .rectangle-901-cV2 {
    width: 153.6rem;
    height: 4.3rem;
    position: absolute;
    left: 0;
    top: 65.9rem;
    background-color: #5b5b5b;
  }
  .item--k5S {
    left: 14.1rem;
    top: 66.3rem;
    align-items: flex-start;
    box-sizing: border-box;
    padding-right: 19.3667rem;
    height: 5.3094rem;
    position: absolute;
    width: 29.8667rem;
    display: flex;

    .mask-group-3aL {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 4.5rem;
      width: 3rem;
      height: 3rem;
      position: relative;
    }
    .mask-group-aqA {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 3rem;
      height: 3rem;
      position: relative;
    }
  }
  .terms-condition-privacy-policy-vu2 {
    font-size: 1rem;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
    width: 18.5rem;
    height: 2.2rem;
    left: 65.9rem;
    top: 66.8rem;
    color: #ffffff;
    position: absolute;
    font-weight: 700;
    line-height: 2.2;
    letter-spacing: 0.01rem;
  }
  .scrap-symphony-sanctuary-all-rights-reserved-oT2 {
    line-height: 2.2;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
    width: 27.4rem;
    height: 2.2rem;
    position: absolute;
    top: 66.8rem;
    font-size: 1rem;
    left: 114.1rem;
    font-weight: 700;
    letter-spacing: 0.01rem;
    color: #ffffff;
  }
  .scrap3-removebg-preview-68-shn {
    height: 4rem;
    position: absolute;
    left: 2.4rem;
    top: 5.1rem;
    object-fit: cover;
    vertical-align: top;
    width: 4.7467rem;
  }
  .scrap-symphony-sanctuary-znQ {
    position: absolute;
    top: 6.5rem;
    line-height: 1.4825;
    color: #f7fbff;
    white-space: nowrap;
    left: 7.25rem;
    display: flex;
    justify-content: center;
    font-weight: 700;
    letter-spacing: 0.028rem;
    font-family: Oswald, 'Source Sans Pro';
    width: 16.2rem;
    height: 2.1rem;
    font-size: 1.4rem;
    align-items: center;
  }
  .home-scrap-section-creative-section-about-us-contact-us-tMz {
    left: 35.4rem;
    top: 6.3rem;
    letter-spacing: 0.016rem;
    color: #f6fbff;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
    width: 51.9rem;
    height: 2.5rem;
    position: absolute;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5625;
  }
  .rectangle-867-Zj2 {
    height: 3.1rem;
    position: absolute;
    left: 91.4rem;
    top: 6.3rem;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
    background-color: #f6fbff;
    width: 37.7rem;
  }
  .layer1-sDv {
    object-fit: contain;
    vertical-align: top;
    width: 3.2rem;
    height: 3.4078rem;
    position: absolute;
    left: 143.4rem;
    top: 6rem;
  }
  .item--zpL {
    position: absolute;
    left: 137.7297rem;
    top: 6.0844rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.7029rem;
    height: 3.0931rem;
  }
  .rectangle-901-vhz {
    width: 104.2rem;
    height: 42rem;
    position: absolute;
    left: 45.7rem;
    top: 17.9rem;
    background-color: #ffffff;
    border-radius: 5rem;
  }
  .vector-ett {
    top: 6rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.4rem;
    height: 3.2rem;
    position: absolute;
    left: 132.4rem;
  }
  .price-nkC {
    height: 6.8rem;
    left: 50.1rem;
    display: flex;
    border: dashed 0.1rem #ff731d;
    background-color: #ffffff;
    border-radius: 0.5rem;
    width: 14.5rem;
    padding: 0.4rem 0.4rem 0.4rem 1.2rem;
    position: absolute;
    top: 36rem;
    align-items: flex-start;
    box-sizing: border-box;

    .text-6F6 {
      margin: 0.1rem 2.3rem 0rem 0rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .price-dF2 {
        font-weight: 400;
        color: #222222;
        flex-shrink: 0;
        letter-spacing: 0.014rem;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.9rem;
        font-size: 1.4rem;
        line-height: 1.3571428571;
      }
      .item-305-XrC {
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 0.6875;
        letter-spacing: 0.032rem;
        color: #ff731d;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .price-icon-eR2 {
      flex-shrink: 0;
      width: 2rem;
      height: 2rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .frame-427319600-Znt {
    padding: 1rem 3.95rem;
    height: 9.9rem;
    position: absolute;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    left: 50.1rem;
    top: 46.9rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    background-color: #f8fafc;
    border-radius: 1.5rem;
    width: 34.7rem;

    .frame-427319596-rGC {
      flex-shrink: 0;
      margin: 1.25rem 1.9rem 1.25rem 0rem;
      height: calc(100% - 2.5rem);
      align-items: center;
      display: flex;
      flex-direction: column;

      .group-17-BJU {
        margin: 0rem 0.1rem 0.5rem 0rem;
        width: 2.8845rem;
        height: 2.1997rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .free-delivery-6wE {
        font-weight: 400;
        line-height: 2.7;
        letter-spacing: 0.01rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1rem;
      }
    }
    .line-97-dRN {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2rem;
      width: 0rem;
      height: 7.9rem;
      object-fit: contain;
    }
    .frame-427319598-mGg {
      margin: 1.25rem 1.9rem 1.25rem 0rem;
      height: calc(100% - 2.5rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .group-18-tcC {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.1rem 0.5rem 0rem;
        width: 2.2003rem;
        height: 2.1999rem;
        position: relative;
      }
      .pay-on-delivery-pEx {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 2.7;
        letter-spacing: 0.01rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
      }
    }
    .line-98-9Y8 {
      flex-shrink: 0;
      margin-right: 2rem;
      width: 0rem;
      height: 7.9rem;
      object-fit: contain;
      vertical-align: top;
    }
    .auto-group-96kt-6iG {
      margin-bottom: 1.2rem;
      box-sizing: border-box;
      padding-top: 1.2rem;
      width: 5.3rem;
      height: 6.7rem;
      flex-shrink: 0;

      .frame-427319599-qA4 {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .group-19-atL {
          margin: 0rem 0rem 0.5rem 0rem;
          width: 2.2rem;
          height: 2.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .days-returnable-uvc {
          font-size: 1rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
          text-align: center;
          font-weight: 400;
          line-height: 1.3625;
          letter-spacing: 0.01rem;
          max-width: 5.3rem;
        }
      }
    }
  }
  .line-144-P56 {
    left: 89rem;
    top: 19.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 0;
    height: 37.5rem;
    position: absolute;
  }
  .rectangle-899-j8x {
    top: 36.5rem;
    background-color: #000000;
    width: 11.2rem;
    height: 2rem;
    position: absolute;
    left: 69rem;
  }
  .add-to-cart-rjN {
    width: 6.4rem;
    position: absolute;
    left: 72.7rem;
    color: #ffffff;
    white-space: nowrap;
    font-family: Inter, 'Source Sans Pro';
    height: 3.2rem;
    top: 35.9rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.6666666667;
  }
  .item--xXW {
    width: 1.9025rem;
    height: 1.3477rem;
    position: absolute;
    left: 69.768rem;
    top: 36.768rem;
    object-fit: contain;
    vertical-align: top;
  }
  .rectangle-900-67v {
    left: 69rem;
    top: 40.2rem;
    background-color: #000000;
    width: 11.2rem;
    height: 2rem;
    position: absolute;
  }
  .vector-2XN {
    height: 1.4rem;
    position: absolute;
    left: 70.4rem;
    top: 40.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.6rem;
  }
  .wishlist-N5S {
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 3.2rem;
    top: 39.5rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: #ffffff;
    width: 4.4rem;
    position: absolute;
    left: 72.9rem;
    line-height: 2.6666666667;
  }
  .group-168-HCQ {
    padding: 2.1789rem 0.7094rem;
    width: 56.8rem;
    height: 14.9773rem;
    box-sizing: border-box;
    position: absolute;
    left: 91.4rem;
    top: 20.9rem;
    border: dashed 0.1rem #dddddd;
    border-radius: 0.5rem;

    .description-oRe {
      width: 53.8rem;
      height: 7.5rem;

      .description--A1J {
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.5rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.375;
        letter-spacing: 0.016rem;
      }
      .a-functional-and-quirky-pen-holder-crafted-from-repurposed-keyboard-keys-this-unique-desk-accessory-helps-to-organizes-your-pens-in-styley-5tx {
        font-family: Open Sans, 'Source Sans Pro';
        max-width: 53.8rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3571428571;
        letter-spacing: 0.014rem;
        color: #000000;
      }
    }
  }
  .frame-427319601-KoJ {
    left: 91.4rem;
    top: 40.4rem;
    display: flex;
    align-items: center;
    width: 56.9rem;
    height: 16.2rem;
    position: absolute;

    .group-21-Fgx {
      height: 100%;
      position: relative;
      flex-shrink: 0;
      width: 27.6rem;

      .content-oyN {
        height: 11.3rem;
        position: absolute;
        left: 1.5rem;
        top: 1.5rem;
        width: 13.8rem;

        .features--wZn {
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.5rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.375;
          letter-spacing: 0.016rem;
          color: #000000;
        }
        .organize-in-style-upcycled-elegance-functional-art-conversation-starter-UJp {
          font-weight: 400;
          line-height: 1.3571428571;
          letter-spacing: 0.014rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          max-width: 13.8rem;
          font-size: 1.4rem;
        }
      }
      .rectangle-113-moi {
        border: dashed 0.1rem #dddddd;
        box-sizing: border-box;
        border-radius: 0.5rem;
        width: 27.6rem;
        height: 16.2rem;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    .group-22-uQ8 {
      box-sizing: border-box;
      padding: 0.7rem 0.8rem;
      height: 100%;
      border: dashed 0.1rem #dddddd;
      border-radius: 0.5rem;
      flex-shrink: 0;

      .whatsapp-image-2024-01-31-at-436-27-qYg {
        vertical-align: top;
        width: 27.7rem;
        height: 13.4rem;
        object-fit: cover;
      }
    }
  }
  .item--8ng {
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
    border-radius: 5rem;
    height: 2.2rem;
    left: 135.2rem;
    display: flex;
    position: absolute;
    top: 12.7rem;
    align-items: center;
    background-color: #f16713;
    box-sizing: border-box;
    padding: 0.05rem 2.7rem 0.05rem 1rem;
    width: 9.4rem;

    .auto-group-dcsy-EKv {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.6rem;
      width: 1.1rem;
      height: 1rem;
      object-fit: contain;
    }
    .back-ZNC {
      color: #fff7e9;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 0.2rem;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.1875;
      letter-spacing: 0.016rem;
      flex-shrink: 0;
    }
  }
  .group-187-eeY {
    height: 2.6383rem;
    position: absolute;
    left: 92.1rem;
    top: 6.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 2rem;
  }
  .search-zCc {
    line-height: 1.3888888889;
    letter-spacing: 0.018rem;
    color: #555555;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
    font-size: 1.8rem;
    height: 2.5rem;
    position: absolute;
    left: 94.7rem;
    top: 6.8rem;
    font-weight: 400;
    width: 5.9rem;
  }
  .stand-pen-2-tHz {
    width: 41.5rem;
    height: 41.8rem;
    position: absolute;
    left: 1.8rem;
    top: 17.9rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 5rem;
  }
  .group-27-1dW {
    width: 20.6rem;
    height: 11.5rem;
    position: absolute;
    left: 50.9rem;
    top: 21.9rem;

    .keycraft-pen-holder-jZW {
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1.1rem;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.35;
      letter-spacing: 0.02rem;
      color: #000000;
    }
    .product-id-775kb1-ru2 {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.3571428571;
      letter-spacing: 0.014rem;
      color: #888888;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1rem;
    }
    .seller-rekha-BgQ {
      font-weight: 400;
      line-height: 1.3571428571;
      letter-spacing: 0.014rem;
      color: #888888;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1rem;
      font-size: 1.4rem;
    }
    .published-on-01-march-2019-iRS {
      color: #888888;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.3571428571;
      letter-spacing: 0.014rem;
    }
  }
}
