
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.creative-clothes-1-7CQ {
  width: 100%;
  height: 70.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .black1-67-dAk {
    top: 0.1rem;
    object-fit: cover;
    vertical-align: top;
    width: 153.6rem;
    height: 68.5rem;
    position: absolute;
    left: 0;
  }
  .rectangle-901-ZKJ {
    width: 153.6rem;
    height: 4.3rem;
    position: absolute;
    left: 0;
    top: 65.9rem;
    background-color: #5b5b5b;
  }
  .item--HWC {
    display: flex;
    padding-right: 19.3667rem;
    height: 5.3094rem;
    position: absolute;
    top: 66.3rem;
    box-sizing: border-box;
    width: 29.8667rem;
    left: 14.1rem;
    align-items: flex-start;

    .mask-group-nxk {
      width: 3rem;
      height: 3rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 4.5rem;
    }
    .mask-group-8mi {
      vertical-align: top;
      flex-shrink: 0;
      width: 3rem;
      height: 3rem;
      position: relative;
      object-fit: contain;
    }
  }
  .terms-condition-privacy-policy-g2Y {
    line-height: 2.2;
    white-space: nowrap;
    height: 2.2rem;
    position: absolute;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.01rem;
    color: #ffffff;
    font-family: Open Sans, 'Source Sans Pro';
    width: 18.5rem;
    left: 65.9rem;
    top: 66.8rem;
  }
  .scrap-symphony-sanctuary-all-rights-reserved-jmW {
    line-height: 2.2;
    letter-spacing: 0.01rem;
    color: #ffffff;
    white-space: nowrap;
    width: 27.4rem;
    left: 114.1rem;
    font-size: 1rem;
    font-weight: 700;
    font-family: Open Sans, 'Source Sans Pro';
    height: 2.2rem;
    position: absolute;
    top: 66.8rem;
  }
  .scrap3-removebg-preview-68-MH6 {
    top: 5.1rem;
    object-fit: cover;
    vertical-align: top;
    width: 4.7467rem;
    height: 4rem;
    position: absolute;
    left: 2.4rem;
  }
  .scrap-symphony-sanctuary-T5E {
    letter-spacing: 0.028rem;
    width: 16.2rem;
    align-items: center;
    justify-content: center;
    color: #f7fbff;
    font-family: Oswald, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    left: 7.25rem;
    font-weight: 700;
    position: absolute;
    top: 6.5rem;
    font-size: 1.4rem;
    line-height: 1.4825;
    height: 2.1rem;
  }
  .home-scrap-section-creative-section-about-us-contact-us-8BN {
    width: 51.9rem;
    position: absolute;
    top: 6.3rem;
    line-height: 1.5625;
    letter-spacing: 0.016rem;
    font-family: Open Sans, 'Source Sans Pro';
    height: 2.5rem;
    left: 35.4rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: #f6fbff;
    white-space: nowrap;
  }
  .rectangle-867-ccL {
    left: 91.4rem;
    top: 6.3rem;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
    background-color: #f6fbff;
    width: 37.7rem;
    height: 3.1rem;
    position: absolute;
  }
  .layer1-XDW {
    position: absolute;
    left: 143.4rem;
    top: 6rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.2rem;
    height: 3.4078rem;
  }
  .item--qjz {
    height: 3.0931rem;
    position: absolute;
    left: 137.7297rem;
    top: 6.0844rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.7029rem;
  }
  .rectangle-901-NV2 {
    width: 104.2rem;
    height: 42rem;
    position: absolute;
    left: 45.7rem;
    top: 17.9rem;
    background-color: #ffffff;
    border-radius: 5rem;
  }
  .vector-JNg {
    width: 3.4rem;
    height: 3.2rem;
    position: absolute;
    left: 132.4rem;
    top: 6rem;
    object-fit: contain;
    vertical-align: top;
  }
  .frame-427319600-SUt {
    box-sizing: border-box;
    padding: 1rem 3.95rem;
    position: absolute;
    top: 46.9rem;
    display: flex;
    align-items: center;
    width: 34.7rem;
    height: 9.9rem;
    left: 50.1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    background-color: #f8fafc;
    border-radius: 1.5rem;

    .frame-427319596-wRe {
      margin: 1.25rem 1.9rem 1.25rem 0rem;
      height: calc(100% - 2.5rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .group-17-4mA {
        margin: 0rem 0.1rem 0.5rem 0rem;
        width: 2.8845rem;
        height: 2.1997rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .free-delivery-bFJ {
        flex-shrink: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 2.7;
        letter-spacing: 0.01rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .line-97-vHa {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2rem;
      width: 0rem;
      height: 7.9rem;
      object-fit: contain;
    }
    .frame-427319598-4Pn {
      flex-direction: column;
      flex-shrink: 0;
      margin: 1.25rem 1.9rem 1.25rem 0rem;
      height: calc(100% - 2.5rem);
      align-items: center;
      display: flex;

      .group-18-PS4 {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.1rem 0.5rem 0rem;
        width: 2.2003rem;
        height: 2.1999rem;
        position: relative;
        object-fit: contain;
      }
      .pay-on-delivery-JZ2 {
        font-size: 1rem;
        font-weight: 400;
        line-height: 2.7;
        letter-spacing: 0.01rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .line-98-RtY {
      margin-right: 2rem;
      width: 0rem;
      height: 7.9rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-6uxa-yfA {
      padding-top: 1.2rem;
      width: 5.3rem;
      height: 6.7rem;
      flex-shrink: 0;
      margin-bottom: 1.2rem;
      box-sizing: border-box;

      .frame-427319599-tGL {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .group-19-dzc {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0rem 0.5rem 0rem;
          width: 2.2rem;
          height: 2.2rem;
          object-fit: contain;
        }
        .days-returnable-y2t {
          font-weight: 400;
          line-height: 1.3625;
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 5.3rem;
          text-align: center;
          font-size: 1rem;
          letter-spacing: 0.01rem;
          color: #000000;
        }
      }
    }
  }
  .line-144-ShA {
    vertical-align: top;
    width: 0;
    height: 37.5rem;
    position: absolute;
    left: 89rem;
    top: 19.6rem;
    object-fit: contain;
  }
  .rectangle-899-nW8 {
    height: 2rem;
    position: absolute;
    left: 69rem;
    top: 36.5rem;
    background-color: #000000;
    width: 11.2rem;
  }
  .add-to-cart-v6Y {
    width: 6.4rem;
    height: 3.2rem;
    font-size: 1.2rem;
    line-height: 2.6666666667;
    color: #ffffff;
    white-space: nowrap;
    position: absolute;
    left: 72.7rem;
    top: 35.9rem;
    font-weight: 400;
    font-family: Inter, 'Source Sans Pro';
  }
  .item--RZ6 {
    width: 1.9025rem;
    height: 1.3477rem;
    position: absolute;
    left: 69.768rem;
    top: 36.768rem;
    object-fit: contain;
    vertical-align: top;
  }
  .rectangle-900-MSk {
    background-color: #000000;
    width: 11.2rem;
    height: 2rem;
    position: absolute;
    left: 69rem;
    top: 40.2rem;
  }
  .vector-gzp {
    top: 40.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.6rem;
    height: 1.4rem;
    position: absolute;
    left: 70.4rem;
  }
  .wishlist-q72 {
    height: 3.2rem;
    position: absolute;
    font-weight: 400;
    line-height: 2.6666666667;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    width: 4.4rem;
    top: 39.5rem;
    font-size: 1.2rem;
    white-space: nowrap;
    left: 72.9rem;
  }
  .frame-427319601-9Nc {
    align-items: center;
    width: 56.9rem;
    height: 16.2rem;
    position: absolute;
    left: 91.4rem;
    top: 40.4rem;
    display: flex;

    .group-21-Gy2 {
      width: 27.6rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .content-Eex {
        left: 1.5rem;
        top: 1.5rem;
        width: 14.3rem;
        height: 11.3rem;
        position: absolute;

        .features--ycY {
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.5rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.375;
          letter-spacing: 0.016rem;
          color: #000000;
        }
        .conversation-starter-artistic-design-sustainable-materials-versatility-uWC {
          max-width: 14.3rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.3571428571;
          letter-spacing: 0.014rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
        }
      }
      .rectangle-113-oba {
        top: 0;
        border: dashed 0.1rem #dddddd;
        box-sizing: border-box;
        border-radius: 0.5rem;
        width: 27.6rem;
        height: 16.2rem;
        position: absolute;
        left: 0;
      }
    }
    .group-22-XnU {
      box-sizing: border-box;
      padding: 1.8rem 1.2rem 2.4rem 0.9rem;
      height: 100%;
      border: dashed 0.1rem #dddddd;
      border-radius: 0.5rem;
      flex-shrink: 0;

      .whatsapp-image-2024-01-31-at-429-5-Tg8 {
        width: 27.2rem;
        height: 12rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
  }
  .item--AKe {
    padding: 0.05rem 2.7rem 0.05rem 1rem;
    height: 2.2rem;
    position: absolute;
    top: 12.7rem;
    display: flex;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
    background-color: #f16713;
    box-sizing: border-box;
    border-radius: 5rem;
    left: 135.2rem;
    align-items: center;
    width: 9.4rem;

    .auto-group-kpha-4R2 {
      width: 1.1rem;
      height: 1rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.6rem;
    }
    .back-o7i {
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.1875;
      color: #fff7e9;
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.2rem;
      letter-spacing: 0.016rem;
      font-family: Open Sans, 'Source Sans Pro';
    }
  }
  .group-187-Hoa {
    height: 2.6383rem;
    position: absolute;
    left: 92.4rem;
    top: 6.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 2rem;
  }
  .search-2FN {
    height: 2.5rem;
    top: 6.8rem;
    font-weight: 400;
    line-height: 1.3888888889;
    letter-spacing: 0.018rem;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
    width: 5.9rem;
    position: absolute;
    left: 95rem;
    font-size: 1.8rem;
    color: #555555;
  }
  .price-WAY {
    padding: 0.4rem 0.4rem 0.4rem 1.2rem;
    width: 14.5rem;
    position: absolute;
    left: 51.3rem;
    display: flex;
    border-radius: 0.5rem;
    box-sizing: border-box;
    height: 6.8rem;
    top: 36.5rem;
    align-items: flex-start;
    border: dashed 0.1rem #ff731d;
    background-color: #ffffff;

    .text-NCk {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0.1rem 2.3rem 0rem 0rem;

      .price-uCg {
        margin-bottom: 0.9rem;
        font-size: 1.4rem;
        line-height: 1.3571428571;
        white-space: nowrap;
        flex-shrink: 0;
        font-weight: 400;
        letter-spacing: 0.014rem;
        color: #222222;
        font-family: Open Sans, 'Source Sans Pro';
      }
      .item-417-CxU {
        font-weight: 400;
        line-height: 0.6875;
        letter-spacing: 0.032rem;
        color: #ff731d;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 3.2rem;
      }
    }
    .price-icon-XUx {
      vertical-align: top;
      flex-shrink: 0;
      width: 2rem;
      height: 2rem;
      object-fit: contain;
    }
  }
  .pot-2-Srp {
    height: 42rem;
    position: absolute;
    left: 3.9rem;
    top: 17.9rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 5rem;
    width: 37.3rem;
  }
  .group-27-y64 {
    height: 11.5rem;
    position: absolute;
    left: 51.7rem;
    top: 21.9rem;
    width: 18.6rem;

    .fabricbloom-vase-tyi {
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1.1rem;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.35;
      letter-spacing: 0.02rem;
      color: #000000;
    }
    .product-id-645bf9-Rik {
      line-height: 1.3571428571;
      letter-spacing: 0.014rem;
      color: #888888;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1rem;
      font-size: 1.4rem;
      font-weight: 400;
    }
    .seller-akila-ZKA {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.3571428571;
      letter-spacing: 0.014rem;
      color: #888888;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1rem;
    }
    .published-on-15-may-2022-gua {
      font-weight: 400;
      line-height: 1.3571428571;
      letter-spacing: 0.014rem;
      color: #888888;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 1.4rem;
    }
  }
  .group-166-d48 {
    top: 20.5rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 2.9rem 1.431rem 4.2rem 1.431rem;
    height: 16.5rem;
    border: dashed 0.1rem #dddddd;
    width: 56.8rem;
    position: absolute;
    left: 91.4rem;

    .description-8Fn {
      width: 51.9rem;
      height: 100%;

      .description--HPa {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.375;
        letter-spacing: 0.016rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.5rem;
      }
      .artistry-fabric-that-elevate-your-style-with-our-creative-fabric-design-clothes-where-artistry-meets-fashion-in-every-stitch-bringing-a-unique-and-expressive-flair-to-your-wardrobe-26G {
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        max-width: 51.9rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3571428571;
        letter-spacing: 0.014rem;
      }
    }
  }
}
