
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.creative-all-1-rA8 {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 70.2rem;

  .black1-67-Lqz {
    width: 153.6rem;
    height: 68.5rem;
    position: absolute;
    left: 0;
    top: 0.1rem;
    object-fit: cover;
    vertical-align: top;
  }
  .rectangle-901-s5E {
    position: absolute;
    left: 0;
    top: 65.9rem;
    background-color: #5b5b5b;
    width: 153.6rem;
    height: 4.3rem;
  }
  .item--bmv {
    box-sizing: border-box;
    position: absolute;
    left: 14.1rem;
    top: 66.3rem;
    display: flex;
    align-items: flex-start;
    padding-right: 19.3667rem;
    width: 29.8667rem;
    height: 5.3094rem;

    .mask-group-hpx {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 4.5rem;
      width: 3rem;
      height: 3rem;
      position: relative;
      object-fit: contain;
    }
    .mask-group-SnY {
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 3rem;
      height: 3rem;
    }
  }
  .terms-condition-privacy-policy-Phn {
    font-family: Open Sans, 'Source Sans Pro';
    width: 18.5rem;
    height: 2.2rem;
    position: absolute;
    left: 65.9rem;
    top: 66.8rem;
    font-size: 1rem;
    font-weight: 700;
    white-space: nowrap;
    line-height: 2.2;
    letter-spacing: 0.01rem;
    color: #ffffff;
  }
  .scrap-symphony-sanctuary-all-rights-reserved-sN4 {
    line-height: 2.2;
    font-family: Open Sans, 'Source Sans Pro';
    width: 27.4rem;
    height: 2.2rem;
    left: 114.1rem;
    top: 66.8rem;
    font-size: 1rem;
    font-weight: 700;
    white-space: nowrap;
    position: absolute;
    letter-spacing: 0.01rem;
    color: #ffffff;
  }
  .scrap3-removebg-preview-68-8Yt {
    height: 4rem;
    position: absolute;
    left: 2.4rem;
    top: 5.1rem;
    object-fit: cover;
    vertical-align: top;
    width: 4.7467rem;
  }
  .scrap-symphony-sanctuary-eXE {
    height: 2.1rem;
    top: 6.5rem;
    font-size: 1.4rem;
    font-weight: 700;
    position: absolute;
    line-height: 1.4825;
    color: #f7fbff;
    letter-spacing: 0.028rem;
    width: 16.2rem;
    left: 7.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Oswald, 'Source Sans Pro';
    white-space: nowrap;
  }
  .home-scrap-section-creative-section-about-us-contact-us-jYg {
    width: 51.9rem;
    line-height: 1.5625;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.5rem;
    position: absolute;
    left: 35.4rem;
    top: 6.3rem;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.016rem;
    color: #f6fbff;
  }
  .rectangle-867-d8G {
    position: absolute;
    left: 91.4rem;
    top: 6.3rem;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
    background-color: #f6fbff;
    width: 37.7rem;
    height: 3.1rem;
  }
  .layer1-XzL {
    width: 3.2rem;
    height: 3.4078rem;
    position: absolute;
    left: 143.4rem;
    top: 6rem;
    object-fit: contain;
    vertical-align: top;
  }
  .item--rmi {
    top: 6.0844rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.7029rem;
    height: 3.0931rem;
    position: absolute;
    left: 137.7297rem;
  }
  .rectangle-901-oBA {
    background-color: #ffffff;
    border-radius: 5rem;
    width: 104.2rem;
    height: 42rem;
    position: absolute;
    left: 45.7rem;
    top: 17.9rem;
  }
  .vector-iov {
    object-fit: contain;
    vertical-align: top;
    width: 3.4rem;
    height: 3.2rem;
    position: absolute;
    left: 132.4rem;
    top: 6rem;
  }
  .frame-427319600-fDN {
    top: 46.9rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    width: 34.7rem;
    height: 9.9rem;
    position: absolute;
    left: 50.1rem;
    background-color: #f8fafc;
    border-radius: 1.5rem;
    box-sizing: border-box;
    padding: 1rem 3.95rem;
    display: flex;
    align-items: center;

    .frame-427319596-ZZe {
      flex-shrink: 0;
      margin: 1.25rem 1.9rem 1.25rem 0rem;
      height: calc(100% - 2.5rem);
      align-items: center;
      display: flex;
      flex-direction: column;

      .group-17-g8U {
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.1rem 0.5rem 0rem;
        width: 2.8845rem;
        height: 2.1997rem;
      }
      .free-delivery-Q4U {
        font-size: 1rem;
        font-weight: 400;
        line-height: 2.7;
        letter-spacing: 0.01rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .line-97-j6k {
      margin-right: 2rem;
      width: 0rem;
      height: 7.9rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .frame-427319598-GsN {
      margin: 1.25rem 1.9rem 1.25rem 0rem;
      height: calc(100% - 2.5rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .group-18-D1v {
        height: 2.1999rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.1rem 0.5rem 0rem;
        width: 2.2003rem;
      }
      .pay-on-delivery-8ua {
        letter-spacing: 0.01rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 2.7;
      }
    }
    .line-98-4oE {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2rem;
      width: 0rem;
      height: 7.9rem;
      object-fit: contain;
    }
    .auto-group-dfcg-Qs6 {
      padding-top: 1.2rem;
      width: 5.3rem;
      height: 6.7rem;
      flex-shrink: 0;
      margin-bottom: 1.2rem;
      box-sizing: border-box;

      .frame-427319599-w6L {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .group-19-5yE {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0rem 0.5rem 0rem;
          width: 2.2rem;
          height: 2.2rem;
        }
        .days-returnable-cTN {
          font-size: 1rem;
          font-weight: 400;
          letter-spacing: 0.01rem;
          color: #000000;
          max-width: 5.3rem;
          line-height: 1.3625;
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
          text-align: center;
        }
      }
    }
  }
  .line-144-VGG {
    width: 0;
    height: 37.5rem;
    position: absolute;
    left: 89rem;
    top: 19.6rem;
    object-fit: contain;
    vertical-align: top;
  }
  .rectangle-899-q5E {
    position: absolute;
    left: 69rem;
    top: 36.5rem;
    background-color: #000000;
    width: 11.2rem;
    height: 2rem;
  }
  .add-to-cart-mDn {
    width: 6.4rem;
    position: absolute;
    left: 72.7rem;
    top: 35.9rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: #ffffff;
    height: 3.2rem;
    line-height: 2.6666666667;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .item--snc {
    top: 36.768rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.9025rem;
    height: 1.3477rem;
    position: absolute;
    left: 69.768rem;
  }
  .rectangle-900-D5n {
    position: absolute;
    left: 69rem;
    top: 40.2rem;
    background-color: #000000;
    width: 11.2rem;
    height: 2rem;
  }
  .vector-8yS {
    width: 1.6rem;
    height: 1.4rem;
    position: absolute;
    left: 70.4rem;
    top: 40.5rem;
    object-fit: contain;
    vertical-align: top;
  }
  .wishlist-r8k {
    font-size: 1.2rem;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 3.2rem;
    position: absolute;
    top: 39.5rem;
    line-height: 2.6666666667;
    color: #ffffff;
    width: 4.4rem;
    left: 72.9rem;
    font-weight: 400;
  }
  .group-168-hfA {
    width: 56.8rem;
    position: absolute;
    top: 20.9rem;
    border: dashed 0.1rem #dddddd;
    box-sizing: border-box;
    height: 14.9773rem;
    left: 91.4rem;
    border-radius: 0.5rem;
    padding: 2.179rem 0.709rem 3.398rem 0.709rem;

    .description-oCQ {
      width: 49.8rem;
      height: 100%;

      .description--MDv {
        letter-spacing: 0.016rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.5rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.375;
      }
      .ea-unique-flower-pot-crafted-from-repurposed-tire-blending-creativity-and-sustainability-this-eco-friendly-planter-is-both-functional-and-stylish-offering-a-distinctive-touch-to-your-garden-or-indoor-space-H7a {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3571428571;
        letter-spacing: 0.014rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        max-width: 49.8rem;
      }
    }
  }
  .frame-427319601-tdA {
    width: 56.9rem;
    height: 16.2rem;
    position: absolute;
    left: 91.4rem;
    top: 40.4rem;
    display: flex;
    align-items: center;

    .group-21-D9e {
      height: 100%;
      position: relative;
      flex-shrink: 0;
      width: 27.6rem;

      .content-9oz {
        left: 1.5rem;
        top: 1.5rem;
        width: 18.5rem;
        height: 11.3rem;
        position: absolute;

        .features--6DS {
          line-height: 1.375;
          letter-spacing: 0.016rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.5rem;
          font-size: 1.6rem;
          font-weight: 400;
        }
        .sustainable-material-choice-creative-design-durable-and-weather-versatility-pv8 {
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.3571428571;
          letter-spacing: 0.014rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          max-width: 18.5rem;
        }
      }
      .rectangle-113-j1W {
        height: 16.2rem;
        position: absolute;
        left: 0;
        top: 0;
        border: dashed 0.1rem #dddddd;
        box-sizing: border-box;
        border-radius: 0.5rem;
        width: 27.6rem;
      }
    }
    .group-22-rM2 {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.4rem 1.3rem 2rem 1.2rem;
      height: 100%;
      border: dashed 0.1rem #dddddd;
      border-radius: 0.5rem;

      .whatsapp-image-2024-01-31-at-422-1-nkU {
        width: 26.8rem;
        height: 12.8rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
  }
  .item--UtC {
    align-items: center;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    width: 9.4rem;
    height: 2.2rem;
    position: absolute;
    left: 135.2rem;
    display: flex;
    background-color: #f16713;
    padding: 0.05rem 2.7rem 0.05rem 1rem;
    top: 12.7rem;
    border-radius: 5rem;

    .auto-group-s9r4-BGp {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.6rem;
      width: 1.1rem;
      height: 1rem;
      object-fit: contain;
    }
    .back-Wpt {
      font-size: 1.6rem;
      line-height: 1.1875;
      letter-spacing: 0.016rem;
      color: #fff7e9;
      margin-bottom: 0.2rem;
      font-weight: 700;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .group-187-cN8 {
    position: absolute;
    left: 92.4rem;
    top: 6.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 2rem;
    height: 2.6383rem;
  }
  .search-XV6 {
    white-space: nowrap;
    height: 2.5rem;
    left: 95rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.3888888889;
    letter-spacing: 0.018rem;
    color: #555555;
    width: 5.9rem;
    position: absolute;
    top: 6.8rem;
    font-family: Open Sans, 'Source Sans Pro';
  }
  .cerative-tyer-2-2-wHv {
    vertical-align: top;
    border-radius: 5rem;
    width: 36.1rem;
    height: 41.7rem;
    position: absolute;
    left: 5.7rem;
    top: 18.2rem;
    object-fit: cover;
  }
  .group-166-47e {
    width: 18.5rem;
    height: 11.5rem;
    position: absolute;
    left: 51.2rem;
    top: 21.9rem;

    .tirebloom-planter-aLt {
      white-space: nowrap;
      margin-bottom: 1.1rem;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.35;
      letter-spacing: 0.02rem;
      color: #000000;
      font-family: Open Sans, 'Source Sans Pro';
    }
    .product-id-541bg6-hRW {
      white-space: nowrap;
      margin-bottom: 1rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.3571428571;
      letter-spacing: 0.014rem;
      color: #888888;
      font-family: Open Sans, 'Source Sans Pro';
    }
    .seller-suriya-pm2 {
      font-weight: 400;
      line-height: 1.3571428571;
      letter-spacing: 0.014rem;
      color: #888888;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1rem;
      font-size: 1.4rem;
    }
    .published-on-18-may-2022-xsE {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.3571428571;
      letter-spacing: 0.014rem;
      color: #888888;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .price-u1n {
    border-radius: 0.5rem;
    padding: 0.4rem 0.4rem 0.4rem 1.2rem;
    height: 6.8rem;
    left: 51.3rem;
    top: 36.5rem;
    display: flex;
    border: dashed 0.1rem #ff731d;
    box-sizing: border-box;
    width: 14.5rem;
    position: absolute;
    align-items: flex-start;
    background-color: #ffffff;

    .text-CWg {
      flex-shrink: 0;
      margin: 0.1rem 2.3rem 0rem 0rem;
      display: flex;
      flex-direction: column;

      .price-9B2 {
        font-weight: 400;
        line-height: 1.3571428571;
        color: #222222;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.9rem;
        letter-spacing: 0.014rem;
        flex-shrink: 0;
        font-size: 1.4rem;
      }
      .item-546-scp {
        font-weight: 400;
        line-height: 0.6875;
        letter-spacing: 0.032rem;
        color: #ff731d;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 3.2rem;
      }
    }
    .price-icon-Q6x {
      flex-shrink: 0;
      width: 2rem;
      height: 2rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
}
