
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.5rem;
}.creative-clothes-rzY {
  height: 152.3rem;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:4db7a63002ededecb5f49fec65723cca71659456');
  width: 100%;
  position: relative;
  overflow: hidden;
  background-size: 100% 100%;
  background-color: #ffffff;

  .item--NT6 {
    background-color: #777777;
    box-sizing: border-box;
    padding: 1rem 69.15rem;
    width: 153.5rem;
    height: 4.2rem;
    position: absolute;
    left: 0;
    top: 0;

    .frame-427319517-VGp {
      height: 100%;
      display: flex;
      align-items: center;
      width: 100%;

      .group-2-dtp {
        margin: 0rem 1rem 0rem 0rem;
        width: 2.2rem;
        height: 1.6422rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .made-for-india-Ykt {
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.375;
        color: #ffffff;
        font-family: Merriweather, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
  .auto-group-kuaq-Tcx {
    width: 146.2029rem;
    height: 4.5832rem;
    position: absolute;
    left: 3rem;
    top: 8.1rem;
    display: flex;
    align-items: center;

    .scrap3-removebg-preview-59-mtY {
      width: 4.7467rem;
      height: 4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.003rem 0.583rem 0rem;
    }
    .scrap-symphony-sanctuary-58Y {
      margin: 0rem 13.35rem 0.083rem 0rem;
      font-size: 1.4rem;
      color: #f7fbff;
      font-family: Oswald, 'Source Sans Pro';
      line-height: 1.4825;
      letter-spacing: 0.028rem;
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
    }
    .home-scrap-section-creative-section-about-us-contact-us-ZJc {
      margin: 0.717rem 5.2rem 0rem 0rem;
      font-size: 1.6rem;
      letter-spacing: 0.016rem;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-weight: 400;
      line-height: 1.5625;
      color: #f6fbff;
    }
    .auto-group-htsl-3Ug {
      padding: 0.3rem 27.9rem 0.3rem 0.838rem;
      align-items: center;
      box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
      background-color: #f6fbff;
      flex-shrink: 0;
      margin: 1.1rem 1.713rem 0.383rem 0rem;
      box-sizing: border-box;
      height: calc(100% - 1.4832rem);
      display: flex;

      .group-XPr {
        margin: 0.073rem 1.062rem 0rem 0rem;
        width: 2rem;
        height: 1.6rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .search-ejN {
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3888888889;
        letter-spacing: 0.018rem;
        color: #555555;
      }
    }
    .vector-8uS {
      height: 3.8949rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.688rem 1.62rem 0rem 0rem;
      width: 3.9974rem;
    }
    .item--3Wc {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.679rem 2.073rem 0rem 0rem;
      width: 3.7029rem;
      height: 3.0931rem;
      position: relative;
    }
    .layer1-MnC {
      margin-top: 0.6883rem;
      width: 3.9974rem;
      height: 3.8949rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-ayct-u32 {
    width: 153.6rem;
    height: 36.3rem;
    position: absolute;
    padding: 3.8rem 4.4rem 3.8rem 2.6rem;
    left: 0;
    top: 20.4rem;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    box-sizing: border-box;

    .screenshot-2024-01-22-131642-11-oPJ {
      width: 55.6rem;
      height: 28.7rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 16.3rem;
    }
    .auto-group-kpgc-K6k {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 7.4rem;

      .why-recycling-is-important--TTr {
        margin-bottom: 2.4rem;
        white-space: nowrap;
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 1.3333333333;
        letter-spacing: 0.024rem;
        color: #000000;
        font-family: Oswald, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .recycling-is-crucial-for-conserving-natural-resources-and-reducing-environmental-impact-it-minimizes-the-need-for-raw-material-extraction-lowers-energy-consumption-in-manufacturing-and-decreases-the-volume-of-waste-in-landfills-by-recycling-we-contribute-to-sustainability-reduce-pollution-and-promote-a-circular-economy-mDe {
        font-family: Oswald, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 74.7rem;
        font-size: 2rem;
        font-weight: 300;
        line-height: 2.25;
        color: #000000;
      }
    }
  }
  .auto-group-y8rz-Xc8 {
    white-space: nowrap;
    display: flex;
    position: absolute;
    left: 0;
    top: 69.9rem;
    line-height: 1.3333333333;
    font-family: Oswald, 'Source Sans Pro';
    background-color: #ffffff;
    justify-content: center;
    width: 153.6rem;
    height: 6.3rem;
    font-weight: 600;
    align-items: center;
    font-size: 2.4rem;
    letter-spacing: 0.024rem;
    color: #000000;
  }
  .auto-group-rme4-QA8 {
    width: 125.4rem;
    height: 39.2rem;
    position: absolute;
    left: 13.8rem;
    top: 83.5rem;
    display: flex;
    align-items: center;

    .auto-group-tq7s-868 {
      margin-right: 17.9rem;
      box-sizing: border-box;
      width: 30.1rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      border-radius: 5rem;
      flex-shrink: 0;
      padding: 3.8rem 2.8rem 2.6rem 2.2rem;
      align-items: center;
      background-color: #ffffff;

      .pot-1-EQ4 {
        flex-shrink: 0;
        margin: 0rem 0.1rem 2.6rem 0rem;
        width: 17rem;
        height: 23.8rem;
        object-fit: cover;
        vertical-align: top;
      }
      .fabricbloom-vase-417-ZBS {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 1.6rem 0.1rem;
        font-size: 1.2rem;
        font-weight: 400;
        color: #000000;
        line-height: 1.2125;
        display: flex;
        align-items: baseline;

        .fabricbloom-vase-417-ZBS-sub-0 {
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
        }
        .fabricbloom-vase-417-ZBS-sub-1 {
        }
        .fabricbloom-vase-417-ZBS-sub-2 {
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
        }
      }
      .auto-group-9wtn-yPa {
        flex-shrink: 0;
        width: 100%;
        display: flex;
        align-items: center;

        .auto-group-9oxg-ic4 {
          margin: 0rem 2.7rem 0.1rem 0rem;
          width: 11.2rem;
          height: 3.2rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-888-2ck {
            top: 0.7rem;
            background-color: #000000;
            width: 11.2rem;
            height: 2rem;
            position: absolute;
            left: 0;
          }
          .add-to-cart-xWQ {
            position: absolute;
            left: 3.4rem;
            top: 0;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 6.4rem;
            height: 3.2rem;
            font-size: 1.2rem;
            line-height: 2.6666666667;
            color: #ffffff;
          }
          .item--4JY {
            top: 0.968rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.9025rem;
            height: 1.3477rem;
            position: absolute;
            left: 0.768rem;
          }
        }
        .auto-group-iwz6-Na8 {
          flex-shrink: 0;
          margin-top: 0.1rem;
          width: 11.2rem;
          height: 3.2rem;
          position: relative;

          .rectangle-887-ua4 {
            width: 11.2rem;
            height: 2rem;
            position: absolute;
            left: 0;
            top: 0.5rem;
            background-color: #000000;
          }
          .vector-rEQ {
            width: 1.3991rem;
            height: 1.2983rem;
            position: absolute;
            left: 1.1797rem;
            top: 0.8rem;
            object-fit: contain;
            vertical-align: top;
          }
          .wishlist-BGg {
            width: 4.4rem;
            height: 3.2rem;
            font-weight: 400;
            line-height: 2.6666666667;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
            left: 3.9rem;
            top: 0;
            font-size: 1.2rem;
          }
        }
      }
    }
    .auto-group-8hat-4rG {
      width: 30.1rem;
      height: 100%;
      align-items: center;
      display: flex;
      margin-right: 17.2rem;
      padding: 5.1rem 2.3rem 2.6rem 2.6rem;
      flex-direction: column;
      background-color: #ffffff;
      border-radius: 5rem;
      flex-shrink: 0;
      box-sizing: border-box;

      .pillow-2-Nc4 {
        margin: 0rem 0.3rem 1.5rem 0rem;
        width: 24.3rem;
        height: 23.6rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .upcycled-cushion-248-tqJ {
        color: #000000;
        align-items: baseline;
        flex-shrink: 0;
        margin: 0rem 0.4rem 1.6rem 0rem;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        font-size: 1.2rem;

        .upcycled-cushion-248-tqJ-sub-0 {
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.2rem;
        }
        .upcycled-cushion-248-tqJ-sub-1 {
        }
        .upcycled-cushion-248-tqJ-sub-2 {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .auto-group-tnh2-mGp {
        margin-left: 0.1rem;
        width: calc(100% - 0.1rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-p4fe-JnY {
          margin: 0rem 2.7rem 0.1rem 0rem;
          width: 11.2rem;
          height: 3.2rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-890-ERJ {
            width: 11.2rem;
            height: 2rem;
            position: absolute;
            left: 0;
            top: 0.7rem;
            background-color: #000000;
          }
          .add-to-cart-ZyN {
            left: 3.4rem;
            font-size: 1.2rem;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 6.4rem;
            height: 3.2rem;
            position: absolute;
            top: 0;
            font-weight: 400;
            line-height: 2.6666666667;
          }
          .item--UqS {
            top: 0.968rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.9025rem;
            height: 1.3477rem;
            position: absolute;
            left: 0.768rem;
          }
        }
        .auto-group-uqdi-cAx {
          position: relative;
          flex-shrink: 0;
          margin-top: 0.1rem;
          width: 11.2rem;
          height: 3.2rem;

          .rectangle-889-YqJ {
            position: absolute;
            left: 0;
            top: 0.5rem;
            background-color: #000000;
            width: 11.2rem;
            height: 2rem;
          }
          .vector-hCQ {
            top: 0.8rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.3991rem;
            height: 1.2983rem;
            position: absolute;
            left: 1.6477rem;
          }
          .wishlist-2Va {
            height: 3.2rem;
            left: 4.2rem;
            font-size: 1.2rem;
            line-height: 2.6666666667;
            color: #ffffff;
            white-space: nowrap;
            width: 4.4rem;
            position: absolute;
            top: 0;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
          }
        }
      }
    }
    .auto-group-cxpe-Wfe {
      padding: 3.5rem 2.2rem 2.7rem 2.2rem;
      height: 100%;
      align-items: center;
      display: flex;
      border-radius: 5rem;
      box-sizing: border-box;
      width: 30.1rem;
      flex-direction: column;
      background-color: #ffffff;
      flex-shrink: 0;

      .fabric-scrap-2-Rnc {
        height: 25.2rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0rem 1.5rem 0.1rem;
        width: 25.6rem;
      }
      .artistry-fabric-465-wkx {
        font-weight: 400;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        margin: 0rem 0.7rem 1.6rem 0rem;
        font-size: 1.2rem;
        display: flex;
        align-items: baseline;
        flex-shrink: 0;
        line-height: 1.2125;
        white-space: nowrap;

        .artistry-fabric-465-wkx-sub-0 {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .artistry-fabric-465-wkx-sub-1 {
        }
        .artistry-fabric-465-wkx-sub-2 {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .auto-group-xdvn-R3r {
        margin-right: 0.6rem;
        width: calc(100% - 0.6rem);
        height: 3.2rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-ftap-YuA {
          position: relative;
          flex-shrink: 0;
          margin-right: 2.7rem;
          width: 11.2rem;
          height: 100%;

          .rectangle-892-V3i {
            width: 11.2rem;
            height: 2rem;
            position: absolute;
            left: 0;
            top: 0.7rem;
            background-color: #000000;
          }
          .add-to-cart-bsS {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            height: 3.2rem;
            top: 0;
            font-weight: 400;
            line-height: 2.6666666667;
            color: #ffffff;
            width: 6.4rem;
            position: absolute;
            left: 3.4rem;
            font-size: 1.2rem;
          }
          .item--Jmr {
            object-fit: contain;
            vertical-align: top;
            width: 1.9025rem;
            height: 1.3477rem;
            position: absolute;
            left: 0.768rem;
            top: 0.968rem;
          }
        }
        .auto-group-8dyn-2Sx {
          width: 11.2rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .rectangle-891-Zxg {
            height: 2rem;
            position: absolute;
            left: 0;
            top: 0.6rem;
            background-color: #000000;
            width: 11.2rem;
          }
          .vector-JvG {
            left: 1.4172rem;
            top: 1rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.3991rem;
            height: 1.2983rem;
            position: absolute;
          }
          .wishlist-qfJ {
            font-weight: 400;
            line-height: 2.6666666667;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            width: 4.4rem;
            position: absolute;
            left: 4.2rem;
            top: 0;
            font-size: 1.2rem;
            white-space: nowrap;
            height: 3.2rem;
          }
        }
      }
    }
  }
  .footer-iyz {
    left: 0;
    top: 127.3rem;
    width: 153.6rem;
    height: 26.6094rem;
    position: absolute;

    .rectangle-3-Fyv {
      height: 24.9998rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #222222;
      width: 153.6rem;
    }
    .scrap-symphoy-sanctuary-aims-to-promote-innovation-in-the-digital-commerce-ecosystem-by-providing-a-platform-for-startups-and-entrepreneurs-to-develop-new-services-and-solutions-also-supports-digital-commerce-including-online-payments-e-commerce-and-financial-services-cJg {
      left: 12.2rem;
      top: 4.8992rem;
      display: flex;
      letter-spacing: 0.01rem;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      width: 43.7rem;
      position: absolute;
      font-weight: 400;
      line-height: 2.2;
      height: 8.8rem;
      font-size: 1rem;
    }
    .frame-35-PTr {
      left: 117.8rem;
      top: 1.993rem;
      width: 14.4rem;
      height: 16.5rem;
      position: absolute;

      .pages-7ue {
        line-height: 2.25;
        letter-spacing: 0.012rem;
        margin-bottom: 2rem;
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 700;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        justify-content: center;
        color: #ffffff;
      }
      .frame-39-EUU {
        width: 100%;
        row-gap: 1rem;
        display: flex;
        flex-direction: column;

        .about-us-aYL {
          display: flex;
          font-weight: 400;
          letter-spacing: 0.01rem;
          color: #ffffff;
          font-size: 1rem;
          line-height: 2.2;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .return-policy-JUL {
          display: flex;
          font-size: 1rem;
          font-weight: 400;
          letter-spacing: 0.01rem;
          line-height: 2.2;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .contact-us-pxU {
          font-size: 1rem;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          font-weight: 400;
          line-height: 2.2;
          letter-spacing: 0.01rem;
          flex-shrink: 0;
        }
        .refund-cancellation-policies-ZfA {
          font-size: 1rem;
          font-weight: 400;
          color: #ffffff;
          flex-shrink: 0;
          display: flex;
          line-height: 2.2;
          letter-spacing: 0.01rem;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .social-media-69J {
      height: 3rem;
      position: absolute;
      left: 13.018rem;
      top: 15.1109rem;
      display: flex;
      align-items: center;
      width: 17.362rem;

      .vector-ctL {
        margin: 0rem 4.035rem 0rem 0rem;
        width: 2.9268rem;
        height: 2.9268rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-jCG {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 4.0344rem;
        width: 3.2195rem;
        height: 3rem;
        object-fit: contain;
      }
      .vector-Ghz {
        margin-top: 0.0013rem;
        width: 3.1463rem;
        height: 2.6341rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .rectangle-12-1fa {
      background-color: #555555;
      width: 153.6rem;
      height: 4.3rem;
      position: absolute;
      left: 0;
      top: 20.7rem;
    }
    .frame-40-9Wt {
      position: absolute;
      left: 14.1rem;
      top: 21.3rem;
      align-items: flex-start;
      width: 29.8667rem;
      height: 5.3094rem;
      display: flex;
      box-sizing: border-box;
      padding-right: 19.3667rem;

      .mask-group-sBz {
        margin-right: 4.5rem;
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .mask-group-QSp {
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .scrap-symphony-sanctuary-all-rights-reserved-Z4p {
      width: 27.4rem;
      position: absolute;
      font-weight: 700;
      color: #ffffff;
      line-height: 2.2;
      letter-spacing: 0.01rem;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.2rem;
      left: 114.1rem;
      top: 22.1133rem;
      font-size: 1rem;
    }
    .terms-condition-privacy-policy-S8c {
      font-family: Open Sans, 'Source Sans Pro';
      height: 2.2rem;
      position: absolute;
      top: 22.1133rem;
      line-height: 2.2;
      color: #ffffff;
      white-space: nowrap;
      width: 18.5rem;
      left: 65.9rem;
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: 0.01rem;
    }
  }
  .item--j7i {
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
    border-radius: 5rem;
    left: 64.7rem;
    color: #fff7e9;
    white-space: nowrap;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 0.024rem;
    background-color: #f16713;
    height: 5rem;
    position: absolute;
    width: 26.8rem;
    top: 60.8rem;
    line-height: 1.3333333333;
    font-family: Oswald, 'Source Sans Pro';
    box-sizing: border-box;
    padding: 0.4rem 5.15rem;
  }
}
