
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.5rem;
}.creative-paper-y4x {
  background-image: url('REPLACE_IMAGE:4db7a63002ededecb5f49fec65723cca71659456');
  height: 152.3rem;
  position: relative;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  background-color: #ffffff;

  .item--UnQ {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #777777;
    box-sizing: border-box;
    padding: 1rem 69.2rem;
    width: 153.6rem;
    height: 4.2rem;

    .frame-427319517-no6 {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;

      .group-2-wAC {
        height: 1.6422rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1rem 0rem 0rem;
        width: 2.2rem;
      }
      .made-for-india-3yv {
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.375;
        color: #ffffff;
        font-family: Merriweather, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
  .auto-group-syau-Mji {
    width: 146.2029rem;
    height: 4.5832rem;
    position: absolute;
    left: 3rem;
    top: 8.1rem;
    display: flex;
    align-items: center;

    .scrap3-removebg-preview-59-g1J {
      margin: 0rem 0.003rem 0.583rem 0rem;
      width: 4.7467rem;
      height: 4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .scrap-symphony-sanctuary-ym6 {
      align-items: center;
      font-size: 1.4rem;
      color: #f7fbff;
      font-family: Oswald, 'Source Sans Pro';
      margin: 0rem 13.35rem 0.083rem 0rem;
      display: flex;
      justify-content: center;
      font-weight: 700;
      line-height: 1.4825;
      letter-spacing: 0.028rem;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .home-scrap-section-creative-section-about-us-contact-us-ecL {
      font-family: Open Sans, 'Source Sans Pro';
      flex-shrink: 0;
      font-size: 1.6rem;
      line-height: 1.5625;
      letter-spacing: 0.016rem;
      white-space: nowrap;
      margin: 0.717rem 5.2rem 0rem 0rem;
      font-weight: 400;
      color: #f6fbff;
    }
    .auto-group-pxxc-j7z {
      padding: 0.3rem 27.9rem 0.3rem 0.838rem;
      height: calc(100% - 1.4832rem);
      display: flex;
      align-items: center;
      box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
      background-color: #f6fbff;
      margin: 1.1rem 1.713rem 0.383rem 0rem;
      box-sizing: border-box;
      flex-shrink: 0;

      .group-1rC {
        margin: 0.073rem 1.062rem 0rem 0rem;
        width: 2rem;
        height: 1.6rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .search-LNg {
        color: #555555;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3888888889;
        letter-spacing: 0.018rem;
      }
    }
    .vector-R9E {
      width: 3.9974rem;
      height: 3.8949rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.688rem 1.62rem 0rem 0rem;
    }
    .item--8ZS {
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.679rem 2.073rem 0rem 0rem;
      width: 3.7029rem;
      height: 3.0931rem;
    }
    .layer1-3wJ {
      margin-top: 0.6883rem;
      width: 3.9974rem;
      height: 3.8949rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-l3ye-C3W {
    align-items: center;
    background-color: #ffffff;
    box-sizing: border-box;
    height: 36.3rem;
    position: absolute;
    top: 20.4rem;
    padding: 3.8rem 4.4rem 3.8rem 2.6rem;
    width: 153.6rem;
    left: 0;
    display: flex;

    .screenshot-2024-01-22-131642-11-68t {
      margin-right: 16.3rem;
      width: 55.6rem;
      height: 28.7rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-hufa-CSp {
      flex-shrink: 0;
      margin-bottom: 7.4rem;
      display: flex;
      flex-direction: column;

      .why-recycling-is-important--9N4 {
        margin-bottom: 2.4rem;
        font-size: 2.4rem;
        line-height: 1.3333333333;
        font-family: Oswald, 'Source Sans Pro';
        white-space: nowrap;
        font-weight: 600;
        letter-spacing: 0.024rem;
        color: #000000;
        flex-shrink: 0;
      }
      .recycling-is-crucial-for-conserving-natural-resources-and-reducing-environmental-impact-it-minimizes-the-need-for-raw-material-extraction-lowers-energy-consumption-in-manufacturing-and-decreases-the-volume-of-waste-in-landfills-by-recycling-we-contribute-to-sustainability-reduce-pollution-and-promote-a-circular-economy-3iL {
        color: #000000;
        font-family: Oswald, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 74.7rem;
        font-size: 2rem;
        font-weight: 300;
        line-height: 2.25;
      }
    }
  }
  .auto-group-pacc-DmE {
    justify-content: center;
    font-weight: 600;
    line-height: 1.3333333333;
    top: 69.9rem;
    letter-spacing: 0.024rem;
    height: 6.3rem;
    position: absolute;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    font-size: 2.4rem;
    color: #000000;
    font-family: Oswald, 'Source Sans Pro';
    white-space: nowrap;
    width: 153.6rem;
    left: 0;
  }
  .auto-group-vdfa-JGt {
    width: 125.4rem;
    height: 39.2rem;
    position: absolute;
    left: 13.8rem;
    top: 83.5rem;
    display: flex;
    align-items: center;

    .auto-group-hzsx-2Tn {
      box-sizing: border-box;
      padding: 5.1rem 1.9rem 2.6rem 2rem;
      align-items: center;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 17.9rem;
      width: 30.1rem;
      height: 100%;
      display: flex;
      background-color: #ffffff;
      border-radius: 5rem;

      .scrapbook-2-LDa {
        height: 21.9rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 3.5rem;
        width: 26.2rem;
      }
      .paper-chronicles-210-U4t {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.2125;
        color: #000000;
        display: flex;
        align-items: baseline;
        flex-shrink: 0;
        margin: 0rem 1.3rem 1.3rem 0rem;

        .paper-chronicles-210-U4t-sub-0 {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
        }
        .paper-chronicles-210-U4t-sub-1 {
        }
        .paper-chronicles-210-U4t-sub-2 {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .paper-chronicles-210-U4t-sub-3 {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .auto-group-8cul-pRa {
        margin: 0rem 0.9rem 0rem 0.2rem;
        width: calc(100% - 1.1rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-27fz-8x4 {
          margin: 0rem 2.7rem 0.1rem 0rem;
          width: 11.2rem;
          height: 3.2rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-888-evQ {
            left: 0;
            top: 0.7rem;
            background-color: #000000;
            width: 11.2rem;
            height: 2rem;
            position: absolute;
          }
          .add-to-cart-bKr {
            top: 0;
            line-height: 2.6666666667;
            color: #ffffff;
            height: 3.2rem;
            position: absolute;
            left: 3.4rem;
            font-size: 1.2rem;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 6.4rem;
          }
          .item--uLY {
            height: 1.3477rem;
            position: absolute;
            left: 0.768rem;
            top: 0.968rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.9025rem;
          }
        }
        .auto-group-dg36-R3z {
          margin-top: 0.1rem;
          width: 11.2rem;
          height: 3.2rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-887-xJp {
            height: 2rem;
            position: absolute;
            left: 0;
            top: 0.5rem;
            background-color: #000000;
            width: 11.2rem;
          }
          .vector-6A8 {
            left: 1.2797rem;
            top: 0.6453rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.3991rem;
            height: 1.2983rem;
            position: absolute;
          }
          .wishlist-cuA {
            position: absolute;
            top: 0;
            font-weight: 400;
            line-height: 2.6666666667;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 4.4rem;
            height: 3.2rem;
            left: 3.9rem;
            font-size: 1.2rem;
            color: #ffffff;
          }
        }
      }
    }
    .auto-group-8e8l-Vi4 {
      flex-shrink: 0;
      margin-right: 17.2rem;
      width: 30.1rem;
      height: 100%;
      align-items: center;
      display: flex;
      border-radius: 5rem;
      box-sizing: border-box;
      padding: 5.1rem 1.9rem 2.6rem 1.8rem;
      flex-direction: column;
      background-color: #ffffff;

      .paper-clock-2-D8G {
        height: 23.3rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 2.5rem;
        width: 26.4rem;
      }
      .renew-clock-388-wpx {
        flex-shrink: 0;
        margin: 0rem 0.5rem 0.9rem 0rem;
        color: #000000;
        display: flex;
        align-items: baseline;
        white-space: nowrap;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';

        .renew-clock-388-wpx-sub-0 {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .renew-clock-388-wpx-sub-1 {
        }
        .renew-clock-388-wpx-sub-2 {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .renew-clock-388-wpx-sub-3 {
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 400;
        }
      }
      .auto-group-yi3w-cZi {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 0.4rem 0rem 0.9rem;
        width: calc(100% - 1.3rem);
        display: flex;

        .auto-group-yqh2-kA8 {
          margin: 0rem 2.7rem 0.1rem 0rem;
          width: 11.2rem;
          height: 3.2rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-890-5TJ {
            left: 0;
            top: 0.7rem;
            background-color: #000000;
            width: 11.2rem;
            height: 2rem;
            position: absolute;
          }
          .add-to-cart-ci8 {
            top: 0;
            font-size: 1.2rem;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            width: 6.4rem;
            height: 3.2rem;
            line-height: 2.6666666667;
            color: #ffffff;
            white-space: nowrap;
            position: absolute;
            left: 3.4rem;
          }
          .item--jGx {
            width: 1.9025rem;
            height: 1.3477rem;
            position: absolute;
            left: 0.768rem;
            top: 0.968rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .auto-group-ckoz-4a8 {
          margin-top: 0.1rem;
          width: 11.2rem;
          height: 3.2rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-889-1EU {
            width: 11.2rem;
            height: 2rem;
            position: absolute;
            left: 0;
            top: 0.5rem;
            background-color: #000000;
          }
          .vector-M3S {
            top: 0.6453rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.3991rem;
            height: 1.2983rem;
            position: absolute;
            left: 1.5477rem;
          }
          .wishlist-grQ {
            white-space: nowrap;
            width: 4.4rem;
            top: 0;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            font-weight: 400;
            line-height: 2.6666666667;
            height: 3.2rem;
            position: absolute;
            left: 4.2rem;
            font-size: 1.2rem;
          }
        }
      }
    }
    .auto-group-g7ux-mcx {
      flex-shrink: 0;
      box-sizing: border-box;
      width: 30.1rem;
      height: 100%;
      background-color: #ffffff;
      border-radius: 5rem;
      padding: 3.3rem 2.8rem 2.7rem 2.2rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .cerative-paper-3-69S {
        margin: 0rem 0rem 0.8rem 0.4rem;
        width: 18.9rem;
        height: 26rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .papertail-bird-283-p5S {
        white-space: nowrap;
        display: flex;
        margin: 0rem 0.2rem 1.7rem 0rem;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.2rem;
        font-weight: 400;
        align-items: baseline;
        flex-shrink: 0;

        .papertail-bird-283-p5S-sub-0 {
        }
        .papertail-bird-283-p5S-sub-1 {
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.2rem;
        }
      }
      .auto-group-spsu-Q3e {
        width: 100%;
        height: 3.2rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-ijpl-YQk {
          width: 11.2rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;
          margin-right: 2.7rem;

          .rectangle-892-UpC {
            top: 0.7rem;
            background-color: #000000;
            width: 11.2rem;
            height: 2rem;
            position: absolute;
            left: 0;
          }
          .add-to-cart-oLg {
            white-space: nowrap;
            width: 6.4rem;
            left: 3.4rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 2.6666666667;
            height: 3.2rem;
            position: absolute;
            top: 0;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
          }
          .item--7cG {
            height: 1.3477rem;
            position: absolute;
            left: 0.768rem;
            top: 0.968rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.9025rem;
          }
        }
        .auto-group-dpng-Ewn {
          width: 11.2rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .rectangle-891-PJt {
            width: 11.2rem;
            height: 2rem;
            position: absolute;
            left: 0;
            top: 0.6rem;
            background-color: #000000;
          }
          .vector-8GU {
            height: 1.2983rem;
            position: absolute;
            left: 1.4172rem;
            top: 0.8453rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.3991rem;
          }
          .wishlist-4fv {
            left: 4.2rem;
            line-height: 2.6666666667;
            color: #ffffff;
            white-space: nowrap;
            width: 4.4rem;
            height: 3.2rem;
            position: absolute;
            top: 0;
            font-size: 1.2rem;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
          }
        }
      }
    }
  }
  .footer-wUp {
    width: 153.6rem;
    height: 26.6094rem;
    position: absolute;
    left: 0;
    top: 127.3rem;

    .rectangle-3-GGC {
      height: 24.9998rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #222222;
      width: 153.6rem;
    }
    .scrap-symphoy-sanctuary-aims-to-promote-innovation-in-the-digital-commerce-ecosystem-by-providing-a-platform-for-startups-and-entrepreneurs-to-develop-new-services-and-solutions-also-supports-digital-commerce-including-online-payments-e-commerce-and-financial-services-DBS {
      width: 43.7rem;
      height: 8.8rem;
      position: absolute;
      left: 12.2rem;
      top: 4.8992rem;
      letter-spacing: 0.01rem;
      color: #ffffff;
      display: flex;
      font-size: 1rem;
      font-weight: 400;
      line-height: 2.2;
      font-family: Open Sans, 'Source Sans Pro';
    }
    .frame-35-BXa {
      width: 14.4rem;
      height: 16.5rem;
      position: absolute;
      left: 117.8rem;
      top: 1.993rem;

      .pages-WZr {
        letter-spacing: 0.012rem;
        color: #ffffff;
        font-family: Open Sans, 'Source Sans Pro';
        width: 100%;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 700;
        white-space: nowrap;
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
        line-height: 2.25;
      }
      .frame-39-2HJ {
        flex-direction: column;
        width: 100%;
        row-gap: 1rem;
        display: flex;

        .about-us-N6G {
          line-height: 2.2;
          letter-spacing: 0.01rem;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 1rem;
          font-weight: 400;
          color: #ffffff;
        }
        .return-policy-VAt {
          font-weight: 400;
          line-height: 2.2;
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
          display: flex;
          font-size: 1rem;
          letter-spacing: 0.01rem;
          color: #ffffff;
          white-space: nowrap;
        }
        .contact-us-Dcg {
          letter-spacing: 0.01rem;
          color: #ffffff;
          flex-shrink: 0;
          display: flex;
          font-size: 1rem;
          font-weight: 400;
          line-height: 2.2;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
        }
        .refund-cancellation-policies-ZAk {
          display: flex;
          line-height: 2.2;
          color: #ffffff;
          flex-shrink: 0;
          font-size: 1rem;
          font-weight: 400;
          letter-spacing: 0.01rem;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .social-media-UoW {
      display: flex;
      align-items: center;
      width: 17.362rem;
      height: 3rem;
      position: absolute;
      left: 13.018rem;
      top: 15.1109rem;

      .vector-1YY {
        margin: 0rem 4.035rem 0rem 0rem;
        width: 2.9268rem;
        height: 2.9268rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-8dA {
        margin-right: 4.0344rem;
        width: 3.2195rem;
        height: 3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-US8 {
        flex-shrink: 0;
        margin-top: 0.0013rem;
        width: 3.1463rem;
        height: 2.6341rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .rectangle-12-coE {
      width: 153.6rem;
      height: 4.3rem;
      position: absolute;
      left: 0;
      top: 20.7rem;
      background-color: #555555;
    }
    .frame-40-A44 {
      top: 21.3rem;
      display: flex;
      box-sizing: border-box;
      padding-right: 19.3667rem;
      width: 29.8667rem;
      position: absolute;
      height: 5.3094rem;
      left: 14.1rem;
      align-items: flex-start;

      .mask-group-TYx {
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 4.5rem;
        width: 3rem;
      }
      .mask-group-oMv {
        flex-shrink: 0;
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .scrap-symphony-sanctuary-all-rights-reserved-kHA {
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      left: 114.1rem;
      font-weight: 700;
      position: absolute;
      top: 22.1133rem;
      font-size: 1rem;
      line-height: 2.2;
      letter-spacing: 0.01rem;
      white-space: nowrap;
      width: 27.4rem;
      height: 2.2rem;
    }
    .terms-condition-privacy-policy-dLx {
      left: 65.9rem;
      top: 22.1133rem;
      font-size: 1rem;
      font-weight: 700;
      line-height: 2.2;
      letter-spacing: 0.01rem;
      width: 18.5rem;
      position: absolute;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.2rem;
      color: #ffffff;
    }
  }
  .item--vL4 {
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
    height: 5rem;
    top: 60.8rem;
    font-size: 2.4rem;
    font-family: Oswald, 'Source Sans Pro';
    box-sizing: border-box;
    width: 26.8rem;
    position: absolute;
    font-weight: 700;
    line-height: 1.3333333333;
    white-space: nowrap;
    background-color: #f16713;
    padding: 0.4rem 5.15rem;
    left: 64.7rem;
    letter-spacing: 0.024rem;
    color: #fff7e9;
    border-radius: 5rem;
  }
}
