
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.5rem;
}.home-4RS {
  background-color: #ffffff;
  position: relative;
  display: flex;
  background-image: url('REPLACE_IMAGE:4db7a63002ededecb5f49fec65723cca71659456');
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  overflow: hidden;
  align-items: center;

  .item--Bkx {
    width: 100%;
    height: 4.2rem;
    background-color: #777777;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1rem 69.15rem;

    .frame-427319517-ugx {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .group-2-TiU {
        height: 1.6422rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1rem 0rem 0rem;
        width: 2.2rem;
      }
      .made-for-india-NaY {
        color: #ffffff;
        font-family: Merriweather, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.375;
      }
    }
  }
  .auto-group-aeqz-UtU {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.9rem 3.7rem 10.2rem 3rem;
    width: 100%;

    .auto-group-f2f6-PEk {
      margin: 0rem 1.203rem 6rem 0rem;
      height: 4.6rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .scrap3-removebg-preview-59-uD6 {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.003rem 0.6rem 0rem;
        width: 4.7467rem;
        height: 4rem;
        object-fit: cover;
      }
      .scrap-symphony-sanctuary-NsN {
        color: #f7fbff;
        font-family: Oswald, 'Source Sans Pro';
        margin: 0rem 13.95rem 0.1rem 0rem;
        align-items: center;
        justify-content: center;
        line-height: 1.4825;
        letter-spacing: 0.028rem;
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 700;
      }
      .home-scrap-section-creative-section-about-us-contact-us-f5n {
        margin: 0.7rem 4.6rem 0rem 0rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5625;
        font-family: Open Sans, 'Source Sans Pro';
        letter-spacing: 0.016rem;
        color: #f6fbff;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-p9u8-jLY {
        box-sizing: border-box;
        padding: 0.2rem 28rem 0.4rem 1.038rem;
        height: calc(100% - 1.5rem);
        display: flex;
        align-items: center;
        background-color: #f6fbff;
        margin: 1.1rem 1.5rem 0.4rem 0rem;
        box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
        flex-shrink: 0;

        .group-2Ke {
          flex-shrink: 0;
          margin: 0rem 0.664rem 0.069rem 0rem;
          width: 2.0986rem;
          height: 1.8314rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
        }
        .search-Y36 {
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3888888889;
          letter-spacing: 0.018rem;
          color: #555555;
        }
      }
      .vector-ozc {
        margin: 0.6rem 1.63rem 0rem 0rem;
        width: 4rem;
        height: 3.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .item--8mz {
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.662rem 1.667rem 0rem 0rem;
        width: 3.7029rem;
        height: 3.0931rem;
      }
      .layer1-rhz {
        flex-shrink: 0;
        margin-top: 0.7rem;
        width: 3.9974rem;
        height: 3.9rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .item-4-1-nbe {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0rem 5.7rem 1.1rem;
      width: 145.7rem;
      height: 51.6rem;
      object-fit: cover;
    }
    .frame-427319542-Jpt {
      width: calc(100% - 122.6rem);
      font-size: 2.4rem;
      line-height: 0.7916666667;
      letter-spacing: 0.024rem;
      align-items: center;
      font-weight: 700;
      color: #fff7e9;
      font-family: Oswald, 'Source Sans Pro';
      display: flex;
      margin: 0rem 60.8rem 5.6rem 61.8rem;
      justify-content: center;
      box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
      height: 4.7rem;
      white-space: nowrap;
      background-color: #f16713;
      border-radius: 5rem;
      flex-shrink: 0;
    }
    .auto-group-sw96-vrG {
      margin: 0rem 8rem 14.7rem 9rem;
      width: calc(100% - 17rem);
      height: 39.2rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-nwgp-dVn {
        display: flex;
        flex-shrink: 0;
        margin-right: 19.7rem;
        box-sizing: border-box;
        padding: 3.3rem 3.03rem 2.9rem 2.5rem;
        width: 30.1rem;
        height: 100%;
        align-items: center;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 5rem;

        .creativedog-1-L9J {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0rem 0.482rem 0.4rem;
          width: 24.1701rem;
          height: 26.1179rem;
        }
        .garden-gnome-735-dPJ {
          align-items: baseline;
          margin: 0rem 0.77rem 1.5rem 0rem;
          font-weight: 400;
          line-height: 1.2125;
          white-space: nowrap;
          display: flex;
          flex-shrink: 0;
          font-size: 1.2rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';

          .garden-gnome-735-dPJ-sub-0 {
          }
          .garden-gnome-735-dPJ-sub-1 {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
          }
        }
        .auto-group-oygc-uEL {
          flex-shrink: 0;
          margin: 0rem 0.37rem 0rem 0.1rem;
          width: calc(100% - 0.4704rem);
          display: flex;
          align-items: center;

          .auto-group-3smz-pcC {
            margin: 0rem 1.7rem 0.2rem 0rem;
            width: 11.2rem;
            height: 3.2rem;
            position: relative;
            flex-shrink: 0;

            .rectangle-896-Y2Q {
              width: 11.2rem;
              height: 2rem;
              position: absolute;
              left: 0;
              top: 0.7rem;
              background-color: #000000;
            }
            .add-to-cart-rHz {
              width: 6.4rem;
              height: 3.2rem;
              top: 0;
              font-size: 1.2rem;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              position: absolute;
              left: 3.4rem;
              font-weight: 400;
              line-height: 2.6666666667;
              color: #ffffff;
            }
            .item--vHr {
              width: 1.9025rem;
              height: 1.3477rem;
              position: absolute;
              left: 0.768rem;
              top: 0.968rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .auto-group-zzyc-pe8 {
            width: 11.2rem;
            height: 3.2rem;
            position: relative;
            flex-shrink: 0;
            margin-top: 0.2rem;

            .rectangle-888-wCx {
              background-color: #000000;
              width: 11.2rem;
              height: 2rem;
              position: absolute;
              left: 0;
              top: 0.5rem;
            }
            .vector-fPr {
              object-fit: contain;
              vertical-align: top;
              width: 1.4rem;
              height: 1.3rem;
              position: absolute;
              left: 1.5rem;
              top: 0.8rem;
            }
            .wishlist-nUU {
              white-space: nowrap;
              width: 4.4rem;
              top: 0;
              font-size: 1.2rem;
              line-height: 2.6666666667;
              color: #ffffff;
              height: 3.2rem;
              position: absolute;
              left: 4.4rem;
              font-weight: 400;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
      }
      .auto-group-m948-eWg {
        width: 30.1rem;
        height: 100%;
        align-items: center;
        flex-direction: column;
        background-color: #ffffff;
        margin-right: 19.8rem;
        box-sizing: border-box;
        padding: 5.3rem 1.4rem 2.6rem 1.6rem;
        display: flex;
        border-radius: 5rem;
        flex-shrink: 0;

        .old-clothes-1-8we {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 2rem;
          width: 27.1rem;
          height: 22.6rem;
        }
        .vintage-attire-30-kg-fAt {
          margin-bottom: 1.768rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          align-items: baseline;
          font-size: 1.2rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          flex-shrink: 0;

          .vintage-attire-30-kg-fAt-sub-0 {
          }
          .vintage-attire-30-kg-fAt-sub-1 {
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
          }
        }
        .auto-group-7qvr-ogQ {
          margin: 0rem 1.3rem 0rem 1.4rem;
          width: calc(100% - 2.7rem);
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .auto-group-jims-7h6 {
            margin: 0rem 2rem 0.2rem 0rem;
            width: 11.2rem;
            height: 3.232rem;
            position: relative;
            flex-shrink: 0;

            .item--Rxg {
              vertical-align: top;
              width: 1.9025rem;
              height: 1.3477rem;
              position: absolute;
              left: 0.568rem;
              top: 0;
              object-fit: contain;
            }
            .rectangle-936-9Nt {
              height: 2rem;
              position: absolute;
              left: 0;
              top: 0.732rem;
              background-color: #000000;
              width: 11.2rem;
            }
            .add-to-cart-UAG {
              width: 6.4rem;
              height: 3.2rem;
              font-weight: 400;
              line-height: 2.6666666667;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              position: absolute;
              left: 3.4rem;
              top: 0.032rem;
              font-size: 1.2rem;
            }
            .item--xLL {
              position: absolute;
              left: 0.768rem;
              top: 1rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.9025rem;
              height: 1.3477rem;
            }
          }
          .auto-group-vs8y-Grp {
            position: relative;
            flex-shrink: 0;
            width: 11.2rem;
            height: 3.2rem;

            .rectangle-887-1ZW {
              left: 0;
              top: 0.5rem;
              background-color: #000000;
              width: 11.2rem;
              height: 2rem;
              position: absolute;
            }
            .vector-99v {
              object-fit: contain;
              vertical-align: top;
              width: 1.4rem;
              height: 1.3rem;
              position: absolute;
              left: 1.5rem;
              top: 0.8rem;
            }
            .wishlist-sLp {
              font-family: Inter, 'Source Sans Pro';
              position: absolute;
              top: 0;
              font-size: 1.2rem;
              line-height: 2.6666666667;
              color: #ffffff;
              width: 4.4rem;
              height: 3.2rem;
              left: 4.4rem;
              font-weight: 400;
              white-space: nowrap;
            }
          }
        }
      }
      .auto-group-adlp-9JL {
        height: 100%;
        align-items: center;
        background-color: #ffffff;
        box-sizing: border-box;
        padding: 2.8rem 2.2rem 2.9rem 1.8rem;
        flex-direction: column;
        border-radius: 5rem;
        flex-shrink: 0;
        width: 30.1rem;
        display: flex;

        .elctronics-old-1-1-qgx {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.2rem 1.3rem 0rem;
          width: 25.9rem;
          height: 25.2rem;
          object-fit: cover;
        }
        .circuit-symphony-relic-54-kg-wjz {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 0rem 2.1rem 1.4rem;
          color: #000000;
          white-space: nowrap;
          display: flex;
          align-items: baseline;

          .circuit-symphony-relic-54-kg-wjz-sub-0 {
          }
          .circuit-symphony-relic-54-kg-wjz-sub-1 {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
          }
        }
        .auto-group-thba-UdS {
          flex-shrink: 0;
          margin: 0rem 0.5rem 0rem 1.3rem;
          width: calc(100% - 1.8rem);
          display: flex;
          align-items: center;

          .auto-group-dzz6-QGC {
            flex-shrink: 0;
            margin: 0rem 1.7rem 0.2rem 0rem;
            width: 11.4rem;
            height: 3.2rem;
            position: relative;

            .rectangle-906-K8G {
              left: 0.2rem;
              top: 0.1rem;
              object-fit: contain;
              vertical-align: top;
              width: 11.2rem;
              height: 2rem;
              position: absolute;
            }
            .item--STn {
              object-fit: contain;
              vertical-align: top;
              width: 1.9025rem;
              height: 1.3477rem;
              position: absolute;
              left: 0.968rem;
              top: 0.368rem;
            }
            .rectangle-938-xwv {
              top: 0.7rem;
              background-color: #000000;
              width: 11.2rem;
              height: 2rem;
              position: absolute;
              left: 0;
            }
            .add-to-cart-Ghi {
              font-size: 1.2rem;
              color: #ffffff;
              width: 6.4rem;
              height: 3.2rem;
              position: absolute;
              left: 3.4rem;
              top: 0;
              font-weight: 400;
              line-height: 2.6666666667;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .item--NVr {
              object-fit: contain;
              vertical-align: top;
              width: 1.9025rem;
              height: 1.3477rem;
              position: absolute;
              left: 0.768rem;
              top: 0.968rem;
            }
          }
          .auto-group-qgyj-H72 {
            flex-shrink: 0;
            margin-top: 0.2rem;
            width: 11.2rem;
            height: 3.2rem;
            position: relative;

            .rectangle-939-DFa {
              position: absolute;
              left: 0;
              top: 0.5rem;
              background-color: #000000;
              width: 11.2rem;
              height: 2rem;
            }
            .vector-LLC {
              top: 0.8rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.4rem;
              height: 1.3rem;
              position: absolute;
              left: 1.5rem;
            }
            .wishlist-erg {
              width: 4.4rem;
              font-weight: 400;
              line-height: 2.6666666667;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              color: #ffffff;
              height: 3.2rem;
              position: absolute;
              left: 4.4rem;
              top: 0;
              font-size: 1.2rem;
            }
          }
        }
      }
    }
    .auto-group-bdzc-Khv {
      width: calc(100% - 16.6rem);
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      margin: 0rem 7.6rem 0rem 9rem;

      .auto-group-4sqa-S1r {
        margin-right: 20rem;
        width: 30.1rem;
        align-items: center;
        display: flex;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 5.7rem 1.8rem 3.6rem 1.8rem;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 5rem;

        .scrapbook-1-jFr {
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 1.7rem;
          width: 26.5rem;
          height: 21.8rem;
          object-fit: cover;
        }
        .paper-chronicles-210-Svx {
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
          align-items: baseline;
          margin: 0rem 0rem 1.5rem 0.1rem;
          font-size: 1.2rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          flex-shrink: 0;

          .paper-chronicles-210-Svx-sub-0 {
          }
          .paper-chronicles-210-Svx-sub-1 {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
          }
        }
        .auto-group-y7rw-1cg {
          flex-shrink: 0;
          margin: 0rem 1rem 0rem 0.8rem;
          width: calc(100% - 1.8rem);
          display: flex;
          align-items: center;

          .auto-group-mqcq-vje {
            height: 3.2rem;
            position: relative;
            flex-shrink: 0;
            margin: 0rem 2.3rem 0.2rem 0rem;
            width: 11.2rem;

            .rectangle-902-Sxt {
              height: 2rem;
              position: absolute;
              left: 0;
              top: 0.7rem;
              background-color: #000000;
              width: 11.2rem;
            }
            .add-to-cart-aJQ {
              line-height: 2.6666666667;
              color: #ffffff;
              position: absolute;
              left: 3.4rem;
              top: 0;
              font-weight: 400;
              white-space: nowrap;
              width: 6.4rem;
              height: 3.2rem;
              font-size: 1.2rem;
              font-family: Inter, 'Source Sans Pro';
            }
            .item--Ueg {
              width: 1.9025rem;
              height: 1.3477rem;
              position: absolute;
              left: 0.768rem;
              top: 0.968rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .auto-group-cb5n-yrL {
            flex-shrink: 0;
            margin-top: 0.2rem;
            width: 11.2rem;
            height: 3.2rem;
            position: relative;

            .rectangle-940-K9W {
              width: 11.2rem;
              height: 2rem;
              position: absolute;
              left: 0;
              top: 0.5rem;
              background-color: #000000;
            }
            .vector-rQL {
              object-fit: contain;
              vertical-align: top;
              width: 1.4rem;
              height: 1.3rem;
              position: absolute;
              left: 1.5rem;
              top: 0.8rem;
            }
            .wishlist-nYt {
              white-space: nowrap;
              width: 4.4rem;
              height: 3.2rem;
              left: 4.4rem;
              font-size: 1.2rem;
              font-family: Inter, 'Source Sans Pro';
              position: absolute;
              top: 0;
              font-weight: 400;
              line-height: 2.6666666667;
              color: #ffffff;
            }
          }
        }
      }
      .auto-group-hxde-URi {
        box-sizing: border-box;
        width: 30.1rem;
        flex-direction: column;
        flex-shrink: 0;
        background-color: #ffffff;
        border-radius: 5rem;
        margin: 0rem 19.9rem 1.1rem 0rem;
        padding: 3.3rem 3rem 2.5rem 2.5rem;
        align-items: center;
        display: flex;

        .creative-horse-1-mQp {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0rem 0.6rem 0.4rem;
          width: 18.2rem;
          height: 26.6rem;
        }
        .metallic-maverick-567-5RW {
          flex-shrink: 0;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          display: flex;
          align-items: baseline;
          margin: 0rem 1rem 1.3rem 0rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;

          .metallic-maverick-567-5RW-sub-0 {
          }
          .metallic-maverick-567-5RW-sub-1 {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .auto-group-ncf6-Exc {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          width: 100%;

          .auto-group-mkfw-zgt {
            height: 3.2rem;
            position: relative;
            flex-shrink: 0;
            margin: 0rem 2.2rem 0.2rem 0rem;
            width: 11.2rem;

            .rectangle-900-i76 {
              height: 2rem;
              position: absolute;
              left: 0;
              top: 0.7rem;
              background-color: #000000;
              width: 11.2rem;
            }
            .add-to-cart-FMv {
              white-space: nowrap;
              left: 3.4rem;
              font-size: 1.2rem;
              font-weight: 400;
              font-family: Inter, 'Source Sans Pro';
              line-height: 2.6666666667;
              color: #ffffff;
              width: 6.4rem;
              height: 3.2rem;
              position: absolute;
              top: 0;
            }
            .item--xn8 {
              top: 0.968rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.9025rem;
              height: 1.3477rem;
              position: absolute;
              left: 0.768rem;
            }
          }
          .auto-group-5hre-67e {
            margin-top: 0.2rem;
            width: 11.2rem;
            height: 3.2rem;
            position: relative;
            flex-shrink: 0;

            .rectangle-941-2mz {
              width: 11.2rem;
              height: 2rem;
              position: absolute;
              left: 0;
              top: 0.5rem;
              background-color: #000000;
            }
            .vector-aYc {
              object-fit: contain;
              vertical-align: top;
              width: 1.4rem;
              height: 1.3rem;
              position: absolute;
              left: 1.5rem;
              top: 0.8rem;
            }
            .wishlist-KWC {
              left: 4.4rem;
              top: 0;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              width: 4.4rem;
              position: absolute;
              font-weight: 400;
              line-height: 2.6666666667;
              white-space: nowrap;
              height: 3.2rem;
              font-size: 1.2rem;
            }
          }
        }
      }
      .auto-group-xugp-7S4 {
        box-sizing: border-box;
        padding: 4.4rem 1.9rem 3.2rem 1.8rem;
        display: flex;
        border-radius: 5rem;
        flex-shrink: 0;
        width: 30.1rem;
        align-items: center;
        flex-direction: column;
        background-color: #ffffff;

        .mirror-old-3-1-2Z2 {
          margin-bottom: 0.7rem;
          width: 26.4rem;
          height: 24.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .shattered-reflection-27-kg-mFi {
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          align-items: baseline;
          margin: 0rem 0rem 1.7rem 0.4rem;
          font-size: 1.2rem;
          white-space: nowrap;
          flex-shrink: 0;

          .shattered-reflection-27-kg-mFi-sub-0 {
          }
          .shattered-reflection-27-kg-mFi-sub-1 {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .auto-group-cykn-vXv {
          width: calc(100% - 1.7rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 0.6rem 0rem 1.1rem;

          .auto-group-qr5a-Fq6 {
            height: 3.2rem;
            position: relative;
            flex-shrink: 0;
            margin: 0rem 2.3rem 0.2rem 0rem;
            width: 11.2rem;

            .rectangle-904-moS {
              width: 11.2rem;
              height: 2rem;
              position: absolute;
              left: 0;
              top: 0.7rem;
              background-color: #000000;
            }
            .add-to-cart-76c {
              position: absolute;
              left: 3.4rem;
              font-weight: 400;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              width: 6.4rem;
              height: 3.2rem;
              top: 0;
              font-size: 1.2rem;
              line-height: 2.6666666667;
              color: #ffffff;
            }
            .item--R7J {
              top: 0.968rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.9025rem;
              height: 1.3477rem;
              position: absolute;
              left: 0.768rem;
            }
          }
          .auto-group-ozha-wLY {
            margin-top: 0.2rem;
            width: 11.2rem;
            height: 3.2rem;
            position: relative;
            flex-shrink: 0;

            .rectangle-942-4vx {
              width: 11.2rem;
              height: 2rem;
              position: absolute;
              left: 0;
              top: 0.5rem;
              background-color: #000000;
            }
            .vector-D3A {
              width: 1.4rem;
              height: 1.3rem;
              position: absolute;
              left: 1.5rem;
              top: 0.8rem;
              object-fit: contain;
              vertical-align: top;
            }
            .wishlist-k36 {
              width: 4.4rem;
              height: 3.2rem;
              top: 0;
              font-weight: 400;
              color: #ffffff;
              position: absolute;
              left: 4.4rem;
              font-size: 1.2rem;
              line-height: 2.6666666667;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
  .auto-group-b3hn-1ji {
    flex-shrink: 0;
    margin-bottom: 5.1rem;
    width: 100%;
    height: 37.5rem;
    display: flex;
    align-items: center;

    .auto-group-yaxw-MHn {
      height: 100%;
      position: relative;
      flex-shrink: 0;
      margin-right: 1.15rem;
      width: 73.4rem;

      .photo-Vet {
        top: 4.5rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1.6rem 0 0 1.6rem;
        width: 51.7rem;
        height: 28.5rem;
        position: absolute;
        left: 0;
      }
      .our-story-cjW {
        position: absolute;
        left: 35.5rem;
        top: 0;
        background-color: #ffffff;
        box-sizing: border-box;
        padding: 5.95rem 4.5rem 5.95rem 4rem;
        width: 37.1rem;
        height: 37.5rem;

        .experience-indias-biggest-scrap-revolution-Ktp {
          text-align: center;
          font-size: 4rem;
          font-weight: 700;
          line-height: 1.6;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          max-width: 28.6rem;
        }
      }
    }
    .auto-group-uhs2-Rwr {
      position: relative;
      flex-shrink: 0;
      width: 80.4121rem;
      height: 100%;

      .circle-add-1-BRE {
        height: 37.5rem;
        position: absolute;
        left: 39.05rem;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 41.3621rem;
      }
      .learn-more-WyJ {
        position: absolute;
        left: 0;
        top: 6.1rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 41.1rem;
        height: 26.9rem;

        .purchase-products-or-services-from-a-huge-catalogue-of-sellers-across-india-find-your-local-grocery-apparel-or-utility-shops-online-Ffz {
          max-width: 41.1rem;
          line-height: 1.40625;
          color: #f6fbff;
          margin-bottom: 3.3rem;
          text-align: center;
          font-size: 3.2rem;
          font-weight: 300;
          font-family: Oswald, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .button-tU4 {
          text-align: center;
          font-size: 1.6rem;
          line-height: 1.375;
          justify-content: center;
          flex-shrink: 0;
          margin: 0 4.8rem;
          color: #000000;
          white-space: nowrap;
          background-color: #f6fac9;
          border-radius: 1.5rem;
          width: calc(100% - 9.6rem);
          font-weight: 400;
          display: flex;
          align-items: center;
          height: 5.6rem;
          font-family: Oswald, 'Source Sans Pro';
        }
      }
    }
  }
  .footer-wx8 {
    width: 100%;
    height: 26.6094rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-3-5He {
      background-color: #222222;
      width: 153.5rem;
      height: 24.9998rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .scrap-symphoy-sanctuary-aims-to-promote-innovation-in-the-digital-commerce-ecosystem-by-providing-a-platform-for-startups-and-entrepreneurs-to-develop-new-services-and-solutions-also-supports-digital-commerce-including-online-payments-e-commerce-and-financial-services-DPr {
      left: 12.1922rem;
      display: flex;
      line-height: 2.2;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      width: 43.7rem;
      position: absolute;
      font-size: 1rem;
      font-weight: 400;
      letter-spacing: 0.01rem;
      height: 8.8rem;
      top: 4.8992rem;
    }
    .frame-35-xkk {
      position: absolute;
      left: 117.7234rem;
      top: 1.993rem;
      width: 14.4rem;
      height: 16.5rem;

      .pages-UUC {
        display: flex;
        align-items: center;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2rem;
        justify-content: center;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 2.25;
        letter-spacing: 0.012rem;
        color: #ffffff;
        width: 100%;
      }
      .frame-39-ZEk {
        width: 100%;
        row-gap: 1rem;
        display: flex;
        flex-direction: column;

        .about-us-Gur {
          line-height: 2.2;
          letter-spacing: 0.01rem;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 1rem;
          font-weight: 400;
        }
        .return-policy-MwJ {
          line-height: 2.2;
          letter-spacing: 0.01rem;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 1rem;
          font-weight: 400;
          color: #ffffff;
        }
        .contact-us-TjS {
          font-weight: 400;
          line-height: 2.2;
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
          display: flex;
          font-size: 1rem;
          letter-spacing: 0.01rem;
          color: #ffffff;
          white-space: nowrap;
        }
        .refund-cancellation-policies-Adr {
          font-weight: 400;
          line-height: 2.2;
          letter-spacing: 0.01rem;
          color: #ffffff;
          white-space: nowrap;
          display: flex;
          font-size: 1rem;
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
    }
    .social-media-gcC {
      height: 3rem;
      position: absolute;
      left: 13.0039rem;
      top: 15.1109rem;
      display: flex;
      align-items: center;
      width: 17.362rem;

      .vector-CqS {
        height: 2.9268rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 4.035rem 0rem 0rem;
        width: 2.9268rem;
      }
      .vector-KQG {
        margin-right: 4.0344rem;
        width: 3.2195rem;
        height: 3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-TmN {
        margin-top: 0.0013rem;
        width: 3.1463rem;
        height: 2.6341rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .rectangle-12-QAp {
      left: 0;
      top: 20.7rem;
      background-color: #555555;
      width: 153.5rem;
      height: 4.3rem;
      position: absolute;
    }
    .frame-40-YH2 {
      height: 5.3094rem;
      position: absolute;
      display: flex;
      align-items: flex-start;
      box-sizing: border-box;
      padding-right: 19.3667rem;
      width: 29.8667rem;
      left: 14.0906rem;
      top: 21.3rem;

      .mask-group-Fx8 {
        margin-right: 4.5rem;
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .mask-group-Q4L {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 3rem;
        height: 3rem;
        position: relative;
      }
    }
    .scrap-symphony-sanctuary-all-rights-reserved-LTn {
      width: 27.4rem;
      height: 2.2rem;
      top: 22.1133rem;
      font-weight: 700;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 114.0258rem;
      font-size: 1rem;
      line-height: 2.2;
      letter-spacing: 0.01rem;
      color: #ffffff;
    }
    .terms-condition-privacy-policy-1K2 {
      letter-spacing: 0.01rem;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      width: 18.5rem;
      position: absolute;
      left: 65.857rem;
      top: 22.1133rem;
      font-size: 1rem;
      white-space: nowrap;
      height: 2.2rem;
      font-weight: 700;
      line-height: 2.2;
    }
  }
}
