
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.home-6-oi4 {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 70.2rem;

  .black1-67-vXn {
    position: absolute;
    left: 0;
    top: 1.7rem;
    object-fit: cover;
    vertical-align: top;
    width: 153.6rem;
    height: 68.5rem;
  }
  .rectangle-901-eya {
    width: 153.6rem;
    height: 4.3rem;
    position: absolute;
    left: 0;
    top: 65.9rem;
    background-color: #5b5b5b;
  }
  .item--bP2 {
    height: 5.3094rem;
    position: absolute;
    left: 14.1rem;
    width: 29.8667rem;
    padding-right: 19.3667rem;
    top: 66.3rem;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;

    .mask-group-6Kn {
      width: 3rem;
      height: 3rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 4.5rem;
    }
    .mask-group-S8k {
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 3rem;
      height: 3rem;
    }
  }
  .terms-condition-privacy-policy-No6 {
    white-space: nowrap;
    height: 2.2rem;
    left: 65.9rem;
    line-height: 2.2;
    font-family: Open Sans, 'Source Sans Pro';
    font-weight: 700;
    letter-spacing: 0.01rem;
    color: #ffffff;
    width: 18.5rem;
    position: absolute;
    top: 66.8rem;
    font-size: 1rem;
  }
  .scrap-symphony-sanctuary-all-rights-reserved-TJk {
    font-weight: 700;
    letter-spacing: 0.01rem;
    width: 27.4rem;
    top: 66.8rem;
    font-size: 1rem;
    line-height: 2.2;
    color: #ffffff;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.2rem;
    position: absolute;
    left: 114.1rem;
  }
  .scrap3-removebg-preview-68-XZW {
    width: 4.7467rem;
    height: 4rem;
    position: absolute;
    left: 2.4rem;
    top: 5.1rem;
    object-fit: cover;
    vertical-align: top;
  }
  .scrap-symphony-sanctuary-ee8 {
    line-height: 1.4825;
    letter-spacing: 0.028rem;
    display: flex;
    position: absolute;
    left: 7.25rem;
    font-family: Oswald, 'Source Sans Pro';
    width: 16.2rem;
    justify-content: center;
    font-weight: 700;
    color: #f7fbff;
    align-items: center;
    top: 6.5rem;
    font-size: 1.4rem;
    white-space: nowrap;
    height: 2.1rem;
  }
  .home-scrap-section-creative-section-about-us-contact-us-vLk {
    color: #f6fbff;
    white-space: nowrap;
    height: 2.5rem;
    position: absolute;
    font-weight: 400;
    line-height: 1.5625;
    letter-spacing: 0.016rem;
    font-family: Open Sans, 'Source Sans Pro';
    width: 51.9rem;
    left: 35.4rem;
    top: 6.3rem;
    font-size: 1.6rem;
  }
  .rectangle-867-DKr {
    width: 37.7rem;
    height: 3.1rem;
    position: absolute;
    left: 91.4rem;
    top: 6.3rem;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
    background-color: #f6fbff;
  }
  .layer1-vEG {
    width: 3.2rem;
    height: 3.4078rem;
    position: absolute;
    left: 143.4rem;
    top: 6rem;
    object-fit: contain;
    vertical-align: top;
  }
  .item--qc8 {
    height: 3.0931rem;
    position: absolute;
    left: 137.7297rem;
    top: 6.0844rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.7029rem;
  }
  .rectangle-901-APW {
    border-radius: 5rem;
    width: 104.2rem;
    height: 42rem;
    position: absolute;
    left: 45.7rem;
    top: 17.9rem;
    background-color: #ffffff;
  }
  .vector-5WU {
    top: 6rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.4rem;
    height: 3.2rem;
    position: absolute;
    left: 132.4rem;
  }
  .price-R4Y {
    top: 36rem;
    width: 14.5rem;
    height: 7.7rem;
    position: absolute;
    left: 50.1rem;

    .rectangle-106-x4U {
      box-sizing: border-box;
      border: dashed 0.1rem #ff731d;
      background-color: #ffffff;
      border-radius: 0.5rem;
      width: 14.5rem;
      height: 6.8rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .text-596 {
      width: 6.7rem;
      height: 7.2rem;
      position: absolute;
      left: 1.2rem;
      top: 0.5rem;

      .price-DWC {
        color: #222222;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.9rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3571428571;
        letter-spacing: 0.014rem;
      }
      .kg-Lqi {
        font-weight: 400;
        line-height: 0.6875;
        letter-spacing: 0.032rem;
        color: #ff731d;
        font-family: Open Sans, 'Source Sans Pro';
        max-width: 6.7rem;
        font-size: 3.2rem;
      }
    }
    .price-icon-sKr {
      position: absolute;
      left: 12.1rem;
      top: 0.4rem;
      object-fit: contain;
      vertical-align: top;
      width: 2rem;
      height: 2rem;
    }
  }
  .frame-427319600-Csv {
    padding: 1rem 3.95rem;
    width: 34.7rem;
    position: absolute;
    top: 46.9rem;
    display: flex;
    border-radius: 1.5rem;
    box-sizing: border-box;
    height: 9.9rem;
    left: 50.1rem;
    align-items: center;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    background-color: #f8fafc;

    .frame-427319596-7EC {
      margin: 1.25rem 1.9rem 1.25rem 0rem;
      height: calc(100% - 2.5rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .group-17-KLG {
        width: 2.8845rem;
        height: 2.1997rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.1rem 0.5rem 0rem;
      }
      .free-delivery-SQt {
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 2.7;
        letter-spacing: 0.01rem;
      }
    }
    .line-97-9q6 {
      height: 7.9rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2rem;
      width: 0rem;
    }
    .frame-427319598-u3a {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 1.25rem 1.9rem 1.25rem 0rem;
      height: calc(100% - 2.5rem);

      .group-18-RGp {
        margin: 0rem 0.1rem 0.5rem 0rem;
        width: 2.2003rem;
        height: 2.1999rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .pay-on-delivery-9Cp {
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 2.7;
        letter-spacing: 0.01rem;
        color: #000000;
      }
    }
    .line-98-GoE {
      margin-right: 2rem;
      width: 0rem;
      height: 7.9rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-x92c-DyN {
      box-sizing: border-box;
      padding-top: 1.2rem;
      width: 5.3rem;
      height: 6.7rem;
      flex-shrink: 0;
      margin-bottom: 1.2rem;

      .frame-427319599-kyJ {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .group-19-7Yx {
          height: 2.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0rem 0.5rem 0rem;
          width: 2.2rem;
        }
        .days-returnable-3Bi {
          max-width: 5.3rem;
          text-align: center;
          flex-shrink: 0;
          letter-spacing: 0.01rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.3625;
        }
      }
    }
  }
  .line-144-K9E {
    left: 89rem;
    top: 19.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 0;
    height: 37.5rem;
    position: absolute;
  }
  .rectangle-899-TFS {
    width: 11.2rem;
    height: 2rem;
    position: absolute;
    left: 69rem;
    top: 36.5rem;
    background-color: #000000;
  }
  .add-to-cart-zFN {
    height: 3.2rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.6666666667;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 6.4rem;
    position: absolute;
    left: 72.7rem;
    top: 35.9rem;
  }
  .item--gdz {
    top: 36.768rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.9025rem;
    height: 1.3477rem;
    position: absolute;
    left: 69.768rem;
  }
  .rectangle-900-DP2 {
    width: 11.2rem;
    height: 2rem;
    position: absolute;
    left: 69rem;
    top: 40.2rem;
    background-color: #000000;
  }
  .vector-x5i {
    top: 40.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.6rem;
    height: 1.4rem;
    position: absolute;
    left: 70.4rem;
  }
  .wishlist-6Bv {
    line-height: 2.6666666667;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    width: 4.4rem;
    top: 39.5rem;
    font-size: 1.2rem;
    font-weight: 400;
    white-space: nowrap;
    height: 3.2rem;
    position: absolute;
    left: 72.9rem;
  }
  .group-168-Ckk {
    padding: 2.1789rem 0.7094rem;
    border: dashed 0.1rem #dddddd;
    height: 14.9773rem;
    position: absolute;
    left: 91.4rem;
    top: 20.9rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 56.8rem;

    .description-vRr {
      width: 53.3rem;
      height: 7.5rem;

      .description--srt {
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.5rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.375;
        letter-spacing: 0.016rem;
        color: #000000;
      }
      .shattered-reflection-it-lies-within-the-fragments-of-a-broken-mirror-each-piece-telling-a-fractured-tale-of-its-former-wholeness-CeG {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3571428571;
        letter-spacing: 0.014rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        max-width: 53.3rem;
      }
    }
  }
  .frame-427319601-dzU {
    top: 40.4rem;
    display: flex;
    align-items: center;
    width: 56.6rem;
    height: 16.2rem;
    position: absolute;
    left: 91.4rem;

    .group-21-ZNL {
      height: 100%;
      position: relative;
      flex-shrink: 0;
      width: 27.6rem;

      .content-KMW {
        top: 1.5rem;
        width: 14.4rem;
        height: 11.3rem;
        position: absolute;
        left: 1.5rem;

        .features--fAU {
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.5rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.375;
          letter-spacing: 0.016rem;
        }
        .cracked-surface-irregular-shapes-lost-luster-emotional-resonance-PcG {
          letter-spacing: 0.014rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          max-width: 14.4rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.3571428571;
        }
      }
      .rectangle-113-WB6 {
        box-sizing: border-box;
        border-radius: 0.5rem;
        width: 27.6rem;
        height: 16.2rem;
        position: absolute;
        left: 0;
        top: 0;
        border: dashed 0.1rem #dddddd;
      }
    }
    .group-22-R3A {
      width: 29rem;
      height: 100%;
      border: dashed 0.1rem #dddddd;
      box-sizing: border-box;
      border-radius: 0.5rem;
      flex-shrink: 0;

      .group-22-ZfA {
        height: 100%;
        position: relative;
        border-radius: 0.5rem;
        width: 100%;

        .rectangle-114-iY4 {
          top: 0;
          border: dashed 0.1rem #dddddd;
          box-sizing: border-box;
          border-radius: 0.5rem;
          width: 29rem;
          height: 10.7118rem;
          position: absolute;
          left: 0;
        }
        .environmental-impact--3aL {
          white-space: nowrap;
          width: 16.8rem;
          position: absolute;
          top: 0.8852rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          height: 2rem;
          left: 1.8438rem;
        }
        .opting-for-glass-scrap-minimizes-landfill-waste-conserves-energy-and-supports-recycling-its-a-sustainable-choice-that-reduces-the-need-for-new-production-contributing-to-a-circular-economy-and-lowering-the-overall-environmental-impact-wfi {
          color: #000000;
          width: 24.5rem;
          top: 3.4383rem;
          font-size: 1.2rem;
          font-weight: 400;
          letter-spacing: 0.012rem;
          height: 11.4rem;
          position: absolute;
          left: 1.8336rem;
          line-height: 1.5833333333;
          font-family: Open Sans, 'Source Sans Pro';
        }
      }
    }
  }
  .item--6wv {
    align-items: center;
    border-radius: 5rem;
    box-sizing: border-box;
    padding: 0.05rem 2.7rem 0.05rem 1rem;
    width: 9.4rem;
    height: 2.2rem;
    left: 135.2rem;
    top: 12.7rem;
    position: absolute;
    display: flex;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
    background-color: #f16713;

    .auto-group-uzsy-PRE {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.6rem;
      width: 1.1rem;
      height: 1rem;
      object-fit: contain;
    }
    .back-7s2 {
      font-weight: 700;
      font-size: 1.6rem;
      line-height: 1.1875;
      letter-spacing: 0.016rem;
      color: #fff7e9;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.2rem;
    }
  }
  .mirror-old-3-1-DfA {
    height: 34.3rem;
    position: absolute;
    left: 3.9rem;
    top: 21.7rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 5rem;
    width: 38.5rem;
  }
  .group-27-YBe {
    left: 50rem;
    top: 21rem;
    width: 38rem;
    height: 11.5045rem;
    position: absolute;

    .shattered-reflection-ULC {
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 0.3rem;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.35;
      letter-spacing: 0.02rem;
      color: #000000;
    }
    .auto-group-nvec-CX6 {
      display: flex;
      align-items: flex-end;
      width: 100%;
      height: 8.5045rem;

      .auto-group-hbbs-kHi {
        row-gap: 1rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 4rem 0.004rem 0rem;

        .product-id-200gr3-H2k {
          color: #888888;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.3571428571;
          letter-spacing: 0.014rem;
        }
        .seller-sekar-omn {
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.3571428571;
          letter-spacing: 0.014rem;
          color: #888888;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .published-on-22-may-2018-YUU {
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.3571428571;
          letter-spacing: 0.014rem;
          color: #888888;
        }
      }
      .group-157-fZ6 {
        align-items: center;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.9rem 1.5rem 2.004rem 1.5rem;
        width: 16.1rem;
        border: dashed 0.1rem #ff731d;
        background-color: rgba(246, 251, 255, 0.8000000119);
        height: 100%;
        display: flex;
        flex-direction: column;

        .available-quantity-zLU {
          margin-bottom: 1.2rem;
          font-size: 1.4rem;
          white-space: nowrap;
          display: flex;
          align-items: baseline;
          flex-shrink: 0;
          text-align: center;
          font-weight: 700;
          line-height: 1.5714285714;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';

          .available-quantity-zLU-sub-0 {
          }
          .available-quantity-zLU-sub-1 {
            line-height: 0.6875;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            font-size: 3.2rem;
            font-weight: 600;
          }
        }
        .kg-8b6 {
          text-align: center;
          color: #777777;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-left: 0.9rem;
          font-size: 3.2rem;
          font-weight: 300;
          line-height: 0.6875;
        }
      }
    }
  }
  .group-187-Cqr {
    width: 2rem;
    height: 2.6383rem;
    position: absolute;
    left: 92.4rem;
    top: 6.6rem;
    object-fit: contain;
    vertical-align: top;
  }
  .search-8zQ {
    font-weight: 400;
    line-height: 1.3888888889;
    letter-spacing: 0.018rem;
    position: absolute;
    height: 2.5rem;
    left: 95rem;
    top: 6.9rem;
    font-size: 1.8rem;
    color: #555555;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
    width: 5.9rem;
  }
}
