
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.5rem;
}.logout-HpG {
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .auto-group-ycsp-Dhv {
    height: 4.9rem;
    position: relative;
    flex-shrink: 0;
    width: 100%;

    .item--N52 {
      height: 3.5rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #777777;
      box-sizing: border-box;
      padding: 1rem 69.15rem 0.3rem 69.15rem;
      width: 153.5rem;

      .frame-427319517-HBz {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .group-2-qDW {
          height: 1.6422rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1rem 0rem 0rem;
          width: 2.2rem;
        }
        .made-for-india-9jz {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.375;
          color: #ffffff;
          font-family: Merriweather, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .item--57r {
      position: absolute;
      left: 137.2rem;
      top: 1rem;
      overflow: hidden;
      width: 4rem;
      height: 3.9rem;
    }
  }
  .auto-group-ns96-bM6 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.3rem 2.9rem 6.4rem 2.9rem;
    width: 100%;
    align-items: center;

    .auto-group-cdhw-Hzc {
      margin: 0rem 14.8rem 2rem 0rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .scrap3-removebg-preview-68-2BW {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.003rem 1.8rem 0rem;
        width: 4.7467rem;
        height: 4rem;
        object-fit: cover;
      }
      .scrap-symphony-sanctuary-vGt {
        margin: 0rem 96.85rem 0.9rem 0rem;
        align-items: center;
        font-weight: 700;
        line-height: 1.4825;
        color: #f7fbff;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        font-size: 1.4rem;
        letter-spacing: 0.028rem;
        font-family: Oswald, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .item--QC4 {
        margin-top: 3rem;
        align-items: center;
        box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
        border-radius: 5rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.4rem 1.9rem 0.5rem 1.1rem;
        display: flex;
        background-color: #f16713;

        .auto-group-gsn4-vRJ {
          width: 1.1rem;
          height: 1rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.1rem 1.1rem 0rem 0rem;
        }
        .back-to-home-qYG {
          color: #fff7e9;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.3571428571;
          letter-spacing: 0.014rem;
        }
      }
    }
    .auto-group-tagu-i6G {
      box-sizing: border-box;
      width: calc(100% - 25.9rem);
      border-radius: 5rem;
      margin: 0rem 12.9rem 0rem 13rem;
      padding-right: 4.1rem;
      height: 45.5rem;
      display: flex;
      align-items: center;
      background-color: #ffffff;
      flex-shrink: 0;

      .auto-group-ayti-Qzg {
        margin-right: 3.5rem;
        padding: 3.35rem 2.4rem 8.4rem 2.2rem;
        border: solid 0.2rem #ffffff;
        background-color: rgba(255, 115, 29, 0.9599999785);
        flex-shrink: 0;
        box-sizing: border-box;
        width: 31.1rem;
        height: 100%;
        border-radius: 5rem;

        .welcome-to-creative-scrapyard-vTE {
          font-size: 3.6625rem;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          margin-bottom: 7.05rem;
          width: 100%;
          max-width: 18.1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 400;
          line-height: 1.3618164036;
          letter-spacing: 0.0366rem;

          .welcome-to-creative-scrapyard-vTE-sub-0 {
            font-size: 3.2rem;
            font-weight: 400;
            line-height: 1.3625;
            letter-spacing: 0.0366rem;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
          }
          .welcome-to-creative-scrapyard-vTE-sub-1 {
            font-family: Open Sans, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 1.3625;
            letter-spacing: 0.0366rem;
            font-style: italic;
            color: #ffffff;
          }
        }
        .auto-group-fd2u-hVv {
          margin: 0rem 15.9rem 3.1rem 0rem;
          width: calc(100% - 15.9rem);
          display: flex;
          align-items: center;

          .layer1-DjA {
            margin: 0.1rem 1.3rem 0rem 0rem;
            width: 2.5rem;
            height: 2.4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .profile-MKa {
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.35;
            letter-spacing: 0.02rem;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-wyv8-t4c {
          margin-bottom: 4.3rem;
          width: 100%;
          display: flex;
          align-items: flex-end;

          .auto-group-atfi-pyr {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.7rem;
            width: 2.9rem;
            height: 2.5rem;
          }
          .terms-privacy-policy-mPJ {
            margin-bottom: 0.2rem;
            white-space: nowrap;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.35;
            letter-spacing: 0.02rem;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
        .auto-group-cn1z-596 {
          margin: 0rem 15.6rem 0rem 0.5rem;
          width: calc(100% - 16.1rem);
          display: flex;
          align-items: flex-end;

          .layer-24-cPv {
            height: 2.4rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.9rem;
            width: 2.4rem;
          }
          .logout-wwz {
            letter-spacing: 0.02rem;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.35;
          }
        }
      }
      .auto-group-3quu-coE {
        margin: 4.9rem 0rem 7.1rem 0rem;
        width: 83.1rem;
        height: calc(100% - 12rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .logout-instructions-XQQ {
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 0.9375;
          color: #000000;
          white-space: nowrap;
          margin-bottom: 4rem;
          letter-spacing: 0.016rem;
          font-family: Oswald, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .click-on-your-profile-icon-located-at-the-top-right-corner-of-the-page-from-the-dropdown-menu-select-logout-read-the-instructions-and-click-that-logout-button-to-logout-from-the-device-remember-to-log-out-securely-especially-if-youre-using-a-shared-or-public-device-logging-out-ensures-the-protection-of-your-account-and-personal-information-thank-you-for-being-a-part-of-our-sustainable-community-at-creative-scrapyard-if-you-have-any-further-questions-or-concerns-feel-free-to-reach-out-to-our-support-team-2rx {
          letter-spacing: 0.014rem;
          color: #000000;
          flex-shrink: 0;
          max-width: 83.1rem;
          font-size: 1.4rem;
          line-height: 2.1428571429;
          margin-bottom: 1.5rem;
          font-weight: 400;
          font-family: Open Sans, 'Source Sans Pro';

          .click-on-your-profile-icon-located-at-the-top-right-corner-of-the-page-from-the-dropdown-menu-select-logout-read-the-instructions-and-click-that-logout-button-to-logout-from-the-device-remember-to-log-out-securely-especially-if-youre-using-a-shared-or-public-device-logging-out-ensures-the-protection-of-your-account-and-personal-information-thank-you-for-being-a-part-of-our-sustainable-community-at-creative-scrapyard-if-you-have-any-further-questions-or-concerns-feel-free-to-reach-out-to-our-support-team-2rx-sub-0 {
            font-family: Open Sans, 'Source Sans Pro';
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 2.1428571429;
            letter-spacing: 0.014rem;
            color: #000000;
          }
          .click-on-your-profile-icon-located-at-the-top-right-corner-of-the-page-from-the-dropdown-menu-select-logout-read-the-instructions-and-click-that-logout-button-to-logout-from-the-device-remember-to-log-out-securely-especially-if-youre-using-a-shared-or-public-device-logging-out-ensures-the-protection-of-your-account-and-personal-information-thank-you-for-being-a-part-of-our-sustainable-community-at-creative-scrapyard-if-you-have-any-further-questions-or-concerns-feel-free-to-reach-out-to-our-support-team-2rx-sub-1 {
            font-weight: 600;
            line-height: 2.1428571429;
            letter-spacing: 0.014rem;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            font-size: 1.4rem;
          }
          .click-on-your-profile-icon-located-at-the-top-right-corner-of-the-page-from-the-dropdown-menu-select-logout-read-the-instructions-and-click-that-logout-button-to-logout-from-the-device-remember-to-log-out-securely-especially-if-youre-using-a-shared-or-public-device-logging-out-ensures-the-protection-of-your-account-and-personal-information-thank-you-for-being-a-part-of-our-sustainable-community-at-creative-scrapyard-if-you-have-any-further-questions-or-concerns-feel-free-to-reach-out-to-our-support-team-2rx-sub-2 {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 2.1428571429;
            letter-spacing: 0.014rem;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
          }
          .click-on-your-profile-icon-located-at-the-top-right-corner-of-the-page-from-the-dropdown-menu-select-logout-read-the-instructions-and-click-that-logout-button-to-logout-from-the-device-remember-to-log-out-securely-especially-if-youre-using-a-shared-or-public-device-logging-out-ensures-the-protection-of-your-account-and-personal-information-thank-you-for-being-a-part-of-our-sustainable-community-at-creative-scrapyard-if-you-have-any-further-questions-or-concerns-feel-free-to-reach-out-to-our-support-team-2rx-sub-3 {
            letter-spacing: 0.014rem;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 2.1428571429;
          }
          .click-on-your-profile-icon-located-at-the-top-right-corner-of-the-page-from-the-dropdown-menu-select-logout-read-the-instructions-and-click-that-logout-button-to-logout-from-the-device-remember-to-log-out-securely-especially-if-youre-using-a-shared-or-public-device-logging-out-ensures-the-protection-of-your-account-and-personal-information-thank-you-for-being-a-part-of-our-sustainable-community-at-creative-scrapyard-if-you-have-any-further-questions-or-concerns-feel-free-to-reach-out-to-our-support-team-2rx-sub-4 {
            font-family: Open Sans, 'Source Sans Pro';
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 2.1428571429;
            letter-spacing: 0.014rem;
            color: #000000;
          }
          .click-on-your-profile-icon-located-at-the-top-right-corner-of-the-page-from-the-dropdown-menu-select-logout-read-the-instructions-and-click-that-logout-button-to-logout-from-the-device-remember-to-log-out-securely-especially-if-youre-using-a-shared-or-public-device-logging-out-ensures-the-protection-of-your-account-and-personal-information-thank-you-for-being-a-part-of-our-sustainable-community-at-creative-scrapyard-if-you-have-any-further-questions-or-concerns-feel-free-to-reach-out-to-our-support-team-2rx-sub-5 {
            line-height: 2.1428571429;
            letter-spacing: 0.014rem;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            font-size: 1.4rem;
            font-weight: 600;
          }
          .click-on-your-profile-icon-located-at-the-top-right-corner-of-the-page-from-the-dropdown-menu-select-logout-read-the-instructions-and-click-that-logout-button-to-logout-from-the-device-remember-to-log-out-securely-especially-if-youre-using-a-shared-or-public-device-logging-out-ensures-the-protection-of-your-account-and-personal-information-thank-you-for-being-a-part-of-our-sustainable-community-at-creative-scrapyard-if-you-have-any-further-questions-or-concerns-feel-free-to-reach-out-to-our-support-team-2rx-sub-6 {
            letter-spacing: 0.014rem;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 2.1428571429;
          }
        }
        .item--St4 {
          flex-shrink: 0;
          margin: 0rem 35.5rem 0rem 36.4rem;
          padding: 0.35rem 1.575rem 0.625rem 1.575rem;
          box-shadow: inset 0 0 0.2rem rgba(0, 0, 0, 0.5));
          border-radius: 5rem;
          background-color: #f16713;
          box-sizing: border-box;
          width: calc(100% - 71.9rem);
          display: flex;
          align-items: center;

          .logout-9nU {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 0.9375;
            color: #ffffff;
            flex-shrink: 0;
            margin: 0rem 1.1rem 0.025rem 0rem;
            letter-spacing: 0.016rem;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
          .layer-29-U44 {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0.275rem;
            width: 1.4501rem;
            height: 1.25rem;
          }
        }
      }
    }
  }
  .auto-group-rcda-9AC {
    box-sizing: border-box;
    padding: 0.4rem 12rem 0rem 14.1rem;
    width: 100%;
    height: 5.7094rem;
    display: flex;
    align-items: center;
    background-color: #5b5b5b;
    flex-shrink: 0;

    .item--sM6 {
      height: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin-right: 21.9333rem;
      box-sizing: border-box;
      padding-right: 19.3667rem;

      .mask-group-aFW {
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 4.5rem;
        width: 3rem;
      }
      .mask-group-gZS {
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 3rem;
      }
    }
    .terms-condition-privacy-policy-CGt {
      white-space: nowrap;
      margin: 0rem 29.7rem 2.109rem 0rem;
      font-weight: 700;
      letter-spacing: 0.01rem;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      font-size: 1rem;
      line-height: 2.2;
      flex-shrink: 0;
    }
    .scrap-symphony-sanctuary-all-rights-reserved-67N {
      font-weight: 700;
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 2.1094rem;
      font-size: 1rem;
      line-height: 2.2;
      letter-spacing: 0.01rem;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
    }
  }
}
