
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.5rem;
}.register-seller2-c5z {
  row-gap: 0.9rem;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url('REPLACE_IMAGE:4db7a63002ededecb5f49fec65723cca71659456');
  background-color: #ffffff;
  width: 100%;
  position: relative;
  background-position: center;
  overflow: hidden;

  .item--JjW {
    background-color: #777777;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1rem 71.525rem 0.879rem 71.525rem;
    width: 100%;
    height: 3.1rem;

    .frame-427319517-dFz {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .group-2-NzG {
        margin-right: 1rem;
        width: 1.95rem;
        height: 1.2211rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .made-for-india-7BA {
        font-family: Merriweather, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.0008rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1;
        color: #ffffff;
      }
    }
  }
  .auto-group-nl8k-Bwi {
    height: 61rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    margin: 0rem 26.5rem 0rem 2.8rem;
    width: calc(100% - 29.3rem);

    .auto-group-69rt-VhW {
      margin: 1.2rem 21.5rem 0rem 0rem;
      width: 41.6rem;
      flex-shrink: 0;

      .auto-group-a5ve-pjn {
        align-items: center;
        margin: 0rem 20.65rem 1.1rem 0rem;
        width: calc(100% - 20.65rem);
        display: flex;

        .scrap3-removebg-preview-2-wZW {
          margin-right: 0.0033rem;
          width: 4.7467rem;
          height: 4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .scrap-symphony-sanctuary-G5z {
          margin-top: 0.9rem;
          align-items: center;
          line-height: 1.4825;
          font-family: Oswald, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          justify-content: center;
          font-size: 1.4rem;
          font-weight: 700;
          letter-spacing: 0.028rem;
          color: #f7fbff;
        }
      }
      .creative-scrapyard-wxp {
        font-family: Oswald, 'Source Sans Pro';
        margin-bottom: 0.7rem;
        font-size: 2.4rem;
        font-weight: 700;
        color: #ffffff;
        line-height: 1.4825;
        letter-spacing: 0.048rem;
        white-space: nowrap;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .item--4Gk {
        margin: 0rem 9.3rem 2.453rem 0rem;
        height: 5.3471rem;

        .grow-your-business-with-new-customers-on-the-scrap-symphoy-sanctuary-network-bGg {
          letter-spacing: 0.012rem;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          max-width: 27.5rem;
          display: flex;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 2.0833333333;
        }
      }
      .item--sEC {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-left: 2.4rem;
        width: 39.2rem;

        .auto-group-qga8-QV2 {
          padding-bottom: 3rem;
          width: 100%;
          row-gap: 3rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;

          .more-buyers-Y5S {
            align-items: flex-start;
            flex-shrink: 0;
            margin-right: 8.1rem;
            width: calc(100% - 8.1rem);
            height: 5.9rem;
            display: flex;

            .icon-fvk {
              height: 3.7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 2.6rem;
              width: 5rem;
            }
            .text-p2x {
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .more-buyers-aH2 {
                display: flex;
                line-height: 1.6875;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1rem;
                font-size: 1.6rem;
                font-weight: 700;
                letter-spacing: 0.016rem;
                color: #ffffff;
              }
              .access-to-the-entire-buyer-universe-V96 {
                color: #f5f5f5;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                align-items: baseline;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 400;
                letter-spacing: 0.016rem;
                display: flex;
                line-height: 1.375;

                .access-to-the-entire-buyer-universe-V96-sub-0 {
                  color: #f5f5f5;
                  font-family: Open Sans, 'Source Sans Pro';
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5714285714;
                  letter-spacing: 0.014rem;
                }
                .access-to-the-entire-buyer-universe-V96-sub-1 {
                }
              }
            }
          }
          .zero-cost-97A {
            margin-right: 11.7rem;
            width: calc(100% - 11.7rem);
            height: 5.9rem;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .icon-gMz {
              margin-right: 2.6rem;
              width: 5rem;
              height: 4.0984rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .text-Cr8 {
              flex-direction: column;
              flex-shrink: 0;
              height: 100%;
              display: flex;

              .zero-cost-Anx {
                letter-spacing: 0.016rem;
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.6875;
                color: #ffffff;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 1rem;
                display: flex;
                flex-shrink: 0;
              }
              .no-upfront-cost-to-get-started-tU4 {
                display: flex;
                font-size: 1.4rem;
                line-height: 1.5714285714;
                color: #f5f5f5;
                flex-shrink: 0;
                font-weight: 400;
                letter-spacing: 0.014rem;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
          .easy-to-use-CUk {
            height: 5.9rem;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;
            margin-right: 16.7rem;
            width: calc(100% - 16.7rem);

            .icon-jDn {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 2.6001rem;
              width: 4.9999rem;
              height: 4.9997rem;
            }
            .text-52k {
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .easy-to-use-dpx {
                margin-bottom: 1rem;
                display: flex;
                font-weight: 700;
                letter-spacing: 0.016rem;
                color: #ffffff;
                flex-shrink: 0;
                font-size: 1.6rem;
                line-height: 1.6875;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
              }
              .start-selling-in-no-time-A4C {
                font-size: 1.4rem;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                display: flex;
                font-weight: 400;
                line-height: 1.5714285714;
                letter-spacing: 0.014rem;
                color: #f5f5f5;
                flex-shrink: 0;
              }
            }
          }
        }
        .grow-business-sjJ {
          width: 100%;
          height: 5.9rem;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .icon-EJx {
            margin-right: 2.4999rem;
            width: 5.0001rem;
            height: 4.9998rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .text-yXS {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .grow-tour-business-jmW {
              margin-bottom: 1rem;
              display: flex;
              font-weight: 700;
              line-height: 1.6875;
              flex-shrink: 0;
              font-size: 1.6rem;
              letter-spacing: 0.016rem;
              color: #ffffff;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
            }
            .promote-your-business-with-your-own-webpage-436 {
              display: flex;
              font-weight: 400;
              line-height: 1.5714285714;
              color: #f5f5f5;
              font-family: Open Sans, 'Source Sans Pro';
              font-size: 1.4rem;
              letter-spacing: 0.014rem;
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
    }
    .auto-group-34pw-M2C {
      align-items: center;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      padding: 2.7rem 6.3rem 0.8rem 6rem;
      width: 61.1rem;
      border: solid 0.3rem #000000;
      border-radius: 2rem;
      flex-shrink: 0;
      box-sizing: border-box;
      height: 100%;

      .auto-group-tom6-fHn {
        margin: 0rem 23.5rem 1.6rem 0rem;
        width: 25.3rem;
        height: 5.2rem;
        position: relative;
        flex-shrink: 0;

        .get-your-business-started-avY {
          font-family: Open Sans, 'Source Sans Pro';
          left: 0;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.65;
          width: 25.3rem;
          height: 3.3rem;
          color: #000000;
          white-space: nowrap;
          position: absolute;
          align-items: baseline;
          justify-content: center;
          letter-spacing: 0.02rem;
          top: 0;
          display: flex;

          .get-your-business-started-avY-sub-0 {
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.65;
            letter-spacing: 0.02rem;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
          }
          .get-your-business-started-avY-sub-1 {
            color: #ff731d;
            font-family: Open Sans, 'Source Sans Pro';
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.65;
            letter-spacing: 0.02rem;
          }
        }
        .fill-in-your-details-for-better-connectivity-bDN {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 2.0833333333;
          white-space: nowrap;
          font-family: Open Sans, 'Source Sans Pro';
          position: absolute;
          left: 0.2rem;
          top: 2.7rem;
          color: #555555;
          letter-spacing: 0.012rem;
          justify-content: center;
          width: 23.6rem;
          height: 2.5rem;
          display: flex;
          align-items: center;
        }
      }
      .auto-group-aabe-Foi {
        margin-left: 0.1rem;
        width: 48.7rem;
        height: 50.7rem;
        position: relative;
        flex-shrink: 0;

        .already-have-an-account-login-BhN {
          width: 23.5rem;
          top: 47.5rem;
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 2;
          white-space: nowrap;
          height: 3.2rem;
          position: absolute;
          left: 11.8rem;
          letter-spacing: 0.016rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
        }
        .item--4FN {
          width: 48.7rem;
          height: 48rem;
          position: absolute;
          left: 0;
          top: 0;
          align-items: flex-end;
          display: flex;
          flex-direction: column;

          .email-ApC {
            flex-direction: column;
            flex-shrink: 0;
            margin-bottom: 1rem;
            width: 100%;
            display: flex;

            .address-iap {
              justify-content: center;
              font-size: 1.6rem;
              color: #555555;
              white-space: nowrap;
              flex-shrink: 0;
              width: 100%;
              display: flex;
              font-weight: 400;
              line-height: 1.375;
              letter-spacing: 0.016rem;
              font-family: Open Sans, 'Source Sans Pro';
              margin-bottom: 1rem;
              align-items: center;
            }
            .box-dxg {
              width: 100%;
              cursor: pointer;
              flex-shrink: 0;

              .rectangle-6-CVz {
                height: 4.5rem;
                border: solid 0.1rem #dddddd;
                box-sizing: border-box;
                background-color: #ffffff;
                border-radius: 0.5rem;
                width: 100%;
              }
            }
          }
          .psswd-7N4 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-bottom: 1rem;
            width: 100%;

            .state-district-sME {
              color: #555555;
              width: 100%;
              display: flex;
              justify-content: center;
              font-size: 1.6rem;
              font-weight: 400;
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1rem;
              align-items: center;
              line-height: 1.375;
              letter-spacing: 0.016rem;
              font-family: Open Sans, 'Source Sans Pro';
            }
            .box-PKa {
              width: 100%;
              cursor: pointer;
              flex-shrink: 0;

              .rectangle-6-xNg {
                width: 100%;
                height: 4.5rem;
                border: solid 0.1rem #dddddd;
                box-sizing: border-box;
                background-color: #ffffff;
                border-radius: 0.5rem;
              }
            }
          }
          .business-name-Hfr {
            margin-bottom: 1rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .city-village-town-dji {
              color: #555555;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 1rem;
              width: 100%;
              align-items: center;
              justify-content: center;
              font-size: 1.6rem;
              flex-shrink: 0;
              display: flex;
              font-weight: 400;
              line-height: 1.375;
              letter-spacing: 0.016rem;
            }
            .box-8Ag {
              cursor: pointer;
              flex-shrink: 0;
              width: 100%;

              .rectangle-6-6NQ {
                width: 100%;
                height: 4.5rem;
                border: solid 0.1rem #dddddd;
                box-sizing: border-box;
                background-color: #ffffff;
                border-radius: 0.5rem;
              }
            }
          }
          .bank-acc-R3J {
            flex-direction: column;
            flex-shrink: 0;
            margin-bottom: 1rem;
            width: 100%;
            display: flex;

            .pincode-Mhe {
              width: 100%;
              align-items: center;
              justify-content: center;
              color: #555555;
              flex-shrink: 0;
              margin-bottom: 1rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.375;
              letter-spacing: 0.016rem;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
            }
            .box-G3v {
              flex-shrink: 0;
              width: 100%;
              cursor: pointer;

              .rectangle-6-pr8 {
                width: 100%;
                height: 4.5rem;
                border: solid 0.1rem #dddddd;
                box-sizing: border-box;
                background-color: #ffffff;
                border-radius: 0.5rem;
              }
            }
          }
          .gstn-M5N {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-bottom: 0.8rem;
            width: 100%;

            .additional-contact-information-Hji {
              width: 100%;
              display: flex;
              font-weight: 400;
              letter-spacing: 0.016rem;
              color: #555555;
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1rem;
              justify-content: center;
              font-size: 1.6rem;
              line-height: 1.375;
              font-family: Open Sans, 'Source Sans Pro';
              align-items: center;
            }
            .gst-button-bkQ {
              width: 100%;
              cursor: pointer;
              flex-shrink: 0;

              .rectangle-6-mPz {
                width: 100%;
                height: 4.5rem;
                border: solid 0.1rem #dddddd;
                box-sizing: border-box;
                background-color: #ffffff;
                border-radius: 0.5rem;
              }
            }
          }
          .auto-group-zui8-J92 {
            margin-left: 0.1rem;
            width: calc(100% - 0.1rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .item--36c {
              white-space: nowrap;
              border: solid 0.1rem #3f80e0;
              flex-shrink: 0;
              font-weight: 400;
              letter-spacing: 0.018rem;
              font-size: 1.8rem;
              color: #ffffff;
              font-family: Open Sans, 'Source Sans Pro';
              width: 12.9rem;
              position: relative;
              align-items: center;
              line-height: 1.3888888889;
              margin: 0rem 21.8rem 0.2rem 0rem;
              display: flex;
              justify-content: center;
              box-sizing: border-box;
              background-color: #3f80e0;
              border-radius: 0.5rem;
              height: 4.5rem;
              overflow: hidden;
            }
            .next-button-Tw2 {
              position: relative;
              color: #ffffff;
              white-space: nowrap;
              margin-top: 0.2rem;
              overflow: hidden;
              display: flex;
              font-weight: 400;
              line-height: 1.3888888889;
              letter-spacing: 0.018rem;
              box-sizing: border-box;
              width: 13.9rem;
              height: 4.5rem;
              align-items: center;
              font-size: 1.8rem;
              border: solid 0.1rem #3f80e0;
              background-color: #3f80e0;
              border-radius: 0.5rem;
              flex-shrink: 0;
              justify-content: center;
              font-family: Open Sans, 'Source Sans Pro';
            }
          }
        }
      }
    }
  }
  .auto-group-r6aq-ULL {
    align-items: center;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0.4rem 12rem 0rem 12.8rem;
    width: 100%;
    height: 5.7094rem;
    display: flex;

    .item--BVe {
      margin-right: 23.2333rem;
      box-sizing: border-box;
      padding-right: 19.3667rem;
      height: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .mask-group-7eC {
        flex-shrink: 0;
        margin-right: 4.5rem;
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
      .mask-group-ee8 {
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .terms-condition-privacy-policy-Prc {
      margin: 0rem 29.7rem 2.109rem 0rem;
      font-size: 1rem;
      white-space: nowrap;
      flex-shrink: 0;
      font-family: Open Sans, 'Source Sans Pro';
      font-weight: 700;
      line-height: 2.2;
      letter-spacing: 0.01rem;
      color: #ffffff;
    }
    .scrap-symphony-sanctuary-all-rights-reserved-t2g {
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 2.1094rem;
      font-weight: 700;
      line-height: 2.2;
      letter-spacing: 0.01rem;
      color: #ffffff;
      font-size: 1rem;
    }
  }
}
