
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.5rem;
}.register-buyer-dfr {
  row-gap: 0.9rem;
  flex-direction: column;
  background-size: 100% 100%;
  background-position: center;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  background-repeat: no-repeat;
  background-image: url('REPLACE_IMAGE:4db7a63002ededecb5f49fec65723cca71659456');

  .item--Wje {
    box-sizing: border-box;
    padding: 1rem 71.525rem 0.879rem 71.525rem;
    width: 100%;
    height: 3.1rem;
    background-color: #777777;
    flex-shrink: 0;

    .frame-427319517-RLp {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .group-2-Zhv {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1rem;
        width: 1.95rem;
        height: 1.2211rem;
        position: relative;
      }
      .made-for-india-UZz {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1;
        color: #ffffff;
        font-family: Merriweather, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.0008rem;
      }
    }
  }
  .auto-group-r5qg-mZ6 {
    height: 61rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    margin: 0rem 46.2rem 0rem 2.8rem;
    width: calc(100% - 49rem);

    .auto-group-syhr-UyJ {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 1.2rem 21.6rem 0rem 0rem;
      width: 21.8rem;

      .auto-group-dgex-zwe {
        margin: 0rem 0.85rem 0.3rem 0rem;
        width: calc(100% - 0.85rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .scrap3-removebg-preview-2-6zg {
          height: 4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.0033rem;
          width: 4.7467rem;
        }
        .scrap-symphony-sanctuary-pQt {
          font-family: Oswald, 'Source Sans Pro';
          white-space: nowrap;
          margin-top: 0.9rem;
          justify-content: center;
          color: #f7fbff;
          font-weight: 700;
          line-height: 1.4825;
          letter-spacing: 0.028rem;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          font-size: 1.4rem;
        }
      }
      .creative-scrapyard-796 {
        align-items: center;
        justify-content: center;
        font-size: 2.4rem;
        font-weight: 700;
        letter-spacing: 0.048rem;
        color: #ffffff;
        width: 100%;
        display: flex;
        white-space: nowrap;
        flex-shrink: 0;
        line-height: 1.4825;
        font-family: Oswald, 'Source Sans Pro';
      }
    }
    .auto-group-noja-crY {
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      border: solid 0.3rem #000000;
      border-radius: 2rem;
      box-sizing: border-box;
      width: 61.1rem;
      flex-shrink: 0;
      padding: 3.1rem 5rem 1.5rem 4.5rem;
      background-color: #ffffff;

      .auto-group-t9he-iua {
        width: 42.2rem;
        height: 5.1rem;
        position: relative;
        flex-shrink: 0;
        margin: 0rem 9.4rem 2.1rem 0rem;

        .welcome-to-creative-scrapyard-dFr {
          width: 33.3rem;
          top: 0;
          letter-spacing: 0.02rem;
          font-family: Open Sans, 'Source Sans Pro';
          left: 0;
          display: flex;
          font-size: 2rem;
          font-weight: 400;
          white-space: nowrap;
          height: 3.3rem;
          position: absolute;
          line-height: 1.65;
          color: #000000;
          align-items: baseline;

          .welcome-to-creative-scrapyard-dFr-sub-0 {
          }
          .welcome-to-creative-scrapyard-dFr-sub-1 {
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.65;
            letter-spacing: 0.02rem;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
          }
          .welcome-to-creative-scrapyard-dFr-sub-2 {
            line-height: 1.65;
            letter-spacing: 0.02rem;
            color: #ff731d;
            font-family: Open Sans, 'Source Sans Pro';
            font-size: 2rem;
            font-weight: 700;
          }
        }
        .create-your-account-and-start-buying-products-on-creative-scrapyard-um6 {
          font-weight: 400;
          line-height: 2.0833333333;
          color: #555555;
          white-space: nowrap;
          height: 2.5rem;
          top: 2.6rem;
          left: 2.7rem;
          display: flex;
          font-size: 1.2rem;
          letter-spacing: 0.012rem;
          font-family: Open Sans, 'Source Sans Pro';
          width: 39.5rem;
          position: absolute;
        }
      }
      .auto-group-gjrs-moJ {
        height: 45.5rem;
        position: relative;
        flex-shrink: 0;
        margin: 0rem 0rem 0.5rem 2.7rem;
        width: 48.9rem;

        .form-JHS {
          top: 0;
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          width: 48.75rem;
          height: 45.5rem;
          position: absolute;
          left: 0.15rem;

          .phone-Rcx {
            flex-shrink: 0;
            width: 100%;
            display: flex;
            flex-direction: column;

            .user-name-zAG {
              margin-bottom: 1rem;
              width: 100%;
              display: flex;
              justify-content: center;
              font-weight: 400;
              line-height: 1.375;
              font-family: Open Sans, 'Source Sans Pro';
              flex-shrink: 0;
              align-items: center;
              font-size: 1.6rem;
              letter-spacing: 0.016rem;
              color: #555555;
              white-space: nowrap;
            }
            .phone-button-tmS {
              margin-left: 0.05rem;
              width: 48.7rem;
              cursor: pointer;
              flex-shrink: 0;

              .rectangle-6-SY4 {
                width: 100%;
                height: 4.5rem;
                border: solid 0.1rem #dddddd;
                box-sizing: border-box;
                background-color: #ffffff;
                border-radius: 0.5rem;
              }
            }
          }
          .auto-group-2anx-Zcg {
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.5rem 0rem 0.5rem 0.05rem;

            .email-Hoa {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-bottom: 0.5rem;
              width: 100%;

              .email-rLt {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.6rem;
                line-height: 1.375;
                letter-spacing: 0.016rem;
                color: #555555;
                margin-bottom: 1rem;
                flex-shrink: 0;
                font-family: Open Sans, 'Source Sans Pro';
                font-weight: 400;
                white-space: nowrap;
                width: 100%;
              }
              .box-mTr {
                width: 100%;
                cursor: pointer;
                flex-shrink: 0;

                .rectangle-6-Xxp {
                  box-sizing: border-box;
                  background-color: #ffffff;
                  border-radius: 0.5rem;
                  width: 100%;
                  height: 4.5rem;
                  border: solid 0.1rem #dddddd;
                }
              }
            }
            .psswd-rkC {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              width: 100%;

              .password-1sz {
                letter-spacing: 0.016rem;
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1rem;
                width: 100%;
                align-items: center;
                justify-content: center;
                font-size: 1.6rem;
                display: flex;
                font-weight: 400;
                line-height: 1.375;
                color: #555555;
                font-family: Open Sans, 'Source Sans Pro';
              }
              .box-LQU {
                width: 100%;
                cursor: pointer;
                flex-shrink: 0;

                .rectangle-6-uCg {
                  box-sizing: border-box;
                  background-color: #ffffff;
                  border-radius: 0.5rem;
                  width: 100%;
                  height: 4.5rem;
                  border: solid 0.1rem #dddddd;
                }
              }
            }
          }
          .business-name-DUG {
            margin-bottom: 0.5rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .re-enter-password-N6G {
              margin-bottom: 1rem;
              width: 100%;
              line-height: 1.375;
              color: #555555;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 1.6rem;
              font-weight: 400;
              letter-spacing: 0.016rem;
            }
            .box-GxL {
              margin-left: 0.05rem;
              width: 48.7rem;
              cursor: pointer;
              flex-shrink: 0;

              .rectangle-6-RKS {
                border-radius: 0.5rem;
                width: 100%;
                height: 4.5rem;
                border: solid 0.1rem #dddddd;
                box-sizing: border-box;
                background-color: #ffffff;
              }
            }
          }
          .bank-acc-kMi {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-bottom: 0.5rem;

            .phone-W5z {
              white-space: nowrap;
              width: 100%;
              align-items: center;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.375;
              font-family: Open Sans, 'Source Sans Pro';
              margin-bottom: 1rem;
              display: flex;
              justify-content: center;
              letter-spacing: 0.016rem;
              color: #555555;
              flex-shrink: 0;
            }
            .box-Rik {
              margin-left: 0.05rem;
              width: 48.7rem;
              cursor: pointer;
              flex-shrink: 0;

              .rectangle-6-BT2 {
                height: 4.5rem;
                border: solid 0.1rem #dddddd;
                box-sizing: border-box;
                background-color: #ffffff;
                border-radius: 0.5rem;
                width: 100%;
              }
            }
          }
          .next-button-X16 {
            width: 14.8rem;
            white-space: nowrap;
            font-family: Open Sans, 'Source Sans Pro';
            overflow: hidden;
            align-items: center;
            line-height: 1.3888888889;
            background-color: #3f80e0;
            border-radius: 0.5rem;
            justify-content: center;
            font-weight: 400;
            border: solid 0.1rem #3f80e0;
            font-size: 1.8rem;
            letter-spacing: 0.018rem;
            color: #f6fbff;
            box-sizing: border-box;
            flex-shrink: 0;
            height: 4.5rem;
            position: relative;
            display: flex;
          }
        }
        .next-button-Apk {
          position: absolute;
          top: 41rem;
          font-family: Open Sans, 'Source Sans Pro';
          border-radius: 0.5rem;
          left: 0;
          font-weight: 400;
          box-sizing: border-box;
          border: solid 0.1rem #3f80e0;
          width: 12.9rem;
          overflow: hidden;
          display: flex;
          align-items: center;
          font-size: 1.8rem;
          color: #ffffff;
          height: 4.5rem;
          justify-content: center;
          line-height: 1.3888888889;
          letter-spacing: 0.018rem;
          white-space: nowrap;
          background-color: #3f80e0;
        }
      }
      .already-have-an-account-login-dTS {
        margin-left: 0.5rem;
        flex-shrink: 0;
        line-height: 2;
        letter-spacing: 0.016rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 1.6rem;
        font-weight: 300;
      }
    }
  }
  .auto-group-p75n-6rp {
    display: flex;
    align-items: center;
    background-color: #5b5b5b;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0.4rem 12rem 0rem 12.8rem;
    width: 100%;
    height: 5.7094rem;

    .item--cKN {
      height: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin-right: 23.2333rem;
      box-sizing: border-box;
      padding-right: 19.3667rem;

      .mask-group-wcY {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 4.5rem;
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
      }
      .mask-group-ga8 {
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .terms-condition-privacy-policy-ELk {
      font-family: Open Sans, 'Source Sans Pro';
      flex-shrink: 0;
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: 0.01rem;
      color: #ffffff;
      margin: 0rem 29.7rem 2.109rem 0rem;
      line-height: 2.2;
      white-space: nowrap;
    }
    .scrap-symphony-sanctuary-all-rights-reserved-X4x {
      font-weight: 700;
      line-height: 2.2;
      letter-spacing: 0.01rem;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 2.1094rem;
      font-size: 1rem;
      color: #ffffff;
    }
  }
}
