
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.5rem;
}.scrap-paper-wxY {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 152.3rem;
  position: relative;
  overflow: hidden;
  background-image: url('REPLACE_IMAGE:4db7a63002ededecb5f49fec65723cca71659456');
  background-color: #ffffff;
  width: 100%;

  .item--g9S {
    padding: 1rem 69.15rem;
    width: 153.5rem;
    height: 4.2rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #777777;
    box-sizing: border-box;

    .frame-427319517-nCU {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;

      .group-2-vpU {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1rem 0rem 0rem;
        width: 2.2rem;
        height: 1.6422rem;
        position: relative;
        object-fit: contain;
      }
      .made-for-india-T3i {
        color: #ffffff;
        font-family: Merriweather, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.375;
      }
    }
  }
  .auto-group-ardj-wja {
    align-items: center;
    width: 145.9rem;
    height: 4.6832rem;
    position: absolute;
    left: 3rem;
    top: 8.1rem;
    display: flex;

    .scrap3-removebg-preview-59-4JQ {
      flex-shrink: 0;
      margin: 0rem 0.003rem 0.683rem 0rem;
      width: 4.7467rem;
      height: 4rem;
      object-fit: cover;
      vertical-align: top;
    }
    .scrap-symphony-sanctuary-YzG {
      margin: 0rem 13.35rem 0.183rem 0rem;
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.4825;
      letter-spacing: 0.028rem;
      color: #f7fbff;
      font-family: Oswald, 'Source Sans Pro';
      flex-shrink: 0;
      justify-content: center;
      white-space: nowrap;
    }
    .home-scrap-section-creative-section-about-us-contact-us-EcC {
      letter-spacing: 0.016rem;
      color: #f6fbff;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.617rem 5.2rem 0rem 0rem;
      font-size: 1.6rem;
      font-family: Open Sans, 'Source Sans Pro';
      font-weight: 400;
      line-height: 1.5625;
    }
    .auto-group-d3st-WZi {
      flex-shrink: 0;
      display: flex;
      background-color: #f6fbff;
      padding: 0.3rem 28.2rem 0.3rem 0.8rem;
      height: calc(100% - 1.5832rem);
      align-items: center;
      box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
      margin: 1.1rem 1.6rem 0.483rem 0rem;
      box-sizing: border-box;

      .group-ooi {
        margin: 0rem 0.801rem 0.113rem 0rem;
        width: 1.9987rem;
        height: 2.0116rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .search-vNY {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3888888889;
        letter-spacing: 0.018rem;
        color: #555555;
        font-family: Open Sans, 'Source Sans Pro';
      }
    }
    .vector-196 {
      flex-shrink: 0;
      margin: 0.489rem 1.73rem 0rem 0rem;
      width: 4rem;
      height: 3.5953rem;
      object-fit: contain;
      vertical-align: top;
    }
    .item--7xp {
      width: 3.7029rem;
      height: 3.0931rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.779rem 1.767rem 0rem 0rem;
    }
    .layer1-FJL {
      flex-shrink: 0;
      margin-top: 0.7883rem;
      width: 4rem;
      height: 3.8949rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .auto-group-xiz2-z12 {
    box-sizing: border-box;
    width: 154.9rem;
    padding: 6.4rem 4.4rem 6.3rem 0rem;
    height: 36.3rem;
    position: absolute;
    left: 0;
    top: 20.4rem;
    display: flex;
    align-items: center;
    background-color: #ffffff;

    .scrap-9-VCg {
      margin-bottom: 1rem;
      width: 70.6rem;
      height: 20.2rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-mc8c-RME {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .what-is-scrap-how-it-will-be-useful--P3A {
        margin-bottom: 2.4rem;
        letter-spacing: 0.024rem;
        font-family: Oswald, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 1.3333333333;
        color: #000000;
        flex-shrink: 0;
      }
      .scrap-refers-to-discarded-or-leftover-materials-from-manufacturing-processes-or-everyday-use-it-can-be-useful-when-recycled-or-repurposed-reducing-waste-and-conserving-resources-recycling-scrap-material-contributes-to-environmental-sustainability-by-saving-energy-and-raw-materials-additionally-repurposing-scrap-for-creative-projects-can-promote-innovation-and-resourcefulness-5gg {
        line-height: 2.25;
        color: #000000;
        font-family: Oswald, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 69.7rem;
        font-size: 2rem;
        font-weight: 300;
      }
    }
  }
  .item--edJ {
    left: 63.4rem;
    top: 60.8rem;
    background-color: #f16713;
    position: absolute;
    font-size: 2.4rem;
    line-height: 1.3333333333;
    letter-spacing: 0.024rem;
    display: flex;
    width: 26.8rem;
    font-family: Oswald, 'Source Sans Pro';
    align-items: center;
    height: 5rem;
    font-weight: 700;
    color: #fff7e9;
    white-space: nowrap;
    justify-content: center;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
    border-radius: 5rem;
  }
  .auto-group-gibe-V88 {
    padding: 1.3rem 0.8rem 1.8rem 5.4rem;
    position: absolute;
    left: 0;
    font-size: 2.4rem;
    font-weight: 600;
    font-family: Oswald, 'Source Sans Pro';
    box-sizing: border-box;
    width: 153.5rem;
    white-space: nowrap;
    height: 6.3rem;
    letter-spacing: 0.024rem;
    background-color: #ffffff;
    top: 69.9rem;
    line-height: 1.3333333333;
    color: #000000;
  }
  .auto-group-cxbn-LPe {
    height: 39.2rem;
    position: absolute;
    left: 13.8rem;
    top: 83.5rem;
    display: flex;
    align-items: center;
    width: 125.4rem;

    .auto-group-d1iu-rct {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      padding: 5.1rem 2.1rem 2.5rem 2rem;
      height: 100%;
      width: 30.1rem;
      background-color: #ffffff;
      border-radius: 5rem;
      margin-right: 17.9rem;
      box-sizing: border-box;

      .newspaper-3-ANg {
        margin-bottom: 0.7rem;
        width: 26rem;
        height: 24.5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .newspapers-15-kg-JDz {
        margin: 0rem 1rem 1.5rem 0rem;
        color: #000000;
        display: flex;
        align-items: baseline;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;

        .newspapers-15-kg-JDz-sub-0 {
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
        }
        .newspapers-15-kg-JDz-sub-1 {
        }
        .newspapers-15-kg-JDz-sub-2 {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .auto-group-e3fa-7ak {
        flex-shrink: 0;
        margin: 0rem 0.8rem 0rem 0.2rem;
        width: calc(100% - 1rem);
        display: flex;
        align-items: center;

        .auto-group-fvyr-e4t {
          margin: 0rem 2.6rem 0.2rem 0rem;
          width: 11.2rem;
          height: 3.2rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-888-ZxY {
            width: 11.2rem;
            height: 2rem;
            position: absolute;
            left: 0;
            top: 0.7rem;
            background-color: #000000;
          }
          .add-to-cart-JQL {
            height: 3.2rem;
            position: absolute;
            top: 0;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 2.6666666667;
            white-space: nowrap;
            width: 6.4rem;
            left: 3.4rem;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
          }
          .item--p7n {
            object-fit: contain;
            vertical-align: top;
            width: 1.9025rem;
            height: 1.3477rem;
            position: absolute;
            left: 0.768rem;
            top: 0.968rem;
          }
        }
        .auto-group-yhjc-wCQ {
          margin-top: 0.2rem;
          width: 11.2rem;
          height: 3.2rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-887-GVa {
            background-color: #000000;
            width: 11.2rem;
            height: 2rem;
            position: absolute;
            left: 0;
            top: 0.5rem;
          }
          .vector-Cu2 {
            position: absolute;
            left: 1.5rem;
            top: 0.8rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.4rem;
            height: 1.2983rem;
          }
          .wishlist-wbi {
            font-family: Inter, 'Source Sans Pro';
            width: 4.4rem;
            position: absolute;
            left: 4.4rem;
            top: 0;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 2.6666666667;
            white-space: nowrap;
            height: 3.2rem;
            color: #ffffff;
          }
        }
      }
    }
    .auto-group-fgbe-Dp8 {
      background-color: #ffffff;
      border-radius: 5rem;
      margin-right: 17.2rem;
      height: 100%;
      align-items: center;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 5.1rem 2.5rem 2.5rem 2.4rem;
      width: 30.1rem;
      display: flex;

      .oldbook-4-vyS {
        height: 23.4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0rem 2.6rem 1.2rem;
        width: 24rem;
      }
      .old-books-15-kg-4Jx {
        display: flex;
        flex-shrink: 0;
        align-items: baseline;
        margin: 0rem 1.3rem 0.7rem 0rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;

        .old-books-15-kg-4Jx-sub-0 {
        }
        .old-books-15-kg-4Jx-sub-1 {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .old-books-15-kg-4Jx-sub-2 {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .auto-group-bw1n-aRi {
        flex-shrink: 0;
        margin-left: 0.3rem;
        width: calc(100% - 0.3rem);
        display: flex;
        align-items: center;

        .auto-group-ezkk-KPJ {
          width: 11.2rem;
          height: 3.2rem;
          position: relative;
          flex-shrink: 0;
          margin: 0rem 2.5rem 0.2rem 0rem;

          .rectangle-890-FXr {
            width: 11.2rem;
            height: 2rem;
            position: absolute;
            left: 0;
            top: 0.7rem;
            background-color: #000000;
          }
          .add-to-cart-o3a {
            position: absolute;
            left: 3.4rem;
            top: 0;
            font-size: 1.2rem;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            width: 6.4rem;
            height: 3.2rem;
            white-space: nowrap;
            font-weight: 400;
            line-height: 2.6666666667;
          }
          .item--K1v {
            width: 1.9025rem;
            height: 1.3477rem;
            position: absolute;
            left: 0.768rem;
            top: 0.968rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .auto-group-g9de-SMS {
          margin-top: 0.2rem;
          width: 11.2rem;
          height: 3.2rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-893-ycG {
            width: 11.2rem;
            height: 2rem;
            position: absolute;
            left: 0;
            top: 0.5rem;
            background-color: #000000;
          }
          .vector-7Ta {
            left: 1.5rem;
            top: 0.8rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.4rem;
            height: 1.2983rem;
            position: absolute;
          }
          .wishlist-FZn {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 2.6666666667;
            color: #ffffff;
            width: 4.4rem;
            position: absolute;
            left: 4.4rem;
            top: 0;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            height: 3.2rem;
          }
        }
      }
    }
    .auto-group-tayk-L5S {
      flex-shrink: 0;
      padding: 5.1rem 1rem 2.5rem 1.8rem;
      width: 30.1rem;
      align-items: center;
      flex-direction: column;
      background-color: #ffffff;
      border-radius: 5rem;
      box-sizing: border-box;
      height: 100%;
      display: flex;

      .cardboard-3-TA4 {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 2.1rem;
        width: 27.3rem;
        height: 22.9rem;
      }
      .worncotton-boxes-15-kg-zQt {
        margin: 0rem 1.8rem 1.7rem 0rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        white-space: nowrap;
        display: flex;
        align-items: baseline;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-family: Inter, 'Source Sans Pro';

        .worncotton-boxes-15-kg-zQt-sub-0 {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .worncotton-boxes-15-kg-zQt-sub-1 {
        }
        .worncotton-boxes-15-kg-zQt-sub-2 {
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 400;
        }
      }
      .auto-group-ngbn-WnY {
        width: calc(100% - 1.9rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 1.5rem 0rem 0.4rem;

        .auto-group-knui-FEL {
          margin: 0rem 3rem 0.2rem 0rem;
          width: 11.2rem;
          height: 3.2rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-892-MYG {
            background-color: #000000;
            width: 11.2rem;
            height: 2rem;
            position: absolute;
            left: 0;
            top: 0.7rem;
          }
          .add-to-cart-h6L {
            line-height: 2.6666666667;
            width: 6.4rem;
            height: 3.2rem;
            position: absolute;
            left: 3.4rem;
            top: 0;
            font-size: 1.2rem;
            font-weight: 400;
            white-space: nowrap;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
          }
          .item--D4g {
            height: 1.3477rem;
            position: absolute;
            left: 0.768rem;
            top: 0.968rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.9025rem;
          }
        }
        .auto-group-6wm2-joi {
          width: 11.2rem;
          height: 3.2rem;
          position: relative;
          flex-shrink: 0;
          margin-top: 0.2rem;

          .rectangle-894-suv {
            height: 2rem;
            position: absolute;
            left: 0;
            top: 0.5rem;
            background-color: #000000;
            width: 11.2rem;
          }
          .vector-228 {
            left: 1.6rem;
            top: 0.9rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.4rem;
            height: 1.2983rem;
            position: absolute;
          }
          .wishlist-Mq6 {
            height: 3.2rem;
            position: absolute;
            line-height: 2.6666666667;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            width: 4.4rem;
            left: 4.4rem;
            top: 0;
            font-size: 1.2rem;
            font-weight: 400;
            white-space: nowrap;
          }
        }
      }
    }
  }
  .footer-qVN {
    left: 0;
    top: 127.3rem;
    width: 153.5rem;
    height: 26.6094rem;
    position: absolute;

    .rectangle-3-mP2 {
      left: 0;
      top: 0;
      background-color: #222222;
      width: 153.5rem;
      height: 24.9998rem;
      position: absolute;
    }
    .scrap-symphoy-sanctuary-aims-to-promote-innovation-in-the-digital-commerce-ecosystem-by-providing-a-platform-for-startups-and-entrepreneurs-to-develop-new-services-and-solutions-also-supports-digital-commerce-including-online-payments-e-commerce-and-financial-services-K9e {
      height: 8.8rem;
      top: 4.8992rem;
      line-height: 2.2;
      display: flex;
      font-size: 1rem;
      font-weight: 400;
      letter-spacing: 0.01rem;
      color: #ffffff;
      width: 43.7rem;
      position: absolute;
      left: 12.1922rem;
      font-family: Open Sans, 'Source Sans Pro';
    }
    .frame-35-VTS {
      position: absolute;
      left: 117.7234rem;
      top: 1.993rem;
      width: 14.4rem;
      height: 16.5rem;

      .pages-pkc {
        width: 100%;
        display: flex;
        justify-content: center;
        font-weight: 700;
        color: #ffffff;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2rem;
        align-items: center;
        font-size: 1.2rem;
        line-height: 2.25;
        letter-spacing: 0.012rem;
      }
      .frame-39-92C {
        flex-direction: column;
        width: 100%;
        row-gap: 1rem;
        display: flex;

        .about-us-gXv {
          display: flex;
          font-size: 1rem;
          line-height: 2.2;
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
          font-weight: 400;
          letter-spacing: 0.01rem;
          color: #ffffff;
          white-space: nowrap;
        }
        .return-policy-1q6 {
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 1rem;
          line-height: 2.2;
          letter-spacing: 0.01rem;
          font-weight: 400;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
        }
        .contact-us-k1z {
          flex-shrink: 0;
          font-weight: 400;
          line-height: 2.2;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          font-size: 1rem;
          letter-spacing: 0.01rem;
          color: #ffffff;
        }
        .refund-cancellation-policies-H1v {
          line-height: 2.2;
          color: #ffffff;
          flex-shrink: 0;
          font-weight: 400;
          font-size: 1rem;
          letter-spacing: 0.01rem;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
        }
      }
    }
    .social-media-oW4 {
      height: 3rem;
      position: absolute;
      left: 13.0039rem;
      top: 15.1109rem;
      display: flex;
      align-items: center;
      width: 17.362rem;

      .vector-jPi {
        margin: 0rem 4.035rem 0rem 0rem;
        width: 2.9268rem;
        height: 2.9268rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-sF2 {
        margin-right: 4.0344rem;
        width: 3.2195rem;
        height: 3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-27v {
        margin-top: 0.0013rem;
        width: 3.1463rem;
        height: 2.6341rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .rectangle-12-NBn {
      width: 153.5rem;
      height: 4.3rem;
      position: absolute;
      left: 0;
      top: 20.7rem;
      background-color: #555555;
    }
    .frame-40-uxQ {
      padding-right: 19.3667rem;
      position: absolute;
      left: 14.0906rem;
      top: 21.3rem;
      display: flex;
      align-items: flex-start;
      box-sizing: border-box;
      width: 29.8667rem;
      height: 5.3094rem;

      .mask-group-qLG {
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 4.5rem;
      }
      .mask-group-Nqz {
        flex-shrink: 0;
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .scrap-symphony-sanctuary-all-rights-reserved-jAk {
      color: #ffffff;
      white-space: nowrap;
      position: absolute;
      top: 22.1133rem;
      font-size: 1rem;
      font-weight: 700;
      line-height: 2.2;
      letter-spacing: 0.01rem;
      font-family: Open Sans, 'Source Sans Pro';
      width: 27.4rem;
      height: 2.2rem;
      left: 114.0258rem;
    }
    .terms-condition-privacy-policy-cVS {
      white-space: nowrap;
      position: absolute;
      left: 65.857rem;
      top: 22.1133rem;
      font-weight: 700;
      letter-spacing: 0.01rem;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      width: 18.5rem;
      height: 2.2rem;
      font-size: 1rem;
      line-height: 2.2;
    }
  }
}
