
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.scrap-wood-2-Fyv {
  width: 100%;
  height: 70.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .black1-67-Aqz {
    width: 153.6rem;
    height: 68.5rem;
    position: absolute;
    left: 0;
    top: 1.7rem;
    object-fit: cover;
    vertical-align: top;
  }
  .rectangle-901-Hvc {
    height: 4.3rem;
    position: absolute;
    left: 0;
    top: 65.9rem;
    background-color: #5b5b5b;
    width: 153.6rem;
  }
  .item--RX2 {
    width: 29.8667rem;
    height: 5.3094rem;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    padding-right: 19.3667rem;
    position: absolute;
    left: 14.1rem;
    top: 66.3rem;

    .mask-group-L8C {
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 4.5rem;
      width: 3rem;
      height: 3rem;
    }
    .mask-group-5Lg {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 3rem;
      height: 3rem;
      position: relative;
    }
  }
  .terms-condition-privacy-policy-pZA {
    height: 2.2rem;
    position: absolute;
    left: 65.9rem;
    top: 66.8rem;
    font-weight: 700;
    line-height: 2.2;
    letter-spacing: 0.01rem;
    color: #ffffff;
    width: 18.5rem;
    font-size: 1rem;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
  }
  .scrap-symphony-sanctuary-all-rights-reserved-5V6 {
    position: absolute;
    left: 114.1rem;
    font-size: 1rem;
    line-height: 2.2;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
    width: 27.4rem;
    height: 2.2rem;
    top: 66.8rem;
    font-weight: 700;
    letter-spacing: 0.01rem;
    color: #ffffff;
  }
  .scrap3-removebg-preview-68-Lfv {
    width: 4.7467rem;
    height: 4rem;
    position: absolute;
    left: 2.4rem;
    top: 5.1rem;
    object-fit: cover;
    vertical-align: top;
  }
  .scrap-symphony-sanctuary-TEk {
    font-size: 1.4rem;
    left: 7.25rem;
    align-items: center;
    justify-content: center;
    color: #f7fbff;
    white-space: nowrap;
    width: 16.2rem;
    height: 2.1rem;
    position: absolute;
    line-height: 1.4825;
    font-family: Oswald, 'Source Sans Pro';
    top: 6.5rem;
    display: flex;
    font-weight: 700;
    letter-spacing: 0.028rem;
  }
  .home-scrap-section-creative-section-about-us-contact-us-jTA {
    height: 2.5rem;
    left: 35.4rem;
    top: 6.3rem;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.016rem;
    white-space: nowrap;
    width: 51.9rem;
    position: absolute;
    line-height: 1.5625;
    color: #f6fbff;
    font-family: Open Sans, 'Source Sans Pro';
  }
  .rectangle-867-ohv {
    position: absolute;
    left: 91.4rem;
    top: 6.3rem;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
    background-color: #f6fbff;
    width: 37.7rem;
    height: 3.1rem;
  }
  .layer1-7Ti {
    height: 3.4078rem;
    position: absolute;
    left: 143.4rem;
    top: 6rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.2rem;
  }
  .item--F48 {
    position: absolute;
    left: 137.7297rem;
    top: 6.0844rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.7029rem;
    height: 3.0931rem;
  }
  .rectangle-901-a6Q {
    width: 104.2rem;
    height: 42rem;
    position: absolute;
    left: 45.7rem;
    top: 18rem;
    background-color: #ffffff;
    border-radius: 5rem;
  }
  .vector-Vz4 {
    object-fit: contain;
    vertical-align: top;
    width: 3.4rem;
    height: 3.2rem;
    position: absolute;
    left: 132.4rem;
    top: 6rem;
  }
  .price-SPW {
    left: 50.1rem;
    top: 36rem;
    width: 14.5rem;
    height: 7.7rem;
    position: absolute;

    .rectangle-106-AqJ {
      left: 0;
      border: dashed 0.1rem #ff731d;
      box-sizing: border-box;
      width: 14.5rem;
      height: 6.8rem;
      background-color: #ffffff;
      border-radius: 0.5rem;
      position: absolute;
      top: 0;
    }
    .text-5xG {
      top: 0.5rem;
      width: 6.7rem;
      height: 7.2rem;
      position: absolute;
      left: 1.2rem;

      .price-QzY {
        white-space: nowrap;
        margin-bottom: 0.9rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3571428571;
        letter-spacing: 0.014rem;
        color: #222222;
        font-family: Open Sans, 'Source Sans Pro';
      }
      .kg-Krc {
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 0.6875;
        letter-spacing: 0.032rem;
        color: #ff731d;
        font-family: Open Sans, 'Source Sans Pro';
        max-width: 6.7rem;
      }
    }
    .price-icon-4JQ {
      vertical-align: top;
      width: 2rem;
      height: 2rem;
      position: absolute;
      left: 12.1rem;
      top: 0.4rem;
      object-fit: contain;
    }
  }
  .frame-427319600-PrU {
    border-radius: 1.5rem;
    box-sizing: border-box;
    width: 34.7rem;
    left: 50.1rem;
    top: 46.9rem;
    align-items: center;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    background-color: #f8fafc;
    padding: 1rem 3.95rem;
    height: 9.9rem;
    position: absolute;
    display: flex;

    .frame-427319596-6kt {
      margin: 1.25rem 1.9rem 1.25rem 0rem;
      height: calc(100% - 2.5rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .group-17-pgt {
        flex-shrink: 0;
        margin: 0rem 0.1rem 0.5rem 0rem;
        width: 2.8845rem;
        height: 2.1997rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
      .free-delivery-LfE {
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 2.7;
        letter-spacing: 0.01rem;
        color: #000000;
      }
    }
    .line-97-FnC {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2rem;
      width: 0rem;
      height: 7.9rem;
      object-fit: contain;
    }
    .frame-427319598-PtQ {
      height: calc(100% - 2.5rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 1.25rem 1.9rem 1.25rem 0rem;

      .group-18-Wy2 {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.1rem 0.5rem 0rem;
        width: 2.2003rem;
        height: 2.1999rem;
        position: relative;
      }
      .pay-on-delivery-Eu2 {
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 2.7;
        letter-spacing: 0.01rem;
      }
    }
    .line-98-ybi {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2rem;
      width: 0rem;
      height: 7.9rem;
      object-fit: contain;
    }
    .auto-group-pusv-KQg {
      margin-bottom: 1.2rem;
      box-sizing: border-box;
      padding-top: 1.2rem;
      width: 5.3rem;
      height: 6.7rem;
      flex-shrink: 0;

      .frame-427319599-qtp {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .group-19-yVE {
          margin: 0rem 0rem 0.5rem 0rem;
          width: 2.2rem;
          height: 2.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .days-returnable-4ma {
          max-width: 5.3rem;
          text-align: center;
          line-height: 1.3625;
          flex-shrink: 0;
          font-size: 1rem;
          font-weight: 400;
          letter-spacing: 0.01rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
        }
      }
    }
  }
  .line-144-ibE {
    object-fit: contain;
    vertical-align: top;
    width: 0;
    height: 37.5rem;
    position: absolute;
    left: 89rem;
    top: 19.6rem;
  }
  .rectangle-899-TYp {
    width: 11.2rem;
    height: 2rem;
    position: absolute;
    left: 69rem;
    top: 36.5rem;
    background-color: #000000;
  }
  .add-to-cart-Bzc {
    line-height: 2.6666666667;
    color: #ffffff;
    white-space: nowrap;
    width: 6.4rem;
    position: absolute;
    left: 72.7rem;
    font-weight: 400;
    height: 3.2rem;
    top: 35.9rem;
    font-size: 1.2rem;
    font-family: Inter, 'Source Sans Pro';
  }
  .item--hTA {
    width: 1.9025rem;
    height: 1.3477rem;
    position: absolute;
    left: 69.768rem;
    top: 36.768rem;
    object-fit: contain;
    vertical-align: top;
  }
  .rectangle-900-q3a {
    background-color: #000000;
    width: 11.2rem;
    height: 2rem;
    position: absolute;
    left: 69rem;
    top: 40.2rem;
  }
  .vector-mT2 {
    width: 1.6rem;
    height: 1.4rem;
    position: absolute;
    left: 70.4rem;
    top: 40.5rem;
    object-fit: contain;
    vertical-align: top;
  }
  .wishlist-Jhr {
    top: 39.5rem;
    font-size: 1.2rem;
    line-height: 2.6666666667;
    font-family: Inter, 'Source Sans Pro';
    width: 4.4rem;
    height: 3.2rem;
    position: absolute;
    left: 72.9rem;
    font-weight: 400;
    color: #ffffff;
    white-space: nowrap;
  }
  .group-168-1sA {
    position: absolute;
    left: 91.4rem;
    top: 20.9rem;
    width: 56.8rem;
    height: 34.3rem;

    .auto-group-si1a-kJx {
      margin-bottom: 3.1227rem;
      box-sizing: border-box;
      padding: 2.179rem 0.691rem 2.179rem 0.709rem;
      width: 100%;
      height: 14.9773rem;
      border: dashed 0.1rem #dddddd;
      border-radius: 0.5rem;

      .description-GHJ {
        width: 100%;
        height: 7.5rem;
        display: flex;
        flex-direction: column;

        .description--DiL {
          font-size: 1.6rem;
          font-weight: 400;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.5rem;
          line-height: 1.375;
          letter-spacing: 0.016rem;
          flex-shrink: 0;
        }
        .timber-relic-a-discarded-broken-wooden-chair-once-functional-but-now-rendered-unusable-lies-as-waste-embodying-the-passage-of-time-and-neglect-YVi {
          line-height: 1.3571428571;
          letter-spacing: 0.014rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 55.4rem;
          font-size: 1.4rem;
          font-weight: 400;
        }
      }
    }
    .item--yb2 {
      margin-right: 0.2rem;
      width: calc(100% - 0.2rem);
      height: 16.2rem;
      display: flex;
      align-items: center;

      .group-21-K96 {
        width: 27.6rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .content-Ga8 {
          width: 13.7rem;
          height: 11.3rem;
          position: absolute;
          left: 1.5rem;
          top: 1.5rem;

          .features--c8C {
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.5rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.375;
            letter-spacing: 0.016rem;
            color: #000000;
          }
          .weathered-elegance-sturdy-skeleton-fading-memories-artistic-decay-8MS {
            font-weight: 400;
            line-height: 1.3571428571;
            letter-spacing: 0.014rem;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            max-width: 13.7rem;
            font-size: 1.4rem;
          }
        }
        .rectangle-113-cnQ {
          position: absolute;
          left: 0;
          top: 0;
          border: dashed 0.1rem #dddddd;
          box-sizing: border-box;
          border-radius: 0.5rem;
          width: 27.6rem;
          height: 16.2rem;
        }
      }
      .group-22-LiQ {
        height: 100%;
        border: dashed 0.1rem #dddddd;
        border-radius: 0.5rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.4rem 0.9rem 1.7rem 1.7rem;
        width: 29rem;

        .environmental-impact--To2 {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.9rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2125;
        }
        .wood-is-a-renewable-resource-that-naturally-absorbs-carbon-dioxide-contributing-to-a-healthier-environment-with-low-embodied-energy-biodegradability-and-recyclability-our-wood-items-embrace-eco-friendly-principles-providing-a-sustainable-and-versatile-choice-for-consciousconsumers-Byv {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          margin-left: 0.3rem;
          max-width: 26.1rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
        }
      }
    }
  }
  .item--Yhz {
    background-color: #f16713;
    padding: 0.05rem 2.7rem 0.05rem 1rem;
    left: 135.2rem;
    display: flex;
    align-items: center;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
    border-radius: 5rem;
    box-sizing: border-box;
    width: 9.4rem;
    height: 2.2rem;
    position: absolute;
    top: 12.7rem;

    .auto-group-lejy-qwz {
      margin-right: 0.6rem;
      width: 1.1rem;
      height: 1rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .back-9Bz {
      line-height: 1.1875;
      letter-spacing: 0.016rem;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.2rem;
      font-weight: 700;
      font-size: 1.6rem;
      color: #fff7e9;
    }
  }
  .group-187-zTW {
    left: 92.4rem;
    top: 6.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 2rem;
    height: 2.6383rem;
    position: absolute;
  }
  .search-5zk {
    height: 2.5rem;
    position: absolute;
    top: 6.8rem;
    font-family: Open Sans, 'Source Sans Pro';
    color: #555555;
    white-space: nowrap;
    width: 5.9rem;
    left: 95rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.3888888889;
    letter-spacing: 0.018rem;
  }
  .chair-wood-3-mMn {
    width: 31.4734rem;
    height: 40.1rem;
    position: absolute;
    left: 6.9997rem;
    top: 19.2rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 5rem;
  }
  .group-169-V2t {
    height: 11.5rem;
    position: absolute;
    left: 49.8rem;
    top: 21rem;
    display: flex;
    align-items: flex-end;
    width: 38.4rem;

    .auto-group-ulx4-Cxt {
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 3rem;
      height: 100%;
      display: flex;

      .timber-relic-wfa {
        margin-bottom: 1.1rem;
        font-weight: 700;
        color: #000000;
        white-space: nowrap;
        font-size: 2rem;
        line-height: 1.35;
        letter-spacing: 0.02rem;
        font-family: Open Sans, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .product-id-929dp6-GSx {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3571428571;
        color: #888888;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1rem;
        letter-spacing: 0.014rem;
        flex-shrink: 0;
      }
      .seller-pradeep-aiY {
        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: 0.014rem;
        color: #888888;
        flex-shrink: 0;
        margin-bottom: 1rem;
        line-height: 1.3571428571;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
      .published-on-15-march-2022-uVv {
        line-height: 1.3571428571;
        letter-spacing: 0.014rem;
        color: #888888;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.4rem;
        font-weight: 400;
      }
    }
    .group-157-2aY {
      box-sizing: border-box;
      padding: 0.9rem 1.5rem 2.004rem 1.5rem;
      align-items: center;
      display: flex;
      border: dashed 0.1rem #ff731d;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      margin-bottom: 0.3955rem;
      flex-direction: column;
      background-color: rgba(246, 251, 255, 0.8000000119);
      flex-shrink: 0;
      width: 16.1rem;

      .available-quantity-kWY {
        flex-shrink: 0;
        font-weight: 700;
        color: #000000;
        font-size: 1.4rem;
        line-height: 1.5714285714;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        align-items: baseline;
        margin-bottom: 1.2rem;
        text-align: center;

        .available-quantity-kWY-sub-0 {
        }
        .available-quantity-kWY-sub-1 {
          font-size: 3.2rem;
          font-weight: 600;
          line-height: 0.6875;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
        }
      }
      .kg-Het {
        margin-left: 0.1rem;
        text-align: center;
        font-size: 3.2rem;
        font-family: Open Sans, 'Source Sans Pro';
        font-weight: 300;
        line-height: 0.6875;
        color: #777777;
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
}
