
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.scrap-ewaste-2-DVN {
  width: 100%;
  position: relative;
  align-items: center;
  background-size: 100% 100%;
  background-position: center;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-image: url('REPLACE_IMAGE:4db7a63002ededecb5f49fec65723cca71659456');

  .auto-group-hk9n-Z3S {
    box-sizing: border-box;
    padding: 5.1rem 3.7rem 5.9rem 2.4rem;
    width: 100%;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-uhlp-fsA {
      margin: 0rem 3.3rem 3.292rem 0rem;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .scrap3-removebg-preview-68-CMJ {
        width: 4.7467rem;
        height: 4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.103rem 0.308rem 0rem;
      }
      .scrap-symphony-sanctuary-tjv {
        font-family: Oswald, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 11.95rem 0.808rem 0rem;
        display: flex;
        justify-content: center;
        line-height: 1.4825;
        letter-spacing: 0.028rem;
        align-items: center;
        font-size: 1.4rem;
        font-weight: 700;
        color: #f7fbff;
        flex-shrink: 0;
      }
      .home-scrap-section-creative-section-about-us-contact-us-moi {
        margin: 0rem 4.1rem 0.608rem 0rem;
        font-weight: 400;
        letter-spacing: 0.016rem;
        color: #f6fbff;
        font-size: 1.6rem;
        line-height: 1.5625;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-7k7j-Fyn {
        padding: 0.2rem 28.2rem 0.1rem 1rem;
        display: flex;
        align-items: center;
        box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
        background-color: #f6fbff;
        flex-shrink: 0;
        margin: 1.192rem 3.3rem 0rem 0rem;
        box-sizing: border-box;

        .group-187-Mmv {
          margin: 0rem 0.6rem 0.162rem 0rem;
          width: 2rem;
          height: 2.6383rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .search-skG {
          letter-spacing: 0.018rem;
          white-space: nowrap;
          flex-shrink: 0;
          line-height: 1.3888888889;
          font-size: 1.8rem;
          font-weight: 400;
          color: #555555;
          font-family: Open Sans, 'Source Sans Pro';
          margin-top: 0.3rem;
        }
      }
      .vector-9hn {
        margin: 0rem 1.93rem 0.208rem 0rem;
        width: 3.4rem;
        height: 3.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .item--H3J {
        margin: 0rem 1.967rem 0.23rem 0rem;
        width: 3.7029rem;
        height: 3.0931rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .layer1-PME {
        flex-shrink: 0;
        width: 3.2rem;
        height: 3.4078rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .item--XCY {
      width: calc(100% - 138.1rem);
      background-color: #f16713;
      display: flex;
      align-items: center;
      box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
      border-radius: 5rem;
      margin: 0rem 5.3rem 3.1rem 132.8rem;
      box-sizing: border-box;
      padding: 0.05rem 2.7rem 0.05rem 1rem;
      height: 2.2rem;
      flex-shrink: 0;

      .auto-group-qg4c-cUt {
        margin-right: 0.6rem;
        width: 1.1rem;
        height: 1rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .back-jpQ {
        line-height: 1.1875;
        letter-spacing: 0.016rem;
        color: #fff7e9;
        flex-shrink: 0;
        margin-bottom: 0.2rem;
        font-size: 1.6rem;
        font-weight: 700;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-rjb2-DzU {
      width: 100%;
      height: 42rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .image-3-aKE {
        object-fit: cover;
        vertical-align: top;
        border-radius: 5rem;
        flex-shrink: 0;
        margin-right: 2.6rem;
        width: 40.7rem;
        height: 42rem;
      }
      .auto-group-a7su-6Ha {
        align-items: center;
        background-color: #ffffff;
        border-radius: 5rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.6rem 1.7rem 2.9rem 4.4rem;
        height: 100%;
        display: flex;

        .auto-group-qut8-BZv {
          margin: 2rem 1.3rem 0rem 0rem;
          width: 37.6rem;
          flex-shrink: 0;

          .group-169-uVv {
            margin: 0rem 0rem 2.5rem 0.1rem;
            width: calc(100% - 0.1rem);
            height: 11.5rem;
            display: flex;
            align-items: flex-end;

            .auto-group-7y7n-Rz4 {
              margin-right: 1.7rem;
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .chargechronicles-ykg {
                font-weight: 700;
                color: #000000;
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.1rem;
                font-size: 2rem;
                line-height: 1.35;
                letter-spacing: 0.02rem;
                font-family: Open Sans, 'Source Sans Pro';
              }
              .product-id-101hb8-hRn {
                margin-bottom: 1rem;
                font-size: 1.4rem;
                letter-spacing: 0.014rem;
                color: #888888;
                font-family: Open Sans, 'Source Sans Pro';
                font-weight: 400;
                line-height: 1.3571428571;
                white-space: nowrap;
                flex-shrink: 0;
              }
              .seller-sneha-DQ8 {
                color: #888888;
                white-space: nowrap;
                flex-shrink: 0;
                line-height: 1.3571428571;
                font-size: 1.4rem;
                font-weight: 400;
                letter-spacing: 0.014rem;
                font-family: Open Sans, 'Source Sans Pro';
                margin-bottom: 1rem;
              }
              .published-on-30-march-2018-k9A {
                letter-spacing: 0.014rem;
                color: #888888;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.3571428571;
              }
            }
            .group-157-TpG {
              align-items: center;
              display: flex;
              background-color: rgba(246, 251, 255, 0.8000000119);
              flex-shrink: 0;
              margin-bottom: 0.5955rem;
              box-sizing: border-box;
              padding: 0.9rem 1.5rem 2.004rem 1.5rem;
              width: 16.1rem;
              flex-direction: column;
              border: dashed 0.1rem #ff731d;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

              .available-quantity-NRS {
                align-items: baseline;
                flex-shrink: 0;
                margin-bottom: 1.2rem;
                text-align: center;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                display: flex;
                font-size: 1.4rem;
                font-weight: 700;
                line-height: 1.5714285714;
                color: #000000;

                .available-quantity-NRS-sub-0 {
                }
                .available-quantity-NRS-sub-1 {
                  font-size: 3.2rem;
                  font-weight: 600;
                  line-height: 0.6875;
                  color: #000000;
                  font-family: Open Sans, 'Source Sans Pro';
                }
              }
              .kg-JyJ {
                white-space: nowrap;
                font-size: 3.2rem;
                font-weight: 300;
                line-height: 0.6875;
                color: #777777;
                font-family: Open Sans, 'Source Sans Pro';
                margin-left: 0.1rem;
                text-align: center;
                flex-shrink: 0;
              }
            }
          }
          .auto-group-1mqy-ypY {
            margin: 0rem 7.5rem 3.2rem 0rem;
            width: calc(100% - 7.5rem);
            display: flex;
            align-items: flex-start;

            .price-uy6 {
              flex-shrink: 0;
              margin: 0.1rem 4.4rem 0rem 0rem;
              width: 14.5rem;
              height: 7.7rem;
              position: relative;

              .rectangle-106-r7e {
                width: 14.5rem;
                height: 6.8rem;
                top: 0;
                border: dashed 0.1rem #ff731d;
                box-sizing: border-box;
                background-color: #ffffff;
                position: absolute;
                left: 0;
                border-radius: 0.5rem;
              }
              .text-MKJ {
                left: 1.2rem;
                top: 0.5rem;
                width: 6.7rem;
                height: 7.2rem;
                position: absolute;

                .price-g6g {
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  margin-bottom: 0.9rem;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.3571428571;
                  letter-spacing: 0.014rem;
                  color: #222222;
                }
                .kg-QYU {
                  font-size: 3.2rem;
                  font-weight: 400;
                  line-height: 0.6875;
                  letter-spacing: 0.032rem;
                  color: #ff731d;
                  font-family: Open Sans, 'Source Sans Pro';
                  max-width: 6.7rem;
                }
              }
              .price-icon-vWp {
                left: 12.1rem;
                top: 0.4rem;
                object-fit: contain;
                vertical-align: top;
                width: 2rem;
                height: 2rem;
                position: absolute;
              }
            }
            .auto-group-3ff2-qtg {
              width: 11.2rem;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .auto-group-1wts-zFn {
                width: 100%;
                height: 3.2rem;
                position: relative;
                flex-shrink: 0;
                margin-bottom: 0.4rem;

                .rectangle-899-vQL {
                  width: 11.2rem;
                  height: 2rem;
                  position: absolute;
                  left: 0;
                  top: 0.6rem;
                  background-color: #000000;
                }
                .add-to-cart-TQG {
                  position: absolute;
                  left: 3.7rem;
                  font-weight: 400;
                  line-height: 2.6666666667;
                  white-space: nowrap;
                  width: 6.4rem;
                  height: 3.2rem;
                  top: 0;
                  font-size: 1.2rem;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                }
                .item--Zy6 {
                  width: 1.9025rem;
                  height: 1.3477rem;
                  position: absolute;
                  left: 0.768rem;
                  top: 0.868rem;
                  object-fit: contain;
                  vertical-align: top;
                }
              }
              .auto-group-ega8-W7e {
                width: 100%;
                height: 3.2rem;
                position: relative;
                flex-shrink: 0;

                .rectangle-900-4Q4 {
                  width: 11.2rem;
                  height: 2rem;
                  position: absolute;
                  left: 0;
                  top: 0.7rem;
                  background-color: #000000;
                }
                .vector-PhE {
                  position: absolute;
                  left: 1.4rem;
                  top: 1rem;
                  object-fit: contain;
                  vertical-align: top;
                  width: 1.6rem;
                  height: 1.4rem;
                }
                .wishlist-X2k {
                  left: 3.9rem;
                  font-weight: 400;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  line-height: 2.6666666667;
                  width: 4.4rem;
                  height: 3.2rem;
                  position: absolute;
                  top: 0;
                  font-size: 1.2rem;
                }
              }
            }
          }
          .frame-427319600-1Cp {
            background-color: #f8fafc;
            border-radius: 1.5rem;
            box-sizing: border-box;
            padding: 1rem 3.95rem;
            height: 9.9rem;
            display: flex;
            align-items: center;
            box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);

            .frame-427319596-KjJ {
              margin: 1.25rem 1.9rem 1.25rem 0rem;
              height: calc(100% - 2.5rem);
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .group-17-3QQ {
                flex-shrink: 0;
                margin: 0rem 0.1rem 0.5rem 0rem;
                width: 2.8845rem;
                height: 2.1997rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
              }
              .free-delivery-kpc {
                font-weight: 400;
                line-height: 2.7;
                letter-spacing: 0.01rem;
                color: #000000;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1rem;
              }
            }
            .line-97-seL {
              margin-right: 2rem;
              width: 0rem;
              height: 7.9rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .frame-427319598-1kY {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin: 1.25rem 1.9rem 1.25rem 0rem;
              height: calc(100% - 2.5rem);
              align-items: center;

              .group-18-jRe {
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 0.1rem 0.5rem 0rem;
                width: 2.2003rem;
                height: 2.1999rem;
              }
              .pay-on-delivery-4D2 {
                line-height: 2.7;
                letter-spacing: 0.01rem;
                color: #000000;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1rem;
                font-weight: 400;
              }
            }
            .line-98-Zfa {
              height: 7.9rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 2rem;
              width: 0rem;
            }
            .auto-group-zzme-uDe {
              margin-bottom: 1.2rem;
              box-sizing: border-box;
              padding-top: 1.2rem;
              width: 5.3rem;
              height: 6.7rem;
              flex-shrink: 0;

              .frame-427319599-dQY {
                width: 100%;
                height: 100%;
                align-items: center;
                display: flex;
                flex-direction: column;

                .group-19-Nd2 {
                  height: 2.2rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 0rem 0.5rem 0rem;
                  width: 2.2rem;
                }
                .days-returnable-bEt {
                  text-align: center;
                  letter-spacing: 0.01rem;
                  flex-shrink: 0;
                  max-width: 5.3rem;
                  font-size: 1rem;
                  font-weight: 400;
                  line-height: 1.3625;
                  color: #000000;
                  font-family: Open Sans, 'Source Sans Pro';
                }
              }
            }
          }
        }
        .line-144-3sa {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 2.4rem;
          width: 0;
          height: 37.5rem;
          object-fit: contain;
        }
        .auto-group-tytz-yWL {
          height: calc(100% - 2.4994rem);
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 1.3rem 0rem 1.199rem 0rem;
          width: 56.8rem;

          .group-168-HG8 {
            height: 14.9773rem;
            border: dashed 0.1rem #dddddd;
            border-radius: 0.5rem;
            flex-shrink: 0;
            margin-bottom: 3.7227rem;
            box-sizing: border-box;
            padding: 2.1789rem 0.7094rem;
            width: 100%;

            .description-cJQ {
              height: 7.5rem;
              width: 51rem;

              .description--ZDe {
                letter-spacing: 0.016rem;
                color: #000000;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 1.5rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.375;
              }
              .a-collection-of-old-chargers-each-reflecting-the-evolution-of-technology-with-various-connectors-and-worn-appearances-gZA {
                letter-spacing: 0.014rem;
                color: #000000;
                font-family: Open Sans, 'Source Sans Pro';
                max-width: 51rem;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.3571428571;
              }
            }
          }
          .item--Ldi {
            width: 100%;
            height: 16.3006rem;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .group-21-HYx {
              width: 27.6rem;
              height: 16.2rem;
              position: relative;
              flex-shrink: 0;

              .content-RfA {
                width: 23.2rem;
                height: 9.4rem;
                position: absolute;
                left: 1.5rem;
                top: 1.5rem;

                .features--MYp {
                  line-height: 1.375;
                  letter-spacing: 0.016rem;
                  color: #000000;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  margin-bottom: 1.5rem;
                  font-size: 1.6rem;
                  font-weight: 400;
                }
                .various-connector-types-visible-signs-of-wear-obsolete-technology-compatibility-t2x {
                  font-weight: 400;
                  line-height: 1.3571428571;
                  letter-spacing: 0.014rem;
                  color: #000000;
                  font-family: Open Sans, 'Source Sans Pro';
                  max-width: 23.2rem;
                  font-size: 1.4rem;
                }
              }
              .rectangle-113-yq6 {
                border-radius: 0.5rem;
                width: 27.6rem;
                height: 16.2rem;
                position: absolute;
                left: 0;
                top: 0;
                border: dashed 0.1rem #dddddd;
                box-sizing: border-box;
              }
            }
            .group-22-7Ac {
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1.409rem 1.5rem 2.876rem 1.5rem;
              width: 29.2rem;
              height: 100%;
              border: dashed 0.1rem #dddddd;
              border-radius: 0.5rem;

              .environmental-impact--DzL {
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 0.5156rem;
                font-size: 1.6rem;
                font-weight: 400;
              }
              .e-waste-needs-careful-handling-to-protect-the-environment-recycling-helps-recover-valuable-materials-and-supports-a-sustainable-approach-to-electronics-disposal-9d6 {
                max-width: 23.7rem;
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.5833333333;
                letter-spacing: 0.012rem;
                color: #000000;
                font-family: Open Sans, 'Source Sans Pro';
              }
            }
          }
        }
      }
    }
  }
  .auto-group-pfqp-8jv {
    display: flex;
    align-items: center;
    background-color: #5b5b5b;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0.4rem 12.1rem 0rem 14.1rem;
    width: 100%;
    height: 5.7094rem;

    .item--qPS {
      margin-right: 21.9333rem;
      box-sizing: border-box;
      padding-right: 19.3667rem;
      height: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .mask-group-xyr {
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 4.5rem;
        width: 3rem;
      }
      .mask-group-uPJ {
        vertical-align: top;
        flex-shrink: 0;
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
      }
    }
    .terms-condition-privacy-policy-eLt {
      line-height: 2.2;
      letter-spacing: 0.01rem;
      color: #ffffff;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 29.7rem 2.109rem 0rem;
      font-size: 1rem;
      font-weight: 700;
      font-family: Open Sans, 'Source Sans Pro';
    }
    .scrap-symphony-sanctuary-all-rights-reserved-wKz {
      font-size: 1rem;
      font-weight: 700;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 2.1094rem;
      line-height: 2.2;
      letter-spacing: 0.01rem;
      color: #ffffff;
    }
  }
}
