
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.scrap-plastic-1-L6Y {
  width: 100%;
  height: 70.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .black1-67-2k4 {
    vertical-align: top;
    width: 153.6rem;
    height: 68.5rem;
    position: absolute;
    left: 0;
    top: 1.7rem;
    object-fit: cover;
  }
  .rectangle-901-wc8 {
    left: 0;
    top: 65.9rem;
    background-color: #5b5b5b;
    width: 153.6rem;
    height: 4.3rem;
    position: absolute;
  }
  .item--sEt {
    width: 29.8667rem;
    height: 5.3094rem;
    position: absolute;
    left: 14.1rem;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    padding-right: 19.3667rem;
    top: 66.3rem;

    .mask-group-AUt {
      height: 3rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 4.5rem;
      width: 3rem;
    }
    .mask-group-6NY {
      width: 3rem;
      height: 3rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .terms-condition-privacy-policy-EDr {
    position: absolute;
    left: 65.9rem;
    top: 66.8rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 2.2;
    color: #ffffff;
    height: 2.2rem;
    white-space: nowrap;
    font-family: Open Sans, 'Source Sans Pro';
    letter-spacing: 0.01rem;
    width: 18.5rem;
  }
  .scrap-symphony-sanctuary-all-rights-reserved-JUc {
    height: 2.2rem;
    position: absolute;
    left: 114.1rem;
    top: 66.8rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 2.2;
    width: 27.4rem;
    font-family: Open Sans, 'Source Sans Pro';
    letter-spacing: 0.01rem;
    white-space: nowrap;
    color: #ffffff;
  }
  .scrap3-removebg-preview-68-kLc {
    top: 5.1rem;
    object-fit: cover;
    vertical-align: top;
    width: 4.7467rem;
    height: 4rem;
    position: absolute;
    left: 2.4rem;
  }
  .scrap-symphony-sanctuary-TF2 {
    justify-content: center;
    font-family: Oswald, 'Source Sans Pro';
    white-space: nowrap;
    width: 16.2rem;
    top: 6.5rem;
    line-height: 1.4825;
    display: flex;
    font-size: 1.4rem;
    letter-spacing: 0.028rem;
    color: #f7fbff;
    height: 2.1rem;
    position: absolute;
    left: 7.25rem;
    align-items: center;
    font-weight: 700;
  }
  .home-scrap-section-creative-section-about-us-contact-us-86G {
    width: 51.9rem;
    left: 35.4rem;
    font-size: 1.6rem;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.5rem;
    position: absolute;
    top: 6.3rem;
    font-weight: 400;
    line-height: 1.5625;
    letter-spacing: 0.016rem;
    color: #f6fbff;
  }
  .rectangle-867-BqE {
    top: 6.3rem;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
    background-color: #f6fbff;
    width: 37.7rem;
    height: 3.1rem;
    position: absolute;
    left: 91.4rem;
  }
  .layer1-UpL {
    top: 6rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.2rem;
    height: 3.4078rem;
    position: absolute;
    left: 143.4rem;
  }
  .item--bPA {
    position: absolute;
    left: 137.7297rem;
    top: 6.0844rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.7029rem;
    height: 3.0931rem;
  }
  .rectangle-901-Wm2 {
    width: 104.2rem;
    height: 42rem;
    position: absolute;
    left: 45.7rem;
    top: 18rem;
    background-color: #ffffff;
    border-radius: 5rem;
  }
  .vector-pFv {
    position: absolute;
    left: 132.4rem;
    top: 6rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.4rem;
    height: 3.2rem;
  }
  .price-k9a {
    left: 50.1rem;
    top: 36rem;
    width: 14.5rem;
    height: 7.7rem;
    position: absolute;

    .rectangle-106-g3E {
      top: 0;
      position: absolute;
      left: 0;
      border: dashed 0.1rem #ff731d;
      box-sizing: border-box;
      background-color: #ffffff;
      border-radius: 0.5rem;
      width: 14.5rem;
      height: 6.8rem;
    }
    .text-n6G {
      position: absolute;
      left: 1.2rem;
      top: 0.5rem;
      width: 6.7rem;
      height: 7.2rem;

      .price-uRn {
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.9rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3571428571;
        letter-spacing: 0.014rem;
        color: #222222;
      }
      .kg-Rf2 {
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 0.6875;
        letter-spacing: 0.032rem;
        color: #ff731d;
        font-family: Open Sans, 'Source Sans Pro';
        max-width: 6.7rem;
      }
    }
    .price-icon-95E {
      left: 12.1rem;
      top: 0.4rem;
      object-fit: contain;
      vertical-align: top;
      width: 2rem;
      height: 2rem;
      position: absolute;
    }
  }
  .frame-427319600-T5v {
    padding: 1rem 3.95rem;
    width: 34.7rem;
    position: absolute;
    left: 50.1rem;
    align-items: center;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    background-color: #f8fafc;
    box-sizing: border-box;
    height: 9.9rem;
    top: 46.9rem;
    display: flex;
    border-radius: 1.5rem;

    .frame-427319596-YNG {
      flex-direction: column;
      flex-shrink: 0;
      margin: 1.25rem 1.9rem 1.25rem 0rem;
      height: calc(100% - 2.5rem);
      align-items: center;
      display: flex;

      .group-17-fBz {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.1rem 0.5rem 0rem;
        width: 2.8845rem;
        height: 2.1997rem;
        position: relative;
      }
      .free-delivery-A8k {
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 2.7;
        letter-spacing: 0.01rem;
        color: #000000;
      }
    }
    .line-97-rXN {
      width: 0rem;
      height: 7.9rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2rem;
    }
    .frame-427319598-nfv {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 1.25rem 1.9rem 1.25rem 0rem;
      height: calc(100% - 2.5rem);

      .group-18-6wW {
        margin: 0rem 0.1rem 0.5rem 0rem;
        width: 2.2003rem;
        height: 2.1999rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .pay-on-delivery-dAk {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 2.7;
        letter-spacing: 0.01rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
      }
    }
    .line-98-wBS {
      width: 0rem;
      height: 7.9rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2rem;
    }
    .auto-group-cgwy-UhA {
      flex-shrink: 0;
      margin-bottom: 1.2rem;
      box-sizing: border-box;
      padding-top: 1.2rem;
      width: 5.3rem;
      height: 6.7rem;

      .frame-427319599-bmn {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;

        .group-19-MFA {
          height: 2.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0rem 0.5rem 0rem;
          width: 2.2rem;
        }
        .days-returnable-Gsv {
          text-align: center;
          font-size: 1rem;
          line-height: 1.3625;
          letter-spacing: 0.01rem;
          color: #000000;
          max-width: 5.3rem;
          font-weight: 400;
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
    }
  }
  .line-144-jWc {
    width: 0;
    height: 37.5rem;
    position: absolute;
    left: 89rem;
    top: 19.6rem;
    object-fit: contain;
    vertical-align: top;
  }
  .rectangle-899-fQG {
    width: 11.2rem;
    height: 2rem;
    position: absolute;
    left: 69rem;
    top: 36.5rem;
    background-color: #000000;
  }
  .add-to-cart-b32 {
    white-space: nowrap;
    left: 72.7rem;
    top: 35.9rem;
    font-size: 1.2rem;
    line-height: 2.6666666667;
    color: #ffffff;
    width: 6.4rem;
    height: 3.2rem;
    position: absolute;
    font-weight: 400;
    font-family: Inter, 'Source Sans Pro';
  }
  .item--5D6 {
    object-fit: contain;
    vertical-align: top;
    width: 1.9025rem;
    height: 1.3477rem;
    position: absolute;
    left: 69.768rem;
    top: 36.768rem;
  }
  .rectangle-900-zax {
    position: absolute;
    left: 69rem;
    top: 40.2rem;
    background-color: #000000;
    width: 11.2rem;
    height: 2rem;
  }
  .vector-7Qg {
    height: 1.4rem;
    position: absolute;
    left: 70.4rem;
    top: 40.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.6rem;
  }
  .wishlist-33S {
    font-family: Inter, 'Source Sans Pro';
    width: 4.4rem;
    height: 3.2rem;
    top: 39.5rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.6666666667;
    position: absolute;
    left: 72.9rem;
    color: #ffffff;
    white-space: nowrap;
  }
  .group-168-iQU {
    padding: 2.179rem 1.191rem 3.398rem 0.709rem;
    height: 14.9773rem;
    position: absolute;
    left: 91.4rem;
    border: dashed 0.1rem #dddddd;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 56.8rem;
    top: 20.9rem;

    .description-QHJ {
      height: 100%;
      display: flex;
      flex-direction: column;
      width: 100%;

      .description--xJp {
        font-weight: 400;
        letter-spacing: 0.016rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.5rem;
        font-size: 1.6rem;
        line-height: 1.375;
        flex-shrink: 0;
      }
      .a-collection-of-empty-plastic-bottles-featuring-assorted-sizes-and-clear-plastic-material-these-lightweight-containers-now-devoid-of-their-original-contents-await-the-next-phase-of-their-lifecycle-GaQ {
        font-weight: 400;
        line-height: 1.3571428571;
        letter-spacing: 0.014rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 54.9rem;
        font-size: 1.4rem;
      }
    }
  }
  .item--5Gx {
    box-sizing: border-box;
    top: 12.7rem;
    align-items: center;
    background-color: #f16713;
    left: 135.2rem;
    display: flex;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
    border-radius: 5rem;
    padding: 0.05rem 2.7rem 0.05rem 1rem;
    width: 9.4rem;
    height: 2.2rem;
    position: absolute;

    .auto-group-nr3e-N1A {
      margin-right: 0.6rem;
      width: 1.1rem;
      height: 1rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .back-tEQ {
      font-size: 1.6rem;
      font-weight: 700;
      letter-spacing: 0.016rem;
      color: #fff7e9;
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.2rem;
      line-height: 1.1875;
      font-family: Open Sans, 'Source Sans Pro';
    }
  }
  .group-187-moz {
    object-fit: contain;
    vertical-align: top;
    width: 2rem;
    height: 2.6383rem;
    position: absolute;
    left: 92.4rem;
    top: 6.5rem;
  }
  .search-Vzt {
    left: 95rem;
    top: 6.8rem;
    font-size: 1.8rem;
    line-height: 1.3888888889;
    letter-spacing: 0.018rem;
    height: 2.5rem;
    position: absolute;
    font-weight: 400;
    color: #555555;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
    width: 5.9rem;
  }
  .item--BMv {
    align-items: flex-start;
    width: 56.8rem;
    height: 16.3006rem;
    position: absolute;
    left: 91.4rem;
    top: 39.6rem;
    display: flex;

    .group-21-skY {
      width: 27.6rem;
      height: 16.2rem;
      position: relative;
      flex-shrink: 0;

      .content-DZW {
        top: 1.5rem;
        width: 15.2rem;
        height: 11.3rem;
        position: absolute;
        left: 1.5rem;

        .features--kJY {
          letter-spacing: 0.016rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.5rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.375;
        }
        .assorted-sizes-clear-plastic-material-screw-on-caps-empty-and-lightweight-stx {
          max-width: 15.2rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.3571428571;
          letter-spacing: 0.014rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
        }
      }
      .rectangle-113-N52 {
        box-sizing: border-box;
        border-radius: 0.5rem;
        width: 27.6rem;
        height: 16.2rem;
        position: absolute;
        left: 0;
        top: 0;
        border: dashed 0.1rem #dddddd;
      }
    }
    .group-22-Hhn {
      border-radius: 0.5rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.409rem 2.7rem 0.976rem 1.5rem;
      width: 29.2rem;
      height: 100%;
      border: dashed 0.1rem #dddddd;

      .environmental-impact--R3J {
        margin-bottom: 0.5156rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .old-plastic-scrap-offers-a-sustainable-choice-minimizing-the-need-for-new-production-and-reducing-environmental-impact-repurposing-these-materials-supports-eco-friendly-practices-and-lessens-waste-promoting-a-responsible-approach-jZn {
        max-width: 25rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.5833333333;
        letter-spacing: 0.012rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
      }
    }
  }
  .plastic-bottels-3-LJg {
    vertical-align: top;
    border-radius: 5rem;
    width: 41.1rem;
    height: 42rem;
    position: absolute;
    left: 2.2rem;
    top: 17.5rem;
    object-fit: cover;
  }
  .group-166-3it {
    top: 21rem;
    display: flex;
    align-items: flex-end;
    width: 38.6rem;
    height: 11.5rem;
    position: absolute;
    left: 48.5rem;

    .auto-group-7peg-nRa {
      margin-right: 1rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .plastic-bottles-LCC {
        margin-bottom: 1.1rem;
        font-weight: 700;
        line-height: 1.35;
        font-family: Open Sans, 'Source Sans Pro';
        flex-shrink: 0;
        font-size: 2rem;
        letter-spacing: 0.02rem;
        color: #000000;
        white-space: nowrap;
      }
      .product-id-453nm8-eig {
        font-weight: 400;
        line-height: 1.3571428571;
        letter-spacing: 0.014rem;
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1rem;
        font-size: 1.4rem;
        color: #888888;
        font-family: Open Sans, 'Source Sans Pro';
      }
      .seller-sriganesh-mHW {
        font-size: 1.4rem;
        letter-spacing: 0.014rem;
        flex-shrink: 0;
        color: #888888;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1rem;
        font-weight: 400;
        line-height: 1.3571428571;
      }
      .published-on-14-february-2019-Hme {
        letter-spacing: 0.014rem;
        color: #888888;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3571428571;
      }
    }
    .group-157-1he {
      border: dashed 0.1rem #ff731d;
      background-color: rgba(246, 251, 255, 0.8000000119);
      margin-bottom: 0.5955rem;
      flex-direction: column;
      width: 16.1rem;
      align-items: center;
      display: flex;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.9rem 1.5rem 2.004rem 1.5rem;

      .available-quantity-YBn {
        display: flex;
        align-items: baseline;
        font-weight: 700;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.2rem;
        text-align: center;
        font-size: 1.4rem;
        line-height: 1.5714285714;

        .available-quantity-YBn-sub-0 {
        }
        .available-quantity-YBn-sub-1 {
          font-weight: 600;
          line-height: 0.6875;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          font-size: 3.2rem;
        }
      }
      .kg-UDr {
        margin-left: 0.1rem;
        line-height: 0.6875;
        color: #777777;
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 3.2rem;
        font-weight: 300;
        font-family: Open Sans, 'Source Sans Pro';
      }
    }
  }
}
