
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.scrap-wood-1-pT6 {
  width: 100%;
  height: 70.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .black1-67-Kue {
    left: 0;
    top: 1.7rem;
    object-fit: cover;
    vertical-align: top;
    width: 153.6rem;
    height: 68.5rem;
    position: absolute;
  }
  .rectangle-901-eh2 {
    background-color: #5b5b5b;
    width: 153.6rem;
    height: 4.3rem;
    position: absolute;
    left: 0;
    top: 65.9rem;
  }
  .item--yjJ {
    padding-right: 19.3667rem;
    align-items: flex-start;
    top: 66.3rem;
    display: flex;
    box-sizing: border-box;
    width: 29.8667rem;
    height: 5.3094rem;
    position: absolute;
    left: 14.1rem;

    .mask-group-VSk {
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 4.5rem;
      width: 3rem;
      height: 3rem;
    }
    .mask-group-E9S {
      flex-shrink: 0;
      width: 3rem;
      height: 3rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .terms-condition-privacy-policy-ZxQ {
    height: 2.2rem;
    top: 66.8rem;
    letter-spacing: 0.01rem;
    font-family: Open Sans, 'Source Sans Pro';
    line-height: 2.2;
    color: #ffffff;
    white-space: nowrap;
    width: 18.5rem;
    position: absolute;
    left: 65.9rem;
    font-size: 1rem;
    font-weight: 700;
  }
  .scrap-symphony-sanctuary-all-rights-reserved-Rzc {
    top: 66.8rem;
    letter-spacing: 0.01rem;
    position: absolute;
    left: 114.1rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 2.2;
    color: #ffffff;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
    width: 27.4rem;
    height: 2.2rem;
  }
  .scrap3-removebg-preview-68-u96 {
    position: absolute;
    left: 2.4rem;
    top: 5.1rem;
    object-fit: cover;
    vertical-align: top;
    width: 4.7467rem;
    height: 4rem;
  }
  .scrap-symphony-sanctuary-d56 {
    height: 2.1rem;
    left: 7.25rem;
    justify-content: center;
    letter-spacing: 0.028rem;
    white-space: nowrap;
    width: 16.2rem;
    display: flex;
    align-items: center;
    color: #f7fbff;
    position: absolute;
    font-weight: 700;
    font-family: Oswald, 'Source Sans Pro';
    top: 6.5rem;
    font-size: 1.4rem;
    line-height: 1.4825;
  }
  .home-scrap-section-creative-section-about-us-contact-us-7FA {
    font-size: 1.6rem;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
    top: 6.3rem;
    height: 2.5rem;
    position: absolute;
    left: 35.4rem;
    font-weight: 400;
    line-height: 1.5625;
    letter-spacing: 0.016rem;
    color: #f6fbff;
    width: 51.9rem;
  }
  .rectangle-867-15e {
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
    background-color: #f6fbff;
    width: 37.7rem;
    height: 3.1rem;
    position: absolute;
    left: 91.4rem;
    top: 6.3rem;
  }
  .layer1-hz4 {
    position: absolute;
    left: 143.4rem;
    top: 6rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.2rem;
    height: 3.4078rem;
  }
  .item--q4g {
    left: 137.7297rem;
    top: 6.0844rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.7029rem;
    height: 3.0931rem;
    position: absolute;
  }
  .rectangle-901-mDE {
    height: 42rem;
    position: absolute;
    left: 45.7rem;
    top: 17.9rem;
    background-color: #ffffff;
    border-radius: 5rem;
    width: 104.2rem;
  }
  .vector-t2x {
    width: 3.4rem;
    height: 3.2rem;
    position: absolute;
    left: 132.4rem;
    top: 6rem;
    object-fit: contain;
    vertical-align: top;
  }
  .price-RHn {
    width: 14.5rem;
    height: 7.7rem;
    position: absolute;
    left: 50.1rem;
    top: 36rem;

    .rectangle-106-ZPz {
      top: 0;
      border: dashed 0.1rem #ff731d;
      box-sizing: border-box;
      background-color: #ffffff;
      border-radius: 0.5rem;
      width: 14.5rem;
      height: 6.8rem;
      position: absolute;
      left: 0;
    }
    .text-5NL {
      height: 7.2rem;
      position: absolute;
      left: 1.2rem;
      top: 0.5rem;
      width: 6.7rem;

      .price-c7N {
        line-height: 1.3571428571;
        letter-spacing: 0.014rem;
        color: #222222;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.9rem;
        font-size: 1.4rem;
        font-weight: 400;
      }
      .kg-8bW {
        max-width: 6.7rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 0.6875;
        letter-spacing: 0.032rem;
        color: #ff731d;
        font-family: Open Sans, 'Source Sans Pro';
      }
    }
    .price-icon-TNt {
      width: 2rem;
      height: 2rem;
      position: absolute;
      left: 12.1rem;
      top: 0.4rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .frame-427319600-PnL {
    box-sizing: border-box;
    width: 34.7rem;
    align-items: center;
    background-color: #f8fafc;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    border-radius: 1.5rem;
    padding: 1rem 3.95rem;
    height: 9.9rem;
    position: absolute;
    left: 50.1rem;
    top: 46.9rem;
    display: flex;

    .frame-427319596-6Rr {
      height: calc(100% - 2.5rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 1.25rem 1.9rem 1.25rem 0rem;

      .group-17-p6x {
        height: 2.1997rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.1rem 0.5rem 0rem;
        width: 2.8845rem;
      }
      .free-delivery-BLp {
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 2.7;
        letter-spacing: 0.01rem;
      }
    }
    .line-97-VcQ {
      margin-right: 2rem;
      width: 0rem;
      height: 7.9rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .frame-427319598-cwv {
      height: calc(100% - 2.5rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 1.25rem 1.9rem 1.25rem 0rem;

      .group-18-wDW {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.1rem 0.5rem 0rem;
        width: 2.2003rem;
        height: 2.1999rem;
        position: relative;
        object-fit: contain;
      }
      .pay-on-delivery-rrG {
        font-weight: 400;
        line-height: 2.7;
        letter-spacing: 0.01rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1rem;
      }
    }
    .line-98-PbJ {
      margin-right: 2rem;
      width: 0rem;
      height: 7.9rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-t69j-9Ka {
      margin-bottom: 1.2rem;
      box-sizing: border-box;
      padding-top: 1.2rem;
      width: 5.3rem;
      height: 6.7rem;
      flex-shrink: 0;

      .frame-427319599-UMr {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .group-19-E68 {
          width: 2.2rem;
          height: 2.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0rem 0.5rem 0rem;
        }
        .days-returnable-xH2 {
          max-width: 5.3rem;
          text-align: center;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.3625;
          letter-spacing: 0.01rem;
        }
      }
    }
  }
  .line-144-de4 {
    vertical-align: top;
    width: 0;
    height: 37.5rem;
    position: absolute;
    left: 89rem;
    top: 19.6rem;
    object-fit: contain;
  }
  .rectangle-899-aZJ {
    position: absolute;
    left: 69rem;
    top: 36.5rem;
    background-color: #000000;
    width: 11.2rem;
    height: 2rem;
  }
  .add-to-cart-uLg {
    width: 6.4rem;
    top: 35.9rem;
    font-weight: 400;
    font-family: Inter, 'Source Sans Pro';
    height: 3.2rem;
    position: absolute;
    left: 72.7rem;
    font-size: 1.2rem;
    line-height: 2.6666666667;
    color: #ffffff;
    white-space: nowrap;
  }
  .item--nvG {
    height: 1.3477rem;
    position: absolute;
    left: 69.768rem;
    top: 36.768rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.9025rem;
  }
  .rectangle-900-X7A {
    width: 11.2rem;
    height: 2rem;
    position: absolute;
    left: 69rem;
    top: 40.2rem;
    background-color: #000000;
  }
  .vector-exU {
    position: absolute;
    left: 70.4rem;
    top: 40.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.6rem;
    height: 1.4rem;
  }
  .wishlist-Pv4 {
    left: 72.9rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.6666666667;
    color: #ffffff;
    width: 4.4rem;
    height: 3.2rem;
    position: absolute;
    white-space: nowrap;
    top: 39.5rem;
    font-family: Inter, 'Source Sans Pro';
  }
  .group-168-hvk {
    width: 56.8rem;
    border: dashed 0.1rem #dddddd;
    box-sizing: border-box;
    padding: 2.179rem 0.709rem 3.398rem 0.709rem;
    height: 14.9773rem;
    position: absolute;
    left: 91.4rem;
    top: 20.9rem;
    border-radius: 0.5rem;

    .description-DPJ {
      width: 52.9rem;
      height: 100%;

      .description--Zxx {
        white-space: nowrap;
        margin-bottom: 1.5rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.375;
        letter-spacing: 0.016rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
      }
      .ecowood-scraps-a-waste-wooden-pieces-often-discarded-remnants-from-various-woodworking-projects-are-leftover-materials-that-can-be-repurposed-or-recycled-for-sustainable-practices-uG8 {
        font-family: Open Sans, 'Source Sans Pro';
        max-width: 52.9rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3571428571;
        letter-spacing: 0.014rem;
        color: #000000;
      }
    }
  }
  .item--uQY {
    padding: 0.05rem 2.7rem 0.05rem 1rem;
    position: absolute;
    left: 135.2rem;
    display: flex;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
    border-radius: 5rem;
    box-sizing: border-box;
    width: 9.4rem;
    height: 2.2rem;
    top: 12.7rem;
    align-items: center;
    background-color: #f16713;

    .auto-group-rqpc-boA {
      height: 1rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.6rem;
      width: 1.1rem;
    }
    .back-Xgp {
      font-size: 1.6rem;
      font-weight: 700;
      letter-spacing: 0.016rem;
      color: #fff7e9;
      flex-shrink: 0;
      margin-bottom: 0.2rem;
      line-height: 1.1875;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .group-187-ELL {
    height: 2.6383rem;
    position: absolute;
    left: 92.4rem;
    top: 6.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 2rem;
  }
  .search-ZtQ {
    left: 95rem;
    top: 6.8rem;
    font-size: 1.8rem;
    white-space: nowrap;
    letter-spacing: 0.018rem;
    color: #555555;
    font-family: Open Sans, 'Source Sans Pro';
    width: 5.9rem;
    height: 2.5rem;
    position: absolute;
    font-weight: 400;
    line-height: 1.3888888889;
  }
  .extra-wood-4-4qA {
    width: 39.6rem;
    height: 38.3rem;
    position: absolute;
    left: 3.3rem;
    top: 19.6rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 5rem;
  }
  .group-166-mja {
    display: flex;
    align-items: flex-end;
    width: 37rem;
    height: 11.5rem;
    position: absolute;
    left: 50.1rem;
    top: 20.9rem;

    .auto-group-shoj-61A {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 2.6rem;

      .ecowood-scraps-Rp8 {
        letter-spacing: 0.02rem;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.1rem;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.35;
        color: #000000;
      }
      .product-id-280hl3-wGg {
        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: 0.014rem;
        color: #888888;
        flex-shrink: 0;
        margin-bottom: 1rem;
        line-height: 1.3571428571;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
      .seller-stella-FoA {
        font-size: 1.4rem;
        color: #888888;
        white-space: nowrap;
        font-family: Open Sans, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 1rem;
        font-weight: 400;
        line-height: 1.3571428571;
        letter-spacing: 0.014rem;
      }
      .published-on-29-may-2020-nHJ {
        font-weight: 400;
        line-height: 1.3571428571;
        letter-spacing: 0.014rem;
        color: #888888;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.4rem;
      }
    }
    .group-190-VxQ {
      margin-bottom: 0.3955rem;
      box-sizing: border-box;
      width: 16.1rem;
      flex-direction: column;
      background-color: rgba(246, 251, 255, 0.8000000119);
      flex-shrink: 0;
      padding: 0.9rem 1.5rem 1.904rem 1.5rem;
      align-items: center;
      display: flex;
      border: dashed 0.1rem #ff731d;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

      .available-quantity-d32 {
        align-items: baseline;
        flex-shrink: 0;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.5714285714;
        color: #000000;
        white-space: nowrap;
        margin-bottom: 1.3rem;
        text-align: center;
        font-family: Open Sans, 'Source Sans Pro';
        display: flex;

        .available-quantity-d32-sub-0 {
        }
        .available-quantity-d32-sub-1 {
          font-weight: 600;
          line-height: 0.6875;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          font-size: 3.2rem;
        }
      }
      .kg-Mt8 {
        color: #777777;
        margin-left: 0.5rem;
        text-align: center;
        font-size: 3.2rem;
        font-weight: 300;
        line-height: 0.6875;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
  .item--EBE {
    left: 91.4rem;
    top: 38.9rem;
    display: flex;
    align-items: center;
    width: 56.7rem;
    height: 16.2rem;
    position: absolute;

    .group-21-MWk {
      flex-shrink: 0;
      width: 27.6rem;
      height: 100%;
      position: relative;

      .content-i6Q {
        width: 17.6rem;
        height: 11.3rem;
        position: absolute;
        left: 1.5rem;
        top: 1.5rem;

        .features--eVr {
          letter-spacing: 0.016rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.5rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.375;
        }
        .upcycling-potential-renewable-resource-reduced-carbon-footprint-cost-effective-material-BEt {
          letter-spacing: 0.014rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          max-width: 17.6rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.3571428571;
        }
      }
      .rectangle-113-4pU {
        border-radius: 0.5rem;
        width: 27.6rem;
        height: 16.2rem;
        position: absolute;
        left: 0;
        top: 0;
        border: dashed 0.1rem #dddddd;
        box-sizing: border-box;
      }
    }
    .group-22-zCL {
      box-sizing: border-box;
      padding: 1.4rem 1.5rem 1.7rem 1.5rem;
      width: 29.1rem;
      height: 100%;
      border: dashed 0.1rem #dddddd;
      border-radius: 0.5rem;
      flex-shrink: 0;

      .environmental-impact--WgU {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.9rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
      }
      .wood-is-a-renewable-resource-that-naturally-absorbs-carbon-dioxide-contributing-to-a-healthier-environment-with-low-embodied-energy-biodegradability-and-recyclability-our-wood-items-embrace-eco-friendly-principles-providing-a-sustainable-and-versatile-choice-for-consciousconsumers-eGt {
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        max-width: 26.1rem;
        font-size: 1.2rem;
      }
    }
  }
}
