
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.scrap-ewaste-1-S8L {
  flex-direction: column;
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-position: center;
  background-image: url('REPLACE_IMAGE:4db7a63002ededecb5f49fec65723cca71659456');
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  background-size: 100% 100%;

  .auto-group-jhf2-Aa8 {
    padding: 5.1rem 3.7rem 5.9rem 2.4rem;
    width: 100%;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;

    .auto-group-2f4q-gYU {
      margin: 0rem 3.3rem 3.292rem 0rem;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .scrap3-removebg-preview-68-PBz {
        height: 4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.103rem 0.308rem 0rem;
        width: 4.7467rem;
      }
      .scrap-symphony-sanctuary-UDS {
        justify-content: center;
        white-space: nowrap;
        margin: 0rem 11.95rem 0.808rem 0rem;
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.4825;
        letter-spacing: 0.028rem;
        color: #f7fbff;
        font-family: Oswald, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .home-scrap-section-creative-section-about-us-contact-us-9Ka {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5625;
        letter-spacing: 0.016rem;
        font-family: Open Sans, 'Source Sans Pro';
        margin: 0rem 4.1rem 0.608rem 0rem;
        color: #f6fbff;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-usua-1cg {
        flex-shrink: 0;
        margin: 1.192rem 3.3rem 0rem 0rem;
        box-sizing: border-box;
        padding: 0.2rem 28.2rem 0.1rem 1rem;
        display: flex;
        align-items: center;
        box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
        background-color: #f6fbff;

        .group-187-6u2 {
          flex-shrink: 0;
          margin: 0rem 0.6rem 0.162rem 0rem;
          width: 2rem;
          height: 2.6383rem;
          object-fit: contain;
          vertical-align: top;
        }
        .search-cMa {
          line-height: 1.3888888889;
          letter-spacing: 0.018rem;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.3rem;
          font-size: 1.8rem;
          font-weight: 400;
          color: #555555;
        }
      }
      .vector-gMS {
        flex-shrink: 0;
        margin: 0rem 1.93rem 0.208rem 0rem;
        width: 3.4rem;
        height: 3.2rem;
        object-fit: contain;
        vertical-align: top;
      }
      .item--ogx {
        height: 3.0931rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.967rem 0.23rem 0rem;
        width: 3.7029rem;
      }
      .layer1-iJ8 {
        width: 3.2rem;
        height: 3.4078rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .item--476 {
      width: calc(100% - 138.1rem);
      background-color: #f16713;
      flex-shrink: 0;
      margin: 0rem 5.3rem 3.1rem 132.8rem;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
      border-radius: 5rem;
      padding: 0.05rem 2.7rem 0.05rem 1rem;
      height: 2.2rem;

      .auto-group-3m2k-LaQ {
        width: 1.1rem;
        height: 1rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.6rem;
      }
      .back-sqE {
        flex-shrink: 0;
        margin-bottom: 0.2rem;
        font-weight: 700;
        line-height: 1.1875;
        font-family: Open Sans, 'Source Sans Pro';
        font-size: 1.6rem;
        letter-spacing: 0.016rem;
        color: #fff7e9;
        white-space: nowrap;
      }
    }
    .auto-group-ttwg-ZCG {
      width: 100%;
      height: 42rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .cell-phone-3-i5A {
        flex-shrink: 0;
        margin-right: 2.8rem;
        width: 40.5rem;
        height: 42rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 5rem;
      }
      .auto-group-mzme-EZJ {
        display: flex;
        align-items: center;
        background-color: #ffffff;
        border-radius: 5rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.6rem 1.7rem 2.9rem 3.6rem;
        height: 100%;

        .auto-group-cvkc-xEQ {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 1.6rem 2rem 0rem 0rem;
          width: 37.7rem;
          align-items: center;

          .auto-group-nngc-gAQ {
            align-items: flex-end;
            flex-shrink: 0;
            width: 100%;
            height: 11.5045rem;
            display: flex;

            .group-166-d5e {
              margin: 0rem 0.7rem 0.004rem 0rem;
              height: calc(100% - 0.0045rem);
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .techrelic-mobiles-LVr {
                font-size: 2rem;
                line-height: 1.35;
                color: #000000;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.1rem;
                font-weight: 700;
                letter-spacing: 0.02rem;
              }
              .product-id-562nm9-SYt {
                margin-bottom: 1rem;
                font-size: 1.4rem;
                letter-spacing: 0.014rem;
                color: #888888;
                flex-shrink: 0;
                font-weight: 400;
                line-height: 1.3571428571;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
              }
              .seller-roshini-Z7i {
                letter-spacing: 0.014rem;
                color: #888888;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1rem;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.3571428571;
              }
              .published-on-09-october-2021-Tyn {
                font-weight: 400;
                line-height: 1.3571428571;
                letter-spacing: 0.014rem;
                color: #888888;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
              }
            }
            .group-187-zD2 {
              border: dashed 0.1rem #ff731d;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              align-items: center;
              display: flex;
              width: 16.1rem;
              flex-direction: column;
              background-color: rgba(246, 251, 255, 0.8000000119);
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 0.9rem 1.5rem 2.004rem 1.5rem;

              .available-quantity-grY {
                margin-bottom: 1.2rem;
                text-align: center;
                line-height: 1.5714285714;
                color: #000000;
                font-size: 1.4rem;
                font-weight: 700;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                display: flex;
                align-items: baseline;
                flex-shrink: 0;

                .available-quantity-grY-sub-0 {
                }
                .available-quantity-grY-sub-1 {
                  font-size: 3.2rem;
                  font-weight: 600;
                  line-height: 0.6875;
                  color: #000000;
                  font-family: Open Sans, 'Source Sans Pro';
                }
              }
              .kg-1GY {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 3.2rem;
                line-height: 0.6875;
                color: #777777;
                font-family: Open Sans, 'Source Sans Pro';
                margin-right: 0.7rem;
                text-align: center;
                font-weight: 300;
              }
            }
          }
          .auto-group-nsxw-TPS {
            padding: 2.896rem 0.8rem 0rem 0.8rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;

            .auto-group-icfe-AYk {
              width: calc(100% - 6rem);
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;
              margin: 0rem 6rem 3.2rem 0rem;

              .price-HNU {
                margin: 0.1rem 4.4rem 0rem 0rem;
                width: 14.5rem;
                height: 7.7rem;
                position: relative;
                flex-shrink: 0;

                .rectangle-106-QCC {
                  width: 14.5rem;
                  height: 6.8rem;
                  left: 0;
                  box-sizing: border-box;
                  border-radius: 0.5rem;
                  position: absolute;
                  top: 0;
                  border: dashed 0.1rem #ff731d;
                  background-color: #ffffff;
                }
                .text-JHa {
                  width: 6.7rem;
                  height: 7.2rem;
                  position: absolute;
                  left: 1.2rem;
                  top: 0.5rem;

                  .price-Rd6 {
                    margin-bottom: 0.9rem;
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.3571428571;
                    letter-spacing: 0.014rem;
                    color: #222222;
                    font-family: Open Sans, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                  .kg-YBv {
                    font-size: 3.2rem;
                    font-weight: 400;
                    line-height: 0.6875;
                    letter-spacing: 0.032rem;
                    color: #ff731d;
                    font-family: Open Sans, 'Source Sans Pro';
                    max-width: 6.7rem;
                  }
                }
                .price-icon-ekk {
                  object-fit: contain;
                  vertical-align: top;
                  width: 2rem;
                  height: 2rem;
                  position: absolute;
                  left: 12.1rem;
                  top: 0.4rem;
                }
              }
              .auto-group-qi3n-yHE {
                width: 11.2rem;
                align-items: center;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .auto-group-zeh2-vCU {
                  height: 3.2rem;
                  position: relative;
                  flex-shrink: 0;
                  margin-bottom: 0.4rem;
                  width: 100%;

                  .rectangle-899-TCQ {
                    height: 2rem;
                    position: absolute;
                    left: 0;
                    top: 0.6rem;
                    background-color: #000000;
                    width: 11.2rem;
                  }
                  .add-to-cart-ygY {
                    font-weight: 400;
                    font-family: Inter, 'Source Sans Pro';
                    width: 6.4rem;
                    height: 3.2rem;
                    left: 3.7rem;
                    font-size: 1.2rem;
                    white-space: nowrap;
                    position: absolute;
                    top: 0;
                    line-height: 2.6666666667;
                    color: #ffffff;
                  }
                  .item--Gfe {
                    left: 0.768rem;
                    top: 0.868rem;
                    object-fit: contain;
                    vertical-align: top;
                    width: 1.9025rem;
                    height: 1.3477rem;
                    position: absolute;
                  }
                }
                .auto-group-d9pz-z5r {
                  width: 100%;
                  height: 3.2rem;
                  position: relative;
                  flex-shrink: 0;

                  .rectangle-900-Kdv {
                    top: 0.7rem;
                    background-color: #000000;
                    width: 11.2rem;
                    height: 2rem;
                    position: absolute;
                    left: 0;
                  }
                  .vector-egC {
                    height: 1.4rem;
                    position: absolute;
                    left: 1.4rem;
                    top: 1rem;
                    object-fit: contain;
                    vertical-align: top;
                    width: 1.6rem;
                  }
                  .wishlist-aZr {
                    width: 4.4rem;
                    height: 3.2rem;
                    left: 3.9rem;
                    color: #ffffff;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    position: absolute;
                    top: 0;
                    font-size: 1.2rem;
                    font-weight: 400;
                    line-height: 2.6666666667;
                  }
                }
              }
            }
            .frame-427319600-frC {
              padding: 1rem 3.95rem;
              height: 9.9rem;
              box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
              background-color: #f8fafc;
              border-radius: 1.5rem;
              box-sizing: border-box;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .frame-427319596-ayA {
                margin: 1.25rem 1.9rem 1.25rem 0rem;
                height: calc(100% - 2.5rem);
                align-items: center;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .group-17-JeG {
                  margin: 0rem 0.1rem 0.5rem 0rem;
                  width: 2.8845rem;
                  height: 2.1997rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .free-delivery-c9A {
                  font-size: 1rem;
                  font-weight: 400;
                  line-height: 2.7;
                  letter-spacing: 0.01rem;
                  color: #000000;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .line-97-8dJ {
                flex-shrink: 0;
                margin-right: 2rem;
                width: 0rem;
                height: 7.9rem;
                object-fit: contain;
                vertical-align: top;
              }
              .frame-427319598-sat {
                margin: 1.25rem 1.9rem 1.25rem 0rem;
                height: calc(100% - 2.5rem);
                align-items: center;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .group-18-zvQ {
                  margin: 0rem 0.1rem 0.5rem 0rem;
                  width: 2.2003rem;
                  height: 2.1999rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .pay-on-delivery-iLc {
                  flex-shrink: 0;
                  font-size: 1rem;
                  font-weight: 400;
                  line-height: 2.7;
                  letter-spacing: 0.01rem;
                  color: #000000;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .line-98-3dn {
                width: 0rem;
                height: 7.9rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 2rem;
              }
              .auto-group-gya4-nrG {
                margin-bottom: 1.2rem;
                box-sizing: border-box;
                padding-top: 1.2rem;
                width: 5.3rem;
                height: 6.7rem;
                flex-shrink: 0;

                .frame-427319599-iE8 {
                  width: 100%;
                  height: 100%;
                  align-items: center;
                  display: flex;
                  flex-direction: column;

                  .group-19-rr8 {
                    margin: 0rem 0rem 0.5rem 0rem;
                    width: 2.2rem;
                    height: 2.2rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .days-returnable-BNc {
                    font-weight: 400;
                    letter-spacing: 0.01rem;
                    flex-shrink: 0;
                    max-width: 5.3rem;
                    font-size: 1rem;
                    color: #000000;
                    font-family: Open Sans, 'Source Sans Pro';
                    text-align: center;
                    line-height: 1.3625;
                  }
                }
              }
            }
          }
        }
        .line-144-qTA {
          margin-right: 2.4rem;
          width: 0;
          height: 37.5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-hbor-yZN {
          height: calc(100% - 2.4994rem);
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 1.3rem 0rem 1.199rem 0rem;
          width: 56.8rem;

          .group-168-tgL {
            flex-shrink: 0;
            margin-bottom: 3.7227rem;
            box-sizing: border-box;
            padding: 2.1789rem 0.7094rem;
            width: 100%;
            height: 14.9773rem;
            border: dashed 0.1rem #dddddd;
            border-radius: 0.5rem;

            .description-ppt {
              width: 53.8rem;
              height: 7.5rem;

              .description--Atk {
                white-space: nowrap;
                margin-bottom: 1.5rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.375;
                letter-spacing: 0.016rem;
                color: #000000;
                font-family: Open Sans, 'Source Sans Pro';
              }
              .outdated-mobile-phones-showcasing-varying-sizes-and-styles-while-no-longer-in-use-these-devices-carry-a-nostalgic-charm-6nQ {
                color: #000000;
                font-family: Open Sans, 'Source Sans Pro';
                max-width: 53.8rem;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.3571428571;
                letter-spacing: 0.014rem;
              }
            }
          }
          .item--xJp {
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;
            width: 100%;
            height: 16.3006rem;

            .group-21-WLL {
              flex-shrink: 0;
              width: 27.6rem;
              height: 16.2rem;
              position: relative;

              .content-rQC {
                width: 19rem;
                height: 11.3rem;
                position: absolute;
                left: 1.5rem;
                top: 1.5rem;

                .features--BSU {
                  color: #000000;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  margin-bottom: 1.5rem;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.375;
                  letter-spacing: 0.016rem;
                }
                .diverse-models-and-sizes-outdated-technology-visible-signs-of-wear-obsolete-operating-systems-6JY {
                  letter-spacing: 0.014rem;
                  color: #000000;
                  font-family: Open Sans, 'Source Sans Pro';
                  max-width: 19rem;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.3571428571;
                }
              }
              .rectangle-113-yt8 {
                position: absolute;
                left: 0;
                top: 0;
                border: dashed 0.1rem #dddddd;
                box-sizing: border-box;
                border-radius: 0.5rem;
                width: 27.6rem;
                height: 16.2rem;
              }
            }
            .group-22-JfW {
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1.409rem 1.5rem 2.876rem 1.5rem;
              width: 29.2rem;
              height: 100%;
              border: dashed 0.1rem #dddddd;
              border-radius: 0.5rem;

              .environmental-impact--DnU {
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 0.5156rem;
                font-size: 1.6rem;
                font-weight: 400;
              }
              .e-waste-needs-careful-handling-to-protect-the-environment-recycling-helps-recover-valuable-materials-and-supports-a-sustainable-approach-to-electronics-disposal-k1i {
                max-width: 23.7rem;
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.5833333333;
                letter-spacing: 0.012rem;
                color: #000000;
                font-family: Open Sans, 'Source Sans Pro';
              }
            }
          }
        }
      }
    }
  }
  .auto-group-kruj-7Fa {
    align-items: center;
    background-color: #5b5b5b;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0.4rem 12.1rem 0rem 14.1rem;
    width: 100%;
    height: 5.7094rem;
    display: flex;

    .item--1br {
      box-sizing: border-box;
      padding-right: 19.3667rem;
      height: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin-right: 21.9333rem;

      .mask-group-k3e {
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 4.5rem;
        width: 3rem;
      }
      .mask-group-stx {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 3rem;
        height: 3rem;
        position: relative;
      }
    }
    .terms-condition-privacy-policy-DT2 {
      font-size: 1rem;
      font-weight: 700;
      line-height: 2.2;
      letter-spacing: 0.01rem;
      margin: 0rem 29.7rem 2.109rem 0rem;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .scrap-symphony-sanctuary-all-rights-reserved-VfS {
      font-weight: 700;
      line-height: 2.2;
      font-family: Open Sans, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 2.1094rem;
      font-size: 1rem;
      letter-spacing: 0.01rem;
      color: #ffffff;
      white-space: nowrap;
    }
  }
}
