
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.scrap-metal-1-LN8 {
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 70.2rem;
  position: relative;

  .black1-67-Qct {
    position: absolute;
    left: 0;
    top: 1.7rem;
    object-fit: cover;
    vertical-align: top;
    width: 153.6rem;
    height: 68.5rem;
  }
  .rectangle-901-j9N {
    height: 4.3rem;
    position: absolute;
    left: 0;
    top: 65.9rem;
    background-color: #5b5b5b;
    width: 153.6rem;
  }
  .item--rUt {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    align-items: flex-start;
    padding-right: 19.3667rem;
    width: 29.8667rem;
    height: 5.3094rem;
    left: 14.1rem;
    top: 66.3rem;

    .mask-group-kaG {
      margin-right: 4.5rem;
      width: 3rem;
      height: 3rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .mask-group-sPz {
      flex-shrink: 0;
      width: 3rem;
      height: 3rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .terms-condition-privacy-policy-Qep {
    left: 65.9rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 2.2;
    letter-spacing: 0.01rem;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
    width: 18.5rem;
    position: absolute;
    top: 66.8rem;
    color: #ffffff;
    height: 2.2rem;
  }
  .scrap-symphony-sanctuary-all-rights-reserved-fKr {
    position: absolute;
    top: 66.8rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.01rem;
    width: 27.4rem;
    height: 2.2rem;
    color: #ffffff;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
    left: 114.1rem;
    line-height: 2.2;
  }
  .scrap3-removebg-preview-68-KfJ {
    vertical-align: top;
    width: 4.7467rem;
    height: 4rem;
    position: absolute;
    left: 2.4rem;
    top: 5.1rem;
    object-fit: cover;
  }
  .scrap-symphony-sanctuary-RyE {
    top: 6.5rem;
    letter-spacing: 0.028rem;
    justify-content: center;
    font-size: 1.4rem;
    color: #f7fbff;
    height: 2.1rem;
    display: flex;
    line-height: 1.4825;
    font-family: Oswald, 'Source Sans Pro';
    white-space: nowrap;
    width: 16.2rem;
    position: absolute;
    left: 7.25rem;
    align-items: center;
    font-weight: 700;
  }
  .home-scrap-section-creative-section-about-us-contact-us-JGL {
    width: 51.9rem;
    height: 2.5rem;
    left: 35.4rem;
    color: #f6fbff;
    position: absolute;
    top: 6.3rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5625;
    letter-spacing: 0.016rem;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
  }
  .rectangle-867-Zi4 {
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
    background-color: #f6fbff;
    width: 37.7rem;
    height: 3.1rem;
    position: absolute;
    left: 91.4rem;
    top: 6.3rem;
  }
  .layer1-fFJ {
    position: absolute;
    left: 143.4rem;
    top: 6rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.2rem;
    height: 3.4078rem;
  }
  .item--adA {
    object-fit: contain;
    vertical-align: top;
    width: 3.7029rem;
    height: 3.0931rem;
    position: absolute;
    left: 137.7297rem;
    top: 6.0844rem;
  }
  .rectangle-901-6rQ {
    border-radius: 5rem;
    width: 104.2rem;
    height: 42rem;
    position: absolute;
    left: 45.7rem;
    top: 18rem;
    background-color: #ffffff;
  }
  .vector-c44 {
    width: 3.4rem;
    height: 3.2rem;
    position: absolute;
    left: 132.4rem;
    top: 6rem;
    object-fit: contain;
    vertical-align: top;
  }
  .price-juN {
    position: absolute;
    left: 50.1rem;
    top: 36rem;
    width: 14.5rem;
    height: 7.7rem;

    .rectangle-106-fo2 {
      left: 0;
      background-color: #ffffff;
      border-radius: 0.5rem;
      width: 14.5rem;
      position: absolute;
      border: dashed 0.1rem #ff731d;
      box-sizing: border-box;
      height: 6.8rem;
      top: 0;
    }
    .text-BmN {
      left: 1.2rem;
      top: 0.5rem;
      width: 6.7rem;
      height: 7.2rem;
      position: absolute;

      .price-Woe {
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.9rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3571428571;
        letter-spacing: 0.014rem;
        color: #222222;
      }
      .kg-32t {
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 0.6875;
        letter-spacing: 0.032rem;
        color: #ff731d;
        font-family: Open Sans, 'Source Sans Pro';
        max-width: 6.7rem;
      }
    }
    .price-icon-Lng {
      left: 12.1rem;
      top: 0.4rem;
      object-fit: contain;
      vertical-align: top;
      width: 2rem;
      height: 2rem;
      position: absolute;
    }
  }
  .frame-427319600-GgL {
    padding: 1rem 3.95rem;
    height: 9.9rem;
    left: 50.1rem;
    display: flex;
    align-items: center;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    width: 34.7rem;
    position: absolute;
    top: 46.9rem;
    background-color: #f8fafc;
    border-radius: 1.5rem;

    .frame-427319596-9k8 {
      flex-direction: column;
      flex-shrink: 0;
      margin: 1.25rem 1.9rem 1.25rem 0rem;
      height: calc(100% - 2.5rem);
      align-items: center;
      display: flex;

      .group-17-4cC {
        margin: 0rem 0.1rem 0.5rem 0rem;
        width: 2.8845rem;
        height: 2.1997rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .free-delivery-NMz {
        font-weight: 400;
        line-height: 2.7;
        letter-spacing: 0.01rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1rem;
      }
    }
    .line-97-636 {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2rem;
      width: 0rem;
      height: 7.9rem;
    }
    .frame-427319598-E9J {
      flex-shrink: 0;
      margin: 1.25rem 1.9rem 1.25rem 0rem;
      height: calc(100% - 2.5rem);
      align-items: center;
      display: flex;
      flex-direction: column;

      .group-18-xLC {
        height: 2.1999rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.1rem 0.5rem 0rem;
        width: 2.2003rem;
      }
      .pay-on-delivery-UZS {
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 2.7;
        letter-spacing: 0.01rem;
      }
    }
    .line-98-QCC {
      flex-shrink: 0;
      margin-right: 2rem;
      width: 0rem;
      height: 7.9rem;
      object-fit: contain;
      vertical-align: top;
    }
    .auto-group-ndyn-9Qg {
      margin-bottom: 1.2rem;
      box-sizing: border-box;
      padding-top: 1.2rem;
      width: 5.3rem;
      height: 6.7rem;
      flex-shrink: 0;

      .frame-427319599-fP2 {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .group-19-p12 {
          margin: 0rem 0rem 0.5rem 0rem;
          width: 2.2rem;
          height: 2.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .days-returnable-vZr {
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.3625;
          letter-spacing: 0.01rem;
          flex-shrink: 0;
          text-align: center;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          max-width: 5.3rem;
        }
      }
    }
  }
  .line-144-PiL {
    left: 89rem;
    top: 19.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 0;
    height: 37.5rem;
    position: absolute;
  }
  .rectangle-899-j1W {
    width: 11.2rem;
    height: 2rem;
    position: absolute;
    left: 69rem;
    top: 36.5rem;
    background-color: #000000;
  }
  .add-to-cart-FVe {
    font-size: 1.2rem;
    line-height: 2.6666666667;
    font-family: Inter, 'Source Sans Pro';
    width: 6.4rem;
    height: 3.2rem;
    left: 72.7rem;
    top: 35.9rem;
    position: absolute;
    font-weight: 400;
    color: #ffffff;
    white-space: nowrap;
  }
  .item--x9A {
    left: 69.768rem;
    top: 36.768rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.9025rem;
    height: 1.3477rem;
    position: absolute;
  }
  .rectangle-900-fpG {
    top: 40.2rem;
    background-color: #000000;
    width: 11.2rem;
    height: 2rem;
    position: absolute;
    left: 69rem;
  }
  .vector-o9n {
    object-fit: contain;
    vertical-align: top;
    width: 1.6rem;
    height: 1.4rem;
    position: absolute;
    left: 70.4rem;
    top: 40.5rem;
  }
  .wishlist-jZE {
    top: 39.5rem;
    font-size: 1.2rem;
    line-height: 2.6666666667;
    white-space: nowrap;
    width: 4.4rem;
    height: 3.2rem;
    position: absolute;
    left: 72.9rem;
    font-weight: 400;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
  }
  .group-168-eRJ {
    box-sizing: border-box;
    padding: 2.179rem 0.709rem 3.398rem 0.709rem;
    border: dashed 0.1rem #dddddd;
    border-radius: 0.5rem;
    width: 56.8rem;
    height: 14.9773rem;
    position: absolute;
    left: 91.4rem;
    top: 20.9rem;

    .description-wfJ {
      width: 50.3rem;
      height: 100%;

      .description--h8g {
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.5rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.375;
        letter-spacing: 0.016rem;
      }
      .assorted-used-metal-rods-each-showcasing-a-weathered-surface-from-prior-applicationswith-varying-lengths-and-sturdy-compositions-these-rods-hold-potential-for-creative-upcycling-pDJ {
        max-width: 50.3rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3571428571;
        letter-spacing: 0.014rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
      }
    }
  }
  .item--DFS {
    padding: 0.05rem 2.7rem 0.05rem 1rem;
    height: 2.2rem;
    display: flex;
    background-color: #f16713;
    box-sizing: border-box;
    position: absolute;
    left: 135.2rem;
    top: 12.7rem;
    align-items: center;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
    border-radius: 5rem;
    width: 9.4rem;

    .auto-group-apmn-VTr {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.6rem;
      width: 1.1rem;
      height: 1rem;
      object-fit: contain;
    }
    .back-q1v {
      letter-spacing: 0.016rem;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.2rem;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.1875;
      color: #fff7e9;
    }
  }
  .group-187-KSt {
    width: 2rem;
    height: 2.6383rem;
    position: absolute;
    left: 92.4rem;
    top: 6.5rem;
    object-fit: contain;
    vertical-align: top;
  }
  .search-Epk {
    left: 95rem;
    line-height: 1.3888888889;
    color: #555555;
    white-space: nowrap;
    width: 5.9rem;
    position: absolute;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.018rem;
    font-family: Open Sans, 'Source Sans Pro';
    height: 2.5rem;
    top: 6.8rem;
  }
  .item--YKe {
    display: flex;
    align-items: flex-start;
    width: 56.8rem;
    height: 16.3006rem;
    position: absolute;
    left: 91.4rem;
    top: 39.6rem;

    .group-21-rLL {
      height: 16.2rem;
      position: relative;
      flex-shrink: 0;
      width: 27.6rem;

      .content-PbA {
        top: 1.5rem;
        width: 17.3rem;
        height: 9.4rem;
        position: absolute;
        left: 1.5rem;

        .features--Kji {
          line-height: 1.375;
          letter-spacing: 0.016rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.5rem;
          font-size: 1.6rem;
          font-weight: 400;
        }
        .assorted-lengths-weathered-surface-sturdy-metal-composition-rUk {
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.3571428571;
          letter-spacing: 0.014rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          max-width: 17.3rem;
        }
      }
      .rectangle-113-kq2 {
        top: 0;
        border: dashed 0.1rem #dddddd;
        box-sizing: border-box;
        border-radius: 0.5rem;
        width: 27.6rem;
        height: 16.2rem;
        position: absolute;
        left: 0;
      }
    }
    .group-22-tRS {
      border: dashed 0.1rem #dddddd;
      border-radius: 0.5rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.409rem 2.7rem 0.976rem 1.5rem;
      width: 29.2rem;
      height: 100%;

      .environmental-impact--DTi {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.5156rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
      }
      .metal-scrap-is-a-sustainable-choice-curbing-the-demand-for-new-production-and-preserving-resources-recycling-metal-contributes-to-eco-friendliness-slashes-energy-use-and-lessens-the-environmental-impact-of-metal-processing-XzC {
        font-family: Open Sans, 'Source Sans Pro';
        max-width: 25rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.5833333333;
        letter-spacing: 0.012rem;
        color: #000000;
      }
    }
  }
  .group-166-Y8c {
    width: 39.5rem;
    height: 11.5rem;
    position: absolute;
    left: 48.6rem;
    top: 20.6rem;
    display: flex;
    align-items: center;

    .auto-group-xp6q-GaQ {
      flex-shrink: 0;
      margin-right: 1rem;
      height: 100%;
      display: flex;
      flex-direction: column;

      .weathered-rods-oqE {
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.35;
        letter-spacing: 0.02rem;
        margin-bottom: 1.1rem;
        white-space: nowrap;
      }
      .product-id-992kg5-LKN {
        color: #888888;
        font-family: Open Sans, 'Source Sans Pro';
        margin-bottom: 1rem;
        font-weight: 400;
        line-height: 1.3571428571;
        flex-shrink: 0;
        font-size: 1.4rem;
        letter-spacing: 0.014rem;
        white-space: nowrap;
      }
      .seller-arjun-GsE {
        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: 0.014rem;
        font-family: Open Sans, 'Source Sans Pro';
        margin-bottom: 1rem;
        line-height: 1.3571428571;
        color: #888888;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .published-on-28-september-2023-oMN {
        line-height: 1.3571428571;
        letter-spacing: 0.014rem;
        color: #888888;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.4rem;
        font-weight: 400;
      }
    }
    .group-157-XHN {
      display: flex;
      border: dashed 0.1rem #ff731d;
      background-color: rgba(246, 251, 255, 0.8000000119);
      flex-shrink: 0;
      margin: 2.1rem 0rem 0.896rem 0rem;
      padding: 0.9rem 1.5rem 1.504rem 1.5rem;
      width: 16.1rem;
      align-items: center;
      box-sizing: border-box;
      height: calc(100% - 2.9955rem);
      flex-direction: column;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

      .available-quantity-1yE {
        text-align: center;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.5714285714;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.7rem;
        align-items: baseline;
        flex-shrink: 0;
        display: flex;

        .available-quantity-1yE-sub-0 {
        }
        .available-quantity-1yE-sub-1 {
          font-size: 3.2rem;
          font-weight: 600;
          line-height: 0.6875;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
        }
      }
      .kg-x1J {
        color: #777777;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 0.1rem;
        text-align: center;
        font-size: 3.2rem;
        font-weight: 300;
        line-height: 0.6875;
      }
    }
  }
  .steel-pipe-3-Qtt {
    width: 39.8rem;
    height: 42rem;
    position: absolute;
    left: 2.4rem;
    top: 18rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 5rem;
  }
}
