
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.5rem;
}.scrap-glass-jSL {
  height: 152.3rem;
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  background-position: center;
  background-image: url('REPLACE_IMAGE:4db7a63002ededecb5f49fec65723cca71659456');

  .item--3hv {
    box-sizing: border-box;
    padding: 1rem 69.15rem;
    width: 153.5rem;
    height: 4.2rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #777777;

    .frame-427319517-ZRN {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .group-2-W5i {
        height: 1.6422rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1rem 0rem 0rem;
        width: 2.2rem;
      }
      .made-for-india-oac {
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.375;
        color: #ffffff;
        font-family: Merriweather, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
  .auto-group-hdq6-WE8 {
    position: absolute;
    left: 3rem;
    top: 8.1rem;
    display: flex;
    align-items: center;
    width: 145.9rem;
    height: 4.6832rem;

    .scrap3-removebg-preview-59-RM6 {
      margin: 0rem 0.003rem 0.683rem 0rem;
      width: 4.7467rem;
      height: 4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .scrap-symphony-sanctuary-vYk {
      align-items: center;
      justify-content: center;
      font-size: 1.4rem;
      letter-spacing: 0.028rem;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 13.35rem 0.183rem 0rem;
      display: flex;
      font-weight: 700;
      line-height: 1.4825;
      color: #f7fbff;
      font-family: Oswald, 'Source Sans Pro';
    }
    .home-scrap-section-creative-section-about-us-contact-us-bun {
      line-height: 1.5625;
      letter-spacing: 0.016rem;
      color: #f6fbff;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0.617rem 5.2rem 0rem 0rem;
      font-size: 1.6rem;
      font-weight: 400;
      flex-shrink: 0;
    }
    .auto-group-m1w4-Gm2 {
      padding: 0.3rem 28.2rem 0.3rem 0.8rem;
      display: flex;
      align-items: center;
      box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
      flex-shrink: 0;
      margin: 1.1rem 1.6rem 0.483rem 0rem;
      height: calc(100% - 1.5832rem);
      background-color: #f6fbff;
      box-sizing: border-box;

      .group-xtk {
        margin: 0rem 0.801rem 0.113rem 0rem;
        width: 1.9987rem;
        height: 2.0116rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .search-t1i {
        font-weight: 400;
        line-height: 1.3888888889;
        letter-spacing: 0.018rem;
        color: #555555;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.8rem;
      }
    }
    .vector-m5W {
      height: 3.5953rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.489rem 1.73rem 0rem 0rem;
      width: 4rem;
    }
    .item--Tj2 {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.779rem 1.767rem 0rem 0rem;
      width: 3.7029rem;
      height: 3.0931rem;
      position: relative;
    }
    .layer1-AdS {
      margin-top: 0.7883rem;
      width: 4rem;
      height: 3.8949rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-xtjx-u5E {
    position: absolute;
    top: 20.4rem;
    align-items: center;
    display: flex;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 6.4rem 4.4rem 6.3rem 0rem;
    width: 154.9rem;
    height: 36.3rem;
    left: 0;

    .scrap-9-oAc {
      margin-bottom: 1rem;
      width: 70.6rem;
      height: 20.2rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-syuj-w1v {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .what-is-scrap-how-it-will-be-useful--gkC {
        margin-bottom: 2.4rem;
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 1.3333333333;
        letter-spacing: 0.024rem;
        color: #000000;
        font-family: Oswald, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .scrap-refers-to-discarded-or-leftover-materials-from-manufacturing-processes-or-everyday-use-it-can-be-useful-when-recycled-or-repurposed-reducing-waste-and-conserving-resources-recycling-scrap-material-contributes-to-environmental-sustainability-by-saving-energy-and-raw-materials-additionally-repurposing-scrap-for-creative-projects-can-promote-innovation-and-resourcefulness-b6U {
        flex-shrink: 0;
        max-width: 69.7rem;
        font-size: 2rem;
        font-weight: 300;
        line-height: 2.25;
        color: #000000;
        font-family: Oswald, 'Source Sans Pro';
      }
    }
  }
  .item--Yvp {
    font-weight: 700;
    background-color: #f16713;
    width: 26.8rem;
    position: absolute;
    font-size: 2.4rem;
    height: 5rem;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;
    top: 60.8rem;
    letter-spacing: 0.024rem;
    white-space: nowrap;
    font-family: Oswald, 'Source Sans Pro';
    left: 63.4rem;
    line-height: 1.3333333333;
    color: #fff7e9;
  }
  .auto-group-9uha-CkU {
    height: 6.3rem;
    top: 69.9rem;
    letter-spacing: 0.024rem;
    color: #000000;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 1.3rem 0.8rem 1.8rem 5.4rem;
    position: absolute;
    left: 0;
    font-size: 2.4rem;
    line-height: 1.3333333333;
    width: 153.5rem;
    font-weight: 600;
    font-family: Oswald, 'Source Sans Pro';
    background-color: #ffffff;
  }
  .auto-group-a5nk-Fye {
    align-items: center;
    width: 125.4rem;
    height: 39.2rem;
    position: absolute;
    left: 13.8rem;
    top: 83.5rem;
    display: flex;

    .auto-group-csc8-PKA {
      padding: 4.9rem 2.4rem 2.5rem 2.2rem;
      width: 30.1rem;
      align-items: center;
      flex-direction: column;
      background-color: #ffffff;
      border-radius: 5rem;
      margin-right: 17.9rem;
      box-sizing: border-box;
      height: 100%;
      display: flex;
      flex-shrink: 0;

      .mirror-old-3-3-HfS {
        height: 23rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0rem 2.4rem 0.3rem;
        width: 25.2rem;
      }
      .shattered-reflection-27-kg-PiU {
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        align-items: baseline;
        margin: 0rem 0.3rem 1.5rem 0rem;
        line-height: 1.2125;
        color: #000000;

        .shattered-reflection-27-kg-PiU-sub-0 {
        }
        .shattered-reflection-27-kg-PiU-sub-1 {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
        }
      }
      .auto-group-v6ut-YtC {
        margin-right: 0.5rem;
        width: calc(100% - 0.5rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-qnsw-5t8 {
          width: 11.2rem;
          height: 3.2rem;
          position: relative;
          flex-shrink: 0;
          margin: 0rem 2.6rem 0.2rem 0rem;

          .rectangle-888-1Fz {
            height: 2rem;
            position: absolute;
            left: 0;
            top: 0.7rem;
            background-color: #000000;
            width: 11.2rem;
          }
          .add-to-cart-vtk {
            position: absolute;
            line-height: 2.6666666667;
            color: #ffffff;
            width: 6.4rem;
            height: 3.2rem;
            font-size: 1.2rem;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            left: 3.4rem;
            top: 0;
          }
          .item--qF2 {
            width: 1.9025rem;
            height: 1.3477rem;
            position: absolute;
            left: 0.768rem;
            top: 0.968rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .auto-group-mjnk-wYx {
          margin-top: 0.2rem;
          width: 11.2rem;
          height: 3.2rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-887-5QG {
            width: 11.2rem;
            height: 2rem;
            position: absolute;
            left: 0;
            top: 0.5rem;
            background-color: #000000;
          }
          .vector-Czg {
            width: 1.4rem;
            height: 1.2983rem;
            position: absolute;
            left: 1.5rem;
            top: 0.9rem;
            object-fit: contain;
            vertical-align: top;
          }
          .wishlist-f7a {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
            font-weight: 400;
            color: #ffffff;
            top: 0;
            font-size: 1.2rem;
            line-height: 2.6666666667;
            width: 4.4rem;
            height: 3.2rem;
            left: 4.4rem;
          }
        }
      }
    }
    .auto-group-wjrn-LUc {
      align-items: center;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 5.8rem 1.9rem 2.5rem 1.6rem;
      width: 30.1rem;
      height: 100%;
      border-radius: 5rem;
      margin-right: 17.2rem;

      .brown-bottle-3-SGk {
        width: 26.6rem;
        height: 22.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 2.4rem;
      }
      .reclaimable-bottles-27-kg-a84 {
        font-size: 1.2rem;
        white-space: nowrap;
        display: flex;
        flex-shrink: 0;
        align-items: baseline;
        margin: 0rem 1.1rem 1.5rem 0rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';

        .reclaimable-bottles-27-kg-a84-sub-0 {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .reclaimable-bottles-27-kg-a84-sub-1 {
        }
        .reclaimable-bottles-27-kg-a84-sub-2 {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .auto-group-adbs-SpU {
        margin: 0rem 0.6rem 0rem 1.1rem;
        width: calc(100% - 1.7rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-thrc-n7e {
          margin: 0rem 2.5rem 0.2rem 0rem;
          width: 11.2rem;
          height: 3.2rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-890-uTA {
            top: 0.7rem;
            background-color: #000000;
            width: 11.2rem;
            height: 2rem;
            position: absolute;
            left: 0;
          }
          .add-to-cart-EkL {
            font-weight: 400;
            white-space: nowrap;
            height: 3.2rem;
            position: absolute;
            left: 3.4rem;
            line-height: 2.6666666667;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            width: 6.4rem;
            top: 0;
            font-size: 1.2rem;
          }
          .item--ZGp {
            left: 0.768rem;
            top: 0.968rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.9025rem;
            height: 1.3477rem;
            position: absolute;
          }
        }
        .auto-group-41nc-Hic {
          margin-top: 0.2rem;
          width: 11.2rem;
          height: 3.2rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-893-dGg {
            left: 0;
            top: 0.5rem;
            background-color: #000000;
            width: 11.2rem;
            height: 2rem;
            position: absolute;
          }
          .vector-AXW {
            position: absolute;
            left: 1.5rem;
            top: 0.8rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.4rem;
            height: 1.2983rem;
          }
          .wishlist-J7v {
            width: 4.4rem;
            top: 0;
            font-size: 1.2rem;
            line-height: 2.6666666667;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            height: 3.2rem;
            position: absolute;
            left: 4.4rem;
            font-weight: 400;
            color: #ffffff;
          }
        }
      }
    }
    .auto-group-uocg-mnC {
      width: 30.1rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 9rem 2rem 2.5rem 1.8rem;
      flex-direction: column;
      background-color: #ffffff;
      border-radius: 5rem;

      .glass-3-guA {
        width: 25.8rem;
        height: 17.2rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0rem 3.9rem 0.5rem;
      }
      .glass-fragments-27-kg-R64 {
        font-size: 1.2rem;
        font-weight: 400;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 1.8rem 1.7rem 0rem;
        line-height: 1.2125;
        white-space: nowrap;
        display: flex;
        align-items: baseline;

        .glass-fragments-27-kg-R64-sub-0 {
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
        }
        .glass-fragments-27-kg-R64-sub-1 {
        }
        .glass-fragments-27-kg-R64-sub-2 {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .auto-group-kgg4-WWp {
        width: calc(100% - 0.9rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 0.5rem 0rem 0.4rem;

        .auto-group-lqhr-3Fr {
          margin: 0rem 3rem 0.2rem 0rem;
          width: 11.2rem;
          height: 3.2rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-892-M1e {
            width: 11.2rem;
            height: 2rem;
            position: absolute;
            left: 0;
            top: 0.7rem;
            background-color: #000000;
          }
          .add-to-cart-t1a {
            left: 3.4rem;
            font-weight: 400;
            line-height: 2.6666666667;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 6.4rem;
            height: 3.2rem;
            font-size: 1.2rem;
            position: absolute;
            top: 0;
          }
          .item--zaQ {
            vertical-align: top;
            width: 1.9025rem;
            height: 1.3477rem;
            position: absolute;
            left: 0.768rem;
            top: 0.968rem;
            object-fit: contain;
          }
        }
        .auto-group-vxjn-Vn4 {
          margin-top: 0.2rem;
          width: 11.2rem;
          height: 3.2rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-894-Rvc {
            position: absolute;
            left: 0;
            top: 0.5rem;
            background-color: #000000;
            width: 11.2rem;
            height: 2rem;
          }
          .vector-ySL {
            vertical-align: top;
            width: 1.4rem;
            height: 1.2983rem;
            position: absolute;
            left: 1.6rem;
            top: 0.9rem;
            object-fit: contain;
          }
          .wishlist-WhA {
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 4.4rem;
            top: 0;
            line-height: 2.6666666667;
            font-size: 1.2rem;
            font-weight: 400;
            height: 3.2rem;
            position: absolute;
            left: 4.4rem;
          }
        }
      }
    }
  }
  .footer-nPn {
    position: absolute;
    left: 0;
    top: 127.3rem;
    width: 153.5rem;
    height: 26.6094rem;

    .rectangle-3-WKn {
      position: absolute;
      left: 0;
      top: 0;
      background-color: #222222;
      width: 153.5rem;
      height: 24.9998rem;
    }
    .scrap-symphoy-sanctuary-aims-to-promote-innovation-in-the-digital-commerce-ecosystem-by-providing-a-platform-for-startups-and-entrepreneurs-to-develop-new-services-and-solutions-also-supports-digital-commerce-including-online-payments-e-commerce-and-financial-services-FYG {
      font-weight: 400;
      line-height: 2.2;
      font-family: Open Sans, 'Source Sans Pro';
      height: 8.8rem;
      left: 12.1922rem;
      top: 4.8992rem;
      display: flex;
      font-size: 1rem;
      letter-spacing: 0.01rem;
      color: #ffffff;
      width: 43.7rem;
      position: absolute;
    }
    .frame-35-d32 {
      width: 14.4rem;
      height: 16.5rem;
      position: absolute;
      left: 117.7234rem;
      top: 1.993rem;

      .pages-Li8 {
        letter-spacing: 0.012rem;
        color: #ffffff;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 2.25;
        margin-bottom: 2rem;
        width: 100%;
        justify-content: center;
      }
      .frame-39-rRa {
        width: 100%;
        row-gap: 1rem;
        display: flex;
        flex-direction: column;

        .about-us-btx {
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
          display: flex;
          letter-spacing: 0.01rem;
          line-height: 2.2;
          white-space: nowrap;
          font-size: 1rem;
          font-weight: 400;
        }
        .return-policy-vwE {
          display: flex;
          font-size: 1rem;
          font-weight: 400;
          letter-spacing: 0.01rem;
          color: #ffffff;
          white-space: nowrap;
          line-height: 2.2;
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .contact-us-f88 {
          display: flex;
          font-size: 1rem;
          letter-spacing: 0.01rem;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-weight: 400;
          line-height: 2.2;
        }
        .refund-cancellation-policies-nTe {
          line-height: 2.2;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
          display: flex;
          font-size: 1rem;
          font-weight: 400;
          letter-spacing: 0.01rem;
          white-space: nowrap;
        }
      }
    }
    .social-media-Jwn {
      position: absolute;
      left: 13.0039rem;
      top: 15.1109rem;
      display: flex;
      align-items: center;
      width: 17.362rem;
      height: 3rem;

      .vector-Dor {
        margin: 0rem 4.035rem 0rem 0rem;
        width: 2.9268rem;
        height: 2.9268rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-Yr8 {
        height: 3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 4.0344rem;
        width: 3.2195rem;
      }
      .vector-gxL {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.0013rem;
        width: 3.1463rem;
        height: 2.6341rem;
      }
    }
    .rectangle-12-2FW {
      background-color: #555555;
      width: 153.5rem;
      height: 4.3rem;
      position: absolute;
      left: 0;
      top: 20.7rem;
    }
    .frame-40-N4U {
      display: flex;
      height: 5.3094rem;
      left: 14.0906rem;
      top: 21.3rem;
      position: absolute;
      align-items: flex-start;
      box-sizing: border-box;
      padding-right: 19.3667rem;
      width: 29.8667rem;

      .mask-group-gax {
        flex-shrink: 0;
        margin-right: 4.5rem;
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
      .mask-group-px4 {
        vertical-align: top;
        flex-shrink: 0;
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
      }
    }
    .scrap-symphony-sanctuary-all-rights-reserved-Zue {
      height: 2.2rem;
      top: 22.1133rem;
      font-size: 1rem;
      font-weight: 700;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      width: 27.4rem;
      position: absolute;
      left: 114.0258rem;
      line-height: 2.2;
      letter-spacing: 0.01rem;
      color: #ffffff;
    }
    .terms-condition-privacy-policy-STe {
      width: 18.5rem;
      position: absolute;
      font-size: 1rem;
      line-height: 2.2;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.2rem;
      left: 65.857rem;
      top: 22.1133rem;
      font-weight: 700;
      letter-spacing: 0.01rem;
      color: #ffffff;
    }
  }
}
