
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.5rem;
}.scrap-all-UWG {
  height: 211.4rem;
  overflow: hidden;
  background-size: 100% 100%;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:4db7a63002ededecb5f49fec65723cca71659456');
  background-color: #ffffff;

  .item--Znc {
    box-sizing: border-box;
    padding: 1rem 69.15rem;
    width: 153.5rem;
    height: 4.2rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #777777;

    .frame-427319517-SbW {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;

      .group-2-ZRE {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1rem 0rem 0rem;
        width: 2.2rem;
        height: 1.6422rem;
        position: relative;
        object-fit: contain;
      }
      .made-for-india-4Mz {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.375;
        color: #ffffff;
        font-family: Merriweather, 'Source Sans Pro';
      }
    }
  }
  .auto-group-msyx-ZpY {
    align-items: center;
    width: 145.5036rem;
    height: 4.7rem;
    position: absolute;
    left: 3rem;
    top: 8.1rem;
    display: flex;

    .scrap3-removebg-preview-59-5Xz {
      flex-shrink: 0;
      margin: 0rem 0.003rem 0.7rem 0rem;
      width: 4.7467rem;
      height: 4rem;
      object-fit: cover;
      vertical-align: top;
    }
    .scrap-symphony-sanctuary-nSQ {
      display: flex;
      font-size: 1.4rem;
      white-space: nowrap;
      flex-shrink: 0;
      color: #f7fbff;
      font-family: Oswald, 'Source Sans Pro';
      margin: 0rem 13.35rem 0.2rem 0rem;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      line-height: 1.4825;
      letter-spacing: 0.028rem;
    }
    .home-scrap-section-creative-section-about-us-contact-us-fm6 {
      color: #f6fbff;
      font-family: Open Sans, 'Source Sans Pro';
      margin: 0.6rem 5.2rem 0rem 0rem;
      line-height: 1.5625;
      letter-spacing: 0.016rem;
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.6rem;
      font-weight: 400;
    }
    .auto-group-bdfs-kGk {
      box-sizing: border-box;
      height: calc(100% - 1.6rem);
      flex-shrink: 0;
      margin: 1.1rem 1.613rem 0.5rem 0rem;
      padding: 0.3rem 28.5rem 0.3rem 0.638rem;
      display: flex;
      align-items: center;
      box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
      background-color: #f6fbff;

      .group-187-Exc {
        flex-shrink: 0;
        margin: 0rem 0.663rem 0.001rem 0rem;
        width: 1.9987rem;
        height: 2.0991rem;
        object-fit: contain;
        vertical-align: top;
      }
      .search-mSk {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3888888889;
        letter-spacing: 0.018rem;
        color: #555555;
        font-family: Open Sans, 'Source Sans Pro';
      }
    }
    .vector-4Ax {
      height: 3.6rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.5rem 1.32rem 0rem 0rem;
      width: 3.9974rem;
    }
    .item--n6x {
      margin: 0.562rem 1.774rem 0rem 0rem;
      width: 3.7029rem;
      height: 3.0931rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .layer1-Vn4 {
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 0.8rem;
      width: 3.9974rem;
      height: 3.9rem;
      object-fit: contain;
    }
  }
  .auto-group-ktsn-Rvc {
    height: 36.3rem;
    position: absolute;
    top: 20.4rem;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 6.4rem 4.4rem 6.3rem 0rem;
    width: 154.9rem;
    left: 0;

    .scrap-9-8q2 {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 1rem;
      width: 70.6rem;
      height: 20.2rem;
    }
    .auto-group-49yq-4Tn {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .what-is-scrap-how-it-will-be-useful--pC4 {
        line-height: 1.3333333333;
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 2.4rem;
        font-weight: 600;
        color: #000000;
        font-family: Oswald, 'Source Sans Pro';
        font-size: 2.4rem;
        letter-spacing: 0.024rem;
      }
      .scrap-refers-to-discarded-or-leftover-materials-from-manufacturing-processes-or-everyday-use-it-can-be-useful-when-recycled-or-repurposed-reducing-waste-and-conserving-resources-recycling-scrap-material-contributes-to-environmental-sustainability-by-saving-energy-and-raw-materials-additionally-repurposing-scrap-for-creative-projects-can-promote-innovation-and-resourcefulness-KPi {
        font-weight: 300;
        line-height: 2.25;
        color: #000000;
        font-family: Oswald, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 69.7rem;
        font-size: 2rem;
      }
    }
  }
  .item--g7n {
    display: flex;
    justify-content: center;
    background-color: #f16713;
    border-radius: 5rem;
    position: absolute;
    font-weight: 700;
    color: #fff7e9;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
    width: 26.8rem;
    letter-spacing: 0.024rem;
    font-family: Oswald, 'Source Sans Pro';
    height: 5rem;
    left: 63.4rem;
    top: 60.8rem;
    align-items: center;
    font-size: 2.4rem;
    line-height: 1.3333333333;
    white-space: nowrap;
  }
  .auto-group-xdhn-Jur {
    width: 153.5rem;
    font-size: 2.4rem;
    font-family: Oswald, 'Source Sans Pro';
    top: 69.9rem;
    font-weight: 600;
    height: 6.3rem;
    position: absolute;
    left: 0;
    color: #000000;
    white-space: nowrap;
    background-color: #ffffff;
    padding: 1.3rem 0.8rem 1.8rem 5.4rem;
    line-height: 1.3333333333;
    letter-spacing: 0.024rem;
    box-sizing: border-box;
  }
  .auto-group-hpjs-mYY {
    width: 153.5rem;
    position: absolute;
    top: 76.2rem;
    flex-direction: column;
    box-sizing: border-box;
    padding: 7.3rem 14.3rem 11.3rem 13.8rem;
    height: 110.2rem;
    left: 0;
    align-items: center;
    display: flex;

    .auto-group-qb32-fdv {
      height: 39.2rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 13.2rem;
      width: 100%;

      .auto-group-omk2-1St {
        box-sizing: border-box;
        width: 30.1rem;
        display: flex;
        background-color: #ffffff;
        flex-shrink: 0;
        margin-right: 17.9rem;
        padding: 4.6rem 2.5rem 2.5rem 2.2rem;
        height: 100%;
        align-items: center;
        flex-direction: column;
        border-radius: 5rem;

        .auto-group-ymnk-Jwn {
          width: 25.2rem;
          height: 23.6rem;
          position: relative;
          flex-shrink: 0;
          margin: 0rem 0rem 2rem 0.2rem;

          .vector-cxU {
            left: 15.0797rem;
            top: 5.5461rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.599rem;
            height: 1.1139rem;
            position: absolute;
          }
          .wastage-2-jGQ {
            object-fit: cover;
            vertical-align: top;
            width: 25.2rem;
            height: 23.6rem;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
        .manufacturing-residues-19-kg-TiC {
          margin: 0rem 0.6rem 1.6rem 0rem;
          font-size: 1.2rem;
          white-space: nowrap;
          align-items: baseline;
          flex-shrink: 0;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          display: flex;

          .manufacturing-residues-19-kg-TiC-sub-0 {
          }
          .manufacturing-residues-19-kg-TiC-sub-1 {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .auto-group-b6a8-YNG {
          width: calc(100% - 0.6rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-right: 0.6rem;

          .auto-group-51nt-gjN {
            margin: 0rem 2.4rem 0.2rem 0rem;
            width: 11.2rem;
            height: 3.2rem;
            position: relative;
            flex-shrink: 0;

            .rectangle-888-QfN {
              left: 0;
              top: 0.7rem;
              background-color: #000000;
              width: 11.2rem;
              height: 2rem;
              position: absolute;
            }
            .add-to-cart-wQQ {
              width: 6.4rem;
              position: absolute;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 2.6666666667;
              font-family: Inter, 'Source Sans Pro';
              height: 3.2rem;
              left: 3.4rem;
              top: 0;
              color: #ffffff;
              white-space: nowrap;
            }
            .item--Srx {
              width: 1.9025rem;
              height: 1.3477rem;
              position: absolute;
              left: 0.768rem;
              top: 0.968rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .auto-group-pzjc-B3r {
            margin-top: 0.2rem;
            width: 11.2rem;
            height: 3.2rem;
            position: relative;
            flex-shrink: 0;

            .rectangle-887-hnt {
              width: 11.2rem;
              height: 2rem;
              position: absolute;
              left: 0;
              top: 0.5rem;
              background-color: #000000;
            }
            .vector-eCL {
              top: 0.8rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.4rem;
              height: 1.3rem;
              position: absolute;
              left: 1.5rem;
            }
            .wishlist-BTA {
              font-family: Inter, 'Source Sans Pro';
              height: 3.2rem;
              position: absolute;
              font-size: 1.2rem;
              line-height: 2.6666666667;
              color: #ffffff;
              width: 4.4rem;
              left: 4.4rem;
              top: 0;
              font-weight: 400;
              white-space: nowrap;
            }
          }
        }
      }
      .auto-group-pzt2-TvU {
        box-sizing: border-box;
        padding: 3.7rem 1.7rem 2.5rem 1.9rem;
        background-color: #ffffff;
        border-radius: 5rem;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 17.2rem;
        width: 30.1rem;
        height: 100%;
        align-items: center;
        display: flex;

        .auto-group-tdxa-NnY {
          width: 100%;
          height: 25.3rem;
          position: relative;
          flex-shrink: 0;
          margin-bottom: 1.2rem;

          .vector-irQ {
            vertical-align: top;
            width: 1.599rem;
            height: 1.1139rem;
            position: absolute;
            left: 16.0484rem;
            top: 6.4461rem;
            object-fit: contain;
          }
          .old-tyers-2-rhi {
            vertical-align: top;
            width: 26.5rem;
            height: 25.3rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
          }
        }
        .retro-rollers-40-kg-atc {
          font-size: 1.2rem;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          flex-shrink: 0;
          margin: 0rem 0.4rem 1.6rem 0rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          white-space: nowrap;
          align-items: baseline;

          .retro-rollers-40-kg-atc-sub-0 {
          }
          .retro-rollers-40-kg-atc-sub-1 {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
          }
        }
        .auto-group-qasp-jf2 {
          margin: 0rem 0.9rem 0rem 0.8rem;
          width: calc(100% - 1.7rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-ctgp-4hJ {
            margin: 0rem 2.4rem 0.2rem 0rem;
            width: 11.2rem;
            height: 3.2rem;
            position: relative;
            flex-shrink: 0;

            .rectangle-890-Bmv {
              width: 11.2rem;
              height: 2rem;
              position: absolute;
              left: 0;
              top: 0.7rem;
              background-color: #000000;
            }
            .add-to-cart-KdE {
              width: 6.4rem;
              height: 3.2rem;
              position: absolute;
              top: 0;
              font-weight: 400;
              color: #ffffff;
              white-space: nowrap;
              left: 3.4rem;
              font-size: 1.2rem;
              line-height: 2.6666666667;
              font-family: Inter, 'Source Sans Pro';
            }
            .item--EVJ {
              top: 0.968rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.9025rem;
              height: 1.3477rem;
              position: absolute;
              left: 0.768rem;
            }
          }
          .auto-group-3dac-ZGg {
            position: relative;
            flex-shrink: 0;
            margin-top: 0.2rem;
            width: 11.2rem;
            height: 3.2rem;

            .rectangle-899-hdn {
              width: 11.2rem;
              height: 2rem;
              position: absolute;
              left: 0;
              top: 0.5rem;
              background-color: #000000;
            }
            .vector-qzt {
              height: 1.3rem;
              position: absolute;
              left: 1.5rem;
              top: 0.8rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.4rem;
            }
            .wishlist-axU {
              white-space: nowrap;
              height: 3.2rem;
              top: 0;
              font-weight: 400;
              line-height: 2.6666666667;
              font-family: Inter, 'Source Sans Pro';
              width: 4.4rem;
              position: absolute;
              left: 4.4rem;
              font-size: 1.2rem;
              color: #ffffff;
            }
          }
        }
      }
      .auto-group-kbws-EXE {
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 30.1rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        border-radius: 5rem;
        padding: 5.4rem 1.4rem 2.6rem 1.5rem;
        height: 100%;

        .auto-group-shja-YXv {
          margin-bottom: 1.2rem;
          width: 100%;
          height: 23.3rem;
          position: relative;
          flex-shrink: 0;

          .vector-VCG {
            vertical-align: top;
            width: 1.599rem;
            height: 1.1139rem;
            position: absolute;
            left: 15.9172rem;
            top: 4.7461rem;
            object-fit: contain;
          }
          .old-clothes-3-bWC {
            object-fit: cover;
            vertical-align: top;
            width: 27.2rem;
            height: 23.3rem;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
        .vintage-attire-30-kg-8W8 {
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          flex-shrink: 0;
          margin: 0rem 0rem 1.9rem 0.2rem;
          font-size: 1.2rem;
          white-space: nowrap;
          align-items: baseline;

          .vintage-attire-30-kg-8W8-sub-0 {
          }
          .vintage-attire-30-kg-8W8-sub-1 {
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
          }
        }
        .auto-group-itcx-65a {
          margin: 0rem 1.3rem 0rem 0.7rem;
          width: calc(100% - 2rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-xnfe-1TS {
            margin: 0rem 2.8rem 0.1rem 0rem;
            width: 11.2rem;
            height: 3.2rem;
            position: relative;
            flex-shrink: 0;

            .rectangle-892-XRn {
              position: absolute;
              left: 0;
              top: 0.7rem;
              background-color: #000000;
              width: 11.2rem;
              height: 2rem;
            }
            .add-to-cart-fXz {
              width: 6.4rem;
              height: 3.2rem;
              position: absolute;
              left: 3.4rem;
              white-space: nowrap;
              top: 0;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 2.6666666667;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
            }
            .item--NhJ {
              width: 1.9025rem;
              height: 1.3477rem;
              position: absolute;
              left: 0.768rem;
              top: 0.968rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .auto-group-mvse-6dJ {
            height: 3.2rem;
            position: relative;
            flex-shrink: 0;
            margin-top: 0.1rem;
            width: 11.2rem;

            .rectangle-900-EjW {
              top: 0.5rem;
              background-color: #000000;
              width: 11.2rem;
              height: 2rem;
              position: absolute;
              left: 0;
            }
            .vector-B8x {
              position: absolute;
              left: 1.5rem;
              top: 0.8rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.4rem;
              height: 1.3rem;
            }
            .wishlist-iPn {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              height: 3.2rem;
              position: absolute;
              left: 4.4rem;
              top: 0;
              font-size: 1.2rem;
              width: 4.4rem;
              font-weight: 400;
              line-height: 2.6666666667;
              color: #ffffff;
            }
          }
        }
      }
    }
    .auto-group-n252-bCg {
      width: 100%;
      height: 39.2rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-ubvk-LRA {
        flex-shrink: 0;
        margin-right: 17.6rem;
        box-sizing: border-box;
        padding: 10.7rem 1.9rem 2.5rem 1.9rem;
        width: 30.1rem;
        height: 100%;
        background-color: #ffffff;
        border-radius: 5rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .brush-2-SUC {
          margin-bottom: 5rem;
          width: 26.3rem;
          height: 14.2rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .stroke-brush-10-kg-yj2 {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          align-items: baseline;
          margin: 0rem 0.7rem 1.9rem 0rem;
          font-weight: 400;
          line-height: 1.2125;
          flex-shrink: 0;
          font-size: 1.2rem;
          white-space: nowrap;
          display: flex;

          .stroke-brush-10-kg-yj2-sub-0 {
          }
          .stroke-brush-10-kg-yj2-sub-1 {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .auto-group-dret-MDn {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 1.3rem 0rem 0.3rem;
          width: calc(100% - 1.6rem);

          .auto-group-yx92-GrY {
            width: 11.2rem;
            height: 3.2rem;
            position: relative;
            flex-shrink: 0;
            margin: 0rem 2.3rem 0.2rem 0rem;

            .rectangle-894-PwA {
              top: 0.7rem;
              background-color: #000000;
              width: 11.2rem;
              height: 2rem;
              position: absolute;
              left: 0;
            }
            .add-to-cart-jVE {
              position: absolute;
              left: 3.4rem;
              top: 0;
              line-height: 2.6666666667;
              color: #ffffff;
              height: 3.2rem;
              font-size: 1.2rem;
              font-weight: 400;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              width: 6.4rem;
            }
            .item--FiU {
              width: 1.9025rem;
              height: 1.3477rem;
              position: absolute;
              left: 0.768rem;
              top: 0.968rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .auto-group-x6m2-P3z {
            margin-top: 0.2rem;
            width: 11.2rem;
            height: 3.2rem;
            position: relative;
            flex-shrink: 0;

            .rectangle-901-vJp {
              top: 0.5rem;
              background-color: #000000;
              width: 11.2rem;
              height: 2rem;
              position: absolute;
              left: 0;
            }
            .vector-U5S {
              object-fit: contain;
              vertical-align: top;
              width: 1.4rem;
              height: 1.3rem;
              position: absolute;
              left: 1.5rem;
              top: 0.8rem;
            }
            .wishlist-1bA {
              height: 3.2rem;
              left: 4.4rem;
              top: 0;
              font-weight: 400;
              line-height: 2.6666666667;
              font-family: Inter, 'Source Sans Pro';
              width: 4.4rem;
              position: absolute;
              font-size: 1.2rem;
              color: #ffffff;
              white-space: nowrap;
            }
          }
        }
      }
      .auto-group-rtzt-hit {
        padding: 3.9rem 3.4rem 2.5rem 2.2rem;
        align-items: center;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        border-radius: 5rem;
        flex-shrink: 0;
        margin-right: 17.5rem;
        box-sizing: border-box;
        width: 30.1rem;
        height: 100%;

        .old-clothes-2-2-omv {
          flex-shrink: 0;
          margin: 0rem 0rem 1.4rem 1.1rem;
          width: 22.2rem;
          height: 25.2rem;
          object-fit: cover;
          vertical-align: top;
        }
        .tangle-12-kg-j9n {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          align-items: baseline;
          margin: 0rem 0rem 1.3rem 1.3rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          flex-shrink: 0;

          .tangle-12-kg-j9n-sub-0 {
          }
          .tangle-12-kg-j9n-sub-1 {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .auto-group-curt-VoA {
          width: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-seua-FXS {
            margin: 0rem 2.1rem 0.2rem 0rem;
            width: 11.2rem;
            height: 3.2rem;
            position: relative;
            flex-shrink: 0;

            .rectangle-896-yiL {
              position: absolute;
              left: 0;
              top: 0.7rem;
              background-color: #000000;
              width: 11.2rem;
              height: 2rem;
            }
            .add-to-cart-WyA {
              position: absolute;
              top: 0;
              font-size: 1.2rem;
              font-weight: 400;
              width: 6.4rem;
              height: 3.2rem;
              left: 3.4rem;
              line-height: 2.6666666667;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .item--EuA {
              vertical-align: top;
              width: 1.9025rem;
              height: 1.3477rem;
              position: absolute;
              left: 0.768rem;
              top: 0.968rem;
              object-fit: contain;
            }
          }
          .auto-group-2nvg-mPJ {
            margin-top: 0.2rem;
            width: 11.2rem;
            height: 3.2rem;
            position: relative;
            flex-shrink: 0;

            .rectangle-902-6Ra {
              width: 11.2rem;
              height: 2rem;
              position: absolute;
              left: 0;
              top: 0.5rem;
              background-color: #000000;
            }
            .vector-EGt {
              left: 1.5rem;
              top: 0.8rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.4rem;
              height: 1.3rem;
              position: absolute;
            }
            .wishlist-mGp {
              font-size: 1.2rem;
              line-height: 2.6666666667;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              position: absolute;
              height: 3.2rem;
              left: 4.4rem;
              top: 0;
              font-weight: 400;
              width: 4.4rem;
            }
          }
        }
      }
      .auto-group-acdi-rJG {
        height: 100%;
        row-gap: 1.5rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 30.1rem;
        padding: 4.3rem 2rem 2.7rem 2rem;
        background-color: #ffffff;
        border-radius: 5rem;
        box-sizing: border-box;

        .seramic-items-old-5-2-AJx {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 26.1rem;
          height: 24.3rem;
        }
        .fragmented-vessels-11-kg-V6L {
          line-height: 1.2125;
          color: #000000;
          white-space: nowrap;
          font-size: 1.2rem;
          font-weight: 400;
          display: flex;
          align-items: baseline;
          flex-shrink: 0;
          margin-left: 0.2rem;
          font-family: Inter, 'Source Sans Pro';

          .fragmented-vessels-11-kg-V6L-sub-0 {
          }
          .fragmented-vessels-11-kg-V6L-sub-1 {
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
          }
        }
        .auto-group-tgzg-TxG {
          flex-shrink: 0;
          margin: 0rem 0.9rem 0rem 0.3rem;
          width: calc(100% - 1.2rem);
          display: flex;
          align-items: center;

          .auto-group-2qag-nzY {
            height: 3.2rem;
            position: relative;
            flex-shrink: 0;
            margin: 0rem 2.5rem 0.2rem 0rem;
            width: 11.2rem;

            .rectangle-898-82p {
              position: absolute;
              left: 0;
              top: 0.7rem;
              background-color: #000000;
              width: 11.2rem;
              height: 2rem;
            }
            .add-to-cart-rzQ {
              height: 3.2rem;
              position: absolute;
              font-size: 1.2rem;
              line-height: 2.6666666667;
              font-family: Inter, 'Source Sans Pro';
              width: 6.4rem;
              top: 0;
              font-weight: 400;
              color: #ffffff;
              white-space: nowrap;
              left: 3.4rem;
            }
            .item--BFz {
              height: 1.3477rem;
              position: absolute;
              left: 0.768rem;
              top: 0.968rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.9025rem;
            }
          }
          .auto-group-bxcc-79e {
            height: 3.2rem;
            position: relative;
            flex-shrink: 0;
            margin-top: 0.2rem;
            width: 11.2rem;

            .rectangle-903-FFr {
              position: absolute;
              left: 0;
              top: 0.5rem;
              background-color: #000000;
              width: 11.2rem;
              height: 2rem;
            }
            .vector-BfJ {
              height: 1.3rem;
              position: absolute;
              left: 1.5rem;
              top: 0.8rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.4rem;
            }
            .wishlist-WxU {
              left: 4.4rem;
              top: 0;
              font-weight: 400;
              font-family: Inter, 'Source Sans Pro';
              line-height: 2.6666666667;
              color: #ffffff;
              white-space: nowrap;
              width: 4.4rem;
              height: 3.2rem;
              position: absolute;
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
  .footer-B32 {
    height: 26.6094rem;
    position: absolute;
    left: 0;
    top: 186.4rem;
    width: 153.5rem;

    .rectangle-3-sRe {
      left: 0;
      top: 0;
      background-color: #222222;
      width: 153.5rem;
      height: 24.9998rem;
      position: absolute;
    }
    .scrap-symphoy-sanctuary-aims-to-promote-innovation-in-the-digital-commerce-ecosystem-by-providing-a-platform-for-startups-and-entrepreneurs-to-develop-new-services-and-solutions-also-supports-digital-commerce-including-online-payments-e-commerce-and-financial-services-ce8 {
      font-family: Open Sans, 'Source Sans Pro';
      height: 8.8rem;
      left: 12.1922rem;
      top: 4.8992rem;
      line-height: 2.2;
      color: #ffffff;
      letter-spacing: 0.01rem;
      width: 43.7rem;
      position: absolute;
      display: flex;
      font-size: 1rem;
      font-weight: 400;
    }
    .frame-35-nS8 {
      width: 14.4rem;
      height: 16.5rem;
      position: absolute;
      left: 117.7234rem;
      top: 1.993rem;

      .pages-JvG {
        display: flex;
        font-size: 1.2rem;
        font-weight: 700;
        white-space: nowrap;
        margin-bottom: 2rem;
        width: 100%;
        line-height: 2.25;
        letter-spacing: 0.012rem;
        color: #ffffff;
        font-family: Open Sans, 'Source Sans Pro';
        align-items: center;
        justify-content: center;
      }
      .frame-39-RV6 {
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 1rem;

        .about-us-Aha {
          font-size: 1rem;
          font-weight: 400;
          letter-spacing: 0.01rem;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          line-height: 2.2;
          color: #ffffff;
        }
        .return-policy-HnC {
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
          display: flex;
          font-weight: 400;
          letter-spacing: 0.01rem;
          white-space: nowrap;
          font-size: 1rem;
          line-height: 2.2;
          color: #ffffff;
        }
        .contact-us-pGL {
          line-height: 2.2;
          letter-spacing: 0.01rem;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 1rem;
          font-weight: 400;
          color: #ffffff;
        }
        .refund-cancellation-policies-8Xv {
          line-height: 2.2;
          letter-spacing: 0.01rem;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          font-weight: 400;
          font-size: 1rem;
          flex-shrink: 0;
          display: flex;
        }
      }
    }
    .social-media-eWG {
      left: 13.0039rem;
      top: 15.1109rem;
      display: flex;
      align-items: center;
      width: 17.362rem;
      height: 3rem;
      position: absolute;

      .vector-NBN {
        width: 2.9268rem;
        height: 2.9268rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 4.035rem 0rem 0rem;
      }
      .vector-ghr {
        flex-shrink: 0;
        margin-right: 4.0344rem;
        width: 3.2195rem;
        height: 3rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-Dxg {
        width: 3.1463rem;
        height: 2.6341rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.0013rem;
      }
    }
    .rectangle-12-ZWk {
      height: 4.3rem;
      position: absolute;
      left: 0;
      top: 20.7rem;
      background-color: #555555;
      width: 153.5rem;
    }
    .frame-40-hcx {
      box-sizing: border-box;
      height: 5.3094rem;
      top: 21.3rem;
      align-items: flex-start;
      padding-right: 19.3667rem;
      width: 29.8667rem;
      position: absolute;
      left: 14.0906rem;
      display: flex;

      .mask-group-pBn {
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 4.5rem;
        width: 3rem;
      }
      .mask-group-kr8 {
        flex-shrink: 0;
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .scrap-symphony-sanctuary-all-rights-reserved-W4c {
      position: absolute;
      top: 22.1133rem;
      font-size: 1rem;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      width: 27.4rem;
      height: 2.2rem;
      line-height: 2.2;
      letter-spacing: 0.01rem;
      left: 114.0258rem;
      font-weight: 700;
    }
    .terms-condition-privacy-policy-yit {
      width: 18.5rem;
      height: 2.2rem;
      letter-spacing: 0.01rem;
      white-space: nowrap;
      font-family: Open Sans, 'Source Sans Pro';
      position: absolute;
      left: 65.857rem;
      top: 22.1133rem;
      font-size: 1rem;
      font-weight: 700;
      line-height: 2.2;
      color: #ffffff;
    }
  }
}
