
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.scrap-ewaste-3-dyv {
  align-items: center;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  background-image: url('REPLACE_IMAGE:4db7a63002ededecb5f49fec65723cca71659456');
  background-color: #ffffff;

  .auto-group-xmbj-mqE {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 5.1rem 3.7rem 5.9rem 2.4rem;
    width: 100%;
    align-items: flex-end;
    display: flex;

    .auto-group-nqnp-J4U {
      margin: 0rem 3.3rem 3.292rem 0rem;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .scrap3-removebg-preview-68-pHi {
        margin: 0rem 0.103rem 0.308rem 0rem;
        width: 4.7467rem;
        height: 4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .scrap-symphony-sanctuary-7Xi {
        justify-content: center;
        font-size: 1.4rem;
        line-height: 1.4825;
        color: #f7fbff;
        white-space: nowrap;
        margin: 0rem 11.95rem 0.808rem 0rem;
        display: flex;
        align-items: center;
        font-weight: 700;
        letter-spacing: 0.028rem;
        font-family: Oswald, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .home-scrap-section-creative-section-about-us-contact-us-BXa {
        font-size: 1.6rem;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 4.1rem 0.608rem 0rem;
        font-weight: 400;
        line-height: 1.5625;
        letter-spacing: 0.016rem;
        color: #f6fbff;
      }
      .auto-group-7gzy-fBr {
        background-color: #f6fbff;
        flex-shrink: 0;
        margin: 1.192rem 3.3rem 0rem 0rem;
        box-sizing: border-box;
        padding: 0.2rem 28.2rem 0.1rem 1rem;
        display: flex;
        align-items: center;
        box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);

        .group-187-mEt {
          margin: 0rem 0.6rem 0.162rem 0rem;
          width: 2rem;
          height: 2.6383rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .search-Uf6 {
          letter-spacing: 0.018rem;
          color: #555555;
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3888888889;
          margin-top: 0.3rem;
          font-family: Open Sans, 'Source Sans Pro';
        }
      }
      .vector-jqv {
        height: 3.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.93rem 0.208rem 0rem;
        width: 3.4rem;
      }
      .item--4NQ {
        margin: 0rem 1.967rem 0.23rem 0rem;
        width: 3.7029rem;
        height: 3.0931rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .layer1-abe {
        width: 3.2rem;
        height: 3.4078rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .item--vQc {
      box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
      background-color: #f16713;
      margin: 0rem 5.3rem 3.1rem 132.8rem;
      box-sizing: border-box;
      width: calc(100% - 138.1rem);
      height: 2.2rem;
      display: flex;
      padding: 0.05rem 2.7rem 0.05rem 1rem;
      align-items: center;
      border-radius: 5rem;
      flex-shrink: 0;

      .auto-group-qvdr-bme {
        width: 1.1rem;
        height: 1rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.6rem;
      }
      .back-jN4 {
        font-size: 1.6rem;
        margin-bottom: 0.2rem;
        line-height: 1.1875;
        letter-spacing: 0.016rem;
        color: #fff7e9;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-weight: 700;
      }
    }
    .auto-group-k8ry-QUC {
      width: 100%;
      height: 42rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .electronic-card-3-Z6C {
        object-fit: cover;
        vertical-align: top;
        border-radius: 5rem;
        flex-shrink: 0;
        margin-right: 1.6rem;
        width: 41.7rem;
        height: 42rem;
      }
      .auto-group-qws6-UDA {
        box-sizing: border-box;
        padding: 1.6rem 1.7rem 2.9rem 3.4rem;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: #ffffff;
        border-radius: 5rem;
        flex-shrink: 0;

        .auto-group-r7rt-nUk {
          width: 38.4rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 2rem 1.5rem 0rem 0rem;

          .group-172-JT6 {
            align-items: center;
            flex-shrink: 0;
            width: 100%;
            height: 11.5rem;
            display: flex;

            .auto-group-hx68-rUc {
              flex-shrink: 0;
              margin-right: 3.9rem;
              height: 100%;
              display: flex;
              flex-direction: column;

              .circuit-boards-oPr {
                letter-spacing: 0.02rem;
                color: #000000;
                font-family: Open Sans, 'Source Sans Pro';
                flex-shrink: 0;
                font-weight: 700;
                font-size: 2rem;
                line-height: 1.35;
                white-space: nowrap;
                margin-bottom: 1.1rem;
              }
              .product-id-402ba8-Kd6 {
                font-size: 1.4rem;
                font-family: Open Sans, 'Source Sans Pro';
                letter-spacing: 0.014rem;
                color: #888888;
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1rem;
                font-weight: 400;
                line-height: 1.3571428571;
              }
              .seller-blessy-SSp {
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.3571428571;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1rem;
                letter-spacing: 0.014rem;
                color: #888888;
              }
              .published-on-15-june-2021-ZnL {
                letter-spacing: 0.014rem;
                color: #888888;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.3571428571;
              }
            }
            .group-157-gc4 {
              height: calc(100% - 2.9955rem);
              background-color: rgba(246, 251, 255, 0.8000000119);
              margin: 2.1rem 0rem 0.896rem 0rem;
              padding: 0.9rem 1.5rem 2.004rem 1.5rem;
              align-items: center;
              display: flex;
              flex-direction: column;
              border: dashed 0.1rem #ff731d;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              flex-shrink: 0;
              box-sizing: border-box;
              width: 16.1rem;

              .available-quantity-xpU {
                margin-bottom: 1.2rem;
                font-size: 1.4rem;
                color: #000000;
                white-space: nowrap;
                display: flex;
                flex-shrink: 0;
                text-align: center;
                font-weight: 700;
                line-height: 1.5714285714;
                font-family: Open Sans, 'Source Sans Pro';
                align-items: baseline;

                .available-quantity-xpU-sub-0 {
                }
                .available-quantity-xpU-sub-1 {
                  line-height: 0.6875;
                  color: #000000;
                  font-family: Open Sans, 'Source Sans Pro';
                  font-size: 3.2rem;
                  font-weight: 600;
                }
              }
              .kg-Vhv {
                margin-left: 0.1rem;
                font-weight: 300;
                line-height: 0.6875;
                color: #777777;
                white-space: nowrap;
                text-align: center;
                font-size: 3.2rem;
                font-family: Open Sans, 'Source Sans Pro';
                flex-shrink: 0;
              }
            }
          }
          .auto-group-wavp-A3N {
            padding: 2.5rem 1rem 0rem 1rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;

            .auto-group-xxcc-tk4 {
              margin: 0rem 6.3rem 3.2rem 0rem;
              width: calc(100% - 6.3rem);
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;

              .price-ptc {
                margin: 0.1rem 4.4rem 0rem 0rem;
                width: 14.5rem;
                height: 7.7rem;
                position: relative;
                flex-shrink: 0;

                .rectangle-106-kXN {
                  height: 6.8rem;
                  position: absolute;
                  top: 0;
                  box-sizing: border-box;
                  border-radius: 0.5rem;
                  width: 14.5rem;
                  left: 0;
                  border: dashed 0.1rem #ff731d;
                  background-color: #ffffff;
                }
                .text-s6C {
                  width: 6.7rem;
                  height: 7.2rem;
                  position: absolute;
                  left: 1.2rem;
                  top: 0.5rem;

                  .price-bXz {
                    color: #222222;
                    font-family: Open Sans, 'Source Sans Pro';
                    white-space: nowrap;
                    margin-bottom: 0.9rem;
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.3571428571;
                    letter-spacing: 0.014rem;
                  }
                  .kg-8Xv {
                    font-weight: 400;
                    line-height: 0.6875;
                    letter-spacing: 0.032rem;
                    color: #ff731d;
                    font-family: Open Sans, 'Source Sans Pro';
                    max-width: 6.7rem;
                    font-size: 3.2rem;
                  }
                }
                .price-icon-f24 {
                  height: 2rem;
                  position: absolute;
                  left: 12.1rem;
                  top: 0.4rem;
                  object-fit: contain;
                  vertical-align: top;
                  width: 2rem;
                }
              }
              .auto-group-64qk-aPv {
                align-items: center;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                width: 11.2rem;

                .auto-group-vnwe-im2 {
                  margin-bottom: 0.4rem;
                  width: 100%;
                  height: 3.2rem;
                  position: relative;
                  flex-shrink: 0;

                  .rectangle-899-fRN {
                    width: 11.2rem;
                    height: 2rem;
                    position: absolute;
                    left: 0;
                    top: 0.6rem;
                    background-color: #000000;
                  }
                  .add-to-cart-bK2 {
                    width: 6.4rem;
                    font-weight: 400;
                    line-height: 2.6666666667;
                    white-space: nowrap;
                    font-family: Inter, 'Source Sans Pro';
                    height: 3.2rem;
                    position: absolute;
                    left: 3.7rem;
                    top: 0;
                    font-size: 1.2rem;
                    color: #ffffff;
                  }
                  .item--6ma {
                    object-fit: contain;
                    vertical-align: top;
                    width: 1.9025rem;
                    height: 1.3477rem;
                    position: absolute;
                    left: 0.768rem;
                    top: 0.868rem;
                  }
                }
                .auto-group-nieq-pxU {
                  height: 3.2rem;
                  position: relative;
                  flex-shrink: 0;
                  width: 100%;

                  .rectangle-900-aRr {
                    height: 2rem;
                    position: absolute;
                    left: 0;
                    top: 0.7rem;
                    background-color: #000000;
                    width: 11.2rem;
                  }
                  .vector-iHA {
                    left: 1.4rem;
                    top: 1rem;
                    object-fit: contain;
                    vertical-align: top;
                    width: 1.6rem;
                    height: 1.4rem;
                    position: absolute;
                  }
                  .wishlist-TEk {
                    left: 3.9rem;
                    line-height: 2.6666666667;
                    font-weight: 400;
                    color: #ffffff;
                    font-family: Inter, 'Source Sans Pro';
                    width: 4.4rem;
                    height: 3.2rem;
                    position: absolute;
                    top: 0;
                    font-size: 1.2rem;
                    white-space: nowrap;
                  }
                }
              }
            }
            .frame-427319600-kje {
              padding: 1rem 3.95rem;
              align-items: center;
              box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
              border-radius: 1.5rem;
              flex-shrink: 0;
              box-sizing: border-box;
              display: flex;
              background-color: #f8fafc;
              height: 9.9rem;

              .frame-427319596-tL4 {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                margin: 1.25rem 1.9rem 1.25rem 0rem;
                height: calc(100% - 2.5rem);
                align-items: center;

                .group-17-pUc {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 0.1rem 0.5rem 0rem;
                  width: 2.8845rem;
                  height: 2.1997rem;
                  position: relative;
                  object-fit: contain;
                }
                .free-delivery-YvQ {
                  color: #000000;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1rem;
                  font-weight: 400;
                  line-height: 2.7;
                  letter-spacing: 0.01rem;
                }
              }
              .line-97-5fS {
                margin-right: 2rem;
                width: 0rem;
                height: 7.9rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .frame-427319598-RjJ {
                flex-shrink: 0;
                margin: 1.25rem 1.9rem 1.25rem 0rem;
                height: calc(100% - 2.5rem);
                align-items: center;
                display: flex;
                flex-direction: column;

                .group-18-Msr {
                  flex-shrink: 0;
                  margin: 0rem 0.1rem 0.5rem 0rem;
                  width: 2.2003rem;
                  height: 2.1999rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                }
                .pay-on-delivery-FyE {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1rem;
                  font-weight: 400;
                  line-height: 2.7;
                  letter-spacing: 0.01rem;
                  color: #000000;
                  font-family: Open Sans, 'Source Sans Pro';
                }
              }
              .line-98-aVi {
                width: 0rem;
                height: 7.9rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 2rem;
              }
              .auto-group-yepc-KiC {
                margin-bottom: 1.2rem;
                box-sizing: border-box;
                padding-top: 1.2rem;
                width: 5.3rem;
                height: 6.7rem;
                flex-shrink: 0;

                .frame-427319599-4Qt {
                  width: 100%;
                  height: 100%;
                  align-items: center;
                  display: flex;
                  flex-direction: column;

                  .group-19-pQ4 {
                    flex-shrink: 0;
                    margin: 0rem 0rem 0.5rem 0rem;
                    width: 2.2rem;
                    height: 2.2rem;
                    object-fit: contain;
                    vertical-align: top;
                  }
                  .days-returnable-9BS {
                    text-align: center;
                    font-size: 1rem;
                    font-family: Open Sans, 'Source Sans Pro';
                    flex-shrink: 0;
                    max-width: 5.3rem;
                    line-height: 1.3625;
                    letter-spacing: 0.01rem;
                    color: #000000;
                    font-weight: 400;
                  }
                }
              }
            }
          }
        }
        .line-144-QdA {
          margin-right: 2.4rem;
          width: 0;
          height: 37.5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-xadj-xPn {
          margin: 1.3rem 0rem 1.199rem 0rem;
          width: 56.8rem;
          height: calc(100% - 2.4994rem);
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .group-168-gag {
            margin-bottom: 3.7227rem;
            box-sizing: border-box;
            padding: 2.1789rem 0.7094rem;
            width: 100%;
            height: 14.9773rem;
            border: dashed 0.1rem #dddddd;
            border-radius: 0.5rem;
            flex-shrink: 0;

            .description-1sr {
              width: 54.6rem;
              height: 7.5rem;

              .description--aAG {
                white-space: nowrap;
                margin-bottom: 1.5rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.375;
                letter-spacing: 0.016rem;
                color: #000000;
                font-family: Open Sans, 'Source Sans Pro';
              }
              .rusted-circuit-boards-from-bygone-electronics-exhibiting-the-passage-of-time-with-corrosion-and-decay-hEt {
                max-width: 54.6rem;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.3571428571;
                letter-spacing: 0.014rem;
                color: #000000;
                font-family: Open Sans, 'Source Sans Pro';
              }
            }
          }
          .item--kU4 {
            width: 100%;
            height: 16.3006rem;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .group-21-uLx {
              width: 27.6rem;
              height: 16.2rem;
              position: relative;
              flex-shrink: 0;

              .content-T7a {
                height: 13.2rem;
                position: absolute;
                left: 1.5rem;
                top: 1.5rem;
                width: 21rem;

                .features--nvY {
                  margin-bottom: 1.5rem;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.375;
                  letter-spacing: 0.016rem;
                  color: #000000;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .visible-rust-and-corrosion-electronic-components-present-weathered-surface-printed-circuit-board-pcb-composition-j56 {
                  max-width: 21rem;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.3571428571;
                  letter-spacing: 0.014rem;
                  color: #000000;
                  font-family: Open Sans, 'Source Sans Pro';
                }
              }
              .rectangle-113-ceg {
                height: 16.2rem;
                position: absolute;
                left: 0;
                top: 0;
                border: dashed 0.1rem #dddddd;
                box-sizing: border-box;
                border-radius: 0.5rem;
                width: 27.6rem;
              }
            }
            .group-22-M6U {
              height: 100%;
              border: dashed 0.1rem #dddddd;
              border-radius: 0.5rem;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1.409rem 1.5rem 2.876rem 1.5rem;
              width: 29.2rem;

              .environmental-impact--Ugt {
                white-space: nowrap;
                margin-bottom: 0.5156rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
              }
              .e-waste-needs-careful-handling-to-protect-the-environment-recycling-helps-recover-valuable-materials-and-supports-a-sustainable-approach-to-electronics-disposal-ojA {
                letter-spacing: 0.012rem;
                color: #000000;
                font-family: Open Sans, 'Source Sans Pro';
                max-width: 23.7rem;
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.5833333333;
              }
            }
          }
        }
      }
    }
  }
  .auto-group-yvra-oMn {
    box-sizing: border-box;
    padding: 0.4rem 12.1rem 0rem 14.1rem;
    width: 100%;
    height: 5.7094rem;
    display: flex;
    align-items: center;
    background-color: #5b5b5b;
    flex-shrink: 0;

    .item--WX6 {
      margin-right: 21.9333rem;
      box-sizing: border-box;
      padding-right: 19.3667rem;
      height: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .mask-group-r5A {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 4.5rem;
        width: 3rem;
        height: 3rem;
        position: relative;
      }
      .mask-group-nDi {
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .terms-condition-privacy-policy-LFE {
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 29.7rem 2.109rem 0rem;
      font-weight: 700;
      line-height: 2.2;
      letter-spacing: 0.01rem;
      font-size: 1rem;
      color: #ffffff;
      flex-shrink: 0;
    }
    .scrap-symphony-sanctuary-all-rights-reserved-E5i {
      margin-bottom: 2.1094rem;
      font-size: 1rem;
      font-weight: 700;
      flex-shrink: 0;
      white-space: nowrap;
      line-height: 2.2;
      letter-spacing: 0.01rem;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
    }
  }
}
