
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.5rem;
}.scrap-metal-xhJ {
  position: relative;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url('REPLACE_IMAGE:4db7a63002ededecb5f49fec65723cca71659456');
  width: 100%;
  height: 152.3rem;
  background-position: center;
  background-color: #ffffff;

  .item--Ghz {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #777777;
    box-sizing: border-box;
    padding: 1rem 69.15rem;
    width: 153.5rem;
    height: 4.2rem;

    .frame-427319517-nRS {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .group-2-jLg {
        margin: 0rem 1rem 0rem 0rem;
        width: 2.2rem;
        height: 1.6422rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .made-for-india-qPi {
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.375;
        color: #ffffff;
        font-family: Merriweather, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
  .auto-group-dhxz-whe {
    left: 3rem;
    top: 8.1rem;
    display: flex;
    align-items: center;
    width: 145.9rem;
    height: 4.6832rem;
    position: absolute;

    .scrap3-removebg-preview-59-41a {
      height: 4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.003rem 0.683rem 0rem;
      width: 4.7467rem;
    }
    .scrap-symphony-sanctuary-MWU {
      line-height: 1.4825;
      white-space: nowrap;
      flex-shrink: 0;
      align-items: center;
      font-weight: 700;
      justify-content: center;
      font-size: 1.4rem;
      letter-spacing: 0.028rem;
      color: #f7fbff;
      font-family: Oswald, 'Source Sans Pro';
      margin: 0rem 13.35rem 0.183rem 0rem;
      display: flex;
    }
    .home-scrap-section-creative-section-about-us-contact-us-38Q {
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-weight: 400;
      letter-spacing: 0.016rem;
      line-height: 1.5625;
      color: #f6fbff;
      margin: 0.617rem 5.2rem 0rem 0rem;
      font-size: 1.6rem;
    }
    .auto-group-mqm2-X3a {
      flex-shrink: 0;
      margin: 1.1rem 1.6rem 0.483rem 0rem;
      height: calc(100% - 1.5832rem);
      display: flex;
      align-items: center;
      box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
      background-color: #f6fbff;
      box-sizing: border-box;
      padding: 0.3rem 28.2rem 0.3rem 0.8rem;

      .group-CvQ {
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.801rem 0.113rem 0rem;
        width: 1.9987rem;
        height: 2.0116rem;
      }
      .search-vrQ {
        line-height: 1.3888888889;
        letter-spacing: 0.018rem;
        color: #555555;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.8rem;
        font-weight: 400;
      }
    }
    .vector-DKi {
      margin: 0.489rem 1.73rem 0rem 0rem;
      width: 4rem;
      height: 3.5953rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .item--8Sg {
      margin: 0.779rem 1.767rem 0rem 0rem;
      width: 3.7029rem;
      height: 3.0931rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .layer1-EVi {
      margin-top: 0.7883rem;
      width: 4rem;
      height: 3.8949rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-kg2y-NM2 {
    height: 36.3rem;
    position: absolute;
    left: 0;
    top: 20.4rem;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    box-sizing: border-box;
    width: 154.9rem;
    padding: 6.4rem 4.4rem 6.3rem 0rem;

    .scrap-9-TtG {
      height: 20.2rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 1rem;
      width: 70.6rem;
    }
    .auto-group-hyex-bzU {
      flex-shrink: 0;
      height: 100%;
      display: flex;
      flex-direction: column;

      .what-is-scrap-how-it-will-be-useful--ZRW {
        font-size: 2.4rem;
        font-weight: 600;
        letter-spacing: 0.024rem;
        color: #000000;
        font-family: Oswald, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 2.4rem;
        line-height: 1.3333333333;
        white-space: nowrap;
      }
      .scrap-refers-to-discarded-or-leftover-materials-from-manufacturing-processes-or-everyday-use-it-can-be-useful-when-recycled-or-repurposed-reducing-waste-and-conserving-resources-recycling-scrap-material-contributes-to-environmental-sustainability-by-saving-energy-and-raw-materials-additionally-repurposing-scrap-for-creative-projects-can-promote-innovation-and-resourcefulness-rQc {
        max-width: 69.7rem;
        font-size: 2rem;
        font-weight: 300;
        line-height: 2.25;
        color: #000000;
        font-family: Oswald, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
  }
  .item--PYx {
    color: #fff7e9;
    border-radius: 5rem;
    position: absolute;
    top: 60.8rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.3333333333;
    height: 5rem;
    width: 26.8rem;
    left: 63.4rem;
    letter-spacing: 0.024rem;
    font-family: Oswald, 'Source Sans Pro';
    align-items: center;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
    background-color: #f16713;
  }
  .auto-group-j1el-xEg {
    font-weight: 600;
    white-space: nowrap;
    padding: 1.3rem 0.8rem 1.8rem 5.4rem;
    height: 6.3rem;
    letter-spacing: 0.024rem;
    font-family: Oswald, 'Source Sans Pro';
    background-color: #ffffff;
    font-size: 2.4rem;
    line-height: 1.3333333333;
    color: #000000;
    box-sizing: border-box;
    width: 153.5rem;
    position: absolute;
    left: 0;
    top: 69.9rem;
  }
  .auto-group-kc8l-Cep {
    top: 83.5rem;
    display: flex;
    align-items: center;
    width: 125.4rem;
    height: 39.2rem;
    position: absolute;
    left: 13.8rem;

    .auto-group-a6hi-XSC {
      margin-right: 17.9rem;
      box-sizing: border-box;
      height: 100%;
      align-items: center;
      flex-direction: column;
      border-radius: 5rem;
      padding: 5rem 2.2rem 2.5rem 2.2rem;
      width: 30.1rem;
      display: flex;
      background-color: #ffffff;
      flex-shrink: 0;

      .steel-pipe-3-EbW {
        height: 23.9rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0rem 1.4rem 0.1rem;
        width: 25.6rem;
      }
      .weathered-rods-51-kg-LeY {
        margin: 0rem 1.2rem 1.5rem 0rem;
        font-size: 1.2rem;
        white-space: nowrap;
        align-items: baseline;
        flex-shrink: 0;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        display: flex;

        .weathered-rods-51-kg-LeY-sub-0 {
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
        }
        .weathered-rods-51-kg-LeY-sub-1 {
        }
        .weathered-rods-51-kg-LeY-sub-2 {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .auto-group-fvax-jaC {
        margin-right: 0.7rem;
        width: calc(100% - 0.7rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-edlg-4Ma {
          width: 11.2rem;
          height: 3.2rem;
          position: relative;
          flex-shrink: 0;
          margin: 0rem 2.6rem 0.2rem 0rem;

          .rectangle-888-Nt4 {
            height: 2rem;
            position: absolute;
            left: 0;
            top: 0.7rem;
            background-color: #000000;
            width: 11.2rem;
          }
          .add-to-cart-hfS {
            position: absolute;
            left: 3.4rem;
            top: 0;
            color: #ffffff;
            white-space: nowrap;
            font-family: Inter, 'Source Sans Pro';
            width: 6.4rem;
            height: 3.2rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 2.6666666667;
          }
          .item--QJx {
            object-fit: contain;
            vertical-align: top;
            width: 1.9025rem;
            height: 1.3477rem;
            position: absolute;
            left: 0.768rem;
            top: 0.968rem;
          }
        }
        .auto-group-aafw-XPa {
          flex-shrink: 0;
          margin-top: 0.2rem;
          width: 11.2rem;
          height: 3.2rem;
          position: relative;

          .rectangle-887-To2 {
            width: 11.2rem;
            height: 2rem;
            position: absolute;
            left: 0;
            top: 0.5rem;
            background-color: #000000;
          }
          .vector-13r {
            width: 1.4rem;
            height: 1.2983rem;
            position: absolute;
            left: 1.4rem;
            top: 0.9rem;
            object-fit: contain;
            vertical-align: top;
          }
          .wishlist-jVe {
            height: 3.2rem;
            position: absolute;
            left: 4.4rem;
            font-weight: 400;
            line-height: 2.6666666667;
            color: #ffffff;
            width: 4.4rem;
            top: 0;
            font-size: 1.2rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
    }
    .auto-group-mbac-cZS {
      padding: 4.6rem 2.5rem 2.5rem 2.5rem;
      width: 30.1rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      margin-right: 17.2rem;
      box-sizing: border-box;
      border-radius: 5rem;
      flex-shrink: 0;
      align-items: center;
      background-color: #ffffff;

      .metal-3-Kik {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0rem 0.6rem 0.4rem;
        width: 24.7rem;
        height: 25.1rem;
      }
      .flawed-metal-pieces-51-kg-qwz {
        align-items: baseline;
        margin: 0rem 0.4rem 1.5rem 0rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 400;
        color: #000000;
        white-space: nowrap;

        .flawed-metal-pieces-51-kg-qwz-sub-0 {
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
        }
        .flawed-metal-pieces-51-kg-qwz-sub-1 {
        }
        .flawed-metal-pieces-51-kg-qwz-sub-2 {
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
        }
      }
      .auto-group-jstp-XTS {
        margin-left: 0.2rem;
        width: calc(100% - 0.2rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-kclc-fZe {
          width: 11.2rem;
          height: 3.2rem;
          position: relative;
          flex-shrink: 0;
          margin: 0rem 2.5rem 0.2rem 0rem;

          .rectangle-890-PEk {
            width: 11.2rem;
            height: 2rem;
            position: absolute;
            left: 0;
            top: 0.7rem;
            background-color: #000000;
          }
          .add-to-cart-inp {
            width: 6.4rem;
            height: 3.2rem;
            top: 0;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            position: absolute;
            left: 3.4rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 2.6666666667;
            white-space: nowrap;
          }
          .item--3KJ {
            left: 0.768rem;
            top: 0.968rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.9025rem;
            height: 1.3477rem;
            position: absolute;
          }
        }
        .auto-group-van8-ZoS {
          height: 3.2rem;
          position: relative;
          flex-shrink: 0;
          margin-top: 0.2rem;
          width: 11.2rem;

          .rectangle-893-WCt {
            height: 2rem;
            position: absolute;
            left: 0;
            top: 0.5rem;
            background-color: #000000;
            width: 11.2rem;
          }
          .vector-T88 {
            top: 0.9rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.4rem;
            height: 1.2983rem;
            position: absolute;
            left: 1.5rem;
          }
          .wishlist-z84 {
            width: 4.4rem;
            height: 3.2rem;
            left: 4.4rem;
            top: 0;
            font-size: 1.2rem;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            position: absolute;
            line-height: 2.6666666667;
            color: #ffffff;
            white-space: nowrap;
          }
        }
      }
    }
    .auto-group-8lfv-GbN {
      flex-shrink: 0;
      width: 30.1rem;
      height: 100%;
      align-items: center;
      flex-direction: column;
      border-radius: 5rem;
      box-sizing: border-box;
      padding: 4.6rem 2.5rem 2.5rem 2.2rem;
      display: flex;
      background-color: #ffffff;

      .metal-cans-3-PAC {
        flex-shrink: 0;
        margin-bottom: 0.6rem;
        width: 24.4rem;
        height: 25.1rem;
        object-fit: cover;
        vertical-align: top;
      }
      .aluminium-tins-51-kg-uuE {
        align-items: baseline;
        margin: 0rem 1rem 1.5rem 0rem;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 1.2rem;
        color: #000000;
        display: flex;
        flex-shrink: 0;

        .aluminium-tins-51-kg-uuE-sub-0 {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .aluminium-tins-51-kg-uuE-sub-1 {
        }
        .aluminium-tins-51-kg-uuE-sub-2 {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .auto-group-af2c-cSG {
        width: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-yxec-xm2 {
          width: 11.2rem;
          height: 3.2rem;
          position: relative;
          flex-shrink: 0;
          margin: 0rem 3rem 0.2rem 0rem;

          .rectangle-892-fQY {
            left: 0;
            top: 0.7rem;
            background-color: #000000;
            width: 11.2rem;
            height: 2rem;
            position: absolute;
          }
          .add-to-cart-bJC {
            left: 3.4rem;
            top: 0;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 2.6666666667;
            color: #ffffff;
            width: 6.4rem;
            height: 3.2rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
          }
          .item--6Vr {
            vertical-align: top;
            width: 1.9025rem;
            height: 1.3477rem;
            position: absolute;
            left: 0.768rem;
            top: 0.968rem;
            object-fit: contain;
          }
        }
        .auto-group-9g7w-cyz {
          height: 3.2rem;
          position: relative;
          flex-shrink: 0;
          margin-top: 0.2rem;
          width: 11.2rem;

          .rectangle-894-wmN {
            width: 11.2rem;
            height: 2rem;
            position: absolute;
            left: 0;
            top: 0.5rem;
            background-color: #000000;
          }
          .vector-HaL {
            height: 1.2983rem;
            position: absolute;
            left: 1.5rem;
            top: 0.9rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.4rem;
          }
          .wishlist-pKN {
            color: #ffffff;
            width: 4.4rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 2.6666666667;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            height: 3.2rem;
            position: absolute;
            left: 4.4rem;
            top: 0;
          }
        }
      }
    }
  }
  .footer-hPA {
    left: 0;
    top: 127.3rem;
    width: 153.5rem;
    height: 26.6094rem;
    position: absolute;

    .rectangle-3-qEU {
      left: 0;
      top: 0;
      background-color: #222222;
      width: 153.5rem;
      height: 24.9998rem;
      position: absolute;
    }
    .scrap-symphoy-sanctuary-aims-to-promote-innovation-in-the-digital-commerce-ecosystem-by-providing-a-platform-for-startups-and-entrepreneurs-to-develop-new-services-and-solutions-also-supports-digital-commerce-including-online-payments-e-commerce-and-financial-services-ahr {
      top: 4.8992rem;
      font-size: 1rem;
      letter-spacing: 0.01rem;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      position: absolute;
      height: 8.8rem;
      left: 12.1922rem;
      display: flex;
      font-weight: 400;
      line-height: 2.2;
      width: 43.7rem;
    }
    .frame-35-kkk {
      width: 14.4rem;
      height: 16.5rem;
      position: absolute;
      left: 117.7234rem;
      top: 1.993rem;

      .pages-sqN {
        width: 100%;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 2.25;
        letter-spacing: 0.012rem;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
      .frame-39-nhS {
        width: 100%;
        row-gap: 1rem;
        display: flex;
        flex-direction: column;

        .about-us-YAp {
          display: flex;
          font-weight: 400;
          line-height: 2.2;
          color: #ffffff;
          white-space: nowrap;
          font-size: 1rem;
          letter-spacing: 0.01rem;
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .return-policy-fmE {
          font-size: 1rem;
          font-family: Open Sans, 'Source Sans Pro';
          letter-spacing: 0.01rem;
          color: #ffffff;
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-weight: 400;
          line-height: 2.2;
        }
        .contact-us-bun {
          font-size: 1rem;
          font-weight: 400;
          line-height: 2.2;
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          letter-spacing: 0.01rem;
        }
        .refund-cancellation-policies-jWC {
          font-family: Open Sans, 'Source Sans Pro';
          line-height: 2.2;
          font-size: 1rem;
          font-weight: 400;
          letter-spacing: 0.01rem;
          color: #ffffff;
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
        }
      }
    }
    .social-media-TSC {
      top: 15.1109rem;
      display: flex;
      align-items: center;
      width: 17.362rem;
      height: 3rem;
      position: absolute;
      left: 13.0039rem;

      .vector-Bd6 {
        flex-shrink: 0;
        margin: 0rem 4.035rem 0rem 0rem;
        width: 2.9268rem;
        height: 2.9268rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-6VA {
        margin-right: 4.0344rem;
        width: 3.2195rem;
        height: 3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-dzt {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.0013rem;
        width: 3.1463rem;
        height: 2.6341rem;
      }
    }
    .rectangle-12-yYx {
      width: 153.5rem;
      height: 4.3rem;
      position: absolute;
      left: 0;
      top: 20.7rem;
      background-color: #555555;
    }
    .frame-40-uxQ {
      top: 21.3rem;
      display: flex;
      padding-right: 19.3667rem;
      height: 5.3094rem;
      position: absolute;
      align-items: flex-start;
      box-sizing: border-box;
      width: 29.8667rem;
      left: 14.0906rem;

      .mask-group-Dy6 {
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 4.5rem;
      }
      .mask-group-NLC {
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .scrap-symphony-sanctuary-all-rights-reserved-WxC {
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      width: 27.4rem;
      left: 114.0258rem;
      top: 22.1133rem;
      font-size: 1rem;
      color: #ffffff;
      height: 2.2rem;
      position: absolute;
      font-weight: 700;
      line-height: 2.2;
      letter-spacing: 0.01rem;
    }
    .terms-condition-privacy-policy-bik {
      left: 65.857rem;
      font-size: 1rem;
      font-weight: 700;
      color: #ffffff;
      white-space: nowrap;
      width: 18.5rem;
      height: 2.2rem;
      position: absolute;
      top: 22.1133rem;
      line-height: 2.2;
      letter-spacing: 0.01rem;
      font-family: Open Sans, 'Source Sans Pro';
    }
  }
}
