
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.scrap-all-2-7oA {
  width: 100%;
  height: 70.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .black1-67-RYx {
    top: 1.7rem;
    object-fit: cover;
    vertical-align: top;
    width: 153.6rem;
    height: 68.5rem;
    position: absolute;
    left: 0;
  }
  .rectangle-901-kLL {
    width: 153.6rem;
    height: 4.3rem;
    position: absolute;
    left: 0;
    top: 65.9rem;
    background-color: #5b5b5b;
  }
  .item--HLG {
    align-items: flex-start;
    width: 29.8667rem;
    position: absolute;
    left: 14.1rem;
    top: 66.3rem;
    display: flex;
    box-sizing: border-box;
    padding-right: 19.3667rem;
    height: 5.3094rem;

    .mask-group-aaG {
      width: 3rem;
      height: 3rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 4.5rem;
    }
    .mask-group-KGx {
      vertical-align: top;
      flex-shrink: 0;
      width: 3rem;
      height: 3rem;
      position: relative;
      object-fit: contain;
    }
  }
  .terms-condition-privacy-policy-Te4 {
    height: 2.2rem;
    position: absolute;
    top: 66.8rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 2.2;
    letter-spacing: 0.01rem;
    color: #ffffff;
    width: 18.5rem;
    left: 65.9rem;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
  }
  .scrap-symphony-sanctuary-all-rights-reserved-8kC {
    line-height: 2.2;
    color: #ffffff;
    left: 114.1rem;
    font-weight: 700;
    position: absolute;
    top: 66.8rem;
    font-size: 1rem;
    letter-spacing: 0.01rem;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
    width: 27.4rem;
    height: 2.2rem;
  }
  .scrap3-removebg-preview-68-c9a {
    height: 4rem;
    position: absolute;
    left: 2.4rem;
    top: 5.1rem;
    object-fit: cover;
    vertical-align: top;
    width: 4.7467rem;
  }
  .scrap-symphony-sanctuary-8Np {
    justify-content: center;
    line-height: 1.4825;
    letter-spacing: 0.028rem;
    color: #f7fbff;
    white-space: nowrap;
    width: 16.2rem;
    height: 2.1rem;
    top: 6.5rem;
    position: absolute;
    left: 7.25rem;
    align-items: center;
    font-family: Oswald, 'Source Sans Pro';
    display: flex;
    font-size: 1.4rem;
    font-weight: 700;
  }
  .home-scrap-section-creative-section-about-us-contact-us-c36 {
    width: 51.9rem;
    height: 2.5rem;
    top: 6.3rem;
    color: #f6fbff;
    font-family: Open Sans, 'Source Sans Pro';
    letter-spacing: 0.016rem;
    white-space: nowrap;
    position: absolute;
    left: 35.4rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5625;
  }
  .rectangle-867-6DA {
    height: 3.1rem;
    position: absolute;
    left: 91.4rem;
    top: 6.3rem;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
    background-color: #f6fbff;
    width: 37.7rem;
  }
  .layer1-o7a {
    position: absolute;
    left: 143.4rem;
    top: 6rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.2rem;
    height: 3.4078rem;
  }
  .item--iEY {
    width: 3.7029rem;
    height: 3.0931rem;
    position: absolute;
    left: 137.7297rem;
    top: 6.0844rem;
    object-fit: contain;
    vertical-align: top;
  }
  .rectangle-901-Eya {
    width: 104.2rem;
    height: 42rem;
    position: absolute;
    left: 45.7rem;
    top: 17.9rem;
    background-color: #ffffff;
    border-radius: 5rem;
  }
  .vector-ZW4 {
    position: absolute;
    left: 132.4rem;
    top: 6rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.4rem;
    height: 3.2rem;
  }
  .price-hcG {
    left: 50.1rem;
    top: 36rem;
    width: 14.5rem;
    height: 7.7rem;
    position: absolute;

    .rectangle-106-28k {
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 0.5rem;
      width: 14.5rem;
      border: dashed 0.1rem #ff731d;
      box-sizing: border-box;
      background-color: #ffffff;
      height: 6.8rem;
    }
    .text-vzp {
      top: 0.5rem;
      width: 6.7rem;
      height: 7.2rem;
      position: absolute;
      left: 1.2rem;

      .price-4bE {
        font-weight: 400;
        line-height: 1.3571428571;
        letter-spacing: 0.014rem;
        color: #222222;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.9rem;
        font-size: 1.4rem;
      }
      .kg-nGL {
        color: #ff731d;
        font-family: Open Sans, 'Source Sans Pro';
        max-width: 6.7rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 0.6875;
        letter-spacing: 0.032rem;
      }
    }
    .price-icon-Hyn {
      position: absolute;
      left: 12.1rem;
      top: 0.4rem;
      object-fit: contain;
      vertical-align: top;
      width: 2rem;
      height: 2rem;
    }
  }
  .frame-427319600-2Ra {
    padding: 1rem 3.95rem;
    width: 34.7rem;
    height: 9.9rem;
    position: absolute;
    align-items: center;
    background-color: #f8fafc;
    border-radius: 1.5rem;
    box-sizing: border-box;
    left: 50.1rem;
    top: 46.9rem;
    display: flex;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);

    .frame-427319596-iZJ {
      margin: 1.25rem 1.9rem 1.25rem 0rem;
      height: calc(100% - 2.5rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .group-17-qdv {
        flex-shrink: 0;
        margin: 0rem 0.1rem 0.5rem 0rem;
        width: 2.8845rem;
        height: 2.1997rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
      .free-delivery-AAQ {
        line-height: 2.7;
        letter-spacing: 0.01rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1rem;
        font-weight: 400;
      }
    }
    .line-97-URz {
      flex-shrink: 0;
      margin-right: 2rem;
      width: 0rem;
      height: 7.9rem;
      object-fit: contain;
      vertical-align: top;
    }
    .frame-427319598-pEx {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 1.25rem 1.9rem 1.25rem 0rem;
      height: calc(100% - 2.5rem);
      align-items: center;

      .group-18-Lj6 {
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.1rem 0.5rem 0rem;
        width: 2.2003rem;
        height: 2.1999rem;
      }
      .pay-on-delivery-GMr {
        font-size: 1rem;
        font-weight: 400;
        line-height: 2.7;
        letter-spacing: 0.01rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .line-98-bQ8 {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2rem;
      width: 0rem;
      height: 7.9rem;
      object-fit: contain;
    }
    .auto-group-upxc-LMi {
      margin-bottom: 1.2rem;
      box-sizing: border-box;
      padding-top: 1.2rem;
      width: 5.3rem;
      height: 6.7rem;
      flex-shrink: 0;

      .frame-427319599-fun {
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;

        .group-19-2EY {
          margin: 0rem 0rem 0.5rem 0rem;
          width: 2.2rem;
          height: 2.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .days-returnable-Mnc {
          font-size: 1rem;
          line-height: 1.3625;
          color: #000000;
          max-width: 5.3rem;
          text-align: center;
          font-weight: 400;
          letter-spacing: 0.01rem;
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
    }
  }
  .line-144-RXa {
    height: 37.5rem;
    position: absolute;
    left: 89rem;
    top: 19.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 0;
  }
  .rectangle-899-mLY {
    background-color: #000000;
    width: 11.2rem;
    height: 2rem;
    position: absolute;
    left: 69rem;
    top: 36.5rem;
  }
  .add-to-cart-Hpg {
    top: 35.9rem;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 6.4rem;
    left: 72.7rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.6666666667;
    color: #ffffff;
    height: 3.2rem;
    position: absolute;
  }
  .item--zj6 {
    width: 1.9025rem;
    height: 1.3477rem;
    position: absolute;
    left: 69.768rem;
    top: 36.768rem;
    object-fit: contain;
    vertical-align: top;
  }
  .rectangle-900-KmN {
    width: 11.2rem;
    height: 2rem;
    position: absolute;
    left: 69rem;
    top: 40.2rem;
    background-color: #000000;
  }
  .vector-Tcg {
    object-fit: contain;
    vertical-align: top;
    width: 1.6rem;
    height: 1.4rem;
    position: absolute;
    left: 70.4rem;
    top: 40.5rem;
  }
  .wishlist-QH2 {
    top: 39.5rem;
    font-size: 1.2rem;
    white-space: nowrap;
    height: 3.2rem;
    position: absolute;
    left: 72.9rem;
    font-weight: 400;
    line-height: 2.6666666667;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    width: 4.4rem;
  }
  .group-168-iHi {
    width: 56.8rem;
    height: 14.9773rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 2.1789rem 0.7094rem;
    position: absolute;
    left: 91.4rem;
    top: 20.9rem;
    border: dashed 0.1rem #dddddd;

    .description-dQg {
      height: 7.5rem;
      width: 48.1rem;

      .description--Nt4 {
        font-weight: 400;
        line-height: 1.375;
        letter-spacing: 0.016rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.5rem;
        font-size: 1.6rem;
      }
      .retro-rollers-a-old-rubber-relics-old-tires-exude-a-nostalgic-charm-with-weatheredtreads-that-tell-tales-of-countless-journeys-K2c {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3571428571;
        letter-spacing: 0.014rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        max-width: 48.1rem;
      }
    }
  }
  .item--tV2 {
    top: 12.7rem;
    display: flex;
    align-items: center;
    background-color: #f16713;
    padding: 0.05rem 2.7rem 0.05rem 1rem;
    height: 2.2rem;
    position: absolute;
    left: 135.2rem;
    box-sizing: border-box;
    width: 9.4rem;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
    border-radius: 5rem;

    .auto-group-fy1s-8uA {
      width: 1.1rem;
      height: 1rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.6rem;
    }
    .back-Sur {
      margin-bottom: 0.2rem;
      font-weight: 700;
      line-height: 1.1875;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.6rem;
      letter-spacing: 0.016rem;
      color: #fff7e9;
    }
  }
  .old-tyers-2-gZJ {
    height: 33.5rem;
    position: absolute;
    left: 2.4rem;
    top: 22.7rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 5rem;
    width: 41rem;
  }
  .group-170-mKr {
    left: 50.1rem;
    top: 21.9rem;
    width: 38rem;
    height: 11.5rem;
    position: absolute;

    .retro-rollers-gxc {
      white-space: nowrap;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.35;
      letter-spacing: 0.02rem;
      color: #000000;
      font-family: Open Sans, 'Source Sans Pro';
    }
    .auto-group-tqpl-ywi {
      width: 100%;
      display: flex;
      align-items: flex-end;

      .auto-group-kkdj-vc4 {
        margin-right: 2.2rem;
        row-gap: 1rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .product-id-573hw8-Tbz {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.3571428571;
          letter-spacing: 0.014rem;
          color: #888888;
          font-family: Open Sans, 'Source Sans Pro';
        }
        .seller-sanjay-BXz {
          letter-spacing: 0.014rem;
          color: #888888;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.3571428571;
        }
        .published-on-16-august-2022-WKN {
          line-height: 1.3571428571;
          letter-spacing: 0.014rem;
          color: #888888;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 400;
        }
      }
      .group-157-QvY {
        margin-bottom: 0.2955rem;
        box-sizing: border-box;
        align-items: center;
        flex-direction: column;
        border: dashed 0.1rem #ff731d;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        flex-shrink: 0;
        padding: 0.9rem 1.5rem 2.004rem 1.5rem;
        width: 16.1rem;
        display: flex;
        background-color: rgba(246, 251, 255, 0.8000000119);

        .available-quantity-KXi {
          margin-bottom: 1.2rem;
          text-align: center;
          font-weight: 700;
          display: flex;
          align-items: baseline;
          flex-shrink: 0;
          font-size: 1.4rem;
          line-height: 1.5714285714;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;

          .available-quantity-KXi-sub-0 {
          }
          .available-quantity-KXi-sub-1 {
            line-height: 0.6875;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            font-size: 3.2rem;
            font-weight: 600;
          }
        }
        .kg-q8g {
          text-align: center;
          font-size: 3.2rem;
          font-weight: 300;
          color: #777777;
          margin-left: 0.3rem;
          line-height: 0.6875;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
  }
  .item--hAt {
    top: 40.6rem;
    display: flex;
    align-items: center;
    width: 56.5rem;
    height: 16.2rem;
    position: absolute;
    left: 91.4rem;

    .group-21-Df2 {
      width: 27.6rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .content-Nnp {
        width: 14.5rem;
        height: 11.3rem;
        position: absolute;
        left: 1.5rem;
        top: 1.5rem;

        .features--iLt {
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.5rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.375;
          letter-spacing: 0.016rem;
        }
        .patina-of-experience-eco-friendly-potential-artistic-canvas-time-worn-treads-FLp {
          font-weight: 400;
          line-height: 1.3571428571;
          letter-spacing: 0.014rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          max-width: 14.5rem;
          font-size: 1.4rem;
        }
      }
      .rectangle-113-L7N {
        border: dashed 0.1rem #dddddd;
        box-sizing: border-box;
        border-radius: 0.5rem;
        width: 27.6rem;
        height: 16.2rem;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    .group-22-TBz {
      padding: 1.5rem 0.9rem 5.3rem 1.2rem;
      width: 28.9rem;
      height: 100%;
      border: dashed 0.1rem #dddddd;
      border-radius: 0.5rem;
      flex-shrink: 0;
      box-sizing: border-box;

      .environmental-impact--yw2 {
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.7rem;
        font-size: 1.6rem;
        font-weight: 400;
      }
      .recycled-tyres-cut-waste-and-support-sustainability-choosing-them-conserves-resources-and-promotes-responsible-practices-7GY {
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        max-width: 26.8rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.5833333333;
        letter-spacing: 0.012rem;
      }
    }
  }
  .group-188-xnx {
    width: 2rem;
    height: 2.6383rem;
    position: absolute;
    left: 92.1rem;
    top: 6.5rem;
    object-fit: contain;
    vertical-align: top;
  }
  .search-6PN {
    letter-spacing: 0.018rem;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.5rem;
    font-size: 1.8rem;
    line-height: 1.3888888889;
    top: 6.8rem;
    font-weight: 400;
    color: #555555;
    width: 5.9rem;
    position: absolute;
    left: 94.7rem;
  }
}
