
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.seller-home-7N4 {
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:4db7a63002ededecb5f49fec65723cca71659456');
  position: relative;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;

  .item--rKe {
    box-sizing: border-box;
    padding: 1rem 69.2rem 0.8rem 69.2rem;
    width: 100%;
    height: 4rem;
    background-color: #777777;
    flex-shrink: 0;

    .frame-427319517-NYt {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .group-2-j8Y {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1rem 0rem 0rem;
        width: 2.2rem;
        height: 1.6422rem;
        position: relative;
        object-fit: contain;
      }
      .made-for-india-Soe {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.375;
        color: #ffffff;
        font-family: Merriweather, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-q61a-9xx {
    padding: 2.3rem 3.1rem 10.7rem 3.1rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;

    .auto-group-lya8-stx {
      margin: 0rem 8.6rem 9rem 0rem;
      width: calc(100% - 8.6rem);
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .auto-group-duun-DC8 {
        width: 31.65rem;
        height: 9.3rem;
        position: relative;
        flex-shrink: 0;
        margin: 0rem 92.05rem 0.1rem 0rem;

        .scrap3-removebg-preview-59-Xic {
          vertical-align: top;
          width: 4.7467rem;
          height: 4rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
        }
        .scrap-symphony-sanctuary-F8p {
          align-items: center;
          color: #f7fbff;
          left: 4.75rem;
          top: 1.4rem;
          font-weight: 700;
          letter-spacing: 0.028rem;
          justify-content: center;
          font-size: 1.4rem;
          position: absolute;
          display: flex;
          font-family: Oswald, 'Source Sans Pro';
          white-space: nowrap;
          width: 16.2rem;
          height: 2.1rem;
          line-height: 1.4825;
        }
        .creative-scrapyard-io6 {
          line-height: 1.4825;
          font-family: Oswald, 'Source Sans Pro';
          width: 29.2rem;
          letter-spacing: 0.072rem;
          justify-content: center;
          font-size: 3.6rem;
          font-weight: 700;
          left: 2.45rem;
          top: 3.9rem;
          display: flex;
          align-items: center;
          color: #ffffff;
          white-space: nowrap;
          height: 5.4rem;
          position: absolute;
        }
      }
      .item--brt {
        box-sizing: border-box;
        padding: 0.4rem 1.9rem 0.5rem 1.1rem;
        display: flex;
        box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
        border-radius: 5rem;
        flex-shrink: 0;
        margin-top: 6.6rem;
        align-items: center;
        background-color: #f16713;

        .auto-group-hqbe-XEk {
          height: 1rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.1rem 1.1rem 0rem 0rem;
          width: 1.1rem;
        }
        .back-to-home-3D6 {
          letter-spacing: 0.014rem;
          color: #fff7e9;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.3571428571;
        }
      }
    }
    .auto-group-oevz-7Tr {
      margin: 0rem 7.4rem 0rem 7.3rem;
      width: calc(100% - 14.7rem);
      height: 222.2rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-906-CEQ {
        position: absolute;
        left: 104.6rem;
        top: 94.6rem;
        object-fit: contain;
        vertical-align: top;
        width: 11.2rem;
        height: 2rem;
      }
      .rectangle-966-XXa {
        width: 132.7rem;
        height: 222.2rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #ffffff;
      }
      .rectangle-857-4nQ {
        position: absolute;
        left: 0;
        top: 0;
        border: solid 0.2rem #ffffff;
        box-sizing: border-box;
        background-color: rgba(255, 115, 29, 0.9599999785);
        width: 33.5rem;
        height: 222.2rem;
      }
      .welcome-to-creative-scrapyard-oEC {
        align-items: center;
        font-weight: 400;
        width: 18.1rem;
        font-size: 3.6625rem;
        letter-spacing: 0.0366rem;
        font-family: Open Sans, 'Source Sans Pro';
        height: 11rem;
        position: absolute;
        left: 7.7rem;
        display: flex;
        justify-content: center;
        top: 2.55rem;
        line-height: 1.3618164036;
        color: #ffffff;

        .welcome-to-creative-scrapyard-oEC-sub-0 {
          letter-spacing: 0.0366rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.3625;
        }
        .welcome-to-creative-scrapyard-oEC-sub-1 {
          font-family: Open Sans, 'Source Sans Pro';
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.3625;
          letter-spacing: 0.0366rem;
          font-style: italic;
          color: #ffffff;
        }
      }
      .menu-jfa {
        box-sizing: border-box;
        width: 13.7rem;
        height: 25.1rem;
        position: absolute;
        display: flex;
        padding-bottom: 11.4rem;
        left: 10.3rem;
        top: 21.5rem;
        align-items: center;
        flex-direction: column;

        .auto-group-y7gq-3RN {
          box-sizing: border-box;
          padding-bottom: 3.1rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .dashboard-zbW {
            flex-shrink: 0;
            margin: 0rem 2.6rem 3.1rem 0rem;
            box-sizing: border-box;
            padding-right: 2.5rem;
            width: calc(100% - 2.6rem);
            display: flex;
            align-items: center;

            .profile-X5e {
              flex-shrink: 0;
              width: 3rem;
              height: 2.5rem;
              cursor: pointer;
              object-fit: contain;
              vertical-align: top;
            }
            .profile-G3E {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.3888888889;
              letter-spacing: 0.018rem;
              color: #ffffff;
              font-family: Open Sans, 'Source Sans Pro';
            }
          }
          .products-zjv {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-right: 3rem;
            width: calc(100% - 3rem);
            cursor: pointer;

            .menu-icons-8bE {
              margin-right: 1rem;
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .dashboard-rn8 {
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.3888888889;
              letter-spacing: 0.018rem;
              color: #ffffff;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .add-product-z7e {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          width: 100%;
          cursor: pointer;

          .menu-icons-YQ4 {
            margin: 0rem 1rem 0rem 0rem;
            width: 2.0001rem;
            height: 2.0002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .dashboard-fzU {
            font-weight: 400;
            line-height: 1.3888888889;
            letter-spacing: 0.018rem;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
          }
        }
      }
      .text-content-oKz {
        width: 89.9rem;
        height: 26.6rem;
        position: absolute;
        left: 37.6rem;
        top: 14.3rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-qm8g-Xmn {
          box-sizing: border-box;
          padding-bottom: 2.5rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .name-gPn {
            margin: 0rem 0.4rem 2.5rem 0rem;
            width: calc(100% - 0.4rem);
            height: 7.2rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .fname-c2Y {
              margin-right: 9.5rem;
              width: 40rem;
              height: 100%;
              flex-shrink: 0;

              .first-name-xMJ {
                margin-bottom: 0.5rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.375;
                letter-spacing: 0.016rem;
                color: #000000;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
              }
              .rectangle-143-VME {
                width: 100%;
                height: 4.5rem;
                border: solid 0.1rem #dddddd;
                box-sizing: border-box;
                background-color: #ffffff;
                border-radius: 0.5rem;
              }
            }
            .lname-REt {
              width: 40rem;
              height: 100%;
              flex-shrink: 0;

              .last-name-BE4 {
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 0.5rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.375;
                letter-spacing: 0.016rem;
                color: #000000;
              }
              .rectangle-143-ufr {
                height: 4.5rem;
                border: solid 0.1rem #dddddd;
                box-sizing: border-box;
                background-color: #ffffff;
                border-radius: 0.5rem;
                width: 100%;
              }
            }
          }
          .email-no-e7e {
            height: 7.2rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-right: 0.4rem;
            width: calc(100% - 0.4rem);

            .email-NpL {
              margin-right: 9.5rem;
              width: 40rem;
              height: 100%;
              flex-shrink: 0;

              .email-Xx8 {
                line-height: 1.375;
                letter-spacing: 0.016rem;
                color: #000000;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 0.5rem;
                font-size: 1.6rem;
                font-weight: 400;
              }
              .rectangle-143-UcU {
                width: 100%;
                height: 4.5rem;
                border: solid 0.1rem #dddddd;
                box-sizing: border-box;
                background-color: #ffffff;
                border-radius: 0.5rem;
              }
            }
            .mobile-cig {
              width: 40rem;
              height: 100%;
              flex-shrink: 0;

              .mobile-no-afW {
                font-weight: 400;
                line-height: 1.375;
                letter-spacing: 0.016rem;
                color: #000000;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 0.5rem;
                font-size: 1.6rem;
              }
              .rectangle-143-vUU {
                border: solid 0.1rem #dddddd;
                box-sizing: border-box;
                background-color: #ffffff;
                border-radius: 0.5rem;
                width: 100%;
                height: 4.5rem;
              }
            }
          }
        }
        .email-Fme {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .address-DiU {
            font-weight: 400;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            margin-bottom: 0.5rem;
            line-height: 1.375;
            letter-spacing: 0.016rem;
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
          }
          .rectangle-143-9c8 {
            border-radius: 0.5rem;
            flex-shrink: 0;
            width: 100%;
            height: 4.5rem;
            border: solid 0.1rem #dddddd;
            box-sizing: border-box;
            background-color: #ffffff;
          }
        }
      }
      .personal-info-grx {
        width: 21.5rem;
        left: 37.8rem;
        top: 4.7rem;
        font-size: 3.2rem;
        line-height: 0.84375;
        white-space: nowrap;
        height: 2.7rem;
        position: absolute;
        font-weight: 700;
        letter-spacing: 0.032rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
      }
      .line-142-bU8 {
        top: 10rem;
        background-color: #000000;
        width: 90rem;
        height: 0.2rem;
        position: absolute;
        left: 37.6rem;
      }
      .products-jaL {
        color: #000000;
        width: 14.5rem;
        height: 2.7rem;
        position: absolute;
        top: 51.2rem;
        font-size: 3.2rem;
        line-height: 0.84375;
        letter-spacing: 0.032rem;
        font-family: Open Sans, 'Source Sans Pro';
        left: 37.6rem;
        font-weight: 700;
        white-space: nowrap;
      }
      .line-143-Ri4 {
        position: absolute;
        left: 37.8rem;
        top: 57.2rem;
        background-color: #000000;
        width: 90rem;
        height: 0.2rem;
      }
      .add-product-NNQ {
        font-family: Open Sans, 'Source Sans Pro';
        width: 20.1rem;
        height: 2.7rem;
        left: 37.8rem;
        top: 103.1rem;
        line-height: 0.84375;
        letter-spacing: 0.032rem;
        color: #000000;
        white-space: nowrap;
        position: absolute;
        font-size: 3.2rem;
        font-weight: 700;
      }
      .line-144-g8C {
        width: 90rem;
        height: 0.2rem;
        position: absolute;
        left: 37.8rem;
        top: 108.9rem;
        background-color: #000000;
      }
      .product-title-R5n {
        width: 48.9rem;
        height: 6.9rem;
        position: absolute;
        left: 37.6rem;
        top: 112rem;

        .product-title-MEL {
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.5rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.3571428571;
          letter-spacing: 0.014rem;
        }
        .enter-title-box-V5e {
          letter-spacing: 0.012rem;
          color: #777777;
          border: solid 0.1rem #dddddd;
          background-color: #ffffff;
          line-height: 1.3333333333;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          box-sizing: border-box;
          padding: 0.9rem 1.5rem 1rem 1.5rem;
          width: 100%;
          font-size: 1.2rem;
          font-weight: 400;
        }
      }
      .product-description-xV2 {
        position: absolute;
        left: 37.8rem;
        top: 122.1rem;
        width: 66rem;
        height: 23rem;

        .product-description-65S {
          white-space: nowrap;
          margin-bottom: 1.5rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.3571428571;
          letter-spacing: 0.014rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
        }
        .box-cZa {
          height: 19.6rem;
          position: relative;
          width: 100%;

          .description-box-aFW {
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            background-color: #ffffff;
            padding: 1.5rem;
            width: 66rem;
            position: absolute;
            left: 0;
            line-height: 1.3333333333;
            border: solid 0.1rem #dddddd;
            color: #777777;
            box-sizing: border-box;
            height: 16.5rem;
            top: 3.1rem;
            font-size: 1.2rem;
            font-weight: 400;
            letter-spacing: 0.012rem;
          }
          .heading-dUg {
            width: 66rem;
            height: 3.65rem;
            position: absolute;
            left: 0;
            top: 0;

            .rectangle-125-yYY {
              height: 3.2rem;
              position: absolute;
              left: 0;
              top: 0;
              border: solid 0.1rem #dddddd;
              box-sizing: border-box;
              background-color: #f6fbff;
              width: 66rem;
            }
            .editing-tools-uh6 {
              top: 0.8rem;
              display: flex;
              align-items: flex-start;
              width: 62.9rem;
              height: 2.85rem;
              position: absolute;
              left: 1.6rem;

              .paragraph-e8t {
                flex-shrink: 0;
                margin-right: 28.7rem;
                height: 100%;
                display: flex;
                align-items: flex-start;

                .paragraph-Q84 {
                  color: #222222;
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-weight: 400;
                  font-size: 1.2rem;
                  line-height: 1.3333333333;
                  letter-spacing: 0.012rem;
                  font-family: Open Sans, 'Source Sans Pro';
                  margin-right: 1rem;
                }
                .item--v6Q {
                  margin-top: 0.35rem;
                  color: #222222;
                  font-family: Oooh Baby, 'Source Sans Pro';
                  white-space: nowrap;
                  font-size: 2rem;
                  font-weight: 400;
                  line-height: 1.225;
                  letter-spacing: 0.02rem;
                  flex-shrink: 0;
                }
              }
              .ytext-editing-icons-pxU {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                height: 1.6rem;

                .b-mcp {
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  line-height: 1.3333333333;
                  letter-spacing: 0.012rem;
                  font-weight: 700;
                  color: #555555;
                  margin-right: 1.3rem;
                  font-size: 1.2rem;
                }
                .i-7At {
                  margin-right: 1.3rem;
                  font-size: 1.2rem;
                  line-height: 1.3333333333;
                  font-style: italic;
                  color: #555555;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  font-weight: 400;
                  letter-spacing: 0.012rem;
                  flex-shrink: 0;
                }
                .link-dQ8 {
                  width: 2rem;
                  height: 1.2rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .auto-group-xpbj-aaG {
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding: 0.1rem 0rem 0.1rem 1.3rem;
                  height: 100%;
                  display: flex;
                  align-items: center;

                  .group-tqr {
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 1.3001rem;
                    width: 1.5999rem;
                    height: 1.4003rem;
                  }
                  .numbered-list-dHe {
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin: 0rem 1.3rem 0rem 0rem;
                    width: 1.6003rem;
                    height: 1.3998rem;
                  }
                  .insert-img-A2g {
                    margin: 0rem 1.3rem 0rem 0rem;
                    width: 2.2rem;
                    height: 1.4rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .insert-table-5vL {
                    height: 1.4rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin: 0rem 1.3rem 0rem 0rem;
                    width: 1.9rem;
                  }
                  .quotes-QSp {
                    height: 1.1rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin: 0rem 1.3rem 0rem 0rem;
                    width: 1.4rem;
                  }
                  .undo-99W {
                    flex-shrink: 0;
                    margin: 0rem 1.3rem 0rem 0rem;
                    width: 1.4rem;
                    height: 1rem;
                    object-fit: contain;
                    vertical-align: top;
                  }
                  .redo-g9S {
                    flex-shrink: 0;
                    margin-bottom: 0.0003rem;
                    width: 1.4rem;
                    height: 1rem;
                    object-fit: contain;
                    vertical-align: top;
                  }
                }
              }
            }
          }
        }
      }
      .product-title-c36 {
        top: 146.9rem;
        width: 41.1rem;
        height: 19.2rem;
        position: absolute;
        left: 37.8rem;

        .features-932 {
          font-weight: 400;
          line-height: 1.3571428571;
          letter-spacing: 0.014rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.5rem;
          font-size: 1.4rem;
        }
        .enter-title-box-GdS {
          width: 100%;
          border: solid 0.1rem #dddddd;
          box-sizing: border-box;

          .rectangle-123-dyn {
            height: 15.8rem;
            border: solid 0.1rem #dddddd;
            box-sizing: border-box;
            background-color: #ffffff;
            width: 100%;
          }
        }
      }
      .visibility-AD2 {
        height: 6.4rem;
        position: absolute;
        left: 88.8rem;
        top: 112.3rem;
        width: 39.5rem;

        .section-hCx {
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.3571428571;
          letter-spacing: 0.014rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1rem;
        }
        .status-box-qKA {
          width: 100%;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 0.7272727273;
          letter-spacing: 0.022rem;
          font-family: Oooh Baby, 'Source Sans Pro';
          white-space: nowrap;
          border: solid 0.1rem #dddddd;
          box-sizing: border-box;
          padding: 1.3rem 1.9rem 0.6rem 36.9rem;
          color: #777777;
          background-color: #ffffff;
        }
      }
      .product-title-JiY {
        width: 44.8rem;
        height: 19.2rem;
        position: absolute;
        left: 83.1rem;
        top: 146.9rem;

        .environmental-impact-for-scrap-qyN {
          letter-spacing: 0.014rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.5rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.3571428571;
        }
        .enter-title-box-Mgp {
          width: 100%;
          border: solid 0.1rem #dddddd;
          box-sizing: border-box;

          .rectangle-123-KtY {
            box-sizing: border-box;
            background-color: #ffffff;
            width: 100%;
            height: 15.8rem;
            border: solid 0.1rem #dddddd;
          }
        }
      }
      .status-rda {
        left: 98.8rem;
        top: 168.4rem;
        width: 28.6rem;
        height: 6.4rem;
        position: absolute;

        .select-date-PdW {
          white-space: nowrap;
          margin-bottom: 1rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.3571428571;
          letter-spacing: 0.014rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
        }
        .status-box-XDv {
          white-space: nowrap;
          border: solid 0.1rem #dddddd;
          padding: 1.5rem 1.8rem 0.4rem 26.1rem;
          width: 100%;
          font-size: 2.2rem;
          color: #777777;
          font-family: Oooh Baby, 'Source Sans Pro';
          background-color: #ffffff;
          box-sizing: border-box;
          font-weight: 400;
          line-height: 0.7272727273;
          letter-spacing: 0.022rem;
        }
      }
      .visibility-Q2p {
        left: 37.8rem;
        top: 168.4rem;
        width: 28.6rem;
        height: 6.4rem;
        position: absolute;

        .product-id-wHe {
          margin-bottom: 1rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.3571428571;
          letter-spacing: 0.014rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
        }
        .rectangle-127-GKv {
          width: 100%;
          height: 3.5rem;
          border: solid 0.1rem #dddddd;
          box-sizing: border-box;
          background-color: #ffffff;
        }
      }
      .visibility-cPn {
        width: 28.6rem;
        height: 6.4rem;
        position: absolute;
        left: 68.3rem;
        top: 168.4rem;

        .seller-name-wgx {
          white-space: nowrap;
          margin-bottom: 1rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.3571428571;
          letter-spacing: 0.014rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
        }
        .rectangle-127-Ugt {
          width: 100%;
          height: 3.5rem;
          border: solid 0.1rem #dddddd;
          box-sizing: border-box;
          background-color: #ffffff;
        }
      }
      .frame-R6L {
        height: 6.9rem;
        position: absolute;
        left: 107.9rem;
        top: 122rem;
        width: 19.9rem;

        .price-MEt {
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.5rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.3571428571;
          letter-spacing: 0.014rem;
        }
        .enter-title-box-VM6 {
          width: 100%;
          border: solid 0.1rem #dddddd;
          box-sizing: border-box;

          .rectangle-123-Fr4 {
            width: 100%;
            height: 3.5rem;
            border: solid 0.1rem #dddddd;
            box-sizing: border-box;
            background-color: #ffffff;
          }
        }
      }
      .product-image-ATE {
        height: 34.3rem;
        position: absolute;
        left: 36.8rem;
        top: 177.1rem;
        overflow: hidden;
        background-color: #ffffff;
        padding: 1rem 1.5rem;
        width: 72.1rem;
        box-sizing: border-box;

        .content-5q6 {
          width: 44.1678rem;
          height: 25.6998rem;

          .product-image-Re4 {
            margin-bottom: 3rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.375;
            letter-spacing: 0.016rem;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
          .add-the-product-main-image-x8C {
            line-height: 1.3571428571;
            letter-spacing: 0.014rem;
            color: #777777;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 3.5rem;
            font-size: 1.4rem;
            font-weight: 400;
          }
          .add-image-g4C {
            height: 15.0998rem;
            position: relative;
            margin-left: 30.7rem;
            width: 13.4678rem;

            .eclipse-cCk {
              left: 9.3867rem;
              top: 11.0188rem;
              object-fit: contain;
              vertical-align: top;
              width: 4.0811rem;
              height: 4.0811rem;
              position: absolute;
            }
            .rect-YMJ {
              box-sizing: border-box;
              height: 13.0595rem;
              top: 0;
              line-height: 1.2499998832;
              color: #777777;
              white-space: nowrap;
              background-color: #f5f5f5;
              padding: 0.327rem 4.311rem 0.327rem 4.816rem;
              position: absolute;
              left: 0;
              letter-spacing: 0.0653rem;
              width: 11.427rem;
              font-size: 3.2649rem;
              font-weight: 400;
              font-family: Merriweather, 'Source Sans Pro';
              border-radius: 1.2243rem;
            }
          }
        }
      }
      .submit-button-s2C {
        height: 5.7rem;
        font-size: 2rem;
        letter-spacing: 0.02rem;
        align-items: center;
        border-radius: 1.5rem;
        width: 23.3rem;
        left: 101.6rem;
        line-height: 1.35;
        position: absolute;
        color: #ffffff;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        justify-content: center;
        background-color: #ff731d;
        top: 211.8rem;
        overflow: hidden;
        font-weight: 700;
        display: flex;
      }
      .frame-8Tv {
        height: 5.7rem;
        line-height: 1.35;
        color: #ffffff;
        white-space: nowrap;
        overflow: hidden;
        justify-content: center;
        border-radius: 1.5rem;
        width: 22.8rem;
        font-size: 2rem;
        font-family: Open Sans, 'Source Sans Pro';
        background-color: #ff731d;
        position: absolute;
        left: 39.3rem;
        top: 211.8rem;
        font-weight: 700;
        letter-spacing: 0.02rem;
        display: flex;
        align-items: center;
      }
      .frame-11v {
        width: 19.9rem;
        height: 6.9rem;
        position: absolute;
        left: 108rem;
        top: 130.1rem;

        .available-quantity-for-scrap-L4C {
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.5rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.3571428571;
          letter-spacing: 0.014rem;
        }
        .enter-title-box-eKn {
          box-sizing: border-box;
          width: 100%;
          border: solid 0.1rem #dddddd;

          .rectangle-123-1g8 {
            width: 100%;
            height: 3.5rem;
            border: solid 0.1rem #dddddd;
            box-sizing: border-box;
            background-color: #ffffff;
          }
        }
      }
      .start-selling-on-creative-scrapyard-jME {
        top: 12.5rem;
        display: flex;
        font-weight: 400;
        color: #f1f1f1;
        font-family: Open Sans, 'Source Sans Pro';
        letter-spacing: 0.014rem;
        white-space: nowrap;
        width: 22.4rem;
        height: 2.5rem;
        position: absolute;
        left: 5.4rem;
        font-size: 1.4rem;
        line-height: 1.7857142857;
      }
      .product-list-RUx {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        width: 79.2rem;
        height: 29.5rem;
        position: absolute;
        left: 46.75rem;
        top: 59.5rem;

        .table-heading-xDz {
          flex-shrink: 0;
          margin: 0rem 1.95rem 1.5rem 0rem;
          display: flex;
          align-items: flex-start;

          .price-GkU {
            margin-right: 7.3rem;
            font-size: 1.4rem;
            font-weight: 400;
            letter-spacing: 0.014rem;
            flex-shrink: 0;
            line-height: 1.3571428571;
            color: #555555;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
          .stock-Pq6 {
            margin-right: 3.3rem;
            line-height: 1.3571428571;
            font-size: 1.4rem;
            font-weight: 400;
            letter-spacing: 0.014rem;
            color: #555555;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .orders-vKE {
            margin-right: 4.2rem;
            font-weight: 400;
            color: #555555;
            font-size: 1.4rem;
            line-height: 1.3571428571;
            letter-spacing: 0.014rem;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .published-on-T4G {
            margin: 0.1rem 2.25rem 0rem 0rem;
            font-size: 1.4rem;
            font-weight: 400;
            white-space: nowrap;
            line-height: 1.3571428571;
            letter-spacing: 0.014rem;
            color: #555555;
            font-family: Open Sans, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .remove-mKr {
            font-weight: 400;
            line-height: 1.3571428571;
            letter-spacing: 0.014rem;
            margin-top: 0.1rem;
            font-size: 1.4rem;
            color: #555555;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .list-1V6 {
          flex-direction: column;
          flex-shrink: 0;
          width: 100%;
          row-gap: 1rem;
          align-items: center;
          display: flex;

          .item-1-Mor {
            width: 100%;
            height: 8rem;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            border: solid 0.1rem #dddddd;
            box-sizing: border-box;
            padding: 1.7rem 3.2rem 1.7rem 2.7rem;
            cursor: pointer;

            .product--sGQ {
              margin-right: 17.1rem;
              width: 14.7rem;
              height: 100%;
              flex-shrink: 0;

              .name-text-1dW {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;

                .urban-ladder-pashe-chair-NDA {
                  color: #000000;
                  margin-bottom: 0.5rem;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.375;
                  letter-spacing: 0.016rem;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .category-furniture-5tG {
                  font-weight: 400;
                  line-height: 1.3571428571;
                  letter-spacing: 0.014rem;
                  color: #555555;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                }
              }
            }
            .item-9000-1mv {
              font-weight: 400;
              line-height: 1.375;
              letter-spacing: 0.016rem;
              display: flex;
              flex-shrink: 0;
              margin-right: 6.3rem;
              font-size: 1.6rem;
              color: #000000;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
              align-items: baseline;

              .item-9000-1mv-sub-0 {
                letter-spacing: 0.016rem;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.2102272511;
              }
              .item-9000-1mv-sub-1 {
              }
            }
            .item-74-Xdn {
              font-weight: 400;
              font-family: Open Sans, 'Source Sans Pro';
              margin-right: 5rem;
              font-size: 1.6rem;
              line-height: 1.375;
              letter-spacing: 0.016rem;
              color: #000000;
              white-space: nowrap;
              flex-shrink: 0;
            }
            .item-32-1Yx {
              line-height: 1.375;
              margin-right: 7rem;
              font-size: 1.6rem;
              color: #000000;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-weight: 400;
              letter-spacing: 0.016rem;
            }
            .item-10-02-2021-8da {
              font-weight: 400;
              font-family: Open Sans, 'Source Sans Pro';
              flex-shrink: 0;
              color: #000000;
              white-space: nowrap;
              margin: 0rem 3.5rem 2.4rem 0rem;
              font-size: 1.6rem;
              line-height: 1.375;
              letter-spacing: 0.016rem;
            }
            .action-button-Egc {
              height: calc(100% - 1.2rem);
              position: relative;
              flex-shrink: 0;
              margin: 0.6rem 0;
              width: 3rem;

              .rectangle-97-yeC {
                position: absolute;
                left: 0;
                top: 0.4rem;
                background-color: rgba(255, 115, 29, 0.3000000119);
                border-radius: 0.5rem;
                width: 3rem;
                height: 3rem;
              }
              .item--W8L {
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                left: 0.7rem;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.35;
                letter-spacing: 0.02rem;
                color: #df5e0f;
                width: 1.8rem;
                height: 2.7rem;
                position: absolute;
                top: 0;
              }
            }
          }
          .item-2-adz {
            align-items: center;
            border: solid 0.1rem #dddddd;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.7rem 3.2rem 1.7rem 2.7rem;
            height: 8rem;
            cursor: pointer;
            width: 100%;
            display: flex;

            .product--UzG {
              width: 11rem;
              height: 100%;
              flex-shrink: 0;
              margin-right: 20.8rem;

              .name-text-poE {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;

                .urban-ladder-pashe-chair-nVA {
                  font-weight: 400;
                  line-height: 1.375;
                  letter-spacing: 0.016rem;
                  color: #000000;
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-family: Open Sans, 'Source Sans Pro';
                  margin-bottom: 0.5rem;
                }
                .category-furniture-WAG {
                  letter-spacing: 0.014rem;
                  color: #aaaaaa;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.3571428571;
                }
              }
            }
            .item-9000-2eQ {
              margin-right: 4.7rem;
              font-family: Open Sans, 'Source Sans Pro';
              flex-shrink: 0;
              letter-spacing: 0.016rem;
              color: #000000;
              white-space: nowrap;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.375;
            }
            .item-74-xHA {
              margin-right: 5rem;
              font-weight: 400;
              line-height: 1.375;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              letter-spacing: 0.016rem;
              color: #000000;
            }
            .item-32-VH6 {
              margin-right: 7rem;
              font-weight: 400;
              line-height: 1.375;
              font-size: 1.6rem;
              letter-spacing: 0.016rem;
              color: #000000;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .item-10-02-2021-dPJ {
              flex-shrink: 0;
              margin: 0rem 3.5rem 2.4rem 0rem;
              font-weight: 400;
              line-height: 1.375;
              letter-spacing: 0.016rem;
              color: #000000;
              font-size: 1.6rem;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
            }
            .action-button-MKJ {
              margin: 0.6rem 0;
              width: 3rem;
              height: calc(100% - 1.2rem);
              position: relative;
              flex-shrink: 0;

              .rectangle-97-VgQ {
                left: 0;
                top: 0.4rem;
                background-color: rgba(255, 115, 29, 0.3000000119);
                border-radius: 0.5rem;
                width: 3rem;
                height: 3rem;
                position: absolute;
              }
              .item--EP6 {
                width: 1.8rem;
                left: 0.7rem;
                white-space: nowrap;
                line-height: 1.35;
                letter-spacing: 0.02rem;
                color: #df5e0f;
                height: 2.7rem;
                position: absolute;
                top: 0;
                font-size: 2rem;
                font-weight: 700;
                font-family: Open Sans, 'Source Sans Pro';
              }
            }
          }
          .item-3-iJG {
            box-sizing: border-box;
            padding: 1.7rem 3.2rem 1.7rem 2.7rem;
            height: 8rem;
            cursor: pointer;
            display: flex;
            flex-shrink: 0;
            width: 100%;
            align-items: center;
            border: solid 0.1rem #dddddd;

            .product--dAL {
              height: 100%;
              flex-shrink: 0;
              margin-right: 15.5rem;
              width: 16.3rem;

              .name-text-yV6 {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;

                .urban-ladder-pashe-chair-jUG {
                  color: #000000;
                  flex-shrink: 0;
                  margin-bottom: 0.5rem;
                  line-height: 1.375;
                  letter-spacing: 0.016rem;
                  white-space: nowrap;
                  font-size: 1.6rem;
                  font-weight: 400;
                  font-family: Open Sans, 'Source Sans Pro';
                }
                .category-furniture-T9N {
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.3571428571;
                  letter-spacing: 0.014rem;
                  color: #aaaaaa;
                }
              }
            }
            .item-9000-ajn {
              font-weight: 400;
              color: #000000;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
              margin-right: 6.3rem;
              font-size: 1.6rem;
              line-height: 1.375;
              letter-spacing: 0.016rem;
              flex-shrink: 0;
            }
            .item-74-7Dv {
              font-size: 1.6rem;
              color: #000000;
              flex-shrink: 0;
              margin-right: 5rem;
              font-weight: 400;
              line-height: 1.375;
              letter-spacing: 0.016rem;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
            }
            .item-32-SX6 {
              font-weight: 400;
              color: #000000;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 7rem;
              font-size: 1.6rem;
              line-height: 1.375;
              letter-spacing: 0.016rem;
            }
            .item-10-02-2021-adJ {
              font-size: 1.6rem;
              line-height: 1.375;
              flex-shrink: 0;
              margin: 0rem 4.5rem 2.4rem 0rem;
              font-weight: 400;
              letter-spacing: 0.016rem;
              color: #000000;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
            }
            .action-button-u9n {
              position: relative;
              flex-shrink: 0;
              margin: 0.6rem 0;
              width: 3rem;
              height: calc(100% - 1.2rem);

              .rectangle-97-rKv {
                background-color: rgba(255, 115, 29, 0.3000000119);
                border-radius: 0.5rem;
                width: 3rem;
                height: 3rem;
                position: absolute;
                left: 0;
                top: 0.4rem;
              }
              .item--njN {
                width: 1.8rem;
                height: 2.7rem;
                position: absolute;
                left: 0.7rem;
                top: 0;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.35;
                letter-spacing: 0.02rem;
                color: #df5e0f;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
        }
      }
      .frame-5Ta {
        position: absolute;
        left: 108rem;
        top: 138.2rem;
        width: 19.9rem;
        height: 6.9rem;

        .category-1ME {
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.5rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.3571428571;
          letter-spacing: 0.014rem;
          color: #000000;
        }
        .enter-title-box-XqN {
          line-height: 0.7272727273;
          background-color: #ffffff;
          box-sizing: border-box;
          width: 100%;
          font-size: 2.2rem;
          font-weight: 400;
          white-space: nowrap;
          border: solid 0.1rem #dddddd;
          padding: 1.4rem 1.8rem 0.5rem 17.4rem;
          letter-spacing: 0.022rem;
          color: #777777;
          font-family: Oooh Baby, 'Source Sans Pro';
        }
      }
      .creativedog-3-N5J {
        width: 5rem;
        height: 4.8726rem;
        position: absolute;
        left: 41.3rem;
        top: 64.9rem;
        object-fit: cover;
        vertical-align: top;
      }
      .oldbook-4-h7a {
        object-fit: cover;
        vertical-align: top;
        width: 5rem;
        height: 5rem;
        position: absolute;
        left: 41.3rem;
        top: 73.7rem;
      }
      .stand-pen-2-d1E {
        width: 4.6545rem;
        height: 5rem;
        position: absolute;
        left: 40.9rem;
        top: 82.6rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
  }
  .footer-wnc {
    flex-shrink: 0;
    width: 100%;
    height: 26.6094rem;
    position: relative;

    .rectangle-3-Hba {
      position: absolute;
      left: 0;
      top: 0;
      background-color: #222222;
      width: 153.6rem;
      height: 24.9998rem;
    }
    .scrap-symphoy-sanctuary-aims-to-promote-innovation-in-the-digital-commerce-ecosystem-by-providing-a-platform-for-startups-and-entrepreneurs-to-develop-new-services-and-solutions-also-supports-digital-commerce-including-online-payments-e-commerce-and-financial-services-qd6 {
      top: 4.8992rem;
      display: flex;
      font-size: 1rem;
      letter-spacing: 0.01rem;
      font-family: Open Sans, 'Source Sans Pro';
      line-height: 2.2;
      color: #ffffff;
      width: 43.7rem;
      height: 8.8rem;
      position: absolute;
      left: 12.2rem;
      font-weight: 400;
    }
    .frame-35-QZi {
      width: 14.4rem;
      height: 16.5rem;
      position: absolute;
      left: 117.8rem;
      top: 1.993rem;

      .pages-jbz {
        font-weight: 700;
        line-height: 2.25;
        letter-spacing: 0.012rem;
        color: #ffffff;
        font-family: Open Sans, 'Source Sans Pro';
        align-items: center;
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 1.2rem;
        white-space: nowrap;
        margin-bottom: 2rem;
      }
      .frame-39-TXz {
        width: 100%;
        row-gap: 1rem;
        display: flex;
        flex-direction: column;

        .about-us-QTE {
          font-size: 1rem;
          line-height: 2.2;
          letter-spacing: 0.01rem;
          color: #ffffff;
          flex-shrink: 0;
          display: flex;
          font-weight: 400;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
        }
        .return-policy-jkQ {
          line-height: 2.2;
          letter-spacing: 0.01rem;
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 1rem;
          font-weight: 400;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
        }
        .contact-us-fe4 {
          font-weight: 400;
          line-height: 2.2;
          letter-spacing: 0.01rem;
          flex-shrink: 0;
          font-size: 1rem;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
        }
        .refund-cancellation-policies-Cdz {
          font-family: Open Sans, 'Source Sans Pro';
          display: flex;
          font-size: 1rem;
          font-weight: 400;
          line-height: 2.2;
          letter-spacing: 0.01rem;
          color: #ffffff;
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .social-media-81r {
      width: 17.362rem;
      height: 3rem;
      position: absolute;
      left: 13.018rem;
      top: 15.1109rem;
      display: flex;
      align-items: center;

      .vector-3uW {
        flex-shrink: 0;
        margin: 0rem 4.035rem 0rem 0rem;
        width: 2.9268rem;
        height: 2.9268rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-Ngt {
        width: 3.2195rem;
        height: 3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 4.0344rem;
      }
      .vector-8AG {
        margin-top: 0.0013rem;
        width: 3.1463rem;
        height: 2.6341rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .rectangle-12-fAC {
      position: absolute;
      left: 0;
      top: 20.7rem;
      background-color: #555555;
      width: 153.6rem;
      height: 4.3rem;
    }
    .frame-40-CR2 {
      height: 5.3094rem;
      position: absolute;
      left: 14.1rem;
      top: 21.3rem;
      display: flex;
      padding-right: 19.3667rem;
      width: 29.8667rem;
      align-items: flex-start;
      box-sizing: border-box;

      .mask-group-j3a {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 4.5rem;
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
      }
      .mask-group-4be {
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .scrap-symphony-sanctuary-all-rights-reserved-oJL {
      color: #ffffff;
      white-space: nowrap;
      width: 27.4rem;
      top: 22.1133rem;
      font-size: 1rem;
      font-weight: 700;
      line-height: 2.2;
      letter-spacing: 0.01rem;
      height: 2.2rem;
      position: absolute;
      left: 114.1rem;
      font-family: Open Sans, 'Source Sans Pro';
    }
    .terms-condition-privacy-policy-Ttg {
      font-weight: 700;
      line-height: 2.2;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      left: 65.9rem;
      font-size: 1rem;
      position: absolute;
      top: 22.1133rem;
      letter-spacing: 0.01rem;
      white-space: nowrap;
      width: 18.5rem;
      height: 2.2rem;
    }
  }
}
