
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.5rem;
}.termspolicy-oQx {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;

  .auto-group-xbeu-8CL {
    flex-shrink: 0;
    width: 100%;
    height: 4.9rem;
    position: relative;

    .item--fi4 {
      width: 153.5rem;
      height: 3.5rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #777777;
      box-sizing: border-box;
      padding: 1rem 69.15rem 0.3rem 69.15rem;

      .frame-427319517-NsN {
        height: 100%;
        display: flex;
        align-items: center;
        width: 100%;

        .group-2-8be {
          width: 2.2rem;
          height: 1.6422rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1rem 0rem 0rem;
        }
        .made-for-india-3yW {
          font-weight: 400;
          line-height: 1.375;
          color: #ffffff;
          font-family: Merriweather, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
        }
      }
    }
    .item--NVz {
      width: 4rem;
      height: 3.9rem;
      position: absolute;
      left: 137.2rem;
      top: 1rem;
      overflow: hidden;
    }
  }
  .auto-group-u8ag-6wn {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.3rem 2.9rem 6.4rem 2.9rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .auto-group-dr8p-psn {
      margin: 0rem 14.8rem 2rem 0rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .scrap3-removebg-preview-68-mHE {
        margin: 0rem 0.003rem 1.8rem 0rem;
        width: 4.7467rem;
        height: 4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .scrap-symphony-sanctuary-sLG {
        white-space: nowrap;
        margin: 0rem 96.85rem 0.9rem 0rem;
        justify-content: center;
        font-size: 1.4rem;
        line-height: 1.4825;
        letter-spacing: 0.028rem;
        color: #f7fbff;
        font-family: Oswald, 'Source Sans Pro';
        display: flex;
        align-items: center;
        font-weight: 700;
        flex-shrink: 0;
      }
      .item--AKN {
        margin-top: 3rem;
        display: flex;
        box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
        border-radius: 5rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.4rem 1.9rem 0.5rem 1.1rem;
        align-items: center;
        background-color: #f16713;

        .auto-group-nqil-tmA {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.1rem 1.1rem 0rem 0rem;
          width: 1.1rem;
          height: 1rem;
          object-fit: contain;
        }
        .back-to-home-1Kz {
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.3571428571;
          letter-spacing: 0.014rem;
          color: #fff7e9;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .auto-group-kgyr-Gmi {
      height: 45.5rem;
      display: flex;
      align-items: center;
      background-color: #ffffff;
      border-radius: 5rem;
      flex-shrink: 0;
      margin: 0rem 12.9rem 0rem 13rem;
      width: calc(100% - 25.9rem);

      .auto-group-8rg4-C9a {
        border-radius: 5rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 3.35rem 2.2rem 8.4rem 2.2rem;
        width: 31.1rem;
        height: 100%;
        border: solid 0.2rem #ffffff;
        background-color: rgba(255, 115, 29, 0.9599999785);

        .welcome-to-creative-scrapyard-upg {
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          max-width: 18.1rem;
          display: flex;
          align-items: center;
          font-size: 3.6625rem;
          font-weight: 400;
          line-height: 1.3618164036;
          margin-bottom: 7.05rem;
          width: 100%;
          justify-content: center;
          letter-spacing: 0.0366rem;

          .welcome-to-creative-scrapyard-upg-sub-0 {
            font-size: 3.2rem;
            font-weight: 400;
            line-height: 1.3625;
            letter-spacing: 0.0366rem;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
          }
          .welcome-to-creative-scrapyard-upg-sub-1 {
            font-style: italic;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 1.3625;
            letter-spacing: 0.0366rem;
          }
        }
        .auto-group-ggvz-DsJ {
          margin: 0rem 16.1rem 3.2rem 0rem;
          width: calc(100% - 16.1rem);
          display: flex;
          align-items: center;

          .layer1-jqe {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.1rem 1.3rem 0rem 0rem;
            width: 2.5rem;
            height: 2.4rem;
          }
          .profile-q7z {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.35;
            letter-spacing: 0.02rem;
            color: #f7fbff;
            font-family: Open Sans, 'Source Sans Pro';
          }
        }
        .auto-group-fqb6-98g {
          align-items: center;
          margin-bottom: 4.4rem;
          width: 100%;
          display: flex;

          .auto-group-viha-GUC {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.9rem;
            width: 2.9rem;
            height: 2.5rem;
          }
          .terms-privacy-policy-CMr {
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.35;
            letter-spacing: 0.02rem;
            color: #000000;
          }
        }
        .auto-group-rr6c-8FW {
          margin: 0rem 16rem 0rem 0.5rem;
          width: calc(100% - 16.5rem);
          display: flex;
          align-items: flex-end;

          .layer-24-Fb2 {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.7rem;
            width: 2.4rem;
            height: 2.4rem;
          }
          .logout-BUg {
            font-weight: 700;
            line-height: 1.35;
            letter-spacing: 0.02rem;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
          }
        }
      }
      .auto-group-mfjs-4oN {
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.1rem 2.5rem 1.5rem 1.2rem;
        height: 100%;
        display: flex;

        .auto-group-aepl-zS8 {
          flex-shrink: 0;
          margin: 0rem 0.3rem 0.2rem 0rem;
          align-items: center;
          display: flex;
          flex-direction: column;

          .terms-and-conditions-KjJ {
            align-items: center;
            letter-spacing: 0.032rem;
            color: #000000;
            font-family: Oswald, 'Source Sans Pro';
            font-weight: 600;
            line-height: 1.4825;
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 3.2rem 1.8rem 0rem;
            display: flex;
            justify-content: center;
            font-size: 1.6rem;
          }
          .user-agreement-by-accessing-scrap-symphony-sanctuary-you-agree-to-comply-with-the-outlined-terms-this-agreement-governs-the-relationship-between-users-sellers-and-artists-on-our-platform-listing-and-selling-sellers-must-accurately-describe-items-and-we-reserve-the-right-to-remove-inappropriate-listings-transaction-policies-transactions-are-solely-between-buyers-and-sellers-we-are-not-responsible-for-item-quality-condition-or-delivery-users-are-encouraged-to-resolve-issues-independently-upcycled-creations-artists-can-transform-items-into-unique-creations-but-offensive-content-resulting-from-upcycling-is-prohibited-payment-and-fees-users-agree-to-our-payment-and-fee-structure-fee-changes-will-be-notified-prohibited-items-illegal-or-hazardous-materials-are-prohibited-listings-violating-guidelines-will-be-removed-intellectual-property-users-must-respect-intellectual-property-rights-avoiding-infringement-account-termination-we-may-terminate-or-suspend-accounts-violating-terms-users-will-be-notified-of-violations-and-given-a-chance-to-rectifythesituation-E5a {
            max-width: 44.4rem;
            font-size: 1.1rem;
            font-weight: 400;
            line-height: 1.3625;
            letter-spacing: 0.011rem;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            flex-shrink: 0;

            .user-agreement-by-accessing-scrap-symphony-sanctuary-you-agree-to-comply-with-the-outlined-terms-this-agreement-governs-the-relationship-between-users-sellers-and-artists-on-our-platform-listing-and-selling-sellers-must-accurately-describe-items-and-we-reserve-the-right-to-remove-inappropriate-listings-transaction-policies-transactions-are-solely-between-buyers-and-sellers-we-are-not-responsible-for-item-quality-condition-or-delivery-users-are-encouraged-to-resolve-issues-independently-upcycled-creations-artists-can-transform-items-into-unique-creations-but-offensive-content-resulting-from-upcycling-is-prohibited-payment-and-fees-users-agree-to-our-payment-and-fee-structure-fee-changes-will-be-notified-prohibited-items-illegal-or-hazardous-materials-are-prohibited-listings-violating-guidelines-will-be-removed-intellectual-property-users-must-respect-intellectual-property-rights-avoiding-infringement-account-termination-we-may-terminate-or-suspend-accounts-violating-terms-users-will-be-notified-of-violations-and-given-a-chance-to-rectifythesituation-E5a-sub-0 {
              color: #000000;
              font-family: Open Sans, 'Source Sans Pro';
              font-size: 1.1rem;
              font-weight: 700;
              line-height: 1.3625;
              letter-spacing: 0.011rem;
            }
            .user-agreement-by-accessing-scrap-symphony-sanctuary-you-agree-to-comply-with-the-outlined-terms-this-agreement-governs-the-relationship-between-users-sellers-and-artists-on-our-platform-listing-and-selling-sellers-must-accurately-describe-items-and-we-reserve-the-right-to-remove-inappropriate-listings-transaction-policies-transactions-are-solely-between-buyers-and-sellers-we-are-not-responsible-for-item-quality-condition-or-delivery-users-are-encouraged-to-resolve-issues-independently-upcycled-creations-artists-can-transform-items-into-unique-creations-but-offensive-content-resulting-from-upcycling-is-prohibited-payment-and-fees-users-agree-to-our-payment-and-fee-structure-fee-changes-will-be-notified-prohibited-items-illegal-or-hazardous-materials-are-prohibited-listings-violating-guidelines-will-be-removed-intellectual-property-users-must-respect-intellectual-property-rights-avoiding-infringement-account-termination-we-may-terminate-or-suspend-accounts-violating-terms-users-will-be-notified-of-violations-and-given-a-chance-to-rectifythesituation-E5a-sub-1 {
            }
            .user-agreement-by-accessing-scrap-symphony-sanctuary-you-agree-to-comply-with-the-outlined-terms-this-agreement-governs-the-relationship-between-users-sellers-and-artists-on-our-platform-listing-and-selling-sellers-must-accurately-describe-items-and-we-reserve-the-right-to-remove-inappropriate-listings-transaction-policies-transactions-are-solely-between-buyers-and-sellers-we-are-not-responsible-for-item-quality-condition-or-delivery-users-are-encouraged-to-resolve-issues-independently-upcycled-creations-artists-can-transform-items-into-unique-creations-but-offensive-content-resulting-from-upcycling-is-prohibited-payment-and-fees-users-agree-to-our-payment-and-fee-structure-fee-changes-will-be-notified-prohibited-items-illegal-or-hazardous-materials-are-prohibited-listings-violating-guidelines-will-be-removed-intellectual-property-users-must-respect-intellectual-property-rights-avoiding-infringement-account-termination-we-may-terminate-or-suspend-accounts-violating-terms-users-will-be-notified-of-violations-and-given-a-chance-to-rectifythesituation-E5a-sub-2 {
              font-size: 1.1rem;
              font-weight: 700;
              line-height: 1.3625;
              letter-spacing: 0.011rem;
              color: #000000;
              font-family: Open Sans, 'Source Sans Pro';
            }
            .user-agreement-by-accessing-scrap-symphony-sanctuary-you-agree-to-comply-with-the-outlined-terms-this-agreement-governs-the-relationship-between-users-sellers-and-artists-on-our-platform-listing-and-selling-sellers-must-accurately-describe-items-and-we-reserve-the-right-to-remove-inappropriate-listings-transaction-policies-transactions-are-solely-between-buyers-and-sellers-we-are-not-responsible-for-item-quality-condition-or-delivery-users-are-encouraged-to-resolve-issues-independently-upcycled-creations-artists-can-transform-items-into-unique-creations-but-offensive-content-resulting-from-upcycling-is-prohibited-payment-and-fees-users-agree-to-our-payment-and-fee-structure-fee-changes-will-be-notified-prohibited-items-illegal-or-hazardous-materials-are-prohibited-listings-violating-guidelines-will-be-removed-intellectual-property-users-must-respect-intellectual-property-rights-avoiding-infringement-account-termination-we-may-terminate-or-suspend-accounts-violating-terms-users-will-be-notified-of-violations-and-given-a-chance-to-rectifythesituation-E5a-sub-3 {
            }
            .user-agreement-by-accessing-scrap-symphony-sanctuary-you-agree-to-comply-with-the-outlined-terms-this-agreement-governs-the-relationship-between-users-sellers-and-artists-on-our-platform-listing-and-selling-sellers-must-accurately-describe-items-and-we-reserve-the-right-to-remove-inappropriate-listings-transaction-policies-transactions-are-solely-between-buyers-and-sellers-we-are-not-responsible-for-item-quality-condition-or-delivery-users-are-encouraged-to-resolve-issues-independently-upcycled-creations-artists-can-transform-items-into-unique-creations-but-offensive-content-resulting-from-upcycling-is-prohibited-payment-and-fees-users-agree-to-our-payment-and-fee-structure-fee-changes-will-be-notified-prohibited-items-illegal-or-hazardous-materials-are-prohibited-listings-violating-guidelines-will-be-removed-intellectual-property-users-must-respect-intellectual-property-rights-avoiding-infringement-account-termination-we-may-terminate-or-suspend-accounts-violating-terms-users-will-be-notified-of-violations-and-given-a-chance-to-rectifythesituation-E5a-sub-4 {
              font-size: 1.1rem;
              font-weight: 700;
              line-height: 1.3625;
              letter-spacing: 0.011rem;
              color: #000000;
              font-family: Open Sans, 'Source Sans Pro';
            }
            .user-agreement-by-accessing-scrap-symphony-sanctuary-you-agree-to-comply-with-the-outlined-terms-this-agreement-governs-the-relationship-between-users-sellers-and-artists-on-our-platform-listing-and-selling-sellers-must-accurately-describe-items-and-we-reserve-the-right-to-remove-inappropriate-listings-transaction-policies-transactions-are-solely-between-buyers-and-sellers-we-are-not-responsible-for-item-quality-condition-or-delivery-users-are-encouraged-to-resolve-issues-independently-upcycled-creations-artists-can-transform-items-into-unique-creations-but-offensive-content-resulting-from-upcycling-is-prohibited-payment-and-fees-users-agree-to-our-payment-and-fee-structure-fee-changes-will-be-notified-prohibited-items-illegal-or-hazardous-materials-are-prohibited-listings-violating-guidelines-will-be-removed-intellectual-property-users-must-respect-intellectual-property-rights-avoiding-infringement-account-termination-we-may-terminate-or-suspend-accounts-violating-terms-users-will-be-notified-of-violations-and-given-a-chance-to-rectifythesituation-E5a-sub-5 {
            }
            .user-agreement-by-accessing-scrap-symphony-sanctuary-you-agree-to-comply-with-the-outlined-terms-this-agreement-governs-the-relationship-between-users-sellers-and-artists-on-our-platform-listing-and-selling-sellers-must-accurately-describe-items-and-we-reserve-the-right-to-remove-inappropriate-listings-transaction-policies-transactions-are-solely-between-buyers-and-sellers-we-are-not-responsible-for-item-quality-condition-or-delivery-users-are-encouraged-to-resolve-issues-independently-upcycled-creations-artists-can-transform-items-into-unique-creations-but-offensive-content-resulting-from-upcycling-is-prohibited-payment-and-fees-users-agree-to-our-payment-and-fee-structure-fee-changes-will-be-notified-prohibited-items-illegal-or-hazardous-materials-are-prohibited-listings-violating-guidelines-will-be-removed-intellectual-property-users-must-respect-intellectual-property-rights-avoiding-infringement-account-termination-we-may-terminate-or-suspend-accounts-violating-terms-users-will-be-notified-of-violations-and-given-a-chance-to-rectifythesituation-E5a-sub-6 {
              letter-spacing: 0.011rem;
              color: #000000;
              font-family: Open Sans, 'Source Sans Pro';
              font-size: 1.1rem;
              font-weight: 700;
              line-height: 1.3625;
            }
            .user-agreement-by-accessing-scrap-symphony-sanctuary-you-agree-to-comply-with-the-outlined-terms-this-agreement-governs-the-relationship-between-users-sellers-and-artists-on-our-platform-listing-and-selling-sellers-must-accurately-describe-items-and-we-reserve-the-right-to-remove-inappropriate-listings-transaction-policies-transactions-are-solely-between-buyers-and-sellers-we-are-not-responsible-for-item-quality-condition-or-delivery-users-are-encouraged-to-resolve-issues-independently-upcycled-creations-artists-can-transform-items-into-unique-creations-but-offensive-content-resulting-from-upcycling-is-prohibited-payment-and-fees-users-agree-to-our-payment-and-fee-structure-fee-changes-will-be-notified-prohibited-items-illegal-or-hazardous-materials-are-prohibited-listings-violating-guidelines-will-be-removed-intellectual-property-users-must-respect-intellectual-property-rights-avoiding-infringement-account-termination-we-may-terminate-or-suspend-accounts-violating-terms-users-will-be-notified-of-violations-and-given-a-chance-to-rectifythesituation-E5a-sub-7 {
            }
            .user-agreement-by-accessing-scrap-symphony-sanctuary-you-agree-to-comply-with-the-outlined-terms-this-agreement-governs-the-relationship-between-users-sellers-and-artists-on-our-platform-listing-and-selling-sellers-must-accurately-describe-items-and-we-reserve-the-right-to-remove-inappropriate-listings-transaction-policies-transactions-are-solely-between-buyers-and-sellers-we-are-not-responsible-for-item-quality-condition-or-delivery-users-are-encouraged-to-resolve-issues-independently-upcycled-creations-artists-can-transform-items-into-unique-creations-but-offensive-content-resulting-from-upcycling-is-prohibited-payment-and-fees-users-agree-to-our-payment-and-fee-structure-fee-changes-will-be-notified-prohibited-items-illegal-or-hazardous-materials-are-prohibited-listings-violating-guidelines-will-be-removed-intellectual-property-users-must-respect-intellectual-property-rights-avoiding-infringement-account-termination-we-may-terminate-or-suspend-accounts-violating-terms-users-will-be-notified-of-violations-and-given-a-chance-to-rectifythesituation-E5a-sub-8 {
              color: #000000;
              font-family: Open Sans, 'Source Sans Pro';
              font-size: 1.1rem;
              font-weight: 700;
              line-height: 1.3625;
              letter-spacing: 0.011rem;
            }
            .user-agreement-by-accessing-scrap-symphony-sanctuary-you-agree-to-comply-with-the-outlined-terms-this-agreement-governs-the-relationship-between-users-sellers-and-artists-on-our-platform-listing-and-selling-sellers-must-accurately-describe-items-and-we-reserve-the-right-to-remove-inappropriate-listings-transaction-policies-transactions-are-solely-between-buyers-and-sellers-we-are-not-responsible-for-item-quality-condition-or-delivery-users-are-encouraged-to-resolve-issues-independently-upcycled-creations-artists-can-transform-items-into-unique-creations-but-offensive-content-resulting-from-upcycling-is-prohibited-payment-and-fees-users-agree-to-our-payment-and-fee-structure-fee-changes-will-be-notified-prohibited-items-illegal-or-hazardous-materials-are-prohibited-listings-violating-guidelines-will-be-removed-intellectual-property-users-must-respect-intellectual-property-rights-avoiding-infringement-account-termination-we-may-terminate-or-suspend-accounts-violating-terms-users-will-be-notified-of-violations-and-given-a-chance-to-rectifythesituation-E5a-sub-9 {
            }
            .user-agreement-by-accessing-scrap-symphony-sanctuary-you-agree-to-comply-with-the-outlined-terms-this-agreement-governs-the-relationship-between-users-sellers-and-artists-on-our-platform-listing-and-selling-sellers-must-accurately-describe-items-and-we-reserve-the-right-to-remove-inappropriate-listings-transaction-policies-transactions-are-solely-between-buyers-and-sellers-we-are-not-responsible-for-item-quality-condition-or-delivery-users-are-encouraged-to-resolve-issues-independently-upcycled-creations-artists-can-transform-items-into-unique-creations-but-offensive-content-resulting-from-upcycling-is-prohibited-payment-and-fees-users-agree-to-our-payment-and-fee-structure-fee-changes-will-be-notified-prohibited-items-illegal-or-hazardous-materials-are-prohibited-listings-violating-guidelines-will-be-removed-intellectual-property-users-must-respect-intellectual-property-rights-avoiding-infringement-account-termination-we-may-terminate-or-suspend-accounts-violating-terms-users-will-be-notified-of-violations-and-given-a-chance-to-rectifythesituation-E5a-sub-10 {
              font-size: 1.1rem;
              font-weight: 700;
              line-height: 1.3625;
              letter-spacing: 0.011rem;
              color: #000000;
              font-family: Open Sans, 'Source Sans Pro';
            }
            .user-agreement-by-accessing-scrap-symphony-sanctuary-you-agree-to-comply-with-the-outlined-terms-this-agreement-governs-the-relationship-between-users-sellers-and-artists-on-our-platform-listing-and-selling-sellers-must-accurately-describe-items-and-we-reserve-the-right-to-remove-inappropriate-listings-transaction-policies-transactions-are-solely-between-buyers-and-sellers-we-are-not-responsible-for-item-quality-condition-or-delivery-users-are-encouraged-to-resolve-issues-independently-upcycled-creations-artists-can-transform-items-into-unique-creations-but-offensive-content-resulting-from-upcycling-is-prohibited-payment-and-fees-users-agree-to-our-payment-and-fee-structure-fee-changes-will-be-notified-prohibited-items-illegal-or-hazardous-materials-are-prohibited-listings-violating-guidelines-will-be-removed-intellectual-property-users-must-respect-intellectual-property-rights-avoiding-infringement-account-termination-we-may-terminate-or-suspend-accounts-violating-terms-users-will-be-notified-of-violations-and-given-a-chance-to-rectifythesituation-E5a-sub-11 {
            }
            .user-agreement-by-accessing-scrap-symphony-sanctuary-you-agree-to-comply-with-the-outlined-terms-this-agreement-governs-the-relationship-between-users-sellers-and-artists-on-our-platform-listing-and-selling-sellers-must-accurately-describe-items-and-we-reserve-the-right-to-remove-inappropriate-listings-transaction-policies-transactions-are-solely-between-buyers-and-sellers-we-are-not-responsible-for-item-quality-condition-or-delivery-users-are-encouraged-to-resolve-issues-independently-upcycled-creations-artists-can-transform-items-into-unique-creations-but-offensive-content-resulting-from-upcycling-is-prohibited-payment-and-fees-users-agree-to-our-payment-and-fee-structure-fee-changes-will-be-notified-prohibited-items-illegal-or-hazardous-materials-are-prohibited-listings-violating-guidelines-will-be-removed-intellectual-property-users-must-respect-intellectual-property-rights-avoiding-infringement-account-termination-we-may-terminate-or-suspend-accounts-violating-terms-users-will-be-notified-of-violations-and-given-a-chance-to-rectifythesituation-E5a-sub-12 {
              font-size: 1.1rem;
              font-weight: 700;
              line-height: 1.3625;
              letter-spacing: 0.011rem;
              color: #000000;
              font-family: Open Sans, 'Source Sans Pro';
            }
            .user-agreement-by-accessing-scrap-symphony-sanctuary-you-agree-to-comply-with-the-outlined-terms-this-agreement-governs-the-relationship-between-users-sellers-and-artists-on-our-platform-listing-and-selling-sellers-must-accurately-describe-items-and-we-reserve-the-right-to-remove-inappropriate-listings-transaction-policies-transactions-are-solely-between-buyers-and-sellers-we-are-not-responsible-for-item-quality-condition-or-delivery-users-are-encouraged-to-resolve-issues-independently-upcycled-creations-artists-can-transform-items-into-unique-creations-but-offensive-content-resulting-from-upcycling-is-prohibited-payment-and-fees-users-agree-to-our-payment-and-fee-structure-fee-changes-will-be-notified-prohibited-items-illegal-or-hazardous-materials-are-prohibited-listings-violating-guidelines-will-be-removed-intellectual-property-users-must-respect-intellectual-property-rights-avoiding-infringement-account-termination-we-may-terminate-or-suspend-accounts-violating-terms-users-will-be-notified-of-violations-and-given-a-chance-to-rectifythesituation-E5a-sub-13 {
            }
            .user-agreement-by-accessing-scrap-symphony-sanctuary-you-agree-to-comply-with-the-outlined-terms-this-agreement-governs-the-relationship-between-users-sellers-and-artists-on-our-platform-listing-and-selling-sellers-must-accurately-describe-items-and-we-reserve-the-right-to-remove-inappropriate-listings-transaction-policies-transactions-are-solely-between-buyers-and-sellers-we-are-not-responsible-for-item-quality-condition-or-delivery-users-are-encouraged-to-resolve-issues-independently-upcycled-creations-artists-can-transform-items-into-unique-creations-but-offensive-content-resulting-from-upcycling-is-prohibited-payment-and-fees-users-agree-to-our-payment-and-fee-structure-fee-changes-will-be-notified-prohibited-items-illegal-or-hazardous-materials-are-prohibited-listings-violating-guidelines-will-be-removed-intellectual-property-users-must-respect-intellectual-property-rights-avoiding-infringement-account-termination-we-may-terminate-or-suspend-accounts-violating-terms-users-will-be-notified-of-violations-and-given-a-chance-to-rectifythesituation-E5a-sub-14 {
              line-height: 1.3625;
              letter-spacing: 0.011rem;
              color: #000000;
              font-family: Open Sans, 'Source Sans Pro';
              font-size: 1.1rem;
              font-weight: 700;
            }
            .user-agreement-by-accessing-scrap-symphony-sanctuary-you-agree-to-comply-with-the-outlined-terms-this-agreement-governs-the-relationship-between-users-sellers-and-artists-on-our-platform-listing-and-selling-sellers-must-accurately-describe-items-and-we-reserve-the-right-to-remove-inappropriate-listings-transaction-policies-transactions-are-solely-between-buyers-and-sellers-we-are-not-responsible-for-item-quality-condition-or-delivery-users-are-encouraged-to-resolve-issues-independently-upcycled-creations-artists-can-transform-items-into-unique-creations-but-offensive-content-resulting-from-upcycling-is-prohibited-payment-and-fees-users-agree-to-our-payment-and-fee-structure-fee-changes-will-be-notified-prohibited-items-illegal-or-hazardous-materials-are-prohibited-listings-violating-guidelines-will-be-removed-intellectual-property-users-must-respect-intellectual-property-rights-avoiding-infringement-account-termination-we-may-terminate-or-suspend-accounts-violating-terms-users-will-be-notified-of-violations-and-given-a-chance-to-rectifythesituation-E5a-sub-15 {
            }
          }
        }
        .line-143-x2p {
          margin: 1.9rem 1.7rem 0rem 0rem;
          width: 0.1rem;
          height: 40rem;
          background-color: #000000;
          flex-shrink: 0;
        }
        .auto-group-ny4l-H56 {
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 4.7rem;
          align-items: center;
          display: flex;

          .privacy-policy-RSC {
            font-size: 1.6rem;
            color: #000000;
            flex-shrink: 0;
            justify-content: center;
            font-weight: 600;
            line-height: 1.4825;
            letter-spacing: 0.032rem;
            font-family: Oswald, 'Source Sans Pro';
            margin: 0rem 1.2rem 1.8rem 0rem;
            display: flex;
            align-items: center;
            white-space: nowrap;
          }
          .data-collection-scrap-symphony-sanctuary-collects-user-information-for-account-creation-and-transactions-including-personal-details-payment-info-and-browsing-behavior-data-usage-user-data-is-used-for-transactions-improving-user-experience-and-platform-updates-personal-information-isnt-shared-without-user-consent-cookies-we-use-cookies-to-enhance-user-experience-and-analyze-traffic-users-can-manage-preferences-in-browser-settings-security-industry-standard-security-measures-protect-user-data-but-users-are-responsible-for-login-confidentiality-communication-users-may-receive-transactional-and-promotional-emails-with-opt-out-options-for-promotions-policy-updates-privacy-policy-updates-will-be-notified-and-continued-use-implies-acceptance-of-revised-policies-by-using-scrap-symphony-sanctuary-users-acknowledge-and-agree-to-the-outlined-terms-conditions-andprivacypolicy-L3N {
            flex-shrink: 0;
            max-width: 40.5rem;
            font-weight: 400;
            letter-spacing: 0.022rem;
            color: #000000;
            display: flex;
            font-size: 1.1rem;
            line-height: 1.3625;
            font-family: Open Sans, 'Source Sans Pro';

            .data-collection-scrap-symphony-sanctuary-collects-user-information-for-account-creation-and-transactions-including-personal-details-payment-info-and-browsing-behavior-data-usage-user-data-is-used-for-transactions-improving-user-experience-and-platform-updates-personal-information-isnt-shared-without-user-consent-cookies-we-use-cookies-to-enhance-user-experience-and-analyze-traffic-users-can-manage-preferences-in-browser-settings-security-industry-standard-security-measures-protect-user-data-but-users-are-responsible-for-login-confidentiality-communication-users-may-receive-transactional-and-promotional-emails-with-opt-out-options-for-promotions-policy-updates-privacy-policy-updates-will-be-notified-and-continued-use-implies-acceptance-of-revised-policies-by-using-scrap-symphony-sanctuary-users-acknowledge-and-agree-to-the-outlined-terms-conditions-andprivacypolicy-L3N-sub-0 {
              font-size: 1.1rem;
              font-weight: 700;
              line-height: 1.3625;
              letter-spacing: 0.022rem;
              color: #000000;
              font-family: Open Sans, 'Source Sans Pro';
            }
            .data-collection-scrap-symphony-sanctuary-collects-user-information-for-account-creation-and-transactions-including-personal-details-payment-info-and-browsing-behavior-data-usage-user-data-is-used-for-transactions-improving-user-experience-and-platform-updates-personal-information-isnt-shared-without-user-consent-cookies-we-use-cookies-to-enhance-user-experience-and-analyze-traffic-users-can-manage-preferences-in-browser-settings-security-industry-standard-security-measures-protect-user-data-but-users-are-responsible-for-login-confidentiality-communication-users-may-receive-transactional-and-promotional-emails-with-opt-out-options-for-promotions-policy-updates-privacy-policy-updates-will-be-notified-and-continued-use-implies-acceptance-of-revised-policies-by-using-scrap-symphony-sanctuary-users-acknowledge-and-agree-to-the-outlined-terms-conditions-andprivacypolicy-L3N-sub-1 {
            }
            .data-collection-scrap-symphony-sanctuary-collects-user-information-for-account-creation-and-transactions-including-personal-details-payment-info-and-browsing-behavior-data-usage-user-data-is-used-for-transactions-improving-user-experience-and-platform-updates-personal-information-isnt-shared-without-user-consent-cookies-we-use-cookies-to-enhance-user-experience-and-analyze-traffic-users-can-manage-preferences-in-browser-settings-security-industry-standard-security-measures-protect-user-data-but-users-are-responsible-for-login-confidentiality-communication-users-may-receive-transactional-and-promotional-emails-with-opt-out-options-for-promotions-policy-updates-privacy-policy-updates-will-be-notified-and-continued-use-implies-acceptance-of-revised-policies-by-using-scrap-symphony-sanctuary-users-acknowledge-and-agree-to-the-outlined-terms-conditions-andprivacypolicy-L3N-sub-2 {
              font-family: Open Sans, 'Source Sans Pro';
              font-size: 1.1rem;
              font-weight: 700;
              line-height: 1.3625;
              letter-spacing: 0.022rem;
              color: #000000;
            }
            .data-collection-scrap-symphony-sanctuary-collects-user-information-for-account-creation-and-transactions-including-personal-details-payment-info-and-browsing-behavior-data-usage-user-data-is-used-for-transactions-improving-user-experience-and-platform-updates-personal-information-isnt-shared-without-user-consent-cookies-we-use-cookies-to-enhance-user-experience-and-analyze-traffic-users-can-manage-preferences-in-browser-settings-security-industry-standard-security-measures-protect-user-data-but-users-are-responsible-for-login-confidentiality-communication-users-may-receive-transactional-and-promotional-emails-with-opt-out-options-for-promotions-policy-updates-privacy-policy-updates-will-be-notified-and-continued-use-implies-acceptance-of-revised-policies-by-using-scrap-symphony-sanctuary-users-acknowledge-and-agree-to-the-outlined-terms-conditions-andprivacypolicy-L3N-sub-3 {
            }
            .data-collection-scrap-symphony-sanctuary-collects-user-information-for-account-creation-and-transactions-including-personal-details-payment-info-and-browsing-behavior-data-usage-user-data-is-used-for-transactions-improving-user-experience-and-platform-updates-personal-information-isnt-shared-without-user-consent-cookies-we-use-cookies-to-enhance-user-experience-and-analyze-traffic-users-can-manage-preferences-in-browser-settings-security-industry-standard-security-measures-protect-user-data-but-users-are-responsible-for-login-confidentiality-communication-users-may-receive-transactional-and-promotional-emails-with-opt-out-options-for-promotions-policy-updates-privacy-policy-updates-will-be-notified-and-continued-use-implies-acceptance-of-revised-policies-by-using-scrap-symphony-sanctuary-users-acknowledge-and-agree-to-the-outlined-terms-conditions-andprivacypolicy-L3N-sub-4 {
              font-size: 1.1rem;
              font-weight: 700;
              line-height: 1.3625;
              letter-spacing: 0.022rem;
              color: #000000;
              font-family: Open Sans, 'Source Sans Pro';
            }
            .data-collection-scrap-symphony-sanctuary-collects-user-information-for-account-creation-and-transactions-including-personal-details-payment-info-and-browsing-behavior-data-usage-user-data-is-used-for-transactions-improving-user-experience-and-platform-updates-personal-information-isnt-shared-without-user-consent-cookies-we-use-cookies-to-enhance-user-experience-and-analyze-traffic-users-can-manage-preferences-in-browser-settings-security-industry-standard-security-measures-protect-user-data-but-users-are-responsible-for-login-confidentiality-communication-users-may-receive-transactional-and-promotional-emails-with-opt-out-options-for-promotions-policy-updates-privacy-policy-updates-will-be-notified-and-continued-use-implies-acceptance-of-revised-policies-by-using-scrap-symphony-sanctuary-users-acknowledge-and-agree-to-the-outlined-terms-conditions-andprivacypolicy-L3N-sub-5 {
            }
            .data-collection-scrap-symphony-sanctuary-collects-user-information-for-account-creation-and-transactions-including-personal-details-payment-info-and-browsing-behavior-data-usage-user-data-is-used-for-transactions-improving-user-experience-and-platform-updates-personal-information-isnt-shared-without-user-consent-cookies-we-use-cookies-to-enhance-user-experience-and-analyze-traffic-users-can-manage-preferences-in-browser-settings-security-industry-standard-security-measures-protect-user-data-but-users-are-responsible-for-login-confidentiality-communication-users-may-receive-transactional-and-promotional-emails-with-opt-out-options-for-promotions-policy-updates-privacy-policy-updates-will-be-notified-and-continued-use-implies-acceptance-of-revised-policies-by-using-scrap-symphony-sanctuary-users-acknowledge-and-agree-to-the-outlined-terms-conditions-andprivacypolicy-L3N-sub-6 {
              font-size: 1.1rem;
              font-weight: 700;
              line-height: 1.3625;
              letter-spacing: 0.022rem;
              color: #000000;
              font-family: Open Sans, 'Source Sans Pro';
            }
            .data-collection-scrap-symphony-sanctuary-collects-user-information-for-account-creation-and-transactions-including-personal-details-payment-info-and-browsing-behavior-data-usage-user-data-is-used-for-transactions-improving-user-experience-and-platform-updates-personal-information-isnt-shared-without-user-consent-cookies-we-use-cookies-to-enhance-user-experience-and-analyze-traffic-users-can-manage-preferences-in-browser-settings-security-industry-standard-security-measures-protect-user-data-but-users-are-responsible-for-login-confidentiality-communication-users-may-receive-transactional-and-promotional-emails-with-opt-out-options-for-promotions-policy-updates-privacy-policy-updates-will-be-notified-and-continued-use-implies-acceptance-of-revised-policies-by-using-scrap-symphony-sanctuary-users-acknowledge-and-agree-to-the-outlined-terms-conditions-andprivacypolicy-L3N-sub-7 {
            }
            .data-collection-scrap-symphony-sanctuary-collects-user-information-for-account-creation-and-transactions-including-personal-details-payment-info-and-browsing-behavior-data-usage-user-data-is-used-for-transactions-improving-user-experience-and-platform-updates-personal-information-isnt-shared-without-user-consent-cookies-we-use-cookies-to-enhance-user-experience-and-analyze-traffic-users-can-manage-preferences-in-browser-settings-security-industry-standard-security-measures-protect-user-data-but-users-are-responsible-for-login-confidentiality-communication-users-may-receive-transactional-and-promotional-emails-with-opt-out-options-for-promotions-policy-updates-privacy-policy-updates-will-be-notified-and-continued-use-implies-acceptance-of-revised-policies-by-using-scrap-symphony-sanctuary-users-acknowledge-and-agree-to-the-outlined-terms-conditions-andprivacypolicy-L3N-sub-8 {
              font-size: 1.1rem;
              font-weight: 700;
              line-height: 1.3625;
              letter-spacing: 0.022rem;
              color: #000000;
              font-family: Open Sans, 'Source Sans Pro';
            }
            .data-collection-scrap-symphony-sanctuary-collects-user-information-for-account-creation-and-transactions-including-personal-details-payment-info-and-browsing-behavior-data-usage-user-data-is-used-for-transactions-improving-user-experience-and-platform-updates-personal-information-isnt-shared-without-user-consent-cookies-we-use-cookies-to-enhance-user-experience-and-analyze-traffic-users-can-manage-preferences-in-browser-settings-security-industry-standard-security-measures-protect-user-data-but-users-are-responsible-for-login-confidentiality-communication-users-may-receive-transactional-and-promotional-emails-with-opt-out-options-for-promotions-policy-updates-privacy-policy-updates-will-be-notified-and-continued-use-implies-acceptance-of-revised-policies-by-using-scrap-symphony-sanctuary-users-acknowledge-and-agree-to-the-outlined-terms-conditions-andprivacypolicy-L3N-sub-9 {
            }
            .data-collection-scrap-symphony-sanctuary-collects-user-information-for-account-creation-and-transactions-including-personal-details-payment-info-and-browsing-behavior-data-usage-user-data-is-used-for-transactions-improving-user-experience-and-platform-updates-personal-information-isnt-shared-without-user-consent-cookies-we-use-cookies-to-enhance-user-experience-and-analyze-traffic-users-can-manage-preferences-in-browser-settings-security-industry-standard-security-measures-protect-user-data-but-users-are-responsible-for-login-confidentiality-communication-users-may-receive-transactional-and-promotional-emails-with-opt-out-options-for-promotions-policy-updates-privacy-policy-updates-will-be-notified-and-continued-use-implies-acceptance-of-revised-policies-by-using-scrap-symphony-sanctuary-users-acknowledge-and-agree-to-the-outlined-terms-conditions-andprivacypolicy-L3N-sub-10 {
              font-family: Open Sans, 'Source Sans Pro';
              font-size: 1.1rem;
              font-weight: 700;
              line-height: 1.3625;
              letter-spacing: 0.022rem;
              color: #000000;
            }
            .data-collection-scrap-symphony-sanctuary-collects-user-information-for-account-creation-and-transactions-including-personal-details-payment-info-and-browsing-behavior-data-usage-user-data-is-used-for-transactions-improving-user-experience-and-platform-updates-personal-information-isnt-shared-without-user-consent-cookies-we-use-cookies-to-enhance-user-experience-and-analyze-traffic-users-can-manage-preferences-in-browser-settings-security-industry-standard-security-measures-protect-user-data-but-users-are-responsible-for-login-confidentiality-communication-users-may-receive-transactional-and-promotional-emails-with-opt-out-options-for-promotions-policy-updates-privacy-policy-updates-will-be-notified-and-continued-use-implies-acceptance-of-revised-policies-by-using-scrap-symphony-sanctuary-users-acknowledge-and-agree-to-the-outlined-terms-conditions-andprivacypolicy-L3N-sub-11 {
            }
          }
        }
      }
    }
  }
  .auto-group-qusc-P7S {
    background-color: #5b5b5b;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0.4rem 12rem 0rem 14.1rem;
    width: 100%;
    height: 5.7094rem;
    display: flex;
    align-items: center;

    .item--6nY {
      box-sizing: border-box;
      padding-right: 19.3667rem;
      height: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin-right: 21.9333rem;

      .mask-group-dnU {
        margin-right: 4.5rem;
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .mask-group-aSp {
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 3rem;
        height: 3rem;
      }
    }
    .terms-condition-privacy-policy-vma {
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 29.7rem 2.109rem 0rem;
      font-size: 1rem;
      font-weight: 700;
      line-height: 2.2;
      letter-spacing: 0.01rem;
      white-space: nowrap;
    }
    .scrap-symphony-sanctuary-all-rights-reserved-RCY {
      margin-bottom: 2.1094rem;
      letter-spacing: 0.01rem;
      line-height: 2.2;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1rem;
      font-weight: 700;
    }
  }
}
