
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.5rem;
}.creative-all-Ho2 {
  width: 100%;
  height: 211.4rem;
  position: relative;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/black1-66-bg-fQY.png');
  background-color: #ffffff;
}
.creative-all-Ho2 .item--pHA {
  box-sizing: border-box;
  padding: 1rem 69.15rem;
  width: 153.5rem;
  height: 4.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #777777;
}
.creative-all-Ho2 .item--pHA .frame-427319517-qxx {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.creative-all-Ho2 .item--pHA .frame-427319517-qxx .group-2-PUg {
  margin: 0rem 1rem 0rem 0rem;
  width: 2.2rem;
  height: 1.6422rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-all-Ho2 .item--pHA .frame-427319517-qxx .made-for-india-W3W {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #ffffff;
  font-family: Merriweather, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-nap4-1kx {
  width: 146.0029rem;
  height: 5rem;
  position: absolute;
  left: 3rem;
  top: 8.1rem;
  display: flex;
  align-items: center;
}
.creative-all-Ho2 .auto-group-nap4-1kx .scrap3-removebg-preview-59-vd2 {
  margin: 0rem 0.003rem 1rem 0rem;
  width: 4.7467rem;
  height: 4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-nap4-1kx .scrap-symphony-sanctuary-S5a {
  margin: 0rem 13.35rem 0.5rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4825;
  letter-spacing: 0.028rem;
  color: #f7fbff;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-nap4-1kx .home-scrap-section-creative-section-about-us-contact-us-7xQ {
  margin: 0.3rem 5.2rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.016rem;
  color: #f6fbff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-nap4-1kx .auto-group-ksat-CU4 {
  margin: 1.1rem 1.313rem 0.8rem 0rem;
  box-sizing: border-box;
  padding: 0.3rem 27.9rem 0.3rem 0.8rem;
  height: calc(100% - 1.9rem);
  display: flex;
  align-items: center;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
  background-color: #f6fbff;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-nap4-1kx .auto-group-ksat-CU4 .group-187-6ZS {
  margin: 0rem 1.101rem 0.001rem 0rem;
  width: 1.9987rem;
  height: 2.0991rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-nap4-1kx .auto-group-ksat-CU4 .search-DPA {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  letter-spacing: 0.018rem;
  color: #555555;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-nap4-1kx .vector-J9i {
  margin: 1.1rem 2.019rem 0rem 0rem;
  width: 3.9974rem;
  height: 3.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-nap4-1kx .item--QTe {
  margin: 1.062rem 1.873rem 0rem 0rem;
  width: 3.7029rem;
  height: 3.0931rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-nap4-1kx .layer1-vwn {
  margin-top: 1.1rem;
  width: 3.9974rem;
  height: 3.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-kjmz-sME {
  box-sizing: border-box;
  padding: 3.8rem 5rem 3.8rem 4.3rem;
  width: 153.5rem;
  height: 36.3rem;
  position: absolute;
  left: 0;
  top: 20.4rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.creative-all-Ho2 .auto-group-kjmz-sME .screenshot-2024-01-22-131642-11-AbE {
  margin-right: 13.9rem;
  width: 55.6rem;
  height: 28.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-kjmz-sME .auto-group-1yay-t1S {
  margin-bottom: 7.3rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-kjmz-sME .auto-group-1yay-t1S .why-recycling-is-important--DJc {
  margin: 0rem 0rem 2.3rem 0.2rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.3333333333;
  letter-spacing: 0.024rem;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-kjmz-sME .auto-group-1yay-t1S .recycling-is-crucial-for-conserving-natural-resources-and-reducing-environmental-impact-it-minimizes-the-need-for-raw-material-extraction-lowers-energy-consumption-in-manufacturing-and-decreases-the-volume-of-waste-in-landfills-by-recycling-we-contribute-to-sustainability-reduce-pollution-and-promote-a-circular-economy-WHi {
  max-width: 74.7rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.25;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-cg6y-h7J {
  width: 153.5rem;
  height: 6.3rem;
  position: absolute;
  left: 0;
  top: 69.9rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.3333333333;
  letter-spacing: 0.024rem;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.creative-all-Ho2 .auto-group-r4k6-NDS {
  box-sizing: border-box;
  padding: 7.3rem 14.3rem 11.3rem 13.8rem;
  width: 153.5rem;
  height: 110.2rem;
  position: absolute;
  left: 0;
  top: 76.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp {
  margin-bottom: 13.2rem;
  width: 100%;
  height: 39.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-lrsn-11W {
  margin-right: 17.9rem;
  box-sizing: border-box;
  padding: 6.4rem 1.3rem 2.7rem 1.1rem;
  width: 30.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-lrsn-11W .auto-group-ljuu-iAp {
  margin-bottom: 3.4rem;
  width: 100%;
  height: 20rem;
  position: relative;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-lrsn-11W .auto-group-ljuu-iAp .vector-eqA {
  width: 1.599rem;
  height: 1.1139rem;
  position: absolute;
  left: 16.3797rem;
  top: 3.7461rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-lrsn-11W .auto-group-ljuu-iAp .cerative-tyer-2-2-ycY {
  width: 27.7rem;
  height: 20rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-lrsn-11W .tirebloom-planter-546-7Cx {
  margin: 0rem 1.5rem 1.9rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-lrsn-11W .tirebloom-planter-546-7Cx .tirebloom-planter-546-7Cx-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-lrsn-11W .tirebloom-planter-546-7Cx .tirebloom-planter-546-7Cx-sub-1 {
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-lrsn-11W .tirebloom-planter-546-7Cx .tirebloom-planter-546-7Cx-sub-2 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-lrsn-11W .auto-group-jt6u-Xvt {
  margin: 0rem 1.5rem 0rem 1.1rem;
  width: calc(100% - 2.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-lrsn-11W .auto-group-jt6u-Xvt .auto-group-ryqw-TZe {
  margin: 0.1rem 2.7rem 0rem 0rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-lrsn-11W .auto-group-jt6u-Xvt .auto-group-ryqw-TZe .rectangle-888-nbv {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-lrsn-11W .auto-group-jt6u-Xvt .auto-group-ryqw-TZe .add-to-cart-KLx {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-lrsn-11W .auto-group-jt6u-Xvt .auto-group-ryqw-TZe .item--dcY {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 0.768rem;
  top: 0.968rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-lrsn-11W .auto-group-jt6u-Xvt .auto-group-u8iq-MoS {
  margin-bottom: 0.1rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-lrsn-11W .auto-group-jt6u-Xvt .auto-group-u8iq-MoS .rectangle-887-JTn {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-lrsn-11W .auto-group-jt6u-Xvt .auto-group-u8iq-MoS .wishlist-qyW {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.9rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-iljg-iGc {
  margin-right: 17.2rem;
  box-sizing: border-box;
  padding: 4.1rem 2.3rem 2.7rem 2.7rem;
  width: 30.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-iljg-iGc .auto-group-7nra-zzp {
  margin: 0rem 1.3rem 2.9rem 0rem;
  width: 23.2rem;
  height: 22.8rem;
  position: relative;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-iljg-iGc .auto-group-7nra-zzp .vector-WyA {
  width: 1.599rem;
  height: 1.1139rem;
  position: absolute;
  left: 14.9484rem;
  top: 6.0461rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-iljg-iGc .auto-group-7nra-zzp .swing-2-rXE {
  width: 23.2rem;
  height: 22.8rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-iljg-iGc .sacred-swing-478-nvg {
  margin: 0rem 0.8rem 1.9rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-iljg-iGc .sacred-swing-478-nvg .sacred-swing-478-nvg-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-iljg-iGc .sacred-swing-478-nvg .sacred-swing-478-nvg-sub-1 {
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-iljg-iGc .sacred-swing-478-nvg .sacred-swing-478-nvg-sub-2 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-iljg-iGc .auto-group-iwju-Uh2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-iljg-iGc .auto-group-iwju-Uh2 .auto-group-w59n-S84 {
  margin: 0.1rem 2.7rem 0rem 0rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-iljg-iGc .auto-group-iwju-Uh2 .auto-group-w59n-S84 .rectangle-890-mRE {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-iljg-iGc .auto-group-iwju-Uh2 .auto-group-w59n-S84 .add-to-cart-i5a {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-iljg-iGc .auto-group-iwju-Uh2 .auto-group-w59n-S84 .item--p8c {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 0.768rem;
  top: 0.968rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-iljg-iGc .auto-group-iwju-Uh2 .auto-group-c1ze-9At {
  margin-bottom: 0.1rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-iljg-iGc .auto-group-iwju-Uh2 .auto-group-c1ze-9At .rectangle-889-GmJ {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-iljg-iGc .auto-group-iwju-Uh2 .auto-group-c1ze-9At .wishlist-DRe {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.9rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-psus-VPA {
  box-sizing: border-box;
  padding: 5.9rem 1.9rem 2.7rem 2rem;
  width: 30.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-psus-VPA .auto-group-sw8c-1MW {
  margin-bottom: 3.9rem;
  width: 100%;
  height: 20rem;
  position: relative;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-psus-VPA .auto-group-sw8c-1MW .vector-kK6 {
  width: 1.599rem;
  height: 1.1139rem;
  position: absolute;
  left: 15.4172rem;
  top: 4.2461rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-psus-VPA .auto-group-sw8c-1MW .wood-creativ-2-TjJ {
  width: 26.2rem;
  height: 20rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-psus-VPA .wall-hanging-572-Psr {
  margin: 0rem 0.5rem 1.9rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-psus-VPA .wall-hanging-572-Psr .wall-hanging-572-Psr-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-psus-VPA .wall-hanging-572-Psr .wall-hanging-572-Psr-sub-1 {
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-psus-VPA .wall-hanging-572-Psr .wall-hanging-572-Psr-sub-2 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-psus-VPA .auto-group-qekc-WLC {
  margin: 0rem 0.9rem 0rem 0.2rem;
  width: calc(100% - 1.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-psus-VPA .auto-group-qekc-WLC .auto-group-maix-EX6 {
  margin: 0.1rem 2.7rem 0rem 0rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-psus-VPA .auto-group-qekc-WLC .auto-group-maix-EX6 .rectangle-892-xCC {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-psus-VPA .auto-group-qekc-WLC .auto-group-maix-EX6 .add-to-cart-gtt {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-psus-VPA .auto-group-qekc-WLC .auto-group-maix-EX6 .item--1AU {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 0.768rem;
  top: 0.968rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-psus-VPA .auto-group-qekc-WLC .auto-group-6ieg-jcG {
  margin-bottom: 0.1rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-psus-VPA .auto-group-qekc-WLC .auto-group-6ieg-jcG .rectangle-891-HNt {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-ess2-GJp .auto-group-psus-VPA .auto-group-qekc-WLC .auto-group-6ieg-jcG .wishlist-q9W {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.9rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L {
  width: 100%;
  height: 39.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-5geg-s6C {
  margin-right: 17.6rem;
  box-sizing: border-box;
  padding: 8.6rem 2.1rem 2.7rem 1.5rem;
  width: 30.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-5geg-s6C .c6-2-mBa {
  margin-bottom: 5.7rem;
  width: 26.5rem;
  height: 15.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-5geg-s6C .recircle-pin-holder-114-k3W {
  margin: 0rem 0.7rem 1.6rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-5geg-s6C .recircle-pin-holder-114-k3W .recircle-pin-holder-114-k3W-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-5geg-s6C .recircle-pin-holder-114-k3W .recircle-pin-holder-114-k3W-sub-1 {
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-5geg-s6C .recircle-pin-holder-114-k3W .recircle-pin-holder-114-k3W-sub-2 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-5geg-s6C .auto-group-c77i-29S {
  margin: 0 0.7rem;
  width: calc(100% - 1.4rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-5geg-s6C .auto-group-c77i-29S .auto-group-g2eg-MhW {
  margin: 0.1rem 2.7rem 0rem 0rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-5geg-s6C .auto-group-c77i-29S .auto-group-g2eg-MhW .rectangle-894-gUt {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-5geg-s6C .auto-group-c77i-29S .auto-group-g2eg-MhW .add-to-cart-22x {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-5geg-s6C .auto-group-c77i-29S .auto-group-g2eg-MhW .item--L3e {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 0.768rem;
  top: 0.968rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-5geg-s6C .auto-group-c77i-29S .auto-group-pytv-TPA {
  margin-bottom: 0.1rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-5geg-s6C .auto-group-c77i-29S .auto-group-pytv-TPA .rectangle-893-aya {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-5geg-s6C .auto-group-c77i-29S .auto-group-pytv-TPA .vector-vXe {
  width: 1.599rem;
  height: 1.1139rem;
  position: absolute;
  left: 0.8797rem;
  top: 1.2rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-5geg-s6C .auto-group-c77i-29S .auto-group-pytv-TPA .wishlist-4Nx {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.9rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-obac-whe {
  margin-right: 17.5rem;
  box-sizing: border-box;
  padding: 7.1rem 1.5rem 2.7rem 1.6rem;
  width: 30.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-obac-whe .creative-tyres-3-3kg {
  margin-bottom: 4.2rem;
  width: 27rem;
  height: 18.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-obac-whe .tiretrove-seating-895-aVi {
  margin: 0rem 0.5rem 1.6rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-obac-whe .tiretrove-seating-895-aVi .tiretrove-seating-895-aVi-sub-0 {
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-obac-whe .tiretrove-seating-895-aVi .tiretrove-seating-895-aVi-sub-1 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-obac-whe .auto-group-4f4g-koW {
  margin: 0rem 1.3rem 0rem 0.6rem;
  width: calc(100% - 1.9rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-obac-whe .auto-group-4f4g-koW .auto-group-jza4-gSG {
  margin: 0.1rem 2.7rem 0rem 0rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-obac-whe .auto-group-4f4g-koW .auto-group-jza4-gSG .rectangle-896-cap {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-obac-whe .auto-group-4f4g-koW .auto-group-jza4-gSG .add-to-cart-ZFA {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-obac-whe .auto-group-4f4g-koW .auto-group-jza4-gSG .item--GfN {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 0.768rem;
  top: 0.968rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-obac-whe .auto-group-4f4g-koW .auto-group-khbr-oQQ {
  margin-bottom: 0.1rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-obac-whe .auto-group-4f4g-koW .auto-group-khbr-oQQ .rectangle-895-k4k {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-obac-whe .auto-group-4f4g-koW .auto-group-khbr-oQQ .vector-gUC {
  width: 1.599rem;
  height: 1.1139rem;
  position: absolute;
  left: 0.8492rem;
  top: 1.1rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-obac-whe .auto-group-4f4g-koW .auto-group-khbr-oQQ .wishlist-DU8 {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.9rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-muwe-Hit {
  box-sizing: border-box;
  padding: 5.7rem 2.1rem 2.9rem 1.8rem;
  width: 30.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-muwe-Hit .creative-bottle-2-2-oBS {
  margin-bottom: 3.9rem;
  width: 26.2rem;
  height: 20.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-muwe-Hit .reimagined-lamp-129-w2k {
  margin: 0rem 0.3rem 1.7rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-muwe-Hit .reimagined-lamp-129-w2k .reimagined-lamp-129-w2k-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-muwe-Hit .reimagined-lamp-129-w2k .reimagined-lamp-129-w2k-sub-1 {
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-muwe-Hit .reimagined-lamp-129-w2k .reimagined-lamp-129-w2k-sub-2 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-muwe-Hit .auto-group-8bqe-FSk {
  margin: 0rem 0.6rem 0rem 0.5rem;
  width: calc(100% - 1.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-muwe-Hit .auto-group-8bqe-FSk .auto-group-iupk-nBn {
  margin: 0.1rem 2.7rem 0rem 0rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-muwe-Hit .auto-group-8bqe-FSk .auto-group-iupk-nBn .rectangle-898-Jfv {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-muwe-Hit .auto-group-8bqe-FSk .auto-group-iupk-nBn .add-to-cart-T32 {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-muwe-Hit .auto-group-8bqe-FSk .auto-group-iupk-nBn .item--N9z {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 0.768rem;
  top: 0.968rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-muwe-Hit .auto-group-8bqe-FSk .auto-group-cqqq-Uyi {
  margin-bottom: 0.1rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-muwe-Hit .auto-group-8bqe-FSk .auto-group-cqqq-Uyi .rectangle-897-Re4 {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-muwe-Hit .auto-group-8bqe-FSk .auto-group-cqqq-Uyi .vector-N3W {
  width: 1.599rem;
  height: 1.1139rem;
  position: absolute;
  left: 1.2172rem;
  top: 1.1rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-all-Ho2 .auto-group-r4k6-NDS .auto-group-uf5n-X2L .auto-group-muwe-Hit .auto-group-8bqe-FSk .auto-group-cqqq-Uyi .wishlist-gpt {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.9rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-all-Ho2 .footer-yJC {
  width: 153.5rem;
  height: 26.6094rem;
  position: absolute;
  left: 0;
  top: 186.4rem;
}
.creative-all-Ho2 .footer-yJC .rectangle-3-tvx {
  width: 153.5rem;
  height: 24.9998rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #222222;
}
.creative-all-Ho2 .footer-yJC .scrap-symphoy-sanctuary-aims-to-promote-innovation-in-the-digital-commerce-ecosystem-by-providing-a-platform-for-startups-and-entrepreneurs-to-develop-new-services-and-solutions-also-supports-digital-commerce-including-online-payments-e-commerce-and-financial-services-Rvt {
  width: 43.7rem;
  height: 8.8rem;
  position: absolute;
  left: 12.1922rem;
  top: 4.8992rem;
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
}
.creative-all-Ho2 .footer-yJC .frame-35-ckU {
  width: 14.4rem;
  height: 16.5rem;
  position: absolute;
  left: 117.7234rem;
  top: 1.993rem;
}
.creative-all-Ho2 .footer-yJC .frame-35-ckU .pages-YPE {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2.25;
  letter-spacing: 0.012rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-all-Ho2 .footer-yJC .frame-35-ckU .frame-39-qdE {
  width: 100%;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
}
.creative-all-Ho2 .footer-yJC .frame-35-ckU .frame-39-qdE .about-us-n2g {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-all-Ho2 .footer-yJC .frame-35-ckU .frame-39-qdE .return-policy-h9e {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-all-Ho2 .footer-yJC .frame-35-ckU .frame-39-qdE .contact-us-cXW {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-all-Ho2 .footer-yJC .frame-35-ckU .frame-39-qdE .refund-cancellation-policies-LTW {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-all-Ho2 .footer-yJC .social-media-rRr {
  width: 17.362rem;
  height: 3rem;
  position: absolute;
  left: 13.0039rem;
  top: 15.1109rem;
  display: flex;
  align-items: center;
}
.creative-all-Ho2 .footer-yJC .social-media-rRr .vector-ack {
  margin: 0rem 4.035rem 0rem 0rem;
  width: 2.9268rem;
  height: 2.9268rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-all-Ho2 .footer-yJC .social-media-rRr .vector-hhN {
  margin-right: 4.0344rem;
  width: 3.2195rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-all-Ho2 .footer-yJC .social-media-rRr .vector-qoa {
  margin-top: 0.0013rem;
  width: 3.1463rem;
  height: 2.6341rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-all-Ho2 .footer-yJC .rectangle-12-yet {
  width: 153.5rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 20.7rem;
  background-color: #555555;
}
.creative-all-Ho2 .footer-yJC .frame-40-Wui {
  box-sizing: border-box;
  padding-right: 19.3667rem;
  width: 29.8667rem;
  height: 5.3094rem;
  position: absolute;
  left: 14.0906rem;
  top: 21.3rem;
  display: flex;
  align-items: flex-start;
}
.creative-all-Ho2 .footer-yJC .frame-40-Wui .mask-group-EKv {
  margin-right: 4.5rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-all-Ho2 .footer-yJC .frame-40-Wui .mask-group-yHW {
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-all-Ho2 .footer-yJC .scrap-symphony-sanctuary-all-rights-reserved-vTe {
  width: 27.4rem;
  height: 2.2rem;
  position: absolute;
  left: 114.0258rem;
  top: 22.1133rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-all-Ho2 .footer-yJC .terms-condition-privacy-policy-bpg {
  width: 18.5rem;
  height: 2.2rem;
  position: absolute;
  left: 65.857rem;
  top: 22.1133rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-all-Ho2 .item--VfA {
  box-sizing: border-box;
  padding: 0.4rem 5.15rem;
  width: 26.8rem;
  height: 5rem;
  position: absolute;
  left: 63.8rem;
  top: 60.8rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3333333333;
  letter-spacing: 0.024rem;
  color: #fff7e9;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
  background-color: #f16713;
  border-radius: 5rem;
}
