
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.5rem;
}.creative-clothes-rzY {
  width: 100%;
  height: 152.3rem;
  position: relative;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/black1-66-bg-t1r.png');
  background-color: #ffffff;
}
.creative-clothes-rzY .item--NT6 {
  box-sizing: border-box;
  padding: 1rem 69.15rem;
  width: 153.5rem;
  height: 4.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #777777;
}
.creative-clothes-rzY .item--NT6 .frame-427319517-VGp {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.creative-clothes-rzY .item--NT6 .frame-427319517-VGp .group-2-dtp {
  margin: 0rem 1rem 0rem 0rem;
  width: 2.2rem;
  height: 1.6422rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-clothes-rzY .item--NT6 .frame-427319517-VGp .made-for-india-Ykt {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #ffffff;
  font-family: Merriweather, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-clothes-rzY .auto-group-kuaq-Tcx {
  width: 146.2029rem;
  height: 4.5832rem;
  position: absolute;
  left: 3rem;
  top: 8.1rem;
  display: flex;
  align-items: center;
}
.creative-clothes-rzY .auto-group-kuaq-Tcx .scrap3-removebg-preview-59-mtY {
  margin: 0rem 0.003rem 0.583rem 0rem;
  width: 4.7467rem;
  height: 4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-clothes-rzY .auto-group-kuaq-Tcx .scrap-symphony-sanctuary-58Y {
  margin: 0rem 13.35rem 0.083rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4825;
  letter-spacing: 0.028rem;
  color: #f7fbff;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-clothes-rzY .auto-group-kuaq-Tcx .home-scrap-section-creative-section-about-us-contact-us-ZJc {
  margin: 0.717rem 5.2rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.016rem;
  color: #f6fbff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-clothes-rzY .auto-group-kuaq-Tcx .auto-group-htsl-3Ug {
  margin: 1.1rem 1.713rem 0.383rem 0rem;
  box-sizing: border-box;
  padding: 0.3rem 27.9rem 0.3rem 0.838rem;
  height: calc(100% - 1.4832rem);
  display: flex;
  align-items: center;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
  background-color: #f6fbff;
  flex-shrink: 0;
}
.creative-clothes-rzY .auto-group-kuaq-Tcx .auto-group-htsl-3Ug .group-XPr {
  margin: 0.073rem 1.062rem 0rem 0rem;
  width: 2rem;
  height: 1.6rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-clothes-rzY .auto-group-kuaq-Tcx .auto-group-htsl-3Ug .search-ejN {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  letter-spacing: 0.018rem;
  color: #555555;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-clothes-rzY .auto-group-kuaq-Tcx .vector-8uS {
  margin: 0.688rem 1.62rem 0rem 0rem;
  width: 3.9974rem;
  height: 3.8949rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-clothes-rzY .auto-group-kuaq-Tcx .item--3Wc {
  margin: 0.679rem 2.073rem 0rem 0rem;
  width: 3.7029rem;
  height: 3.0931rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-clothes-rzY .auto-group-kuaq-Tcx .layer1-MnC {
  margin-top: 0.6883rem;
  width: 3.9974rem;
  height: 3.8949rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-clothes-rzY .auto-group-ayct-u32 {
  box-sizing: border-box;
  padding: 3.8rem 4.4rem 3.8rem 2.6rem;
  width: 153.6rem;
  height: 36.3rem;
  position: absolute;
  left: 0;
  top: 20.4rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.creative-clothes-rzY .auto-group-ayct-u32 .screenshot-2024-01-22-131642-11-oPJ {
  margin-right: 16.3rem;
  width: 55.6rem;
  height: 28.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-clothes-rzY .auto-group-ayct-u32 .auto-group-kpgc-K6k {
  margin-bottom: 7.4rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.creative-clothes-rzY .auto-group-ayct-u32 .auto-group-kpgc-K6k .why-recycling-is-important--TTr {
  margin-bottom: 2.4rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.3333333333;
  letter-spacing: 0.024rem;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-clothes-rzY .auto-group-ayct-u32 .auto-group-kpgc-K6k .recycling-is-crucial-for-conserving-natural-resources-and-reducing-environmental-impact-it-minimizes-the-need-for-raw-material-extraction-lowers-energy-consumption-in-manufacturing-and-decreases-the-volume-of-waste-in-landfills-by-recycling-we-contribute-to-sustainability-reduce-pollution-and-promote-a-circular-economy-mDe {
  max-width: 74.7rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.25;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  flex-shrink: 0;
}
.creative-clothes-rzY .auto-group-y8rz-Xc8 {
  width: 153.6rem;
  height: 6.3rem;
  position: absolute;
  left: 0;
  top: 69.9rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.3333333333;
  letter-spacing: 0.024rem;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.creative-clothes-rzY .auto-group-rme4-QA8 {
  width: 125.4rem;
  height: 39.2rem;
  position: absolute;
  left: 13.8rem;
  top: 83.5rem;
  display: flex;
  align-items: center;
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-tq7s-868 {
  margin-right: 17.9rem;
  box-sizing: border-box;
  padding: 3.8rem 2.8rem 2.6rem 2.2rem;
  width: 30.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-tq7s-868 .pot-1-EQ4 {
  margin: 0rem 0.1rem 2.6rem 0rem;
  width: 17rem;
  height: 23.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-tq7s-868 .fabricbloom-vase-417-ZBS {
  margin: 0rem 0rem 1.6rem 0.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-tq7s-868 .fabricbloom-vase-417-ZBS .fabricbloom-vase-417-ZBS-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-tq7s-868 .fabricbloom-vase-417-ZBS .fabricbloom-vase-417-ZBS-sub-1 {
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-tq7s-868 .fabricbloom-vase-417-ZBS .fabricbloom-vase-417-ZBS-sub-2 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-tq7s-868 .auto-group-9wtn-yPa {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-tq7s-868 .auto-group-9wtn-yPa .auto-group-9oxg-ic4 {
  margin: 0rem 2.7rem 0.1rem 0rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-tq7s-868 .auto-group-9wtn-yPa .auto-group-9oxg-ic4 .rectangle-888-2ck {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-tq7s-868 .auto-group-9wtn-yPa .auto-group-9oxg-ic4 .add-to-cart-xWQ {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-tq7s-868 .auto-group-9wtn-yPa .auto-group-9oxg-ic4 .item--4JY {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 0.768rem;
  top: 0.968rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-tq7s-868 .auto-group-9wtn-yPa .auto-group-iwz6-Na8 {
  margin-top: 0.1rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-tq7s-868 .auto-group-9wtn-yPa .auto-group-iwz6-Na8 .rectangle-887-ua4 {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.5rem;
  background-color: #000000;
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-tq7s-868 .auto-group-9wtn-yPa .auto-group-iwz6-Na8 .vector-rEQ {
  width: 1.3991rem;
  height: 1.2983rem;
  position: absolute;
  left: 1.1797rem;
  top: 0.8rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-tq7s-868 .auto-group-9wtn-yPa .auto-group-iwz6-Na8 .wishlist-BGg {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.9rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-8hat-4rG {
  margin-right: 17.2rem;
  box-sizing: border-box;
  padding: 5.1rem 2.3rem 2.6rem 2.6rem;
  width: 30.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-8hat-4rG .pillow-2-Nc4 {
  margin: 0rem 0.3rem 1.5rem 0rem;
  width: 24.3rem;
  height: 23.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-8hat-4rG .upcycled-cushion-248-tqJ {
  margin: 0rem 0.4rem 1.6rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-8hat-4rG .upcycled-cushion-248-tqJ .upcycled-cushion-248-tqJ-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-8hat-4rG .upcycled-cushion-248-tqJ .upcycled-cushion-248-tqJ-sub-1 {
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-8hat-4rG .upcycled-cushion-248-tqJ .upcycled-cushion-248-tqJ-sub-2 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-8hat-4rG .auto-group-tnh2-mGp {
  margin-left: 0.1rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-8hat-4rG .auto-group-tnh2-mGp .auto-group-p4fe-JnY {
  margin: 0rem 2.7rem 0.1rem 0rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-8hat-4rG .auto-group-tnh2-mGp .auto-group-p4fe-JnY .rectangle-890-ERJ {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-8hat-4rG .auto-group-tnh2-mGp .auto-group-p4fe-JnY .add-to-cart-ZyN {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-8hat-4rG .auto-group-tnh2-mGp .auto-group-p4fe-JnY .item--UqS {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 0.768rem;
  top: 0.968rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-8hat-4rG .auto-group-tnh2-mGp .auto-group-uqdi-cAx {
  margin-top: 0.1rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-8hat-4rG .auto-group-tnh2-mGp .auto-group-uqdi-cAx .rectangle-889-YqJ {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.5rem;
  background-color: #000000;
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-8hat-4rG .auto-group-tnh2-mGp .auto-group-uqdi-cAx .vector-hCQ {
  width: 1.3991rem;
  height: 1.2983rem;
  position: absolute;
  left: 1.6477rem;
  top: 0.8rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-8hat-4rG .auto-group-tnh2-mGp .auto-group-uqdi-cAx .wishlist-2Va {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 4.2rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-cxpe-Wfe {
  box-sizing: border-box;
  padding: 3.5rem 2.2rem 2.7rem 2.2rem;
  width: 30.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-cxpe-Wfe .fabric-scrap-2-Rnc {
  margin: 0rem 0rem 1.5rem 0.1rem;
  width: 25.6rem;
  height: 25.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-cxpe-Wfe .artistry-fabric-465-wkx {
  margin: 0rem 0.7rem 1.6rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-cxpe-Wfe .artistry-fabric-465-wkx .artistry-fabric-465-wkx-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-cxpe-Wfe .artistry-fabric-465-wkx .artistry-fabric-465-wkx-sub-1 {
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-cxpe-Wfe .artistry-fabric-465-wkx .artistry-fabric-465-wkx-sub-2 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-cxpe-Wfe .auto-group-xdvn-R3r {
  margin-right: 0.6rem;
  width: calc(100% - 0.6rem);
  height: 3.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-cxpe-Wfe .auto-group-xdvn-R3r .auto-group-ftap-YuA {
  margin-right: 2.7rem;
  width: 11.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-cxpe-Wfe .auto-group-xdvn-R3r .auto-group-ftap-YuA .rectangle-892-V3i {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-cxpe-Wfe .auto-group-xdvn-R3r .auto-group-ftap-YuA .add-to-cart-bsS {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-cxpe-Wfe .auto-group-xdvn-R3r .auto-group-ftap-YuA .item--Jmr {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 0.768rem;
  top: 0.968rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-cxpe-Wfe .auto-group-xdvn-R3r .auto-group-8dyn-2Sx {
  width: 11.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-cxpe-Wfe .auto-group-xdvn-R3r .auto-group-8dyn-2Sx .rectangle-891-Zxg {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.6rem;
  background-color: #000000;
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-cxpe-Wfe .auto-group-xdvn-R3r .auto-group-8dyn-2Sx .vector-JvG {
  width: 1.3991rem;
  height: 1.2983rem;
  position: absolute;
  left: 1.4172rem;
  top: 1rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-clothes-rzY .auto-group-rme4-QA8 .auto-group-cxpe-Wfe .auto-group-xdvn-R3r .auto-group-8dyn-2Sx .wishlist-qfJ {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 4.2rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-clothes-rzY .footer-iyz {
  width: 153.6rem;
  height: 26.6094rem;
  position: absolute;
  left: 0;
  top: 127.3rem;
}
.creative-clothes-rzY .footer-iyz .rectangle-3-Fyv {
  width: 153.6rem;
  height: 24.9998rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #222222;
}
.creative-clothes-rzY .footer-iyz .scrap-symphoy-sanctuary-aims-to-promote-innovation-in-the-digital-commerce-ecosystem-by-providing-a-platform-for-startups-and-entrepreneurs-to-develop-new-services-and-solutions-also-supports-digital-commerce-including-online-payments-e-commerce-and-financial-services-cJg {
  width: 43.7rem;
  height: 8.8rem;
  position: absolute;
  left: 12.2rem;
  top: 4.8992rem;
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
}
.creative-clothes-rzY .footer-iyz .frame-35-PTr {
  width: 14.4rem;
  height: 16.5rem;
  position: absolute;
  left: 117.8rem;
  top: 1.993rem;
}
.creative-clothes-rzY .footer-iyz .frame-35-PTr .pages-7ue {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2.25;
  letter-spacing: 0.012rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-clothes-rzY .footer-iyz .frame-35-PTr .frame-39-EUU {
  width: 100%;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
}
.creative-clothes-rzY .footer-iyz .frame-35-PTr .frame-39-EUU .about-us-aYL {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-clothes-rzY .footer-iyz .frame-35-PTr .frame-39-EUU .return-policy-JUL {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-clothes-rzY .footer-iyz .frame-35-PTr .frame-39-EUU .contact-us-pxU {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-clothes-rzY .footer-iyz .frame-35-PTr .frame-39-EUU .refund-cancellation-policies-ZfA {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-clothes-rzY .footer-iyz .social-media-69J {
  width: 17.362rem;
  height: 3rem;
  position: absolute;
  left: 13.018rem;
  top: 15.1109rem;
  display: flex;
  align-items: center;
}
.creative-clothes-rzY .footer-iyz .social-media-69J .vector-ctL {
  margin: 0rem 4.035rem 0rem 0rem;
  width: 2.9268rem;
  height: 2.9268rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-clothes-rzY .footer-iyz .social-media-69J .vector-jCG {
  margin-right: 4.0344rem;
  width: 3.2195rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-clothes-rzY .footer-iyz .social-media-69J .vector-Ghz {
  margin-top: 0.0013rem;
  width: 3.1463rem;
  height: 2.6341rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-clothes-rzY .footer-iyz .rectangle-12-1fa {
  width: 153.6rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 20.7rem;
  background-color: #555555;
}
.creative-clothes-rzY .footer-iyz .frame-40-9Wt {
  box-sizing: border-box;
  padding-right: 19.3667rem;
  width: 29.8667rem;
  height: 5.3094rem;
  position: absolute;
  left: 14.1rem;
  top: 21.3rem;
  display: flex;
  align-items: flex-start;
}
.creative-clothes-rzY .footer-iyz .frame-40-9Wt .mask-group-sBz {
  margin-right: 4.5rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-clothes-rzY .footer-iyz .frame-40-9Wt .mask-group-QSp {
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-clothes-rzY .footer-iyz .scrap-symphony-sanctuary-all-rights-reserved-Z4p {
  width: 27.4rem;
  height: 2.2rem;
  position: absolute;
  left: 114.1rem;
  top: 22.1133rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-clothes-rzY .footer-iyz .terms-condition-privacy-policy-S8c {
  width: 18.5rem;
  height: 2.2rem;
  position: absolute;
  left: 65.9rem;
  top: 22.1133rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-clothes-rzY .item--j7i {
  box-sizing: border-box;
  padding: 0.4rem 5.15rem;
  width: 26.8rem;
  height: 5rem;
  position: absolute;
  left: 64.7rem;
  top: 60.8rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3333333333;
  letter-spacing: 0.024rem;
  color: #fff7e9;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
  background-color: #f16713;
  border-radius: 5rem;
}
