
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.creative-ewaste-2-w7i {
  width: 100%;
  height: 70.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.creative-ewaste-2-w7i .black1-67-eXv {
  width: 153.6rem;
  height: 68.5rem;
  position: absolute;
  left: 0;
  top: 1.7rem;
  object-fit: cover;
  vertical-align: top;
}
.creative-ewaste-2-w7i .rectangle-901-Nyi {
  width: 153.6rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 65.9rem;
  background-color: #5b5b5b;
}
.creative-ewaste-2-w7i .item--uye {
  box-sizing: border-box;
  padding-right: 19.3667rem;
  width: 29.8667rem;
  height: 5.3094rem;
  position: absolute;
  left: 14.1rem;
  top: 66.3rem;
  display: flex;
  align-items: flex-start;
}
.creative-ewaste-2-w7i .item--uye .mask-group-1mn {
  margin-right: 4.5rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-ewaste-2-w7i .item--uye .mask-group-Mak {
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-ewaste-2-w7i .terms-condition-privacy-policy-hec {
  width: 18.5rem;
  height: 2.2rem;
  position: absolute;
  left: 65.9rem;
  top: 66.8rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-ewaste-2-w7i .scrap-symphony-sanctuary-all-rights-reserved-aiQ {
  width: 27.4rem;
  height: 2.2rem;
  position: absolute;
  left: 114.1rem;
  top: 66.8rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-ewaste-2-w7i .scrap3-removebg-preview-68-3bz {
  width: 4.7467rem;
  height: 4rem;
  position: absolute;
  left: 2.4rem;
  top: 5.1rem;
  object-fit: cover;
  vertical-align: top;
}
.creative-ewaste-2-w7i .scrap-symphony-sanctuary-HmE {
  width: 16.2rem;
  height: 2.1rem;
  position: absolute;
  left: 7.25rem;
  top: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4825;
  letter-spacing: 0.028rem;
  color: #f7fbff;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-ewaste-2-w7i .home-scrap-section-creative-section-about-us-contact-us-NXn {
  width: 51.9rem;
  height: 2.5rem;
  position: absolute;
  left: 35.4rem;
  top: 6.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.016rem;
  color: #f6fbff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-ewaste-2-w7i .rectangle-867-T3S {
  width: 37.7rem;
  height: 3.1rem;
  position: absolute;
  left: 91.4rem;
  top: 6.3rem;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
  background-color: #f6fbff;
}
.creative-ewaste-2-w7i .layer1-9wr {
  width: 3.2rem;
  height: 3.4078rem;
  position: absolute;
  left: 143.4rem;
  top: 6rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-ewaste-2-w7i .item--t8k {
  width: 3.7029rem;
  height: 3.0931rem;
  position: absolute;
  left: 137.7297rem;
  top: 6.0844rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-ewaste-2-w7i .rectangle-901-cqS {
  width: 104.2rem;
  height: 42rem;
  position: absolute;
  left: 45.7rem;
  top: 17.9rem;
  background-color: #ffffff;
  border-radius: 5rem;
}
.creative-ewaste-2-w7i .vector-jQG {
  width: 3.4rem;
  height: 3.2rem;
  position: absolute;
  left: 132.4rem;
  top: 6rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-ewaste-2-w7i .frame-427319600-Gf6 {
  box-sizing: border-box;
  padding: 1rem 3.95rem;
  width: 34.7rem;
  height: 9.9rem;
  position: absolute;
  left: 50.1rem;
  top: 46.9rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  background-color: #f8fafc;
  border-radius: 1.5rem;
}
.creative-ewaste-2-w7i .frame-427319600-Gf6 .frame-427319596-xXv {
  margin: 1.25rem 1.9rem 1.25rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.creative-ewaste-2-w7i .frame-427319600-Gf6 .frame-427319596-xXv .group-17-gD2 {
  margin: 0rem 0.1rem 0.5rem 0rem;
  width: 2.8845rem;
  height: 2.1997rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-ewaste-2-w7i .frame-427319600-Gf6 .frame-427319596-xXv .free-delivery-bjJ {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.7;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-ewaste-2-w7i .frame-427319600-Gf6 .line-97-iov {
  margin-right: 2rem;
  width: 0rem;
  height: 7.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-ewaste-2-w7i .frame-427319600-Gf6 .frame-427319598-4Mz {
  margin: 1.25rem 1.9rem 1.25rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.creative-ewaste-2-w7i .frame-427319600-Gf6 .frame-427319598-4Mz .group-18-BhW {
  margin: 0rem 0.1rem 0.5rem 0rem;
  width: 2.2003rem;
  height: 2.1999rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-ewaste-2-w7i .frame-427319600-Gf6 .frame-427319598-4Mz .pay-on-delivery-utQ {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.7;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-ewaste-2-w7i .frame-427319600-Gf6 .line-98-qn4 {
  margin-right: 2rem;
  width: 0rem;
  height: 7.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-ewaste-2-w7i .frame-427319600-Gf6 .auto-group-874q-Poa {
  margin-bottom: 1.2rem;
  box-sizing: border-box;
  padding-top: 1.2rem;
  width: 5.3rem;
  height: 6.7rem;
  flex-shrink: 0;
}
.creative-ewaste-2-w7i .frame-427319600-Gf6 .auto-group-874q-Poa .frame-427319599-7ja {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.creative-ewaste-2-w7i .frame-427319600-Gf6 .auto-group-874q-Poa .frame-427319599-7ja .group-19-Fqn {
  margin: 0rem 0rem 0.5rem 0rem;
  width: 2.2rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-ewaste-2-w7i .frame-427319600-Gf6 .auto-group-874q-Poa .frame-427319599-7ja .days-returnable-at4 {
  max-width: 5.3rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.creative-ewaste-2-w7i .line-144-sMN {
  width: 0;
  height: 37.5rem;
  position: absolute;
  left: 89rem;
  top: 19.6rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-ewaste-2-w7i .rectangle-899-c44 {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 69rem;
  top: 36.5rem;
  background-color: #000000;
}
.creative-ewaste-2-w7i .add-to-cart-juN {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 72.7rem;
  top: 35.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-ewaste-2-w7i .item--Er8 {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 69.768rem;
  top: 36.768rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-ewaste-2-w7i .rectangle-900-AUt {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 69rem;
  top: 40.2rem;
  background-color: #000000;
}
.creative-ewaste-2-w7i .vector-6tL {
  width: 1.6rem;
  height: 1.4rem;
  position: absolute;
  left: 70.4rem;
  top: 40.5rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-ewaste-2-w7i .wishlist-EUk {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 72.9rem;
  top: 39.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-ewaste-2-w7i .group-168-LXn {
  width: 56.8rem;
  height: 14.9773rem;
  position: absolute;
  left: 91.4rem;
  top: 20.9rem;
  border: dashed 0.1rem #dddddd;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.creative-ewaste-2-w7i .group-168-LXn .description-fKA {
  width: 9.6rem;
  height: 5.6rem;
  position: absolute;
  left: 0.7094rem;
  top: 2.1789rem;
}
.creative-ewaste-2-w7i .group-168-LXn .description-fKA .description--oAU {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.016rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-ewaste-2-w7i .group-168-LXn .description-fKA .item--vkt {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-ewaste-2-w7i .group-168-LXn .adorable-little-animals-creatively-upcycled-from-electronic-waste-components-these-eco-friendly-figurines-not-only-serve-as-cute-decor-but-also-symbolize-the-transformation-of-discarded-technology-into-playful-and-sustainable-art-GJx {
  width: 52.8rem;
  height: 5.7rem;
  position: absolute;
  left: 0.7rem;
  top: 5.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.creative-ewaste-2-w7i .frame-427319601-eKW {
  width: 56.9rem;
  height: 16.2rem;
  position: absolute;
  left: 91.4rem;
  top: 40.4rem;
  display: flex;
  align-items: center;
}
.creative-ewaste-2-w7i .frame-427319601-eKW .group-21-muv {
  width: 27.6rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.creative-ewaste-2-w7i .frame-427319601-eKW .group-21-muv .content-8Va {
  width: 17.1rem;
  height: 11.3rem;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
}
.creative-ewaste-2-w7i .frame-427319601-eKW .group-21-muv .content-8Va .features--fkQ {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.016rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-ewaste-2-w7i .frame-427319601-eKW .group-21-muv .content-8Va .sustainable-artistry-whimsical-eco-chic-decor-tech-infused-charm-green-living-statement-QCC {
  max-width: 17.1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.creative-ewaste-2-w7i .frame-427319601-eKW .group-21-muv .rectangle-113-VDe {
  width: 27.6rem;
  height: 16.2rem;
  position: absolute;
  left: 0;
  top: 0;
  border: dashed 0.1rem #dddddd;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.creative-ewaste-2-w7i .frame-427319601-eKW .group-22-cp4 {
  width: 29.3rem;
  height: 100%;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.creative-ewaste-2-w7i .frame-427319601-eKW .group-22-cp4 .rectangle-114-yec {
  width: 100%;
  height: 16.2rem;
  border: dashed 0.1rem #dddddd;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.creative-ewaste-2-w7i .item--uYG {
  box-sizing: border-box;
  padding: 0.05rem 2.7rem 0.05rem 1rem;
  width: 9.4rem;
  height: 2.2rem;
  position: absolute;
  left: 135.2rem;
  top: 12.7rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
  background-color: #f16713;
  border-radius: 5rem;
}
.creative-ewaste-2-w7i .item--uYG .auto-group-nbcg-bfz {
  margin-right: 0.6rem;
  width: 1.1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-ewaste-2-w7i .item--uYG .back-jGQ {
  margin-bottom: 0.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.1875;
  letter-spacing: 0.016rem;
  color: #fff7e9;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-ewaste-2-w7i .group-22-DhN {
  box-sizing: border-box;
  padding: 0.9rem 1.1rem 1.5rem 1.1rem;
  width: 29.2rem;
  height: 16.2rem;
  position: absolute;
  left: 119rem;
  top: 40.5rem;
  border: dashed 0.1rem #dddddd;
  border-radius: 0.5rem;
}
.creative-ewaste-2-w7i .group-22-DhN .whatsapp-image-2024-01-31-at-436-25-vrg {
  width: 27rem;
  height: 13.8rem;
  object-fit: cover;
  vertical-align: top;
}
.creative-ewaste-2-w7i .group-187-pSG {
  width: 2rem;
  height: 2.6383rem;
  position: absolute;
  left: 92.1rem;
  top: 6.5rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-ewaste-2-w7i .search-MBJ {
  width: 5.9rem;
  height: 2.5rem;
  position: absolute;
  left: 94.7rem;
  top: 6.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  letter-spacing: 0.018rem;
  color: #555555;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-ewaste-2-w7i .price-3pp {
  box-sizing: border-box;
  padding: 0.4rem 0.4rem 0.4rem 1.2rem;
  width: 14.5rem;
  height: 6.8rem;
  position: absolute;
  left: 50.1rem;
  top: 35.1rem;
  display: flex;
  align-items: flex-start;
  border: dashed 0.1rem #ff731d;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.creative-ewaste-2-w7i .price-3pp .text-MKi {
  margin: 0.1rem 2.3rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.creative-ewaste-2-w7i .price-3pp .text-MKi .price-gsn {
  margin-bottom: 0.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #222222;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-ewaste-2-w7i .price-3pp .text-MKi .item-574-cmS {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.6875;
  letter-spacing: 0.032rem;
  color: #ff731d;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-ewaste-2-w7i .price-3pp .price-icon-wYp {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-ewaste-2-w7i .animals-2-sBa {
  width: 38.2rem;
  height: 40.5rem;
  position: absolute;
  left: 4.4rem;
  top: 19.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
}
.creative-ewaste-2-w7i .group-27-o5E {
  width: 19.7rem;
  height: 11.5rem;
  position: absolute;
  left: 50.2rem;
  top: 21.9rem;
}
.creative-ewaste-2-w7i .group-27-o5E .e-waste-critters-KpG {
  margin-bottom: 1.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.02rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-ewaste-2-w7i .group-27-o5E .product-id-449hw4-TQg {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-ewaste-2-w7i .group-27-o5E .seller-saravanan-PJL {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-ewaste-2-w7i .group-27-o5E .published-on-17-august-2020-Wtk {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
