
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.creative-paper-2-chJ {
  width: 100%;
  height: 70.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.creative-paper-2-chJ .black1-67-j1E {
  width: 153.6rem;
  height: 68.5rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  object-fit: cover;
  vertical-align: top;
}
.creative-paper-2-chJ .rectangle-901-edz {
  width: 153.6rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 65.9rem;
  background-color: #5b5b5b;
}
.creative-paper-2-chJ .item--Npt {
  box-sizing: border-box;
  padding-right: 19.3667rem;
  width: 29.8667rem;
  height: 5.3094rem;
  position: absolute;
  left: 14.1rem;
  top: 66.3rem;
  display: flex;
  align-items: flex-start;
}
.creative-paper-2-chJ .item--Npt .mask-group-Usv {
  margin-right: 4.5rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-paper-2-chJ .item--Npt .mask-group-2Pe {
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-paper-2-chJ .terms-condition-privacy-policy-Akk {
  width: 18.5rem;
  height: 2.2rem;
  position: absolute;
  left: 65.9rem;
  top: 66.8rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-paper-2-chJ .scrap-symphony-sanctuary-all-rights-reserved-TE4 {
  width: 27.4rem;
  height: 2.2rem;
  position: absolute;
  left: 114.1rem;
  top: 66.8rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-paper-2-chJ .scrap3-removebg-preview-68-7pQ {
  width: 4.7467rem;
  height: 4rem;
  position: absolute;
  left: 2.4rem;
  top: 5.1rem;
  object-fit: cover;
  vertical-align: top;
}
.creative-paper-2-chJ .scrap-symphony-sanctuary-Sbn {
  width: 16.2rem;
  height: 2.1rem;
  position: absolute;
  left: 7.25rem;
  top: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4825;
  letter-spacing: 0.028rem;
  color: #f7fbff;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-paper-2-chJ .home-scrap-section-creative-section-about-us-contact-us-WLk {
  width: 51.9rem;
  height: 2.5rem;
  position: absolute;
  left: 35.4rem;
  top: 6.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.016rem;
  color: #f6fbff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-paper-2-chJ .rectangle-867-Bxg {
  width: 37.7rem;
  height: 3.1rem;
  position: absolute;
  left: 91.4rem;
  top: 6.3rem;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
  background-color: #f6fbff;
}
.creative-paper-2-chJ .layer1-ts6 {
  width: 3.2rem;
  height: 3.4078rem;
  position: absolute;
  left: 143.4rem;
  top: 6rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-paper-2-chJ .item--co6 {
  width: 3.7029rem;
  height: 3.0931rem;
  position: absolute;
  left: 137.7297rem;
  top: 6.0844rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-paper-2-chJ .rectangle-901-x6G {
  width: 104.2rem;
  height: 42rem;
  position: absolute;
  left: 45.7rem;
  top: 17.9rem;
  background-color: #ffffff;
  border-radius: 5rem;
}
.creative-paper-2-chJ .vector-UaQ {
  width: 3.4rem;
  height: 3.2rem;
  position: absolute;
  left: 132.4rem;
  top: 6rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-paper-2-chJ .frame-427319600-DH6 {
  box-sizing: border-box;
  padding: 1rem 3.95rem;
  width: 34.7rem;
  height: 9.9rem;
  position: absolute;
  left: 50.1rem;
  top: 46.9rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  background-color: #f8fafc;
  border-radius: 1.5rem;
}
.creative-paper-2-chJ .frame-427319600-DH6 .frame-427319596-uQp {
  margin: 1.25rem 1.9rem 1.25rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.creative-paper-2-chJ .frame-427319600-DH6 .frame-427319596-uQp .group-17-pXn {
  margin: 0rem 0.1rem 0.5rem 0rem;
  width: 2.8845rem;
  height: 2.1997rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-paper-2-chJ .frame-427319600-DH6 .frame-427319596-uQp .free-delivery-YTn {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.7;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-paper-2-chJ .frame-427319600-DH6 .line-97-5Cp {
  margin-right: 2rem;
  width: 0rem;
  height: 7.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-paper-2-chJ .frame-427319600-DH6 .frame-427319598-284 {
  margin: 1.25rem 1.9rem 1.25rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.creative-paper-2-chJ .frame-427319600-DH6 .frame-427319598-284 .group-18-9iU {
  margin: 0rem 0.1rem 0.5rem 0rem;
  width: 2.2003rem;
  height: 2.1999rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-paper-2-chJ .frame-427319600-DH6 .frame-427319598-284 .pay-on-delivery-gTW {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.7;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-paper-2-chJ .frame-427319600-DH6 .line-98-S5J {
  margin-right: 2rem;
  width: 0rem;
  height: 7.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-paper-2-chJ .frame-427319600-DH6 .auto-group-r7he-yL8 {
  margin-bottom: 1.2rem;
  box-sizing: border-box;
  padding-top: 1.2rem;
  width: 5.3rem;
  height: 6.7rem;
  flex-shrink: 0;
}
.creative-paper-2-chJ .frame-427319600-DH6 .auto-group-r7he-yL8 .frame-427319599-hG8 {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.creative-paper-2-chJ .frame-427319600-DH6 .auto-group-r7he-yL8 .frame-427319599-hG8 .group-19-3Kz {
  margin: 0rem 0rem 0.5rem 0rem;
  width: 2.2rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-paper-2-chJ .frame-427319600-DH6 .auto-group-r7he-yL8 .frame-427319599-hG8 .days-returnable-a52 {
  max-width: 5.3rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.creative-paper-2-chJ .line-144-eag {
  width: 0;
  height: 37.5rem;
  position: absolute;
  left: 89rem;
  top: 19.6rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-paper-2-chJ .rectangle-899-zPe {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 69rem;
  top: 36.5rem;
  background-color: #000000;
}
.creative-paper-2-chJ .add-to-cart-vo6 {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 72.7rem;
  top: 35.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-paper-2-chJ .item--Rzk {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 69.768rem;
  top: 36.768rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-paper-2-chJ .rectangle-900-ZbA {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 69rem;
  top: 40.2rem;
  background-color: #000000;
}
.creative-paper-2-chJ .vector-JYk {
  width: 1.6rem;
  height: 1.4rem;
  position: absolute;
  left: 70.4rem;
  top: 40.5rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-paper-2-chJ .wishlist-EhJ {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 72.9rem;
  top: 39.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-paper-2-chJ .frame-427319601-YT6 {
  width: 56.9rem;
  height: 16.2rem;
  position: absolute;
  left: 91.4rem;
  top: 40.4rem;
  display: flex;
  align-items: center;
}
.creative-paper-2-chJ .frame-427319601-YT6 .group-21-fnc {
  width: 27.6rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.creative-paper-2-chJ .frame-427319601-YT6 .group-21-fnc .content-pvQ {
  width: 16.9rem;
  height: 9.4rem;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
}
.creative-paper-2-chJ .frame-427319601-YT6 .group-21-fnc .content-pvQ .features--Zsz {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.016rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-paper-2-chJ .frame-427319601-YT6 .group-21-fnc .content-pvQ .repurposed-clock-sustainable-chic-conscious-craftsmanship-uBA {
  max-width: 16.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.creative-paper-2-chJ .frame-427319601-YT6 .group-21-fnc .rectangle-113-DBr {
  width: 27.6rem;
  height: 16.2rem;
  position: absolute;
  left: 0;
  top: 0;
  border: dashed 0.1rem #dddddd;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.creative-paper-2-chJ .frame-427319601-YT6 .group-22-jR6 {
  box-sizing: border-box;
  padding: 0.9rem 1.7rem 0.9rem 0.9rem;
  height: 100%;
  border: dashed 0.1rem #dddddd;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.creative-paper-2-chJ .frame-427319601-YT6 .group-22-jR6 .whatsapp-image-2024-01-31-at-429-14-g5S {
  width: 26.7rem;
  height: 13.2rem;
  object-fit: cover;
  vertical-align: top;
}
.creative-paper-2-chJ .item--aAp {
  box-sizing: border-box;
  padding: 0.05rem 2.7rem 0.05rem 1rem;
  width: 9.4rem;
  height: 2.2rem;
  position: absolute;
  left: 135.2rem;
  top: 12.7rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
  background-color: #f16713;
  border-radius: 5rem;
}
.creative-paper-2-chJ .item--aAp .auto-group-mfgx-fi4 {
  margin-right: 0.6rem;
  width: 1.1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-paper-2-chJ .item--aAp .back-QQk {
  margin-bottom: 0.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.1875;
  letter-spacing: 0.016rem;
  color: #fff7e9;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-paper-2-chJ .group-187-WCt {
  width: 2rem;
  height: 2.6383rem;
  position: absolute;
  left: 92.4rem;
  top: 6.5rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-paper-2-chJ .search-Eua {
  width: 5.9rem;
  height: 2.5rem;
  position: absolute;
  left: 95rem;
  top: 6.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  letter-spacing: 0.018rem;
  color: #555555;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-paper-2-chJ .price-9Wk {
  box-sizing: border-box;
  padding: 0.4rem 0.4rem 0.4rem 1.2rem;
  width: 14.5rem;
  height: 6.8rem;
  position: absolute;
  left: 51.3rem;
  top: 36.5rem;
  display: flex;
  align-items: flex-start;
  border: dashed 0.1rem #ff731d;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.creative-paper-2-chJ .price-9Wk .text-F3z {
  margin: 0.1rem 2.3rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.creative-paper-2-chJ .price-9Wk .text-F3z .price-n3v {
  margin-bottom: 0.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #222222;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-paper-2-chJ .price-9Wk .text-F3z .item-388-HWU {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.6875;
  letter-spacing: 0.032rem;
  color: #ff731d;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-paper-2-chJ .price-9Wk .price-icon-ny2 {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-paper-2-chJ .group-23-6yi {
  box-sizing: border-box;
  padding: 2.9rem 1.574rem 4.2rem 1.526rem;
  width: 56.9rem;
  height: 16.5rem;
  position: absolute;
  left: 91.4rem;
  top: 20.5rem;
  border: dashed 0.1rem #dddddd;
  border-radius: 0.5rem;
}
.creative-paper-2-chJ .group-23-6yi .description-1qn {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.creative-paper-2-chJ .group-23-6yi .description-1qn .description--aP6 {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.016rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-paper-2-chJ .group-23-6yi .description-1qn .a-stylish-and-sustainable-wall-clock-crafted-from-recycled-materials-this-eco-friendly-timepiece-not-only-serves-a-functional-purpose-but-also-adds-a-touch-of-conscious-design-to-your-space-highlighting-the-beauty-of-repurposing-6sE {
  max-width: 53.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.creative-paper-2-chJ .paper-clock-2-6kk {
  width: 36.8rem;
  height: 36.8rem;
  position: absolute;
  left: 4.3rem;
  top: 20.5rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
}
.creative-paper-2-chJ .group-166-dEt {
  width: 21.1rem;
  height: 11.5rem;
  position: absolute;
  left: 51.2rem;
  top: 20.9rem;
}
.creative-paper-2-chJ .group-166-dEt .renew-clock-Mgg {
  margin-bottom: 1.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.02rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-paper-2-chJ .group-166-dEt .product-id-514ni0-tgc {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-paper-2-chJ .group-166-dEt .seller-mani-Dyn {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-paper-2-chJ .group-166-dEt .published-on-08-february-2018-xAg {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
