
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.creative-ewaste-1-yNt {
  width: 100%;
  height: 70.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.creative-ewaste-1-yNt .black1-67-g2Q {
  width: 153.6rem;
  height: 68.5rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  object-fit: cover;
  vertical-align: top;
}
.creative-ewaste-1-yNt .rectangle-901-oMv {
  width: 153.6rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 65.9rem;
  background-color: #5b5b5b;
}
.creative-ewaste-1-yNt .item--Kr4 {
  box-sizing: border-box;
  padding-right: 19.3667rem;
  width: 29.8667rem;
  height: 5.3094rem;
  position: absolute;
  left: 14.1rem;
  top: 66.3rem;
  display: flex;
  align-items: flex-start;
}
.creative-ewaste-1-yNt .item--Kr4 .mask-group-dbr {
  margin-right: 4.5rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-ewaste-1-yNt .item--Kr4 .mask-group-a1J {
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-ewaste-1-yNt .terms-condition-privacy-policy-Wfe {
  width: 18.5rem;
  height: 2.2rem;
  position: absolute;
  left: 65.9rem;
  top: 66.8rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-ewaste-1-yNt .scrap-symphony-sanctuary-all-rights-reserved-CHa {
  width: 27.4rem;
  height: 2.2rem;
  position: absolute;
  left: 114.1rem;
  top: 66.8rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-ewaste-1-yNt .scrap3-removebg-preview-68-fgx {
  width: 4.7467rem;
  height: 4rem;
  position: absolute;
  left: 2.4rem;
  top: 5.1rem;
  object-fit: cover;
  vertical-align: top;
}
.creative-ewaste-1-yNt .scrap-symphony-sanctuary-CB6 {
  width: 16.2rem;
  height: 2.1rem;
  position: absolute;
  left: 7.25rem;
  top: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4825;
  letter-spacing: 0.028rem;
  color: #f7fbff;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-ewaste-1-yNt .home-scrap-section-creative-section-about-us-contact-us-gMA {
  width: 51.9rem;
  height: 2.5rem;
  position: absolute;
  left: 35.4rem;
  top: 6.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.016rem;
  color: #f6fbff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-ewaste-1-yNt .rectangle-867-mdW {
  width: 37.7rem;
  height: 3.1rem;
  position: absolute;
  left: 91.4rem;
  top: 6.3rem;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
  background-color: #f6fbff;
}
.creative-ewaste-1-yNt .layer1-gVa {
  width: 3.2rem;
  height: 3.4078rem;
  position: absolute;
  left: 143.4rem;
  top: 6rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-ewaste-1-yNt .item--cPE {
  width: 3.7029rem;
  height: 3.0931rem;
  position: absolute;
  left: 137.7297rem;
  top: 6.0844rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-ewaste-1-yNt .rectangle-901-8cU {
  width: 104.2rem;
  height: 42rem;
  position: absolute;
  left: 45.7rem;
  top: 17.9rem;
  background-color: #ffffff;
  border-radius: 5rem;
}
.creative-ewaste-1-yNt .vector-4FE {
  width: 3.4rem;
  height: 3.2rem;
  position: absolute;
  left: 132.4rem;
  top: 6rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-ewaste-1-yNt .frame-427319600-zeg {
  box-sizing: border-box;
  padding: 1rem 3.95rem;
  width: 34.7rem;
  height: 9.9rem;
  position: absolute;
  left: 50.1rem;
  top: 46.9rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  background-color: #f8fafc;
  border-radius: 1.5rem;
}
.creative-ewaste-1-yNt .frame-427319600-zeg .frame-427319596-VbS {
  margin: 1.25rem 1.9rem 1.25rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.creative-ewaste-1-yNt .frame-427319600-zeg .frame-427319596-VbS .group-17-dBr {
  margin: 0rem 0.1rem 0.5rem 0rem;
  width: 2.8845rem;
  height: 2.1997rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-ewaste-1-yNt .frame-427319600-zeg .frame-427319596-VbS .free-delivery-YZi {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.7;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-ewaste-1-yNt .frame-427319600-zeg .line-97-Gkc {
  margin-right: 2rem;
  width: 0rem;
  height: 7.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-ewaste-1-yNt .frame-427319600-zeg .frame-427319598-cpU {
  margin: 1.25rem 1.9rem 1.25rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.creative-ewaste-1-yNt .frame-427319600-zeg .frame-427319598-cpU .group-18-xNY {
  margin: 0rem 0.1rem 0.5rem 0rem;
  width: 2.2003rem;
  height: 2.1999rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-ewaste-1-yNt .frame-427319600-zeg .frame-427319598-cpU .pay-on-delivery-V7a {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.7;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-ewaste-1-yNt .frame-427319600-zeg .line-98-otx {
  margin-right: 2rem;
  width: 0rem;
  height: 7.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-ewaste-1-yNt .frame-427319600-zeg .auto-group-njhz-m56 {
  margin-bottom: 1.2rem;
  box-sizing: border-box;
  padding-top: 1.2rem;
  width: 5.3rem;
  height: 6.7rem;
  flex-shrink: 0;
}
.creative-ewaste-1-yNt .frame-427319600-zeg .auto-group-njhz-m56 .frame-427319599-TyW {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.creative-ewaste-1-yNt .frame-427319600-zeg .auto-group-njhz-m56 .frame-427319599-TyW .group-19-pZA {
  margin: 0rem 0rem 0.5rem 0rem;
  width: 2.2rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-ewaste-1-yNt .frame-427319600-zeg .auto-group-njhz-m56 .frame-427319599-TyW .days-returnable-kSp {
  max-width: 5.3rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.creative-ewaste-1-yNt .line-144-EMz {
  width: 0;
  height: 37.5rem;
  position: absolute;
  left: 89rem;
  top: 19.6rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-ewaste-1-yNt .rectangle-899-aAx {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 69rem;
  top: 36.5rem;
  background-color: #000000;
}
.creative-ewaste-1-yNt .add-to-cart-iHA {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 72.7rem;
  top: 35.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-ewaste-1-yNt .item--2Hr {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 69.768rem;
  top: 36.768rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-ewaste-1-yNt .rectangle-900-wfi {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 69rem;
  top: 40.2rem;
  background-color: #000000;
}
.creative-ewaste-1-yNt .vector-5mv {
  width: 1.6rem;
  height: 1.4rem;
  position: absolute;
  left: 70.4rem;
  top: 40.5rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-ewaste-1-yNt .wishlist-RKz {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 72.9rem;
  top: 39.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-ewaste-1-yNt .frame-427319601-8kC {
  width: 56.9rem;
  height: 16.2rem;
  position: absolute;
  left: 91.4rem;
  top: 40.4rem;
  display: flex;
  align-items: center;
}
.creative-ewaste-1-yNt .frame-427319601-8kC .group-21-GbW {
  width: 27.6rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.creative-ewaste-1-yNt .frame-427319601-8kC .group-21-GbW .content-2qa {
  width: 14.5rem;
  height: 11.3rem;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
}
.creative-ewaste-1-yNt .frame-427319601-8kC .group-21-GbW .content-2qa .features--NeY {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.016rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-ewaste-1-yNt .frame-427319601-8kC .group-21-GbW .content-2qa .wearable-artistry-circuit-board-couture-eco-friendly-glam-tech-chic-WVr {
  max-width: 14.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.creative-ewaste-1-yNt .frame-427319601-8kC .group-21-GbW .rectangle-113-pFe {
  width: 27.6rem;
  height: 16.2rem;
  position: absolute;
  left: 0;
  top: 0;
  border: dashed 0.1rem #dddddd;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.creative-ewaste-1-yNt .frame-427319601-8kC .group-22-wbA {
  box-sizing: border-box;
  padding: 1.1rem 1.2rem 1.9rem 1.2rem;
  height: 100%;
  border: dashed 0.1rem #dddddd;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.creative-ewaste-1-yNt .frame-427319601-8kC .group-22-wbA .whatsapp-image-2024-01-31-at-436-26-5xG {
  width: 26.9rem;
  height: 13.2rem;
  object-fit: cover;
  vertical-align: top;
}
.creative-ewaste-1-yNt .item--BVW {
  box-sizing: border-box;
  padding: 0.05rem 2.7rem 0.05rem 1rem;
  width: 9.4rem;
  height: 2.2rem;
  position: absolute;
  left: 135.2rem;
  top: 12.7rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
  background-color: #f16713;
  border-radius: 5rem;
}
.creative-ewaste-1-yNt .item--BVW .auto-group-bd3a-H2k {
  margin-right: 0.6rem;
  width: 1.1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-ewaste-1-yNt .item--BVW .back-DSC {
  margin-bottom: 0.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.1875;
  letter-spacing: 0.016rem;
  color: #fff7e9;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-ewaste-1-yNt .group-187-hcG {
  width: 2rem;
  height: 2.6383rem;
  position: absolute;
  left: 92.4rem;
  top: 6.5rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-ewaste-1-yNt .search-dkp {
  width: 5.9rem;
  height: 2.5rem;
  position: absolute;
  left: 95rem;
  top: 6.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  letter-spacing: 0.018rem;
  color: #555555;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-ewaste-1-yNt .price-8Sg {
  box-sizing: border-box;
  padding: 0.4rem 0.4rem 0.4rem 1.2rem;
  width: 14.5rem;
  height: 6.8rem;
  position: absolute;
  left: 51.3rem;
  top: 36.5rem;
  display: flex;
  align-items: flex-start;
  border: dashed 0.1rem #ff731d;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.creative-ewaste-1-yNt .price-8Sg .text-RRn {
  margin: 0.1rem 2.3rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.creative-ewaste-1-yNt .price-8Sg .text-RRn .price-mEk {
  margin-bottom: 0.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #222222;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-ewaste-1-yNt .price-8Sg .text-RRn .item-126-TtG {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.6875;
  letter-spacing: 0.032rem;
  color: #ff731d;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-ewaste-1-yNt .price-8Sg .price-icon-BJU {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-ewaste-1-yNt .group-23-HsJ {
  box-sizing: border-box;
  padding: 2.9rem 1.526rem 4.2rem 1.526rem;
  width: 56.9rem;
  height: 16.5rem;
  position: absolute;
  left: 91.4rem;
  top: 20.5rem;
  border: dashed 0.1rem #dddddd;
  border-radius: 0.5rem;
}
.creative-ewaste-1-yNt .group-23-HsJ .description-np4 {
  width: 51.9rem;
  height: 100%;
}
.creative-ewaste-1-yNt .group-23-HsJ .description-np4 .description--9Pi {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.016rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-ewaste-1-yNt .group-23-HsJ .description-np4 .stylish-and-unique-earrings-crafted-from-repurposed-circuit-boards-these-eco-friendly-accessories-not-only-add-a-touch-of-tech-inspired-fashion-but-also-showcase-the-beauty-of-recycling-electronic-components-into-wearable-art-URz {
  max-width: 51.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.creative-ewaste-1-yNt .screenshot-2024-01-25-154707-2-H8Y {
  width: 36.3rem;
  height: 41.4rem;
  position: absolute;
  left: 5.2rem;
  top: 17.9rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
}
.creative-ewaste-1-yNt .group-27-PhN {
  width: 19.3rem;
  height: 11.5rem;
  position: absolute;
  left: 51.2rem;
  top: 20.9rem;
}
.creative-ewaste-1-yNt .group-27-PhN .circuit-earrings-89A {
  margin-bottom: 1.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.02rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-ewaste-1-yNt .group-27-PhN .product-id-670kl3-SvY {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-ewaste-1-yNt .group-27-PhN .seller-thanshika-NpC {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-ewaste-1-yNt .group-27-PhN .published-on-19-march-2020-iNG {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
