
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.5rem;
}.creative-metal-odW {
  width: 100%;
  height: 152.3rem;
  position: relative;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/black1-66-bg-Ngt.png');
  background-color: #ffffff;
}
.creative-metal-odW .item--JKN {
  box-sizing: border-box;
  padding: 1rem 69.2rem;
  width: 153.6rem;
  height: 4.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #777777;
}
.creative-metal-odW .item--JKN .frame-427319517-DSL {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.creative-metal-odW .item--JKN .frame-427319517-DSL .group-2-ZWC {
  margin: 0rem 1rem 0rem 0rem;
  width: 2.2rem;
  height: 1.6422rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-metal-odW .item--JKN .frame-427319517-DSL .made-for-india-t2g {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #ffffff;
  font-family: Merriweather, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-metal-odW .auto-group-nmr4-nNx {
  width: 146.2029rem;
  height: 4.5832rem;
  position: absolute;
  left: 3rem;
  top: 8.1rem;
  display: flex;
  align-items: center;
}
.creative-metal-odW .auto-group-nmr4-nNx .scrap3-removebg-preview-59-HqW {
  margin: 0rem 0.003rem 0.583rem 0rem;
  width: 4.7467rem;
  height: 4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-metal-odW .auto-group-nmr4-nNx .scrap-symphony-sanctuary-bLQ {
  margin: 0rem 13.35rem 0.083rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4825;
  letter-spacing: 0.028rem;
  color: #f7fbff;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-metal-odW .auto-group-nmr4-nNx .home-scrap-section-creative-section-about-us-contact-us-4Ut {
  margin: 0.717rem 5.2rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.016rem;
  color: #f6fbff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-metal-odW .auto-group-nmr4-nNx .auto-group-28vs-w2t {
  margin: 1.1rem 1.713rem 0.383rem 0rem;
  box-sizing: border-box;
  padding: 0.3rem 27.9rem 0.3rem 0.838rem;
  height: calc(100% - 1.4832rem);
  display: flex;
  align-items: center;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
  background-color: #f6fbff;
  flex-shrink: 0;
}
.creative-metal-odW .auto-group-nmr4-nNx .auto-group-28vs-w2t .group-Qx4 {
  margin: 0.073rem 1.062rem 0rem 0rem;
  width: 2rem;
  height: 1.6rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-metal-odW .auto-group-nmr4-nNx .auto-group-28vs-w2t .search-L52 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  letter-spacing: 0.018rem;
  color: #555555;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-metal-odW .auto-group-nmr4-nNx .vector-QKn {
  margin: 0.688rem 1.62rem 0rem 0rem;
  width: 3.9974rem;
  height: 3.8949rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-metal-odW .auto-group-nmr4-nNx .item--Wdi {
  margin: 0.679rem 2.073rem 0rem 0rem;
  width: 3.7029rem;
  height: 3.0931rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-metal-odW .auto-group-nmr4-nNx .layer1-p8c {
  margin-top: 0.6883rem;
  width: 3.9974rem;
  height: 3.8949rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-metal-odW .auto-group-bzxe-wU8 {
  box-sizing: border-box;
  padding: 3.8rem 4.4rem 3.8rem 2.6rem;
  width: 153.6rem;
  height: 36.3rem;
  position: absolute;
  left: 0;
  top: 20.4rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.creative-metal-odW .auto-group-bzxe-wU8 .screenshot-2024-01-22-131642-11-2Eg {
  margin-right: 16.3rem;
  width: 55.6rem;
  height: 28.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-metal-odW .auto-group-bzxe-wU8 .auto-group-ngva-LWG {
  margin-bottom: 7.4rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.creative-metal-odW .auto-group-bzxe-wU8 .auto-group-ngva-LWG .why-recycling-is-important--UMa {
  margin-bottom: 2.4rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.3333333333;
  letter-spacing: 0.024rem;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-metal-odW .auto-group-bzxe-wU8 .auto-group-ngva-LWG .recycling-is-crucial-for-conserving-natural-resources-and-reducing-environmental-impact-it-minimizes-the-need-for-raw-material-extraction-lowers-energy-consumption-in-manufacturing-and-decreases-the-volume-of-waste-in-landfills-by-recycling-we-contribute-to-sustainability-reduce-pollution-and-promote-a-circular-economy-aQc {
  max-width: 74.7rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.25;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  flex-shrink: 0;
}
.creative-metal-odW .auto-group-yyun-8aY {
  width: 153.6rem;
  height: 6.3rem;
  position: absolute;
  left: 0;
  top: 69.9rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.3333333333;
  letter-spacing: 0.024rem;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.creative-metal-odW .auto-group-bbfr-CaQ {
  width: 125.4rem;
  height: 39.2rem;
  position: absolute;
  left: 13.8rem;
  top: 83.5rem;
  display: flex;
  align-items: center;
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-ppve-j4Y {
  margin-right: 17.9rem;
  box-sizing: border-box;
  padding: 4.1rem 2.8rem 2.6rem 2.2rem;
  width: 30.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-ppve-j4Y .creativedog-3-2pL {
  margin: 0rem 0rem 2rem 0.5rem;
  width: 24.6rem;
  height: 25.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-ppve-j4Y .garden-gnome-735-YXn {
  margin: 0rem 0.6rem 0.5rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-ppve-j4Y .garden-gnome-735-YXn .garden-gnome-735-YXn-sub-0 {
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-ppve-j4Y .garden-gnome-735-YXn .garden-gnome-735-YXn-sub-1 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-ppve-j4Y .auto-group-neex-3cx {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-ppve-j4Y .auto-group-neex-3cx .auto-group-nyfe-z2Q {
  margin: 0rem 2.7rem 0.1rem 0rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-ppve-j4Y .auto-group-neex-3cx .auto-group-nyfe-z2Q .rectangle-888-WFe {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-ppve-j4Y .auto-group-neex-3cx .auto-group-nyfe-z2Q .add-to-cart-EhS {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-ppve-j4Y .auto-group-neex-3cx .auto-group-nyfe-z2Q .item--E5A {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 0.768rem;
  top: 0.968rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-ppve-j4Y .auto-group-neex-3cx .auto-group-tuf6-wVN {
  margin-top: 0.1rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-ppve-j4Y .auto-group-neex-3cx .auto-group-tuf6-wVN .rectangle-887-5Lg {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.5rem;
  background-color: #000000;
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-ppve-j4Y .auto-group-neex-3cx .auto-group-tuf6-wVN .vector-pJG {
  width: 1.3991rem;
  height: 1.2983rem;
  position: absolute;
  left: 1.2797rem;
  top: 0.6453rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-ppve-j4Y .auto-group-neex-3cx .auto-group-tuf6-wVN .wishlist-9LY {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.9rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-gczq-pha {
  margin-right: 17.2rem;
  box-sizing: border-box;
  padding: 3.4rem 2.3rem 2.6rem 2.5rem;
  width: 30.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-gczq-pha .candle-holder-2-LA8 {
  margin: 0rem 0.1rem 2rem 0rem;
  width: 24.4rem;
  height: 25.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-gczq-pha .reflame-ecoholder-193-Six {
  margin: 0rem 1.2rem 0.5rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-gczq-pha .reflame-ecoholder-193-Six .reflame-ecoholder-193-Six-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-gczq-pha .reflame-ecoholder-193-Six .reflame-ecoholder-193-Six-sub-1 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-gczq-pha .reflame-ecoholder-193-Six .reflame-ecoholder-193-Six-sub-2 {
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-gczq-pha .reflame-ecoholder-193-Six .reflame-ecoholder-193-Six-sub-3 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-gczq-pha .auto-group-ntms-QSp {
  margin-left: 0.2rem;
  width: calc(100% - 0.2rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-gczq-pha .auto-group-ntms-QSp .auto-group-pbly-jzt {
  margin: 0rem 2.7rem 0.1rem 0rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-gczq-pha .auto-group-ntms-QSp .auto-group-pbly-jzt .rectangle-890-TR6 {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-gczq-pha .auto-group-ntms-QSp .auto-group-pbly-jzt .add-to-cart-niG {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-gczq-pha .auto-group-ntms-QSp .auto-group-pbly-jzt .item--uXz {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 0.768rem;
  top: 0.968rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-gczq-pha .auto-group-ntms-QSp .auto-group-fx9w-EaG {
  margin-top: 0.1rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-gczq-pha .auto-group-ntms-QSp .auto-group-fx9w-EaG .rectangle-889-Ayi {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.5rem;
  background-color: #000000;
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-gczq-pha .auto-group-ntms-QSp .auto-group-fx9w-EaG .vector-K5v {
  width: 1.3991rem;
  height: 1.2983rem;
  position: absolute;
  left: 1.5477rem;
  top: 0.6453rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-gczq-pha .auto-group-ntms-QSp .auto-group-fx9w-EaG .wishlist-FVN {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 4.2rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-xuyr-wNC {
  box-sizing: border-box;
  padding: 2.1rem 2.8rem 2.7rem 2.2rem;
  width: 30.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-xuyr-wNC .creative-horse-3-eXW {
  margin: 0rem 0rem 1.1rem 0.8rem;
  width: 18.5rem;
  height: 27.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-xuyr-wNC .metallic-maverick-567-y3z {
  margin: 0rem 0.1rem 1.3rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-xuyr-wNC .metallic-maverick-567-y3z .metallic-maverick-567-y3z-sub-0 {
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-xuyr-wNC .metallic-maverick-567-y3z .metallic-maverick-567-y3z-sub-1 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-xuyr-wNC .auto-group-cp5e-YWQ {
  width: 100%;
  height: 3.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-xuyr-wNC .auto-group-cp5e-YWQ .auto-group-gjcc-Hit {
  margin-right: 2.7rem;
  width: 11.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-xuyr-wNC .auto-group-cp5e-YWQ .auto-group-gjcc-Hit .rectangle-892-pyi {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-xuyr-wNC .auto-group-cp5e-YWQ .auto-group-gjcc-Hit .add-to-cart-LhA {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-xuyr-wNC .auto-group-cp5e-YWQ .auto-group-gjcc-Hit .item--3rU {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 0.768rem;
  top: 0.968rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-xuyr-wNC .auto-group-cp5e-YWQ .auto-group-nf7s-AgC {
  width: 11.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-xuyr-wNC .auto-group-cp5e-YWQ .auto-group-nf7s-AgC .rectangle-891-7LY {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.6rem;
  background-color: #000000;
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-xuyr-wNC .auto-group-cp5e-YWQ .auto-group-nf7s-AgC .vector-Evx {
  width: 1.3991rem;
  height: 1.2983rem;
  position: absolute;
  left: 1.4172rem;
  top: 0.8453rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-metal-odW .auto-group-bbfr-CaQ .auto-group-xuyr-wNC .auto-group-cp5e-YWQ .auto-group-nf7s-AgC .wishlist-B5W {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 4.2rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-metal-odW .footer-qQx {
  width: 153.6rem;
  height: 26.6094rem;
  position: absolute;
  left: 0;
  top: 127.3rem;
}
.creative-metal-odW .footer-qQx .rectangle-3-Zbr {
  width: 153.6rem;
  height: 24.9998rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #222222;
}
.creative-metal-odW .footer-qQx .scrap-symphoy-sanctuary-aims-to-promote-innovation-in-the-digital-commerce-ecosystem-by-providing-a-platform-for-startups-and-entrepreneurs-to-develop-new-services-and-solutions-also-supports-digital-commerce-including-online-payments-e-commerce-and-financial-services-ufi {
  width: 43.7rem;
  height: 8.8rem;
  position: absolute;
  left: 12.2rem;
  top: 4.8992rem;
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
}
.creative-metal-odW .footer-qQx .frame-35-tnY {
  width: 14.4rem;
  height: 16.5rem;
  position: absolute;
  left: 117.8rem;
  top: 1.993rem;
}
.creative-metal-odW .footer-qQx .frame-35-tnY .pages-dEL {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2.25;
  letter-spacing: 0.012rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-metal-odW .footer-qQx .frame-35-tnY .frame-39-k44 {
  width: 100%;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
}
.creative-metal-odW .footer-qQx .frame-35-tnY .frame-39-k44 .about-us-tg4 {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-metal-odW .footer-qQx .frame-35-tnY .frame-39-k44 .return-policy-cc4 {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-metal-odW .footer-qQx .frame-35-tnY .frame-39-k44 .contact-us-YEp {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-metal-odW .footer-qQx .frame-35-tnY .frame-39-k44 .refund-cancellation-policies-UPN {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-metal-odW .footer-qQx .social-media-zcc {
  width: 17.362rem;
  height: 3rem;
  position: absolute;
  left: 13.018rem;
  top: 15.1109rem;
  display: flex;
  align-items: center;
}
.creative-metal-odW .footer-qQx .social-media-zcc .vector-XMe {
  margin: 0rem 4.035rem 0rem 0rem;
  width: 2.9268rem;
  height: 2.9268rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-metal-odW .footer-qQx .social-media-zcc .vector-ex4 {
  margin-right: 4.0344rem;
  width: 3.2195rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-metal-odW .footer-qQx .social-media-zcc .vector-o4G {
  margin-top: 0.0013rem;
  width: 3.1463rem;
  height: 2.6341rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-metal-odW .footer-qQx .rectangle-12-LZz {
  width: 153.6rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 20.7rem;
  background-color: #555555;
}
.creative-metal-odW .footer-qQx .frame-40-sZv {
  box-sizing: border-box;
  padding-right: 19.3667rem;
  width: 29.8667rem;
  height: 5.3094rem;
  position: absolute;
  left: 14.1rem;
  top: 21.3rem;
  display: flex;
  align-items: flex-start;
}
.creative-metal-odW .footer-qQx .frame-40-sZv .mask-group-z8k {
  margin-right: 4.5rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-metal-odW .footer-qQx .frame-40-sZv .mask-group-XeU {
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-metal-odW .footer-qQx .scrap-symphony-sanctuary-all-rights-reserved-siL {
  width: 27.4rem;
  height: 2.2rem;
  position: absolute;
  left: 114.1rem;
  top: 22.1133rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-metal-odW .footer-qQx .terms-condition-privacy-policy-ZbA {
  width: 18.5rem;
  height: 2.2rem;
  position: absolute;
  left: 65.9rem;
  top: 22.1133rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-metal-odW .item--fPJ {
  box-sizing: border-box;
  padding: 0.4rem 5.15rem;
  width: 26.8rem;
  height: 5rem;
  position: absolute;
  left: 64.7rem;
  top: 60.8rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3333333333;
  letter-spacing: 0.024rem;
  color: #fff7e9;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
  background-color: #f16713;
  border-radius: 5rem;
}
