
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.creative-metal-2-GKe {
  width: 100%;
  height: 70.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.creative-metal-2-GKe .black1-67-abE {
  width: 153.6rem;
  height: 68.5rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  object-fit: cover;
  vertical-align: top;
}
.creative-metal-2-GKe .rectangle-901-7LG {
  width: 153.6rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 65.9rem;
  background-color: #5b5b5b;
}
.creative-metal-2-GKe .item--AZS {
  box-sizing: border-box;
  padding-right: 19.3667rem;
  width: 29.8667rem;
  height: 5.3094rem;
  position: absolute;
  left: 14.1rem;
  top: 66.3rem;
  display: flex;
  align-items: flex-start;
}
.creative-metal-2-GKe .item--AZS .mask-group-GMa {
  margin-right: 4.5rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-metal-2-GKe .item--AZS .mask-group-ocQ {
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-metal-2-GKe .terms-condition-privacy-policy-kXe {
  width: 18.5rem;
  height: 2.2rem;
  position: absolute;
  left: 65.9rem;
  top: 66.8rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-metal-2-GKe .scrap-symphony-sanctuary-all-rights-reserved-Ehi {
  width: 27.4rem;
  height: 2.2rem;
  position: absolute;
  left: 114.1rem;
  top: 66.8rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-metal-2-GKe .scrap3-removebg-preview-68-W9S {
  width: 4.7467rem;
  height: 4rem;
  position: absolute;
  left: 2.4rem;
  top: 5.1rem;
  object-fit: cover;
  vertical-align: top;
}
.creative-metal-2-GKe .scrap-symphony-sanctuary-E5S {
  width: 16.2rem;
  height: 2.1rem;
  position: absolute;
  left: 7.25rem;
  top: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4825;
  letter-spacing: 0.028rem;
  color: #f7fbff;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-metal-2-GKe .home-scrap-section-creative-section-about-us-contact-us-uhN {
  width: 51.9rem;
  height: 2.5rem;
  position: absolute;
  left: 35.4rem;
  top: 6.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.016rem;
  color: #f6fbff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-metal-2-GKe .rectangle-867-PcY {
  width: 37.7rem;
  height: 3.1rem;
  position: absolute;
  left: 91.4rem;
  top: 6.3rem;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
  background-color: #f6fbff;
}
.creative-metal-2-GKe .layer1-Hxp {
  width: 3.2rem;
  height: 3.4078rem;
  position: absolute;
  left: 143.4rem;
  top: 6rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-metal-2-GKe .item--29i {
  width: 3.7029rem;
  height: 3.0931rem;
  position: absolute;
  left: 137.7297rem;
  top: 6.0844rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-metal-2-GKe .rectangle-901-9VE {
  width: 104.2rem;
  height: 42rem;
  position: absolute;
  left: 45.7rem;
  top: 17.9rem;
  background-color: #ffffff;
  border-radius: 5rem;
}
.creative-metal-2-GKe .vector-GZr {
  width: 3.4rem;
  height: 3.2rem;
  position: absolute;
  left: 132.4rem;
  top: 6rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-metal-2-GKe .frame-427319600-1GY {
  box-sizing: border-box;
  padding: 1rem 3.95rem;
  width: 34.7rem;
  height: 9.9rem;
  position: absolute;
  left: 50.1rem;
  top: 46.9rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  background-color: #f8fafc;
  border-radius: 1.5rem;
}
.creative-metal-2-GKe .frame-427319600-1GY .frame-427319596-JmS {
  margin: 1.25rem 1.9rem 1.25rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.creative-metal-2-GKe .frame-427319600-1GY .frame-427319596-JmS .group-17-2SY {
  margin: 0rem 0.1rem 0.5rem 0rem;
  width: 2.8845rem;
  height: 2.1997rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-metal-2-GKe .frame-427319600-1GY .frame-427319596-JmS .free-delivery-Yfn {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.7;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-metal-2-GKe .frame-427319600-1GY .line-97-gGC {
  margin-right: 2rem;
  width: 0rem;
  height: 7.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-metal-2-GKe .frame-427319600-1GY .frame-427319598-Rja {
  margin: 1.25rem 1.9rem 1.25rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.creative-metal-2-GKe .frame-427319600-1GY .frame-427319598-Rja .group-18-xUc {
  margin: 0rem 0.1rem 0.5rem 0rem;
  width: 2.2003rem;
  height: 2.1999rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-metal-2-GKe .frame-427319600-1GY .frame-427319598-Rja .pay-on-delivery-gvQ {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.7;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-metal-2-GKe .frame-427319600-1GY .line-98-pmi {
  margin-right: 2rem;
  width: 0rem;
  height: 7.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-metal-2-GKe .frame-427319600-1GY .auto-group-sk8c-y8p {
  margin-bottom: 1.2rem;
  box-sizing: border-box;
  padding-top: 1.2rem;
  width: 5.3rem;
  height: 6.7rem;
  flex-shrink: 0;
}
.creative-metal-2-GKe .frame-427319600-1GY .auto-group-sk8c-y8p .frame-427319599-VN4 {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.creative-metal-2-GKe .frame-427319600-1GY .auto-group-sk8c-y8p .frame-427319599-VN4 .group-19-38g {
  margin: 0rem 0rem 0.5rem 0rem;
  width: 2.2rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-metal-2-GKe .frame-427319600-1GY .auto-group-sk8c-y8p .frame-427319599-VN4 .days-returnable-xWY {
  max-width: 5.3rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.creative-metal-2-GKe .line-144-Eix {
  width: 0;
  height: 37.5rem;
  position: absolute;
  left: 89rem;
  top: 19.6rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-metal-2-GKe .rectangle-899-ywS {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 69rem;
  top: 36.5rem;
  background-color: #000000;
}
.creative-metal-2-GKe .add-to-cart-7nk {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 72.7rem;
  top: 35.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-metal-2-GKe .item--RoS {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 69.768rem;
  top: 36.768rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-metal-2-GKe .rectangle-900-NCt {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 69rem;
  top: 40.2rem;
  background-color: #000000;
}
.creative-metal-2-GKe .vector-JsE {
  width: 1.6rem;
  height: 1.4rem;
  position: absolute;
  left: 70.4rem;
  top: 40.5rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-metal-2-GKe .wishlist-FXa {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 72.9rem;
  top: 39.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-metal-2-GKe .frame-427319601-xgt {
  width: 56.9rem;
  height: 16.2rem;
  position: absolute;
  left: 91.4rem;
  top: 40.4rem;
  display: flex;
  align-items: center;
}
.creative-metal-2-GKe .frame-427319601-xgt .group-21-HUG {
  width: 27.6rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.creative-metal-2-GKe .frame-427319601-xgt .group-21-HUG .content-2we {
  width: 15.1rem;
  height: 11.3rem;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
}
.creative-metal-2-GKe .frame-427319601-xgt .group-21-HUG .content-2we .features--B3r {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.016rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-metal-2-GKe .frame-427319601-xgt .group-21-HUG .content-2we .recycled-chic-stylish-repurposing-eco-friendly-ambiance-sustainable-elegance-J8U {
  max-width: 15.1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.creative-metal-2-GKe .frame-427319601-xgt .group-21-HUG .rectangle-113-Pfi {
  width: 27.6rem;
  height: 16.2rem;
  position: absolute;
  left: 0;
  top: 0;
  border: dashed 0.1rem #dddddd;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.creative-metal-2-GKe .frame-427319601-xgt .group-22-7bi {
  box-sizing: border-box;
  padding: 1.5rem 1.4rem 1rem 1.4rem;
  height: 100%;
  border: dashed 0.1rem #dddddd;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.creative-metal-2-GKe .frame-427319601-xgt .group-22-7bi .whatsapp-image-2024-01-31-at-443-13-f7S {
  width: 26.5rem;
  height: 13.7rem;
  object-fit: cover;
  vertical-align: top;
}
.creative-metal-2-GKe .item--NGk {
  box-sizing: border-box;
  padding: 0.05rem 2.7rem 0.05rem 1rem;
  width: 9.4rem;
  height: 2.2rem;
  position: absolute;
  left: 135.2rem;
  top: 12.7rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
  background-color: #f16713;
  border-radius: 5rem;
}
.creative-metal-2-GKe .item--NGk .auto-group-4dbi-4fN {
  margin-right: 0.6rem;
  width: 1.1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-metal-2-GKe .item--NGk .back-Cma {
  margin-bottom: 0.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.1875;
  letter-spacing: 0.016rem;
  color: #fff7e9;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-metal-2-GKe .group-187-6c4 {
  width: 2rem;
  height: 2.6383rem;
  position: absolute;
  left: 92.4rem;
  top: 6.5rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-metal-2-GKe .search-31W {
  width: 5.9rem;
  height: 2.5rem;
  position: absolute;
  left: 95rem;
  top: 6.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  letter-spacing: 0.018rem;
  color: #555555;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-metal-2-GKe .price-w6t {
  box-sizing: border-box;
  padding: 0.4rem 0.4rem 0.4rem 1.2rem;
  width: 14.5rem;
  height: 6.8rem;
  position: absolute;
  left: 51.3rem;
  top: 36.5rem;
  display: flex;
  align-items: flex-start;
  border: dashed 0.1rem #ff731d;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.creative-metal-2-GKe .price-w6t .text-SZS {
  margin: 0.1rem 2.3rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.creative-metal-2-GKe .price-w6t .text-SZS .price-ypG {
  margin-bottom: 0.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #222222;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-metal-2-GKe .price-w6t .text-SZS .item-193-tgL {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.6875;
  letter-spacing: 0.032rem;
  color: #ff731d;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-metal-2-GKe .price-w6t .price-icon-Qua {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-metal-2-GKe .group-23-vsv {
  box-sizing: border-box;
  padding: 2.9rem 2.974rem 2.3rem 1.526rem;
  width: 56.9rem;
  height: 16.5rem;
  position: absolute;
  left: 91.4rem;
  top: 20.5rem;
  border: dashed 0.1rem #dddddd;
  border-radius: 0.5rem;
}
.creative-metal-2-GKe .group-23-vsv .description-e3E {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.creative-metal-2-GKe .group-23-vsv .description-e3E .description--zsn {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.016rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-metal-2-GKe .group-23-vsv .description-e3E .a-chic-candle-holder-crafted-from-recycled-materials-adding-a-touch-of-sustainability-to-your-ambiance-this-eco-friendly-accessory-not-only-enhances-your-decor-but-also-showcases-the-beauty-of-repurposing-metals-for-functional-and-stylish-home-accents-8UC {
  max-width: 52.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.creative-metal-2-GKe .candle-holder-2-86p {
  width: 37.7rem;
  height: 38.9rem;
  position: absolute;
  left: 4.8rem;
  top: 19.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
}
.creative-metal-2-GKe .group-166-3ja {
  width: 19.6rem;
  height: 11.5rem;
  position: absolute;
  left: 51.2rem;
  top: 21.9rem;
}
.creative-metal-2-GKe .group-166-3ja .reflame-ecoholder-aUc {
  margin-bottom: 1.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.02rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-metal-2-GKe .group-166-3ja .product-id-624lp5-VrU {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-metal-2-GKe .group-166-3ja .seller-lokesh-DnU {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-metal-2-GKe .group-166-3ja .published-on-14-june-2022-xEG {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
