
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.creative-plastic-3-Pec {
  width: 100%;
  height: 70.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.creative-plastic-3-Pec .black1-67-WDS {
  width: 153.6rem;
  height: 68.5rem;
  position: absolute;
  left: 0;
  top: 1.7rem;
  object-fit: cover;
  vertical-align: top;
}
.creative-plastic-3-Pec .rectangle-901-RbJ {
  width: 153.6rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 65.9rem;
  background-color: #5b5b5b;
}
.creative-plastic-3-Pec .item--xbE {
  box-sizing: border-box;
  padding-right: 19.3667rem;
  width: 29.8667rem;
  height: 5.3094rem;
  position: absolute;
  left: 14.1rem;
  top: 66.3rem;
  display: flex;
  align-items: flex-start;
}
.creative-plastic-3-Pec .item--xbE .mask-group-4uA {
  margin-right: 4.5rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-plastic-3-Pec .item--xbE .mask-group-CkU {
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-plastic-3-Pec .terms-condition-privacy-policy-M7a {
  width: 18.5rem;
  height: 2.2rem;
  position: absolute;
  left: 65.9rem;
  top: 66.8rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-plastic-3-Pec .scrap-symphony-sanctuary-all-rights-reserved-2Di {
  width: 27.4rem;
  height: 2.2rem;
  position: absolute;
  left: 114.1rem;
  top: 66.8rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-plastic-3-Pec .scrap3-removebg-preview-68-Vsz {
  width: 4.7467rem;
  height: 4rem;
  position: absolute;
  left: 2.4rem;
  top: 5.1rem;
  object-fit: cover;
  vertical-align: top;
}
.creative-plastic-3-Pec .scrap-symphony-sanctuary-RWk {
  width: 16.2rem;
  height: 2.1rem;
  position: absolute;
  left: 7.25rem;
  top: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4825;
  letter-spacing: 0.028rem;
  color: #f7fbff;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-plastic-3-Pec .home-scrap-section-creative-section-about-us-contact-us-hjA {
  width: 51.9rem;
  height: 2.5rem;
  position: absolute;
  left: 35.4rem;
  top: 6.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.016rem;
  color: #f6fbff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-plastic-3-Pec .rectangle-867-ywa {
  width: 37.7rem;
  height: 3.1rem;
  position: absolute;
  left: 91.4rem;
  top: 6.3rem;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
  background-color: #f6fbff;
}
.creative-plastic-3-Pec .layer1-V9E {
  width: 3.2rem;
  height: 3.4078rem;
  position: absolute;
  left: 143.4rem;
  top: 6rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-plastic-3-Pec .item--DL8 {
  width: 3.7029rem;
  height: 3.0931rem;
  position: absolute;
  left: 137.7297rem;
  top: 6.0844rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-plastic-3-Pec .rectangle-901-YdJ {
  width: 104.2rem;
  height: 42rem;
  position: absolute;
  left: 45.7rem;
  top: 17.9rem;
  background-color: #ffffff;
  border-radius: 5rem;
}
.creative-plastic-3-Pec .vector-fhv {
  width: 3.4rem;
  height: 3.2rem;
  position: absolute;
  left: 132.4rem;
  top: 6rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-plastic-3-Pec .price-1Wt {
  box-sizing: border-box;
  padding: 0.4rem 0.4rem 0.4rem 1.2rem;
  width: 14.5rem;
  height: 6.8rem;
  position: absolute;
  left: 50.1rem;
  top: 36rem;
  display: flex;
  align-items: flex-start;
  border: dashed 0.1rem #ff731d;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.creative-plastic-3-Pec .price-1Wt .text-KGg {
  margin: 0.1rem 2.3rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.creative-plastic-3-Pec .price-1Wt .text-KGg .price-FRE {
  margin-bottom: 0.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #222222;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-plastic-3-Pec .price-1Wt .text-KGg .item-220-Zwi {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.6875;
  letter-spacing: 0.032rem;
  color: #ff731d;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-plastic-3-Pec .price-1Wt .price-icon-tUC {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-plastic-3-Pec .frame-427319600-btQ {
  box-sizing: border-box;
  padding: 1rem 3.95rem;
  width: 34.7rem;
  height: 9.9rem;
  position: absolute;
  left: 50.1rem;
  top: 46.9rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  background-color: #f8fafc;
  border-radius: 1.5rem;
}
.creative-plastic-3-Pec .frame-427319600-btQ .frame-427319596-764 {
  margin: 1.25rem 1.9rem 1.25rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.creative-plastic-3-Pec .frame-427319600-btQ .frame-427319596-764 .group-17-2ip {
  margin: 0rem 0.1rem 0.5rem 0rem;
  width: 2.8845rem;
  height: 2.1997rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-plastic-3-Pec .frame-427319600-btQ .frame-427319596-764 .free-delivery-Yx4 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.7;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-plastic-3-Pec .frame-427319600-btQ .line-97-H8x {
  margin-right: 2rem;
  width: 0rem;
  height: 7.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-plastic-3-Pec .frame-427319600-btQ .frame-427319598-pPn {
  margin: 1.25rem 1.9rem 1.25rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.creative-plastic-3-Pec .frame-427319600-btQ .frame-427319598-pPn .group-18-wUQ {
  margin: 0rem 0.1rem 0.5rem 0rem;
  width: 2.2003rem;
  height: 2.1999rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-plastic-3-Pec .frame-427319600-btQ .frame-427319598-pPn .pay-on-delivery-BtY {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.7;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-plastic-3-Pec .frame-427319600-btQ .line-98-KUx {
  margin-right: 2rem;
  width: 0rem;
  height: 7.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-plastic-3-Pec .frame-427319600-btQ .auto-group-xkyj-4xL {
  margin-bottom: 1.2rem;
  box-sizing: border-box;
  padding-top: 1.2rem;
  width: 5.3rem;
  height: 6.7rem;
  flex-shrink: 0;
}
.creative-plastic-3-Pec .frame-427319600-btQ .auto-group-xkyj-4xL .frame-427319599-bxG {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.creative-plastic-3-Pec .frame-427319600-btQ .auto-group-xkyj-4xL .frame-427319599-bxG .group-19-ZeC {
  margin: 0rem 0rem 0.5rem 0rem;
  width: 2.2rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-plastic-3-Pec .frame-427319600-btQ .auto-group-xkyj-4xL .frame-427319599-bxG .days-returnable-twN {
  max-width: 5.3rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.creative-plastic-3-Pec .line-144-yT2 {
  width: 0;
  height: 37.5rem;
  position: absolute;
  left: 89rem;
  top: 19.6rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-plastic-3-Pec .rectangle-899-7JL {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 69rem;
  top: 36.5rem;
  background-color: #000000;
}
.creative-plastic-3-Pec .add-to-cart-SLc {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 72.7rem;
  top: 35.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-plastic-3-Pec .item--9kp {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 69.768rem;
  top: 36.768rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-plastic-3-Pec .rectangle-900-5Pa {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 69rem;
  top: 40.2rem;
  background-color: #000000;
}
.creative-plastic-3-Pec .vector-pMA {
  width: 1.6rem;
  height: 1.4rem;
  position: absolute;
  left: 70.4rem;
  top: 40.5rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-plastic-3-Pec .wishlist-ZZe {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 72.9rem;
  top: 39.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-plastic-3-Pec .group-168-g8U {
  box-sizing: border-box;
  padding: 2.179rem 0.709rem 1.498rem 0.709rem;
  width: 56.8rem;
  height: 14.9773rem;
  position: absolute;
  left: 91.4rem;
  top: 20.9rem;
  border: dashed 0.1rem #dddddd;
  border-radius: 0.5rem;
}
.creative-plastic-3-Pec .group-168-g8U .description-aje {
  width: 54.1rem;
  height: 100%;
}
.creative-plastic-3-Pec .group-168-g8U .description-aje .description--waC {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.016rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-plastic-3-Pec .group-168-g8U .description-aje .a-whimsical-and-cute-pig-shaped-piggy-bank-crafted-from-upcycled-plastic-this-eco-friendly-savings-companion-not-only-adds-a-touch-of-charm-to-your-space-but-also-promotes-sustainability-in-a-playful-way-U4L {
  max-width: 54.1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.creative-plastic-3-Pec .frame-427319601-5Zv {
  width: 56.9rem;
  height: 16.2rem;
  position: absolute;
  left: 91.4rem;
  top: 40.4rem;
  display: flex;
  align-items: center;
}
.creative-plastic-3-Pec .frame-427319601-5Zv .group-21-DAL {
  width: 27.6rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.creative-plastic-3-Pec .frame-427319601-5Zv .group-21-DAL .content-ArG {
  width: 20.9rem;
  height: 11.3rem;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
}
.creative-plastic-3-Pec .frame-427319601-5Zv .group-21-DAL .content-ArG .features--7Fi {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.016rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-plastic-3-Pec .frame-427319601-5Zv .group-21-DAL .content-ArG .harmonious-blend-of-nature-and-recycled-materials-durable-and-weather-resistant-artistic-and-petite-design-eFe {
  max-width: 20.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.creative-plastic-3-Pec .frame-427319601-5Zv .group-21-DAL .rectangle-113-XKS {
  width: 27.6rem;
  height: 16.2rem;
  position: absolute;
  left: 0;
  top: 0;
  border: dashed 0.1rem #dddddd;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.creative-plastic-3-Pec .frame-427319601-5Zv .group-22-SxC {
  box-sizing: border-box;
  padding: 1rem 0.8rem 1rem 0.7rem;
  height: 100%;
  border: dashed 0.1rem #dddddd;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.creative-plastic-3-Pec .frame-427319601-5Zv .group-22-SxC .whatsapp-image-2024-01-31-at-436-22-a2p {
  width: 27.8rem;
  height: 14.2rem;
  object-fit: cover;
  vertical-align: top;
}
.creative-plastic-3-Pec .item--TsJ {
  box-sizing: border-box;
  padding: 0.05rem 2.7rem 0.05rem 1rem;
  width: 9.4rem;
  height: 2.2rem;
  position: absolute;
  left: 135.2rem;
  top: 12.7rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
  background-color: #f16713;
  border-radius: 5rem;
}
.creative-plastic-3-Pec .item--TsJ .auto-group-j35e-xZA {
  margin-right: 0.6rem;
  width: 1.1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-plastic-3-Pec .item--TsJ .back-gzx {
  margin-bottom: 0.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.1875;
  letter-spacing: 0.016rem;
  color: #fff7e9;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-plastic-3-Pec .group-187-no6 {
  width: 2rem;
  height: 2.6383rem;
  position: absolute;
  left: 92.1rem;
  top: 6.5rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-plastic-3-Pec .search-8MA {
  width: 5.9rem;
  height: 2.5rem;
  position: absolute;
  left: 94.7rem;
  top: 6.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  letter-spacing: 0.018rem;
  color: #555555;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-plastic-3-Pec .creative-bottle-6-2-qWU {
  width: 40.2rem;
  height: 37.7rem;
  position: absolute;
  left: 2.4rem;
  top: 20.6rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
}
.creative-plastic-3-Pec .group-27-ZBa {
  width: 22rem;
  height: 11.5rem;
  position: absolute;
  left: 50.1rem;
  top: 21.9rem;
}
.creative-plastic-3-Pec .group-27-ZBa .piggy-upcycled-bank-6BW {
  margin-bottom: 1.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.02rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-plastic-3-Pec .group-27-ZBa .product-id-648hu6-cQk {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-plastic-3-Pec .group-27-ZBa .seller-ram-8tt {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-plastic-3-Pec .group-27-ZBa .published-on-17-december-2020-ftp {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
