
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.creative-plastic-2-c9i {
  width: 100%;
  height: 70.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.creative-plastic-2-c9i .black1-67-7sA {
  width: 153.6rem;
  height: 68.5rem;
  position: absolute;
  left: 0;
  top: 1.7rem;
  object-fit: cover;
  vertical-align: top;
}
.creative-plastic-2-c9i .rectangle-901-FCg {
  width: 153.6rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 65.9rem;
  background-color: #5b5b5b;
}
.creative-plastic-2-c9i .item--AqS {
  box-sizing: border-box;
  padding-right: 19.3667rem;
  width: 29.8667rem;
  height: 5.3094rem;
  position: absolute;
  left: 14.1rem;
  top: 66.3rem;
  display: flex;
  align-items: flex-start;
}
.creative-plastic-2-c9i .item--AqS .mask-group-sE4 {
  margin-right: 4.5rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-plastic-2-c9i .item--AqS .mask-group-1LG {
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-plastic-2-c9i .terms-condition-privacy-policy-9xG {
  width: 18.5rem;
  height: 2.2rem;
  position: absolute;
  left: 65.9rem;
  top: 66.8rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-plastic-2-c9i .scrap-symphony-sanctuary-all-rights-reserved-qaC {
  width: 27.4rem;
  height: 2.2rem;
  position: absolute;
  left: 114.1rem;
  top: 66.8rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-plastic-2-c9i .scrap3-removebg-preview-68-83W {
  width: 4.7467rem;
  height: 4rem;
  position: absolute;
  left: 2.4rem;
  top: 5.1rem;
  object-fit: cover;
  vertical-align: top;
}
.creative-plastic-2-c9i .scrap-symphony-sanctuary-3gG {
  width: 16.2rem;
  height: 2.1rem;
  position: absolute;
  left: 7.25rem;
  top: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4825;
  letter-spacing: 0.028rem;
  color: #f7fbff;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-plastic-2-c9i .home-scrap-section-creative-section-about-us-contact-us-8xc {
  width: 51.9rem;
  height: 2.5rem;
  position: absolute;
  left: 35.4rem;
  top: 6.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.016rem;
  color: #f6fbff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-plastic-2-c9i .rectangle-867-s32 {
  width: 37.7rem;
  height: 3.1rem;
  position: absolute;
  left: 91.4rem;
  top: 6.3rem;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
  background-color: #f6fbff;
}
.creative-plastic-2-c9i .layer1-AXv {
  width: 3.2rem;
  height: 3.4078rem;
  position: absolute;
  left: 143.4rem;
  top: 6rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-plastic-2-c9i .item--tD2 {
  width: 3.7029rem;
  height: 3.0931rem;
  position: absolute;
  left: 137.7297rem;
  top: 6.0844rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-plastic-2-c9i .rectangle-901-Qx4 {
  width: 104.2rem;
  height: 42rem;
  position: absolute;
  left: 45.7rem;
  top: 17.9rem;
  background-color: #ffffff;
  border-radius: 5rem;
}
.creative-plastic-2-c9i .vector-LKv {
  width: 3.4rem;
  height: 3.2rem;
  position: absolute;
  left: 132.4rem;
  top: 6rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-plastic-2-c9i .frame-427319600-GzG {
  box-sizing: border-box;
  padding: 1rem 3.95rem;
  width: 34.7rem;
  height: 9.9rem;
  position: absolute;
  left: 50.1rem;
  top: 46.9rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  background-color: #f8fafc;
  border-radius: 1.5rem;
}
.creative-plastic-2-c9i .frame-427319600-GzG .frame-427319596-aVA {
  margin: 1.25rem 1.9rem 1.25rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.creative-plastic-2-c9i .frame-427319600-GzG .frame-427319596-aVA .group-17-hJt {
  margin: 0rem 0.1rem 0.5rem 0rem;
  width: 2.8845rem;
  height: 2.1997rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-plastic-2-c9i .frame-427319600-GzG .frame-427319596-aVA .free-delivery-2MA {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.7;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-plastic-2-c9i .frame-427319600-GzG .line-97-kHA {
  margin-right: 2rem;
  width: 0rem;
  height: 7.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-plastic-2-c9i .frame-427319600-GzG .frame-427319598-Hnt {
  margin: 1.25rem 1.9rem 1.25rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.creative-plastic-2-c9i .frame-427319600-GzG .frame-427319598-Hnt .group-18-1yn {
  margin: 0rem 0.1rem 0.5rem 0rem;
  width: 2.2003rem;
  height: 2.1999rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-plastic-2-c9i .frame-427319600-GzG .frame-427319598-Hnt .pay-on-delivery-LWG {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.7;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-plastic-2-c9i .frame-427319600-GzG .line-98-foS {
  margin-right: 2rem;
  width: 0rem;
  height: 7.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-plastic-2-c9i .frame-427319600-GzG .auto-group-rejg-RGp {
  margin-bottom: 1.2rem;
  box-sizing: border-box;
  padding-top: 1.2rem;
  width: 5.3rem;
  height: 6.7rem;
  flex-shrink: 0;
}
.creative-plastic-2-c9i .frame-427319600-GzG .auto-group-rejg-RGp .frame-427319599-jHW {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.creative-plastic-2-c9i .frame-427319600-GzG .auto-group-rejg-RGp .frame-427319599-jHW .group-19-56U {
  margin: 0rem 0rem 0.5rem 0rem;
  width: 2.2rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-plastic-2-c9i .frame-427319600-GzG .auto-group-rejg-RGp .frame-427319599-jHW .days-returnable-CRz {
  max-width: 5.3rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.creative-plastic-2-c9i .line-144-U8c {
  width: 0;
  height: 37.5rem;
  position: absolute;
  left: 89rem;
  top: 19.6rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-plastic-2-c9i .rectangle-899-QY4 {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 69rem;
  top: 36.5rem;
  background-color: #000000;
}
.creative-plastic-2-c9i .add-to-cart-k68 {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 72.7rem;
  top: 35.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-plastic-2-c9i .item--Sje {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 69.768rem;
  top: 36.768rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-plastic-2-c9i .rectangle-900-yDn {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 69rem;
  top: 40.2rem;
  background-color: #000000;
}
.creative-plastic-2-c9i .vector-gP6 {
  width: 1.6rem;
  height: 1.4rem;
  position: absolute;
  left: 70.4rem;
  top: 40.5rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-plastic-2-c9i .wishlist-nh2 {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 72.9rem;
  top: 39.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-plastic-2-c9i .group-168-syN {
  width: 56.8rem;
  height: 14.9773rem;
  position: absolute;
  left: 91.4rem;
  top: 20.9rem;
  border: dashed 0.1rem #dddddd;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.creative-plastic-2-c9i .group-168-syN .description-cRA {
  width: 9.6rem;
  height: 5.6rem;
  position: absolute;
  left: 0.7094rem;
  top: 2.1789rem;
}
.creative-plastic-2-c9i .group-168-syN .description-cRA .description--wTS {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.016rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-plastic-2-c9i .group-168-syN .description-cRA .item--5Jk {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-plastic-2-c9i .group-168-syN .a-versatile-bag-handwoven-from-repurposed-plastic-offering-both-style-and-sustainability-this-eco-friendly-accessory-is-perfect-for-carrying-essentials-while-making-a-positive-impact-on-the-environment-okY {
  width: 52.8rem;
  height: 5.7rem;
  position: absolute;
  left: 0.7rem;
  top: 5.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.creative-plastic-2-c9i .frame-427319601-o8G {
  width: 56.9rem;
  height: 16.2rem;
  position: absolute;
  left: 91.4rem;
  top: 40.4rem;
  display: flex;
  align-items: center;
}
.creative-plastic-2-c9i .frame-427319601-o8G .group-21-j1v {
  width: 27.6rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.creative-plastic-2-c9i .frame-427319601-o8G .group-21-j1v .content-HJL {
  width: 16.2rem;
  height: 9.4rem;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
}
.creative-plastic-2-c9i .frame-427319601-o8G .group-21-j1v .content-HJL .features--1EL {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.016rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-plastic-2-c9i .frame-427319601-o8G .group-21-j1v .content-HJL .positive-social-impact-spacious-and-functional-versatility-in-design-L1i {
  max-width: 16.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.creative-plastic-2-c9i .frame-427319601-o8G .group-21-j1v .rectangle-113-EMz {
  width: 27.6rem;
  height: 16.2rem;
  position: absolute;
  left: 0;
  top: 0;
  border: dashed 0.1rem #dddddd;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.creative-plastic-2-c9i .frame-427319601-o8G .group-22-kr8 {
  width: 29.3rem;
  height: 100%;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.creative-plastic-2-c9i .frame-427319601-o8G .group-22-kr8 .rectangle-114-KPS {
  width: 100%;
  height: 16.2rem;
  border: dashed 0.1rem #dddddd;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.creative-plastic-2-c9i .item--eRi {
  box-sizing: border-box;
  padding: 0.05rem 2.7rem 0.05rem 1rem;
  width: 9.4rem;
  height: 2.2rem;
  position: absolute;
  left: 135.2rem;
  top: 12.7rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
  background-color: #f16713;
  border-radius: 5rem;
}
.creative-plastic-2-c9i .item--eRi .auto-group-jdzv-w9v {
  margin-right: 0.6rem;
  width: 1.1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-plastic-2-c9i .item--eRi .back-Gxt {
  margin-bottom: 0.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.1875;
  letter-spacing: 0.016rem;
  color: #fff7e9;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-plastic-2-c9i .group-22-mek {
  box-sizing: border-box;
  padding: 1.4rem 1rem 2.2rem 1rem;
  width: 29.2rem;
  height: 16.2rem;
  position: absolute;
  left: 119rem;
  top: 40.5rem;
  border: dashed 0.1rem #dddddd;
  border-radius: 0.5rem;
}
.creative-plastic-2-c9i .group-22-mek .whatsapp-image-2024-01-31-at-436-5-UZA {
  width: 27.2rem;
  height: 12.6rem;
  object-fit: cover;
  vertical-align: top;
}
.creative-plastic-2-c9i .group-187-ZKi {
  width: 2rem;
  height: 2.6383rem;
  position: absolute;
  left: 92.1rem;
  top: 6.5rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-plastic-2-c9i .search-gv8 {
  width: 5.9rem;
  height: 2.5rem;
  position: absolute;
  left: 94.7rem;
  top: 6.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  letter-spacing: 0.018rem;
  color: #555555;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-plastic-2-c9i .price-nTN {
  box-sizing: border-box;
  padding: 0.4rem 0.4rem 0.4rem 1.2rem;
  width: 14.5rem;
  height: 6.8rem;
  position: absolute;
  left: 50.1rem;
  top: 35.1rem;
  display: flex;
  align-items: flex-start;
  border: dashed 0.1rem #ff731d;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.creative-plastic-2-c9i .price-nTN .text-sji {
  margin: 0.1rem 2.3rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.creative-plastic-2-c9i .price-nTN .text-sji .price-1qv {
  margin-bottom: 0.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #222222;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-plastic-2-c9i .price-nTN .text-sji .item-574-wja {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.6875;
  letter-spacing: 0.032rem;
  color: #ff731d;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-plastic-2-c9i .price-nTN .price-icon-UDi {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-plastic-2-c9i .screenshot-2024-01-24-204939-2-CQc {
  width: 35.6rem;
  height: 38.7rem;
  position: absolute;
  left: 5.4rem;
  top: 19.6rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
}
.creative-plastic-2-c9i .group-27-7Gg {
  width: 22.1rem;
  height: 12.6rem;
  position: absolute;
  left: 50.1rem;
  top: 20.6rem;
  row-gap: 1.4rem;
  display: flex;
  flex-direction: column;
}
.creative-plastic-2-c9i .group-27-7Gg .ecoweave-dkp {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.02rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-plastic-2-c9i .group-27-7Gg .product-id-041mr6-NTW {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-plastic-2-c9i .group-27-7Gg .seller-pooja-hkg {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-plastic-2-c9i .group-27-7Gg .published-on-09-november-2020-qrt {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
