
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.5rem;
}.creative-paper-y4x {
  width: 100%;
  height: 152.3rem;
  position: relative;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/black1-66-bg-js2.png');
  background-color: #ffffff;
}
.creative-paper-y4x .item--UnQ {
  box-sizing: border-box;
  padding: 1rem 69.2rem;
  width: 153.6rem;
  height: 4.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #777777;
}
.creative-paper-y4x .item--UnQ .frame-427319517-no6 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.creative-paper-y4x .item--UnQ .frame-427319517-no6 .group-2-wAC {
  margin: 0rem 1rem 0rem 0rem;
  width: 2.2rem;
  height: 1.6422rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-paper-y4x .item--UnQ .frame-427319517-no6 .made-for-india-3yv {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #ffffff;
  font-family: Merriweather, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-paper-y4x .auto-group-syau-Mji {
  width: 146.2029rem;
  height: 4.5832rem;
  position: absolute;
  left: 3rem;
  top: 8.1rem;
  display: flex;
  align-items: center;
}
.creative-paper-y4x .auto-group-syau-Mji .scrap3-removebg-preview-59-g1J {
  margin: 0rem 0.003rem 0.583rem 0rem;
  width: 4.7467rem;
  height: 4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-paper-y4x .auto-group-syau-Mji .scrap-symphony-sanctuary-ym6 {
  margin: 0rem 13.35rem 0.083rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4825;
  letter-spacing: 0.028rem;
  color: #f7fbff;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-paper-y4x .auto-group-syau-Mji .home-scrap-section-creative-section-about-us-contact-us-ecL {
  margin: 0.717rem 5.2rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.016rem;
  color: #f6fbff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-paper-y4x .auto-group-syau-Mji .auto-group-pxxc-j7z {
  margin: 1.1rem 1.713rem 0.383rem 0rem;
  box-sizing: border-box;
  padding: 0.3rem 27.9rem 0.3rem 0.838rem;
  height: calc(100% - 1.4832rem);
  display: flex;
  align-items: center;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
  background-color: #f6fbff;
  flex-shrink: 0;
}
.creative-paper-y4x .auto-group-syau-Mji .auto-group-pxxc-j7z .group-1rC {
  margin: 0.073rem 1.062rem 0rem 0rem;
  width: 2rem;
  height: 1.6rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-paper-y4x .auto-group-syau-Mji .auto-group-pxxc-j7z .search-LNg {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  letter-spacing: 0.018rem;
  color: #555555;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-paper-y4x .auto-group-syau-Mji .vector-R9E {
  margin: 0.688rem 1.62rem 0rem 0rem;
  width: 3.9974rem;
  height: 3.8949rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-paper-y4x .auto-group-syau-Mji .item--8ZS {
  margin: 0.679rem 2.073rem 0rem 0rem;
  width: 3.7029rem;
  height: 3.0931rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-paper-y4x .auto-group-syau-Mji .layer1-3wJ {
  margin-top: 0.6883rem;
  width: 3.9974rem;
  height: 3.8949rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-paper-y4x .auto-group-l3ye-C3W {
  box-sizing: border-box;
  padding: 3.8rem 4.4rem 3.8rem 2.6rem;
  width: 153.6rem;
  height: 36.3rem;
  position: absolute;
  left: 0;
  top: 20.4rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.creative-paper-y4x .auto-group-l3ye-C3W .screenshot-2024-01-22-131642-11-68t {
  margin-right: 16.3rem;
  width: 55.6rem;
  height: 28.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-paper-y4x .auto-group-l3ye-C3W .auto-group-hufa-CSp {
  margin-bottom: 7.4rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.creative-paper-y4x .auto-group-l3ye-C3W .auto-group-hufa-CSp .why-recycling-is-important--9N4 {
  margin-bottom: 2.4rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.3333333333;
  letter-spacing: 0.024rem;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-paper-y4x .auto-group-l3ye-C3W .auto-group-hufa-CSp .recycling-is-crucial-for-conserving-natural-resources-and-reducing-environmental-impact-it-minimizes-the-need-for-raw-material-extraction-lowers-energy-consumption-in-manufacturing-and-decreases-the-volume-of-waste-in-landfills-by-recycling-we-contribute-to-sustainability-reduce-pollution-and-promote-a-circular-economy-3iL {
  max-width: 74.7rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.25;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  flex-shrink: 0;
}
.creative-paper-y4x .auto-group-pacc-DmE {
  width: 153.6rem;
  height: 6.3rem;
  position: absolute;
  left: 0;
  top: 69.9rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.3333333333;
  letter-spacing: 0.024rem;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.creative-paper-y4x .auto-group-vdfa-JGt {
  width: 125.4rem;
  height: 39.2rem;
  position: absolute;
  left: 13.8rem;
  top: 83.5rem;
  display: flex;
  align-items: center;
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-hzsx-2Tn {
  margin-right: 17.9rem;
  box-sizing: border-box;
  padding: 5.1rem 1.9rem 2.6rem 2rem;
  width: 30.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-hzsx-2Tn .scrapbook-2-LDa {
  margin-bottom: 3.5rem;
  width: 26.2rem;
  height: 21.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-hzsx-2Tn .paper-chronicles-210-U4t {
  margin: 0rem 1.3rem 1.3rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-hzsx-2Tn .paper-chronicles-210-U4t .paper-chronicles-210-U4t-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-hzsx-2Tn .paper-chronicles-210-U4t .paper-chronicles-210-U4t-sub-1 {
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-hzsx-2Tn .paper-chronicles-210-U4t .paper-chronicles-210-U4t-sub-2 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-hzsx-2Tn .paper-chronicles-210-U4t .paper-chronicles-210-U4t-sub-3 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-hzsx-2Tn .auto-group-8cul-pRa {
  margin: 0rem 0.9rem 0rem 0.2rem;
  width: calc(100% - 1.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-hzsx-2Tn .auto-group-8cul-pRa .auto-group-27fz-8x4 {
  margin: 0rem 2.7rem 0.1rem 0rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-hzsx-2Tn .auto-group-8cul-pRa .auto-group-27fz-8x4 .rectangle-888-evQ {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-hzsx-2Tn .auto-group-8cul-pRa .auto-group-27fz-8x4 .add-to-cart-bKr {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-hzsx-2Tn .auto-group-8cul-pRa .auto-group-27fz-8x4 .item--uLY {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 0.768rem;
  top: 0.968rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-hzsx-2Tn .auto-group-8cul-pRa .auto-group-dg36-R3z {
  margin-top: 0.1rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-hzsx-2Tn .auto-group-8cul-pRa .auto-group-dg36-R3z .rectangle-887-xJp {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.5rem;
  background-color: #000000;
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-hzsx-2Tn .auto-group-8cul-pRa .auto-group-dg36-R3z .vector-6A8 {
  width: 1.3991rem;
  height: 1.2983rem;
  position: absolute;
  left: 1.2797rem;
  top: 0.6453rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-hzsx-2Tn .auto-group-8cul-pRa .auto-group-dg36-R3z .wishlist-cuA {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.9rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-8e8l-Vi4 {
  margin-right: 17.2rem;
  box-sizing: border-box;
  padding: 5.1rem 1.9rem 2.6rem 1.8rem;
  width: 30.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-8e8l-Vi4 .paper-clock-2-D8G {
  margin-bottom: 2.5rem;
  width: 26.4rem;
  height: 23.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-8e8l-Vi4 .renew-clock-388-wpx {
  margin: 0rem 0.5rem 0.9rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-8e8l-Vi4 .renew-clock-388-wpx .renew-clock-388-wpx-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-8e8l-Vi4 .renew-clock-388-wpx .renew-clock-388-wpx-sub-1 {
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-8e8l-Vi4 .renew-clock-388-wpx .renew-clock-388-wpx-sub-2 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-8e8l-Vi4 .renew-clock-388-wpx .renew-clock-388-wpx-sub-3 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-8e8l-Vi4 .auto-group-yi3w-cZi {
  margin: 0rem 0.4rem 0rem 0.9rem;
  width: calc(100% - 1.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-8e8l-Vi4 .auto-group-yi3w-cZi .auto-group-yqh2-kA8 {
  margin: 0rem 2.7rem 0.1rem 0rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-8e8l-Vi4 .auto-group-yi3w-cZi .auto-group-yqh2-kA8 .rectangle-890-5TJ {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-8e8l-Vi4 .auto-group-yi3w-cZi .auto-group-yqh2-kA8 .add-to-cart-ci8 {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-8e8l-Vi4 .auto-group-yi3w-cZi .auto-group-yqh2-kA8 .item--jGx {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 0.768rem;
  top: 0.968rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-8e8l-Vi4 .auto-group-yi3w-cZi .auto-group-ckoz-4a8 {
  margin-top: 0.1rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-8e8l-Vi4 .auto-group-yi3w-cZi .auto-group-ckoz-4a8 .rectangle-889-1EU {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.5rem;
  background-color: #000000;
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-8e8l-Vi4 .auto-group-yi3w-cZi .auto-group-ckoz-4a8 .vector-M3S {
  width: 1.3991rem;
  height: 1.2983rem;
  position: absolute;
  left: 1.5477rem;
  top: 0.6453rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-8e8l-Vi4 .auto-group-yi3w-cZi .auto-group-ckoz-4a8 .wishlist-grQ {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 4.2rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-g7ux-mcx {
  box-sizing: border-box;
  padding: 3.3rem 2.8rem 2.7rem 2.2rem;
  width: 30.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-g7ux-mcx .cerative-paper-3-69S {
  margin: 0rem 0rem 0.8rem 0.4rem;
  width: 18.9rem;
  height: 26rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-g7ux-mcx .papertail-bird-283-p5S {
  margin: 0rem 0.2rem 1.7rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-g7ux-mcx .papertail-bird-283-p5S .papertail-bird-283-p5S-sub-0 {
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-g7ux-mcx .papertail-bird-283-p5S .papertail-bird-283-p5S-sub-1 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-g7ux-mcx .auto-group-spsu-Q3e {
  width: 100%;
  height: 3.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-g7ux-mcx .auto-group-spsu-Q3e .auto-group-ijpl-YQk {
  margin-right: 2.7rem;
  width: 11.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-g7ux-mcx .auto-group-spsu-Q3e .auto-group-ijpl-YQk .rectangle-892-UpC {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-g7ux-mcx .auto-group-spsu-Q3e .auto-group-ijpl-YQk .add-to-cart-oLg {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-g7ux-mcx .auto-group-spsu-Q3e .auto-group-ijpl-YQk .item--7cG {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 0.768rem;
  top: 0.968rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-g7ux-mcx .auto-group-spsu-Q3e .auto-group-dpng-Ewn {
  width: 11.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-g7ux-mcx .auto-group-spsu-Q3e .auto-group-dpng-Ewn .rectangle-891-PJt {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.6rem;
  background-color: #000000;
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-g7ux-mcx .auto-group-spsu-Q3e .auto-group-dpng-Ewn .vector-8GU {
  width: 1.3991rem;
  height: 1.2983rem;
  position: absolute;
  left: 1.4172rem;
  top: 0.8453rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-paper-y4x .auto-group-vdfa-JGt .auto-group-g7ux-mcx .auto-group-spsu-Q3e .auto-group-dpng-Ewn .wishlist-4fv {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 4.2rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-paper-y4x .footer-wUp {
  width: 153.6rem;
  height: 26.6094rem;
  position: absolute;
  left: 0;
  top: 127.3rem;
}
.creative-paper-y4x .footer-wUp .rectangle-3-GGC {
  width: 153.6rem;
  height: 24.9998rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #222222;
}
.creative-paper-y4x .footer-wUp .scrap-symphoy-sanctuary-aims-to-promote-innovation-in-the-digital-commerce-ecosystem-by-providing-a-platform-for-startups-and-entrepreneurs-to-develop-new-services-and-solutions-also-supports-digital-commerce-including-online-payments-e-commerce-and-financial-services-DBS {
  width: 43.7rem;
  height: 8.8rem;
  position: absolute;
  left: 12.2rem;
  top: 4.8992rem;
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
}
.creative-paper-y4x .footer-wUp .frame-35-BXa {
  width: 14.4rem;
  height: 16.5rem;
  position: absolute;
  left: 117.8rem;
  top: 1.993rem;
}
.creative-paper-y4x .footer-wUp .frame-35-BXa .pages-WZr {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2.25;
  letter-spacing: 0.012rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-paper-y4x .footer-wUp .frame-35-BXa .frame-39-2HJ {
  width: 100%;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
}
.creative-paper-y4x .footer-wUp .frame-35-BXa .frame-39-2HJ .about-us-N6G {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-paper-y4x .footer-wUp .frame-35-BXa .frame-39-2HJ .return-policy-VAt {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-paper-y4x .footer-wUp .frame-35-BXa .frame-39-2HJ .contact-us-Dcg {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-paper-y4x .footer-wUp .frame-35-BXa .frame-39-2HJ .refund-cancellation-policies-ZAk {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-paper-y4x .footer-wUp .social-media-UoW {
  width: 17.362rem;
  height: 3rem;
  position: absolute;
  left: 13.018rem;
  top: 15.1109rem;
  display: flex;
  align-items: center;
}
.creative-paper-y4x .footer-wUp .social-media-UoW .vector-1YY {
  margin: 0rem 4.035rem 0rem 0rem;
  width: 2.9268rem;
  height: 2.9268rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-paper-y4x .footer-wUp .social-media-UoW .vector-8dA {
  margin-right: 4.0344rem;
  width: 3.2195rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-paper-y4x .footer-wUp .social-media-UoW .vector-US8 {
  margin-top: 0.0013rem;
  width: 3.1463rem;
  height: 2.6341rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-paper-y4x .footer-wUp .rectangle-12-coE {
  width: 153.6rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 20.7rem;
  background-color: #555555;
}
.creative-paper-y4x .footer-wUp .frame-40-A44 {
  box-sizing: border-box;
  padding-right: 19.3667rem;
  width: 29.8667rem;
  height: 5.3094rem;
  position: absolute;
  left: 14.1rem;
  top: 21.3rem;
  display: flex;
  align-items: flex-start;
}
.creative-paper-y4x .footer-wUp .frame-40-A44 .mask-group-TYx {
  margin-right: 4.5rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-paper-y4x .footer-wUp .frame-40-A44 .mask-group-oMv {
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-paper-y4x .footer-wUp .scrap-symphony-sanctuary-all-rights-reserved-kHA {
  width: 27.4rem;
  height: 2.2rem;
  position: absolute;
  left: 114.1rem;
  top: 22.1133rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-paper-y4x .footer-wUp .terms-condition-privacy-policy-dLx {
  width: 18.5rem;
  height: 2.2rem;
  position: absolute;
  left: 65.9rem;
  top: 22.1133rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-paper-y4x .item--vL4 {
  box-sizing: border-box;
  padding: 0.4rem 5.15rem;
  width: 26.8rem;
  height: 5rem;
  position: absolute;
  left: 64.7rem;
  top: 60.8rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3333333333;
  letter-spacing: 0.024rem;
  color: #fff7e9;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
  background-color: #f16713;
  border-radius: 5rem;
}
