
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.5rem;
}.creative-ewaste-sHn {
  width: 100%;
  height: 152.3rem;
  position: relative;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/black1-66-bg-yit.png');
  background-color: #ffffff;
}
.creative-ewaste-sHn .item--C5A {
  box-sizing: border-box;
  padding: 1rem 69.2rem;
  width: 153.6rem;
  height: 4.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #777777;
}
.creative-ewaste-sHn .item--C5A .frame-427319517-uEU {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.creative-ewaste-sHn .item--C5A .frame-427319517-uEU .group-2-ehr {
  margin: 0rem 1rem 0rem 0rem;
  width: 2.2rem;
  height: 1.6422rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-ewaste-sHn .item--C5A .frame-427319517-uEU .made-for-india-ARJ {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #ffffff;
  font-family: Merriweather, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-ewaste-sHn .auto-group-syug-GDS {
  width: 146.2029rem;
  height: 4.5832rem;
  position: absolute;
  left: 3rem;
  top: 8.1rem;
  display: flex;
  align-items: center;
}
.creative-ewaste-sHn .auto-group-syug-GDS .scrap3-removebg-preview-59-NnG {
  margin: 0rem 0.003rem 0.583rem 0rem;
  width: 4.7467rem;
  height: 4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-ewaste-sHn .auto-group-syug-GDS .scrap-symphony-sanctuary-Gse {
  margin: 0rem 13.35rem 0.083rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4825;
  letter-spacing: 0.028rem;
  color: #f7fbff;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-ewaste-sHn .auto-group-syug-GDS .home-scrap-section-creative-section-about-us-contact-us-MeC {
  margin: 0.717rem 5.2rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.016rem;
  color: #f6fbff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-ewaste-sHn .auto-group-syug-GDS .auto-group-z5vc-DwJ {
  margin: 1.1rem 1.713rem 0.383rem 0rem;
  box-sizing: border-box;
  padding: 0.3rem 27.9rem 0.3rem 0.838rem;
  height: calc(100% - 1.4832rem);
  display: flex;
  align-items: center;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
  background-color: #f6fbff;
  flex-shrink: 0;
}
.creative-ewaste-sHn .auto-group-syug-GDS .auto-group-z5vc-DwJ .group-XBJ {
  margin: 0.073rem 1.062rem 0rem 0rem;
  width: 2rem;
  height: 1.6rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-ewaste-sHn .auto-group-syug-GDS .auto-group-z5vc-DwJ .search-3fS {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  letter-spacing: 0.018rem;
  color: #555555;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-ewaste-sHn .auto-group-syug-GDS .vector-8gt {
  margin: 0.688rem 1.62rem 0rem 0rem;
  width: 3.9974rem;
  height: 3.8949rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-ewaste-sHn .auto-group-syug-GDS .item--Sha {
  margin: 0.679rem 2.073rem 0rem 0rem;
  width: 3.7029rem;
  height: 3.0931rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-ewaste-sHn .auto-group-syug-GDS .layer1-MpY {
  margin-top: 0.6883rem;
  width: 3.9974rem;
  height: 3.8949rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-ewaste-sHn .auto-group-p9qg-HTJ {
  box-sizing: border-box;
  padding: 3.8rem 4.4rem 3.8rem 2.6rem;
  width: 153.6rem;
  height: 36.3rem;
  position: absolute;
  left: 0;
  top: 20.4rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.creative-ewaste-sHn .auto-group-p9qg-HTJ .screenshot-2024-01-22-131642-11-n9A {
  margin-right: 16.3rem;
  width: 55.6rem;
  height: 28.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-ewaste-sHn .auto-group-p9qg-HTJ .auto-group-5dqe-5tx {
  margin-bottom: 7.4rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.creative-ewaste-sHn .auto-group-p9qg-HTJ .auto-group-5dqe-5tx .why-recycling-is-important--q7S {
  margin-bottom: 2.4rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.3333333333;
  letter-spacing: 0.024rem;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-ewaste-sHn .auto-group-p9qg-HTJ .auto-group-5dqe-5tx .recycling-is-crucial-for-conserving-natural-resources-and-reducing-environmental-impact-it-minimizes-the-need-for-raw-material-extraction-lowers-energy-consumption-in-manufacturing-and-decreases-the-volume-of-waste-in-landfills-by-recycling-we-contribute-to-sustainability-reduce-pollution-and-promote-a-circular-economy-Y1r {
  max-width: 74.7rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.25;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  flex-shrink: 0;
}
.creative-ewaste-sHn .auto-group-hx7e-umW {
  width: 153.6rem;
  height: 6.3rem;
  position: absolute;
  left: 0;
  top: 69.9rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.3333333333;
  letter-spacing: 0.024rem;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.creative-ewaste-sHn .auto-group-nadj-ack {
  width: 125.4rem;
  height: 39.2rem;
  position: absolute;
  left: 13.8rem;
  top: 83.5rem;
  display: flex;
  align-items: center;
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-po9n-WWQ {
  margin-right: 17.9rem;
  box-sizing: border-box;
  padding: 3.8rem 2.8rem 2.6rem 2.2rem;
  width: 30.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-po9n-WWQ .screenshot-2024-01-25-154707-2-pGC {
  margin: 0rem 0.3rem 1.9rem 0rem;
  width: 21.8rem;
  height: 25.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-po9n-WWQ .circuit-earrings-126-81z {
  margin: 0rem 1.1rem 0.7rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-po9n-WWQ .circuit-earrings-126-81z .circuit-earrings-126-81z-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-po9n-WWQ .circuit-earrings-126-81z .circuit-earrings-126-81z-sub-1 {
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-po9n-WWQ .circuit-earrings-126-81z .circuit-earrings-126-81z-sub-2 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-po9n-WWQ .auto-group-aoz6-w7r {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-po9n-WWQ .auto-group-aoz6-w7r .auto-group-o7pg-5E4 {
  margin: 0rem 2.7rem 0.1rem 0rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-po9n-WWQ .auto-group-aoz6-w7r .auto-group-o7pg-5E4 .rectangle-888-bTJ {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-po9n-WWQ .auto-group-aoz6-w7r .auto-group-o7pg-5E4 .add-to-cart-jJc {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-po9n-WWQ .auto-group-aoz6-w7r .auto-group-o7pg-5E4 .item--qsS {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 0.768rem;
  top: 0.968rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-po9n-WWQ .auto-group-aoz6-w7r .auto-group-drng-a4L {
  margin-top: 0.1rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-po9n-WWQ .auto-group-aoz6-w7r .auto-group-drng-a4L .rectangle-887-WTn {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.5rem;
  background-color: #000000;
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-po9n-WWQ .auto-group-aoz6-w7r .auto-group-drng-a4L .vector-FgG {
  width: 1.3991rem;
  height: 1.2983rem;
  position: absolute;
  left: 1.2797rem;
  top: 0.9rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-po9n-WWQ .auto-group-aoz6-w7r .auto-group-drng-a4L .wishlist-zdr {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.9rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-tdre-she {
  margin-right: 17.2rem;
  box-sizing: border-box;
  padding: 3.8rem 2.3rem 2.6rem 2.7rem;
  width: 30.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-tdre-she .animals-2-ykg {
  margin: 0rem 0.4rem 3.5rem 0rem;
  width: 24.7rem;
  height: 24rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-tdre-she .e-waste-critters-574-HmN {
  margin: 0rem 0.1rem 0.5rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-tdre-she .e-waste-critters-574-HmN .e-waste-critters-574-HmN-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-tdre-she .e-waste-critters-574-HmN .e-waste-critters-574-HmN-sub-1 {
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-tdre-she .e-waste-critters-574-HmN .e-waste-critters-574-HmN-sub-2 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-tdre-she .e-waste-critters-574-HmN .e-waste-critters-574-HmN-sub-3 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-tdre-she .auto-group-6g92-ikC {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-tdre-she .auto-group-6g92-ikC .auto-group-typ2-H2c {
  margin: 0rem 2.7rem 0.1rem 0rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-tdre-she .auto-group-6g92-ikC .auto-group-typ2-H2c .rectangle-890-1DW {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-tdre-she .auto-group-6g92-ikC .auto-group-typ2-H2c .add-to-cart-9Ki {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-tdre-she .auto-group-6g92-ikC .auto-group-typ2-H2c .item--fYx {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 0.768rem;
  top: 0.968rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-tdre-she .auto-group-6g92-ikC .auto-group-7i5i-bSc {
  margin-top: 0.1rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-tdre-she .auto-group-6g92-ikC .auto-group-7i5i-bSc .rectangle-889-XLG {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.5rem;
  background-color: #000000;
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-tdre-she .auto-group-6g92-ikC .auto-group-7i5i-bSc .vector-rtL {
  width: 1.3991rem;
  height: 1.2983rem;
  position: absolute;
  left: 1.5477rem;
  top: 0.9rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-tdre-she .auto-group-6g92-ikC .auto-group-7i5i-bSc .wishlist-aJY {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 4.2rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-b5ka-EP6 {
  box-sizing: border-box;
  padding: 4.7rem 2.8rem 2.7rem 2.2rem;
  width: 30.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-b5ka-EP6 .stand-pen-2-jak {
  margin: 0rem 0rem 0.9rem 0.6rem;
  width: 22.9rem;
  height: 24.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-b5ka-EP6 .keycraft-pen-holder-305-RyN {
  margin: 0rem 0rem 1.6rem 0.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-b5ka-EP6 .keycraft-pen-holder-305-RyN .keycraft-pen-holder-305-RyN-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-b5ka-EP6 .keycraft-pen-holder-305-RyN .keycraft-pen-holder-305-RyN-sub-1 {
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-b5ka-EP6 .keycraft-pen-holder-305-RyN .keycraft-pen-holder-305-RyN-sub-2 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-b5ka-EP6 .auto-group-jabv-WNY {
  width: 100%;
  height: 3.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-b5ka-EP6 .auto-group-jabv-WNY .auto-group-erzy-F5E {
  margin-right: 2.7rem;
  width: 11.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-b5ka-EP6 .auto-group-jabv-WNY .auto-group-erzy-F5E .rectangle-892-MPA {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-b5ka-EP6 .auto-group-jabv-WNY .auto-group-erzy-F5E .add-to-cart-pGk {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-b5ka-EP6 .auto-group-jabv-WNY .auto-group-erzy-F5E .item--gpk {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 0.768rem;
  top: 0.968rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-b5ka-EP6 .auto-group-jabv-WNY .auto-group-kopz-BmW {
  width: 11.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-b5ka-EP6 .auto-group-jabv-WNY .auto-group-kopz-BmW .rectangle-891-7fA {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.6rem;
  background-color: #000000;
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-b5ka-EP6 .auto-group-jabv-WNY .auto-group-kopz-BmW .vector-FWU {
  width: 1.3991rem;
  height: 1.2983rem;
  position: absolute;
  left: 1.5172rem;
  top: 1rem;
  object-fit: contain;
  vertical-align: top;
}
.creative-ewaste-sHn .auto-group-nadj-ack .auto-group-b5ka-EP6 .auto-group-jabv-WNY .auto-group-kopz-BmW .wishlist-Nb6 {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 4.2rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-ewaste-sHn .footer-e2p {
  width: 153.6rem;
  height: 26.6094rem;
  position: absolute;
  left: 0;
  top: 127.3rem;
}
.creative-ewaste-sHn .footer-e2p .rectangle-3-Z9n {
  width: 153.6rem;
  height: 24.9998rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #222222;
}
.creative-ewaste-sHn .footer-e2p .scrap-symphoy-sanctuary-aims-to-promote-innovation-in-the-digital-commerce-ecosystem-by-providing-a-platform-for-startups-and-entrepreneurs-to-develop-new-services-and-solutions-also-supports-digital-commerce-including-online-payments-e-commerce-and-financial-services-H5n {
  width: 43.7rem;
  height: 8.8rem;
  position: absolute;
  left: 12.2rem;
  top: 4.8992rem;
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
}
.creative-ewaste-sHn .footer-e2p .frame-35-qWc {
  width: 14.4rem;
  height: 16.5rem;
  position: absolute;
  left: 117.8rem;
  top: 1.993rem;
}
.creative-ewaste-sHn .footer-e2p .frame-35-qWc .pages-x5S {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2.25;
  letter-spacing: 0.012rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-ewaste-sHn .footer-e2p .frame-35-qWc .frame-39-FqE {
  width: 100%;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
}
.creative-ewaste-sHn .footer-e2p .frame-35-qWc .frame-39-FqE .about-us-oLx {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-ewaste-sHn .footer-e2p .frame-35-qWc .frame-39-FqE .return-policy-XXr {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-ewaste-sHn .footer-e2p .frame-35-qWc .frame-39-FqE .contact-us-TAc {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-ewaste-sHn .footer-e2p .frame-35-qWc .frame-39-FqE .refund-cancellation-policies-Aqi {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.creative-ewaste-sHn .footer-e2p .social-media-VNC {
  width: 17.362rem;
  height: 3rem;
  position: absolute;
  left: 13.018rem;
  top: 15.1109rem;
  display: flex;
  align-items: center;
}
.creative-ewaste-sHn .footer-e2p .social-media-VNC .vector-1rL {
  margin: 0rem 4.035rem 0rem 0rem;
  width: 2.9268rem;
  height: 2.9268rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-ewaste-sHn .footer-e2p .social-media-VNC .vector-wjz {
  margin-right: 4.0344rem;
  width: 3.2195rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-ewaste-sHn .footer-e2p .social-media-VNC .vector-VFi {
  margin-top: 0.0013rem;
  width: 3.1463rem;
  height: 2.6341rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-ewaste-sHn .footer-e2p .rectangle-12-2mS {
  width: 153.6rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 20.7rem;
  background-color: #555555;
}
.creative-ewaste-sHn .footer-e2p .frame-40-yRn {
  box-sizing: border-box;
  padding-right: 19.3667rem;
  width: 29.8667rem;
  height: 5.3094rem;
  position: absolute;
  left: 14.1rem;
  top: 21.3rem;
  display: flex;
  align-items: flex-start;
}
.creative-ewaste-sHn .footer-e2p .frame-40-yRn .mask-group-sn4 {
  margin-right: 4.5rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-ewaste-sHn .footer-e2p .frame-40-yRn .mask-group-ovc {
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.creative-ewaste-sHn .footer-e2p .scrap-symphony-sanctuary-all-rights-reserved-wG8 {
  width: 27.4rem;
  height: 2.2rem;
  position: absolute;
  left: 114.1rem;
  top: 22.1133rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-ewaste-sHn .footer-e2p .terms-condition-privacy-policy-bba {
  width: 18.5rem;
  height: 2.2rem;
  position: absolute;
  left: 65.9rem;
  top: 22.1133rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.creative-ewaste-sHn .item--GSp {
  box-sizing: border-box;
  padding: 0.4rem 5.15rem;
  width: 26.8rem;
  height: 5rem;
  position: absolute;
  left: 64.7rem;
  top: 60.8rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3333333333;
  letter-spacing: 0.024rem;
  color: #fff7e9;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
  background-color: #f16713;
  border-radius: 5rem;
}
