
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.home-1-SDr {
  width: 100%;
  height: 70.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.home-1-SDr .black1-67-8cU {
  width: 153.6rem;
  height: 68.5rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  object-fit: cover;
  vertical-align: top;
}
.home-1-SDr .rectangle-901-r2g {
  width: 153.6rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 65.9rem;
  background-color: #5b5b5b;
}
.home-1-SDr .item--yNC {
  box-sizing: border-box;
  padding-right: 19.3667rem;
  width: 29.8667rem;
  height: 5.3094rem;
  position: absolute;
  left: 14.1rem;
  top: 66.3rem;
  display: flex;
  align-items: flex-start;
}
.home-1-SDr .item--yNC .mask-group-sCg {
  margin-right: 4.5rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-1-SDr .item--yNC .mask-group-o6L {
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-1-SDr .terms-condition-privacy-policy-LMA {
  width: 18.5rem;
  height: 2.2rem;
  position: absolute;
  left: 65.9rem;
  top: 66.8rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.home-1-SDr .scrap-symphony-sanctuary-all-rights-reserved-1TJ {
  width: 27.4rem;
  height: 2.2rem;
  position: absolute;
  left: 114.1rem;
  top: 66.8rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.home-1-SDr .scrap3-removebg-preview-68-g3e {
  width: 4.7467rem;
  height: 4rem;
  position: absolute;
  left: 2.4rem;
  top: 5.1rem;
  object-fit: cover;
  vertical-align: top;
}
.home-1-SDr .scrap-symphony-sanctuary-AzQ {
  width: 16.2rem;
  height: 2.1rem;
  position: absolute;
  left: 7.25rem;
  top: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4825;
  letter-spacing: 0.028rem;
  color: #f7fbff;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
}
.home-1-SDr .home-scrap-section-creative-section-about-us-contact-us-3oJ {
  width: 51.9rem;
  height: 2.5rem;
  position: absolute;
  left: 35.4rem;
  top: 6.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.016rem;
  color: #f6fbff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.home-1-SDr .rectangle-867-w7z {
  width: 37.7rem;
  height: 3.1rem;
  position: absolute;
  left: 91.4rem;
  top: 6.3rem;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
  background-color: #f6fbff;
}
.home-1-SDr .layer1-e2Q {
  width: 3.2rem;
  height: 3.4078rem;
  position: absolute;
  left: 143.4rem;
  top: 6rem;
  object-fit: contain;
  vertical-align: top;
}
.home-1-SDr .item--Zv4 {
  width: 3.7029rem;
  height: 3.0931rem;
  position: absolute;
  left: 137.7297rem;
  top: 6.0844rem;
  object-fit: contain;
  vertical-align: top;
}
.home-1-SDr .creativedog-1-thS {
  width: 39.1572rem;
  height: 42rem;
  position: absolute;
  left: 3.4344rem;
  top: 17.9523rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
}
.home-1-SDr .rectangle-901-oJc {
  width: 104.2rem;
  height: 42rem;
  position: absolute;
  left: 45.7rem;
  top: 17.9rem;
  background-color: #ffffff;
  border-radius: 5rem;
}
.home-1-SDr .vector-KXr {
  width: 3.4rem;
  height: 3.2rem;
  position: absolute;
  left: 132.4rem;
  top: 6rem;
  object-fit: contain;
  vertical-align: top;
}
.home-1-SDr .group-166-e4L {
  width: 19.3rem;
  height: 11.5rem;
  position: absolute;
  left: 50.1rem;
  top: 20.4rem;
}
.home-1-SDr .group-166-e4L .garden-gnome-kt4 {
  margin-bottom: 1.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.02rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.home-1-SDr .group-166-e4L .product-id-229fr1-4tk {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.home-1-SDr .group-166-e4L .seller-kumar-npk {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.home-1-SDr .group-166-e4L .published-on-10-march-2023-7s2 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.home-1-SDr .price-Egk {
  box-sizing: border-box;
  padding: 0.4rem 0.4rem 0.4rem 1.2rem;
  width: 14.5rem;
  height: 6.8rem;
  position: absolute;
  left: 50.1rem;
  top: 36rem;
  display: flex;
  align-items: flex-start;
  border: dashed 0.1rem #ff731d;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.home-1-SDr .price-Egk .text-w5N {
  margin: 0.1rem 2.3rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-1-SDr .price-Egk .text-w5N .price-GdS {
  margin-bottom: 0.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #222222;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-1-SDr .price-Egk .text-w5N .item-735-zJY {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.6875;
  letter-spacing: 0.032rem;
  color: #ff731d;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-1-SDr .price-Egk .price-icon-VWC {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-1-SDr .frame-427319600-oWt {
  box-sizing: border-box;
  padding: 1rem 3.95rem;
  width: 34.7rem;
  height: 9.9rem;
  position: absolute;
  left: 50.1rem;
  top: 46.9rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  background-color: #f8fafc;
  border-radius: 1.5rem;
}
.home-1-SDr .frame-427319600-oWt .frame-427319596-uK2 {
  margin: 1.25rem 1.9rem 1.25rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-1-SDr .frame-427319600-oWt .frame-427319596-uK2 .group-17-28k {
  margin: 0rem 0.1rem 0.5rem 0rem;
  width: 2.8845rem;
  height: 2.1997rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-1-SDr .frame-427319600-oWt .frame-427319596-uK2 .free-delivery-9DN {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.7;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-1-SDr .frame-427319600-oWt .line-97-G36 {
  margin-right: 2rem;
  width: 0rem;
  height: 7.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-1-SDr .frame-427319600-oWt .frame-427319598-bbA {
  margin: 1.25rem 1.9rem 1.25rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-1-SDr .frame-427319600-oWt .frame-427319598-bbA .group-18-jSU {
  margin: 0rem 0.1rem 0.5rem 0rem;
  width: 2.2003rem;
  height: 2.1999rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-1-SDr .frame-427319600-oWt .frame-427319598-bbA .pay-on-delivery-sHn {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.7;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-1-SDr .frame-427319600-oWt .line-98-bja {
  margin-right: 2rem;
  width: 0rem;
  height: 7.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-1-SDr .frame-427319600-oWt .auto-group-v8za-9WC {
  margin-bottom: 1.2rem;
  box-sizing: border-box;
  padding-top: 1.2rem;
  width: 5.3rem;
  height: 6.7rem;
  flex-shrink: 0;
}
.home-1-SDr .frame-427319600-oWt .auto-group-v8za-9WC .frame-427319599-5Pr {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.home-1-SDr .frame-427319600-oWt .auto-group-v8za-9WC .frame-427319599-5Pr .group-19-2pt {
  margin: 0rem 0rem 0.5rem 0rem;
  width: 2.2rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-1-SDr .frame-427319600-oWt .auto-group-v8za-9WC .frame-427319599-5Pr .days-returnable-N84 {
  max-width: 5.3rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-1-SDr .line-144-co6 {
  width: 0;
  height: 37.5rem;
  position: absolute;
  left: 89rem;
  top: 19.6rem;
  object-fit: contain;
  vertical-align: top;
}
.home-1-SDr .rectangle-899-92L {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 69rem;
  top: 36.5rem;
  background-color: #000000;
}
.home-1-SDr .add-to-cart-5At {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 72.7rem;
  top: 35.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.home-1-SDr .item--Ai8 {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 69.768rem;
  top: 36.768rem;
  object-fit: contain;
  vertical-align: top;
}
.home-1-SDr .rectangle-900-VkQ {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 69rem;
  top: 40.2rem;
  background-color: #000000;
}
.home-1-SDr .vector-Rtx {
  width: 1.6rem;
  height: 1.4rem;
  position: absolute;
  left: 70.4rem;
  top: 40.5rem;
  object-fit: contain;
  vertical-align: top;
}
.home-1-SDr .wishlist-Mnc {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 72.9rem;
  top: 39.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.home-1-SDr .group-168-rjN {
  box-sizing: border-box;
  padding: 2.179rem 0.891rem 3.398rem 0.709rem;
  width: 56.8rem;
  height: 14.9773rem;
  position: absolute;
  left: 91.4rem;
  top: 20.9rem;
  border: dashed 0.1rem #dddddd;
  border-radius: 0.5rem;
}
.home-1-SDr .group-168-rjN .description-xnQ {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.home-1-SDr .group-168-rjN .description-xnQ .description--8B6 {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.016rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-1-SDr .group-168-rjN .description-xnQ .ecoforge-gnome-a-whimsical-guardian-for-your-garden-meticulously-crafted-from-repurposed-metal-and-steel-waste-this-sustainable-sculpture-brings-a-touch-of-industrial-charm-to-your-outdoor-space-while-championing-eco-friendly-artistry-dtY {
  max-width: 55.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-1-SDr .frame-427319601-RpQ {
  width: 56.9rem;
  height: 16.2rem;
  position: absolute;
  left: 91.4rem;
  top: 40.4rem;
  display: flex;
  align-items: center;
}
.home-1-SDr .frame-427319601-RpQ .group-21-dvU {
  width: 27.6rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.home-1-SDr .frame-427319601-RpQ .group-21-dvU .content-Zp8 {
  width: 18rem;
  height: 11.3rem;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
}
.home-1-SDr .frame-427319601-RpQ .group-21-dvU .content-Zp8 .features--TuW {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.016rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.home-1-SDr .frame-427319601-RpQ .group-21-dvU .content-Zp8 .sturdy-design-rust-resistant-finish-unique-artistry-environmentally-conscious-LyJ {
  max-width: 18rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.home-1-SDr .frame-427319601-RpQ .group-21-dvU .rectangle-113-BDE {
  width: 27.6rem;
  height: 16.2rem;
  position: absolute;
  left: 0;
  top: 0;
  border: dashed 0.1rem #dddddd;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.home-1-SDr .frame-427319601-RpQ .group-22-JHr {
  box-sizing: border-box;
  padding: 0.7rem 0.8rem;
  width: 29.3rem;
  height: 100%;
  border: dashed 0.1rem #dddddd;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.home-1-SDr .frame-427319601-RpQ .group-22-JHr .whatsapp-image-2024-01-31-at-436-19-qoa {
  width: 26.8rem;
  height: 13.8rem;
  object-fit: cover;
  vertical-align: top;
}
.home-1-SDr .item--Kik {
  box-sizing: border-box;
  padding: 0.05rem 2.7rem 0.05rem 1rem;
  width: 9.4rem;
  height: 2.2rem;
  position: absolute;
  left: 135.2rem;
  top: 12.7rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
  background-color: #f16713;
  border-radius: 5rem;
}
.home-1-SDr .item--Kik .auto-group-rzvj-pQc {
  margin-right: 0.6rem;
  width: 1.1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-1-SDr .item--Kik .back-9hn {
  margin-bottom: 0.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.1875;
  letter-spacing: 0.016rem;
  color: #fff7e9;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-1-SDr .group-187-qac {
  width: 2rem;
  height: 2.6383rem;
  position: absolute;
  left: 92.4rem;
  top: 6.5rem;
  object-fit: contain;
  vertical-align: top;
}
.home-1-SDr .search-NaY {
  width: 5.9rem;
  height: 2.5rem;
  position: absolute;
  left: 95rem;
  top: 6.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  letter-spacing: 0.018rem;
  color: #555555;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
