
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.home-2-D6U {
  width: 100%;
  height: 70.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.home-2-D6U .black1-67-KvC {
  width: 153.6rem;
  height: 68.5rem;
  position: absolute;
  left: 0;
  top: 1.7rem;
  object-fit: cover;
  vertical-align: top;
}
.home-2-D6U .rectangle-901-exU {
  width: 153.6rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 65.9rem;
  background-color: #5b5b5b;
}
.home-2-D6U .item--non {
  box-sizing: border-box;
  padding-right: 19.3667rem;
  width: 29.8667rem;
  height: 5.3094rem;
  position: absolute;
  left: 14.1rem;
  top: 66.3rem;
  display: flex;
  align-items: flex-start;
}
.home-2-D6U .item--non .mask-group-hfr {
  margin-right: 4.5rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-2-D6U .item--non .mask-group-2y2 {
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-2-D6U .terms-condition-privacy-policy-nSQ {
  width: 18.5rem;
  height: 2.2rem;
  position: absolute;
  left: 65.9rem;
  top: 66.8rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.home-2-D6U .scrap-symphony-sanctuary-all-rights-reserved-TYY {
  width: 27.4rem;
  height: 2.2rem;
  position: absolute;
  left: 114.1rem;
  top: 66.8rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.home-2-D6U .scrap3-removebg-preview-68-88t {
  width: 4.7467rem;
  height: 4rem;
  position: absolute;
  left: 2.4rem;
  top: 5.1rem;
  object-fit: cover;
  vertical-align: top;
}
.home-2-D6U .scrap-symphony-sanctuary-EBv {
  width: 16.2rem;
  height: 2.1rem;
  position: absolute;
  left: 7.25rem;
  top: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4825;
  letter-spacing: 0.028rem;
  color: #f7fbff;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
}
.home-2-D6U .home-scrap-section-creative-section-about-us-contact-us-uYx {
  width: 51.9rem;
  height: 2.5rem;
  position: absolute;
  left: 35.4rem;
  top: 6.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.016rem;
  color: #f6fbff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.home-2-D6U .rectangle-867-BWU {
  width: 37.7rem;
  height: 3.1rem;
  position: absolute;
  left: 91.4rem;
  top: 6.3rem;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
  background-color: #f6fbff;
}
.home-2-D6U .layer1-5rk {
  width: 3.2rem;
  height: 3.4078rem;
  position: absolute;
  left: 143.4rem;
  top: 6rem;
  object-fit: contain;
  vertical-align: top;
}
.home-2-D6U .item--1kQ {
  width: 3.7029rem;
  height: 3.0931rem;
  position: absolute;
  left: 137.7297rem;
  top: 6.0844rem;
  object-fit: contain;
  vertical-align: top;
}
.home-2-D6U .rectangle-901-Lng {
  width: 104.2rem;
  height: 42rem;
  position: absolute;
  left: 45.7rem;
  top: 17.9rem;
  background-color: #ffffff;
  border-radius: 5rem;
}
.home-2-D6U .vector-eoN {
  width: 3.4rem;
  height: 3.2rem;
  position: absolute;
  left: 132.4rem;
  top: 6rem;
  object-fit: contain;
  vertical-align: top;
}
.home-2-D6U .price-neg {
  width: 14.5rem;
  height: 7.7rem;
  position: absolute;
  left: 50.1rem;
  top: 36rem;
}
.home-2-D6U .price-neg .rectangle-106-Wqa {
  width: 14.5rem;
  height: 6.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: dashed 0.1rem #ff731d;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.home-2-D6U .price-neg .text-2ov {
  width: 6.7rem;
  height: 7.2rem;
  position: absolute;
  left: 1.2rem;
  top: 0.5rem;
}
.home-2-D6U .price-neg .text-2ov .price-xSg {
  margin-bottom: 0.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #222222;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.home-2-D6U .price-neg .text-2ov .kg-g7n {
  max-width: 6.7rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.6875;
  letter-spacing: 0.032rem;
  color: #ff731d;
  font-family: Open Sans, 'Source Sans Pro';
}
.home-2-D6U .price-neg .price-icon-C68 {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 12.1rem;
  top: 0.4rem;
  object-fit: contain;
  vertical-align: top;
}
.home-2-D6U .frame-427319600-vH2 {
  box-sizing: border-box;
  padding: 1rem 3.95rem;
  width: 34.7rem;
  height: 9.9rem;
  position: absolute;
  left: 50.1rem;
  top: 46.9rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  background-color: #f8fafc;
  border-radius: 1.5rem;
}
.home-2-D6U .frame-427319600-vH2 .frame-427319596-DX2 {
  margin: 1.25rem 1.9rem 1.25rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-2-D6U .frame-427319600-vH2 .frame-427319596-DX2 .group-17-YZJ {
  margin: 0rem 0.1rem 0.5rem 0rem;
  width: 2.8845rem;
  height: 2.1997rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-2-D6U .frame-427319600-vH2 .frame-427319596-DX2 .free-delivery-fP2 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.7;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-2-D6U .frame-427319600-vH2 .line-97-mBA {
  margin-right: 2rem;
  width: 0rem;
  height: 7.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-2-D6U .frame-427319600-vH2 .frame-427319598-JB6 {
  margin: 1.25rem 1.9rem 1.25rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-2-D6U .frame-427319600-vH2 .frame-427319598-JB6 .group-18-pfE {
  margin: 0rem 0.1rem 0.5rem 0rem;
  width: 2.2003rem;
  height: 2.1999rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-2-D6U .frame-427319600-vH2 .frame-427319598-JB6 .pay-on-delivery-kYt {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.7;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-2-D6U .frame-427319600-vH2 .line-98-VFa {
  margin-right: 2rem;
  width: 0rem;
  height: 7.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-2-D6U .frame-427319600-vH2 .auto-group-vdun-Ruv {
  margin-bottom: 1.2rem;
  box-sizing: border-box;
  padding-top: 1.2rem;
  width: 5.3rem;
  height: 6.7rem;
  flex-shrink: 0;
}
.home-2-D6U .frame-427319600-vH2 .auto-group-vdun-Ruv .frame-427319599-9qv {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.home-2-D6U .frame-427319600-vH2 .auto-group-vdun-Ruv .frame-427319599-9qv .group-19-i8L {
  margin: 0rem 0rem 0.5rem 0rem;
  width: 2.2rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-2-D6U .frame-427319600-vH2 .auto-group-vdun-Ruv .frame-427319599-9qv .days-returnable-EsN {
  max-width: 5.3rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-2-D6U .line-144-J6Y {
  width: 0;
  height: 37.5rem;
  position: absolute;
  left: 89rem;
  top: 19.6rem;
  object-fit: contain;
  vertical-align: top;
}
.home-2-D6U .rectangle-899-qcG {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 69rem;
  top: 36.5rem;
  background-color: #000000;
}
.home-2-D6U .add-to-cart-NcC {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 72.7rem;
  top: 35.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.home-2-D6U .item--VB2 {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 69.768rem;
  top: 36.768rem;
  object-fit: contain;
  vertical-align: top;
}
.home-2-D6U .rectangle-900-2Ax {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 69rem;
  top: 40.2rem;
  background-color: #000000;
}
.home-2-D6U .vector-m8Y {
  width: 1.6rem;
  height: 1.4rem;
  position: absolute;
  left: 70.4rem;
  top: 40.5rem;
  object-fit: contain;
  vertical-align: top;
}
.home-2-D6U .wishlist-JPN {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 72.9rem;
  top: 39.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.home-2-D6U .group-168-QxC {
  width: 56.8rem;
  height: 14.9773rem;
  position: absolute;
  left: 91.4rem;
  top: 20.9rem;
  border: dashed 0.1rem #dddddd;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.home-2-D6U .group-168-QxC .description-9Pz {
  width: 9.6rem;
  height: 5.6rem;
  position: absolute;
  left: 0.7094rem;
  top: 2.1789rem;
}
.home-2-D6U .group-168-QxC .description-9Pz .description--GzQ {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.016rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.home-2-D6U .group-168-QxC .description-9Pz .item--1BJ {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.home-2-D6U .group-168-QxC .vintage-attire-a-time-worn-threads-tell-stories-of-days-gone-by-with-faded-fabrics-and-gentle-frays-embracing-the-nostalgia-of-well-loved-garments-j7J {
  width: 54.9rem;
  height: 3.8rem;
  position: absolute;
  left: 0.7rem;
  top: 5.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.home-2-D6U .frame-427319601-YKe {
  width: 56.9rem;
  height: 16.2rem;
  position: absolute;
  left: 91.4rem;
  top: 40.4rem;
  display: flex;
  align-items: center;
}
.home-2-D6U .frame-427319601-YKe .group-21-fv4 {
  width: 27.6rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.home-2-D6U .frame-427319601-YKe .group-21-fv4 .content-1yv {
  width: 15rem;
  height: 11.3rem;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
}
.home-2-D6U .frame-427319601-YKe .group-21-fv4 .content-1yv .features--ZEk {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.016rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.home-2-D6U .frame-427319601-YKe .group-21-fv4 .content-1yv .characteristic-patina-timeless-silhouettes-nostalgic-textures-story-woven-threadss-V8Q {
  max-width: 15rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.home-2-D6U .frame-427319601-YKe .group-21-fv4 .rectangle-113-m5v {
  width: 27.6rem;
  height: 16.2rem;
  position: absolute;
  left: 0;
  top: 0;
  border: dashed 0.1rem #dddddd;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.home-2-D6U .frame-427319601-YKe .group-22-gCt {
  width: 29.3rem;
  height: 100%;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.home-2-D6U .frame-427319601-YKe .group-22-gCt .rectangle-114-2nY {
  width: 100%;
  height: 16.2rem;
  border: dashed 0.1rem #dddddd;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.home-2-D6U .item--9cG {
  box-sizing: border-box;
  padding: 0.05rem 2.7rem 0.05rem 1rem;
  width: 9.4rem;
  height: 2.2rem;
  position: absolute;
  left: 135.2rem;
  top: 12.7rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
  background-color: #f16713;
  border-radius: 5rem;
}
.home-2-D6U .item--9cG .auto-group-nug8-qzt {
  margin-right: 0.6rem;
  width: 1.1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-2-D6U .item--9cG .back-PFi {
  margin-bottom: 0.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.1875;
  letter-spacing: 0.016rem;
  color: #fff7e9;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-2-D6U .old-clothes-1-5PS {
  width: 41.1rem;
  height: 30.2rem;
  position: absolute;
  left: 2.7rem;
  top: 24.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
}
.home-2-D6U .group-22-CDA {
  box-sizing: border-box;
  padding: 1.7rem 2.105rem 1rem 1.595rem;
  width: 29.2rem;
  height: 16.2rem;
  position: absolute;
  left: 119rem;
  top: 40.5rem;
  border: dashed 0.1rem #dddddd;
  border-radius: 0.5rem;
}
.home-2-D6U .group-22-CDA .environmental-impact--6pL {
  margin: 0rem 0rem 2rem 0.005rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.home-2-D6U .group-22-CDA .recycled-clothes-reduce-waste-and-promote-sustainability-repurposing-old-garments-conserves-resources-and-minimizes-environmental-impact-R5v {
  max-width: 25.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5833333333;
  letter-spacing: 0.012rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.home-2-D6U .group-27-T2c {
  width: 17.9rem;
  height: 11.5rem;
  position: absolute;
  left: 50.1rem;
  top: 20.9rem;
}
.home-2-D6U .group-27-T2c .vintage-attire-yme {
  margin-bottom: 1.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.02rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.home-2-D6U .group-27-T2c .product-id-339dr8-77A {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.home-2-D6U .group-27-T2c .seller-leela-sri-RtY {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.home-2-D6U .group-27-T2c .published-on-18-may-2022-xNg {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.home-2-D6U .group-157-t1S {
  box-sizing: border-box;
  padding: 0.9rem 1.5rem 1.004rem 1.5rem;
  width: 16.1rem;
  height: 8.5045rem;
  position: absolute;
  left: 72rem;
  top: 23.9rem;
  border: dashed 0.1rem #ff731d;
  background-color: rgba(246, 251, 255, 0.8000000119);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.home-2-D6U .group-157-t1S .available-quantity-10-kg-zaG {
  max-width: 13.1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5714285714;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.home-2-D6U .group-157-t1S .available-quantity-10-kg-zaG .available-quantity-10-kg-zaG-sub-0 {
}
.home-2-D6U .group-157-t1S .available-quantity-10-kg-zaG .available-quantity-10-kg-zaG-sub-1 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 0.6875;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.home-2-D6U .group-157-t1S .available-quantity-10-kg-zaG .available-quantity-10-kg-zaG-sub-2 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 0.7333333333;
  color: #606060;
  font-family: Open Sans, 'Source Sans Pro';
}
.home-2-D6U .group-187-jZn {
  width: 2rem;
  height: 2.6383rem;
  position: absolute;
  left: 92.1rem;
  top: 6.5rem;
  object-fit: contain;
  vertical-align: top;
}
.home-2-D6U .search-ewe {
  width: 5.9rem;
  height: 2.5rem;
  position: absolute;
  left: 94.7rem;
  top: 6.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  letter-spacing: 0.018rem;
  color: #555555;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
