
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.5rem;
}.login-seller-6xU {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/black1-2-bg-bZv.png');
  background-color: #ffffff;
}
.login-seller-6xU .item--372 {
  box-sizing: border-box;
  padding: 1rem 71.525rem 0.879rem 71.525rem;
  width: 100%;
  height: 3.1rem;
  background-color: #777777;
  flex-shrink: 0;
}
.login-seller-6xU .item--372 .frame-427319517-Z5N {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.login-seller-6xU .item--372 .frame-427319517-Z5N .group-2-uf2 {
  margin-right: 1rem;
  width: 1.95rem;
  height: 1.2211rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-seller-6xU .item--372 .frame-427319517-Z5N .made-for-india-qYg {
  margin-bottom: 0.0008rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Merriweather, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-xgm2-va8 {
  box-sizing: border-box;
  padding: 2.1rem 2.8rem 10.9rem 2.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-cneq-SYU {
  margin: 0rem 126.95rem 0.9rem 0rem;
  width: calc(100% - 126.95rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-cneq-SYU .scrap3-removebg-preview-2-AUU {
  margin-right: 0.0033rem;
  width: 4.7467rem;
  height: 4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-cneq-SYU .scrap-symphony-sanctuary-gBv {
  margin-top: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4825;
  letter-spacing: 0.028rem;
  color: #f7fbff;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx {
  margin: 0rem 17.4rem 0rem 2.3rem;
  width: calc(100% - 19.7rem);
  height: 44.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-vvts-fZe {
  margin-right: 20.1rem;
  width: 39.3rem;
  height: 100%;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-vvts-fZe .creative-scrapyard-PkY {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4825;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-vvts-fZe .item--gDr {
  margin: 0rem 11.6rem 2.353rem 0rem;
  height: 5.3471rem;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-vvts-fZe .item--gDr .grow-your-business-with-new-customers-on-the-scrap-symphoy-sanctuary-network-aq2 {
  max-width: 27.5rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.0833333333;
  letter-spacing: 0.012rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-vvts-fZe .item--Ttp {
  margin-left: 0.1rem;
  width: 39.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-vvts-fZe .item--Ttp .auto-group-pj6t-oSt {
  box-sizing: border-box;
  padding-bottom: 3rem;
  width: 100%;
  row-gap: 3rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-vvts-fZe .item--Ttp .auto-group-pj6t-oSt .more-buyers-w3J {
  margin-right: 8.1rem;
  width: calc(100% - 8.1rem);
  height: 5.9rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-vvts-fZe .item--Ttp .auto-group-pj6t-oSt .more-buyers-w3J .icon-4tc {
  margin-right: 2.6rem;
  width: 5rem;
  height: 3.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-vvts-fZe .item--Ttp .auto-group-pj6t-oSt .more-buyers-w3J .text-bNk {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-vvts-fZe .item--Ttp .auto-group-pj6t-oSt .more-buyers-w3J .text-bNk .more-buyers-Yon {
  margin-bottom: 1rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.6875;
  letter-spacing: 0.016rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-vvts-fZe .item--Ttp .auto-group-pj6t-oSt .more-buyers-w3J .text-bNk .access-to-the-entire-buyer-universe-eM2 {
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.016rem;
  color: #f5f5f5;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  align-items: baseline;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-vvts-fZe .item--Ttp .auto-group-pj6t-oSt .more-buyers-w3J .text-bNk .access-to-the-entire-buyer-universe-eM2 .access-to-the-entire-buyer-universe-eM2-sub-0 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5714285714;
  letter-spacing: 0.014rem;
  color: #f5f5f5;
  font-family: Open Sans, 'Source Sans Pro';
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-vvts-fZe .item--Ttp .auto-group-pj6t-oSt .more-buyers-w3J .text-bNk .access-to-the-entire-buyer-universe-eM2 .access-to-the-entire-buyer-universe-eM2-sub-1 {
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-vvts-fZe .item--Ttp .auto-group-pj6t-oSt .zero-cost-gwv {
  margin-right: 11.7rem;
  width: calc(100% - 11.7rem);
  height: 5.9rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-vvts-fZe .item--Ttp .auto-group-pj6t-oSt .zero-cost-gwv .icon-1jJ {
  margin-right: 2.6rem;
  width: 5rem;
  height: 4.0984rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-vvts-fZe .item--Ttp .auto-group-pj6t-oSt .zero-cost-gwv .text-xPe {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-vvts-fZe .item--Ttp .auto-group-pj6t-oSt .zero-cost-gwv .text-xPe .zero-cost-iNp {
  margin-bottom: 1rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.6875;
  letter-spacing: 0.016rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-vvts-fZe .item--Ttp .auto-group-pj6t-oSt .zero-cost-gwv .text-xPe .no-upfront-cost-to-get-started-dkg {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5714285714;
  letter-spacing: 0.014rem;
  color: #f5f5f5;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-vvts-fZe .item--Ttp .auto-group-pj6t-oSt .easy-to-use-8hS {
  margin-right: 16.7rem;
  width: calc(100% - 16.7rem);
  height: 5.9rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-vvts-fZe .item--Ttp .auto-group-pj6t-oSt .easy-to-use-8hS .icon-rdS {
  margin-right: 2.6001rem;
  width: 4.9999rem;
  height: 4.9997rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-vvts-fZe .item--Ttp .auto-group-pj6t-oSt .easy-to-use-8hS .text-PdN {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-vvts-fZe .item--Ttp .auto-group-pj6t-oSt .easy-to-use-8hS .text-PdN .easy-to-use-A8L {
  margin-bottom: 1rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.6875;
  letter-spacing: 0.016rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-vvts-fZe .item--Ttp .auto-group-pj6t-oSt .easy-to-use-8hS .text-PdN .start-selling-in-no-time-HCx {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5714285714;
  letter-spacing: 0.014rem;
  color: #f5f5f5;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-vvts-fZe .item--Ttp .grow-business-bUY {
  width: 100%;
  height: 5.9rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-vvts-fZe .item--Ttp .grow-business-bUY .icon-8jN {
  margin-right: 2.4999rem;
  width: 5.0001rem;
  height: 4.9998rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-vvts-fZe .item--Ttp .grow-business-bUY .text-swr {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-vvts-fZe .item--Ttp .grow-business-bUY .text-swr .grow-tour-business-qtg {
  margin-bottom: 1rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.6875;
  letter-spacing: 0.016rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-vvts-fZe .item--Ttp .grow-business-bUY .text-swr .promote-your-business-with-your-own-webpage-ARA {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5714285714;
  letter-spacing: 0.014rem;
  color: #f5f5f5;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-j8oe-52L {
  margin: 2.9rem 0rem 2.4rem 0rem;
  box-sizing: border-box;
  padding: 3.1rem 10.7rem 3.6rem 9.4rem;
  width: 68.8rem;
  height: calc(100% - 5.3rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.3rem #000000;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-j8oe-52L .auto-group-9skp-kuA {
  margin: 0rem 8.7rem 2.1rem 0rem;
  width: 39.8rem;
  height: 4.9rem;
  position: relative;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-j8oe-52L .auto-group-9skp-kuA .login-to-your-account-and-start-selling-products-on-creative-scrapyard-5wS {
  width: 39.8rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 2.4rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.0833333333;
  letter-spacing: 0.012rem;
  color: #555555;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-j8oe-52L .auto-group-9skp-kuA .welcome-to-creative-scrapyard-Me4 {
  width: 31.1rem;
  height: 3.3rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.65;
  letter-spacing: 0.02rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  align-items: baseline;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-j8oe-52L .auto-group-9skp-kuA .welcome-to-creative-scrapyard-Me4 .welcome-to-creative-scrapyard-Me4-sub-0 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.65;
  letter-spacing: 0.02rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-j8oe-52L .auto-group-9skp-kuA .welcome-to-creative-scrapyard-Me4 .welcome-to-creative-scrapyard-Me4-sub-1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.65;
  letter-spacing: 0.02rem;
  color: #ff731d;
  font-family: Open Sans, 'Source Sans Pro';
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-j8oe-52L .auto-group-4erg-jHE {
  width: 100%;
  height: 25.9rem;
  position: relative;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-j8oe-52L .auto-group-4erg-jHE .item--5M6 {
  width: 12.9rem;
  height: 4.5rem;
  position: absolute;
  left: 0.1rem;
  top: 21.4rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  letter-spacing: 0.018rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #3f80e0;
  box-sizing: border-box;
  background-color: #3f80e0;
  border-radius: 0.5rem;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-j8oe-52L .auto-group-4erg-jHE .form-WxC {
  width: 48.7rem;
  height: 25.9rem;
  position: absolute;
  left: 0;
  top: 0;
  row-gap: 3rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-j8oe-52L .auto-group-4erg-jHE .form-WxC .email-SL4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-j8oe-52L .auto-group-4erg-jHE .form-WxC .email-SL4 .email-zsN {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.016rem;
  color: #555555;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-j8oe-52L .auto-group-4erg-jHE .form-WxC .email-SL4 .box-7wz {
  width: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-j8oe-52L .auto-group-4erg-jHE .form-WxC .email-SL4 .box-7wz .rectangle-6-V3S {
  width: 100%;
  height: 4.5rem;
  border: solid 0.1rem #dddddd;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-j8oe-52L .auto-group-4erg-jHE .form-WxC .psswd-CiY {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-j8oe-52L .auto-group-4erg-jHE .form-WxC .psswd-CiY .password-MLY {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.016rem;
  color: #555555;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-j8oe-52L .auto-group-4erg-jHE .form-WxC .psswd-CiY .box-sZn {
  width: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-j8oe-52L .auto-group-4erg-jHE .form-WxC .psswd-CiY .box-sZn .rectangle-6-FB2 {
  width: 100%;
  height: 4.5rem;
  border: solid 0.1rem #dddddd;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.login-seller-6xU .auto-group-xgm2-va8 .auto-group-dq7z-MYx .auto-group-j8oe-52L .auto-group-4erg-jHE .form-WxC .next-button-NmS {
  width: 12.5rem;
  height: 4.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  letter-spacing: 0.018rem;
  color: #f6fbff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #3f80e0;
  box-sizing: border-box;
  background-color: #3f80e0;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-ec6g-n4U {
  box-sizing: border-box;
  padding: 0.4rem 12rem 0rem 12.8rem;
  width: 100%;
  height: 5.7094rem;
  display: flex;
  align-items: center;
  background-color: #5b5b5b;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-ec6g-n4U .item--gfe {
  margin-right: 23.2333rem;
  box-sizing: border-box;
  padding-right: 19.3667rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-ec6g-n4U .item--gfe .mask-group-cJQ {
  margin-right: 4.5rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-ec6g-n4U .item--gfe .mask-group-k9i {
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-ec6g-n4U .terms-condition-privacy-policy-gZA {
  margin: 0rem 29.7rem 2.109rem 0rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-seller-6xU .auto-group-ec6g-n4U .scrap-symphony-sanctuary-all-rights-reserved-AjE {
  margin-bottom: 2.1094rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
