
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.order-success-3t8 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/black1-2-bg-xZz.png');
  background-color: #ffffff;
}
.order-success-3t8 .item--BDe {
  box-sizing: border-box;
  padding: 1rem 69.2rem 0.8rem 69.2rem;
  width: 100%;
  height: 4rem;
  background-color: #777777;
  flex-shrink: 0;
}
.order-success-3t8 .item--BDe .frame-427319517-HnU {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.order-success-3t8 .item--BDe .frame-427319517-HnU .group-2-ESp {
  margin: 0rem 1rem 0rem 0rem;
  width: 2.2rem;
  height: 1.6422rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.order-success-3t8 .item--BDe .frame-427319517-HnU .made-for-india-9pg {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #ffffff;
  font-family: Merriweather, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-success-3t8 .auto-group-wrmv-Er8 {
  box-sizing: border-box;
  padding: 1.5rem 2.6rem 6.1rem 2.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.order-success-3t8 .auto-group-wrmv-Er8 .auto-group-qcg4-vyr {
  margin: 0rem 127.45rem 0.3rem 0rem;
  width: calc(100% - 127.45rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.order-success-3t8 .auto-group-wrmv-Er8 .auto-group-qcg4-vyr .scrap3-removebg-preview-68-eQ4 {
  margin-right: 0.0033rem;
  width: 4.7467rem;
  height: 4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.order-success-3t8 .auto-group-wrmv-Er8 .auto-group-qcg4-vyr .scrap-symphony-sanctuary-ZG8 {
  margin-top: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4825;
  letter-spacing: 0.028rem;
  color: #f7fbff;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-success-3t8 .auto-group-wrmv-Er8 .auto-group-7xdv-Sqi {
  margin: 0rem 3.1rem 2.7rem 1.9rem;
  width: calc(100% - 5rem);
  height: 3.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.order-success-3t8 .auto-group-wrmv-Er8 .auto-group-7xdv-Sqi .creative-scrapyard-xp4 {
  margin-right: 108.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4825;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-success-3t8 .auto-group-wrmv-Er8 .auto-group-7xdv-Sqi .item--5Nt {
  margin: 0.4rem 0;
  box-sizing: border-box;
  padding: 0.4rem 1.9rem 0.5rem 1.1rem;
  height: calc(100% - 0.8rem);
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
  background-color: #f16713;
  border-radius: 5rem;
  flex-shrink: 0;
}
.order-success-3t8 .auto-group-wrmv-Er8 .auto-group-7xdv-Sqi .item--5Nt .auto-group-4ete-CCc {
  margin: 0.1rem 1.1rem 0rem 0rem;
  width: 1.1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.order-success-3t8 .auto-group-wrmv-Er8 .auto-group-7xdv-Sqi .item--5Nt .back-to-home-iAx {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #fff7e9;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-success-3t8 .auto-group-wrmv-Er8 .item--aix {
  margin: 0rem 25rem 0rem 28.2rem;
  box-sizing: border-box;
  padding: 6.85rem 23.65rem 6.4rem 23.65rem;
  width: calc(100% - 53.2rem);
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.2rem #000000;
  background-color: #ffffff;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.order-success-3t8 .auto-group-wrmv-Er8 .item--aix .frame-427319654-Grg {
  margin-bottom: 1.65rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.order-success-3t8 .auto-group-wrmv-Er8 .item--aix .frame-427319654-Grg .group-36-DX2 {
  margin: 0rem 18.95rem 5rem 18.95rem;
  box-sizing: border-box;
  padding: 1.463rem 0.679rem 1.463rem 2.462rem;
  width: calc(100% - 37.9rem);
  height: 10rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-zEY.png');
  flex-shrink: 0;
}
.order-success-3t8 .auto-group-wrmv-Er8 .item--aix .frame-427319654-Grg .group-36-DX2 .vector-FCp {
  width: 6.8588rem;
  height: 5.3265rem;
  object-fit: contain;
  vertical-align: top;
}
.order-success-3t8 .auto-group-wrmv-Er8 .item--aix .frame-427319654-Grg .frame-427319653-mgx {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.order-success-3t8 .auto-group-wrmv-Er8 .item--aix .frame-427319654-Grg .frame-427319653-mgx .order-successful--Xg8 {
  margin-bottom: 1.9rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.3625;
  letter-spacing: 0.04rem;
  color: #ff731d;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-success-3t8 .auto-group-wrmv-Er8 .item--aix .frame-427319654-Grg .frame-427319653-mgx .your-order-will-delivered-within-a-week-2sn {
  text-align: center;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.026rem;
  color: #3f80e0;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-success-3t8 .auto-group-wrmv-Er8 .item--aix .thank-you-so-much-for-choosing-us-XpY {
  margin-left: 1.7rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3625;
  letter-spacing: 0.02rem;
  color: #3f80e0;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-success-3t8 .auto-group-iz1i-oXA {
  box-sizing: border-box;
  padding: 0.4rem 12.1rem 0rem 14.1rem;
  width: 100%;
  height: 5.7094rem;
  display: flex;
  align-items: center;
  background-color: #5b5b5b;
  flex-shrink: 0;
}
.order-success-3t8 .auto-group-iz1i-oXA .item--KkQ {
  margin-right: 21.9333rem;
  box-sizing: border-box;
  padding-right: 19.3667rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.order-success-3t8 .auto-group-iz1i-oXA .item--KkQ .mask-group-U7W {
  margin-right: 4.5rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.order-success-3t8 .auto-group-iz1i-oXA .item--KkQ .mask-group-QWx {
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.order-success-3t8 .auto-group-iz1i-oXA .terms-condition-privacy-policy-wFz {
  margin: 0rem 29.7rem 2.109rem 0rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.order-success-3t8 .auto-group-iz1i-oXA .scrap-symphony-sanctuary-all-rights-reserved-2oE {
  margin-bottom: 2.1094rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
