
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.5rem;
}.scrap-paper-wxY {
  width: 100%;
  height: 152.3rem;
  position: relative;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/black1-66-bg-Sd2.png');
  background-color: #ffffff;
}
.scrap-paper-wxY .item--g9S {
  box-sizing: border-box;
  padding: 1rem 69.15rem;
  width: 153.5rem;
  height: 4.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #777777;
}
.scrap-paper-wxY .item--g9S .frame-427319517-nCU {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.scrap-paper-wxY .item--g9S .frame-427319517-nCU .group-2-vpU {
  margin: 0rem 1rem 0rem 0rem;
  width: 2.2rem;
  height: 1.6422rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-paper-wxY .item--g9S .frame-427319517-nCU .made-for-india-T3i {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #ffffff;
  font-family: Merriweather, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-paper-wxY .auto-group-ardj-wja {
  width: 145.9rem;
  height: 4.6832rem;
  position: absolute;
  left: 3rem;
  top: 8.1rem;
  display: flex;
  align-items: center;
}
.scrap-paper-wxY .auto-group-ardj-wja .scrap3-removebg-preview-59-4JQ {
  margin: 0rem 0.003rem 0.683rem 0rem;
  width: 4.7467rem;
  height: 4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-paper-wxY .auto-group-ardj-wja .scrap-symphony-sanctuary-YzG {
  margin: 0rem 13.35rem 0.183rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4825;
  letter-spacing: 0.028rem;
  color: #f7fbff;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-paper-wxY .auto-group-ardj-wja .home-scrap-section-creative-section-about-us-contact-us-EcC {
  margin: 0.617rem 5.2rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.016rem;
  color: #f6fbff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-paper-wxY .auto-group-ardj-wja .auto-group-d3st-WZi {
  margin: 1.1rem 1.6rem 0.483rem 0rem;
  box-sizing: border-box;
  padding: 0.3rem 28.2rem 0.3rem 0.8rem;
  height: calc(100% - 1.5832rem);
  display: flex;
  align-items: center;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
  background-color: #f6fbff;
  flex-shrink: 0;
}
.scrap-paper-wxY .auto-group-ardj-wja .auto-group-d3st-WZi .group-ooi {
  margin: 0rem 0.801rem 0.113rem 0rem;
  width: 1.9987rem;
  height: 2.0116rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-paper-wxY .auto-group-ardj-wja .auto-group-d3st-WZi .search-vNY {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  letter-spacing: 0.018rem;
  color: #555555;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-paper-wxY .auto-group-ardj-wja .vector-196 {
  margin: 0.489rem 1.73rem 0rem 0rem;
  width: 4rem;
  height: 3.5953rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-paper-wxY .auto-group-ardj-wja .item--7xp {
  margin: 0.779rem 1.767rem 0rem 0rem;
  width: 3.7029rem;
  height: 3.0931rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-paper-wxY .auto-group-ardj-wja .layer1-FJL {
  margin-top: 0.7883rem;
  width: 4rem;
  height: 3.8949rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-paper-wxY .auto-group-xiz2-z12 {
  box-sizing: border-box;
  padding: 6.4rem 4.4rem 6.3rem 0rem;
  width: 154.9rem;
  height: 36.3rem;
  position: absolute;
  left: 0;
  top: 20.4rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.scrap-paper-wxY .auto-group-xiz2-z12 .scrap-9-VCg {
  margin-bottom: 1rem;
  width: 70.6rem;
  height: 20.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-paper-wxY .auto-group-xiz2-z12 .auto-group-mc8c-RME {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-paper-wxY .auto-group-xiz2-z12 .auto-group-mc8c-RME .what-is-scrap-how-it-will-be-useful--P3A {
  margin-bottom: 2.4rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.3333333333;
  letter-spacing: 0.024rem;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-paper-wxY .auto-group-xiz2-z12 .auto-group-mc8c-RME .scrap-refers-to-discarded-or-leftover-materials-from-manufacturing-processes-or-everyday-use-it-can-be-useful-when-recycled-or-repurposed-reducing-waste-and-conserving-resources-recycling-scrap-material-contributes-to-environmental-sustainability-by-saving-energy-and-raw-materials-additionally-repurposing-scrap-for-creative-projects-can-promote-innovation-and-resourcefulness-5gg {
  max-width: 69.7rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.25;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  flex-shrink: 0;
}
.scrap-paper-wxY .item--edJ {
  width: 26.8rem;
  height: 5rem;
  position: absolute;
  left: 63.4rem;
  top: 60.8rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3333333333;
  letter-spacing: 0.024rem;
  color: #fff7e9;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
  background-color: #f16713;
  border-radius: 5rem;
}
.scrap-paper-wxY .auto-group-gibe-V88 {
  box-sizing: border-box;
  padding: 1.3rem 0.8rem 1.8rem 5.4rem;
  width: 153.5rem;
  height: 6.3rem;
  position: absolute;
  left: 0;
  top: 69.9rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.3333333333;
  letter-spacing: 0.024rem;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
}
.scrap-paper-wxY .auto-group-cxbn-LPe {
  width: 125.4rem;
  height: 39.2rem;
  position: absolute;
  left: 13.8rem;
  top: 83.5rem;
  display: flex;
  align-items: center;
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-d1iu-rct {
  margin-right: 17.9rem;
  box-sizing: border-box;
  padding: 5.1rem 2.1rem 2.5rem 2rem;
  width: 30.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-d1iu-rct .newspaper-3-ANg {
  margin-bottom: 0.7rem;
  width: 26rem;
  height: 24.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-d1iu-rct .newspapers-15-kg-JDz {
  margin: 0rem 1rem 1.5rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-d1iu-rct .newspapers-15-kg-JDz .newspapers-15-kg-JDz-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-d1iu-rct .newspapers-15-kg-JDz .newspapers-15-kg-JDz-sub-1 {
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-d1iu-rct .newspapers-15-kg-JDz .newspapers-15-kg-JDz-sub-2 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-d1iu-rct .auto-group-e3fa-7ak {
  margin: 0rem 0.8rem 0rem 0.2rem;
  width: calc(100% - 1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-d1iu-rct .auto-group-e3fa-7ak .auto-group-fvyr-e4t {
  margin: 0rem 2.6rem 0.2rem 0rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-d1iu-rct .auto-group-e3fa-7ak .auto-group-fvyr-e4t .rectangle-888-ZxY {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-d1iu-rct .auto-group-e3fa-7ak .auto-group-fvyr-e4t .add-to-cart-JQL {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-d1iu-rct .auto-group-e3fa-7ak .auto-group-fvyr-e4t .item--p7n {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 0.768rem;
  top: 0.968rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-d1iu-rct .auto-group-e3fa-7ak .auto-group-yhjc-wCQ {
  margin-top: 0.2rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-d1iu-rct .auto-group-e3fa-7ak .auto-group-yhjc-wCQ .rectangle-887-GVa {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.5rem;
  background-color: #000000;
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-d1iu-rct .auto-group-e3fa-7ak .auto-group-yhjc-wCQ .vector-Cu2 {
  width: 1.4rem;
  height: 1.2983rem;
  position: absolute;
  left: 1.5rem;
  top: 0.8rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-d1iu-rct .auto-group-e3fa-7ak .auto-group-yhjc-wCQ .wishlist-wbi {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 4.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-fgbe-Dp8 {
  margin-right: 17.2rem;
  box-sizing: border-box;
  padding: 5.1rem 2.5rem 2.5rem 2.4rem;
  width: 30.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-fgbe-Dp8 .oldbook-4-vyS {
  margin: 0rem 0rem 2.6rem 1.2rem;
  width: 24rem;
  height: 23.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-fgbe-Dp8 .old-books-15-kg-4Jx {
  margin: 0rem 1.3rem 0.7rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-fgbe-Dp8 .old-books-15-kg-4Jx .old-books-15-kg-4Jx-sub-0 {
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-fgbe-Dp8 .old-books-15-kg-4Jx .old-books-15-kg-4Jx-sub-1 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-fgbe-Dp8 .old-books-15-kg-4Jx .old-books-15-kg-4Jx-sub-2 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-fgbe-Dp8 .auto-group-bw1n-aRi {
  margin-left: 0.3rem;
  width: calc(100% - 0.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-fgbe-Dp8 .auto-group-bw1n-aRi .auto-group-ezkk-KPJ {
  margin: 0rem 2.5rem 0.2rem 0rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-fgbe-Dp8 .auto-group-bw1n-aRi .auto-group-ezkk-KPJ .rectangle-890-FXr {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-fgbe-Dp8 .auto-group-bw1n-aRi .auto-group-ezkk-KPJ .add-to-cart-o3a {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-fgbe-Dp8 .auto-group-bw1n-aRi .auto-group-ezkk-KPJ .item--K1v {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 0.768rem;
  top: 0.968rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-fgbe-Dp8 .auto-group-bw1n-aRi .auto-group-g9de-SMS {
  margin-top: 0.2rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-fgbe-Dp8 .auto-group-bw1n-aRi .auto-group-g9de-SMS .rectangle-893-ycG {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.5rem;
  background-color: #000000;
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-fgbe-Dp8 .auto-group-bw1n-aRi .auto-group-g9de-SMS .vector-7Ta {
  width: 1.4rem;
  height: 1.2983rem;
  position: absolute;
  left: 1.5rem;
  top: 0.8rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-fgbe-Dp8 .auto-group-bw1n-aRi .auto-group-g9de-SMS .wishlist-FZn {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 4.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-tayk-L5S {
  box-sizing: border-box;
  padding: 5.1rem 1rem 2.5rem 1.8rem;
  width: 30.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-tayk-L5S .cardboard-3-TA4 {
  margin-bottom: 2.1rem;
  width: 27.3rem;
  height: 22.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-tayk-L5S .worncotton-boxes-15-kg-zQt {
  margin: 0rem 1.8rem 1.7rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-tayk-L5S .worncotton-boxes-15-kg-zQt .worncotton-boxes-15-kg-zQt-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-tayk-L5S .worncotton-boxes-15-kg-zQt .worncotton-boxes-15-kg-zQt-sub-1 {
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-tayk-L5S .worncotton-boxes-15-kg-zQt .worncotton-boxes-15-kg-zQt-sub-2 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-tayk-L5S .auto-group-ngbn-WnY {
  margin: 0rem 1.5rem 0rem 0.4rem;
  width: calc(100% - 1.9rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-tayk-L5S .auto-group-ngbn-WnY .auto-group-knui-FEL {
  margin: 0rem 3rem 0.2rem 0rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-tayk-L5S .auto-group-ngbn-WnY .auto-group-knui-FEL .rectangle-892-MYG {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-tayk-L5S .auto-group-ngbn-WnY .auto-group-knui-FEL .add-to-cart-h6L {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-tayk-L5S .auto-group-ngbn-WnY .auto-group-knui-FEL .item--D4g {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 0.768rem;
  top: 0.968rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-tayk-L5S .auto-group-ngbn-WnY .auto-group-6wm2-joi {
  margin-top: 0.2rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-tayk-L5S .auto-group-ngbn-WnY .auto-group-6wm2-joi .rectangle-894-suv {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.5rem;
  background-color: #000000;
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-tayk-L5S .auto-group-ngbn-WnY .auto-group-6wm2-joi .vector-228 {
  width: 1.4rem;
  height: 1.2983rem;
  position: absolute;
  left: 1.6rem;
  top: 0.9rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-paper-wxY .auto-group-cxbn-LPe .auto-group-tayk-L5S .auto-group-ngbn-WnY .auto-group-6wm2-joi .wishlist-Mq6 {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 4.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-paper-wxY .footer-qVN {
  width: 153.5rem;
  height: 26.6094rem;
  position: absolute;
  left: 0;
  top: 127.3rem;
}
.scrap-paper-wxY .footer-qVN .rectangle-3-mP2 {
  width: 153.5rem;
  height: 24.9998rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #222222;
}
.scrap-paper-wxY .footer-qVN .scrap-symphoy-sanctuary-aims-to-promote-innovation-in-the-digital-commerce-ecosystem-by-providing-a-platform-for-startups-and-entrepreneurs-to-develop-new-services-and-solutions-also-supports-digital-commerce-including-online-payments-e-commerce-and-financial-services-K9e {
  width: 43.7rem;
  height: 8.8rem;
  position: absolute;
  left: 12.1922rem;
  top: 4.8992rem;
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-paper-wxY .footer-qVN .frame-35-VTS {
  width: 14.4rem;
  height: 16.5rem;
  position: absolute;
  left: 117.7234rem;
  top: 1.993rem;
}
.scrap-paper-wxY .footer-qVN .frame-35-VTS .pages-pkc {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2.25;
  letter-spacing: 0.012rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-paper-wxY .footer-qVN .frame-35-VTS .frame-39-92C {
  width: 100%;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
}
.scrap-paper-wxY .footer-qVN .frame-35-VTS .frame-39-92C .about-us-gXv {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-paper-wxY .footer-qVN .frame-35-VTS .frame-39-92C .return-policy-1q6 {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-paper-wxY .footer-qVN .frame-35-VTS .frame-39-92C .contact-us-k1z {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-paper-wxY .footer-qVN .frame-35-VTS .frame-39-92C .refund-cancellation-policies-H1v {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-paper-wxY .footer-qVN .social-media-oW4 {
  width: 17.362rem;
  height: 3rem;
  position: absolute;
  left: 13.0039rem;
  top: 15.1109rem;
  display: flex;
  align-items: center;
}
.scrap-paper-wxY .footer-qVN .social-media-oW4 .vector-jPi {
  margin: 0rem 4.035rem 0rem 0rem;
  width: 2.9268rem;
  height: 2.9268rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-paper-wxY .footer-qVN .social-media-oW4 .vector-sF2 {
  margin-right: 4.0344rem;
  width: 3.2195rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-paper-wxY .footer-qVN .social-media-oW4 .vector-27v {
  margin-top: 0.0013rem;
  width: 3.1463rem;
  height: 2.6341rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-paper-wxY .footer-qVN .rectangle-12-NBn {
  width: 153.5rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 20.7rem;
  background-color: #555555;
}
.scrap-paper-wxY .footer-qVN .frame-40-uxQ {
  box-sizing: border-box;
  padding-right: 19.3667rem;
  width: 29.8667rem;
  height: 5.3094rem;
  position: absolute;
  left: 14.0906rem;
  top: 21.3rem;
  display: flex;
  align-items: flex-start;
}
.scrap-paper-wxY .footer-qVN .frame-40-uxQ .mask-group-qLG {
  margin-right: 4.5rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-paper-wxY .footer-qVN .frame-40-uxQ .mask-group-Nqz {
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-paper-wxY .footer-qVN .scrap-symphony-sanctuary-all-rights-reserved-jAk {
  width: 27.4rem;
  height: 2.2rem;
  position: absolute;
  left: 114.0258rem;
  top: 22.1133rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-paper-wxY .footer-qVN .terms-condition-privacy-policy-cVS {
  width: 18.5rem;
  height: 2.2rem;
  position: absolute;
  left: 65.857rem;
  top: 22.1133rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
