
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.5rem;
}.scrap-wood-3A4 {
  width: 100%;
  height: 152.3rem;
  position: relative;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/black1-66-bg-y9N.png');
  background-color: #ffffff;
}
.scrap-wood-3A4 .item--Lex {
  box-sizing: border-box;
  padding: 1rem 69.15rem;
  width: 153.5rem;
  height: 4.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #777777;
}
.scrap-wood-3A4 .item--Lex .frame-427319517-evY {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.scrap-wood-3A4 .item--Lex .frame-427319517-evY .group-2-c6g {
  margin: 0rem 1rem 0rem 0rem;
  width: 2.2rem;
  height: 1.6422rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-wood-3A4 .item--Lex .frame-427319517-evY .made-for-india-vNG {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #ffffff;
  font-family: Merriweather, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-wood-3A4 .auto-group-utfw-dnU {
  width: 145.9rem;
  height: 4.6832rem;
  position: absolute;
  left: 3rem;
  top: 8.1rem;
  display: flex;
  align-items: center;
}
.scrap-wood-3A4 .auto-group-utfw-dnU .scrap3-removebg-preview-59-YeY {
  margin: 0rem 0.003rem 0.683rem 0rem;
  width: 4.7467rem;
  height: 4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-wood-3A4 .auto-group-utfw-dnU .scrap-symphony-sanctuary-FYx {
  margin: 0rem 13.35rem 0.183rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4825;
  letter-spacing: 0.028rem;
  color: #f7fbff;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-wood-3A4 .auto-group-utfw-dnU .home-scrap-section-creative-section-about-us-contact-us-WUt {
  margin: 0.617rem 5.2rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.016rem;
  color: #f6fbff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-wood-3A4 .auto-group-utfw-dnU .auto-group-4swe-Bb2 {
  margin: 1.1rem 1.6rem 0.483rem 0rem;
  box-sizing: border-box;
  padding: 0.3rem 28.2rem 0.3rem 0.8rem;
  height: calc(100% - 1.5832rem);
  display: flex;
  align-items: center;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
  background-color: #f6fbff;
  flex-shrink: 0;
}
.scrap-wood-3A4 .auto-group-utfw-dnU .auto-group-4swe-Bb2 .group-G6g {
  margin: 0rem 0.801rem 0.113rem 0rem;
  width: 1.9987rem;
  height: 2.0116rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-wood-3A4 .auto-group-utfw-dnU .auto-group-4swe-Bb2 .search-nap {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  letter-spacing: 0.018rem;
  color: #555555;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-wood-3A4 .auto-group-utfw-dnU .vector-UCk {
  margin: 0.489rem 1.73rem 0rem 0rem;
  width: 4rem;
  height: 3.5953rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-wood-3A4 .auto-group-utfw-dnU .item--yQQ {
  margin: 0.779rem 1.767rem 0rem 0rem;
  width: 3.7029rem;
  height: 3.0931rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-wood-3A4 .auto-group-utfw-dnU .layer1-tXN {
  margin-top: 0.7883rem;
  width: 4rem;
  height: 3.8949rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-wood-3A4 .auto-group-7w7j-2da {
  box-sizing: border-box;
  padding: 6.4rem 4.4rem 6.3rem 0rem;
  width: 154.9rem;
  height: 36.3rem;
  position: absolute;
  left: 0;
  top: 20.4rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.scrap-wood-3A4 .auto-group-7w7j-2da .scrap-9-vyr {
  margin-bottom: 1rem;
  width: 70.6rem;
  height: 20.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-wood-3A4 .auto-group-7w7j-2da .auto-group-kovc-UEg {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-wood-3A4 .auto-group-7w7j-2da .auto-group-kovc-UEg .what-is-scrap-how-it-will-be-useful--EDr {
  margin-bottom: 2.4rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.3333333333;
  letter-spacing: 0.024rem;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-wood-3A4 .auto-group-7w7j-2da .auto-group-kovc-UEg .scrap-refers-to-discarded-or-leftover-materials-from-manufacturing-processes-or-everyday-use-it-can-be-useful-when-recycled-or-repurposed-reducing-waste-and-conserving-resources-recycling-scrap-material-contributes-to-environmental-sustainability-by-saving-energy-and-raw-materials-additionally-repurposing-scrap-for-creative-projects-can-promote-innovation-and-resourcefulness-jAc {
  max-width: 69.7rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.25;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  flex-shrink: 0;
}
.scrap-wood-3A4 .item--5tg {
  width: 26.8rem;
  height: 5rem;
  position: absolute;
  left: 63.4rem;
  top: 60.8rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3333333333;
  letter-spacing: 0.024rem;
  color: #fff7e9;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
  background-color: #f16713;
  border-radius: 5rem;
}
.scrap-wood-3A4 .auto-group-pj3a-Wj6 {
  box-sizing: border-box;
  padding: 1.3rem 0.8rem 1.8rem 5.4rem;
  width: 153.5rem;
  height: 6.3rem;
  position: absolute;
  left: 0;
  top: 69.9rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.3333333333;
  letter-spacing: 0.024rem;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
}
.scrap-wood-3A4 .auto-group-bulx-x5J {
  width: 125.4rem;
  height: 39.2rem;
  position: absolute;
  left: 13.8rem;
  top: 83.5rem;
  display: flex;
  align-items: center;
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-j1hw-4u2 {
  margin-right: 17.9rem;
  box-sizing: border-box;
  padding: 3.8rem 2.7rem 2.5rem 2.2rem;
  width: 30.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-j1hw-4u2 .extra-wood-4-kmr {
  margin: 0rem 0rem 1.2rem 0.6rem;
  width: 24.2rem;
  height: 25.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-j1hw-4u2 .ecowood-scraps-32-kg-sba {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-j1hw-4u2 .ecowood-scraps-32-kg-sba .ecowood-scraps-32-kg-sba-sub-0 {
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-j1hw-4u2 .ecowood-scraps-32-kg-sba .ecowood-scraps-32-kg-sba-sub-1 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-j1hw-4u2 .auto-group-trs2-MQG {
  margin-right: 0.2rem;
  width: calc(100% - 0.2rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-j1hw-4u2 .auto-group-trs2-MQG .auto-group-ax9n-HYp {
  margin: 0rem 2.6rem 0.2rem 0rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-j1hw-4u2 .auto-group-trs2-MQG .auto-group-ax9n-HYp .rectangle-888-DBa {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-j1hw-4u2 .auto-group-trs2-MQG .auto-group-ax9n-HYp .add-to-cart-wdN {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-j1hw-4u2 .auto-group-trs2-MQG .auto-group-ax9n-HYp .item--F8G {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 0.768rem;
  top: 0.968rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-j1hw-4u2 .auto-group-trs2-MQG .auto-group-t3nc-m6c {
  margin-top: 0.2rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-j1hw-4u2 .auto-group-trs2-MQG .auto-group-t3nc-m6c .rectangle-887-uCp {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.5rem;
  background-color: #000000;
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-j1hw-4u2 .auto-group-trs2-MQG .auto-group-t3nc-m6c .vector-SiY {
  width: 1.4rem;
  height: 1.2983rem;
  position: absolute;
  left: 1.4rem;
  top: 0.9rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-j1hw-4u2 .auto-group-trs2-MQG .auto-group-t3nc-m6c .wishlist-n1i {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 4.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-kzbn-rXN {
  margin-right: 17.2rem;
  box-sizing: border-box;
  padding: 3.8rem 2.3rem 2.5rem 2.5rem;
  width: 30.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-kzbn-rXN .chair-wood-3-AY4 {
  margin: 0rem 0rem 1.291rem 0.003rem;
  width: 20.704rem;
  height: 25.2089rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-kzbn-rXN .timber-relic-32-kg-tDA {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-kzbn-rXN .timber-relic-32-kg-tDA .timber-relic-32-kg-tDA-sub-0 {
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-kzbn-rXN .timber-relic-32-kg-tDA .timber-relic-32-kg-tDA-sub-1 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-kzbn-rXN .auto-group-krjn-s56 {
  margin: 0 0.2rem;
  width: calc(100% - 0.4rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-kzbn-rXN .auto-group-krjn-s56 .auto-group-kzkn-oUY {
  margin: 0rem 2.5rem 0.2rem 0rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-kzbn-rXN .auto-group-krjn-s56 .auto-group-kzkn-oUY .rectangle-890-Khn {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-kzbn-rXN .auto-group-krjn-s56 .auto-group-kzkn-oUY .add-to-cart-rSp {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-kzbn-rXN .auto-group-krjn-s56 .auto-group-kzkn-oUY .item--yGY {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 0.768rem;
  top: 0.968rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-kzbn-rXN .auto-group-krjn-s56 .auto-group-j8wn-6MA {
  margin-top: 0.2rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-kzbn-rXN .auto-group-krjn-s56 .auto-group-j8wn-6MA .rectangle-893-ECU {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.5rem;
  background-color: #000000;
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-kzbn-rXN .auto-group-krjn-s56 .auto-group-j8wn-6MA .vector-NpU {
  width: 1.4rem;
  height: 1.2983rem;
  position: absolute;
  left: 1.5rem;
  top: 0.9rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-kzbn-rXN .auto-group-krjn-s56 .auto-group-j8wn-6MA .wishlist-i7e {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 4.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-cw8y-afe {
  box-sizing: border-box;
  padding: 3.8rem 2.5rem 2.5rem 2.2rem;
  width: 30.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-cw8y-afe .wood-doll-3-Vnc {
  margin: 0rem 0rem 1.6rem 0.6rem;
  width: 23.2rem;
  height: 24.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-cw8y-afe .nostalgia-guardian-32-kg-p4C {
  margin: 0rem 1rem 1.5rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-cw8y-afe .nostalgia-guardian-32-kg-p4C .nostalgia-guardian-32-kg-p4C-sub-0 {
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-cw8y-afe .nostalgia-guardian-32-kg-p4C .nostalgia-guardian-32-kg-p4C-sub-1 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-cw8y-afe .auto-group-mckn-Zfz {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-cw8y-afe .auto-group-mckn-Zfz .auto-group-nfik-K9N {
  margin: 0rem 3rem 0.2rem 0rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-cw8y-afe .auto-group-mckn-Zfz .auto-group-nfik-K9N .rectangle-892-CU4 {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-cw8y-afe .auto-group-mckn-Zfz .auto-group-nfik-K9N .add-to-cart-ixC {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-cw8y-afe .auto-group-mckn-Zfz .auto-group-nfik-K9N .item--EQk {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 0.768rem;
  top: 0.968rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-cw8y-afe .auto-group-mckn-Zfz .auto-group-rqwe-x5r {
  margin-top: 0.2rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-cw8y-afe .auto-group-mckn-Zfz .auto-group-rqwe-x5r .rectangle-894-V5n {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.5rem;
  background-color: #000000;
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-cw8y-afe .auto-group-mckn-Zfz .auto-group-rqwe-x5r .vector-25i {
  width: 1.4rem;
  height: 1.2983rem;
  position: absolute;
  left: 1.5rem;
  top: 0.8rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-wood-3A4 .auto-group-bulx-x5J .auto-group-cw8y-afe .auto-group-mckn-Zfz .auto-group-rqwe-x5r .wishlist-Ypk {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 4.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-wood-3A4 .footer-1iL {
  width: 153.5rem;
  height: 26.6094rem;
  position: absolute;
  left: 0;
  top: 127.3rem;
}
.scrap-wood-3A4 .footer-1iL .rectangle-3-93r {
  width: 153.5rem;
  height: 24.9998rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #222222;
}
.scrap-wood-3A4 .footer-1iL .scrap-symphoy-sanctuary-aims-to-promote-innovation-in-the-digital-commerce-ecosystem-by-providing-a-platform-for-startups-and-entrepreneurs-to-develop-new-services-and-solutions-also-supports-digital-commerce-including-online-payments-e-commerce-and-financial-services-tGL {
  width: 43.7rem;
  height: 8.8rem;
  position: absolute;
  left: 12.1922rem;
  top: 4.8992rem;
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-wood-3A4 .footer-1iL .frame-35-8pt {
  width: 14.4rem;
  height: 16.5rem;
  position: absolute;
  left: 117.7234rem;
  top: 1.993rem;
}
.scrap-wood-3A4 .footer-1iL .frame-35-8pt .pages-FuW {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2.25;
  letter-spacing: 0.012rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-wood-3A4 .footer-1iL .frame-35-8pt .frame-39-xJ8 {
  width: 100%;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
}
.scrap-wood-3A4 .footer-1iL .frame-35-8pt .frame-39-xJ8 .about-us-JMz {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-wood-3A4 .footer-1iL .frame-35-8pt .frame-39-xJ8 .return-policy-RhW {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-wood-3A4 .footer-1iL .frame-35-8pt .frame-39-xJ8 .contact-us-Z32 {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-wood-3A4 .footer-1iL .frame-35-8pt .frame-39-xJ8 .refund-cancellation-policies-tb6 {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-wood-3A4 .footer-1iL .social-media-DNU {
  width: 17.362rem;
  height: 3rem;
  position: absolute;
  left: 13.0039rem;
  top: 15.1109rem;
  display: flex;
  align-items: center;
}
.scrap-wood-3A4 .footer-1iL .social-media-DNU .vector-8kL {
  margin: 0rem 4.035rem 0rem 0rem;
  width: 2.9268rem;
  height: 2.9268rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-wood-3A4 .footer-1iL .social-media-DNU .vector-fkG {
  margin-right: 4.0344rem;
  width: 3.2195rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-wood-3A4 .footer-1iL .social-media-DNU .vector-RDe {
  margin-top: 0.0013rem;
  width: 3.1463rem;
  height: 2.6341rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-wood-3A4 .footer-1iL .rectangle-12-Msz {
  width: 153.5rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 20.7rem;
  background-color: #555555;
}
.scrap-wood-3A4 .footer-1iL .frame-40-64t {
  box-sizing: border-box;
  padding-right: 19.3667rem;
  width: 29.8667rem;
  height: 5.3094rem;
  position: absolute;
  left: 14.0906rem;
  top: 21.3rem;
  display: flex;
  align-items: flex-start;
}
.scrap-wood-3A4 .footer-1iL .frame-40-64t .mask-group-niQ {
  margin-right: 4.5rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-wood-3A4 .footer-1iL .frame-40-64t .mask-group-Xfz {
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-wood-3A4 .footer-1iL .scrap-symphony-sanctuary-all-rights-reserved-UbE {
  width: 27.4rem;
  height: 2.2rem;
  position: absolute;
  left: 114.0258rem;
  top: 22.1133rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-wood-3A4 .footer-1iL .terms-condition-privacy-policy-Muv {
  width: 18.5rem;
  height: 2.2rem;
  position: absolute;
  left: 65.857rem;
  top: 22.1133rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
