
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.scrap-paper-1-xF6 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/black1-67-bg-uMW.png');
  background-color: #ffffff;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ {
  box-sizing: border-box;
  padding: 5.1rem 3.7rem 5.9rem 2.4rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-am4g-DRv {
  margin: 0rem 3.3rem 3.292rem 0rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-am4g-DRv .scrap3-removebg-preview-68-8Hz {
  margin: 0rem 0.103rem 0.308rem 0rem;
  width: 4.7467rem;
  height: 4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-am4g-DRv .scrap-symphony-sanctuary-Rnt {
  margin: 0rem 11.95rem 0.808rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4825;
  letter-spacing: 0.028rem;
  color: #f7fbff;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-am4g-DRv .home-scrap-section-creative-section-about-us-contact-us-iX6 {
  margin: 0rem 4.1rem 0.608rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.016rem;
  color: #f6fbff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-am4g-DRv .auto-group-wbz6-CSG {
  margin: 1.192rem 3.3rem 0rem 0rem;
  box-sizing: border-box;
  padding: 0.2rem 28.2rem 0.1rem 1rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
  background-color: #f6fbff;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-am4g-DRv .auto-group-wbz6-CSG .group-187-uLg {
  margin: 0rem 0.6rem 0.162rem 0rem;
  width: 2rem;
  height: 2.6383rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-am4g-DRv .auto-group-wbz6-CSG .search-DsA {
  margin-top: 0.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  letter-spacing: 0.018rem;
  color: #555555;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-am4g-DRv .vector-uEC {
  margin: 0rem 1.93rem 0.208rem 0rem;
  width: 3.4rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-am4g-DRv .item--dAC {
  margin: 0rem 1.967rem 0.23rem 0rem;
  width: 3.7029rem;
  height: 3.0931rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-am4g-DRv .layer1-wRn {
  width: 3.2rem;
  height: 3.4078rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .item--5nt {
  margin: 0rem 5.3rem 3.1rem 132.8rem;
  box-sizing: border-box;
  padding: 0.05rem 2.7rem 0.05rem 1rem;
  width: calc(100% - 138.1rem);
  height: 2.2rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
  background-color: #f16713;
  border-radius: 5rem;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .item--5nt .auto-group-qbat-9Xr {
  margin-right: 0.6rem;
  width: 1.1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .item--5nt .back-4Pv {
  margin-bottom: 0.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.1875;
  letter-spacing: 0.016rem;
  color: #fff7e9;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL {
  margin-left: 0.1012rem;
  width: calc(100% - 0.1012rem);
  height: 42rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .newspaper-3-rqa {
  margin: 0rem 1.993rem 0.396rem 0rem;
  width: 41.2061rem;
  height: 40.8413rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 {
  box-sizing: border-box;
  padding: 1.6rem 1.7rem 2.9rem 3.3rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG {
  margin: 2rem 0.5rem 0rem 0rem;
  width: 39.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .group-166-RnC {
  width: 100%;
  height: 11.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .group-166-RnC .auto-group-x41r-af6 {
  margin-right: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .group-166-RnC .auto-group-x41r-af6 .newspapers-8gc {
  margin-bottom: 1.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.02rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .group-166-RnC .auto-group-x41r-af6 .product-id-024gr8-rMi {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .group-166-RnC .auto-group-x41r-af6 .seller-shankar-ZX2 {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .group-166-RnC .auto-group-x41r-af6 .published-on-14-december-2022-grY {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .group-166-RnC .group-157-Cpt {
  margin: 2.1rem 0rem 0.896rem 0rem;
  box-sizing: border-box;
  padding: 0.9rem 1.5rem 2.004rem 1.5rem;
  width: 16.1rem;
  height: calc(100% - 2.9955rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #ff731d;
  background-color: rgba(246, 251, 255, 0.8000000119);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .group-166-RnC .group-157-Cpt .available-quantity-VJC {
  margin-bottom: 1.2rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5714285714;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .group-166-RnC .group-157-Cpt .available-quantity-VJC .available-quantity-VJC-sub-0 {
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .group-166-RnC .group-157-Cpt .available-quantity-VJC .available-quantity-VJC-sub-1 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 0.6875;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .group-166-RnC .group-157-Cpt .kg-Sck {
  margin-left: 0.1rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 0.6875;
  color: #777777;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .auto-group-wfka-uWL {
  box-sizing: border-box;
  padding: 2.5rem 1.1rem 0rem 1.1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .auto-group-wfka-uWL .auto-group-urnt-eD2 {
  margin: 0rem 7.2rem 3.2rem 0rem;
  width: calc(100% - 7.2rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .auto-group-wfka-uWL .auto-group-urnt-eD2 .price-aMa {
  margin: 0.1rem 4.4rem 0rem 0rem;
  width: 14.5rem;
  height: 7.7rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .auto-group-wfka-uWL .auto-group-urnt-eD2 .price-aMa .rectangle-106-JoN {
  width: 14.5rem;
  height: 6.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: dashed 0.1rem #ff731d;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .auto-group-wfka-uWL .auto-group-urnt-eD2 .price-aMa .text-DfS {
  width: 6.7rem;
  height: 7.2rem;
  position: absolute;
  left: 1.2rem;
  top: 0.5rem;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .auto-group-wfka-uWL .auto-group-urnt-eD2 .price-aMa .text-DfS .price-ZDW {
  margin-bottom: 0.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #222222;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .auto-group-wfka-uWL .auto-group-urnt-eD2 .price-aMa .text-DfS .kg-tWg {
  max-width: 6.7rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.6875;
  letter-spacing: 0.032rem;
  color: #ff731d;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .auto-group-wfka-uWL .auto-group-urnt-eD2 .price-aMa .price-icon-D3A {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 12.1rem;
  top: 0.4rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .auto-group-wfka-uWL .auto-group-urnt-eD2 .auto-group-zvty-jXJ {
  width: 11.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .auto-group-wfka-uWL .auto-group-urnt-eD2 .auto-group-zvty-jXJ .auto-group-w1rt-66x {
  margin-bottom: 0.4rem;
  width: 100%;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .auto-group-wfka-uWL .auto-group-urnt-eD2 .auto-group-zvty-jXJ .auto-group-w1rt-66x .rectangle-899-3H6 {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.6rem;
  background-color: #000000;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .auto-group-wfka-uWL .auto-group-urnt-eD2 .auto-group-zvty-jXJ .auto-group-w1rt-66x .add-to-cart-nEg {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.7rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .auto-group-wfka-uWL .auto-group-urnt-eD2 .auto-group-zvty-jXJ .auto-group-w1rt-66x .item--6FN {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 0.768rem;
  top: 0.868rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .auto-group-wfka-uWL .auto-group-urnt-eD2 .auto-group-zvty-jXJ .auto-group-ikza-1t8 {
  width: 100%;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .auto-group-wfka-uWL .auto-group-urnt-eD2 .auto-group-zvty-jXJ .auto-group-ikza-1t8 .rectangle-900-NCt {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .auto-group-wfka-uWL .auto-group-urnt-eD2 .auto-group-zvty-jXJ .auto-group-ikza-1t8 .vector-WK6 {
  width: 1.6rem;
  height: 1.4rem;
  position: absolute;
  left: 1.4rem;
  top: 1rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .auto-group-wfka-uWL .auto-group-urnt-eD2 .auto-group-zvty-jXJ .auto-group-ikza-1t8 .wishlist-duW {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.9rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .auto-group-wfka-uWL .frame-427319600-Lov {
  box-sizing: border-box;
  padding: 1rem 3.95rem;
  height: 9.9rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  background-color: #f8fafc;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .auto-group-wfka-uWL .frame-427319600-Lov .frame-427319596-TtY {
  margin: 1.25rem 1.9rem 1.25rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .auto-group-wfka-uWL .frame-427319600-Lov .frame-427319596-TtY .group-17-zNg {
  margin: 0rem 0.1rem 0.5rem 0rem;
  width: 2.8845rem;
  height: 2.1997rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .auto-group-wfka-uWL .frame-427319600-Lov .frame-427319596-TtY .free-delivery-ukY {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.7;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .auto-group-wfka-uWL .frame-427319600-Lov .line-97-DmE {
  margin-right: 2rem;
  width: 0rem;
  height: 7.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .auto-group-wfka-uWL .frame-427319600-Lov .frame-427319598-mXr {
  margin: 1.25rem 1.9rem 1.25rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .auto-group-wfka-uWL .frame-427319600-Lov .frame-427319598-mXr .group-18-WEY {
  margin: 0rem 0.1rem 0.5rem 0rem;
  width: 2.2003rem;
  height: 2.1999rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .auto-group-wfka-uWL .frame-427319600-Lov .frame-427319598-mXr .pay-on-delivery-RMW {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.7;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .auto-group-wfka-uWL .frame-427319600-Lov .line-98-k8t {
  margin-right: 2rem;
  width: 0rem;
  height: 7.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .auto-group-wfka-uWL .frame-427319600-Lov .auto-group-up8g-VMN {
  margin-bottom: 1.2rem;
  box-sizing: border-box;
  padding-top: 1.2rem;
  width: 5.3rem;
  height: 6.7rem;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .auto-group-wfka-uWL .frame-427319600-Lov .auto-group-up8g-VMN .frame-427319599-26Q {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .auto-group-wfka-uWL .frame-427319600-Lov .auto-group-up8g-VMN .frame-427319599-26Q .group-19-AiQ {
  margin: 0rem 0rem 0.5rem 0rem;
  width: 2.2rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-rn9i-tnG .auto-group-wfka-uWL .frame-427319600-Lov .auto-group-up8g-VMN .frame-427319599-26Q .days-returnable-6rx {
  max-width: 5.3rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .line-144-a1S {
  margin-right: 2.4rem;
  width: 0;
  height: 37.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-yevr-7n4 {
  margin: 1.3rem 0rem 1.199rem 0rem;
  width: 56.8rem;
  height: calc(100% - 2.4994rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-yevr-7n4 .group-168-ELt {
  margin-bottom: 3.7227rem;
  box-sizing: border-box;
  padding: 2.179rem 0.291rem 3.398rem 0.709rem;
  width: 100%;
  height: 14.9773rem;
  border: dashed 0.1rem #dddddd;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-yevr-7n4 .group-168-ELt .description-Z8G {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-yevr-7n4 .group-168-ELt .description-Z8G .description--KNL {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.016rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-yevr-7n4 .group-168-ELt .description-Z8G .a-stack-of-newspapers-capturing-moments-in-time-these-informative-pages-offering-a-snapshot-of-history-await-perusal-or-recycling-each-one-a-tangible-record-of-news-and-stories-Shr {
  max-width: 55.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-yevr-7n4 .item--GB6 {
  width: 100%;
  height: 16.3006rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-yevr-7n4 .item--GB6 .group-21-R3z {
  width: 27.6rem;
  height: 16.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-yevr-7n4 .item--GB6 .group-21-R3z .content-y5W {
  width: 20.2rem;
  height: 13.2rem;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-yevr-7n4 .item--GB6 .group-21-R3z .content-y5W .features--ujr {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.016rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-yevr-7n4 .item--GB6 .group-21-R3z .content-y5W .time-capsule-newspapers-news-snapshot-stack-historical-headlines-collection-informative-periodical-bundle-dfr {
  max-width: 20.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-yevr-7n4 .item--GB6 .group-21-R3z .rectangle-113-jD6 {
  width: 27.6rem;
  height: 16.2rem;
  position: absolute;
  left: 0;
  top: 0;
  border: dashed 0.1rem #dddddd;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-yevr-7n4 .item--GB6 .group-22-rHi {
  box-sizing: border-box;
  padding: 1.409rem 1.5rem 2.876rem 1.5rem;
  width: 29.2rem;
  height: 100%;
  border: dashed 0.1rem #dddddd;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-yevr-7n4 .item--GB6 .group-22-rHi .environmental-impact--aDi {
  margin-bottom: 0.5156rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-paper-1-xF6 .auto-group-3e5z-6MJ .auto-group-loau-LcL .auto-group-z9nk-NJ8 .auto-group-yevr-7n4 .item--GB6 .group-22-rHi .paper-scrap-is-a-green-choice-saving-trees-and-energy-while-cutting-waste-opting-for-recycled-paper-supports-sustainability-promoting-responsible-environmental-practices-JQc {
  max-width: 24.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5833333333;
  letter-spacing: 0.012rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-paper-1-xF6 .auto-group-scf6-77A {
  box-sizing: border-box;
  padding: 0.4rem 12.1rem 0rem 14.1rem;
  width: 100%;
  height: 5.7094rem;
  display: flex;
  align-items: center;
  background-color: #5b5b5b;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-scf6-77A .item--EBn {
  margin-right: 21.9333rem;
  box-sizing: border-box;
  padding-right: 19.3667rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-scf6-77A .item--EBn .mask-group-Zjr {
  margin-right: 4.5rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-scf6-77A .item--EBn .mask-group-uYp {
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-scf6-77A .terms-condition-privacy-policy-4Ap {
  margin: 0rem 29.7rem 2.109rem 0rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-paper-1-xF6 .auto-group-scf6-77A .scrap-symphony-sanctuary-all-rights-reserved-kZS {
  margin-bottom: 2.1094rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
