
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.scrap-all-1-r6G {
  width: 100%;
  height: 70.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.scrap-all-1-r6G .black1-67-ZFa {
  width: 153.6rem;
  height: 68.5rem;
  position: absolute;
  left: 0;
  top: 1.7rem;
  object-fit: cover;
  vertical-align: top;
}
.scrap-all-1-r6G .rectangle-901-5ji {
  width: 153.6rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 65.9rem;
  background-color: #5b5b5b;
}
.scrap-all-1-r6G .item--L9r {
  box-sizing: border-box;
  padding-right: 19.3667rem;
  width: 29.8667rem;
  height: 5.3094rem;
  position: absolute;
  left: 14.1rem;
  top: 66.3rem;
  display: flex;
  align-items: flex-start;
}
.scrap-all-1-r6G .item--L9r .mask-group-due {
  margin-right: 4.5rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-all-1-r6G .item--L9r .mask-group-NMS {
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-all-1-r6G .terms-condition-privacy-policy-iRJ {
  width: 18.5rem;
  height: 2.2rem;
  position: absolute;
  left: 65.9rem;
  top: 66.8rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-all-1-r6G .scrap-symphony-sanctuary-all-rights-reserved-oBr {
  width: 27.4rem;
  height: 2.2rem;
  position: absolute;
  left: 114.1rem;
  top: 66.8rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-all-1-r6G .scrap3-removebg-preview-68-shW {
  width: 4.7467rem;
  height: 4rem;
  position: absolute;
  left: 2.4rem;
  top: 5.1rem;
  object-fit: cover;
  vertical-align: top;
}
.scrap-all-1-r6G .scrap-symphony-sanctuary-By6 {
  width: 16.2rem;
  height: 2.1rem;
  position: absolute;
  left: 7.25rem;
  top: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4825;
  letter-spacing: 0.028rem;
  color: #f7fbff;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-all-1-r6G .home-scrap-section-creative-section-about-us-contact-us-UBW {
  width: 51.9rem;
  height: 2.5rem;
  position: absolute;
  left: 35.4rem;
  top: 6.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.016rem;
  color: #f6fbff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-all-1-r6G .rectangle-867-AKE {
  width: 37.7rem;
  height: 3.1rem;
  position: absolute;
  left: 91.4rem;
  top: 6.3rem;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
  background-color: #f6fbff;
}
.scrap-all-1-r6G .layer1-GNG {
  width: 3.2rem;
  height: 3.4078rem;
  position: absolute;
  left: 143.4rem;
  top: 6rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-all-1-r6G .item--zJG {
  width: 3.7029rem;
  height: 3.0931rem;
  position: absolute;
  left: 137.7297rem;
  top: 6.0844rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-all-1-r6G .rectangle-901-KbS {
  width: 104.2rem;
  height: 42rem;
  position: absolute;
  left: 45.7rem;
  top: 17.9rem;
  background-color: #ffffff;
  border-radius: 5rem;
}
.scrap-all-1-r6G .vector-ds2 {
  width: 3.4rem;
  height: 3.2rem;
  position: absolute;
  left: 132.4rem;
  top: 6rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-all-1-r6G .price-yfz {
  width: 14.5rem;
  height: 7.7rem;
  position: absolute;
  left: 50.1rem;
  top: 36rem;
}
.scrap-all-1-r6G .price-yfz .rectangle-106-v5S {
  width: 14.5rem;
  height: 6.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: dashed 0.1rem #ff731d;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.scrap-all-1-r6G .price-yfz .text-2uA {
  width: 6.7rem;
  height: 7.2rem;
  position: absolute;
  left: 1.2rem;
  top: 0.5rem;
}
.scrap-all-1-r6G .price-yfz .text-2uA .price-a9z {
  margin-bottom: 0.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #222222;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-all-1-r6G .price-yfz .text-2uA .kg-6e8 {
  max-width: 6.7rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.6875;
  letter-spacing: 0.032rem;
  color: #ff731d;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-all-1-r6G .price-yfz .price-icon-Dye {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 12.1rem;
  top: 0.4rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-all-1-r6G .frame-427319600-xgL {
  box-sizing: border-box;
  padding: 1rem 3.95rem;
  width: 34.7rem;
  height: 9.9rem;
  position: absolute;
  left: 50.1rem;
  top: 46.9rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  background-color: #f8fafc;
  border-radius: 1.5rem;
}
.scrap-all-1-r6G .frame-427319600-xgL .frame-427319596-4UU {
  margin: 1.25rem 1.9rem 1.25rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-all-1-r6G .frame-427319600-xgL .frame-427319596-4UU .group-17-aBv {
  margin: 0rem 0.1rem 0.5rem 0rem;
  width: 2.8845rem;
  height: 2.1997rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-all-1-r6G .frame-427319600-xgL .frame-427319596-4UU .free-delivery-hGY {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.7;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-all-1-r6G .frame-427319600-xgL .line-97-cPW {
  margin-right: 2rem;
  width: 0rem;
  height: 7.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-all-1-r6G .frame-427319600-xgL .frame-427319598-Mbz {
  margin: 1.25rem 1.9rem 1.25rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-all-1-r6G .frame-427319600-xgL .frame-427319598-Mbz .group-18-gPN {
  margin: 0rem 0.1rem 0.5rem 0rem;
  width: 2.2003rem;
  height: 2.1999rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-all-1-r6G .frame-427319600-xgL .frame-427319598-Mbz .pay-on-delivery-1Re {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.7;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-all-1-r6G .frame-427319600-xgL .line-98-Lip {
  margin-right: 2rem;
  width: 0rem;
  height: 7.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-all-1-r6G .frame-427319600-xgL .auto-group-eocx-V5v {
  margin-bottom: 1.2rem;
  box-sizing: border-box;
  padding-top: 1.2rem;
  width: 5.3rem;
  height: 6.7rem;
  flex-shrink: 0;
}
.scrap-all-1-r6G .frame-427319600-xgL .auto-group-eocx-V5v .frame-427319599-1px {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.scrap-all-1-r6G .frame-427319600-xgL .auto-group-eocx-V5v .frame-427319599-1px .group-19-NQc {
  margin: 0rem 0rem 0.5rem 0rem;
  width: 2.2rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-all-1-r6G .frame-427319600-xgL .auto-group-eocx-V5v .frame-427319599-1px .days-returnable-VVE {
  max-width: 5.3rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.scrap-all-1-r6G .line-144-y9W {
  width: 0;
  height: 37.5rem;
  position: absolute;
  left: 89rem;
  top: 19.6rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-all-1-r6G .rectangle-899-7Fi {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 69rem;
  top: 36.5rem;
  background-color: #000000;
}
.scrap-all-1-r6G .add-to-cart-qhW {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 72.7rem;
  top: 35.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-all-1-r6G .item--jnt {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 69.768rem;
  top: 36.768rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-all-1-r6G .rectangle-900-sPJ {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 69rem;
  top: 40.2rem;
  background-color: #000000;
}
.scrap-all-1-r6G .vector-CwN {
  width: 1.6rem;
  height: 1.4rem;
  position: absolute;
  left: 70.4rem;
  top: 40.5rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-all-1-r6G .wishlist-kCC {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 72.9rem;
  top: 39.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-all-1-r6G .group-168-3wz {
  box-sizing: border-box;
  padding: 2.179rem 0.709rem 3.398rem 0.709rem;
  width: 56.8rem;
  height: 14.9773rem;
  position: absolute;
  left: 91.4rem;
  top: 20.9rem;
  border: dashed 0.1rem #dddddd;
  border-radius: 0.5rem;
}
.scrap-all-1-r6G .group-168-3wz .description-A12 {
  width: 50.8rem;
  height: 100%;
}
.scrap-all-1-r6G .group-168-3wz .description-A12 .description--Wag {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.016rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-all-1-r6G .group-168-3wz .description-A12 .manufacturing-residues-a-production-wastes-refer-to-byproducts-generated-during-manufacturing-processes-contributing-to-environmental-impact-and-resource-inefficiency-qN4 {
  max-width: 50.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-all-1-r6G .item--GTN {
  box-sizing: border-box;
  padding: 0.05rem 2.7rem 0.05rem 1rem;
  width: 9.4rem;
  height: 2.2rem;
  position: absolute;
  left: 135.2rem;
  top: 12.7rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
  background-color: #f16713;
  border-radius: 5rem;
}
.scrap-all-1-r6G .item--GTN .auto-group-eyme-xqz {
  margin-right: 0.6rem;
  width: 1.1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-all-1-r6G .item--GTN .back-W6p {
  margin-bottom: 0.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.1875;
  letter-spacing: 0.016rem;
  color: #fff7e9;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-all-1-r6G .wastage-2-bPA {
  width: 39.4rem;
  height: 34.3rem;
  position: absolute;
  left: 3.5rem;
  top: 21.3rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
}
.scrap-all-1-r6G .group-166-iCt {
  width: 24.8rem;
  height: 11.5rem;
  position: absolute;
  left: 50rem;
  top: 21.3rem;
}
.scrap-all-1-r6G .group-166-iCt .manufacturing-residues-dqe {
  margin-bottom: 1.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.02rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-all-1-r6G .group-166-iCt .product-id-873jo5-LVA {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-all-1-r6G .group-166-iCt .seller-teju-fGY {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-all-1-r6G .group-166-iCt .published-on-03-june-2020-CGU {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-all-1-r6G .group-169-ikc {
  box-sizing: border-box;
  padding: 0.9rem 1.5rem 1.804rem 1.5rem;
  width: 16.1rem;
  height: 8.5045rem;
  position: absolute;
  left: 71.8rem;
  top: 23.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #ff731d;
  background-color: rgba(246, 251, 255, 0.8000000119);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.scrap-all-1-r6G .group-169-ikc .available-quantity-cqz {
  margin-bottom: 1.4rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5714285714;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.scrap-all-1-r6G .group-169-ikc .available-quantity-cqz .available-quantity-cqz-sub-0 {
}
.scrap-all-1-r6G .group-169-ikc .available-quantity-cqz .available-quantity-cqz-sub-1 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 0.6875;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-all-1-r6G .group-169-ikc .kg-PEU {
  margin-right: 0.1rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 0.6875;
  color: #777777;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-all-1-r6G .item--fhn {
  width: 56.9273rem;
  height: 16.3rem;
  position: absolute;
  left: 91.4rem;
  top: 39.5rem;
  display: flex;
  align-items: flex-start;
}
.scrap-all-1-r6G .item--fhn .group-21-zk4 {
  width: 27.6rem;
  height: 16.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-all-1-r6G .item--fhn .group-21-zk4 .content-kDS {
  width: 14.7rem;
  height: 11.3rem;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
}
.scrap-all-1-r6G .item--fhn .group-21-zk4 .content-kDS .features--gsn {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.016rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-all-1-r6G .item--fhn .group-21-zk4 .content-kDS .resource-inefficiency-cost-implications-variety-environmental-impact-pDJ {
  max-width: 14.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-all-1-r6G .item--fhn .group-21-zk4 .rectangle-113-7iC {
  width: 27.6rem;
  height: 16.2rem;
  position: absolute;
  left: 0;
  top: 0;
  border: dashed 0.1rem #dddddd;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.scrap-all-1-r6G .item--fhn .group-22-r9z {
  width: 29.3273rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.scrap-all-1-r6G .item--fhn .group-22-r9z .rectangle-114-QSQ {
  width: 29.3273rem;
  height: 16.2rem;
  position: absolute;
  left: 0;
  top: 0;
  border: dashed 0.1rem #dddddd;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.scrap-all-1-r6G .item--fhn .group-22-r9z .environmental-impact--jUg {
  width: 16.8rem;
  height: 2rem;
  position: absolute;
  left: 1.9rem;
  top: 0.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-all-1-r6G .item--fhn .group-22-r9z .metal-scrap-is-a-sustainable-choice-curbing-the-demand-for-new-production-and-preserving-resources-recycling-metal-contributes-to-eco-friendliness-slashes-energy-use-and-lessens-the-environmental-impact-of-metal-processing-opting-for-metal-scrap-promotes-responsible-practices-and-aligns-with-a-greener-circular-approach-3EU {
  width: 26.9rem;
  height: 13.3rem;
  position: absolute;
  left: 1.9rem;
  top: 3rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.9;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-all-1-r6G .group-187-cB6 {
  width: 2rem;
  height: 2.6383rem;
  position: absolute;
  left: 91.8rem;
  top: 6.5rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-all-1-r6G .search-wUG {
  width: 5.9rem;
  height: 2.5rem;
  position: absolute;
  left: 94.4rem;
  top: 6.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  letter-spacing: 0.018rem;
  color: #555555;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
