
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.scrap-ewaste-1-S8L {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/black1-67-bg.png');
  background-color: #ffffff;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 {
  box-sizing: border-box;
  padding: 5.1rem 3.7rem 5.9rem 2.4rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-2f4q-gYU {
  margin: 0rem 3.3rem 3.292rem 0rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-2f4q-gYU .scrap3-removebg-preview-68-PBz {
  margin: 0rem 0.103rem 0.308rem 0rem;
  width: 4.7467rem;
  height: 4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-2f4q-gYU .scrap-symphony-sanctuary-UDS {
  margin: 0rem 11.95rem 0.808rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4825;
  letter-spacing: 0.028rem;
  color: #f7fbff;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-2f4q-gYU .home-scrap-section-creative-section-about-us-contact-us-9Ka {
  margin: 0rem 4.1rem 0.608rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.016rem;
  color: #f6fbff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-2f4q-gYU .auto-group-usua-1cg {
  margin: 1.192rem 3.3rem 0rem 0rem;
  box-sizing: border-box;
  padding: 0.2rem 28.2rem 0.1rem 1rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
  background-color: #f6fbff;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-2f4q-gYU .auto-group-usua-1cg .group-187-6u2 {
  margin: 0rem 0.6rem 0.162rem 0rem;
  width: 2rem;
  height: 2.6383rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-2f4q-gYU .auto-group-usua-1cg .search-cMa {
  margin-top: 0.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  letter-spacing: 0.018rem;
  color: #555555;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-2f4q-gYU .vector-gMS {
  margin: 0rem 1.93rem 0.208rem 0rem;
  width: 3.4rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-2f4q-gYU .item--ogx {
  margin: 0rem 1.967rem 0.23rem 0rem;
  width: 3.7029rem;
  height: 3.0931rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-2f4q-gYU .layer1-iJ8 {
  width: 3.2rem;
  height: 3.4078rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .item--476 {
  margin: 0rem 5.3rem 3.1rem 132.8rem;
  box-sizing: border-box;
  padding: 0.05rem 2.7rem 0.05rem 1rem;
  width: calc(100% - 138.1rem);
  height: 2.2rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
  background-color: #f16713;
  border-radius: 5rem;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .item--476 .auto-group-3m2k-LaQ {
  margin-right: 0.6rem;
  width: 1.1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .item--476 .back-sqE {
  margin-bottom: 0.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.1875;
  letter-spacing: 0.016rem;
  color: #fff7e9;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG {
  width: 100%;
  height: 42rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .cell-phone-3-i5A {
  margin-right: 2.8rem;
  width: 40.5rem;
  height: 42rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ {
  box-sizing: border-box;
  padding: 1.6rem 1.7rem 2.9rem 3.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ {
  margin: 1.6rem 2rem 0rem 0rem;
  width: 37.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nngc-gAQ {
  width: 100%;
  height: 11.5045rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nngc-gAQ .group-166-d5e {
  margin: 0rem 0.7rem 0.004rem 0rem;
  height: calc(100% - 0.0045rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nngc-gAQ .group-166-d5e .techrelic-mobiles-LVr {
  margin-bottom: 1.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.02rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nngc-gAQ .group-166-d5e .product-id-562nm9-SYt {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nngc-gAQ .group-166-d5e .seller-roshini-Z7i {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nngc-gAQ .group-166-d5e .published-on-09-october-2021-Tyn {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nngc-gAQ .group-187-zD2 {
  box-sizing: border-box;
  padding: 0.9rem 1.5rem 2.004rem 1.5rem;
  width: 16.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #ff731d;
  background-color: rgba(246, 251, 255, 0.8000000119);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nngc-gAQ .group-187-zD2 .available-quantity-grY {
  margin-bottom: 1.2rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5714285714;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nngc-gAQ .group-187-zD2 .available-quantity-grY .available-quantity-grY-sub-0 {
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nngc-gAQ .group-187-zD2 .available-quantity-grY .available-quantity-grY-sub-1 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 0.6875;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nngc-gAQ .group-187-zD2 .kg-1GY {
  margin-right: 0.7rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 0.6875;
  color: #777777;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nsxw-TPS {
  box-sizing: border-box;
  padding: 2.896rem 0.8rem 0rem 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nsxw-TPS .auto-group-icfe-AYk {
  margin: 0rem 6rem 3.2rem 0rem;
  width: calc(100% - 6rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nsxw-TPS .auto-group-icfe-AYk .price-HNU {
  margin: 0.1rem 4.4rem 0rem 0rem;
  width: 14.5rem;
  height: 7.7rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nsxw-TPS .auto-group-icfe-AYk .price-HNU .rectangle-106-QCC {
  width: 14.5rem;
  height: 6.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: dashed 0.1rem #ff731d;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nsxw-TPS .auto-group-icfe-AYk .price-HNU .text-JHa {
  width: 6.7rem;
  height: 7.2rem;
  position: absolute;
  left: 1.2rem;
  top: 0.5rem;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nsxw-TPS .auto-group-icfe-AYk .price-HNU .text-JHa .price-Rd6 {
  margin-bottom: 0.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #222222;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nsxw-TPS .auto-group-icfe-AYk .price-HNU .text-JHa .kg-YBv {
  max-width: 6.7rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.6875;
  letter-spacing: 0.032rem;
  color: #ff731d;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nsxw-TPS .auto-group-icfe-AYk .price-HNU .price-icon-ekk {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 12.1rem;
  top: 0.4rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nsxw-TPS .auto-group-icfe-AYk .auto-group-qi3n-yHE {
  width: 11.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nsxw-TPS .auto-group-icfe-AYk .auto-group-qi3n-yHE .auto-group-zeh2-vCU {
  margin-bottom: 0.4rem;
  width: 100%;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nsxw-TPS .auto-group-icfe-AYk .auto-group-qi3n-yHE .auto-group-zeh2-vCU .rectangle-899-TCQ {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.6rem;
  background-color: #000000;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nsxw-TPS .auto-group-icfe-AYk .auto-group-qi3n-yHE .auto-group-zeh2-vCU .add-to-cart-ygY {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.7rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nsxw-TPS .auto-group-icfe-AYk .auto-group-qi3n-yHE .auto-group-zeh2-vCU .item--Gfe {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 0.768rem;
  top: 0.868rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nsxw-TPS .auto-group-icfe-AYk .auto-group-qi3n-yHE .auto-group-d9pz-z5r {
  width: 100%;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nsxw-TPS .auto-group-icfe-AYk .auto-group-qi3n-yHE .auto-group-d9pz-z5r .rectangle-900-Kdv {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nsxw-TPS .auto-group-icfe-AYk .auto-group-qi3n-yHE .auto-group-d9pz-z5r .vector-egC {
  width: 1.6rem;
  height: 1.4rem;
  position: absolute;
  left: 1.4rem;
  top: 1rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nsxw-TPS .auto-group-icfe-AYk .auto-group-qi3n-yHE .auto-group-d9pz-z5r .wishlist-aZr {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.9rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nsxw-TPS .frame-427319600-frC {
  box-sizing: border-box;
  padding: 1rem 3.95rem;
  height: 9.9rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  background-color: #f8fafc;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nsxw-TPS .frame-427319600-frC .frame-427319596-ayA {
  margin: 1.25rem 1.9rem 1.25rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nsxw-TPS .frame-427319600-frC .frame-427319596-ayA .group-17-JeG {
  margin: 0rem 0.1rem 0.5rem 0rem;
  width: 2.8845rem;
  height: 2.1997rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nsxw-TPS .frame-427319600-frC .frame-427319596-ayA .free-delivery-c9A {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.7;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nsxw-TPS .frame-427319600-frC .line-97-8dJ {
  margin-right: 2rem;
  width: 0rem;
  height: 7.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nsxw-TPS .frame-427319600-frC .frame-427319598-sat {
  margin: 1.25rem 1.9rem 1.25rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nsxw-TPS .frame-427319600-frC .frame-427319598-sat .group-18-zvQ {
  margin: 0rem 0.1rem 0.5rem 0rem;
  width: 2.2003rem;
  height: 2.1999rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nsxw-TPS .frame-427319600-frC .frame-427319598-sat .pay-on-delivery-iLc {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.7;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nsxw-TPS .frame-427319600-frC .line-98-3dn {
  margin-right: 2rem;
  width: 0rem;
  height: 7.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nsxw-TPS .frame-427319600-frC .auto-group-gya4-nrG {
  margin-bottom: 1.2rem;
  box-sizing: border-box;
  padding-top: 1.2rem;
  width: 5.3rem;
  height: 6.7rem;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nsxw-TPS .frame-427319600-frC .auto-group-gya4-nrG .frame-427319599-iE8 {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nsxw-TPS .frame-427319600-frC .auto-group-gya4-nrG .frame-427319599-iE8 .group-19-rr8 {
  margin: 0rem 0rem 0.5rem 0rem;
  width: 2.2rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-cvkc-xEQ .auto-group-nsxw-TPS .frame-427319600-frC .auto-group-gya4-nrG .frame-427319599-iE8 .days-returnable-BNc {
  max-width: 5.3rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .line-144-qTA {
  margin-right: 2.4rem;
  width: 0;
  height: 37.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-hbor-yZN {
  margin: 1.3rem 0rem 1.199rem 0rem;
  width: 56.8rem;
  height: calc(100% - 2.4994rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-hbor-yZN .group-168-tgL {
  margin-bottom: 3.7227rem;
  box-sizing: border-box;
  padding: 2.1789rem 0.7094rem;
  width: 100%;
  height: 14.9773rem;
  border: dashed 0.1rem #dddddd;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-hbor-yZN .group-168-tgL .description-ppt {
  width: 53.8rem;
  height: 7.5rem;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-hbor-yZN .group-168-tgL .description-ppt .description--Atk {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.016rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-hbor-yZN .group-168-tgL .description-ppt .outdated-mobile-phones-showcasing-varying-sizes-and-styles-while-no-longer-in-use-these-devices-carry-a-nostalgic-charm-6nQ {
  max-width: 53.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-hbor-yZN .item--xJp {
  width: 100%;
  height: 16.3006rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-hbor-yZN .item--xJp .group-21-WLL {
  width: 27.6rem;
  height: 16.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-hbor-yZN .item--xJp .group-21-WLL .content-rQC {
  width: 19rem;
  height: 11.3rem;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-hbor-yZN .item--xJp .group-21-WLL .content-rQC .features--BSU {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.016rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-hbor-yZN .item--xJp .group-21-WLL .content-rQC .diverse-models-and-sizes-outdated-technology-visible-signs-of-wear-obsolete-operating-systems-6JY {
  max-width: 19rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-hbor-yZN .item--xJp .group-21-WLL .rectangle-113-yt8 {
  width: 27.6rem;
  height: 16.2rem;
  position: absolute;
  left: 0;
  top: 0;
  border: dashed 0.1rem #dddddd;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-hbor-yZN .item--xJp .group-22-JfW {
  box-sizing: border-box;
  padding: 1.409rem 1.5rem 2.876rem 1.5rem;
  width: 29.2rem;
  height: 100%;
  border: dashed 0.1rem #dddddd;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-hbor-yZN .item--xJp .group-22-JfW .environmental-impact--DnU {
  margin-bottom: 0.5156rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-ewaste-1-S8L .auto-group-jhf2-Aa8 .auto-group-ttwg-ZCG .auto-group-mzme-EZJ .auto-group-hbor-yZN .item--xJp .group-22-JfW .e-waste-needs-careful-handling-to-protect-the-environment-recycling-helps-recover-valuable-materials-and-supports-a-sustainable-approach-to-electronics-disposal-k1i {
  max-width: 23.7rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5833333333;
  letter-spacing: 0.012rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-ewaste-1-S8L .auto-group-kruj-7Fa {
  box-sizing: border-box;
  padding: 0.4rem 12.1rem 0rem 14.1rem;
  width: 100%;
  height: 5.7094rem;
  display: flex;
  align-items: center;
  background-color: #5b5b5b;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-kruj-7Fa .item--1br {
  margin-right: 21.9333rem;
  box-sizing: border-box;
  padding-right: 19.3667rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-kruj-7Fa .item--1br .mask-group-k3e {
  margin-right: 4.5rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-kruj-7Fa .item--1br .mask-group-stx {
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-kruj-7Fa .terms-condition-privacy-policy-DT2 {
  margin: 0rem 29.7rem 2.109rem 0rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-ewaste-1-S8L .auto-group-kruj-7Fa .scrap-symphony-sanctuary-all-rights-reserved-VfS {
  margin-bottom: 2.1094rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
