
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.5rem;
}.scrap-metal-xhJ {
  width: 100%;
  height: 152.3rem;
  position: relative;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/black1-66-bg-4Tv.png');
  background-color: #ffffff;
}
.scrap-metal-xhJ .item--Ghz {
  box-sizing: border-box;
  padding: 1rem 69.15rem;
  width: 153.5rem;
  height: 4.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #777777;
}
.scrap-metal-xhJ .item--Ghz .frame-427319517-nRS {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.scrap-metal-xhJ .item--Ghz .frame-427319517-nRS .group-2-jLg {
  margin: 0rem 1rem 0rem 0rem;
  width: 2.2rem;
  height: 1.6422rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-metal-xhJ .item--Ghz .frame-427319517-nRS .made-for-india-qPi {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #ffffff;
  font-family: Merriweather, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-metal-xhJ .auto-group-dhxz-whe {
  width: 145.9rem;
  height: 4.6832rem;
  position: absolute;
  left: 3rem;
  top: 8.1rem;
  display: flex;
  align-items: center;
}
.scrap-metal-xhJ .auto-group-dhxz-whe .scrap3-removebg-preview-59-41a {
  margin: 0rem 0.003rem 0.683rem 0rem;
  width: 4.7467rem;
  height: 4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-metal-xhJ .auto-group-dhxz-whe .scrap-symphony-sanctuary-MWU {
  margin: 0rem 13.35rem 0.183rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4825;
  letter-spacing: 0.028rem;
  color: #f7fbff;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-metal-xhJ .auto-group-dhxz-whe .home-scrap-section-creative-section-about-us-contact-us-38Q {
  margin: 0.617rem 5.2rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.016rem;
  color: #f6fbff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-metal-xhJ .auto-group-dhxz-whe .auto-group-mqm2-X3a {
  margin: 1.1rem 1.6rem 0.483rem 0rem;
  box-sizing: border-box;
  padding: 0.3rem 28.2rem 0.3rem 0.8rem;
  height: calc(100% - 1.5832rem);
  display: flex;
  align-items: center;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
  background-color: #f6fbff;
  flex-shrink: 0;
}
.scrap-metal-xhJ .auto-group-dhxz-whe .auto-group-mqm2-X3a .group-CvQ {
  margin: 0rem 0.801rem 0.113rem 0rem;
  width: 1.9987rem;
  height: 2.0116rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-metal-xhJ .auto-group-dhxz-whe .auto-group-mqm2-X3a .search-vrQ {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  letter-spacing: 0.018rem;
  color: #555555;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-metal-xhJ .auto-group-dhxz-whe .vector-DKi {
  margin: 0.489rem 1.73rem 0rem 0rem;
  width: 4rem;
  height: 3.5953rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-metal-xhJ .auto-group-dhxz-whe .item--8Sg {
  margin: 0.779rem 1.767rem 0rem 0rem;
  width: 3.7029rem;
  height: 3.0931rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-metal-xhJ .auto-group-dhxz-whe .layer1-EVi {
  margin-top: 0.7883rem;
  width: 4rem;
  height: 3.8949rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-metal-xhJ .auto-group-kg2y-NM2 {
  box-sizing: border-box;
  padding: 6.4rem 4.4rem 6.3rem 0rem;
  width: 154.9rem;
  height: 36.3rem;
  position: absolute;
  left: 0;
  top: 20.4rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.scrap-metal-xhJ .auto-group-kg2y-NM2 .scrap-9-TtG {
  margin-bottom: 1rem;
  width: 70.6rem;
  height: 20.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-metal-xhJ .auto-group-kg2y-NM2 .auto-group-hyex-bzU {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-metal-xhJ .auto-group-kg2y-NM2 .auto-group-hyex-bzU .what-is-scrap-how-it-will-be-useful--ZRW {
  margin-bottom: 2.4rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.3333333333;
  letter-spacing: 0.024rem;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-metal-xhJ .auto-group-kg2y-NM2 .auto-group-hyex-bzU .scrap-refers-to-discarded-or-leftover-materials-from-manufacturing-processes-or-everyday-use-it-can-be-useful-when-recycled-or-repurposed-reducing-waste-and-conserving-resources-recycling-scrap-material-contributes-to-environmental-sustainability-by-saving-energy-and-raw-materials-additionally-repurposing-scrap-for-creative-projects-can-promote-innovation-and-resourcefulness-rQc {
  max-width: 69.7rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.25;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  flex-shrink: 0;
}
.scrap-metal-xhJ .item--PYx {
  width: 26.8rem;
  height: 5rem;
  position: absolute;
  left: 63.4rem;
  top: 60.8rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3333333333;
  letter-spacing: 0.024rem;
  color: #fff7e9;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
  background-color: #f16713;
  border-radius: 5rem;
}
.scrap-metal-xhJ .auto-group-j1el-xEg {
  box-sizing: border-box;
  padding: 1.3rem 0.8rem 1.8rem 5.4rem;
  width: 153.5rem;
  height: 6.3rem;
  position: absolute;
  left: 0;
  top: 69.9rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.3333333333;
  letter-spacing: 0.024rem;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
}
.scrap-metal-xhJ .auto-group-kc8l-Cep {
  width: 125.4rem;
  height: 39.2rem;
  position: absolute;
  left: 13.8rem;
  top: 83.5rem;
  display: flex;
  align-items: center;
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-a6hi-XSC {
  margin-right: 17.9rem;
  box-sizing: border-box;
  padding: 5rem 2.2rem 2.5rem 2.2rem;
  width: 30.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-a6hi-XSC .steel-pipe-3-EbW {
  margin: 0rem 0rem 1.4rem 0.1rem;
  width: 25.6rem;
  height: 23.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-a6hi-XSC .weathered-rods-51-kg-LeY {
  margin: 0rem 1.2rem 1.5rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-a6hi-XSC .weathered-rods-51-kg-LeY .weathered-rods-51-kg-LeY-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-a6hi-XSC .weathered-rods-51-kg-LeY .weathered-rods-51-kg-LeY-sub-1 {
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-a6hi-XSC .weathered-rods-51-kg-LeY .weathered-rods-51-kg-LeY-sub-2 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-a6hi-XSC .auto-group-fvax-jaC {
  margin-right: 0.7rem;
  width: calc(100% - 0.7rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-a6hi-XSC .auto-group-fvax-jaC .auto-group-edlg-4Ma {
  margin: 0rem 2.6rem 0.2rem 0rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-a6hi-XSC .auto-group-fvax-jaC .auto-group-edlg-4Ma .rectangle-888-Nt4 {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-a6hi-XSC .auto-group-fvax-jaC .auto-group-edlg-4Ma .add-to-cart-hfS {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-a6hi-XSC .auto-group-fvax-jaC .auto-group-edlg-4Ma .item--QJx {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 0.768rem;
  top: 0.968rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-a6hi-XSC .auto-group-fvax-jaC .auto-group-aafw-XPa {
  margin-top: 0.2rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-a6hi-XSC .auto-group-fvax-jaC .auto-group-aafw-XPa .rectangle-887-To2 {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.5rem;
  background-color: #000000;
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-a6hi-XSC .auto-group-fvax-jaC .auto-group-aafw-XPa .vector-13r {
  width: 1.4rem;
  height: 1.2983rem;
  position: absolute;
  left: 1.4rem;
  top: 0.9rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-a6hi-XSC .auto-group-fvax-jaC .auto-group-aafw-XPa .wishlist-jVe {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 4.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-mbac-cZS {
  margin-right: 17.2rem;
  box-sizing: border-box;
  padding: 4.6rem 2.5rem 2.5rem 2.5rem;
  width: 30.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-mbac-cZS .metal-3-Kik {
  margin: 0rem 0rem 0.6rem 0.4rem;
  width: 24.7rem;
  height: 25.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-mbac-cZS .flawed-metal-pieces-51-kg-qwz {
  margin: 0rem 0.4rem 1.5rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-mbac-cZS .flawed-metal-pieces-51-kg-qwz .flawed-metal-pieces-51-kg-qwz-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-mbac-cZS .flawed-metal-pieces-51-kg-qwz .flawed-metal-pieces-51-kg-qwz-sub-1 {
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-mbac-cZS .flawed-metal-pieces-51-kg-qwz .flawed-metal-pieces-51-kg-qwz-sub-2 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-mbac-cZS .auto-group-jstp-XTS {
  margin-left: 0.2rem;
  width: calc(100% - 0.2rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-mbac-cZS .auto-group-jstp-XTS .auto-group-kclc-fZe {
  margin: 0rem 2.5rem 0.2rem 0rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-mbac-cZS .auto-group-jstp-XTS .auto-group-kclc-fZe .rectangle-890-PEk {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-mbac-cZS .auto-group-jstp-XTS .auto-group-kclc-fZe .add-to-cart-inp {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-mbac-cZS .auto-group-jstp-XTS .auto-group-kclc-fZe .item--3KJ {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 0.768rem;
  top: 0.968rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-mbac-cZS .auto-group-jstp-XTS .auto-group-van8-ZoS {
  margin-top: 0.2rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-mbac-cZS .auto-group-jstp-XTS .auto-group-van8-ZoS .rectangle-893-WCt {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.5rem;
  background-color: #000000;
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-mbac-cZS .auto-group-jstp-XTS .auto-group-van8-ZoS .vector-T88 {
  width: 1.4rem;
  height: 1.2983rem;
  position: absolute;
  left: 1.5rem;
  top: 0.9rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-mbac-cZS .auto-group-jstp-XTS .auto-group-van8-ZoS .wishlist-z84 {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 4.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-8lfv-GbN {
  box-sizing: border-box;
  padding: 4.6rem 2.5rem 2.5rem 2.2rem;
  width: 30.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-8lfv-GbN .metal-cans-3-PAC {
  margin-bottom: 0.6rem;
  width: 24.4rem;
  height: 25.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-8lfv-GbN .aluminium-tins-51-kg-uuE {
  margin: 0rem 1rem 1.5rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-8lfv-GbN .aluminium-tins-51-kg-uuE .aluminium-tins-51-kg-uuE-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-8lfv-GbN .aluminium-tins-51-kg-uuE .aluminium-tins-51-kg-uuE-sub-1 {
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-8lfv-GbN .aluminium-tins-51-kg-uuE .aluminium-tins-51-kg-uuE-sub-2 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-8lfv-GbN .auto-group-af2c-cSG {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-8lfv-GbN .auto-group-af2c-cSG .auto-group-yxec-xm2 {
  margin: 0rem 3rem 0.2rem 0rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-8lfv-GbN .auto-group-af2c-cSG .auto-group-yxec-xm2 .rectangle-892-fQY {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-8lfv-GbN .auto-group-af2c-cSG .auto-group-yxec-xm2 .add-to-cart-bJC {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-8lfv-GbN .auto-group-af2c-cSG .auto-group-yxec-xm2 .item--6Vr {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 0.768rem;
  top: 0.968rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-8lfv-GbN .auto-group-af2c-cSG .auto-group-9g7w-cyz {
  margin-top: 0.2rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-8lfv-GbN .auto-group-af2c-cSG .auto-group-9g7w-cyz .rectangle-894-wmN {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.5rem;
  background-color: #000000;
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-8lfv-GbN .auto-group-af2c-cSG .auto-group-9g7w-cyz .vector-HaL {
  width: 1.4rem;
  height: 1.2983rem;
  position: absolute;
  left: 1.5rem;
  top: 0.9rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-metal-xhJ .auto-group-kc8l-Cep .auto-group-8lfv-GbN .auto-group-af2c-cSG .auto-group-9g7w-cyz .wishlist-pKN {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 4.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-metal-xhJ .footer-hPA {
  width: 153.5rem;
  height: 26.6094rem;
  position: absolute;
  left: 0;
  top: 127.3rem;
}
.scrap-metal-xhJ .footer-hPA .rectangle-3-qEU {
  width: 153.5rem;
  height: 24.9998rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #222222;
}
.scrap-metal-xhJ .footer-hPA .scrap-symphoy-sanctuary-aims-to-promote-innovation-in-the-digital-commerce-ecosystem-by-providing-a-platform-for-startups-and-entrepreneurs-to-develop-new-services-and-solutions-also-supports-digital-commerce-including-online-payments-e-commerce-and-financial-services-ahr {
  width: 43.7rem;
  height: 8.8rem;
  position: absolute;
  left: 12.1922rem;
  top: 4.8992rem;
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-metal-xhJ .footer-hPA .frame-35-kkk {
  width: 14.4rem;
  height: 16.5rem;
  position: absolute;
  left: 117.7234rem;
  top: 1.993rem;
}
.scrap-metal-xhJ .footer-hPA .frame-35-kkk .pages-sqN {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2.25;
  letter-spacing: 0.012rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-metal-xhJ .footer-hPA .frame-35-kkk .frame-39-nhS {
  width: 100%;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
}
.scrap-metal-xhJ .footer-hPA .frame-35-kkk .frame-39-nhS .about-us-YAp {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-metal-xhJ .footer-hPA .frame-35-kkk .frame-39-nhS .return-policy-fmE {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-metal-xhJ .footer-hPA .frame-35-kkk .frame-39-nhS .contact-us-bun {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-metal-xhJ .footer-hPA .frame-35-kkk .frame-39-nhS .refund-cancellation-policies-jWC {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-metal-xhJ .footer-hPA .social-media-TSC {
  width: 17.362rem;
  height: 3rem;
  position: absolute;
  left: 13.0039rem;
  top: 15.1109rem;
  display: flex;
  align-items: center;
}
.scrap-metal-xhJ .footer-hPA .social-media-TSC .vector-Bd6 {
  margin: 0rem 4.035rem 0rem 0rem;
  width: 2.9268rem;
  height: 2.9268rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-metal-xhJ .footer-hPA .social-media-TSC .vector-6VA {
  margin-right: 4.0344rem;
  width: 3.2195rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-metal-xhJ .footer-hPA .social-media-TSC .vector-dzt {
  margin-top: 0.0013rem;
  width: 3.1463rem;
  height: 2.6341rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-metal-xhJ .footer-hPA .rectangle-12-yYx {
  width: 153.5rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 20.7rem;
  background-color: #555555;
}
.scrap-metal-xhJ .footer-hPA .frame-40-uxQ {
  box-sizing: border-box;
  padding-right: 19.3667rem;
  width: 29.8667rem;
  height: 5.3094rem;
  position: absolute;
  left: 14.0906rem;
  top: 21.3rem;
  display: flex;
  align-items: flex-start;
}
.scrap-metal-xhJ .footer-hPA .frame-40-uxQ .mask-group-Dy6 {
  margin-right: 4.5rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-metal-xhJ .footer-hPA .frame-40-uxQ .mask-group-NLC {
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-metal-xhJ .footer-hPA .scrap-symphony-sanctuary-all-rights-reserved-WxC {
  width: 27.4rem;
  height: 2.2rem;
  position: absolute;
  left: 114.0258rem;
  top: 22.1133rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-metal-xhJ .footer-hPA .terms-condition-privacy-policy-bik {
  width: 18.5rem;
  height: 2.2rem;
  position: absolute;
  left: 65.857rem;
  top: 22.1133rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
