
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.scrap-glass-3-aTv {
  width: 100%;
  height: 70.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.scrap-glass-3-aTv .black1-67-UpC {
  width: 153.6rem;
  height: 68.5rem;
  position: absolute;
  left: 0;
  top: 1.7rem;
  object-fit: cover;
  vertical-align: top;
}
.scrap-glass-3-aTv .rectangle-901-orU {
  width: 153.6rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 65.9rem;
  background-color: #5b5b5b;
}
.scrap-glass-3-aTv .item--kFv {
  box-sizing: border-box;
  padding-right: 19.3667rem;
  width: 29.8667rem;
  height: 5.3094rem;
  position: absolute;
  left: 14.1rem;
  top: 66.3rem;
  display: flex;
  align-items: flex-start;
}
.scrap-glass-3-aTv .item--kFv .mask-group-rZr {
  margin-right: 4.5rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-glass-3-aTv .item--kFv .mask-group-CNp {
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-glass-3-aTv .terms-condition-privacy-policy-Yha {
  width: 18.5rem;
  height: 2.2rem;
  position: absolute;
  left: 65.9rem;
  top: 66.8rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-glass-3-aTv .scrap-symphony-sanctuary-all-rights-reserved-pf6 {
  width: 27.4rem;
  height: 2.2rem;
  position: absolute;
  left: 114.1rem;
  top: 66.8rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-glass-3-aTv .scrap3-removebg-preview-68-gSQ {
  width: 4.7467rem;
  height: 4rem;
  position: absolute;
  left: 2.4rem;
  top: 5.1rem;
  object-fit: cover;
  vertical-align: top;
}
.scrap-glass-3-aTv .scrap-symphony-sanctuary-bZN {
  width: 16.2rem;
  height: 2.1rem;
  position: absolute;
  left: 7.25rem;
  top: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4825;
  letter-spacing: 0.028rem;
  color: #f7fbff;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-glass-3-aTv .home-scrap-section-creative-section-about-us-contact-us-HBJ {
  width: 51.9rem;
  height: 2.5rem;
  position: absolute;
  left: 35.4rem;
  top: 6.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.016rem;
  color: #f6fbff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-glass-3-aTv .rectangle-867-Akt {
  width: 37.7rem;
  height: 3.1rem;
  position: absolute;
  left: 91.4rem;
  top: 6.3rem;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
  background-color: #f6fbff;
}
.scrap-glass-3-aTv .layer1-5cx {
  width: 3.2rem;
  height: 3.4078rem;
  position: absolute;
  left: 143.4rem;
  top: 6rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-glass-3-aTv .item--1Fi {
  width: 3.7029rem;
  height: 3.0931rem;
  position: absolute;
  left: 137.7297rem;
  top: 6.0844rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-glass-3-aTv .rectangle-901-w9N {
  width: 104.2rem;
  height: 42rem;
  position: absolute;
  left: 45.7rem;
  top: 18rem;
  background-color: #ffffff;
  border-radius: 5rem;
}
.scrap-glass-3-aTv .vector-TNc {
  width: 3.4rem;
  height: 3.2rem;
  position: absolute;
  left: 132.4rem;
  top: 6rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-glass-3-aTv .price-Pn4 {
  width: 14.5rem;
  height: 7.7rem;
  position: absolute;
  left: 50.1rem;
  top: 36rem;
}
.scrap-glass-3-aTv .price-Pn4 .rectangle-106-XNU {
  width: 14.5rem;
  height: 6.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: dashed 0.1rem #ff731d;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.scrap-glass-3-aTv .price-Pn4 .text-qe4 {
  width: 6.7rem;
  height: 7.2rem;
  position: absolute;
  left: 1.2rem;
  top: 0.5rem;
}
.scrap-glass-3-aTv .price-Pn4 .text-qe4 .price-mnc {
  margin-bottom: 0.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #222222;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-glass-3-aTv .price-Pn4 .text-qe4 .kg-tsE {
  max-width: 6.7rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.6875;
  letter-spacing: 0.032rem;
  color: #ff731d;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-glass-3-aTv .price-Pn4 .price-icon-RMN {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 12.1rem;
  top: 0.4rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-glass-3-aTv .frame-427319600-x6Q {
  box-sizing: border-box;
  padding: 1rem 3.95rem;
  width: 34.7rem;
  height: 9.9rem;
  position: absolute;
  left: 50.1rem;
  top: 46.9rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  background-color: #f8fafc;
  border-radius: 1.5rem;
}
.scrap-glass-3-aTv .frame-427319600-x6Q .frame-427319596-ejv {
  margin: 1.25rem 1.9rem 1.25rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-glass-3-aTv .frame-427319600-x6Q .frame-427319596-ejv .group-17-xkc {
  margin: 0rem 0.1rem 0.5rem 0rem;
  width: 2.8845rem;
  height: 2.1997rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-glass-3-aTv .frame-427319600-x6Q .frame-427319596-ejv .free-delivery-UU4 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.7;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-glass-3-aTv .frame-427319600-x6Q .line-97-zSQ {
  margin-right: 2rem;
  width: 0rem;
  height: 7.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-glass-3-aTv .frame-427319600-x6Q .frame-427319598-jPz {
  margin: 1.25rem 1.9rem 1.25rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-glass-3-aTv .frame-427319600-x6Q .frame-427319598-jPz .group-18-3vU {
  margin: 0rem 0.1rem 0.5rem 0rem;
  width: 2.2003rem;
  height: 2.1999rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-glass-3-aTv .frame-427319600-x6Q .frame-427319598-jPz .pay-on-delivery-B16 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.7;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-glass-3-aTv .frame-427319600-x6Q .line-98-W3N {
  margin-right: 2rem;
  width: 0rem;
  height: 7.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-glass-3-aTv .frame-427319600-x6Q .auto-group-t7a4-qbS {
  margin-bottom: 1.2rem;
  box-sizing: border-box;
  padding-top: 1.2rem;
  width: 5.3rem;
  height: 6.7rem;
  flex-shrink: 0;
}
.scrap-glass-3-aTv .frame-427319600-x6Q .auto-group-t7a4-qbS .frame-427319599-NLU {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.scrap-glass-3-aTv .frame-427319600-x6Q .auto-group-t7a4-qbS .frame-427319599-NLU .group-19-iv8 {
  margin: 0rem 0rem 0.5rem 0rem;
  width: 2.2rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-glass-3-aTv .frame-427319600-x6Q .auto-group-t7a4-qbS .frame-427319599-NLU .days-returnable-FQG {
  max-width: 5.3rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.scrap-glass-3-aTv .line-144-vFW {
  width: 0;
  height: 37.5rem;
  position: absolute;
  left: 89rem;
  top: 19.6rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-glass-3-aTv .rectangle-899-exC {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 69rem;
  top: 36.5rem;
  background-color: #000000;
}
.scrap-glass-3-aTv .add-to-cart-b6k {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 72.7rem;
  top: 35.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-glass-3-aTv .item--6pC {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 69.768rem;
  top: 36.768rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-glass-3-aTv .rectangle-900-2Sx {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 69rem;
  top: 40.2rem;
  background-color: #000000;
}
.scrap-glass-3-aTv .vector-x5i {
  width: 1.6rem;
  height: 1.4rem;
  position: absolute;
  left: 70.4rem;
  top: 40.5rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-glass-3-aTv .wishlist-gXW {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 72.9rem;
  top: 39.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-glass-3-aTv .group-168-PB2 {
  box-sizing: border-box;
  padding: 2.1789rem 0.7094rem;
  width: 56.8rem;
  height: 14.9773rem;
  position: absolute;
  left: 91.4rem;
  top: 20.9rem;
  border: dashed 0.1rem #dddddd;
  border-radius: 0.5rem;
}
.scrap-glass-3-aTv .group-168-PB2 .description-Vjr {
  width: 52.5rem;
  height: 7.5rem;
}
.scrap-glass-3-aTv .group-168-PB2 .description-Vjr .description--SQC {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.016rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-glass-3-aTv .group-168-PB2 .description-Vjr .shattered-glass-fragments-once-a-whole-entity-now-a-delicate-kaleidoscope-of-broken-pieces-each-reflecting-the-passage-of-an-unexpected-moment-xNY {
  max-width: 52.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-glass-3-aTv .item--mat {
  box-sizing: border-box;
  padding: 0.05rem 2.7rem 0.05rem 1rem;
  width: 9.4rem;
  height: 2.2rem;
  position: absolute;
  left: 135.2rem;
  top: 12.7rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
  background-color: #f16713;
  border-radius: 5rem;
}
.scrap-glass-3-aTv .item--mat .auto-group-4ssk-Fkx {
  margin-right: 0.6rem;
  width: 1.1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-glass-3-aTv .item--mat .back-nF6 {
  margin-bottom: 0.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.1875;
  letter-spacing: 0.016rem;
  color: #fff7e9;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-glass-3-aTv .group-187-4TW {
  width: 2rem;
  height: 2.6383rem;
  position: absolute;
  left: 92.4rem;
  top: 6.5rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-glass-3-aTv .search-BHE {
  width: 5.9rem;
  height: 2.5rem;
  position: absolute;
  left: 95rem;
  top: 6.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  letter-spacing: 0.018rem;
  color: #555555;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-glass-3-aTv .glass-3-G3n {
  width: 43.3rem;
  height: 30.1rem;
  position: absolute;
  left: 1.3rem;
  top: 23.1rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
}
.scrap-glass-3-aTv .group-193-xxC {
  width: 37.8rem;
  height: 11.5rem;
  position: absolute;
  left: 50.1rem;
  top: 21rem;
}
.scrap-glass-3-aTv .group-193-xxC .glass-fragments-62p {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.02rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-glass-3-aTv .group-193-xxC .auto-group-im72-C5r {
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.scrap-glass-3-aTv .group-193-xxC .auto-group-im72-C5r .auto-group-phwu-jba {
  margin-right: 1.2rem;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-glass-3-aTv .group-193-xxC .auto-group-im72-C5r .auto-group-phwu-jba .product-id-457gr3-U3N {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-glass-3-aTv .group-193-xxC .auto-group-im72-C5r .auto-group-phwu-jba .seller-kamal-npk {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-glass-3-aTv .group-193-xxC .auto-group-im72-C5r .auto-group-phwu-jba .published-on-06-october-2020-7s2 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-glass-3-aTv .group-193-xxC .auto-group-im72-C5r .group-157-SPW {
  margin-bottom: 0.2955rem;
  box-sizing: border-box;
  padding: 0.9rem 1.5rem 2.004rem 1.5rem;
  width: 16.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #ff731d;
  background-color: rgba(246, 251, 255, 0.8000000119);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}
.scrap-glass-3-aTv .group-193-xxC .auto-group-im72-C5r .group-157-SPW .available-quantity-MFa {
  margin-bottom: 1.2rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5714285714;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.scrap-glass-3-aTv .group-193-xxC .auto-group-im72-C5r .group-157-SPW .available-quantity-MFa .available-quantity-MFa-sub-0 {
}
.scrap-glass-3-aTv .group-193-xxC .auto-group-im72-C5r .group-157-SPW .available-quantity-MFa .available-quantity-MFa-sub-1 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 0.6875;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-glass-3-aTv .group-193-xxC .auto-group-im72-C5r .group-157-SPW .kg-5at {
  margin-left: 1.5rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 0.6875;
  color: #777777;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-glass-3-aTv .item--8JG {
  width: 56.6rem;
  height: 16.2rem;
  position: absolute;
  left: 91.4rem;
  top: 39.6rem;
  display: flex;
  align-items: center;
}
.scrap-glass-3-aTv .item--8JG .group-21-rEG {
  width: 27.6rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.scrap-glass-3-aTv .item--8JG .group-21-rEG .content-Cov {
  width: 16.2rem;
  height: 9.4rem;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
}
.scrap-glass-3-aTv .item--8JG .group-21-rEG .content-Cov .features--jYx {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.016rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-glass-3-aTv .item--8JG .group-21-rEG .content-Cov .fragmented-splinters-loss-of-functionality-potential-for-artistic-use-Tzk {
  max-width: 16.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-glass-3-aTv .item--8JG .group-21-rEG .rectangle-113-NM2 {
  width: 27.6rem;
  height: 16.2rem;
  position: absolute;
  left: 0;
  top: 0;
  border: dashed 0.1rem #dddddd;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.scrap-glass-3-aTv .item--8JG .group-22-hPJ {
  box-sizing: border-box;
  padding: 1.7rem 2.9rem 0.9rem 1.6rem;
  width: 29rem;
  height: 100%;
  border: dashed 0.1rem #dddddd;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.scrap-glass-3-aTv .item--8JG .group-22-hPJ .environmental-impact--RKJ {
  margin-bottom: 0.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-glass-3-aTv .item--8JG .group-22-hPJ .opting-for-glass-scrap-minimizes-landfill-waste-conserves-energy-and-supports-recycling-its-a-sustainable-choice-that-reduces-the-need-for-new-production-contributing-to-a-circular-economy-and-lowering-the-overall-environmental-impact-Yui {
  max-width: 24.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5833333333;
  letter-spacing: 0.012rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
