
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.scrap-wood-3-kV2 {
  width: 100%;
  height: 70.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.scrap-wood-3-kV2 .black1-67-s3r {
  width: 153.6rem;
  height: 68.5rem;
  position: absolute;
  left: 0;
  top: 1.7rem;
  object-fit: cover;
  vertical-align: top;
}
.scrap-wood-3-kV2 .rectangle-901-BqE {
  width: 153.6rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 65.9rem;
  background-color: #5b5b5b;
}
.scrap-wood-3-kV2 .item--8Eg {
  box-sizing: border-box;
  padding-right: 19.3667rem;
  width: 29.8667rem;
  height: 5.3094rem;
  position: absolute;
  left: 14.1rem;
  top: 66.3rem;
  display: flex;
  align-items: flex-start;
}
.scrap-wood-3-kV2 .item--8Eg .mask-group-dx8 {
  margin-right: 4.5rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-wood-3-kV2 .item--8Eg .mask-group-nKE {
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-wood-3-kV2 .terms-condition-privacy-policy-L5r {
  width: 18.5rem;
  height: 2.2rem;
  position: absolute;
  left: 65.9rem;
  top: 66.8rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-wood-3-kV2 .scrap-symphony-sanctuary-all-rights-reserved-QbW {
  width: 27.4rem;
  height: 2.2rem;
  position: absolute;
  left: 114.1rem;
  top: 66.8rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-wood-3-kV2 .scrap3-removebg-preview-68-UbN {
  width: 4.7467rem;
  height: 4rem;
  position: absolute;
  left: 2.4rem;
  top: 5.1rem;
  object-fit: cover;
  vertical-align: top;
}
.scrap-wood-3-kV2 .scrap-symphony-sanctuary-zZi {
  width: 16.2rem;
  height: 2.1rem;
  position: absolute;
  left: 7.25rem;
  top: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4825;
  letter-spacing: 0.028rem;
  color: #f7fbff;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-wood-3-kV2 .home-scrap-section-creative-section-about-us-contact-us-GGL {
  width: 51.9rem;
  height: 2.5rem;
  position: absolute;
  left: 35.4rem;
  top: 6.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.016rem;
  color: #f6fbff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-wood-3-kV2 .rectangle-867-jfi {
  width: 37.7rem;
  height: 3.1rem;
  position: absolute;
  left: 91.4rem;
  top: 6.3rem;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
  background-color: #f6fbff;
}
.scrap-wood-3-kV2 .layer1-SKE {
  width: 3.2rem;
  height: 3.4078rem;
  position: absolute;
  left: 143.4rem;
  top: 6rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-wood-3-kV2 .item--xoN {
  width: 3.7029rem;
  height: 3.0931rem;
  position: absolute;
  left: 137.7297rem;
  top: 6.0844rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-wood-3-kV2 .rectangle-901-gzG {
  width: 104.2rem;
  height: 42rem;
  position: absolute;
  left: 45.7rem;
  top: 18rem;
  background-color: #ffffff;
  border-radius: 5rem;
}
.scrap-wood-3-kV2 .vector-cd2 {
  width: 3.4rem;
  height: 3.2rem;
  position: absolute;
  left: 132.4rem;
  top: 6rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-wood-3-kV2 .price-9sr {
  width: 14.5rem;
  height: 7.7rem;
  position: absolute;
  left: 50.1rem;
  top: 36rem;
}
.scrap-wood-3-kV2 .price-9sr .rectangle-106-tKe {
  width: 14.5rem;
  height: 6.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: dashed 0.1rem #ff731d;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.scrap-wood-3-kV2 .price-9sr .text-bjr {
  width: 6.7rem;
  height: 7.2rem;
  position: absolute;
  left: 1.2rem;
  top: 0.5rem;
}
.scrap-wood-3-kV2 .price-9sr .text-bjr .price-LhS {
  margin-bottom: 0.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #222222;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-wood-3-kV2 .price-9sr .text-bjr .kg-4dS {
  max-width: 6.7rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.6875;
  letter-spacing: 0.032rem;
  color: #ff731d;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-wood-3-kV2 .price-9sr .price-icon-bNU {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 12.1rem;
  top: 0.4rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-wood-3-kV2 .frame-427319600-vvY {
  box-sizing: border-box;
  padding: 1rem 3.95rem;
  width: 34.7rem;
  height: 9.9rem;
  position: absolute;
  left: 50.1rem;
  top: 46.9rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  background-color: #f8fafc;
  border-radius: 1.5rem;
}
.scrap-wood-3-kV2 .frame-427319600-vvY .frame-427319596-RMW {
  margin: 1.25rem 1.9rem 1.25rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-wood-3-kV2 .frame-427319600-vvY .frame-427319596-RMW .group-17-LjN {
  margin: 0rem 0.1rem 0.5rem 0rem;
  width: 2.8845rem;
  height: 2.1997rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-wood-3-kV2 .frame-427319600-vvY .frame-427319596-RMW .free-delivery-4QU {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.7;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-wood-3-kV2 .frame-427319600-vvY .line-97-y1e {
  margin-right: 2rem;
  width: 0rem;
  height: 7.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-wood-3-kV2 .frame-427319600-vvY .frame-427319598-WGU {
  margin: 1.25rem 1.9rem 1.25rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-wood-3-kV2 .frame-427319600-vvY .frame-427319598-WGU .group-18-dM6 {
  margin: 0rem 0.1rem 0.5rem 0rem;
  width: 2.2003rem;
  height: 2.1999rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-wood-3-kV2 .frame-427319600-vvY .frame-427319598-WGU .pay-on-delivery-wcg {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.7;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-wood-3-kV2 .frame-427319600-vvY .line-98-G9A {
  margin-right: 2rem;
  width: 0rem;
  height: 7.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-wood-3-kV2 .frame-427319600-vvY .auto-group-jhgx-QmA {
  margin-bottom: 1.2rem;
  box-sizing: border-box;
  padding-top: 1.2rem;
  width: 5.3rem;
  height: 6.7rem;
  flex-shrink: 0;
}
.scrap-wood-3-kV2 .frame-427319600-vvY .auto-group-jhgx-QmA .frame-427319599-k4L {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.scrap-wood-3-kV2 .frame-427319600-vvY .auto-group-jhgx-QmA .frame-427319599-k4L .group-19-W3W {
  margin: 0rem 0rem 0.5rem 0rem;
  width: 2.2rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-wood-3-kV2 .frame-427319600-vvY .auto-group-jhgx-QmA .frame-427319599-k4L .days-returnable-RgG {
  max-width: 5.3rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.scrap-wood-3-kV2 .line-144-h7z {
  width: 0;
  height: 37.5rem;
  position: absolute;
  left: 89rem;
  top: 19.6rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-wood-3-kV2 .rectangle-899-qEC {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 69rem;
  top: 36.5rem;
  background-color: #000000;
}
.scrap-wood-3-kV2 .add-to-cart-MyE {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 72.7rem;
  top: 35.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-wood-3-kV2 .item--fj2 {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 69.768rem;
  top: 36.768rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-wood-3-kV2 .rectangle-900-bMn {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 69rem;
  top: 40.2rem;
  background-color: #000000;
}
.scrap-wood-3-kV2 .vector-XWL {
  width: 1.6rem;
  height: 1.4rem;
  position: absolute;
  left: 70.4rem;
  top: 40.5rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-wood-3-kV2 .wishlist-fcY {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 72.9rem;
  top: 39.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-wood-3-kV2 .group-168-aUc {
  width: 56.8rem;
  height: 34.3rem;
  position: absolute;
  left: 91.4rem;
  top: 20.9rem;
}
.scrap-wood-3-kV2 .group-168-aUc .auto-group-6t1r-umn {
  margin-bottom: 3.1227rem;
  box-sizing: border-box;
  padding: 2.179rem 0.791rem 2.179rem 0.709rem;
  width: 100%;
  height: 14.9773rem;
  border: dashed 0.1rem #dddddd;
  border-radius: 0.5rem;
}
.scrap-wood-3-kV2 .group-168-aUc .auto-group-6t1r-umn .description-E3N {
  width: 100%;
  height: 7.5rem;
  display: flex;
  flex-direction: column;
}
.scrap-wood-3-kV2 .group-168-aUc .auto-group-6t1r-umn .description-E3N .description--n4t {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.016rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-wood-3-kV2 .group-168-aUc .auto-group-6t1r-umn .description-E3N .nostalgia-guardian-an-ancient-wooden-doll-delicately-perched-on-a-weathered-chairsilently-holding-the-stories-of-bygone-eras-within-its-worn-and-cracked-facade-hSk {
  max-width: 55.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.scrap-wood-3-kV2 .group-168-aUc .item--8nx {
  margin-right: 0.2rem;
  width: calc(100% - 0.2rem);
  height: 16.2rem;
  display: flex;
  align-items: center;
}
.scrap-wood-3-kV2 .group-168-aUc .item--8nx .group-21-g3n {
  width: 27.6rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.scrap-wood-3-kV2 .group-168-aUc .item--8nx .group-21-g3n .content-dUp {
  width: 15.7rem;
  height: 13.2rem;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
}
.scrap-wood-3-kV2 .group-168-aUc .item--8nx .group-21-g3n .content-dUp .features--y2t {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.016rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-wood-3-kV2 .group-168-aUc .item--8nx .group-21-g3n .content-dUp .intricate-craftsmanship-whispers-of-history-silent-witness-vintage-elegance-6dJ {
  max-width: 15.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-wood-3-kV2 .group-168-aUc .item--8nx .group-21-g3n .rectangle-113-Bue {
  width: 27.6rem;
  height: 16.2rem;
  position: absolute;
  left: 0;
  top: 0;
  border: dashed 0.1rem #dddddd;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.scrap-wood-3-kV2 .group-168-aUc .item--8nx .group-22-KFA {
  box-sizing: border-box;
  padding: 1.4rem 0.9rem 1.7rem 1.7rem;
  width: 29rem;
  height: 100%;
  border: dashed 0.1rem #dddddd;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.scrap-wood-3-kV2 .group-168-aUc .item--8nx .group-22-KFA .environmental-impact--Sag {
  margin-bottom: 0.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-wood-3-kV2 .group-168-aUc .item--8nx .group-22-KFA .wood-is-a-renewable-resource-that-naturally-absorbs-carbon-dioxide-contributing-to-a-healthier-environment-with-low-embodied-energy-biodegradability-and-recyclability-our-wood-items-embrace-eco-friendly-principles-providing-a-sustainable-and-versatile-choice-for-consciousconsumers-AWg {
  margin-left: 0.3rem;
  max-width: 26.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.scrap-wood-3-kV2 .item--iwW {
  box-sizing: border-box;
  padding: 0.05rem 2.7rem 0.05rem 1rem;
  width: 9.4rem;
  height: 2.2rem;
  position: absolute;
  left: 135.2rem;
  top: 12.7rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
  background-color: #f16713;
  border-radius: 5rem;
}
.scrap-wood-3-kV2 .item--iwW .auto-group-lefe-R5E {
  margin-right: 0.6rem;
  width: 1.1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-wood-3-kV2 .item--iwW .back-MDn {
  margin-bottom: 0.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.1875;
  letter-spacing: 0.016rem;
  color: #fff7e9;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-wood-3-kV2 .group-187-que {
  width: 2rem;
  height: 2.6383rem;
  position: absolute;
  left: 92.4rem;
  top: 6.5rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-wood-3-kV2 .search-Uhi {
  width: 5.9rem;
  height: 2.5rem;
  position: absolute;
  left: 95rem;
  top: 6.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  letter-spacing: 0.018rem;
  color: #555555;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-wood-3-kV2 .wood-doll-3-B6L {
  width: 29.9rem;
  height: 41.5rem;
  position: absolute;
  left: 9.6rem;
  top: 18rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
}
.scrap-wood-3-kV2 .group-172-u2L {
  width: 37.5rem;
  height: 11.5rem;
  position: absolute;
  left: 50.4rem;
  top: 20.3rem;
}
.scrap-wood-3-kV2 .group-172-u2L .nostalgia-guardian-RmN {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.02rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-wood-3-kV2 .group-172-u2L .auto-group-umjk-ADA {
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.scrap-wood-3-kV2 .group-172-u2L .auto-group-umjk-ADA .auto-group-etpu-iVa {
  margin-right: 3.3rem;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-wood-3-kV2 .group-172-u2L .auto-group-umjk-ADA .auto-group-etpu-iVa .product-id-659pr1-rrg {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-wood-3-kV2 .group-172-u2L .auto-group-umjk-ADA .auto-group-etpu-iVa .seller-tharun-bJU {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-wood-3-kV2 .group-172-u2L .auto-group-umjk-ADA .auto-group-etpu-iVa .published-on-16-june-2022-Xxp {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-wood-3-kV2 .group-172-u2L .auto-group-umjk-ADA .group-157-rkC {
  margin-bottom: 0.2955rem;
  box-sizing: border-box;
  padding: 0.9rem 1.5rem 2.004rem 1.5rem;
  width: 16.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #ff731d;
  background-color: rgba(246, 251, 255, 0.8000000119);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}
.scrap-wood-3-kV2 .group-172-u2L .auto-group-umjk-ADA .group-157-rkC .available-quantity-NTe {
  margin-bottom: 1.2rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5714285714;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.scrap-wood-3-kV2 .group-172-u2L .auto-group-umjk-ADA .group-157-rkC .available-quantity-NTe .available-quantity-NTe-sub-0 {
}
.scrap-wood-3-kV2 .group-172-u2L .auto-group-umjk-ADA .group-157-rkC .available-quantity-NTe .available-quantity-NTe-sub-1 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 0.6875;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-wood-3-kV2 .group-172-u2L .auto-group-umjk-ADA .group-157-rkC .kg-85S {
  margin-left: 0.1rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 0.6875;
  color: #777777;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
