
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.scrap-all-6-612 {
  width: 100%;
  height: 70.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.scrap-all-6-612 .black1-67-CJx {
  width: 153.6rem;
  height: 68.5rem;
  position: absolute;
  left: 0;
  top: 1.7rem;
  object-fit: cover;
  vertical-align: top;
}
.scrap-all-6-612 .rectangle-901-KeU {
  width: 153.6rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 65.9rem;
  background-color: #5b5b5b;
}
.scrap-all-6-612 .item--Fo2 {
  box-sizing: border-box;
  padding-right: 19.3667rem;
  width: 29.8667rem;
  height: 5.3094rem;
  position: absolute;
  left: 14.1rem;
  top: 66.3rem;
  display: flex;
  align-items: flex-start;
}
.scrap-all-6-612 .item--Fo2 .mask-group-mWU {
  margin-right: 4.5rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-all-6-612 .item--Fo2 .mask-group-ucg {
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-all-6-612 .terms-condition-privacy-policy-3it {
  width: 18.5rem;
  height: 2.2rem;
  position: absolute;
  left: 65.9rem;
  top: 66.8rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-all-6-612 .scrap-symphony-sanctuary-all-rights-reserved-jbi {
  width: 27.4rem;
  height: 2.2rem;
  position: absolute;
  left: 114.1rem;
  top: 66.8rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-all-6-612 .scrap3-removebg-preview-68-RDe {
  width: 4.7467rem;
  height: 4rem;
  position: absolute;
  left: 2.4rem;
  top: 5.1rem;
  object-fit: cover;
  vertical-align: top;
}
.scrap-all-6-612 .scrap-symphony-sanctuary-YZA {
  width: 16.2rem;
  height: 2.1rem;
  position: absolute;
  left: 7.25rem;
  top: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4825;
  letter-spacing: 0.028rem;
  color: #f7fbff;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-all-6-612 .home-scrap-section-creative-section-about-us-contact-us-Egt {
  width: 51.9rem;
  height: 2.5rem;
  position: absolute;
  left: 35.4rem;
  top: 6.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.016rem;
  color: #f6fbff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-all-6-612 .rectangle-867-KTS {
  width: 37.7rem;
  height: 3.1rem;
  position: absolute;
  left: 91.4rem;
  top: 6.3rem;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
  background-color: #f6fbff;
}
.scrap-all-6-612 .layer1-dDE {
  width: 3.2rem;
  height: 3.4078rem;
  position: absolute;
  left: 143.4rem;
  top: 6rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-all-6-612 .item--Mf2 {
  width: 3.7029rem;
  height: 3.0931rem;
  position: absolute;
  left: 137.7297rem;
  top: 6.0844rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-all-6-612 .rectangle-901-fvc {
  width: 104.2rem;
  height: 42rem;
  position: absolute;
  left: 45.7rem;
  top: 17.9rem;
  background-color: #ffffff;
  border-radius: 5rem;
}
.scrap-all-6-612 .vector-zhz {
  width: 3.4rem;
  height: 3.2rem;
  position: absolute;
  left: 132.4rem;
  top: 6rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-all-6-612 .price-vrY {
  width: 14.5rem;
  height: 7.7rem;
  position: absolute;
  left: 50.1rem;
  top: 36rem;
}
.scrap-all-6-612 .price-vrY .rectangle-106-GQc {
  width: 14.5rem;
  height: 6.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: dashed 0.1rem #ff731d;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.scrap-all-6-612 .price-vrY .text-zLc {
  width: 6.7rem;
  height: 7.2rem;
  position: absolute;
  left: 1.2rem;
  top: 0.5rem;
}
.scrap-all-6-612 .price-vrY .text-zLc .price-8Sp {
  margin-bottom: 0.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #222222;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-all-6-612 .price-vrY .text-zLc .kg-rNp {
  max-width: 6.7rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.6875;
  letter-spacing: 0.032rem;
  color: #ff731d;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-all-6-612 .price-vrY .price-icon-xwe {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 12.1rem;
  top: 0.4rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-all-6-612 .frame-427319600-HDE {
  box-sizing: border-box;
  padding: 1rem 3.95rem;
  width: 34.7rem;
  height: 9.9rem;
  position: absolute;
  left: 50.1rem;
  top: 46.9rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  background-color: #f8fafc;
  border-radius: 1.5rem;
}
.scrap-all-6-612 .frame-427319600-HDE .frame-427319596-BJc {
  margin: 1.25rem 1.9rem 1.25rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-all-6-612 .frame-427319600-HDE .frame-427319596-BJc .group-17-W5z {
  margin: 0rem 0.1rem 0.5rem 0rem;
  width: 2.8845rem;
  height: 2.1997rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-all-6-612 .frame-427319600-HDE .frame-427319596-BJc .free-delivery-RTr {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.7;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-all-6-612 .frame-427319600-HDE .line-97-Xmn {
  margin-right: 2rem;
  width: 0rem;
  height: 7.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-all-6-612 .frame-427319600-HDE .frame-427319598-4Wp {
  margin: 1.25rem 1.9rem 1.25rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-all-6-612 .frame-427319600-HDE .frame-427319598-4Wp .group-18-nxc {
  margin: 0rem 0.1rem 0.5rem 0rem;
  width: 2.2003rem;
  height: 2.1999rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-all-6-612 .frame-427319600-HDE .frame-427319598-4Wp .pay-on-delivery-X9W {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.7;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-all-6-612 .frame-427319600-HDE .line-98-fFi {
  margin-right: 2rem;
  width: 0rem;
  height: 7.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-all-6-612 .frame-427319600-HDE .auto-group-ac1r-DHE {
  margin-bottom: 1.2rem;
  box-sizing: border-box;
  padding-top: 1.2rem;
  width: 5.3rem;
  height: 6.7rem;
  flex-shrink: 0;
}
.scrap-all-6-612 .frame-427319600-HDE .auto-group-ac1r-DHE .frame-427319599-9At {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.scrap-all-6-612 .frame-427319600-HDE .auto-group-ac1r-DHE .frame-427319599-9At .group-19-6rp {
  margin: 0rem 0rem 0.5rem 0rem;
  width: 2.2rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-all-6-612 .frame-427319600-HDE .auto-group-ac1r-DHE .frame-427319599-9At .days-returnable-Ei8 {
  max-width: 5.3rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.scrap-all-6-612 .line-144-7G8 {
  width: 0;
  height: 37.5rem;
  position: absolute;
  left: 89rem;
  top: 19.6rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-all-6-612 .rectangle-899-SJQ {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 69rem;
  top: 36.5rem;
  background-color: #000000;
}
.scrap-all-6-612 .add-to-cart-yJL {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 72.7rem;
  top: 35.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-all-6-612 .item--suW {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 69.768rem;
  top: 36.768rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-all-6-612 .rectangle-900-bqW {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 69rem;
  top: 40.2rem;
  background-color: #000000;
}
.scrap-all-6-612 .vector-Xz4 {
  width: 1.6rem;
  height: 1.4rem;
  position: absolute;
  left: 70.4rem;
  top: 40.5rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-all-6-612 .wishlist-Gwe {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 72.9rem;
  top: 39.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-all-6-612 .group-168-BYp {
  box-sizing: border-box;
  padding: 2.1789rem 0.7094rem;
  width: 56.8rem;
  height: 14.9773rem;
  position: absolute;
  left: 91.4rem;
  top: 20.9rem;
  border: dashed 0.1rem #dddddd;
  border-radius: 0.5rem;
}
.scrap-all-6-612 .group-168-BYp .description-i2x {
  width: 51.7rem;
  height: 7.5rem;
}
.scrap-all-6-612 .group-168-BYp .description-i2x .description--4cc {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.016rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-all-6-612 .group-168-BYp .description-i2x .fragmented-vessels-a-shattered-remnants-of-once-whole-ceramic-bowls-lie-in-fragments-a-poignant-mosaic-of-memories-now-fractured-zWG {
  max-width: 51.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-all-6-612 .item--e52 {
  box-sizing: border-box;
  padding: 0.05rem 2.7rem 0.05rem 1rem;
  width: 9.4rem;
  height: 2.2rem;
  position: absolute;
  left: 135.2rem;
  top: 12.7rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
  background-color: #f16713;
  border-radius: 5rem;
}
.scrap-all-6-612 .item--e52 .auto-group-fzbj-XuW {
  margin-right: 0.6rem;
  width: 1.1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-all-6-612 .item--e52 .back-4Pe {
  margin-bottom: 0.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.1875;
  letter-spacing: 0.016rem;
  color: #fff7e9;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-all-6-612 .seramic-items-old-5-2-MNk {
  width: 40.5rem;
  height: 35.2rem;
  position: absolute;
  left: 3rem;
  top: 20.9rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
}
.scrap-all-6-612 .group-180-fuE {
  width: 38.4rem;
  height: 11.5rem;
  position: absolute;
  left: 50.1rem;
  top: 20.6rem;
  display: flex;
  align-items: flex-end;
}
.scrap-all-6-612 .group-180-fuE .auto-group-cfu8-DA4 {
  margin-right: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-all-6-612 .group-180-fuE .auto-group-cfu8-DA4 .fragmented-vessels-M1N {
  margin-bottom: 1.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.02rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-all-6-612 .group-180-fuE .auto-group-cfu8-DA4 .product-id-510ks2-Nx4 {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-all-6-612 .group-180-fuE .auto-group-cfu8-DA4 .seller-ram-67N {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-all-6-612 .group-180-fuE .auto-group-cfu8-DA4 .published-on-21-april-2022-212 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-all-6-612 .group-180-fuE .group-157-YEG {
  margin-bottom: 0.3955rem;
  box-sizing: border-box;
  padding: 0.9rem 1.5rem 2.004rem 1.5rem;
  width: 16.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #ff731d;
  background-color: rgba(246, 251, 255, 0.8000000119);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}
.scrap-all-6-612 .group-180-fuE .group-157-YEG .available-quantity-4TW {
  margin-bottom: 1.2rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5714285714;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.scrap-all-6-612 .group-180-fuE .group-157-YEG .available-quantity-4TW .available-quantity-4TW-sub-0 {
}
.scrap-all-6-612 .group-180-fuE .group-157-YEG .available-quantity-4TW .available-quantity-4TW-sub-1 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 0.6875;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-all-6-612 .group-180-fuE .group-157-YEG .kg-Ci8 {
  margin-left: 0.1rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 0.6875;
  color: #777777;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-all-6-612 .item--f5v {
  width: 56.7624rem;
  height: 16.2rem;
  position: absolute;
  left: 91.4rem;
  top: 38.9rem;
  display: flex;
  align-items: center;
}
.scrap-all-6-612 .item--f5v .group-21-aya {
  width: 27.6rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.scrap-all-6-612 .item--f5v .group-21-aya .content-wp8 {
  width: 13rem;
  height: 11.3rem;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
}
.scrap-all-6-612 .item--f5v .group-21-aya .content-wp8 .features--gFv {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.016rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-all-6-612 .item--f5v .group-21-aya .content-wp8 .artistic-chaos-upcycling-potential-symbolic-resilience-textured-history-Qxc {
  max-width: 13rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-all-6-612 .item--f5v .group-21-aya .rectangle-113-KZn {
  width: 27.6rem;
  height: 16.2rem;
  position: absolute;
  left: 0;
  top: 0;
  border: dashed 0.1rem #dddddd;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.scrap-all-6-612 .item--f5v .group-22-FTS {
  box-sizing: border-box;
  padding: 1.5rem 1.762rem 3.8rem 1.7rem;
  width: 29.1624rem;
  height: 100%;
  border: dashed 0.1rem #dddddd;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.scrap-all-6-612 .item--f5v .group-22-FTS .environmental-impact--aEp {
  margin-bottom: 1.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-all-6-612 .item--f5v .group-22-FTS .recycling-ceramics-minimize-waste-conserve-resources-and-support-sustainability-opting-for-reused-ceramics-encourages-responsible-practices-hqE {
  max-width: 25.7rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5833333333;
  letter-spacing: 0.012rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-all-6-612 .group-187-wja {
  width: 2rem;
  height: 2.6383rem;
  position: absolute;
  left: 91.9rem;
  top: 6.5rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-all-6-612 .search-UUc {
  width: 5.9rem;
  height: 2.5rem;
  position: absolute;
  left: 94.5rem;
  top: 6.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  letter-spacing: 0.018rem;
  color: #555555;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
