
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.5rem;
}.scrap-plastic-XJ4 {
  width: 100%;
  height: 152.3rem;
  position: relative;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/black1-66-bg-axU.png');
  background-color: #ffffff;
}
.scrap-plastic-XJ4 .item--3XJ {
  box-sizing: border-box;
  padding: 1rem 69.15rem;
  width: 153.5rem;
  height: 4.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #777777;
}
.scrap-plastic-XJ4 .item--3XJ .frame-427319517-N3n {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.scrap-plastic-XJ4 .item--3XJ .frame-427319517-N3n .group-2-iNY {
  margin: 0rem 1rem 0rem 0rem;
  width: 2.2rem;
  height: 1.6422rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .item--3XJ .frame-427319517-N3n .made-for-india-pwN {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #ffffff;
  font-family: Merriweather, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .auto-group-nwng-YcU {
  width: 145.9rem;
  height: 4.6832rem;
  position: absolute;
  left: 3rem;
  top: 8.1rem;
  display: flex;
  align-items: center;
}
.scrap-plastic-XJ4 .auto-group-nwng-YcU .scrap3-removebg-preview-59-G2g {
  margin: 0rem 0.003rem 0.683rem 0rem;
  width: 4.7467rem;
  height: 4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .auto-group-nwng-YcU .scrap-symphony-sanctuary-xw6 {
  margin: 0rem 13.35rem 0.183rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4825;
  letter-spacing: 0.028rem;
  color: #f7fbff;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .auto-group-nwng-YcU .home-scrap-section-creative-section-about-us-contact-us-xJp {
  margin: 0.617rem 5.2rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.016rem;
  color: #f6fbff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .auto-group-nwng-YcU .auto-group-mxyg-35N {
  margin: 1.1rem 1.6rem 0.483rem 0rem;
  box-sizing: border-box;
  padding: 0.3rem 28.2rem 0.3rem 0.8rem;
  height: calc(100% - 1.5832rem);
  display: flex;
  align-items: center;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
  background-color: #f6fbff;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .auto-group-nwng-YcU .auto-group-mxyg-35N .group-wAk {
  margin: 0rem 0.801rem 0.113rem 0rem;
  width: 1.9987rem;
  height: 2.0116rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .auto-group-nwng-YcU .auto-group-mxyg-35N .search-rYc {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  letter-spacing: 0.018rem;
  color: #555555;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .auto-group-nwng-YcU .vector-Xue {
  margin: 0.489rem 1.73rem 0rem 0rem;
  width: 4rem;
  height: 3.5953rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .auto-group-nwng-YcU .item--3d6 {
  margin: 0.779rem 1.767rem 0rem 0rem;
  width: 3.7029rem;
  height: 3.0931rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .auto-group-nwng-YcU .layer1-BDW {
  margin-top: 0.7883rem;
  width: 4rem;
  height: 3.8949rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .auto-group-7fyq-ufJ {
  box-sizing: border-box;
  padding: 6.4rem 4.4rem 6.3rem 0rem;
  width: 154.9rem;
  height: 36.3rem;
  position: absolute;
  left: 0;
  top: 20.4rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.scrap-plastic-XJ4 .auto-group-7fyq-ufJ .scrap-9-Qc4 {
  margin-bottom: 1rem;
  width: 70.6rem;
  height: 20.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .auto-group-7fyq-ufJ .auto-group-hxxw-juE {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .auto-group-7fyq-ufJ .auto-group-hxxw-juE .what-is-scrap-how-it-will-be-useful--V7i {
  margin-bottom: 2.4rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.3333333333;
  letter-spacing: 0.024rem;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .auto-group-7fyq-ufJ .auto-group-hxxw-juE .scrap-refers-to-discarded-or-leftover-materials-from-manufacturing-processes-or-everyday-use-it-can-be-useful-when-recycled-or-repurposed-reducing-waste-and-conserving-resources-recycling-scrap-material-contributes-to-environmental-sustainability-by-saving-energy-and-raw-materials-additionally-repurposing-scrap-for-creative-projects-can-promote-innovation-and-resourcefulness-ncc {
  max-width: 69.7rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.25;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .item--Z16 {
  width: 26.8rem;
  height: 5rem;
  position: absolute;
  left: 63.4rem;
  top: 60.8rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3333333333;
  letter-spacing: 0.024rem;
  color: #fff7e9;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
  background-color: #f16713;
  border-radius: 5rem;
}
.scrap-plastic-XJ4 .auto-group-ms8g-zs6 {
  box-sizing: border-box;
  padding: 1.3rem 0.8rem 1.8rem 5.4rem;
  width: 153.5rem;
  height: 6.3rem;
  position: absolute;
  left: 0;
  top: 69.9rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.3333333333;
  letter-spacing: 0.024rem;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 {
  width: 125.4rem;
  height: 39.2rem;
  position: absolute;
  left: 13.8rem;
  top: 83.5rem;
  display: flex;
  align-items: center;
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-e86y-P8Y {
  margin-right: 17.9rem;
  box-sizing: border-box;
  padding: 5rem 2rem 2.5rem 1.8rem;
  width: 30.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-e86y-P8Y .plastic-bottels-3-VSU {
  margin-bottom: 2.3rem;
  width: 26.3rem;
  height: 23rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-e86y-P8Y .plastic-bottles-23-kg-R5E {
  margin: 0rem 1.5rem 1.5rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-e86y-P8Y .plastic-bottles-23-kg-R5E .plastic-bottles-23-kg-R5E-sub-0 {
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-e86y-P8Y .plastic-bottles-23-kg-R5E .plastic-bottles-23-kg-R5E-sub-1 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-e86y-P8Y .auto-group-lnwn-VUQ {
  margin: 0rem 0.9rem 0rem 0.4rem;
  width: calc(100% - 1.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-e86y-P8Y .auto-group-lnwn-VUQ .auto-group-hvhj-cZ2 {
  margin: 0rem 2.6rem 0.2rem 0rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-e86y-P8Y .auto-group-lnwn-VUQ .auto-group-hvhj-cZ2 .rectangle-888-Xfz {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-e86y-P8Y .auto-group-lnwn-VUQ .auto-group-hvhj-cZ2 .add-to-cart-f1W {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-e86y-P8Y .auto-group-lnwn-VUQ .auto-group-hvhj-cZ2 .item--AU4 {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 0.768rem;
  top: 0.968rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-e86y-P8Y .auto-group-lnwn-VUQ .auto-group-fu3v-gSQ {
  margin-top: 0.2rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-e86y-P8Y .auto-group-lnwn-VUQ .auto-group-fu3v-gSQ .rectangle-887-DhE {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.5rem;
  background-color: #000000;
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-e86y-P8Y .auto-group-lnwn-VUQ .auto-group-fu3v-gSQ .vector-AMa {
  width: 1.4rem;
  height: 1.2983rem;
  position: absolute;
  left: 1.5rem;
  top: 0.9rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-e86y-P8Y .auto-group-lnwn-VUQ .auto-group-fu3v-gSQ .wishlist-h6c {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 4.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-zsbr-BGg {
  margin-right: 17.2rem;
  box-sizing: border-box;
  padding: 6rem 2.1rem 2.5rem 2.1rem;
  width: 30.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-zsbr-BGg .plastic-bags-3-Uma {
  margin-bottom: 1.4rem;
  width: 25.9rem;
  height: 22.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-zsbr-BGg .bags-covers-23-kg-cct {
  margin: 0rem 0.2rem 1.5rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-zsbr-BGg .bags-covers-23-kg-cct .bags-covers-23-kg-cct-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-zsbr-BGg .bags-covers-23-kg-cct .bags-covers-23-kg-cct-sub-1 {
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-zsbr-BGg .bags-covers-23-kg-cct .bags-covers-23-kg-cct-sub-2 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-zsbr-BGg .auto-group-ytg4-H6k {
  margin: 0rem 0.4rem 0rem 0.6rem;
  width: calc(100% - 1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-zsbr-BGg .auto-group-ytg4-H6k .auto-group-uqkc-oqn {
  margin: 0rem 2.5rem 0.2rem 0rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-zsbr-BGg .auto-group-ytg4-H6k .auto-group-uqkc-oqn .rectangle-890-jzL {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-zsbr-BGg .auto-group-ytg4-H6k .auto-group-uqkc-oqn .add-to-cart-t6Y {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-zsbr-BGg .auto-group-ytg4-H6k .auto-group-uqkc-oqn .item--QKn {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 0.768rem;
  top: 0.968rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-zsbr-BGg .auto-group-ytg4-H6k .auto-group-oltk-vZ2 {
  margin-top: 0.2rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-zsbr-BGg .auto-group-ytg4-H6k .auto-group-oltk-vZ2 .rectangle-893-Tor {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.5rem;
  background-color: #000000;
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-zsbr-BGg .auto-group-ytg4-H6k .auto-group-oltk-vZ2 .vector-osi {
  width: 1.4rem;
  height: 1.2983rem;
  position: absolute;
  left: 1.5rem;
  top: 0.9rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-zsbr-BGg .auto-group-ytg4-H6k .auto-group-oltk-vZ2 .wishlist-9Rn {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 4.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-cn4k-DgY {
  box-sizing: border-box;
  padding: 4.1rem 1.8rem 2.5rem 1.7rem;
  width: 30.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-cn4k-DgY .plastic-psoons-3-wMe {
  margin: 0rem 0rem 1.4rem 0.1rem;
  width: 26.5rem;
  height: 24.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-cn4k-DgY .disposable-spoons-23-kg-4BN {
  margin: 0rem 1.6rem 1.5rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-cn4k-DgY .disposable-spoons-23-kg-4BN .disposable-spoons-23-kg-4BN-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-cn4k-DgY .disposable-spoons-23-kg-4BN .disposable-spoons-23-kg-4BN-sub-1 {
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-cn4k-DgY .disposable-spoons-23-kg-4BN .disposable-spoons-23-kg-4BN-sub-2 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-cn4k-DgY .auto-group-rqde-Adi {
  margin: 0rem 0.7rem 0rem 0.5rem;
  width: calc(100% - 1.2rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-cn4k-DgY .auto-group-rqde-Adi .auto-group-szf2-WBn {
  margin: 0rem 3rem 0.2rem 0rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-cn4k-DgY .auto-group-rqde-Adi .auto-group-szf2-WBn .rectangle-892-Qnx {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-cn4k-DgY .auto-group-rqde-Adi .auto-group-szf2-WBn .add-to-cart-9Ve {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-cn4k-DgY .auto-group-rqde-Adi .auto-group-szf2-WBn .item--GKN {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 0.768rem;
  top: 0.968rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-cn4k-DgY .auto-group-rqde-Adi .auto-group-vkpj-noW {
  margin-top: 0.2rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-cn4k-DgY .auto-group-rqde-Adi .auto-group-vkpj-noW .rectangle-894-XWC {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.5rem;
  background-color: #000000;
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-cn4k-DgY .auto-group-rqde-Adi .auto-group-vkpj-noW .vector-Gya {
  width: 1.4rem;
  height: 1.2983rem;
  position: absolute;
  left: 1.5rem;
  top: 0.9rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-plastic-XJ4 .auto-group-wjdz-4c4 .auto-group-cn4k-DgY .auto-group-rqde-Adi .auto-group-vkpj-noW .wishlist-Ddv {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 4.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-plastic-XJ4 .footer-JfN {
  width: 153.5rem;
  height: 26.6094rem;
  position: absolute;
  left: 0;
  top: 127.3rem;
}
.scrap-plastic-XJ4 .footer-JfN .rectangle-3-F4p {
  width: 153.5rem;
  height: 24.9998rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #222222;
}
.scrap-plastic-XJ4 .footer-JfN .scrap-symphoy-sanctuary-aims-to-promote-innovation-in-the-digital-commerce-ecosystem-by-providing-a-platform-for-startups-and-entrepreneurs-to-develop-new-services-and-solutions-also-supports-digital-commerce-including-online-payments-e-commerce-and-financial-services-Bz4 {
  width: 43.7rem;
  height: 8.8rem;
  position: absolute;
  left: 12.1922rem;
  top: 4.8992rem;
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-plastic-XJ4 .footer-JfN .frame-35-Ab6 {
  width: 14.4rem;
  height: 16.5rem;
  position: absolute;
  left: 117.7234rem;
  top: 1.993rem;
}
.scrap-plastic-XJ4 .footer-JfN .frame-35-Ab6 .pages-VNU {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2.25;
  letter-spacing: 0.012rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-plastic-XJ4 .footer-JfN .frame-35-Ab6 .frame-39-otx {
  width: 100%;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
}
.scrap-plastic-XJ4 .footer-JfN .frame-35-Ab6 .frame-39-otx .about-us-xG4 {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .footer-JfN .frame-35-Ab6 .frame-39-otx .return-policy-sP2 {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .footer-JfN .frame-35-Ab6 .frame-39-otx .contact-us-bpp {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .footer-JfN .frame-35-Ab6 .frame-39-otx .refund-cancellation-policies-LXW {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .footer-JfN .social-media-FuN {
  width: 17.362rem;
  height: 3rem;
  position: absolute;
  left: 13.0039rem;
  top: 15.1109rem;
  display: flex;
  align-items: center;
}
.scrap-plastic-XJ4 .footer-JfN .social-media-FuN .vector-PVn {
  margin: 0rem 4.035rem 0rem 0rem;
  width: 2.9268rem;
  height: 2.9268rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .footer-JfN .social-media-FuN .vector-iY4 {
  margin-right: 4.0344rem;
  width: 3.2195rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .footer-JfN .social-media-FuN .vector-TVe {
  margin-top: 0.0013rem;
  width: 3.1463rem;
  height: 2.6341rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .footer-JfN .rectangle-12-11N {
  width: 153.5rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 20.7rem;
  background-color: #555555;
}
.scrap-plastic-XJ4 .footer-JfN .frame-40-jxx {
  box-sizing: border-box;
  padding-right: 19.3667rem;
  width: 29.8667rem;
  height: 5.3094rem;
  position: absolute;
  left: 14.0906rem;
  top: 21.3rem;
  display: flex;
  align-items: flex-start;
}
.scrap-plastic-XJ4 .footer-JfN .frame-40-jxx .mask-group-fLp {
  margin-right: 4.5rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .footer-JfN .frame-40-jxx .mask-group-Cbe {
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-plastic-XJ4 .footer-JfN .scrap-symphony-sanctuary-all-rights-reserved-MDe {
  width: 27.4rem;
  height: 2.2rem;
  position: absolute;
  left: 114.0258rem;
  top: 22.1133rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-plastic-XJ4 .footer-JfN .terms-condition-privacy-policy-EHS {
  width: 18.5rem;
  height: 2.2rem;
  position: absolute;
  left: 65.857rem;
  top: 22.1133rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
