
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.scrap-plastic-1-L6Y {
  width: 100%;
  height: 70.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.scrap-plastic-1-L6Y .black1-67-2k4 {
  width: 153.6rem;
  height: 68.5rem;
  position: absolute;
  left: 0;
  top: 1.7rem;
  object-fit: cover;
  vertical-align: top;
}
.scrap-plastic-1-L6Y .rectangle-901-wc8 {
  width: 153.6rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 65.9rem;
  background-color: #5b5b5b;
}
.scrap-plastic-1-L6Y .item--sEt {
  box-sizing: border-box;
  padding-right: 19.3667rem;
  width: 29.8667rem;
  height: 5.3094rem;
  position: absolute;
  left: 14.1rem;
  top: 66.3rem;
  display: flex;
  align-items: flex-start;
}
.scrap-plastic-1-L6Y .item--sEt .mask-group-AUt {
  margin-right: 4.5rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-plastic-1-L6Y .item--sEt .mask-group-6NY {
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-plastic-1-L6Y .terms-condition-privacy-policy-EDr {
  width: 18.5rem;
  height: 2.2rem;
  position: absolute;
  left: 65.9rem;
  top: 66.8rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-plastic-1-L6Y .scrap-symphony-sanctuary-all-rights-reserved-JUc {
  width: 27.4rem;
  height: 2.2rem;
  position: absolute;
  left: 114.1rem;
  top: 66.8rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-plastic-1-L6Y .scrap3-removebg-preview-68-kLc {
  width: 4.7467rem;
  height: 4rem;
  position: absolute;
  left: 2.4rem;
  top: 5.1rem;
  object-fit: cover;
  vertical-align: top;
}
.scrap-plastic-1-L6Y .scrap-symphony-sanctuary-TF2 {
  width: 16.2rem;
  height: 2.1rem;
  position: absolute;
  left: 7.25rem;
  top: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4825;
  letter-spacing: 0.028rem;
  color: #f7fbff;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-plastic-1-L6Y .home-scrap-section-creative-section-about-us-contact-us-86G {
  width: 51.9rem;
  height: 2.5rem;
  position: absolute;
  left: 35.4rem;
  top: 6.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.016rem;
  color: #f6fbff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-plastic-1-L6Y .rectangle-867-BqE {
  width: 37.7rem;
  height: 3.1rem;
  position: absolute;
  left: 91.4rem;
  top: 6.3rem;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
  background-color: #f6fbff;
}
.scrap-plastic-1-L6Y .layer1-UpL {
  width: 3.2rem;
  height: 3.4078rem;
  position: absolute;
  left: 143.4rem;
  top: 6rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-plastic-1-L6Y .item--bPA {
  width: 3.7029rem;
  height: 3.0931rem;
  position: absolute;
  left: 137.7297rem;
  top: 6.0844rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-plastic-1-L6Y .rectangle-901-Wm2 {
  width: 104.2rem;
  height: 42rem;
  position: absolute;
  left: 45.7rem;
  top: 18rem;
  background-color: #ffffff;
  border-radius: 5rem;
}
.scrap-plastic-1-L6Y .vector-pFv {
  width: 3.4rem;
  height: 3.2rem;
  position: absolute;
  left: 132.4rem;
  top: 6rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-plastic-1-L6Y .price-k9a {
  width: 14.5rem;
  height: 7.7rem;
  position: absolute;
  left: 50.1rem;
  top: 36rem;
}
.scrap-plastic-1-L6Y .price-k9a .rectangle-106-g3E {
  width: 14.5rem;
  height: 6.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: dashed 0.1rem #ff731d;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.scrap-plastic-1-L6Y .price-k9a .text-n6G {
  width: 6.7rem;
  height: 7.2rem;
  position: absolute;
  left: 1.2rem;
  top: 0.5rem;
}
.scrap-plastic-1-L6Y .price-k9a .text-n6G .price-uRn {
  margin-bottom: 0.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #222222;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-plastic-1-L6Y .price-k9a .text-n6G .kg-Rf2 {
  max-width: 6.7rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.6875;
  letter-spacing: 0.032rem;
  color: #ff731d;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-plastic-1-L6Y .price-k9a .price-icon-95E {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 12.1rem;
  top: 0.4rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-plastic-1-L6Y .frame-427319600-T5v {
  box-sizing: border-box;
  padding: 1rem 3.95rem;
  width: 34.7rem;
  height: 9.9rem;
  position: absolute;
  left: 50.1rem;
  top: 46.9rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  background-color: #f8fafc;
  border-radius: 1.5rem;
}
.scrap-plastic-1-L6Y .frame-427319600-T5v .frame-427319596-YNG {
  margin: 1.25rem 1.9rem 1.25rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-plastic-1-L6Y .frame-427319600-T5v .frame-427319596-YNG .group-17-fBz {
  margin: 0rem 0.1rem 0.5rem 0rem;
  width: 2.8845rem;
  height: 2.1997rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-plastic-1-L6Y .frame-427319600-T5v .frame-427319596-YNG .free-delivery-A8k {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.7;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-plastic-1-L6Y .frame-427319600-T5v .line-97-rXN {
  margin-right: 2rem;
  width: 0rem;
  height: 7.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-plastic-1-L6Y .frame-427319600-T5v .frame-427319598-nfv {
  margin: 1.25rem 1.9rem 1.25rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-plastic-1-L6Y .frame-427319600-T5v .frame-427319598-nfv .group-18-6wW {
  margin: 0rem 0.1rem 0.5rem 0rem;
  width: 2.2003rem;
  height: 2.1999rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-plastic-1-L6Y .frame-427319600-T5v .frame-427319598-nfv .pay-on-delivery-dAk {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.7;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-plastic-1-L6Y .frame-427319600-T5v .line-98-wBS {
  margin-right: 2rem;
  width: 0rem;
  height: 7.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-plastic-1-L6Y .frame-427319600-T5v .auto-group-cgwy-UhA {
  margin-bottom: 1.2rem;
  box-sizing: border-box;
  padding-top: 1.2rem;
  width: 5.3rem;
  height: 6.7rem;
  flex-shrink: 0;
}
.scrap-plastic-1-L6Y .frame-427319600-T5v .auto-group-cgwy-UhA .frame-427319599-bmn {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.scrap-plastic-1-L6Y .frame-427319600-T5v .auto-group-cgwy-UhA .frame-427319599-bmn .group-19-MFA {
  margin: 0rem 0rem 0.5rem 0rem;
  width: 2.2rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-plastic-1-L6Y .frame-427319600-T5v .auto-group-cgwy-UhA .frame-427319599-bmn .days-returnable-Gsv {
  max-width: 5.3rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.scrap-plastic-1-L6Y .line-144-jWc {
  width: 0;
  height: 37.5rem;
  position: absolute;
  left: 89rem;
  top: 19.6rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-plastic-1-L6Y .rectangle-899-fQG {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 69rem;
  top: 36.5rem;
  background-color: #000000;
}
.scrap-plastic-1-L6Y .add-to-cart-b32 {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 72.7rem;
  top: 35.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-plastic-1-L6Y .item--5D6 {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 69.768rem;
  top: 36.768rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-plastic-1-L6Y .rectangle-900-zax {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 69rem;
  top: 40.2rem;
  background-color: #000000;
}
.scrap-plastic-1-L6Y .vector-7Qg {
  width: 1.6rem;
  height: 1.4rem;
  position: absolute;
  left: 70.4rem;
  top: 40.5rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-plastic-1-L6Y .wishlist-33S {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 72.9rem;
  top: 39.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-plastic-1-L6Y .group-168-iQU {
  box-sizing: border-box;
  padding: 2.179rem 1.191rem 3.398rem 0.709rem;
  width: 56.8rem;
  height: 14.9773rem;
  position: absolute;
  left: 91.4rem;
  top: 20.9rem;
  border: dashed 0.1rem #dddddd;
  border-radius: 0.5rem;
}
.scrap-plastic-1-L6Y .group-168-iQU .description-QHJ {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.scrap-plastic-1-L6Y .group-168-iQU .description-QHJ .description--xJp {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.016rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-plastic-1-L6Y .group-168-iQU .description-QHJ .a-collection-of-empty-plastic-bottles-featuring-assorted-sizes-and-clear-plastic-material-these-lightweight-containers-now-devoid-of-their-original-contents-await-the-next-phase-of-their-lifecycle-GaQ {
  max-width: 54.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.scrap-plastic-1-L6Y .item--5Gx {
  box-sizing: border-box;
  padding: 0.05rem 2.7rem 0.05rem 1rem;
  width: 9.4rem;
  height: 2.2rem;
  position: absolute;
  left: 135.2rem;
  top: 12.7rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
  background-color: #f16713;
  border-radius: 5rem;
}
.scrap-plastic-1-L6Y .item--5Gx .auto-group-nr3e-N1A {
  margin-right: 0.6rem;
  width: 1.1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-plastic-1-L6Y .item--5Gx .back-tEQ {
  margin-bottom: 0.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.1875;
  letter-spacing: 0.016rem;
  color: #fff7e9;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-plastic-1-L6Y .group-187-moz {
  width: 2rem;
  height: 2.6383rem;
  position: absolute;
  left: 92.4rem;
  top: 6.5rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-plastic-1-L6Y .search-Vzt {
  width: 5.9rem;
  height: 2.5rem;
  position: absolute;
  left: 95rem;
  top: 6.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  letter-spacing: 0.018rem;
  color: #555555;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-plastic-1-L6Y .item--BMv {
  width: 56.8rem;
  height: 16.3006rem;
  position: absolute;
  left: 91.4rem;
  top: 39.6rem;
  display: flex;
  align-items: flex-start;
}
.scrap-plastic-1-L6Y .item--BMv .group-21-skY {
  width: 27.6rem;
  height: 16.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-plastic-1-L6Y .item--BMv .group-21-skY .content-DZW {
  width: 15.2rem;
  height: 11.3rem;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
}
.scrap-plastic-1-L6Y .item--BMv .group-21-skY .content-DZW .features--kJY {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.016rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-plastic-1-L6Y .item--BMv .group-21-skY .content-DZW .assorted-sizes-clear-plastic-material-screw-on-caps-empty-and-lightweight-stx {
  max-width: 15.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-plastic-1-L6Y .item--BMv .group-21-skY .rectangle-113-N52 {
  width: 27.6rem;
  height: 16.2rem;
  position: absolute;
  left: 0;
  top: 0;
  border: dashed 0.1rem #dddddd;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.scrap-plastic-1-L6Y .item--BMv .group-22-Hhn {
  box-sizing: border-box;
  padding: 1.409rem 2.7rem 0.976rem 1.5rem;
  width: 29.2rem;
  height: 100%;
  border: dashed 0.1rem #dddddd;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.scrap-plastic-1-L6Y .item--BMv .group-22-Hhn .environmental-impact--R3J {
  margin-bottom: 0.5156rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-plastic-1-L6Y .item--BMv .group-22-Hhn .old-plastic-scrap-offers-a-sustainable-choice-minimizing-the-need-for-new-production-and-reducing-environmental-impact-repurposing-these-materials-supports-eco-friendly-practices-and-lessens-waste-promoting-a-responsible-approach-jZn {
  max-width: 25rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5833333333;
  letter-spacing: 0.012rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-plastic-1-L6Y .plastic-bottels-3-LJg {
  width: 41.1rem;
  height: 42rem;
  position: absolute;
  left: 2.2rem;
  top: 17.5rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
}
.scrap-plastic-1-L6Y .group-166-3it {
  width: 38.6rem;
  height: 11.5rem;
  position: absolute;
  left: 48.5rem;
  top: 21rem;
  display: flex;
  align-items: flex-end;
}
.scrap-plastic-1-L6Y .group-166-3it .auto-group-7peg-nRa {
  margin-right: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-plastic-1-L6Y .group-166-3it .auto-group-7peg-nRa .plastic-bottles-LCC {
  margin-bottom: 1.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.02rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-plastic-1-L6Y .group-166-3it .auto-group-7peg-nRa .product-id-453nm8-eig {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-plastic-1-L6Y .group-166-3it .auto-group-7peg-nRa .seller-sriganesh-mHW {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-plastic-1-L6Y .group-166-3it .auto-group-7peg-nRa .published-on-14-february-2019-Hme {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-plastic-1-L6Y .group-166-3it .group-157-1he {
  margin-bottom: 0.5955rem;
  box-sizing: border-box;
  padding: 0.9rem 1.5rem 2.004rem 1.5rem;
  width: 16.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #ff731d;
  background-color: rgba(246, 251, 255, 0.8000000119);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}
.scrap-plastic-1-L6Y .group-166-3it .group-157-1he .available-quantity-YBn {
  margin-bottom: 1.2rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5714285714;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.scrap-plastic-1-L6Y .group-166-3it .group-157-1he .available-quantity-YBn .available-quantity-YBn-sub-0 {
}
.scrap-plastic-1-L6Y .group-166-3it .group-157-1he .available-quantity-YBn .available-quantity-YBn-sub-1 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 0.6875;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-plastic-1-L6Y .group-166-3it .group-157-1he .kg-UDr {
  margin-left: 0.1rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 0.6875;
  color: #777777;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
