
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.scrap-all-4-rpt {
  width: 100%;
  height: 70.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.scrap-all-4-rpt .black1-67-NYL {
  width: 153.6rem;
  height: 68.5rem;
  position: absolute;
  left: 0;
  top: 1.7rem;
  object-fit: cover;
  vertical-align: top;
}
.scrap-all-4-rpt .rectangle-901-uHN {
  width: 153.6rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 65.9rem;
  background-color: #5b5b5b;
}
.scrap-all-4-rpt .item--qB2 {
  box-sizing: border-box;
  padding-right: 19.3667rem;
  width: 29.8667rem;
  height: 5.3094rem;
  position: absolute;
  left: 14.1rem;
  top: 66.3rem;
  display: flex;
  align-items: flex-start;
}
.scrap-all-4-rpt .item--qB2 .mask-group-iVi {
  margin-right: 4.5rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-all-4-rpt .item--qB2 .mask-group-FEk {
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-all-4-rpt .terms-condition-privacy-policy-C9z {
  width: 18.5rem;
  height: 2.2rem;
  position: absolute;
  left: 65.9rem;
  top: 66.8rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-all-4-rpt .scrap-symphony-sanctuary-all-rights-reserved-UdJ {
  width: 27.4rem;
  height: 2.2rem;
  position: absolute;
  left: 114.1rem;
  top: 66.8rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-all-4-rpt .scrap3-removebg-preview-68-9zL {
  width: 4.7467rem;
  height: 4rem;
  position: absolute;
  left: 2.4rem;
  top: 5.1rem;
  object-fit: cover;
  vertical-align: top;
}
.scrap-all-4-rpt .scrap-symphony-sanctuary-fxg {
  width: 16.2rem;
  height: 2.1rem;
  position: absolute;
  left: 7.25rem;
  top: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4825;
  letter-spacing: 0.028rem;
  color: #f7fbff;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-all-4-rpt .home-scrap-section-creative-section-about-us-contact-us-MKi {
  width: 51.9rem;
  height: 2.5rem;
  position: absolute;
  left: 35.4rem;
  top: 6.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.016rem;
  color: #f6fbff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-all-4-rpt .rectangle-867-2we {
  width: 37.7rem;
  height: 3.1rem;
  position: absolute;
  left: 91.4rem;
  top: 6.3rem;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
  background-color: #f6fbff;
}
.scrap-all-4-rpt .layer1-wYp {
  width: 3.2rem;
  height: 3.4078rem;
  position: absolute;
  left: 143.4rem;
  top: 6rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-all-4-rpt .item--FpQ {
  width: 3.7029rem;
  height: 3.0931rem;
  position: absolute;
  left: 137.7297rem;
  top: 6.0844rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-all-4-rpt .rectangle-901-ykQ {
  width: 104.2rem;
  height: 42rem;
  position: absolute;
  left: 45.7rem;
  top: 17.9rem;
  background-color: #ffffff;
  border-radius: 5rem;
}
.scrap-all-4-rpt .vector-u8G {
  width: 3.4rem;
  height: 3.2rem;
  position: absolute;
  left: 132.4rem;
  top: 6rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-all-4-rpt .price-qnc {
  width: 14.5rem;
  height: 7.7rem;
  position: absolute;
  left: 50.1rem;
  top: 36rem;
}
.scrap-all-4-rpt .price-qnc .rectangle-106-P3S {
  width: 14.5rem;
  height: 6.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: dashed 0.1rem #ff731d;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.scrap-all-4-rpt .price-qnc .text-6Te {
  width: 6.7rem;
  height: 7.2rem;
  position: absolute;
  left: 1.2rem;
  top: 0.5rem;
}
.scrap-all-4-rpt .price-qnc .text-6Te .price-RVv {
  margin-bottom: 0.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #222222;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-all-4-rpt .price-qnc .text-6Te .kg-wUG {
  max-width: 6.7rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.6875;
  letter-spacing: 0.032rem;
  color: #ff731d;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-all-4-rpt .price-qnc .price-icon-TxQ {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 12.1rem;
  top: 0.4rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-all-4-rpt .frame-427319600-zSY {
  box-sizing: border-box;
  padding: 1rem 3.95rem;
  width: 34.7rem;
  height: 9.9rem;
  position: absolute;
  left: 50.1rem;
  top: 46.9rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  background-color: #f8fafc;
  border-radius: 1.5rem;
}
.scrap-all-4-rpt .frame-427319600-zSY .frame-427319596-UsW {
  margin: 1.25rem 1.9rem 1.25rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-all-4-rpt .frame-427319600-zSY .frame-427319596-UsW .group-17-1Me {
  margin: 0rem 0.1rem 0.5rem 0rem;
  width: 2.8845rem;
  height: 2.1997rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-all-4-rpt .frame-427319600-zSY .frame-427319596-UsW .free-delivery-vDi {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.7;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-all-4-rpt .frame-427319600-zSY .line-97-RgG {
  margin-right: 2rem;
  width: 0rem;
  height: 7.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-all-4-rpt .frame-427319600-zSY .frame-427319598-ZnU {
  margin: 1.25rem 1.9rem 1.25rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-all-4-rpt .frame-427319600-zSY .frame-427319598-ZnU .group-18-Vg8 {
  margin: 0rem 0.1rem 0.5rem 0rem;
  width: 2.2003rem;
  height: 2.1999rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-all-4-rpt .frame-427319600-zSY .frame-427319598-ZnU .pay-on-delivery-E7v {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.7;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-all-4-rpt .frame-427319600-zSY .line-98-m7r {
  margin-right: 2rem;
  width: 0rem;
  height: 7.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-all-4-rpt .frame-427319600-zSY .auto-group-cvek-uzk {
  margin-bottom: 1.2rem;
  box-sizing: border-box;
  padding-top: 1.2rem;
  width: 5.3rem;
  height: 6.7rem;
  flex-shrink: 0;
}
.scrap-all-4-rpt .frame-427319600-zSY .auto-group-cvek-uzk .frame-427319599-Sjn {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.scrap-all-4-rpt .frame-427319600-zSY .auto-group-cvek-uzk .frame-427319599-Sjn .group-19-bsa {
  margin: 0rem 0rem 0.5rem 0rem;
  width: 2.2rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-all-4-rpt .frame-427319600-zSY .auto-group-cvek-uzk .frame-427319599-Sjn .days-returnable-wAk {
  max-width: 5.3rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.scrap-all-4-rpt .line-144-oye {
  width: 0;
  height: 37.5rem;
  position: absolute;
  left: 89rem;
  top: 19.6rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-all-4-rpt .rectangle-899-9Gp {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 69rem;
  top: 36.5rem;
  background-color: #000000;
}
.scrap-all-4-rpt .add-to-cart-H88 {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 72.7rem;
  top: 35.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-all-4-rpt .item--yme {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 69.768rem;
  top: 36.768rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-all-4-rpt .rectangle-900-uQQ {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 69rem;
  top: 40.2rem;
  background-color: #000000;
}
.scrap-all-4-rpt .vector-qJ4 {
  width: 1.6rem;
  height: 1.4rem;
  position: absolute;
  left: 70.4rem;
  top: 40.5rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-all-4-rpt .wishlist-Ar8 {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 72.9rem;
  top: 39.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-all-4-rpt .group-168-gJg {
  box-sizing: border-box;
  padding: 2.1789rem 0.7094rem;
  width: 56.8rem;
  height: 14.9773rem;
  position: absolute;
  left: 91.4rem;
  top: 20.9rem;
  border: dashed 0.1rem #dddddd;
  border-radius: 0.5rem;
}
.scrap-all-4-rpt .group-168-gJg .description-Pyn {
  width: 50.2rem;
  height: 7.5rem;
}
.scrap-all-4-rpt .group-168-gJg .description-Pyn .description--kpL {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.016rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-all-4-rpt .group-168-gJg .description-Pyn .stroke-brush-a-well-loved-old-brush-bristles-softened-by-countless-strokes-revealing-its-history-of-artistic-creation-and-attention-to-detail-VG8 {
  max-width: 50.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-all-4-rpt .item--hd6 {
  box-sizing: border-box;
  padding: 0.05rem 2.7rem 0.05rem 1rem;
  width: 9.4rem;
  height: 2.2rem;
  position: absolute;
  left: 135.2rem;
  top: 12.7rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
  background-color: #f16713;
  border-radius: 5rem;
}
.scrap-all-4-rpt .item--hd6 .auto-group-qqme-zMJ {
  margin-right: 0.6rem;
  width: 1.1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-all-4-rpt .item--hd6 .back-j3z {
  margin-bottom: 0.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.1875;
  letter-spacing: 0.016rem;
  color: #fff7e9;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-all-4-rpt .brush-2-CyA {
  width: 43.2rem;
  height: 26.8644rem;
  position: absolute;
  left: 1.4rem;
  top: 25.5003rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
}
.scrap-all-4-rpt .group-173-L3n {
  width: 37.8rem;
  height: 11.4rem;
  position: absolute;
  left: 49.8rem;
  top: 21.1rem;
  display: flex;
  align-items: flex-end;
}
.scrap-all-4-rpt .group-173-L3n .auto-group-xw9n-TPJ {
  margin-right: 2.9rem;
  height: 100%;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-all-4-rpt .group-173-L3n .auto-group-xw9n-TPJ .stroke-brush-NmA {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.02rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-all-4-rpt .group-173-L3n .auto-group-xw9n-TPJ .product-id-314hq5-W6g {
  margin-left: 0.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-all-4-rpt .group-173-L3n .auto-group-xw9n-TPJ .seller-selvi-252 {
  margin-left: 0.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-all-4-rpt .group-173-L3n .auto-group-xw9n-TPJ .published-on-17-may-2022-zRA {
  margin-left: 0.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-all-4-rpt .group-173-L3n .group-176-Vcp {
  margin-bottom: 0.3955rem;
  box-sizing: border-box;
  padding: 0.9rem 1.5rem 2.004rem 1.5rem;
  width: 16.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #ff731d;
  background-color: rgba(246, 251, 255, 0.8000000119);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}
.scrap-all-4-rpt .group-173-L3n .group-176-Vcp .available-quantity-D32 {
  margin-bottom: 1.2rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5714285714;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.scrap-all-4-rpt .group-173-L3n .group-176-Vcp .available-quantity-D32 .available-quantity-D32-sub-0 {
}
.scrap-all-4-rpt .group-173-L3n .group-176-Vcp .available-quantity-D32 .available-quantity-D32-sub-1 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 0.6875;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-all-4-rpt .group-173-L3n .group-176-Vcp .kg-M2k {
  margin-left: 0.3rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 0.6875;
  color: #777777;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-all-4-rpt .item--DKr {
  width: 56.8rem;
  height: 16.2rem;
  position: absolute;
  left: 91.4rem;
  top: 39.5rem;
  display: flex;
  align-items: center;
}
.scrap-all-4-rpt .item--DKr .group-21-LfN {
  width: 27.6rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.scrap-all-4-rpt .item--DKr .group-21-LfN .content-hVv {
  width: 17.2rem;
  height: 11.3rem;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
}
.scrap-all-4-rpt .item--DKr .group-21-LfN .content-hVv .features--33z {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.016rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-all-4-rpt .item--DKr .group-21-LfN .content-hVv .ergonomic-handle-versatility-durable-bristles-time-tested-performance-ZHE {
  max-width: 17.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-all-4-rpt .item--DKr .group-21-LfN .rectangle-113-TdW {
  width: 27.6rem;
  height: 16.2rem;
  position: absolute;
  left: 0;
  top: 0;
  border: dashed 0.1rem #dddddd;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.scrap-all-4-rpt .item--DKr .group-22-yrk {
  width: 29.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.scrap-all-4-rpt .item--DKr .group-22-yrk .environmental-impact--XtG {
  width: 16.8rem;
  height: 2rem;
  position: absolute;
  left: 1.6781rem;
  top: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-all-4-rpt .item--DKr .group-22-yrk .rectangle-114-qPA {
  width: 29.2rem;
  height: 16.2rem;
  position: absolute;
  left: 0;
  top: 0;
  border: dashed 0.1rem #dddddd;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.scrap-all-4-rpt .item--DKr .group-22-yrk .wood-is-a-renewable-resource-that-naturally-absorbs-carbon-dioxide-contributing-to-a-healthier-environment-with-low-embodied-energy-biodegradability-and-recyclability-our-wood-items-embrace-eco-friendly-principles-providing-a-sustainable-and-versatile-choice-for-consciousconsumers-AAY {
  width: 26.5rem;
  height: 10.2rem;
  position: absolute;
  left: 1.718rem;
  top: 4.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.scrap-all-4-rpt .group-187-vov {
  width: 2rem;
  height: 2.6383rem;
  position: absolute;
  left: 92.1rem;
  top: 6.5rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-all-4-rpt .search-FbJ {
  width: 5.9rem;
  height: 2.5rem;
  position: absolute;
  left: 94.7rem;
  top: 6.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  letter-spacing: 0.018rem;
  color: #555555;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
