
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.5rem;
}.scrap-ewaste-CTe {
  width: 100%;
  height: 152.3rem;
  position: relative;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/black1-66-bg-v5A.png');
  background-color: #ffffff;
}
.scrap-ewaste-CTe .item--iB6 {
  box-sizing: border-box;
  padding: 1rem 69.15rem;
  width: 153.5rem;
  height: 4.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #777777;
}
.scrap-ewaste-CTe .item--iB6 .frame-427319517-DtY {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.scrap-ewaste-CTe .item--iB6 .frame-427319517-DtY .group-2-y72 {
  margin: 0rem 1rem 0rem 0rem;
  width: 2.2rem;
  height: 1.6422rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .item--iB6 .frame-427319517-DtY .made-for-india-gn8 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #ffffff;
  font-family: Merriweather, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .auto-group-puyl-beC {
  width: 145.9rem;
  height: 4.6832rem;
  position: absolute;
  left: 3rem;
  top: 8.1rem;
  display: flex;
  align-items: center;
}
.scrap-ewaste-CTe .auto-group-puyl-beC .scrap3-removebg-preview-59-WFN {
  margin: 0rem 0.003rem 0.683rem 0rem;
  width: 4.7467rem;
  height: 4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .auto-group-puyl-beC .scrap-symphony-sanctuary-CP6 {
  margin: 0rem 13.35rem 0.183rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4825;
  letter-spacing: 0.028rem;
  color: #f7fbff;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .auto-group-puyl-beC .home-scrap-section-creative-section-about-us-contact-us-4w6 {
  margin: 0.617rem 5.2rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.016rem;
  color: #f6fbff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .auto-group-puyl-beC .auto-group-pebe-wzt {
  margin: 1.1rem 1.6rem 0.483rem 0rem;
  box-sizing: border-box;
  padding: 0.3rem 28.2rem 0.3rem 0.8rem;
  height: calc(100% - 1.5832rem);
  display: flex;
  align-items: center;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
  background-color: #f6fbff;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .auto-group-puyl-beC .auto-group-pebe-wzt .group-e8c {
  margin: 0rem 0.801rem 0.113rem 0rem;
  width: 1.9987rem;
  height: 2.0116rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .auto-group-puyl-beC .auto-group-pebe-wzt .search-mDE {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  letter-spacing: 0.018rem;
  color: #555555;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .auto-group-puyl-beC .vector-3wS {
  margin: 0.489rem 1.73rem 0rem 0rem;
  width: 4rem;
  height: 3.5953rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .auto-group-puyl-beC .item--ND2 {
  margin: 0.779rem 1.767rem 0rem 0rem;
  width: 3.7029rem;
  height: 3.0931rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .auto-group-puyl-beC .layer1-gjW {
  margin-top: 0.7883rem;
  width: 4rem;
  height: 3.8949rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .auto-group-ywal-2YU {
  box-sizing: border-box;
  padding: 6.4rem 4.4rem 6.3rem 0rem;
  width: 154.9rem;
  height: 36.3rem;
  position: absolute;
  left: 0;
  top: 20.4rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.scrap-ewaste-CTe .auto-group-ywal-2YU .scrap-9-iRJ {
  margin-bottom: 1rem;
  width: 70.6rem;
  height: 20.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .auto-group-ywal-2YU .auto-group-ldxx-Fg8 {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .auto-group-ywal-2YU .auto-group-ldxx-Fg8 .what-is-scrap-how-it-will-be-useful--ohe {
  margin-bottom: 2.4rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.3333333333;
  letter-spacing: 0.024rem;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .auto-group-ywal-2YU .auto-group-ldxx-Fg8 .scrap-refers-to-discarded-or-leftover-materials-from-manufacturing-processes-or-everyday-use-it-can-be-useful-when-recycled-or-repurposed-reducing-waste-and-conserving-resources-recycling-scrap-material-contributes-to-environmental-sustainability-by-saving-energy-and-raw-materials-additionally-repurposing-scrap-for-creative-projects-can-promote-innovation-and-resourcefulness-Wc4 {
  max-width: 69.7rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.25;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  flex-shrink: 0;
}
.scrap-ewaste-CTe .item--fNU {
  width: 26.8rem;
  height: 5rem;
  position: absolute;
  left: 63.4rem;
  top: 60.8rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3333333333;
  letter-spacing: 0.024rem;
  color: #fff7e9;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
  background-color: #f16713;
  border-radius: 5rem;
}
.scrap-ewaste-CTe .auto-group-8wcx-hpx {
  box-sizing: border-box;
  padding: 1.3rem 0.8rem 1.8rem 5.4rem;
  width: 153.5rem;
  height: 6.3rem;
  position: absolute;
  left: 0;
  top: 69.9rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.3333333333;
  letter-spacing: 0.024rem;
  color: #000000;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
}
.scrap-ewaste-CTe .auto-group-myte-m48 {
  width: 125.4rem;
  height: 39.2rem;
  position: absolute;
  left: 13.8rem;
  top: 83.5rem;
  display: flex;
  align-items: center;
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-cm3i-HHN {
  margin-right: 17.9rem;
  box-sizing: border-box;
  padding: 4.2rem 2.9rem 2.5rem 2.2rem;
  width: 30.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-cm3i-HHN .cell-phone-3-PbJ {
  margin: 0rem 0rem 1rem 0.6rem;
  width: 24.4rem;
  height: 25.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-cm3i-HHN .techrelic-mobiles-54-kg-i7n {
  margin: 0rem 0.8rem 1.5rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-cm3i-HHN .techrelic-mobiles-54-kg-i7n .techrelic-mobiles-54-kg-i7n-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-cm3i-HHN .techrelic-mobiles-54-kg-i7n .techrelic-mobiles-54-kg-i7n-sub-1 {
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-cm3i-HHN .techrelic-mobiles-54-kg-i7n .techrelic-mobiles-54-kg-i7n-sub-2 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-cm3i-HHN .auto-group-3pt6-h88 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-cm3i-HHN .auto-group-3pt6-h88 .auto-group-rydz-F9e {
  margin: 0rem 2.6rem 0.2rem 0rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-cm3i-HHN .auto-group-3pt6-h88 .auto-group-rydz-F9e .rectangle-888-mNt {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-cm3i-HHN .auto-group-3pt6-h88 .auto-group-rydz-F9e .add-to-cart-6RA {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-cm3i-HHN .auto-group-3pt6-h88 .auto-group-rydz-F9e .item--c8c {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 0.768rem;
  top: 0.968rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-cm3i-HHN .auto-group-3pt6-h88 .auto-group-hj7n-jU8 {
  margin-top: 0.2rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-cm3i-HHN .auto-group-3pt6-h88 .auto-group-hj7n-jU8 .rectangle-887-fsa {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.5rem;
  background-color: #000000;
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-cm3i-HHN .auto-group-3pt6-h88 .auto-group-hj7n-jU8 .vector-c28 {
  width: 1.4rem;
  height: 1.2983rem;
  position: absolute;
  left: 1.4rem;
  top: 0.9rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-cm3i-HHN .auto-group-3pt6-h88 .auto-group-hj7n-jU8 .wishlist-k8L {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 4.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-pgtw-dT2 {
  margin-right: 17.2rem;
  box-sizing: border-box;
  padding: 5.1rem 2.1rem 2.5rem 2rem;
  width: 30.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-pgtw-dT2 .image-3-9RN {
  margin-bottom: 1rem;
  width: 26rem;
  height: 24.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-pgtw-dT2 .chargechronicles-54-kg-5K2 {
  margin: 0rem 0.3rem 1.5rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-pgtw-dT2 .chargechronicles-54-kg-5K2 .chargechronicles-54-kg-5K2-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-pgtw-dT2 .chargechronicles-54-kg-5K2 .chargechronicles-54-kg-5K2-sub-1 {
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-pgtw-dT2 .chargechronicles-54-kg-5K2 .chargechronicles-54-kg-5K2-sub-2 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-pgtw-dT2 .auto-group-1ikw-PDE {
  margin: 0rem 0.4rem 0rem 0.7rem;
  width: calc(100% - 1.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-pgtw-dT2 .auto-group-1ikw-PDE .auto-group-heda-iFW {
  margin: 0rem 2.5rem 0.2rem 0rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-pgtw-dT2 .auto-group-1ikw-PDE .auto-group-heda-iFW .rectangle-890-qL8 {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-pgtw-dT2 .auto-group-1ikw-PDE .auto-group-heda-iFW .add-to-cart-B96 {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-pgtw-dT2 .auto-group-1ikw-PDE .auto-group-heda-iFW .item--6Wx {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 0.768rem;
  top: 0.968rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-pgtw-dT2 .auto-group-1ikw-PDE .auto-group-jo64-Dba {
  margin-top: 0.2rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-pgtw-dT2 .auto-group-1ikw-PDE .auto-group-jo64-Dba .rectangle-893-ZQY {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.5rem;
  background-color: #000000;
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-pgtw-dT2 .auto-group-1ikw-PDE .auto-group-jo64-Dba .vector-6fN {
  width: 1.4rem;
  height: 1.2983rem;
  position: absolute;
  left: 1.4rem;
  top: 0.9rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-pgtw-dT2 .auto-group-1ikw-PDE .auto-group-jo64-Dba .wishlist-RSk {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 4.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-ux7n-74g {
  box-sizing: border-box;
  padding: 4.8rem 2.2rem 2.5rem 2.1rem;
  width: 30.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-ux7n-74g .elctronics-old-1-3-DNc {
  margin-bottom: 0.6rem;
  width: 25.8rem;
  height: 24.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-ux7n-74g .circuit-symphony-relic-54-kg-Yfn {
  margin: 0rem 0.8rem 1.5rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-ux7n-74g .circuit-symphony-relic-54-kg-Yfn .circuit-symphony-relic-54-kg-Yfn-sub-0 {
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-ux7n-74g .circuit-symphony-relic-54-kg-Yfn .circuit-symphony-relic-54-kg-Yfn-sub-1 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-ux7n-74g .auto-group-feag-X1v {
  margin: 0rem 0.3rem 0rem 0.1rem;
  width: calc(100% - 0.4rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-ux7n-74g .auto-group-feag-X1v .auto-group-nmki-r4C {
  margin: 0rem 3rem 0.2rem 0rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-ux7n-74g .auto-group-feag-X1v .auto-group-nmki-r4C .rectangle-892-ZUQ {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-ux7n-74g .auto-group-feag-X1v .auto-group-nmki-r4C .add-to-cart-HvC {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-ux7n-74g .auto-group-feag-X1v .auto-group-nmki-r4C .item--Qjv {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 0.768rem;
  top: 0.968rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-ux7n-74g .auto-group-feag-X1v .auto-group-pvcc-wE4 {
  margin-top: 0.2rem;
  width: 11.2rem;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-ux7n-74g .auto-group-feag-X1v .auto-group-pvcc-wE4 .rectangle-894-Gn8 {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.5rem;
  background-color: #000000;
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-ux7n-74g .auto-group-feag-X1v .auto-group-pvcc-wE4 .vector-QtL {
  width: 1.4rem;
  height: 1.2983rem;
  position: absolute;
  left: 1.5rem;
  top: 0.9rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-ewaste-CTe .auto-group-myte-m48 .auto-group-ux7n-74g .auto-group-feag-X1v .auto-group-pvcc-wE4 .wishlist-M2t {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 4.4rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-ewaste-CTe .footer-czQ {
  width: 153.5rem;
  height: 26.6094rem;
  position: absolute;
  left: 0;
  top: 127.3rem;
}
.scrap-ewaste-CTe .footer-czQ .rectangle-3-9jS {
  width: 153.5rem;
  height: 24.9998rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #222222;
}
.scrap-ewaste-CTe .footer-czQ .scrap-symphoy-sanctuary-aims-to-promote-innovation-in-the-digital-commerce-ecosystem-by-providing-a-platform-for-startups-and-entrepreneurs-to-develop-new-services-and-solutions-also-supports-digital-commerce-including-online-payments-e-commerce-and-financial-services-hFA {
  width: 43.7rem;
  height: 8.8rem;
  position: absolute;
  left: 12.1922rem;
  top: 4.8992rem;
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-ewaste-CTe .footer-czQ .frame-35-t4k {
  width: 14.4rem;
  height: 16.5rem;
  position: absolute;
  left: 117.7234rem;
  top: 1.993rem;
}
.scrap-ewaste-CTe .footer-czQ .frame-35-t4k .pages-1fA {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2.25;
  letter-spacing: 0.012rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-ewaste-CTe .footer-czQ .frame-35-t4k .frame-39-XtQ {
  width: 100%;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
}
.scrap-ewaste-CTe .footer-czQ .frame-35-t4k .frame-39-XtQ .about-us-5f2 {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .footer-czQ .frame-35-t4k .frame-39-XtQ .return-policy-QBW {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .footer-czQ .frame-35-t4k .frame-39-XtQ .contact-us-LL4 {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .footer-czQ .frame-35-t4k .frame-39-XtQ .refund-cancellation-policies-ft8 {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .footer-czQ .social-media-PJL {
  width: 17.362rem;
  height: 3rem;
  position: absolute;
  left: 13.0039rem;
  top: 15.1109rem;
  display: flex;
  align-items: center;
}
.scrap-ewaste-CTe .footer-czQ .social-media-PJL .vector-Jw6 {
  margin: 0rem 4.035rem 0rem 0rem;
  width: 2.9268rem;
  height: 2.9268rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .footer-czQ .social-media-PJL .vector-2s6 {
  margin-right: 4.0344rem;
  width: 3.2195rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .footer-czQ .social-media-PJL .vector-ynL {
  margin-top: 0.0013rem;
  width: 3.1463rem;
  height: 2.6341rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .footer-czQ .rectangle-12-K5W {
  width: 153.5rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 20.7rem;
  background-color: #555555;
}
.scrap-ewaste-CTe .footer-czQ .frame-40-FUx {
  box-sizing: border-box;
  padding-right: 19.3667rem;
  width: 29.8667rem;
  height: 5.3094rem;
  position: absolute;
  left: 14.0906rem;
  top: 21.3rem;
  display: flex;
  align-items: flex-start;
}
.scrap-ewaste-CTe .footer-czQ .frame-40-FUx .mask-group-Mnt {
  margin-right: 4.5rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .footer-czQ .frame-40-FUx .mask-group-VeC {
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-CTe .footer-czQ .scrap-symphony-sanctuary-all-rights-reserved-e1J {
  width: 27.4rem;
  height: 2.2rem;
  position: absolute;
  left: 114.0258rem;
  top: 22.1133rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-ewaste-CTe .footer-czQ .terms-condition-privacy-policy-WZJ {
  width: 18.5rem;
  height: 2.2rem;
  position: absolute;
  left: 65.857rem;
  top: 22.1133rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
