
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.scrap-ewaste-2-DVN {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/black1-67-bg-KHv.png');
  background-color: #ffffff;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S {
  box-sizing: border-box;
  padding: 5.1rem 3.7rem 5.9rem 2.4rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-uhlp-fsA {
  margin: 0rem 3.3rem 3.292rem 0rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-uhlp-fsA .scrap3-removebg-preview-68-CMJ {
  margin: 0rem 0.103rem 0.308rem 0rem;
  width: 4.7467rem;
  height: 4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-uhlp-fsA .scrap-symphony-sanctuary-tjv {
  margin: 0rem 11.95rem 0.808rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4825;
  letter-spacing: 0.028rem;
  color: #f7fbff;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-uhlp-fsA .home-scrap-section-creative-section-about-us-contact-us-moi {
  margin: 0rem 4.1rem 0.608rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.016rem;
  color: #f6fbff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-uhlp-fsA .auto-group-7k7j-Fyn {
  margin: 1.192rem 3.3rem 0rem 0rem;
  box-sizing: border-box;
  padding: 0.2rem 28.2rem 0.1rem 1rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
  background-color: #f6fbff;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-uhlp-fsA .auto-group-7k7j-Fyn .group-187-Mmv {
  margin: 0rem 0.6rem 0.162rem 0rem;
  width: 2rem;
  height: 2.6383rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-uhlp-fsA .auto-group-7k7j-Fyn .search-skG {
  margin-top: 0.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  letter-spacing: 0.018rem;
  color: #555555;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-uhlp-fsA .vector-9hn {
  margin: 0rem 1.93rem 0.208rem 0rem;
  width: 3.4rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-uhlp-fsA .item--H3J {
  margin: 0rem 1.967rem 0.23rem 0rem;
  width: 3.7029rem;
  height: 3.0931rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-uhlp-fsA .layer1-PME {
  width: 3.2rem;
  height: 3.4078rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .item--XCY {
  margin: 0rem 5.3rem 3.1rem 132.8rem;
  box-sizing: border-box;
  padding: 0.05rem 2.7rem 0.05rem 1rem;
  width: calc(100% - 138.1rem);
  height: 2.2rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
  background-color: #f16713;
  border-radius: 5rem;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .item--XCY .auto-group-qg4c-cUt {
  margin-right: 0.6rem;
  width: 1.1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .item--XCY .back-jpQ {
  margin-bottom: 0.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.1875;
  letter-spacing: 0.016rem;
  color: #fff7e9;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU {
  width: 100%;
  height: 42rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .image-3-aKE {
  margin-right: 2.6rem;
  width: 40.7rem;
  height: 42rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha {
  box-sizing: border-box;
  padding: 1.6rem 1.7rem 2.9rem 4.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv {
  margin: 2rem 1.3rem 0rem 0rem;
  width: 37.6rem;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv .group-169-uVv {
  margin: 0rem 0rem 2.5rem 0.1rem;
  width: calc(100% - 0.1rem);
  height: 11.5rem;
  display: flex;
  align-items: flex-end;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv .group-169-uVv .auto-group-7y7n-Rz4 {
  margin-right: 1.7rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv .group-169-uVv .auto-group-7y7n-Rz4 .chargechronicles-ykg {
  margin-bottom: 1.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.02rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv .group-169-uVv .auto-group-7y7n-Rz4 .product-id-101hb8-hRn {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv .group-169-uVv .auto-group-7y7n-Rz4 .seller-sneha-DQ8 {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv .group-169-uVv .auto-group-7y7n-Rz4 .published-on-30-march-2018-k9A {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv .group-169-uVv .group-157-TpG {
  margin-bottom: 0.5955rem;
  box-sizing: border-box;
  padding: 0.9rem 1.5rem 2.004rem 1.5rem;
  width: 16.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #ff731d;
  background-color: rgba(246, 251, 255, 0.8000000119);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv .group-169-uVv .group-157-TpG .available-quantity-NRS {
  margin-bottom: 1.2rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5714285714;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv .group-169-uVv .group-157-TpG .available-quantity-NRS .available-quantity-NRS-sub-0 {
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv .group-169-uVv .group-157-TpG .available-quantity-NRS .available-quantity-NRS-sub-1 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 0.6875;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv .group-169-uVv .group-157-TpG .kg-JyJ {
  margin-left: 0.1rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 0.6875;
  color: #777777;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv .auto-group-1mqy-ypY {
  margin: 0rem 7.5rem 3.2rem 0rem;
  width: calc(100% - 7.5rem);
  display: flex;
  align-items: flex-start;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv .auto-group-1mqy-ypY .price-uy6 {
  margin: 0.1rem 4.4rem 0rem 0rem;
  width: 14.5rem;
  height: 7.7rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv .auto-group-1mqy-ypY .price-uy6 .rectangle-106-r7e {
  width: 14.5rem;
  height: 6.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: dashed 0.1rem #ff731d;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv .auto-group-1mqy-ypY .price-uy6 .text-MKJ {
  width: 6.7rem;
  height: 7.2rem;
  position: absolute;
  left: 1.2rem;
  top: 0.5rem;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv .auto-group-1mqy-ypY .price-uy6 .text-MKJ .price-g6g {
  margin-bottom: 0.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #222222;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv .auto-group-1mqy-ypY .price-uy6 .text-MKJ .kg-QYU {
  max-width: 6.7rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.6875;
  letter-spacing: 0.032rem;
  color: #ff731d;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv .auto-group-1mqy-ypY .price-uy6 .price-icon-vWp {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 12.1rem;
  top: 0.4rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv .auto-group-1mqy-ypY .auto-group-3ff2-qtg {
  width: 11.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv .auto-group-1mqy-ypY .auto-group-3ff2-qtg .auto-group-1wts-zFn {
  margin-bottom: 0.4rem;
  width: 100%;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv .auto-group-1mqy-ypY .auto-group-3ff2-qtg .auto-group-1wts-zFn .rectangle-899-vQL {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.6rem;
  background-color: #000000;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv .auto-group-1mqy-ypY .auto-group-3ff2-qtg .auto-group-1wts-zFn .add-to-cart-TQG {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.7rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv .auto-group-1mqy-ypY .auto-group-3ff2-qtg .auto-group-1wts-zFn .item--Zy6 {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 0.768rem;
  top: 0.868rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv .auto-group-1mqy-ypY .auto-group-3ff2-qtg .auto-group-ega8-W7e {
  width: 100%;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv .auto-group-1mqy-ypY .auto-group-3ff2-qtg .auto-group-ega8-W7e .rectangle-900-4Q4 {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #000000;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv .auto-group-1mqy-ypY .auto-group-3ff2-qtg .auto-group-ega8-W7e .vector-PhE {
  width: 1.6rem;
  height: 1.4rem;
  position: absolute;
  left: 1.4rem;
  top: 1rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv .auto-group-1mqy-ypY .auto-group-3ff2-qtg .auto-group-ega8-W7e .wishlist-X2k {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 3.9rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv .frame-427319600-1Cp {
  box-sizing: border-box;
  padding: 1rem 3.95rem;
  height: 9.9rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  background-color: #f8fafc;
  border-radius: 1.5rem;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv .frame-427319600-1Cp .frame-427319596-KjJ {
  margin: 1.25rem 1.9rem 1.25rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv .frame-427319600-1Cp .frame-427319596-KjJ .group-17-3QQ {
  margin: 0rem 0.1rem 0.5rem 0rem;
  width: 2.8845rem;
  height: 2.1997rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv .frame-427319600-1Cp .frame-427319596-KjJ .free-delivery-kpc {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.7;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv .frame-427319600-1Cp .line-97-seL {
  margin-right: 2rem;
  width: 0rem;
  height: 7.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv .frame-427319600-1Cp .frame-427319598-1kY {
  margin: 1.25rem 1.9rem 1.25rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv .frame-427319600-1Cp .frame-427319598-1kY .group-18-jRe {
  margin: 0rem 0.1rem 0.5rem 0rem;
  width: 2.2003rem;
  height: 2.1999rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv .frame-427319600-1Cp .frame-427319598-1kY .pay-on-delivery-4D2 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.7;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv .frame-427319600-1Cp .line-98-Zfa {
  margin-right: 2rem;
  width: 0rem;
  height: 7.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv .frame-427319600-1Cp .auto-group-zzme-uDe {
  margin-bottom: 1.2rem;
  box-sizing: border-box;
  padding-top: 1.2rem;
  width: 5.3rem;
  height: 6.7rem;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv .frame-427319600-1Cp .auto-group-zzme-uDe .frame-427319599-dQY {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv .frame-427319600-1Cp .auto-group-zzme-uDe .frame-427319599-dQY .group-19-Nd2 {
  margin: 0rem 0rem 0.5rem 0rem;
  width: 2.2rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-qut8-BZv .frame-427319600-1Cp .auto-group-zzme-uDe .frame-427319599-dQY .days-returnable-bEt {
  max-width: 5.3rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .line-144-3sa {
  margin-right: 2.4rem;
  width: 0;
  height: 37.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-tytz-yWL {
  margin: 1.3rem 0rem 1.199rem 0rem;
  width: 56.8rem;
  height: calc(100% - 2.4994rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-tytz-yWL .group-168-HG8 {
  margin-bottom: 3.7227rem;
  box-sizing: border-box;
  padding: 2.1789rem 0.7094rem;
  width: 100%;
  height: 14.9773rem;
  border: dashed 0.1rem #dddddd;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-tytz-yWL .group-168-HG8 .description-cJQ {
  width: 51rem;
  height: 7.5rem;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-tytz-yWL .group-168-HG8 .description-cJQ .description--ZDe {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.016rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-tytz-yWL .group-168-HG8 .description-cJQ .a-collection-of-old-chargers-each-reflecting-the-evolution-of-technology-with-various-connectors-and-worn-appearances-gZA {
  max-width: 51rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-tytz-yWL .item--Ldi {
  width: 100%;
  height: 16.3006rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-tytz-yWL .item--Ldi .group-21-HYx {
  width: 27.6rem;
  height: 16.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-tytz-yWL .item--Ldi .group-21-HYx .content-RfA {
  width: 23.2rem;
  height: 9.4rem;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-tytz-yWL .item--Ldi .group-21-HYx .content-RfA .features--MYp {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.016rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-tytz-yWL .item--Ldi .group-21-HYx .content-RfA .various-connector-types-visible-signs-of-wear-obsolete-technology-compatibility-t2x {
  max-width: 23.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-tytz-yWL .item--Ldi .group-21-HYx .rectangle-113-yq6 {
  width: 27.6rem;
  height: 16.2rem;
  position: absolute;
  left: 0;
  top: 0;
  border: dashed 0.1rem #dddddd;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-tytz-yWL .item--Ldi .group-22-7Ac {
  box-sizing: border-box;
  padding: 1.409rem 1.5rem 2.876rem 1.5rem;
  width: 29.2rem;
  height: 100%;
  border: dashed 0.1rem #dddddd;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-tytz-yWL .item--Ldi .group-22-7Ac .environmental-impact--DzL {
  margin-bottom: 0.5156rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-ewaste-2-DVN .auto-group-hk9n-Z3S .auto-group-rjb2-DzU .auto-group-a7su-6Ha .auto-group-tytz-yWL .item--Ldi .group-22-7Ac .e-waste-needs-careful-handling-to-protect-the-environment-recycling-helps-recover-valuable-materials-and-supports-a-sustainable-approach-to-electronics-disposal-9d6 {
  max-width: 23.7rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5833333333;
  letter-spacing: 0.012rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-ewaste-2-DVN .auto-group-pfqp-8jv {
  box-sizing: border-box;
  padding: 0.4rem 12.1rem 0rem 14.1rem;
  width: 100%;
  height: 5.7094rem;
  display: flex;
  align-items: center;
  background-color: #5b5b5b;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-pfqp-8jv .item--qPS {
  margin-right: 21.9333rem;
  box-sizing: border-box;
  padding-right: 19.3667rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-pfqp-8jv .item--qPS .mask-group-xyr {
  margin-right: 4.5rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-pfqp-8jv .item--qPS .mask-group-uPJ {
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-pfqp-8jv .terms-condition-privacy-policy-eLt {
  margin: 0rem 29.7rem 2.109rem 0rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-ewaste-2-DVN .auto-group-pfqp-8jv .scrap-symphony-sanctuary-all-rights-reserved-wKz {
  margin-bottom: 2.1094rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
