
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.scrap-plastic-2-72L {
  width: 100%;
  height: 70.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.scrap-plastic-2-72L .black1-67-Qn8 {
  width: 153.6rem;
  height: 68.5rem;
  position: absolute;
  left: 0;
  top: 1.7rem;
  object-fit: cover;
  vertical-align: top;
}
.scrap-plastic-2-72L .rectangle-901-Xbr {
  width: 153.6rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 65.9rem;
  background-color: #5b5b5b;
}
.scrap-plastic-2-72L .item--4bn {
  box-sizing: border-box;
  padding-right: 19.3667rem;
  width: 29.8667rem;
  height: 5.3094rem;
  position: absolute;
  left: 14.1rem;
  top: 66.3rem;
  display: flex;
  align-items: flex-start;
}
.scrap-plastic-2-72L .item--4bn .mask-group-MKz {
  margin-right: 4.5rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-plastic-2-72L .item--4bn .mask-group-HDe {
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-plastic-2-72L .terms-condition-privacy-policy-D7J {
  width: 18.5rem;
  height: 2.2rem;
  position: absolute;
  left: 65.9rem;
  top: 66.8rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-plastic-2-72L .scrap-symphony-sanctuary-all-rights-reserved-HN4 {
  width: 27.4rem;
  height: 2.2rem;
  position: absolute;
  left: 114.1rem;
  top: 66.8rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-plastic-2-72L .scrap3-removebg-preview-68-kFe {
  width: 4.7467rem;
  height: 4rem;
  position: absolute;
  left: 2.4rem;
  top: 5.1rem;
  object-fit: cover;
  vertical-align: top;
}
.scrap-plastic-2-72L .scrap-symphony-sanctuary-f7i {
  width: 16.2rem;
  height: 2.1rem;
  position: absolute;
  left: 7.25rem;
  top: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4825;
  letter-spacing: 0.028rem;
  color: #f7fbff;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-plastic-2-72L .home-scrap-section-creative-section-about-us-contact-us-Kxx {
  width: 51.9rem;
  height: 2.5rem;
  position: absolute;
  left: 35.4rem;
  top: 6.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.016rem;
  color: #f6fbff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-plastic-2-72L .rectangle-867-cSG {
  width: 37.7rem;
  height: 3.1rem;
  position: absolute;
  left: 91.4rem;
  top: 6.3rem;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
  background-color: #f6fbff;
}
.scrap-plastic-2-72L .layer1-K5n {
  width: 3.2rem;
  height: 3.4078rem;
  position: absolute;
  left: 143.4rem;
  top: 6rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-plastic-2-72L .item--qZv {
  width: 3.7029rem;
  height: 3.0931rem;
  position: absolute;
  left: 137.7297rem;
  top: 6.0844rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-plastic-2-72L .rectangle-901-AcC {
  width: 104.2rem;
  height: 42rem;
  position: absolute;
  left: 45.7rem;
  top: 18rem;
  background-color: #ffffff;
  border-radius: 5rem;
}
.scrap-plastic-2-72L .vector-hME {
  width: 3.4rem;
  height: 3.2rem;
  position: absolute;
  left: 132.4rem;
  top: 6rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-plastic-2-72L .price-Ec4 {
  width: 14.5rem;
  height: 7.7rem;
  position: absolute;
  left: 50.1rem;
  top: 36rem;
}
.scrap-plastic-2-72L .price-Ec4 .rectangle-106-ZeL {
  width: 14.5rem;
  height: 6.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: dashed 0.1rem #ff731d;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.scrap-plastic-2-72L .price-Ec4 .text-56t {
  width: 6.7rem;
  height: 7.2rem;
  position: absolute;
  left: 1.2rem;
  top: 0.5rem;
}
.scrap-plastic-2-72L .price-Ec4 .text-56t .price-zzY {
  margin-bottom: 0.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #222222;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-plastic-2-72L .price-Ec4 .text-56t .kg-v7W {
  max-width: 6.7rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.6875;
  letter-spacing: 0.032rem;
  color: #ff731d;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-plastic-2-72L .price-Ec4 .price-icon-DsJ {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 12.1rem;
  top: 0.4rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-plastic-2-72L .frame-427319600-MCp {
  box-sizing: border-box;
  padding: 1rem 3.95rem;
  width: 34.7rem;
  height: 9.9rem;
  position: absolute;
  left: 50.1rem;
  top: 46.9rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  background-color: #f8fafc;
  border-radius: 1.5rem;
}
.scrap-plastic-2-72L .frame-427319600-MCp .frame-427319596-ps6 {
  margin: 1.25rem 1.9rem 1.25rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-plastic-2-72L .frame-427319600-MCp .frame-427319596-ps6 .group-17-9Pa {
  margin: 0rem 0.1rem 0.5rem 0rem;
  width: 2.8845rem;
  height: 2.1997rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-plastic-2-72L .frame-427319600-MCp .frame-427319596-ps6 .free-delivery-4Fe {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.7;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-plastic-2-72L .frame-427319600-MCp .line-97-mQx {
  margin-right: 2rem;
  width: 0rem;
  height: 7.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-plastic-2-72L .frame-427319600-MCp .frame-427319598-Vrk {
  margin: 1.25rem 1.9rem 1.25rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-plastic-2-72L .frame-427319600-MCp .frame-427319598-Vrk .group-18-2Lt {
  margin: 0rem 0.1rem 0.5rem 0rem;
  width: 2.2003rem;
  height: 2.1999rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-plastic-2-72L .frame-427319600-MCp .frame-427319598-Vrk .pay-on-delivery-kXn {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.7;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-plastic-2-72L .frame-427319600-MCp .line-98-gRS {
  margin-right: 2rem;
  width: 0rem;
  height: 7.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-plastic-2-72L .frame-427319600-MCp .auto-group-8lon-cpt {
  margin-bottom: 1.2rem;
  box-sizing: border-box;
  padding-top: 1.2rem;
  width: 5.3rem;
  height: 6.7rem;
  flex-shrink: 0;
}
.scrap-plastic-2-72L .frame-427319600-MCp .auto-group-8lon-cpt .frame-427319599-9Zv {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.scrap-plastic-2-72L .frame-427319600-MCp .auto-group-8lon-cpt .frame-427319599-9Zv .group-19-hrL {
  margin: 0rem 0rem 0.5rem 0rem;
  width: 2.2rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-plastic-2-72L .frame-427319600-MCp .auto-group-8lon-cpt .frame-427319599-9Zv .days-returnable-dV6 {
  max-width: 5.3rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.scrap-plastic-2-72L .line-144-WYt {
  width: 0;
  height: 37.5rem;
  position: absolute;
  left: 89rem;
  top: 19.6rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-plastic-2-72L .rectangle-899-TDE {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 69rem;
  top: 36.5rem;
  background-color: #000000;
}
.scrap-plastic-2-72L .add-to-cart-aoe {
  width: 6.4rem;
  height: 3.2rem;
  position: absolute;
  left: 72.7rem;
  top: 35.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-plastic-2-72L .item--V9v {
  width: 1.9025rem;
  height: 1.3477rem;
  position: absolute;
  left: 69.768rem;
  top: 36.768rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-plastic-2-72L .rectangle-900-29r {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 69rem;
  top: 40.2rem;
  background-color: #000000;
}
.scrap-plastic-2-72L .vector-Z9n {
  width: 1.6rem;
  height: 1.4rem;
  position: absolute;
  left: 70.4rem;
  top: 40.5rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-plastic-2-72L .wishlist-5P2 {
  width: 4.4rem;
  height: 3.2rem;
  position: absolute;
  left: 72.9rem;
  top: 39.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-plastic-2-72L .group-168-PPi {
  box-sizing: border-box;
  padding: 2.1789rem 0.7094rem;
  width: 56.8rem;
  height: 14.9773rem;
  position: absolute;
  left: 91.4rem;
  top: 20.9rem;
  border: dashed 0.1rem #dddddd;
  border-radius: 0.5rem;
}
.scrap-plastic-2-72L .group-168-PPi .description-hvC {
  width: 53.7rem;
  height: 7.5rem;
}
.scrap-plastic-2-72L .group-168-PPi .description-hvC .description--Fwi {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.016rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-plastic-2-72L .group-168-PPi .description-hvC .an-assortment-of-used-plastic-bags-and-covers-varying-in-sizes-and-colors-these-lightweight-flexible-items-have-completed-their-original-purpose-z8c {
  max-width: 53.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-plastic-2-72L .item--ork {
  box-sizing: border-box;
  padding: 0.05rem 2.7rem 0.05rem 1rem;
  width: 9.4rem;
  height: 2.2rem;
  position: absolute;
  left: 135.2rem;
  top: 12.7rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
  background-color: #f16713;
  border-radius: 5rem;
}
.scrap-plastic-2-72L .item--ork .auto-group-etcc-WWG {
  margin-right: 0.6rem;
  width: 1.1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.scrap-plastic-2-72L .item--ork .back-3WC {
  margin-bottom: 0.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.1875;
  letter-spacing: 0.016rem;
  color: #fff7e9;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-plastic-2-72L .group-187-wba {
  width: 2rem;
  height: 2.6383rem;
  position: absolute;
  left: 92.4rem;
  top: 6.5rem;
  object-fit: contain;
  vertical-align: top;
}
.scrap-plastic-2-72L .search-5St {
  width: 5.9rem;
  height: 2.5rem;
  position: absolute;
  left: 95rem;
  top: 6.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  letter-spacing: 0.018rem;
  color: #555555;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-plastic-2-72L .item--yoA {
  width: 56.8rem;
  height: 16.3006rem;
  position: absolute;
  left: 91.4rem;
  top: 39.6rem;
  display: flex;
  align-items: flex-start;
}
.scrap-plastic-2-72L .item--yoA .group-21-gBn {
  width: 27.6rem;
  height: 16.2rem;
  position: relative;
  flex-shrink: 0;
}
.scrap-plastic-2-72L .item--yoA .group-21-gBn .content-pon {
  width: 16.1rem;
  height: 7.5rem;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
}
.scrap-plastic-2-72L .item--yoA .group-21-gBn .content-pon .features--xf6 {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.016rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-plastic-2-72L .item--yoA .group-21-gBn .content-pon .lightweight-and-flexible-used-condition-hMn {
  max-width: 16.1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-plastic-2-72L .item--yoA .group-21-gBn .rectangle-113-D5E {
  width: 27.6rem;
  height: 16.2rem;
  position: absolute;
  left: 0;
  top: 0;
  border: dashed 0.1rem #dddddd;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.scrap-plastic-2-72L .item--yoA .group-22-Ktx {
  box-sizing: border-box;
  padding: 1.409rem 2.7rem 0.976rem 1.5rem;
  width: 29.2rem;
  height: 100%;
  border: dashed 0.1rem #dddddd;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.scrap-plastic-2-72L .item--yoA .group-22-Ktx .environmental-impact--rdz {
  margin-bottom: 0.5156rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.scrap-plastic-2-72L .item--yoA .group-22-Ktx .old-plastic-scrap-offers-a-sustainable-choice-minimizing-the-need-for-new-production-and-reducing-environmental-impact-repurposing-these-materials-supports-eco-friendly-practices-and-lessens-waste-promoting-a-responsible-approach-nXe {
  max-width: 25rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5833333333;
  letter-spacing: 0.012rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-plastic-2-72L .plastic-bags-3-PnL {
  width: 41.1rem;
  height: 41.1rem;
  position: absolute;
  left: 2.2rem;
  top: 18.6rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
}
.scrap-plastic-2-72L .group-169-7iL {
  width: 38.4rem;
  height: 11.5rem;
  position: absolute;
  left: 49.8rem;
  top: 21.1rem;
  display: flex;
  align-items: flex-end;
}
.scrap-plastic-2-72L .group-169-7iL .auto-group-xgyr-3rt {
  margin-right: 4.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scrap-plastic-2-72L .group-169-7iL .auto-group-xgyr-3rt .bags-covers-npU {
  margin-bottom: 1.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.02rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-plastic-2-72L .group-169-7iL .auto-group-xgyr-3rt .product-id-731el6-u8Q {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-plastic-2-72L .group-169-7iL .auto-group-xgyr-3rt .seller-karthik-cHi {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-plastic-2-72L .group-169-7iL .auto-group-xgyr-3rt .published-on-22-july-2018-LDi {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #888888;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scrap-plastic-2-72L .group-169-7iL .group-157-f16 {
  margin-bottom: 0.5955rem;
  box-sizing: border-box;
  padding: 0.9rem 1.5rem 2.004rem 1.5rem;
  width: 16.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #ff731d;
  background-color: rgba(246, 251, 255, 0.8000000119);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}
.scrap-plastic-2-72L .group-169-7iL .group-157-f16 .available-quantity-AyS {
  margin-bottom: 1.2rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5714285714;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.scrap-plastic-2-72L .group-169-7iL .group-157-f16 .available-quantity-AyS .available-quantity-AyS-sub-0 {
}
.scrap-plastic-2-72L .group-169-7iL .group-157-f16 .available-quantity-AyS .available-quantity-AyS-sub-1 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 0.6875;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.scrap-plastic-2-72L .group-169-7iL .group-157-f16 .kg-iNg {
  margin-left: 0.1rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 0.6875;
  color: #777777;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
