.checkout-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.checkout-checkout {
  width: 100%;
  height: 702px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.checkout-black12 {
  top: 0px;
  left: 0px;
  width: 1536px;
  height: 702px;
  position: absolute;
}
.checkout-frame {
  gap: 10px;
  top: 0px;
  left: 0px;
  width: 1536px;
  height: 40px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(119, 119, 119, 1);
}
.checkout-frame427319517 {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkout-group2 {
  width: 22px;
  height: 16.421905517578125px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.checkout-vector {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 16px;
  position: absolute;
}
.checkout-vector01 {
  top: 5.008209228515625px;
  left: 0px;
  width: 22px;
  height: 6px;
  position: absolute;
}
.checkout-vector02 {
  top: 10.01641845703125px;
  left: 0px;
  width: 22px;
  height: 6px;
  position: absolute;
}
.checkout-vector03 {
  top: 6.1861572265625px;
  left: 9.04425048828125px;
  width: 4px;
  height: 4px;
  position: absolute;
}
.checkout-vector04 {
  top: 6.43927001953125px;
  left: 9.289306640625px;
  width: 3px;
  height: 4px;
  position: absolute;
}
.checkout-vector05 {
  top: 7.857574462890625px;
  left: 10.6575927734375px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.checkout-vector06 {
  top: 8.6058349609375px;
  left: 12.611328125px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.checkout-vector07 {
  top: 8.4111328125px;
  left: 10.94158935546875px;
  width: 0px;
  height: 2px;
  position: absolute;
}
.checkout-vector08 {
  top: 9.031494140625px;
  left: 12.49652099609375px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.checkout-vector09 {
  top: 8.3963623046875px;
  left: 10.556884765625px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.checkout-vector10 {
  top: 9.395721435546875px;
  left: 12.27227783203125px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.checkout-vector11 {
  top: 8.369171142578125px;
  left: 10.1446533203125px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.checkout-vector12 {
  top: 9.673004150390625px;
  left: 11.95672607421875px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.checkout-vector13 {
  top: 8.33123779296875px;
  left: 9.7901611328125px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.checkout-vector14 {
  top: 9.843536376953125px;
  left: 11.57000732421875px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.checkout-vector15 {
  top: 8.284912109375px;
  left: 9.51824951171875px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.checkout-vector16 {
  top: 9.894561767578125px;
  left: 11.1383056640625px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.checkout-vector17 {
  top: 8.230194091796875px;
  left: 9.3470458984375px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.checkout-vector18 {
  top: 9.826416015625px;
  left: 10.69183349609375px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.checkout-vector19 {
  top: 7.954925537109375px;
  left: 9.289306640625px;
  width: 2px;
  height: 1px;
  position: absolute;
}
.checkout-vector20 {
  top: 9.641448974609375px;
  left: 10.26080322265625px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.checkout-vector21 {
  top: 7.50946044921875px;
  left: 9.3470458984375px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.checkout-vector22 {
  top: 9.35443115234375px;
  left: 9.8734130859375px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.checkout-vector23 {
  top: 7.110992431640625px;
  left: 9.51824951171875px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.checkout-vector24 {
  top: 8.9844970703125px;
  left: 9.557861328125px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.checkout-vector25 {
  top: 6.787384033203125px;
  left: 9.7901611328125px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.checkout-vector26 {
  top: 8.556488037109375px;
  left: 9.33428955078125px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.checkout-vector27 {
  top: 6.56146240234375px;
  left: 10.1446533203125px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.checkout-vector28 {
  top: 8.097259521484375px;
  left: 9.21881103515625px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.checkout-vector29 {
  top: 6.4493408203125px;
  left: 10.556884765625px;
  width: 0px;
  height: 2px;
  position: absolute;
}
.checkout-vector30 {
  top: 7.640716552734375px;
  left: 9.21881103515625px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.checkout-vector31 {
  top: 6.45806884765625px;
  left: 10.94158935546875px;
  width: 0px;
  height: 2px;
  position: absolute;
}
.checkout-vector32 {
  top: 7.2147216796875px;
  left: 9.33428955078125px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.checkout-vector33 {
  top: 6.5863037109375px;
  left: 11.051025390625px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.checkout-vector34 {
  top: 6.85015869140625px;
  left: 9.557861328125px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.checkout-vector35 {
  top: 6.824310302734375px;
  left: 11.09735107421875px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.checkout-vector36 {
  top: 6.573211669921875px;
  left: 9.8734130859375px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.checkout-vector37 {
  top: 7.1556396484375px;
  left: 11.1383056640625px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.checkout-vector38 {
  top: 6.40301513671875px;
  left: 10.26080322265625px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.checkout-vector39 {
  top: 7.558135986328125px;
  left: 11.169189453125px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.checkout-vector40 {
  top: 6.3499755859375px;
  left: 10.69183349609375px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.checkout-vector41 {
  top: 8.00494384765625px;
  left: 11.18865966796875px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.checkout-vector42 {
  top: 6.4197998046875px;
  left: 11.1383056640625px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.checkout-vector43 {
  top: 8.240936279296875px;
  left: 11.19537353515625px;
  width: 2px;
  height: 1px;
  position: absolute;
}
.checkout-vector44 {
  top: 6.60443115234375px;
  left: 11.57000732421875px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.checkout-vector45 {
  top: 8.291961669921875px;
  left: 11.18865966796875px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.checkout-vector46 {
  top: 6.891448974609375px;
  left: 11.95672607421875px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.checkout-vector47 {
  top: 8.3372802734375px;
  left: 11.169189453125px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.checkout-vector48 {
  top: 7.26171875px;
  left: 12.27227783203125px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.checkout-vector49 {
  top: 8.373870849609375px;
  left: 11.1383056640625px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.checkout-vector50 {
  top: 7.690399169921875px;
  left: 12.495849609375px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.checkout-vector51 {
  top: 8.39971923828125px;
  left: 11.09735107421875px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.checkout-vector52 {
  top: 8.14727783203125px;
  left: 12.611328125px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.checkout-vector53 {
  top: 8.4124755859375px;
  left: 11.051025390625px;
  width: 0px;
  height: 2px;
  position: absolute;
}
.checkout-vector54 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 16px;
  opacity: 0.20;
  position: absolute;
}
.checkout-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Merriweather;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.checkout-scrap3removebgpreview68 {
  top: 55px;
  left: 26px;
  width: 47px;
  height: 40px;
  position: absolute;
}
.checkout-text02 {
  top: 64px;
  left: 58px;
  color: rgba(247, 251, 255, 1);
  width: 193px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Oswald;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.checkout-text04 {
  top: 93px;
  left: 34px;
  color: rgba(255, 255, 255, 1);
  width: 207px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: Oswald;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.checkout-rectangle901 {
  top: 659px;
  left: 0px;
  width: 1536px;
  height: 43px;
  position: absolute;
}
.checkout-frame1 {
  gap: 45px;
  top: 659px;
  left: 141px;
  width: 91px;
  height: 34px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
}
.checkout-maskgroup {
  width: 30px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.checkout-ellipse14 {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.checkout-iso60x601 {
  top: -1px;
  left: 0px;
  width: 34px;
  height: 37px;
  position: absolute;
}
.checkout-maskgroup1 {
  width: 30px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.checkout-ellipse141 {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.checkout-iso60x6011 {
  top: 0px;
  left: 0px;
  width: 34px;
  height: 35px;
  position: absolute;
}
.checkout-text06 {
  top: 668px;
  left: 659px;
  color: var(--dl-color-gray-white);
  width: 218px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.checkout-text08 {
  top: 668px;
  left: 1141px;
  color: var(--dl-color-gray-white);
  width: 358px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.checkout-rectangle5 {
  top: 146px;
  left: 232px;
  width: 1096px;
  height: 480px;
  position: absolute;
  border-color: rgba(245, 245, 245, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;
}
.checkout-frame2 {
  gap: 10px;
  top: 116px;
  left: 1368px;
  width: 94px;
  height: 22px;
  display: flex;
  padding: 10px;
  position: absolute;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50px;
  justify-content: center;
  background-color: var(--dl-color-default-2);
}
.checkout-text10 {
  color: var(--dl-color-default-111);
  width: 40px;
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 19px;
  font-stretch: normal;
  text-decoration: none;
}
.checkout-vector55 {
  top: 122px;
  left: 1378px;
  width: 11px;
  height: 10px;
  position: absolute;
}
.checkout-vector56 {
  top: 125px;
  left: 1382px;
  width: 3px;
  height: 4px;
  position: absolute;
}
.checkout-frame427319649 {
  top: 175px;
  left: 271px;
  width: 630px;
  height: 379px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.checkout-content {
  gap: 20px;
  top: 64px;
  left: -8px;
  width: 630px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.checkout-frame45 {
  gap: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.checkout-name {
  gap: 20px;
  display: flex;
  align-items: flex-start;
}
.checkout-firstnameoptional {
  gap: 10px;
  width: 305px;
  height: 56px;
  display: flex;
  padding: 17px 20px;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.7599999904632568);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: rgba(221, 221, 221, 0.33000001311302185);
}
.checkout-text12 {
  color: var(--dl-color-secondarycolors-steel);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.checkout-lastname {
  gap: 10px;
  width: 305px;
  display: flex;
  padding: 17px 20px;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.7599999904632568);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: rgba(221, 221, 221, 0.33000001311302185);
}
.checkout-text14 {
  color: var(--dl-color-secondarycolors-steel);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.checkout-address {
  gap: 10px;
  display: flex;
  padding: 17px 20px;
  overflow: hidden;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.7599999904632568);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: rgba(221, 221, 221, 0.33000001311302185);
}
.checkout-text16 {
  color: var(--dl-color-secondarycolors-steel);
  width: 590px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.checkout-city-postalcode {
  gap: 20px;
  display: flex;
  align-items: flex-start;
  border-radius: 5px;
}
.checkout-city {
  gap: 10px;
  width: 305px;
  display: flex;
  padding: 17px 20px;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.7599999904632568);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: rgba(221, 221, 221, 0.33000001311302185);
}
.checkout-text18 {
  color: var(--dl-color-secondarycolors-steel);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.checkout-postalcode {
  gap: 10px;
  width: 305px;
  display: flex;
  padding: 17px 20px;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.7599999904632568);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: rgba(221, 221, 221, 0.33000001311302185);
}
.checkout-text20 {
  color: var(--dl-color-secondarycolors-steel);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.checkout-apartmentsuiteetcoptional {
  gap: 10px;
  display: flex;
  padding: 17px 20px;
  overflow: hidden;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.7599999904632568);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: rgba(221, 221, 221, 0.33000001311302185);
}
.checkout-text22 {
  color: var(--dl-color-secondarycolors-steel);
  width: 590px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.checkout-iagree {
  gap: 10px;
  display: flex;
  padding: 17px 20px;
  overflow: hidden;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.7599999904632568);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: rgba(221, 221, 221, 0.33000001311302185);
}
.checkout-text24 {
  color: var(--dl-color-secondarycolors-steel);
  width: 590px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.checkout-frame3 {
  gap: 10px;
  top: 161px;
  left: 705px;
  width: 200px;
  height: 46px;
  display: flex;
  padding: 10px;
  position: absolute;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50px;
  justify-content: center;
  background-color: var(--dl-color-default-2);
}
.checkout-text26 {
  color: var(--dl-color-default-111);
  width: 140px;
  height: auto;
  font-size: 28px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 19px;
  font-stretch: normal;
  text-decoration: none;
}
.checkout-rectangle968 {
  top: 233px;
  left: 921px;
  width: 378px;
  height: 193px;
  position: absolute;
  box-sizing: content-box;
  border-radius: 10px;
}
.checkout-line145 {
  top: 273px;
  left: 922px;
  width: 377px;
  height: 1px;
  position: absolute;
}
.checkout-text28 {
  top: 291px;
  left: 931px;
  color: rgba(0, 0, 0, 1);
  width: 348px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 27px;
  font-stretch: normal;
  text-decoration: none;
}
.checkout-text29 {
  font-weight: 400;
}
.checkout-text30 {
  font-weight: 700;
}
.checkout-text31 {
  top: 336px;
  left: 931px;
  color: rgba(0, 0, 0, 1);
  width: 348px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 27px;
  font-stretch: normal;
  text-decoration: none;
}
.checkout-text32 {
  font-weight: 400;
}
.checkout-text33 {
  font-weight: 700;
}
.checkout-line146 {
  top: 377px;
  left: 921px;
  width: 378px;
  height: 1px;
  position: absolute;
}
.checkout-text34 {
  top: 383px;
  left: 932px;
  color: rgba(0, 0, 0, 1);
  width: 356px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 27px;
  font-stretch: normal;
  text-decoration: none;
}
.checkout-text35 {
  font-weight: 700;
}
.checkout-text36 {
  top: 240px;
  left: 1043px;
  color: var(--dl-color-default-1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 27px;
  font-stretch: normal;
  text-decoration: none;
}
.checkout-rectangle969 {
  top: 438px;
  left: 922px;
  width: 378px;
  height: 161px;
  position: absolute;
  box-sizing: content-box;
  border-radius: 10px;
}
.checkout-line147 {
  top: 478px;
  left: 923px;
  width: 377px;
  height: 1px;
  position: absolute;
}
.checkout-text38 {
  top: 493px;
  left: 959px;
  color: rgba(0, 0, 0, 1);
  width: 90px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 27px;
  font-stretch: normal;
  text-decoration: none;
}
.checkout-text39 {
  font-weight: 700;
}
.checkout-text40 {
  font-weight: 400;
}
.checkout-text42 {
  top: 440px;
  left: 1056px;
  color: var(--dl-color-default-1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 27px;
  font-stretch: normal;
  text-decoration: none;
}
.checkout-frame427319542 {
  gap: 10px;
  top: 533px;
  left: 1004px;
  width: 225px;
  display: flex;
  padding: 10px;
  position: absolute;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  justify-content: center;
  background-color: var(--dl-color-default-2);
}
.checkout-text44 {
  color: var(--dl-color-default-111);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 19px;
  font-stretch: normal;
  text-decoration: none;
}
.checkout-circle {
  top: 500px;
  left: 944px;
  width: 17px;
  height: 17px;
  position: absolute;
}
